<%= coffee do %>
$ ->
  $(".reset").on "click", ->
    $(".prop").prop "checked", false
    return false
<% end %>

<%= form_tag search_path, multipart: true, method: "get" do %>
  <div class="category">
    <h2><%= t("facility.category.setting") %></h2>
    <%= hidden_field_tag 'q[category_ids][]', "" %>
    <% @cur_node.st_categories.each do |cate| %>
      <div class="<%= cate.basename %>">
        <%= check_box_tag 'q[category_ids][]', cate.id, @categories.pluck(:_id).index(cate.id),
          { :id => "q_category_ids_#{cate.id}", :class => "prop"} %>
        <label for=<%= "q_category_ids_#{cate.id}" %>><%= cate.name %></label>
      </div>
    <% end %>
  </div>

  <div class="feature">
    <h2><%= t("facility.feature.setting") %></h2>
    <%= hidden_field_tag 'q[feature_ids][]', "" %>
    <% @cur_node.st_features.each do |cate| %>
      <div class="<%= cate.basename %>">
        <%= check_box_tag 'q[feature_ids][]', cate.id, @features.pluck(:_id).index(cate.id),
          { :id => "q_feature_ids_#{cate.id}", :class => "prop"} %>
        <label for=<%= "q_feature_ids_#{cate.id}" %>><%= cate.name %></label>
      </div>
    <% end %>
  </div>

  <div class="location">
    <h2><%= t("facility.location.setting") %></h2>
    <%= hidden_field_tag 'q[location_ids][]', "" %>
    <% @cur_node.st_locations.each do |cate| %>
      <div class="<%= cate.basename %>">
        <%= check_box_tag 'q[location_ids][]', cate.id, @locations.pluck(:_id).index(cate.id),
          { :id => "q_location_ids_#{cate.id}", :class => "prop"} %>
      <label for=<%= "q_location_ids_#{cate.id}" %>><%= cate.name %></label>
      </div>
    <% end %>
    <footer class="send">
      <%= submit_tag t('facility.submit.search'), name: nil %>
      <%= submit_tag t('facility.submit.reset'), name: nil, class: :reset %>
    </footer>
  </div>
<% end %>
