<%= jquery do %>
  Gws_Reminder.renderList({ url: "<%= gws_apis_reminders_path %>" });
<% end %>

<div class="index">
  <%= render file: "_list_head" %>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item"
      data-id="<%= item.item_id %>"
      data-name="<%= item.name %>"
      data-model="<%= item.model %>"
      data-date="<%= tryb { item.date.strftime("%Y/%m/%d %H:%M") } %>">

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></label>
      <div class="info">
        <% if item.unread? %><span class="gws-reminder-updated-flag"></span><% end %>
        <%= link_to item.name, instance_exec(&item.url_lazy), class: "title" %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <% if item.date.present? %>
            <span class="datetime"><%= tryb { item.date.strftime("%Y/%m/%d %H:%M") } %></span>
          <% end %>
          <span class="label"><%= item.updated? ? t('gws.history.mode.update') : t('gws.history.mode.create') %></span>
          <% if item.updated_user_name.present? %>
            <span class="user"><%= item.updated_user_name %></span>
          <% end %>
          <% if item.updated_date.present? %>
            <span class="datetime"><%= item.updated_date.strftime("%Y/%m/%d %H:%M") %></span>
          <% end %>
          <% if item.updated_field_names.present? %>
            <span class="label"><%= item.t :updated_fields %></span>
            <span class="fields"><%= truncate item.updated_field_names.join(', '), length: 30 %></span>
          <% end %>
        </div>
      </div>

      <div class="links">
        <img class="updated" src="/assets/img/ic-check.png" alt="" style="display: none; vertical-align: middle; margin: 0px 4px" />
        <% if item.date.present? %>
        <%= select_tag :notification, options_for_select(item.notification_options, tryb { item.notifications.first.notify_before }), class: :notification %>
        <% end %>
        <input type="button" class="btn delete" value="削除" />
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items %>
