<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>
<% render_menu_setting = proc do |name, select_state: true, edit_icon: true| %>
  <dl class="see addon-gws-system-menu-setting">
    <dt><%= @model.t("menu_#{name}_state") %></dt>
    <dd>
      <div class="input-group gap-5 align-items-center">
        <% if select_state %>
          <%= f.select "menu_#{name}_state", @item.send("menu_#{name}_state_options") %>
        <% else %>
          <%= f.select "menu_#{name}_state", { t('ss.options.state.show') => "show" } %>
        <% end %>
        <%= f.text_field("menu_#{name}_label", value: @item.send("menu_#{name}_label"), placeholder: @item.send("menu_#{name}_default_label")) %>
      </div>
    </dd>
    <% if edit_icon %>
      <dt class="depth-2"><%= t("gws.buttons.change_menu_icon") %></dt>
      <dd class="depth-2">
        <div class="menu-icon-field input-group gap-5 align-items-center">
          <% if @item.send("menu_#{name}_icon_image").present? %>
            <%= image_tag @item.send("menu_#{name}_icon_image").url, class: "icon-#{name.to_s.dasherize}", style: "width: 32px; height: 32px;", aria: { hidden: true } %>
          <% else %>
            <span class="ss-icon ss-icon-<%= name.to_s.dasherize %>" role="img" aria-hidden="true"></span>
          <% end %>
          <%= f.ss_file_field "menu_#{name}_icon_image", accepts: SS::File::IMAGE_FILE_EXTENSIONS + [".svg"] %>
        </div>
      </dd>
    <% end %>
  </dl>
<% end %>

<% render_menu_setting.call(:portal) %>
<% render_menu_setting.call(:notice) %>
<% render_menu_setting.call(:schedule) %>
<% render_menu_setting.call(:todo) %>
<% render_menu_setting.call(:reminder) %>
<% render_menu_setting.call(:presence) %>
<% render_menu_setting.call(:attendance) %>
<% render_menu_setting.call(:affair) %>
<% render_menu_setting.call(:daily_report) %>
<% render_menu_setting.call(:bookmark) %>
<% render_menu_setting.call(:memo) %>
<% render_menu_setting.call(:workload) %>
<% render_menu_setting.call(:report) %>
<% render_menu_setting.call(:workflow) %>
<% render_menu_setting.call(:workflow2) %>
<% render_menu_setting.call(:circular) %>
<% render_menu_setting.call(:monitor) %>
<% render_menu_setting.call(:survey) %>
<% render_menu_setting.call(:board) %>
<% render_menu_setting.call(:faq) %>
<% render_menu_setting.call(:qna) %>
<% render_menu_setting.call(:discussion) %>
<% render_menu_setting.call(:share) %>
<% render_menu_setting.call(:shared_address) %>
<% render_menu_setting.call(:personal_address) %>
<% render_menu_setting.call(:staff_record, edit_icon: false) %>
<% render_menu_setting.call(:links, edit_icon: false) %>
<% render_menu_setting.call(:contrast, edit_icon: false) %>
<% render_menu_setting.call(:tabular) %>
<% render_menu_setting.call(:elasticsearch) %>
<% render_menu_setting.call(:conf, select_state: false) %>
