<%= form_for :item, url: { action: :export }, html: { id: "item-form", method: :put, multipart: true } do |f| %>
  <%= error_messages_for :item %>
  <%= f.hidden_field "root_url", value: root_url, class: "hidden-ids" %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= t("ss.export") %></h2></div>
      <div class="addon-body">
        <div><%=br t("opendata.export.export_message") %></div>
      </div>

      <footer class="send">
        <% if @cur_user.email.present? %>
          <%= f.submit t("ss.export"), class: "btn btn-primary" %>
        <% else %>
          <%= f.submit t("ss.export"), class: "btn btn-primary", onclick: 'alert("' + t("opendata.export.emtpy_email_message") +'"); return false;' %>
        <% end %>
      </footer>
    </div>
  </div>
<% end %>
