<%= javascript_include_tag "colorbox", defer: true %>
<%= stylesheet_link_tag "colorbox", media: 'all' %>

<div class="hide" style="display: none;">
  <div class="colorbox-dialog">
    <%= render(partial: "modal", locals: { search_path: "./result.html" }) %>
  </div>
</div>

<%= jquery do %>
var $dialog = $(".colorbox-dialog");
$(".ajax-box").on("click", function () {
  $.colorbox({
    inline: true,
    href: $dialog,
    maxWidth: "80%",
    maxHeight: "80%"
  });
  return false;
});
<% end %>

<%= render partial: "navi", locals: { current: "result" } %>

<div class="garbage-nodes nodes">
  <%= render_garbage_list %>
</div>

<%= paginate @items if @items.try(:current_page) %>
