<%= form_for :item, url: { action: :run }, html: { id: "item-form", autocomplete: :off } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("cms.copy_nodes.from"), toggle: true } do %>
    <dl class="see">
      <dt><%= t "mongoid.attributes.cms/content.name" %></dt>
      <dd><%= tryb { @cur_node.name }%></dd>
      <dt><%= t "mongoid.attributes.cms/model/node.filename" %></dt>
      <dd><%= tryb { @cur_node.basename }%> <%= tryb { "(#{@cur_node.filename})" } if @cur_node.depth != 1 %></dd>
    </dl>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("cms.copy_nodes.to"), toggle: true } do %>
    <dl class="see">
      <dt><%= t "cms.copy_nodes.target_node_name" %><%= tt "cms/model/node.foldername" %></dt>
      <dd><%= f.text_field :target_node_name, class: :filename %></dd>

      <% if Cms::Tool.allowed?(:edit, @cur_user, site: @cur_site) %>
        <dt><%= t "cms.copy_nodes.job_history" %></dt>
        <dd><%= link_to t("cms.copy_nodes.link_to_job_history"), job_cms_logs_path %></dd>
      <% end %>
    </dl>
  <% end %>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <%= f.submit t("ss.buttons.run"), class: "btn-primary", data: { disable_with: t("ss.buttons.running") } %>
  <%= f.button t("ss.buttons.cancel"), type: :reset, onclick: "location.href='#{node_conf_path}'; return false;", class: "btn-default" %>
</footer>

<% end %>
