<%= scss do %>
.workflow-level-header {
  font-weight: bold;
  margin-top: 15px;
}
<% end %>
<dl class="see workflow-basic">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>
  <dt><%= @model.t :group_ids %><%= @model.tt :group_ids %></dt>
  <dd>
    <%= f.hidden_field "group_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("cms.apis.groups.index"), cms_apis_groups_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Cms::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "group_ids[]", value: group.id %> <%= group.name %></td>
            <td><%= link_to t("sys.apis.groups.deselect"), "#", class: :deselect %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<% 1.upto(5) do |level| %>
<h1 class="workflow-level-header workflow-level-<%= level %>"><%= @model.t :level, level: level %></h1>
<dl class="see workflow-approvers workflow-level-<%= level %>">
  <dt><%= @model.t :required_counts %><%= @model.tt :required_counts %></dt>
  <dd><%= select_tag "item[required_counts][]",  options_for_select(@item.required_count_options, @item.required_count_at(level)) %></dd>
  <dt><%= @model.t :approvers %><%= @model.tt :approvers %></dt>
  <dd>
    <%= f.hidden_field "approvers[]", value: "", class: "hidden-ids" %>
    <%= link_to :"workflow.search_approvers.index", workflow_search_approvers_path(level: level), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= @model.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.approver_users_at(level).each do |user| %>
          <% if user.present? %>
            <tr data-id="<%= "#{level},#{user.id}" %>">
              <td>
                <%= f.hidden_field "approvers[]", value: "#{level},#{user.id}" %>
                <%= user.long_name %>
              </td>
              <td><%= link_to t("cms.apis.pages.deselect"), "#", class: :deselect %></td>
            </tr>
          <% else %>
            <tr>
              <td>
                <%= t("workflow.user_deleted") %>
              </td>
              <td><%= link_to t("cms.apis.pages.deselect"), "#", class: :deselect %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
<% end %>
