<nav class="act-menu">
  <div>
    <% if params[:action] =~ /index/ %>
      <%= link_to :new, action: :new if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
    <% elsif params[:action] =~ /new|create/ %>
      <%= link_to :back_to_index, action: :index %>
    <% elsif params[:action] =~ /edit|update|delete/ %>
      <%= link_to :back_to_show, action: :show, id: @item if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to :back_to_index, action: :index %>
    <% else %>
      <%= link_to :edit, action: :edit, id: @item if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to :delete, action: :delete, id: @item if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to :back_to_index, action: :index %>
    <% end %>
  </div>
</nav>

<% if params[:action] =~ /show|new|edit|create|update/ %>
<%= render file: "_addons_menu" %>
<% end %>
