<dl class="see workflow-basic">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>
  <dt><%= @model.t :group_ids %></dt>
  <dd><%= br @item.groups.order_by(name: 1).map{|c| c.name }.join("\n") %></dd>
</dl>

<% @item.levels.each do |level| %>
<h1 class="workflow-level-header"><%= @model.t :level, level: level %></h1>
<dl class="see workflow-approvers">
  <dt><%= @model.t :required_counts %></dt>
  <dd><%= @item.required_count_label_at(level) %></dd>
  <dt><%= @model.t :approvers %></dt>
  <dd>
    <table class="index">
      <thead>
      <th class="name"><%= @model.approver_user_class.t :name %></th>
      <th class="email"><%= @model.approver_user_class.t :email %></th>
      <th><%= t('ss.buttons.edit') %></th>
      </thead>
      <tbody>
      <% @item.approver_users_at(level).each do |user| %>
      <tr>
        <% if user.present? %>
        <td><%= user.long_name %></td>
        <td><%= user.email %></td>
        <td>
          <% if @item.approver_user_editable?(level, user) %>
          <i class="material-icons" style="font-size: 100%;">&#xE5CA;</i>
          <% end %>
        </td>
        <% else %>
        <td colspan="3"><%= t("workflow.user_deleted") %></td>
        <% end %>
      </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
<% end %>
