<nav class="sub-menu">
  <header><h1><%= t "modules.cms" %></h1></header>
  <div>
    <%= link_to :"cms.node", node_nodes_path, class: "icon-node" %>
    <%= link_to :"cms.page", node_pages_path, class: "icon-page" %>
    <%= link_to :"cms.layout", node_layouts_path, class: "icon-layout" %>
    <%= link_to :"cms.part", node_parts_path, class: "icon-part" %>
    <%= link_to :"cms.config", node_conf_path, class: "icon-conf" %>
  </div>
</nav>
