<nav class="sub-menu">
  <header><h1><%= t "modules.cms" %></h1></header>
  <div>
    <%= link_to :"cms.node", node_nodes_path, class: "icon-node" %>
    <%= link_to :"cms.page", node_pages_path, class: "icon-page" if Cms::Page.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.part", node_parts_path, class: "icon-part" if Cms::Part.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.layout", node_layouts_path, class: "icon-layout" if Cms::Layout.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.config", node_conf_path, class: "icon-conf" if @cur_node.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.generate_node", node_generate_nodes_path, class: "icon-conf" if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.generate_page", node_generate_pages_path, class: "icon-conf" if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
  </div>
</nav>
