<% search_folders = Cms::PageSearch.site(@cur_site).allow(:read, @cur_user, site: @cur_site).order_by(order: 1) %>
<% if search_folders.present? %>
  <nav class="main-navi">
    <% search_folders.each do |search_folder| %>
      <h2><%= link_to search_folder.name, node_page_search_contents_path(id: search_folder), class: "icon-search" %></h2>
    <% end %>
  </nav>
<% end %>

<nav class="main-navi">
  <h2><%= link_to t("cms.shortcut"), cms_contents_path, class: "icon-material icon-material-shortcut" %></h2>

  <% if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
    <% if Cms::Command.allowed?(:use, @cur_user, site: @cur_site) %>
      <h2><%= link_to t("cms.command"), node_command_path, class: "icon-write" %></h2>
    <% end %>
  <% end %>
  <h2><%= link_to t("cms.site_config"), cms_site_path, class: "icon-conf" %></h2>

  <% if History::Trash.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to History::Trash.model_name.human, history_cms_trashes_path, class: "icon-trash" %></h2>
  <% end %>
</nav>

<%= render partial: 'cms/agents/addons/content_quota/navi' %>
