<% search_folders = Cms::PageSearch.site(@cur_site).allow(:read, @cur_user, site: @cur_site).order_by(order: 1) %>
<% if search_folders.present? %>
  <nav class="main-navi">
    <% search_folders.each do |search_folder| %>
      <h2><%= link_to search_folder.name, node_page_search_contents_path(id: search_folder), class: "icon-search" %></h2>
    <% end %>
  </nav>
<% end %>

<nav class="main-navi">
  <h2><%= link_to t("cms.shortcut"), cms_contents_path, class: "icon-material icon-material-shortcut" %></h2>

  <%
    shortcut_navi_nodes = Cms::Node.all.site(@cur_site)
    shortcut_navi_nodes = shortcut_navi_nodes.where(shortcuts: Cms::Node::SHORTCUT_NAVI)
    shortcut_navi_nodes = shortcut_navi_nodes.allow(:read, @cur_user, site: @cur_site)
  %>
  <% if shortcut_navi_nodes.present? %>
    <% shortcut_navi_nodes.each do |node| %>
      <h2><%= link_to node.name, contents_path(node), class: "icon-material icon-material-folder" %></h2>
    <% end %>
  <% end %>

  <% if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
    <% if Cms::Command.allowed?(:use, @cur_user, site: @cur_site) %>
      <h2><%= link_to t("cms.command"), node_command_path, class: "icon-write" %></h2>
    <% end %>
  <% end %>
  <h2><%= link_to t("cms.site_config"), cms_site_path, class: "icon-conf" %></h2>

  <% if History::Trash.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to History::Trash.model_name.human, history_cms_trashes_path, class: "icon-trash" %></h2>
  <% end %>

  <h2><%= link_to t("cms.content_quota_navi"), cms_apis_content_quota_navi_path, class: "icon-conf ajax-box" %></h2>
</nav>
