<div class="index">
  <ul class="list-items">
    <% @items.each do |item| %>
    <% name = item.try(:name) || item.try(:title) || "##{item.id}" %>
    <li class="list-item">
      <div class="list-item-info">
        <h3 class="list-item-title"><%= item.target_label %> : <%= item.action %></h3>
        <div class="list-item-meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= item.created.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="filename"><%= item.url %></span>
          <span class="user"><%= item.user ? link_to(item.user_label, cms_user_path(@cur_site.id, item.user)) : item.user_id %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
