<% value ||= nil %>
<% file = Gws::File.find(value) rescue nil %>
<%= render file: 'app/views/gws/facility/custom_fields/input_forms/_common_label', locals: { item: item } %>
<dd>
  <%= file_field_tag("#{object_name}[#{item.id}][file]", item.html_options) %>
</dd>
<% if file.present? %>
<dd>
  <label><%= check_box_tag("#{object_name}[#{item.id}][rm]", 1, false) %> <%= t "ss.buttons.delete" %> (<%= file.filename %>)</label>
</dd>
<% end %>
