<%= render Gws::Tabular::Column::BaseComponent.new(cur_site: cur_site, cur_user: cur_user, type: type, column: column) do %>
  <% if type == :form %>
    <%
      # colorobox のバグのため types に配列を渡すとダイアログが開かない。
      # そこで、配列を JSON へ変換、そしてそれをBase64へ変換したものを "types_base64" へセットする。こうすることで colorbox のバグを回避する。
      api_path = sns_apis_temp_files_path(user: cur_user, types_base64: Base64.urlsafe_encode64(column.allowed_extensions.to_json))
    %>
    <div data-controller="ss--select-box" data-ss--select-box-api-value="<%= api_path %>" data-ss--select-box-dialog-type-value="cbox" data-ss--select-box-selection-type-value="replace">
      <%= hidden_field_tag("#{form.object_name}[col_#{column.id}_id]", nil, id: nil) %>
      <%= button_tag(t('ss.links.upload'), type: :button, name: 'upload', class: "btn", data: { action: "ss--select-box#openDialog" }) %>
      <div data-ss--select-box-target="result">
        <% if value %>
          <div class="p-1" data-id="<%= value.id %>">
            <span class="humanized-name column-<%= column.id %>"><%= value.humanized_name %></span>
            <%= sanitizer_status(value) %>
            <%= hidden_field_tag("#{form.object_name}[col_#{column.id}_id]", value.id, id: nil) %>
            <%= button_tag(tag.span("delete", class: "material-icons-outlined md-13"), type: :button, name: 'delete', class: 'btn btn-red', title: t("ss.links.delete"), data: { action: "ss--select-box#deselectItem" }) %>
          </div>
        <% end %>
      </div>
      <script type="text/plain" data-ss--select-box-target="template">
        <%% if (selectedItems.length > 0) { %>
          <%% selectedItems.forEach(function(selectedItem) { %>
            <div class="p-1" data-id="<%%= selectedItem.id %>">
              <span class="humanized-name column-<%= column.id %>"><%%= selectedItem.humanizedName %></span>
              <%% if (selectedItem.sanitizerState) { %>
                <div class="sanitizer-status sanitizer-<%%= selectedItem.sanitizerState %>"><%%= selectedItem.sanitizerStateLabel %></div>
              <%% } %>
              <input type="hidden" name="item[col_<%= column.id %>_id]" value="<%%= selectedItem.id %>" autocomplete="off">
              <%= button_tag tag.span("delete", class: "material-icons-outlined md-13"), type: :button, name: 'delete', class: "btn btn-red", title: t("ss.links.delete"), data: { action: "ss--select-box#deselectItem" } %>
            </div>
          <%% }); %>
        <%% } %>
      </script>
    </div>
  <% elsif type == :show %>
    <%= show_image_info value %>
  <% else %>
    <%= value.try(:humanized_name) %>
  <% end %>
<% end %>
