<%= render_map_form "#map-canvas", site: @cur_site %>

<div class="mod-map">
  <div class="location-search">
    <%= text_field_tag :keyword, nil, class: "keyword", placeholder: t("map.search") %>
    <%= button_tag t("views.button.search"), { type: :button, class: "btn" } %>
  </div>
  <div id="map-canvas" style="width: 100%; height: 320px"></div>
  <dl class="marker-setting">
    <dt>
      <%= t("map.markers") %><%= @item.tt :map_points %>
      <%= hidden_field_tag :clicked, nil, class: "loc clicked" %>
    </dt>
    <% if @item.map_points.blank? %>
      <dd class="marker">
        <p>
          <%= text_field_tag "item[map_points][][loc_]", nil, class: "marker-loc-input loc", placeholder: @item.t(:marker_loc) %>
        </p>
        <p>
          <%= text_field_tag "item[map_points][][name]", nil, class: "marker-name", placeholder: @item.t(:marker_name) %>
        </p>
        <p>
          <%= text_area_tag "item[map_points][][text]", nil, class: "marker-text", placeholder: @item.t(:marker_text) %>
        </p>
        <p>
          <%= button_tag t("map.button.set_marker"), { type: :button, class: "set-marker btn" } %>
          <%= hidden_field_tag "item[map_points][][loc]", nil, class: "loc marker-loc" %>
          <%= button_tag t("map.button.clear_marker"), { type: :button, class: "clear-marker btn" } %>
        </p>
      </dd>
    <% end %>
    <% @item.map_points.each do |point| %>
      <dd class="marker">
        <p>
          <%= text_field_tag "item[map_points][][loc_]", point[:loc].join(","), class: "marker-loc-input loc", placeholder: @item.t(:marker_loc) %>
        </p>
        <p>
          <%= text_field_tag "item[map_points][][name]", point[:name], class: "marker-name", placeholder: @item.t(:marker_name) %>
        </p>
        <p>
          <%= text_area_tag "item[map_points][][text]", point[:text], class: "marker-text", placeholder: @item.t(:marker_text) %>
        </p>
        <p>
          <%= button_tag t("map.button.set_marker"), { type: :button, class: "set-marker" } %>
          <%= hidden_field_tag "item[map_points][][loc]", point[:loc].join(","), class: "loc marker-loc" %>
          <%= button_tag t("map.button.clear_marker"), { type: :button, class: "clear-marker" } %>
        </p>
      </dd>
    <% end %>
    <dd>
      <%= link_to t("map.button.add_marker"), "#", class: "add-marker" %>
    </dd>
  </dl>
</div>
