<%= jquery do %>
$(".mod-map .add-marker").on('click', function (e) {
  Map_Form.clonePointFormNoApi();
  return false;
});
$(".mod-map .clear-marker").on('click', function (e) {
  Map_Form.clearPointFormNoApi($(this).closest(".marker"));
  return false;
});
<% end %>

<div class="mod-map">
  <div class="location-search">
    <%= f.hidden_field :map_zoom_level %>
    <dl class="marker-setting">
      <dt>
        <%= t("map.markers") %><%= @item.tt :map_points_no_api %>
        <%= hidden_field_tag :clicked, nil, class: "loc clicked" %>
      </dt>
      <% if @item.map_points.blank? %>
        <dd class="marker">
          <p>
            <%= text_field_tag "item[map_points][][loc]", nil, class: "marker-loc-input loc", placeholder: @item.t(:marker_loc) %>
          </p>
          <p>
            <%= text_field_tag "item[map_points][][name]", nil, class: "marker-name", placeholder: @item.t(:marker_name) %>
          </p>
          <p>
            <%= text_area_tag "item[map_points][][text]", nil, class: "marker-text", placeholder: @item.t(:marker_text) %>
          </p>
          <p>
            <%= button_tag t("map.buttons.clear_marker"), { type: :button, class: "clear-marker btn" } %>
          </p>
        </dd>
      <% end %>
      <% @item.map_points.each do |point| %>
        <dd class="marker">
          <p>
            <%= text_field_tag "item[map_points][][loc]", point[:loc].join(","), class: "marker-loc-input loc", placeholder: @item.t(:marker_loc) %>
          </p>
          <p>
            <%= text_field_tag "item[map_points][][name]", point[:name], class: "marker-name", placeholder: @item.t(:marker_name) %>
          </p>
          <p>
            <%= text_area_tag "item[map_points][][text]", point[:text], class: "marker-text", placeholder: @item.t(:marker_text) %>
          </p>
          <p>
            <%= button_tag t("map.buttons.clear_marker"), { type: :button, class: "clear-marker btn" } %>
          </p>
        </dd>
      <% end %>
      <dd>
        <%= link_to t("map.buttons.add_marker"), "#", class: "add-marker" %>
      </dd>
    </dl>
  </div>
</div>
