<%
  return if @item.map_points.blank?

  map_loc = @item.map_loc.present? ? @item.map_loc : [ 35.392915, 139.442888 ]
  map_zoom = @item.map_zoom.present? ? @item.map_zoom : 5
%>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false" %>
<%= coffee do %>

attachMessage = (id) ->
  google.maps.event.addListener markers[id]["marker"], 'click', (event) ->
    if(window.opened)
      window.opened.close()
    if markers[id]["window"]
      markers[id]["window"].open(markers[id]["marker"].getMap(), markers[id]["marker"])
    window.opened = markers[id]["window"]
    return
  return

window.initmap = ->
  #googleMap api v3
  mapOptions = {
    center: new google.maps.LatLng(<%= raw map_loc[0] %>, <%= raw map_loc[1] %>),
    zoom: <%= raw map_zoom %>,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: false,
    zoomControl: true,
    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.LARGE
    },
    mapTypeControl: true,
    scaleControl: true,
    scrollwheel: true,
    streetViewControl: true,
    overviewMapControl: true,
    overviewMapControlOptions: {
        opened: true
    }
  };

  window.map = new google.maps.Map(document.getElementById("map-canvas"),  mapOptions)
  window.markers = <%= raw @item.map_points.to_json %>
  window.opened = null
  $.each markers, (id, value) ->
    if markers[id]["pointer_image"]
      markers[id]["marker"] = new google.maps.Marker(
        position: new google.maps.LatLng(value["loc"][0],value["loc"][1]),
        icon: markers[id]["pointer_image"],
        map: window.map
      )
    else
      markers[id]["marker"] = new google.maps.Marker(
        position: new google.maps.LatLng(value["loc"][0],value["loc"][1]),
        map: window.map
      )

    if markers[id]["text"]
      marker_html = '<div class="marker-info">'
      $.each markers[id]["text"].split(/[\r\n]+/), ->
        if this.match(/^https?:\/\//)
          marker_html += '<p><a href="' + this + '">' + this + '</a></p>'
        else
          marker_html += '<p>' + this + '</p>'

      marker_html += '</div>'
      markers[id]["window"] = new google.maps.InfoWindow(
        content: marker_html
      )
    attachMessage(id)

    return
  return

$(window).on "load", ->
  window.initmap()

<% end %>

<dl class="see mod-page">
  <div id="map-canvas"></div>
</dl>
