<%= jquery do %>
  SS_SearchUI.modal();
<% end %>

<div class="gws-tabs gws-memo-persona-address-tabs">
  <a href="#gws-memo-persona-address-personal" class="current">
    <span class="tab-name"><%= Webmail::Address.model_name.human %></span>
  </a>
  <a href="#gws-memo-persona-address-group">
    <span class="tab-name"><%= Webmail::AddressGroup.model_name.human %></span>
  </a>
</div>

<div id="gws-memo-persona-address-personal" class="gws-memo-persona-address-list">
  <%= render 'personal' %>
</div>

<div id="gws-memo-persona-address-group" class="gws-memo-persona-address-list" style="display: none;">
  <%= render 'group' %>
</div>

<% if @multi %>
<div class="search-ui-select">
  <%= button_tag t("ss.links.select"), { type: :button, class: "select-items btn" } %>
</div>
<% end %>

<%= jquery do %>
  $('.gws-memo-persona-address-tabs a').on('click', function(ev) {
    ev.preventDefault();
    ev.stopPropagation();

    $('.gws-memo-persona-address-list').hide();
    $('.gws-memo-persona-address-tabs a').removeClass('current')

    $(this).addClass('current')
    $($(this).attr('href')).show();
  });

  <% if @fragment.present? %>
    $('.gws-memo-persona-address-tabs a').removeClass('current')
    $('.gws-memo-persona-address-list').hide();

    $('.gws-memo-persona-address-tabs a[href=<%== @fragment.to_json %>]').addClass('current')
    $(<%== @fragment.to_json %>).show();
  <% end %>
<% end %>
