<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_share_label || t('modules.gws/share'), gws_share_files_path, class: "icon-share" %></h2>
  <h3><%= link_to t('ss.navi.readable'), gws_share_files_path %></h3>

  <% if Gws::Share::File.allowed?(:trash, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('ss.navi.trash'), gws_share_management_files_path, class: 'trash' %></h3>
  <% end %>

  <% if Gws::Share::Folder.allowed?(:edit, @cur_user, site: @cur_site) || Gws::Share::Folder.allowed?(:download, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/share.navi.folder'), gws_share_folders_path, class: "management" %></h3>
  <% end %>

  <% if Gws::Share::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/share.navi.category'), gws_share_categories_path, class: "management" %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
