<%
  checked = proc do |model, id, name|
    @item.contributor_model == model && @item.contributor_id == id.to_s
  end
%>

<% show_radio_button = proc do |model, id, name| %>
  <label style="margin-right: 5px">
    <%= radio_button_tag('tmp[contributor]', "#{model}:#{id}", checked.call(model, id, name), data: { model: model, id: id.to_s, name: name }) %>
    <%= name %>
  </label>
<% end %>

<dl class="see mod-gws-board-contributor">
  <dt><%= @model.t(:contributor_name) %><%= @model.tt(:contributor_name) %></dt>
  <dd>
    <%= f.hidden_field(:contributor_model) %>
    <%= f.hidden_field(:contributor_id) %>
    <%= f.hidden_field(:contributor_name) %>

    <% show_radio_button.call('Gws::User', @cur_user.id, gws_public_user_long_name(@cur_user.long_name)) %>

    <% @cur_user.groups.in_group(@cur_site).active.each do |group| %>
      <% show_radio_button.call('Gws::Group', group.id, group.section_name) %>
    <% end %>

    <% Gws::CustomGroup.site(@cur_site).member(@cur_user).readable(@cur_user, site: @cur_site).each do |group| %>
      <% show_radio_button.call('Gws::CustomGroup', group.id, group.name) %>
    <% end %>
  </dd>
</dl>

<%= jquery do %>
  $('.mod-gws-board-contributor input[name="tmp[contributor]"]').on('change', function() {
    var $this = $(this);
    $('.mod-gws-board-contributor input#item_contributor_model').val($this.data('model'));
    $('.mod-gws-board-contributor input#item_contributor_id').val($this.data('id'));
    $('.mod-gws-board-contributor input#item_contributor_name').val($this.data('name'));
  });

  var cur_val = $('.mod-gws-board-contributor input[name="tmp[contributor]"]:checked').val();
  if (! cur_val) {
    $('.mod-gws-board-contributor input[name="tmp[contributor]"]').val(['Gws::User:<%= @cur_user.id %>']);
    $('.mod-gws-board-contributor input#item_contributor_model').val('Gws::User');
    $('.mod-gws-board-contributor input#item_contributor_id').val(<%== @cur_user.id.to_s.to_json %>);
    $('.mod-gws-board-contributor input#item_contributor_name').val(<%== gws_public_user_long_name(@cur_user.long_name).to_json %>);
  }
<% end %>
