<section class="main-box">
  <header><h2><%= t("opendata.harvest") %></h2></header>
  <%= error_messages_for :item %>

  <dl class="see">
    <dt><%= @model.t :name %></dt>
    <dd><%= @item.name %></dd>

    <dt></dt>
    <dd>
      <%= link_to @item.harvest_importer.name, @item.harvest_importer.source_url, target: "_blank" %>
      <%= "よりインポートされたデータセットのため、編集できません" %>
    </dd>
  </dl>
</section>

<% if @item.harvest_importer.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
<%= form_for :item, url: { action: :harvest_unlock }, html: { id: "item-form", method: :delete, multipart: true } do |f| %>
  <%= hidden_field_tag "force", "true" %>
  <footer class="send">
    <%= f.submit "強制的に編集する", class: "btn-primary" %>
    <%= f.button t("ss.buttons.cancel"), type: :reset, class: "btn btn-default", onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
  </footer>
<% end %>
<% else %>
  <footer class="send">
    <%= button_tag t("ss.buttons.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;", class: "btn-default" %>
  </footer>
<% end %>
