<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="filename"><%= File.basename item.filename %></span>
  <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
  <%= colored_state_label(item) %>
  <span class="tags"><%= item.tags.join(",") %></span>

  <% if item.harvest_imported %>
    <span class="opendata-harvest"><%= item.harvest_importer ? item.harvest_importer.name : t("opendata.links.deleted") %></span>
  <% end %>
<% end %>

<%= render template: "cms/crud/index" %>
