<%
  @reminders = Gws::Reminder.site(@cur_site).
    user(@portal_user).
    where(@portlet.reminder_condition).
    page(1).per(5)
%>
<div class="main-box">
  <div class="portlet-title"><%= @portlet.name %></div>

  <ul class="list-items">
    <% @reminders.each do |item| %>
    <li class="list-item">
      <div class="info">
        <% if item.unread? %><span class="gws-reminder-updated-flag"></span><% end %>
        <%= link_to item.name, instance_exec(&item.url_lazy), class: 'title' %>
      </div>
      <div class="meta">
        <% if item.date.present? %>
          <span class="datetime"><%= tryb { item.date.strftime("%Y/%m/%d %H:%M") } %></span>
        <% end %>
        <span class="label"><%= item.updated? ? t('gws.history.mode.update') : t('gws.history.mode.create') %></span>
        <% if item.updated_user_name.present? %>
          <span class="user"><%= item.updated_user_name %></span>
        <% end %>
        <% if item.updated_date.present? %>
          <span class="datetime"><%= item.updated_date.strftime("%Y/%m/%d %H:%M") %></span>
        <% end %>
      </div>
      <% if @portal_user == @cur_user %>
      <div class="more-menu">
        <a class="more-menu-btn"><i class="material-icons md-dark">&#xE5D4;</i></a>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>

  <% if @reminders.next_page && @portal_user == @cur_user %>
  <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_reminders_path %></div>
  <% end %>
</div>
