<%
  items = @portlet.find_reminder_items(@portal, @cur_user)
%>
<%= jquery do %>
  Gws_Reminder.renderList({
    url: "<%= gws_apis_reminders_path %>", restore_url: "<%= gws_apis_restore_reminder_path %>", el: ".<%= @portlet.portlet_id_class %>"
  });
<% end %>

<div class="main-box">
  <div class="portlet-title"><%= @portlet.name %></div>

  <ul class="list-items">
    <% items.each do |item| %>
      <li class="list-item <%= item.deleted? ?  'deleted' : '' %> <%= item.activated? ?  'activated' : '' %>"
        data-id="<%= item.id %>"
        data-item_id="<%= item.item_id %>"
        data-name="<%= item.name %>"
        data-model="<%= item.model %>"
        data-date="<%= tryb { item.date.strftime("%Y/%m/%d %H:%M") } %>">

        <div class="info">
          <% if item.model == "gws/schedule/plan" || item.model == "gws/schedule/todo" %>
            <%= link_to item.name, redirect_gws_reminder_item_path(id: item.id, mode: "-"), class: "title" %>
          <% else %>
            <%= item.name %>
          <% end %>

          <div class="meta">
            <span class="id">#<%= item.id %></span>
            <% if item.start_at.present? %>
              <span class="datetime"><%= term(item) %></span>
            <% else %>
              <span class="datetime"><%= tryb { item.date.strftime("%Y/%m/%d %H:%M") } %></span>
            <% end %>
            <% item.notifications.each do |notification| %>
              <span class="datetime"><%= tryb { notification.interval_label } %></span>
            <% end %>
          </div>
        </div>
        <% if @portal.my_portal? %>
        <div class="links">
          <div class="dropdown dropdown-toggle">
            <a class="more-btn">
              <i class="material-icons md-dark">&#xE5D4;</i>
            </a>
            <ul class="dropdown-menu dropdown-menu--top-right dropdown-menu--white">
              <li><a class="dropdown-menu-item gws-reminder-unset delete" href="#"><%= t('gws.buttons.unset') %></a></li>
            </ul>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if items.next_page && @portal.my_portal? %>
  <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_reminder_main_path %></div>
  <% end %>
</div>
