<%
  @reminders = Gws::Reminder.site(@cur_site).
    user(@cur_user).
    page(1).per(5)
%>
<div class="portal-reminder">
  <div class="index">
    <div class="list-head"><%= @portlet.name %></div>
    <ul class="list-items">
      <% @reminders.each do |item| %>
      <li class="list-item">
        <div class="info">
          <% if item.unread? %><span class="gws-reminder-updated-flag"></span><% end %>
          <%= link_to item.name, instance_exec(&item.url_lazy), class: 'title' %>
        </div>
        <div class="meta">
          <% if item.date.present? %>
            <span class="datetime"><%= tryb { item.date.strftime("%Y/%m/%d %H:%M") } %></span>
          <% end %>
          <span class="label"><%= item.updated? ? t('gws.history.mode.update') : t('gws.history.mode.create') %></span>
          <% if item.updated_user_name.present? %>
            <span class="user"><%= item.updated_user_name %></span>
          <% end %>
          <% if item.updated_date.present? %>
            <span class="datetime"><%= item.updated_date.strftime("%Y/%m/%d %H:%M") %></span>
          <% end %>
        </div>
      </li>
      <% end %>
    </ul>
    <% if @reminders.next_page %>
    <div class="more"><%= link_to I18n.t("ss.links.more"), gws_reminders_path %></div>
    <% end %>
  </div>
</div>
