<%
  if @item.center_setting == "designated_location" && @item.set_center_position.present?

    set_center_position = @item.set_center_position
  end

  if @item.zoom_setting == "designated_level" && @item.set_zoom_level.present?
    set_zoom_level = @item.set_zoom_level
  end
%>

<%= render_member_photo_form_map "#map-canvas", site: @cur_site, markers: @item.map_points, map: { zoom: @item.map_zoom_level, set_center_position: set_center_position, set_zoom_level: set_zoom_level }, preview: @preview %>

<div class="mod-map">
  <%= f.hidden_field :map_zoom_level %>
  <dl class="marker-setting">
    <dt>
      <%= @model.t :map_points %>
      <%= hidden_field_tag :clicked, nil, class: "loc clicked" %>
    </dt>
    <dd class="marker">
      <div class="map-position">
        <div class="center-position">
          <span><%= t("map.center_position") %>:</span>
          <span>
            <label>
              <%= f.radio_button :center_setting, :auto, checked: "checked" %>
              <%= t('map.auto') %>
            </label>
            <label>
              <%= f.radio_button :center_setting, :designated_location %>
              <%= t('map.designated_location') %>
            </label>
              <%= f.text_field :set_center_position, class: "center-input" %>
              <%= button_tag t("map.buttons.add_center"), { type: :button, class: "set-center-position btn" } %>
          </span>
        </div>
        <div class="zoom-level">
          <span><%= t("map.zoom") %>:</span>
          <span>
            <label>
              <%= f.radio_button :zoom_setting, :auto, checked: "checked" %>
              <%= t('map.auto') %>
            </label>
            <label>
              <%= f.radio_button :zoom_setting, :designated_level %>
              <%= t('map.designated_level') %>
            </label>
            <%= f.number_field  :set_zoom_level, min: 1, max: 21, class: "zoom-input" %>
            <%= button_tag t("map.buttons.add_zoom"), { type: :button, class: "set-zoom-level btn" } %>
          </span>
        </div>
      </div>
      <% if @item.map_points.blank? %>
        <%= hidden_field_tag "item[map_points][][loc]", nil, class: "loc marker-loc" %>
        <%#= text_field_tag "item[map_points][][loc]", nil, class: "loc marker-loc" %>
      <% else %>
        <% @item.map_points.each do |point| %>
          <%= hidden_field_tag "item[map_points][][loc]", point[:loc].join(","), class: "loc marker-loc" %>
          <%#= text_field_tag "item[map_points][][loc]", point[:loc].join(","), class: "loc marker-loc" %>
        <% end %>
      <% end %>
      <div id="map-canvas" style="width: 100%; height: 320px"></div>
      <%= button_tag t("map.buttons.clear_marker"), { type: :button, class: "clear-marker btn" } %>
    </dd>
  </dl>
</div>
