<%= node_navi :inquiry_second do %>
  <% if @cur_node.route == "inquiry_second/form" %>
    <h3><%= link_to t("inquiry_second.column"), inquiry_second_columns_path %></h3>
    <h3><%= link_to t("inquiry_second.answer"), inquiry_second_answers_path %></h3>
    <% if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
      <h3><%= link_to t("inquiry_second.result"), inquiry_second_results_path %></h3>
      <h3><%= link_to t("inquiry_second.feedback"), inquiry_second_feedbacks_path %></h3>
    <% end %>
  <% else %>
    <h3><%= link_to t("inquiry_second.nodes"), inquiry_second_nodes_path %></h3>
  <% end %>
<% end %>
