<%= code_editor ".mod-cms-html-form textarea", mode: :html %>

<%= jquery do %>
  Cms_Form.render();

  Cms_Form.editorId = "item_html";
  Cms_Form.getEditorHtml = function() {
    return "<div>" + $("#item_html").val() + "</div>";
  };
  Cms_Form.setEditorHtml = function(html) {
    html = html.replace(/<div>([\s\S]*)<\/div>/m, "$1");
    $("#item_html").val(html);
  };

  Syntax_Checker.url = <%= raw cms_apis_check_syntax_check_path(format: "json").to_json %>;
  Syntax_Checker.correct_url = <%= raw cms_apis_correct_syntax_check_path(format: "json").to_json %>;
  Syntax_Checker.render(Cms_Form);

  <% if @syntax_check_context && @syntax_check_context.errors.present? %>
  $(function() {
    Syntax_Checker.errors = <%= raw @syntax_check_context.errors.to_json %>;
    Syntax_Checker.resultBox.showResult([{ id: "html" }], Syntax_Checker.errors);
  });
  <% end %>
<% end %>

<dl class="see mod-cms-body" data-syntax-check="editor">
  <dt class="wide"><%= @model.t :html %><%= @model.tt :html %></dt>
  <dd class="wide">
    <%= f.text_area :html, style: "height: 400px", data: { syntax_check: 'editor', syntax_check_name: t("modules.addons.cms/body_layout_html") } %>

    <% if example = @item.try(:form_example_layout_html) %>
      <div class="form-example">
        <div class="form-example-head example-layout-html"><%= t 'ss.input_example' %></div>
        <div class="form-example-body example-layout-html"><%= example %></div>
      </div>
    <% end %>
  </dd>
</dl>
