<% addon ||= local_assigns.fetch(:addon, {})%>
<% snippet_select_id = "#{addon[:id]}_loop_snippet_selector" %>

<dl class="see">
  <dt class="wide"><%= t("cms.labels.snippets") %></dt>
  <dd class="wide">
    <% snippet_options = ancestral_html_settings_liquid %>
    <%= select_tag(
          'loop_snippet_selector',
          tag.option(t("cms.input_directly"), value: "").html_safe +
          snippet_options.map { |name, id, attrs|
            tag.option(name, value: id, data: { snippet: attrs["data-snippet"] })
          }.join.html_safe,
          id: snippet_select_id,
          class: 'loop-snippet-selector'
        ) %>
  </dd>
  <dt class="wide"><%= @model.t :html %><%= @model.tt :html %></dt>
  <dd class="wide">
    <%= f.text_area :html, style: "height: 400px" %>

    <% if example = @item.try(:form_example_layout_html) %>
      <div class="form-example">
        <div class="form-example-head example-layout-html"><%= t 'ss.input_example' %></div>
        <div class="form-example-body example-layout-html"><%= example %></div>
      </div>
    <% end %>
  </dd>
  <%=
    component = Cms::BodyCheckerComponent.new(
      cur_site: @cur_site, cur_user: @cur_user, cur_node: @cur_node, item: @item, limits: %i[syntax link],
      syntax_check_context: @syntax_context
    )
    syntax_checker_form = render(component)
    if syntax_checker_form.present?
      tag.dd syntax_checker_form, class: "wide"
    end
  %>
</dl>

<%= jquery do %>
  var $addon = $("<%= "##{addon[:id]}" %>");
  $addon.find('.loop-snippet-selector').on('change', function() {
    var $select = $(this);
    var $option = $select.find(':selected');
    
    if (!$option.val()) {
      return;
    }
    
    var snippet = $option.data('snippet');
    
    if (!snippet) {
      return;
    }
    
    var $textarea = $select.closest('dl').find('textarea');
    
    if ($textarea.length === 0) {
      return;
    }
    
    var editor = $textarea.data('editor');
    if (editor) {
      var doc = editor.getDoc();
      var cursor = doc.getCursor();
      doc.replaceRange(snippet, cursor);
      editor.focus();
      editor.save();
    } else {
      var textarea = $textarea[0];
      var start = textarea.selectionStart || textarea.value.length;
      var end = textarea.selectionEnd || start;
      
      textarea.value = textarea.value.substring(0, start) + snippet + textarea.value.substring(end);
      
      var cursor = start + snippet.length;
      if (textarea.setSelectionRange) {
        textarea.setSelectionRange(cursor, cursor);
      }
      
      textarea.dispatchEvent(new Event('input', { bubbles: true }));
      textarea.dispatchEvent(new Event('change', { bubbles: true }));
    }
    
    $select.val('');
  });
<% end %>

<%= code_editor "##{addon[:id]} textarea", mode: :html %>

<% if @syntax_context&.errors.present? && @cur_user.cms_role_permit_any?(@cur_site, "edit_cms_ignore_syntax_check") %>
  <label>
    <%= check_box_tag "ignore_syntax_check", 1, false, id: nil %>
    <%= t("ss.buttons.ignore_alerts_and_save") %>
  </label>
<% end %>
