<%
  addon ||= local_assigns.fetch(:addon, {})
  snippet_select_id = "#{addon[:id]}_loop_snippet_selector"
  loop_setting_select_id = "#{addon[:id]}_loop_setting_id"

  # Liquid のスニペット/テンプレート選択は Cms::Form でのみ意味がある (Cms::Form#render_html が loop_setting.html を参照)。
  # Cms::Layout は html を直接レンダリングするため、これらの UI は表示しない。
  if @item.is_a?(Cms::Form)
    liquid_settings = Cms::LoopSetting.site(@cur_site).liquid
    template_options = liquid_settings.template_type.map { [_1.name, _1.id] }
    snippet_options = liquid_settings.snippet_type.map { [_1.name, _1.id, { "data-snippet" => _1.html.to_s }] }
  else
    template_options = []
    snippet_options = []
  end
%>

<%= code_editor "##{addon[:id]} textarea", mode: :html %>

<dl class="see">
  <dt><%= @model.t :html %><%= @model.tt :html %></dt>
  <% if template_options.present? %>
    <dd>
      <%=
        template_options = render SS::OptionsForSelectComponent.new(options: template_options, selected: @item.loop_setting_id)
        f.select :loop_setting_id,
                 template_options,
                 { include_blank: t('cms.input_directly') },
                 id: loop_setting_select_id,
                 class: 'loop-setting-selector'
      %>
      <%= tt("cms.labels.loop_html") %>
    </dd>
  <% end %>
  <dd>
    <%= f.text_area :html, style: "height: 400px" %>

    <% if example = @item.try(:form_example_layout_html) %>
      <div class="form-example">
        <button type="button" class="form-example-head example-layout-html" commandfor="<%= addon[:id] %>-example-layout-html" command="toggle-popover"><%= t 'ss.input_example' %></button>
        <div id="<%= addon[:id] %>-example-layout-html" class="form-example-body example-layout-html"><%= example %></div>
      </div>
    <% end %>
  </dd>
  <% if snippet_options.present? %>
    <dd>
      <%=
        snippet_options = render SS::OptionsForSelectComponent.new(options: snippet_options)
        select_tag(
          'tmp[loop_snippet_selector]',
          snippet_options,
          include_blank: t("cms.labels.snippets"),
          id: snippet_select_id,
          class: 'loop-snippet-selector'
        )
      %>
      <%= tt("cms.labels.snippets") %>
    </dd>
  <% end %>
  <%=
    component = Cms::BodyCheckerComponent.new(
      cur_site: @cur_site, cur_user: @cur_user, cur_node: @cur_node, item: @item, limits: %i[syntax link],
      syntax_check_context: @syntax_context
    )
    syntax_checker_form = render(component)
    if syntax_checker_form.present?
      tag.dd syntax_checker_form
    end
  %>
</dl>

<%= jquery do %>
  var $templateSelect = $("<%= "##{addon[:id]}" %>").find('#<%= loop_setting_select_id %>');

  // テンプレート選択時に textarea を readonly にする (内容は保持)
  if ($templateSelect.length) {
    Cms_Editor_CodeMirror.lock(
      '#<%= loop_setting_select_id %>',
      '#<%= addon[:id] %> textarea[name*="[html]"]'
    );
  }

  Cms_Loop_Snippet.render({
    addon: '#<%= addon[:id] %>',
    textarea: '#<%= addon[:id] %> textarea[name*="[html]"]',
    templateSelect: '#<%= loop_setting_select_id %>'
  });
<% end %>

<% if @syntax_context&.errors.present? && @cur_user.cms_role_permit_any?(@cur_site, "edit_cms_ignore_syntax_check") %>
  <label>
    <%= check_box_tag "ignore_syntax_check", 1, false, id: nil %>
    <%= t("ss.buttons.ignore_alerts_and_save") %>
  </label>
<% end %>
