<dl class="see">
  <dt><%= @model.t :generate_lock_until %></dt>
  <dd>
    <% if @item.generate_lock_until.present? %>
      <%= I18n.l(@item.generate_lock_until, format: :long) %><span>(<%= @item.generate_lock_user.try(:name) %>)</span>
    <% else %>
      <%= @model.t(:generate_unlocked) %>
    <% end %>
  </dd>
  <% if Cms::GenerateLock.allowed?(:edit, @cur_user, site: @cur_site) %>
    <dd><%= f.ss_datetime_field :generate_lock_until, { step: 15 } %></dd>
  <% end %>
</dl>
