<%
  min = max = nil
  @items.aggregates(:created).tap do |aggregates|
    min = aggregates["min"]
    max = aggregates["max"]
  end
  min ||= Time.zone.today
  max ||= Time.zone.today
%>

<%= form_for :item, url: { action: :download }, html: { method: :post } do |f| %>
    <%= error_messages_for :item %>

    <section class="main-box">
      <header><h2><%= t 'ss.confirm.download' %></h2></header>

      <dl class="see">
        <dt><%= Gws::History.model_name.human %></dt>
        <dd>
          <%= f.text_field :from, class: 'date js-date', value: tryb { @item.from.strftime('%Y/%m/%d') }, data: { min_date: min, max_date: max } %>
          <%= t("ss.wave_dash") %>
          <%= f.text_field :to, class: 'date js-date', value: tryb { @item.to.strftime('%Y/%m/%d') }, data: { min_date: min, max_date: max } %>
        </dd>

        <dt><%= t('ss.encoding') %></dt>
        <dd>
          <% %w(Shift_JIS UTF-8).each do |encoding| %>
            <label>
              <%= radio_button_tag "#{f.object_name}[encoding]", encoding, encoding == 'Shift_JIS', {id: nil} %>
              <%= t("ss.options.csv_encoding.#{encoding}") %>
            </label>
          <% end %>
        </dd>
      </dl>
    </section>

    <footer class="send">
      <%= f.submit t("ss.download"), class: :save %>
      <%= f.button t("ss.buttons.cancel"), type: :reset, class: 'btn-default', onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
    </footer>
<% end %>
