<div class="index">
  <div class="list-head">
    <div class="list-head-action">
      <% pressed = origin && today.to_date == origin.to_date %>
      <%= ss_button_to(t('gws.history.days.today'), url_for(action: :index, ymd: today.strftime('%Y%m%d')), method: "GET", class: "btn", style: 'margin-right: 12px;', aria: { pressed: pressed }, disabled: pressed) %>
      <%= ss_button_to(t('gws.history.days.prev_day'), url_for(action: :index, ymd: prev_day.strftime('%Y%m%d')), method: "GET", class: "btn") %>
      <%= ss_date_field_tag(:ymd, origin, min_date: Gws::HistoryArchiveJob.threshold_day(today, @cur_site.effective_log_save_days.days), max_date: 0) %>
      <%= ss_button_to(t('gws.history.days.next_day'), url_for(action: :index, ymd: next_day.strftime('%Y%m%d')), method: "GET", class: "btn", disabled: today < next_day) %>
    </div>

    <%= render template: "_search" %>
  </div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <% if item.model.present? %>
        <% title = "#{item.model_name} / #{item.name}" %>
      <% elsif item.controller.present? %>
        <% title = "#{item.controller_name}##{item.action}" %>
      <% elsif item.job.present? %>
        <% title = "#{item.job_name}" %>
      <% end %>
      <% next if title.blank? %>

      <nav class="tap-menu">
        <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
      </nav>

      <div class="info">
        <span class="title">
          <%= link_to("[#{t("modules.#{item.module_key}")}] #{title}", { action: :show, id: item }) %>
        </span>
        <% if item.message %>
        <p class="message"><%= item.message.truncate(120) %></p>
        <% end %>

        <div class="meta">
          <span class="label"><%= t("gws.history.severity.#{item.severity}") %></span>
          <span class="datetime"><%= ss_time_tag item.created %></span>
          <% if item.mode.present? %>
          <span class="label"><%= item.mode_name %></span>
          <% end %>
          <% if item.path.present? %>
          <span class="label"><%= item.path %></span>
          <% end %>
          <span><%= gws_public_user_long_name(item.user_long_name) %></span>
          <% if (names = item.updated_field_names).present? %>
            <span class="label"><%= @model.t :updated_fields %></span>
            <%= names.join(', ') %>
          <% end %>
          <% if item.session_id.present? %>
          <span class="label"><%= @model.t :session_id %></span>
          <span class="session-id"><%= item.session_id %></span>
          <% end %>
          <% if item.request_id.present? %>
          <span class="label"><%= @model.t :request_id %></span>
          <span class="request-id"><%= item.request_id %></span>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>

<%= jquery do %>
  $('.list-head input[name=ymd]').on('ss:changeDateTime', function(ev, dp, $input) {
    var ymd = SS_DateTimePicker.momentValue($input);
    if (!ymd) {
      return;
    }
    ymd = ymd.format("YYYYMMDD");

    var url = '<%= gws_daily_histories_path(ymd: ':ymd') %>';
    url = url.replace(':ymd', ymd);

    location.href = url;
  });
<% end %>
