<%
  now = Time.zone.now
  ymd = params[:ymd]
  origin = Time.zone.local(ymd[0..3].to_i, ymd[4..5].to_i, ymd[6..7].to_i)
  next_day = origin + 1.day
  prev_day = origin - 1.day
%>
<div class="index">
  <div class="list-head">
    <div class="list-head-action">
      <% if now >= next_day %>
      <%= link_to(t('event.next_day'), { ymd: next_day.strftime('%Y%m%d') }, class: :btn, style: 'font-weight: normal;') %>
      <% end %>
      <span style="margin: 0 8px">
        <%= text_field_tag :ymd, origin.strftime('%Y/%m/%d'), class: 'datetime js-date' %>
      </span>
      <%= link_to(t('event.prev_day'), { ymd: prev_day.strftime('%Y%m%d') }, class: :btn, style: 'font-weight: normal;') %>
    </div>

    <%= render file: "_search" %>
  </div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <div class="info">
        <% if item.model.present? %>
        <% title = "#{item.model_name} / #{item.name}" %>
        <% elsif item.controller.present? %>
        <% title = "#{item.controller_name}##{item.action}" %>
        <% elsif item.job.present? %>
        <% title = "#{item.job_name}" %>
        <% end %>
        <% next if title.blank? %>
        <span class="title">[<%= t("modules.#{item.module_key}") %>] <%= title %></span>
        <% if item.message %>
        <p class="message"><%= br item.message %></p>
        <% end %>

        <div class="meta">
          <span class="label"><%= t("gws.history.severity.#{item.severity}") %></span>
          <span class="datetime"><%= item.created.strftime("%Y/%m/%d %H:%M") %></span>
          <% if item.model.present? %>
          <span class="label"><%= item.mode_name %></span>
          <% end %>
          <% if item.controller.present? %>
          <span class="label"><%= item.path %></span>
          <% end %>
          <span><%= item.user_long_name %></span>
          <% if (names = item.updated_field_names).present? %>
            <span class="label"><%= @model.t :updated_fields %></span>
            <%= names.join(', ') %>
          <% end %>
          <% if item.session_id %>
          <span class="label"><%= @model.t :session_id %></span>
          <span class="session-id"><%= item.session_id %></span>
          <% end %>
          <% if item.request_id %>
          <span class="label"><%= @model.t :request_id %></span>
          <span class="session-id"><%= item.request_id %></span>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>

<%= jquery do %>
  $('.list-head input[name=ymd]').datetimepicker({
    minDate: '<%= (now - @cur_site.effective_log_save_days.days).strftime('%Y/%m/%d') %>',
    maxDate: 0,
    onChangeDateTime: function(dp, $input) {
      console.log($input.val());
      var ymd = $input.val();
      ymd = ymd.replace(/\//g, '');

      var url = '<%= gws_daily_histories_path(ymd: ':ymd') %>';
      url = url.replace(':ymd', ymd);

      location.href = url;
    }
  });
<% end %>
