<div class="index">
  <div class="list-head">
    <%= render file: "_search" %>
  </div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <div class="info">
        <span class="title"><%= "#{item.model_name} / #{item.name}" %></span>

        <div class="meta">
          <span class="datetime"><%= item.created.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="label"><%= item.mode_name %></span>
          <span><%= item.user_long_name %></span>
          <% if (names = item.updated_field_names).present? %>
            <span class="label"><%= @model.t :updated_fields %></span>
            <%= names.join(', ') %>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
