<dl class="see mod-gws-facility-custom_fields">
  <dd class="wide"><%= link_to(I18n.t('gws/facility.manage_columns'), gws_facility_columns_path(form_id: @item), class: :btn) %></dd>
  <% if @item.columns.present? %>
  <dd class="wide">
    <table class="index">
      <thead>
      <tr>
        <th class="name"><%= Gws::Column::Base.t(:name) %></th>
        <th class="input_type"><%= Gws::Column::Base.t(:input_type) %></th>
        <th class="required"><%= Gws::Column::Base.t(:required) %></th>
        <th class="datetime"><%= Gws::Column::Base.t(:updated) %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.columns.order_by(order: 1, id: 1).each do |custom_field| %>
      <tr>
        <td class="name"><%= custom_field.name %></td>
        <td class="input_type"><%= custom_field.label(:input_type) %></td>
        <td class="required"><%= custom_field.label(:required) %></td>
        <td class="datetime"><%= tryb { I18n.l(custom_field.updated) } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
  <% end %>
</dl>
