<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.uid.presence || item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>

  <% if item.email.present? %>
    <span><%= mail_to item.email %></span>
  <% end %>
  <% if item.tel_label.present? %>
    <span class="tel"><%= item.tel_label %></span>
  <% end %>
<% end %>

<%= render file: "cms/crud/index" %>
