<% @index_title = proc do |item| %>
  <%= link_to url_for(action: :show, id: item), class: "title" do %>
    <%= i18n_name_in_side_by_side item.i18n_name_translations %>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="readable_setting_range" data-readable_setting_range="<%= item.readable_setting_range %>"><%= item.label :readable_setting_range %></span>
<% end %>

<%= render template: 'gws/crud/index' %>
