<ul>
  <% children.each do |child| %>
    <% if child[:has_children] %>
      <li>
        <details <%= "open" if child[:is_parent] %>>
          <summary>
            <a href="<%= child[:url] %>"><%= child[:name] %></a>
          </summary>
          
          <%= render 'cms/nodes/tree_children', children: child[:children] %>
        </details>
      </li>
    <% else %>
      <li >
        <a href="<%= child[:url] %>"><%= child[:name] %></a>
      </li>
    <% end %>
  <% end %>
</ul>
