<article class="routes-view">
  <% @items.each do |mod_name, mod| %>
  <article class="mod-<%= mod_name %>">
    <h1><%= mod[:name] %></h1>
    <div>
      <% mod[:items].each do |name, path| %>
        <% case params[:base_action]
        when "new", "edit" %><%= link_to name, "?route=#{path}", target: "_self" %>
        <% when "create" %><%= link_to name, url_for(action: :new, route: path), target: "_self" %>
        <% when "update" %><%= link_to name, url_for(action: :edit, route: path, id: params[:id]), target: "_self" %>
        <%end%>
      <% end %>
    </div>
  </article>
  <% end %>
</article>
