<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <% if @item.color.present? %>
    <dt><%= @model.t :color %></dt>
    <dd><span class="gws-category-label" style="<%= category_label_css(@item) %>"><%= @item.name %></span></dd>
  <% end %>

  <% if local_assigns.fetch(:show_order, true) %>
  <dt><%= @model.t :order %></dt>
  <dd><%= @item.order %></dd>
  <% end %>
</dl>
