<nav class="mod-navi">
  <h2><%= t "gws.site_config" %></h2>
  <h3><%= link_to t('gws.site_info'), gws_site_path %></h3>

  <% if Gws::Group.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.ss/group'), gws_groups_path %></h3>
  <% end %>
  <% if Gws::CustomGroup.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/custom_group'), gws_custom_groups_path %></h3>
  <% end %>
  <% if Gws::User.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.ss/user'), gws_users_path %></h3>
  <% end %>
  <% if Gws::UserTitle.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.ss/user_title'), gws_user_titles_path %></h3>
  <% end %>
  <% if Gws::Role.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/role'), gws_roles_path %></h3>
  <% end %>
  <% if Gws::Report::Form.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('modules.gws/report'), gws_report_setting_path %></h3>
  <% end %>
  <% if Gws::Workflow::Route.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('workflow.name'), gws_workflow_setting_path %></h3>
  <% end %>
  <% if Gws::Notice.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/notice'), gws_notices_path %></h3>
  <% end %>
  <% if Gws::Link.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/link'), gws_links_path %></h3>
  <% end %>

  <% Gws::GroupSetting.plugins.each do |mod, url_lazy| %>
    <% if mod.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3><%= link_to mod.human_name, instance_exec(&url_lazy) %></h3>
    <% end %>
  <% end %>

  <% if Gws::Chorg::Revision.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('modules.gws/chorg'), gws_chorg_main_path %></h3>
  <% end %>

  <% if Gws::History.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/history'), gws_histories_path %></h3>
  <% end %>

  <% if Gws::Job::Log.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('modules.gws/job'), gws_job_logs_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/portal') %></h2>
  <% if Gws::Portal::UserSetting.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/portal.user_portal'), gws_portal_setting_users_path %></h3>
  <% end %>
  <% if Gws::Portal::GroupSetting.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/portal.group_portal'), gws_portal_setting_groups_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/schedule') %></h2>
  <% if Gws::Schedule::Holiday.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.navi.holiday'), gws_schedule_holidays_path %></h3>
  <% end %>
  <% if Gws::Schedule::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/schedule.navi.category'), gws_schedule_categories_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/facility') %></h2>
  <% if Gws::Facility::Item.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/facility.navi.item'), gws_facility_items_path %></h3>
    <h3><%= link_to t('gws/facility.navi.usage'), gws_facility_usage_main_path %></h3>
  <% end %>
  <% if Gws::Facility::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_facility_categories_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/board') %></h2>
  <% if Gws::Board::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_board_categories_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/faq') %></h2>
  <% if Gws::Faq::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_faq_categories_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/qna') %></h2>
  <% if Gws::Qna::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_qna_categories_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/circular') %></h2>
  <% if Gws::Circular::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_circular_categories_path %></h3>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('modules.gws/staff_record') %></h2>
  <% if Gws::StaffRecord::Year.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/staff_record/year').sub(/.*\//, ''), gws_staff_record_years_path %></h3>
  <% end %>

  <% if @staff_record_settings && @cur_year %>
    <% if Gws::StaffRecord::Group.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3><%= link_to t('mongoid.models.gws/staff_record/group').sub(/.*\//, ''), gws_staff_record_groups_path(year: @cur_year.id) %></h3>
    <% end %>
    <% if Gws::StaffRecord::User.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3><%= link_to t('mongoid.models.gws/staff_record/user').sub(/.*\//, ''), gws_staff_record_users_path(year: @cur_year.id) %></h3>
    <% end %>
    <% if Gws::StaffRecord::Seating.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3><%= link_to t('mongoid.models.gws/staff_record/seating').sub(/.*\//, ''), gws_staff_record_seatings_path(year: @cur_year.id) %></h3>
    <% end %>
  <% end %>
</nav>
