<nav class="mod-navi">
  <h2><%= t "gws.site_config" %></h2>

  <h3><%= link_to t('gws.site_info'), gws_site_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/notice'), gws_notices_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/link'), gws_links_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/facility'), gws_facilities_path %></h3>
  <h3><%= link_to t('mongoid.models.ss/user'), gws_users_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/role'), gws_roles_path %></h3>
  <h3><%= link_to t('workflow.name'), gws_workflow_routes_path %></h3>
  <h3><%= link_to t('gws/schedule.category'), gws_schedule_categories_path %></h3>
</nav>
