<nav class="main-navi">
  <% if @cur_site.menu_portal_visible? %>
    <h2><%= link_to @cur_site.menu_portal_label || t('modules.gws/portal'), "#{gws_portal_path}/", class: "icon-portal" %></h2>
    <div class="child-menu">
      <% @cur_user.groups.in_group(@cur_site).each do |group| %>
        <% next if group.id == @cur_site.id %>
        <h3><%= link_to group.trailing_name, gws_portal_group_path(group: group) %></h3>
      <% end %>
      <h3><%= link_to t('gws/portal.tabs.root_portal'), gws_portal_group_path(group: @cur_site) %></h3>
    </div>
  <% end %>

  <% if @cur_site.menu_schedule_visible? %>
    <h2><%= link_to @cur_site.menu_schedule_label || t('modules.gws/schedule'), gws_schedule_main_path, class: "icon-schedule" %></h2>
  <% end %>

  <% if @cur_site.menu_todo_visible? %>
    <h2><%= link_to @cur_site.menu_todo_label || t('modules.gws/schedule/todo'), gws_schedule_todo_main_path, class: "icon-todo" %></h2>
  <% end %>

  <% if @cur_site.menu_reminder_visible? %>
    <h2><%= link_to @cur_site.menu_reminder_label || t('mongoid.models.gws/reminder'), gws_reminder_main_path, class: "icon-reminder" %></h2>
  <% end %>

  <% if @cur_site.menu_memo_visible? %>
    <% if Gws::Memo::Message.allowed?(:edit, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_memo_label || t('modules.gws/memo'), gws_memo_messages_path, class: "icon-memo" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_bookmark_visible? %>
    <h2><%= link_to @cur_site.menu_bookmark_label || t('modules.gws/bookmark'), gws_bookmarks_path, class: "icon-bookmark" %></h2>
  <% end %>

  <% if @cur_site.menu_attendance_visible? %>
    <% if Gws::Attendance::TimeCard.allowed?(:use, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_attendance_label || t('modules.gws/attendance'), gws_attendance_main_path, class: "icon-attendance" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_report_visible? %>
    <%# if Gws::Report::File.allowed?(:read, @cur_user, site: @cur_site) %>
    <h2><%= link_to @cur_site.menu_report_label || t('modules.gws/report'), gws_report_files_main_path, class: "icon-report" %></h2>
    <%# end %>
  <% end %>

  <% if @cur_site.menu_workflow_visible? %>
    <% if Gws::Workflow::File.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_workflow_label || t('modules.gws/workflow'), gws_workflow_files_main_path, class: "icon-workflow" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_circular_visible? %>
    <h2><%= link_to @cur_site.menu_circular_label || t('modules.gws/circular'), gws_circular_main_path, class: 'icon-circular' %></h2>
  <% end %>

  <% if @cur_site.menu_monitor_visible? %>
    <% if Gws::Monitor::Post.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_monitor_label || t('modules.gws/monitor'), gws_monitor_main_path, class: 'icon-monitor' %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_board_visible? %>
    <% if Gws::Board::Post.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_board_label || t('modules.gws/board'), gws_board_main_path, class: "icon-board" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_faq_visible? %>
    <% if Gws::Faq::Post.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_faq_label || t('modules.gws/faq'), gws_faq_topics_path(mode: '-', category: '-'), class: "icon-faq" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_question_visible? %>
    <% if Gws::Qna::Post.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_question_label || t('modules.gws/qna'), gws_qna_topics_path(mode: '-', category: '-'), class: "icon-question" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_discussion_visible? %>
    <% if Gws::Discussion::Forum.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_discussion_label || t('modules.gws/discussion'), gws_discussion_forums_path, class: "icon-discussion" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_share_visible? %>
    <% if Gws::Share::File.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_share_label || t('modules.gws/share'), gws_share_files_path, class: "icon-share" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_shared_address_visible? %>
    <% if Gws::SharedAddress::Address.allowed?(:read, @cur_user, site: @cur_site) %>
      <h2><%= link_to @cur_site.menu_shared_address_label || t('modules.gws/shared_address'), gws_shared_address_addresses_path, class: "icon-address" %></h2>
    <% end %>
  <% end %>

  <% if @cur_site.menu_personal_address_visible? %>
    <h2><%= link_to @cur_site.menu_personal_address_label || t('modules.gws/personal_address'), gws_personal_address_addresses_path, class: "icon-address" %></h2>
  <% end %>

  <% if @cur_site.menu_elasticsearch_visible? %>
    <h2><%= link_to @cur_site.menu_elasticsearch_label || t('modules.gws/elasticsearch'), gws_elasticsearch_search_main_path, class: "icon-search" %></h2>
  <% end %>

  <h2><%= link_to t('gws.site_config'), gws_site_path, class: "icon-conf" %></h2>
</nav>

<% if @cur_site.menu_staff_record_visible? %>
  <nav class="mod-navi">
    <h2><%= @cur_site.menu_staff_record_label || I18n.t('gws/staff_record.staff_records') %></h2>
    <h3><%= link_to t('gws/staff_record.staff_records'), gws_staff_record_public_records_path %></h3>
    <h3><%= link_to t('gws/staff_record.divide_duties'), gws_staff_record_public_duties_path %></h3>
    <h3><%= link_to t('mongoid.models.gws/staff_record/seating'), gws_staff_record_public_seatings_path %></h3>

    <% if Gws::StaffRecord::Year.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/year'), gws_staff_record_years_path %></h3>
    <% end %>
    <% if @staff_record_settings && @cur_year %>
      <% if Gws::StaffRecord::Group.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/group'), gws_staff_record_groups_path(year: @cur_year.id) %></h3>
      <% end %>
      <% if Gws::StaffRecord::User.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/user'), gws_staff_record_users_path(year: @cur_year.id) %></h3>
      <% end %>
      <% if Gws::StaffRecord::Seating.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/seating'), gws_staff_record_seatings_path(year: @cur_year.id) %></h3>
      <% end %>
    <% end %>
  </nav>
<% end %>

<% if @cur_site.menu_links_visible? %>
  <% if @links.present? %>
    <nav class="mod-navi">
      <h2><%= link_to @cur_site.menu_links_label || t('mongoid.models.gws/link'), gws_public_links_path %></h2>
      <% @links.each do |item| %>
      <h3><%= link_to item.name, gws_public_link_path(id: item) %></h3>
      <% end %>
    </nav>
  <% end %>
<% end %>
