<nav class="main-navi">
  <%= gws_menu_icon(:portal, 'modules.gws/portal', gws_portal_path) if @cur_site.menu_portal_visible? && @cur_user.gws_role_permit_any?(@cur_site, :use_gws_portal_user_settings, :use_gws_portal_group_settings, :use_gws_portal_organization_settings) %>
  <%= gws_menu_icon(:notice, 'modules.gws/notice', gws_notice_main_path) if @cur_site.menu_notice_visible? && Gws.module_usable?(:notice, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:schedule, 'modules.gws/schedule', gws_schedule_main_path) if @cur_site.menu_schedule_visible? && Gws.module_usable?(:schedule, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:todo, 'modules.gws/schedule/todo', gws_schedule_todo_main_path) if @cur_site.menu_todo_visible? && Gws.module_usable?(:todo, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:reminder, 'mongoid.models.gws/reminder', gws_reminder_main_path) if @cur_site.menu_reminder_visible? && Gws.module_usable?(:reminder, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:presence, 'mongoid.models.gws/presence', gws_presence_group_users_path(group: @cur_user.gws_main_group(@cur_site))) if @cur_site.menu_presence_visible? && Gws.module_usable?(:presence, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:memo, 'modules.gws/memo', gws_memo_messages_path) if @cur_site.menu_memo_visible? && Gws.module_usable?(:memo, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:bookmark, 'modules.gws/bookmark', gws_bookmark_main_path) if @cur_site.menu_bookmark_visible? && Gws.module_usable?(:bookmark, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:attendance, 'modules.gws/attendance', gws_attendance_main_path) if @cur_site.menu_attendance_visible? && Gws.module_usable?(:attendance, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:affair2, 'modules.gws/affair', gws_affair_main_path) if @cur_site.menu_affair2_visible? && Gws.module_usable?(:affair2, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:affair, 'modules.gws/affair', gws_affair_main_path) if @cur_site.menu_affair_visible? && Gws.module_usable?(:affair, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:workload, 'modules.gws/workload', gws_workload_main_path) if @cur_site.menu_workload_visible? && Gws.module_usable?(:workload, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:daily_report, 'modules.gws/daily_report', gws_daily_report_main_path) if @cur_site.menu_daily_report_visible? && Gws.module_usable?(:daily_report, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:report, 'modules.gws/report', gws_report_files_main_path) if @cur_site.menu_report_visible? && Gws.module_usable?(:report, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:workflow, 'modules.gws/workflow', gws_workflow_files_main_path) if @cur_site.menu_workflow_visible? && Gws.module_usable?(:workflow, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:workflow2, 'modules.gws/workflow2', gws_workflow2_files_main_path) if @cur_site.menu_workflow2_visible? && Gws.module_usable?(:workflow2, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:circular, 'modules.gws/circular', gws_circular_main_path) if @cur_site.menu_circular_visible? && Gws.module_usable?(:circular, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:monitor, 'modules.gws/monitor', gws_monitor_main_path) if @cur_site.menu_monitor_visible? && Gws.module_usable?(:monitor, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:survey, 'modules.gws/survey', gws_survey_main_path) if @cur_site.menu_survey_visible? && Gws.module_usable?(:survey, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:board, 'modules.gws/board', gws_board_main_path) if @cur_site.menu_board_visible? && Gws.module_usable?(:board, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:faq, 'modules.gws/faq', gws_faq_topics_path(mode: '-', category: '-')) if @cur_site.menu_faq_visible? && Gws.module_usable?(:faq, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:qna, 'modules.gws/qna', gws_qna_topics_path(mode: '-', category: '-')) if @cur_site.menu_qna_visible? && Gws.module_usable?(:qna, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:discussion, 'modules.gws/discussion', gws_discussion_forums_path(mode: '-')) if @cur_site.menu_discussion_visible? && Gws.module_usable?(:discussion, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:share, 'modules.gws/share', gws_share_files_path) if @cur_site.menu_share_visible? && Gws.module_usable?(:share, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:shared_address, 'modules.gws/shared_address', gws_shared_address_addresses_path) if @cur_site.menu_shared_address_visible? && Gws.module_usable?(:shared_address, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:personal_address, 'modules.gws/personal_address', gws_personal_address_addresses_path) if @cur_site.menu_personal_address_visible? && Gws.module_usable?(:personal_address, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:elasticsearch, 'modules.gws/elasticsearch', gws_elasticsearch_search_main_path) if @cur_site.menu_elasticsearch_visible? && Gws.module_usable?(:elasticsearch, @cur_site, @cur_user) %>
  <%= gws_menu_icon(:conf, 'gws.site_config', gws_site_path) if @cur_user.gws_role_permit_any?(@cur_site, :read_gws_organization) %>
</nav>

<% if @cur_site.menu_staff_record_visible? && Gws.module_usable?(:staff_record, @cur_site, @cur_user) %>
  <nav class="mod-navi">
    <h2><%= @cur_site.menu_staff_record_label || I18n.t('gws/staff_record.staff_records') %></h2>
    <h3><%= link_to t('gws/staff_record.staff_records'), gws_staff_record_public_records_path %></h3>
    <h3><%= link_to t('gws/staff_record.divide_duties'), gws_staff_record_public_duties_path %></h3>
    <h3><%= link_to t('mongoid.models.gws/staff_record/seating'), gws_staff_record_public_seatings_path %></h3>

    <% if Gws::StaffRecord::Year.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/year'), gws_staff_record_years_path %></h3>
    <% end %>
    <% if @staff_record_settings && @cur_year %>
      <% if Gws::StaffRecord::Group.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/group'), gws_staff_record_groups_path(year: @cur_year.id) %></h3>
      <% end %>
      <% if Gws::StaffRecord::User.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/user'), gws_staff_record_users_path(year: @cur_year.id) %></h3>
      <% end %>
      <% if Gws::StaffRecord::Seating.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/seating'), gws_staff_record_seatings_path(year: @cur_year.id) %></h3>
      <% end %>
      <% if Gws::StaffRecord::UserTitle.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/user_title'), gws_staff_record_user_titles_path(year: @cur_year.id) %></h3>
      <% end %>
      <% if Gws::StaffRecord::UserOccupation.allowed?(:read, @cur_user, site: @cur_site) %>
        <h3 class="management"><%= link_to t('mongoid.models.gws/staff_record/user_occupation'), gws_staff_record_user_occupations_path(year: @cur_year.id) %></h3>
      <% end %>
    <% end %>
  </nav>
<% end %>

<% if @cur_site.menu_links_visible? %>
  <% if @links.present? %>
    <nav class="mod-navi gws-links">
      <h2><%= link_to @cur_site.menu_links_label || t('mongoid.models.gws/link'), gws_public_links_path %></h2>
      <% @links.each do |item| %>
        <h3><%= link_to item.name, gws_public_link_path(id: item) %></h3>
      <% end %>
    </nav>
  <% end %>
<% end %>
