<nav class="main-navi">
  <!--
  <h2><%= link_to t('gws.portal'), "#{gws_portal_path}/" %></h2>
  -->
  <h2><%= link_to t('modules.gws/schedule'), gws_schedule_plans_path %></h2>
  <h2><%= link_to t('modules.gws/board'), gws_board_topics_path %></h2>
  <h2><%= link_to t('modules.gws/share'), gws_share_files_path %></h2>
  <h2><%= link_to t('mongoid.models.gws/facility'), gws_facilities_path %></h2>
  <h2><%= link_to t('mongoid.models.gws/notice'), gws_notices_path %></h2>
  <h2><%= link_to t('mongoid.models.ss/user'), gws_users_path %></h2>
  <h2><%= link_to t('mongoid.models.gws/role'), gws_roles_path %></h2>
</nav>
