<nav class="main-navi">
  <h2><%= link_to t('gws.portal'), "#{gws_portal_path}/" %></h2>
  <h2><%= link_to t('modules.gws_schedule'), gws_schedule_plans_path %></h2>
  <h2><%= link_to t('modules.gws_board'), gws_board_topics_path %></h2>
  <h2><%= link_to t('modules.gws_share'), gws_share_files_path %></h2>
  <h2><%= link_to t('gws.facility'), gws_facilities_path %></h2>
  <h2><%= link_to t('mongoid.models.ss/user'), gws_users_path %></h2>
  <h2><%= link_to t('mongoid.models.gws/role'), gws_roles_path %></h2>
  <%#= link_to 'reservation/plans', reservation_plans_path %>
</nav>
