<%
  return if @file_addon_state == 'hide'
  addon ||= local_assigns.fetch(:addon, {})
%>

<div class="see mod-ss-addon-file">
  <%= f.hidden_field "file_ids[]", value: "" %>
  <span class="upload-menu-new">
    <%= link_to t('ss.links.upload'), sys_apis_temp_files_path(@cur_user), class: "ajax-box btn" %>
  </span>

  <div id="selected-files">
    <% @item.files.each do |file| %>
      <%= render "ss/crud/ajax_files/file_view", file: file, show_properties: false, show_attach: false do %>
        <br>
        <label>URL</label>
        <input type="text" name="item[link_urls][<%= file.id %>]" value="<%= file.link_url %>" >
      <% end %>
    <% end %>
  </div>
</div>

<%= jquery do %>
  var $el = $("#<%= addon[:id] %>");
  var tempFile = new SS_Addon_TempFile($el.find(".upload-drop-area"), <%= @cur_user.id %>);
  SS_FileView.renderFileView($el);
<% end %>
