<%
  return if @file_addon_state == 'hide'
  addon ||= local_assigns.fetch(:addon, {})
%>

<dl class="see ss-addon-link_file">
  <dt class="wide"></dt>
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "", id: nil %>

    <span class="upload-menu-new">
      <%= link_to t('ss.links.upload'), sns_apis_temp_files_path(@cur_user), class: "ajax-box btn" %>
    </span>
    <div class="upload-drop-area">
      <span class="upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
    </div>

    <table class="index ajax-selected">
      <tbody>
      <% @item.files.each do |file| %>
        <%= render "ss/agents/addons/link_file/file_view",
          f: f, file_id: file.id, file_humanized_name: file.humanized_name,
          file_url: file.url, file_thumb_url: file.thumb_url, file_link_url: file.link_url,
          file_is_image: file.image?, file_extname: file.extname,
          file_sanitizer_status: sanitizer_status(file) %>
      <% end %>
      </tbody>
    </table>

    <script type="text/html" class="template">
      <%= render "ss/agents/addons/link_file/file_view",
        f: f, file_id: "{%= file_id %}", file_humanized_name: "{%= file_humanized_name %}",
        file_url: "{%= file_url %}", file_thumb_url: "{%= file_thumb_url %}", file_link_url: "{%= file_link_url %}",
        file_is_image: true, file_extname: "{%= file_extname %}" %>
    </script>
  </dd>
</dl>

<%= jquery do %>
  var $el = $("#<%= addon[:id] %>");
  var tempFile = new SS_Addon_TempFile($el.find(".upload-drop-area"), <%= @cur_user.id %>);

  var template = $el.find(".template").html();
  $el.find(".ajax-box").data("on-select", function($item) {
    $.colorbox.close();

    var $data = $item.closest("[data-id]");
    if (!$data[0]) {
      return;
    }

    var data = {
      file_id: $data.data("id"),
      file_humanized_name: $data.data("humanized-name"),
      file_url: $data.data("url"),
      file_thumb_url: $data.data("thumb-url"),
      file_extname: $data.data("extname"),
      file_link_url: ""
    };
    var html = ejs.render(template, data, { openDelimiter: "{", closeDelimiter: "}" });
    var $html = $(html);
    if (!$data.data("image?")) {
      $html.find(".column-thumb .thumb img").remove();
      $html.find(".column-thumb .thumb").append($("<span />", { class: "ext icon-" + $data.data("extname") }).text($data.data("extname")));
    }
    if ($data.data("sanitizer-state")) {
      $html.find(".column-thumb").prepend($data.find('.sanitizer-status'));
    }

    $el.find(".ajax-selected tbody").append($html);
    $el.find(".ajax-selected").show().trigger("change");
  });
<% end %>
