<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <% if @item.respond_to?(:permission_level) %>
  <dt><%= @model.t :permission_level %></dt>
  <dd><%= f.select :permission_level, @item.permission_level_options %></dd>
  <% end %>

  <dt><%= @model.t :permissions %></dt>
  <dd class="role-permissions">
    <%= hidden_field_tag "item[permissions][]" %>

    <% @model.module_permission_names(separator: true).each do |mod, names| %>
    <div class="module">
      <p class="module-name">[<%= @model.mod_name(mod) %>]</p>
      <div class="permissions">
        <% names.each do |name| %>
          <% if name == :separator %>
            <div style="height: 1em;"></div>
            <% next %>
          <% end %>
          <label><%= f.check_box("permissions[]", {}, name.to_s) %> <%= t("#{@model.collection_name.to_s.singularize}.#{name}") %></label>
        <% end %>
      </div>
    </div>
    <% end %>
  </dd>
</dl>
