<div class="list-search">
  <%= render template: "_search" %>
</div>

<div class="main-box">
  <% if @search_params.blank? %>
    <%=
      component = Gws::GroupTreeComponent.new(cur_site: @cur_site, cur_user: @cur_user, cur_group: @cur_group, state: params.dig(:s, :state).to_s.presence)
      render component
    %>
  <% else %>
    <table class="index groups">
      <thead>
        <tr>
          <th><%= @model.t :name %></th>
          <th class="datetime"><%= @model.t :updated %></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
        <tr>
          <nav class="tap-menu">
            <%= link_to t('ss.links.show'), action: :show, id: item %>
            <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
            <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
          </nav>
          <td class="expandable">
            <%= link_to item.name, { action: :show, id: item}, class: "title" %>
          </td>
          <td><%= ss_time_tag item.updated, type: :date %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @items if @items.try(:current_page) %>
  <% end %>
</div>
