<%= coffee do %>
  $ ->

  $(".comment_add").click (event)->
    $(@).css('pointer-events', 'none')
    $.ajax
      url: "<%= @idea_comment.comment_add_url %>"
      type: "GET"
      data: { comment_body : $('#s_comment_body').val()}
      success: (data)->
        $("#idea-comments").html data
    event.preventDefault()

  $(".comment_delete").click (event)->
    $.ajax
      url: "<%= @idea_comment.comment_delete_url %>"
      type: "GET"
      data: { comment : $(this).attr("id") }
      success: (data)->
        $("#idea-comments").html data
    event.preventDefault()

  $(".comment .label a").colorbox({ fixed: true, width: "300px", height: "50%" })

<% end %>

  <div class="info-wrap">

    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <div class="text">
            <% if comment.comment_deleted %>
            <%= "コメントは削除されました" %>
            <% else %>
            <%= simple_format(h(comment.text)) %>
            <% end %>
          </div>
          <% if @comment_mode && [@idea_comment.member_id, comment.member_id].include?(@cur_member.id) %>
          <%= link_to "削除", "", class: "comment_delete", id: comment.id if comment.comment_deleted.nil? %>
          <% end %>
          <% if comment.member %>
          <%= link_to comment.member.name, "#{member_path}#{comment.member_id}" %>
          <% else %>
          ゲストユーザー
          <% end %>
          <%= tryb{comment.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %>
        </div>
      <% end %>
    </div>

    <% if @comment_mode %>
      <%= form_for :s, url: "", html: { class: "opendata-add_comment-form", method: :get } do |f| %>
        <dl class="comment_body">
          <dt>本文</dt>
          <dd><%= f.text_area :comment_body, maxlength: "400" %></dd>
        </dl>
        <%= link_to "コメントを投稿", "", class: "comment_add" %>
      <% end %>
    <% else %>
      <div class="invite"><%= link_to "コメントしたい場合にはログインしてください", "/mypage/login" %></div>
    <% end %>

  </div>
