<%= coffee do %>
  $ ->

  $(".comment_add").click (event)->
    $.ajax
      url: "<%= @idea_comment.comment_add_url %>"
      type: "GET"
      data: { comment_body : $('#s_comment_body').val()}
      success: (data)->
        $("#idea-comments").html data
    event.preventDefault()

  $(".comment_delete").click (event)->
    $.ajax
      url: "<%= @idea_comment.comment_delete_url %>"
      type: "GET"
      data: { comment : $(this).attr("id") }
      success: (data)->
        $("#idea-comments").html data
    event.preventDefault()

  $(".comment .label a").colorbox({ fixed: true, width: "300px", height: "50%" })

<% end %>


  <div class="info-wrap">

      <div class="idea_text">
        <%= auto_link br(@idea_comment.text) %>
        <hr>
      </div>

      <div class="comments">
        <% @comments.each do |comment| %>
          <div class="comment">
            <% if comment.deleted %>
            <%= "コメントは削除されました" %>
            <% else %>
            <%= comment.text %>
            <% end %>
          </div>
          <%= link_to "削除", "", class: "comment_delete", id: comment.id if @manage_mode %>
          <% if comment.member %>
          <%= link_to comment.member.name, "#{member_path}#{comment.member.id}" %>
          <% else %>
          ゲストユーザー
          <% end %>
          <hr>
        <% end %>
      </div>

      <% if @comment_mode %>
        <%= form_for :s, url: "", html: { class: "opendata-add_comment-form", method: :get } do |f| %>
          <dl class="comment_body">
            <dt>本文</dt>
            <dd><%= f.text_field :comment_body %></dd>
          </dl>
          <%= link_to "このページにコメントする", "", class: "comment_add" %>
        <% end %>
      <% end %>

  </div>
