<div class="opendata-idea">
  <table>
    <tr>
      <th><%= @model.t :name %></th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th><%= @model.t :site_id %></th>
      <td><%= @item.site_id %></td>
    </tr>
    <tr>
      <th><%= @model.t :user_id %></th>
      <td><%= @item.user_id %></td>
    </tr>
    <tr>
      <th><%= @model.t :categry_ids %></th>
      <td><%= @item.categry_ids %></td>
    </tr>
    <tr>
      <th><%= @model.t :point %></th>
      <td><%= @item.point %></td>
    </tr>
    <tr>
      <th><%= @model.t :text %></th>
      <td><%= @item.text %></td>
    </tr>
  </table>
</div>
