<%= jquery do %> SS_SearchUI.modal(); <% end %>
<% coffee do %>
$ ->
  @insertContent = (cont) ->
    if (typeof tinymce) != "undefined"
      tinymce.get(Cms_Form.editorId).execCommand("mceInsertContent", false, cont)
    else if (typeof CKEDITOR != "undefined")
      CKEDITOR.instances[Cms_Form.editorId].insertHtml(cont)
<% end %>

<div class="search-ui-form">
<%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
  <%= f.text_field :name, value: params[:s].try(:[], :name) %>
  <%= f.submit  t("cms.apis.pages.search"), class: :btn %>
<% end %>
</div>

<table class="index">
  <thead class="list-head">
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th class="name"><%= @model.t :name %></th>
      <th class="filename"><%= @model.t :filename %></th>
      <th class="updated"><%= @model.t :updated %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= item.id %>" class="list-item">
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
        <% link = "insertContent('<a href=\"" + item.url + "\">" + item.name + "</a>');" %>
        <td class="name"><%= link_to item.name, "#", class: "select-item", onclick: link %></td>
        <td class="filename"><%= item.filename %></td>
        <td class="updated"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="search-ui-select">
  <%= button_tag t("cms.apis.pages.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
