<%= code_editor ".mod-cms-pagegrouplist .html", mode: :html %>

<dl class="see mod-cms-pagegrouplist">
  <dt><%= @model.t :condition_groups %><%= @model.tt :condition_groups %></dt>
  <dd>
    <%= f.hidden_field "condition_group_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.groups.index"), cms_apis_groups_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Cms::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.condition_groups.each do |group| %>
        <tr data-id="<%= group.id %>">
          <td><%= f.hidden_field "condition_group_ids[]", value: group.id %> <%= group.name %></td>
          <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :conditions %><%= @model.tt :conditions %></dt>
  <dd><%= f.text_area :conditions, value: @item.conditions.join("\n"), style: "height: 100px;" %></dd>

  <dt><%= @model.t :sort %><%= @model.tt :sort %></dt>
  <dd><%= f.select :sort, @item.sort_options, include_blank: " " %></dd>

  <dt><%= @model.t :limit %><%= @model.tt :limit %></dt>
  <dd><%= f.number_field :limit %></dd>

  <dt><%= @model.t :upper_html %><%= @model.tt :upper_html %></dt>
  <dd><%= f.text_area :upper_html, class: :html %></dd>

  <dt><%= @model.t :loop_html %><%= @model.tt :loop_html %></dt>
  <dd><%= f.text_area :loop_html, class: :html, style: "height: 100px;" %></dd>

  <dt><%= @model.t :lower_html %><%= @model.tt :lower_html %></dt>
  <dd><%= f.text_area :lower_html, class: :html %></dd>

  <dt><%= @model.t :new_days %><%= @model.tt :new_days %></dt>
  <dd><%= f.number_field :new_days %> <%= t "datetime.prompts.day" %></dd>
</dl>
