<dl class="see mod-cms-pagegrouplist">
  <dt><%= @model.t :condition_groups %><%= @model.tt :condition_groups %></dt>
  <dd>
    <%= f.hidden_field "condition_group_ids[]", value: "", id: nil, class: "hidden-ids" %>
    <%= link_to t("ss.apis.groups.index"), cms_apis_groups_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Cms::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.condition_groups.each do |group| %>
        <tr data-id="<%= group.id %>">
          <td><%= f.hidden_field "condition_group_ids[]", value: group.id, id: nil %> <%= group.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<%= render "cms/agents/addons/page_list/form", local_assigns %>
