<%= render 'gws/facility/usage/main/search' %>

<table class="index">
  <thead>
  <tr>
    <th rowspan="2" colspan="2"><%= @model.t :name %></th>
    <th colspan="<%= @months.length %>">利用月</th>
  </tr>
  <tr>
    <% @months.each do |month| %>
    <th><%= month[1] %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
      <tr>
        <td rowspan="2"><%= item.name %></td>
        <td><%= I18n.t('gws/facility.prompts.hours') %></td>
        <% @months.each do |month| %>
          <td>
            <% usage = format_usage_hours(item, @target_time.year, month[1]) %>
            <% if usage %>
            <%= link_to usage, gws_facility_usage_monthly_index_path(yyyymm: "#{@target_time.year}#{'%02d' % month[1]}", s: params[:s]) %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <tr>
        <td><%= I18n.t('gws/facility.prompts.times') %></td>
        <% @months.each do |month| %>
          <td>
            <% usage = format_usage_count(item, @target_time.year, month[1]) %>
            <% if usage %>
                <%= link_to usage, gws_facility_usage_monthly_index_path(yyyymm: "#{@target_time.year}#{'%02d' % month[1]}", s: params[:s]) %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
