<% @tap_menu = proc do |item| %>
  <%= link_to(t('ss.links.show'), action: :show, id: item) %>
  <%= link_to(t('ss.links.delete'), action: :delete, id: item) %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to(url_for(action: :show, id: item), class: 'title') do %>
    <span class="model-name"><%= I18n.t(item.target_class.underscore, scope: "mongoid.models", default: item.target_class) %></span>
    (<span class="item-id"><%= item.target_id %></span>)
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="state"><%= item.state %></span>
  <span class="datetime last-executed-at"><%= ss_time_tag item.michecker_last_executed_at %></span>
<% end %>

<%= render template: 'cms/crud/index' %>
