<%
  contains_urls = Cms::Page.site(@cur_site).and_linking_pages(item)
  delete_alert_enabled = @cur_user.cms_role_permit_any?(@cur_site, %w(delete_cms_ignore_alert)) && contains_urls.present?
%>

<li class="list-item">
  <label class="check">
    <% if contains_urls.present? %>
      <% if delete_alert_enabled %>
        <%= f.check_box_tag 'ids[]', item.id.to_s, false %>
      <% else %>
        <%= f.check_box_tag "ids[]", item.id, false, {disabled: true} %>
      <% end %>
    <% else %>
      <%= f.check_box_tag 'ids[]', item.id.to_s, checked: true %>
    <% end %>
  </label>
  <div class="info">
    <% item_url = item.private_show_path rescue nil %>
    <% if item_url %>
      <%= link_to item.name, item_url, class: "title", target: "_blank", rel: "noopener" %>
    <% else %>
      <%= item.name %>
    <% end %>
    <div class="meta">
      <%= render "cms/crud/destroy_info", item: item %>
      <% if contains_urls.present? %>
        <% if delete_alert_enabled %>
          <%= link_to t("ss.confirm.contains_links_in_file_ignoring_alert"), { action: :contains_urls, id: item },
          class: "contains-urls", target: :_blank, rel: "noopener" rescue nil %>
        <% else %>
          <%= link_to t("ss.confirm.contains_links_in_file"), { action: :contains_urls, id: item },
          class: "contains-urls", target: :_blank, rel: "noopener" rescue nil %>
        <% end %>
      <% else %>
        <%= t("ss.confirm.not_contains_links_in_file") %>
      <% end %>
    </div>
  </div>
</li>
