<dl class="see">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "" %>
    
    <%= link_to :upload, sns_user_temp_files_path(@cur_user), class: "ajax-box" %>
    | <%= link_to :"sns.user_file", sns_user_ajax_files_path(@cur_user), class: "ajax-box" %>
    
    <div id="selected-files" style="margin-top: 10px;">
      <% @item.files.each do |file| %>
      <div class="file-view">
        <a class="thumb" href="/fs/<%= file.id %>/<%= file.filename %>" target="_blank">
          <% if file.image? %>
          <img src="/fs/<%= file.id %>/thumb/<%= file.filename %>" alt="<%= file.basename %>" />
          <% else %>
          <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
          <% end %>
        </a>
        <div class="name">
          <%= f.check_box "file_ids[]", {}, file.id %>
          <%= file.basename %>
        </div>
      </div>
      <% end %>
    </div>
    <div style="clear: both;"></div>
  </dd>
</dl>
