<%= jquery do %>
  Gws_Schedule_Plan.renderForm();
  $('#item_color').colorPicker();
<% end %>

<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :term %></dt>
  <dd>
    <div class="dates-field">
      <%= f.text_field :start_on, class: "date start", value: tryb{@item.start_on.strftime("%Y/%m/%d")} %>
      - <%= f.text_field :end_on, class: "date end", value: tryb{@item.end_on.strftime("%Y/%m/%d")} %>
    </div>
  </dd>

  <dt><%= @model.t :color %></dt>
  <dd><%= f.text_field :color %></dd>
</dl>
