<% return if params[:action] =~ /index/ %>

<%= jquery do %>
  $(document).on("gws:calendarInitialized", function() {
    var transition = new Gws_Schedule_CalendarTransition(<%== params[:calendar].to_json %>);
    transition.renderLinks('.nav-menu a');
    transition.renderCancelButton('footer button[type="reset"]', '.nav-menu a.back-to-index');
  });
<% end %>

<nav class="nav-menu">
  <% if params[:action] =~ /new|create|copy|import|destroy_all/ %>
    <%= link_to t('ss.links.back_to_index'), { controller: 'gws/schedule/holidays', action: :index }, { class: "back-to-index" } %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { controller: 'gws/schedule/holidays', action: :index }, { class: "back-to-index" } %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.copy'), { action: :copy, id: @item } %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { controller: 'gws/schedule/holidays', action: :index }, { class: "back-to-index" } %>
  <% end %>
</nav>
