<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.send :name %></dd>

  <dt><%= @model.t :term %></dt>
  <dd><%= term(@item) %></dd>

  <dt><%= @model.t :color %></dt>
  <dd>
    <span class="gws-schedule-color-block" style="<%= "background-color: #{@item.color}; color: #{@item.text_color}" %>">
      <%= @item.name %></span>
  </dd>
</dl>
