<dl class="see mod-jmaxml-trigger-volcano-flash">
  <dt><%= @model.t :target_region_ids %><%= @model.tt :target_region_ids %></dt>
  <dd>
    <%= f.hidden_field "target_region_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("jmaxml.apis.forecast_regions.index"), jmaxml_apis_forecast_regions_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Jmaxml::ForecastRegion.t :name %></th>
        <th style="width: 20%;"></th>
      </tr>
      </thead>
      <tbody>
      <% @item.target_regions.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= f.hidden_field "target_region_ids[]", value: item.id %> <%= item.name %></td>
          <td style="width: 20%;"><%= link_to t("views.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
