<div class="operations">
  <input type="button" value="<%= t('ss.buttons.print') %>" class="btn btn-print" />
</div>

<% @s = OpenStruct.new params[:s] %>
<%= form_for :s, url: "", html: { method: :get, class: :search } do |f| %>
  <%= f.text_field :keyword, style: "width: 140px;", placeholder: t("gws/schedule.search_plans") %>
  <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
<% end %>

<%= jquery do %>
$('.gws-schedule-box header .operations .btn-print').on('click', function() {
  var viewName = $('#calendar').fullCalendar('getView').name
  if (!viewName) {
    viewName = $('#calendar-controller').fullCalendar('getView').name
  }

  var queryString = '';
  if (viewName) {
    var queryParams = <%== request.query_parameters.to_json %>;
    if (! queryParams.calendar) {
      queryParams.calendar = {};
    }
    queryParams.calendar.view = viewName;
    queryString = '?' + $.param(queryParams);
  }

  var path = '<%= url_for({ action: :print }) %>' + queryString;
  location.href = path;
});
<% end %>
