<%
  init_options = params[:calendar] || {}
%>
<%= jquery do %>
var calendar_options = {
  tapMenu: <%= @user.blank? || @user.id == @cur_user.id %>,
  restUrl: "<%= url_for(action: :index) %>",
  eventSources: [{ url: "<%= "#{url_for(action: :events, format: :json)}?#{search_query}" %>" }],
  eventStartEditable: <%= !@cur_site.schedule_drag_drop_denied? %>,
  header: { right: "withTodo month basicWeek agendaDay listMonth" },
  customButtons: { withTodo: false }
}
Gws_Schedule_Calendar.render('#calendar', calendar_options, <%== init_options.to_json %>);
$('.fc-withTodo-button').click();
<% end %>

<section class="main-box gws-schedule-box">
  <header>
    <h2><%= @forum.name %></h2>
    <nav>
      <%= render file: '_search' %>
    </nav>
  </header>
  <div id="calendar" class="calendar"></div>
</section>
