<%
  @today ||= @cur_site.calc_attendance_date(Time.zone.now).beginning_of_day
  @today_time_card ||= Gws::Attendance::TimeCard.site(@cur_site).user(@cur_user).where(date: @today.beginning_of_month).first
  @today_record ||= @today_time_card ? @today_time_card.records.where(date: @today).first : nil
  year_month = "#{@today.year}#{format('%02d', @today.month)}"
  day02 = format('%02d', @today.day)

  field_names = %w(enter leave)
  @break_times.each do |i|
    field_names << "break_enter#{i + 1}"
    field_names << "break_leave#{i + 1}"
  end
%>

<% render_reason = proc do |history| %>
  <% if history.present? && history.reason_type.present? %>
    <div class="reason-tooltip">
      <i class="material-icons md-13">&#xE0C9;</i>
      <div class="reason">
        <div>
          <%= t("gws/attendance.options.reason_type.#{history.reason_type}") %>
          <%= history.reason if history.reason.present? %>
        </div>
        <time datetime="<%= history.created.iso8601 %>"><%= history.created.strftime('%Y/%m/%d %H:%M') %></time>
      </div>
    </div>
  <% end %>
<% end %>

<div class="attendance-box today-box">
  <time class="attendance-date" datetime="<%= I18n.l(@today, format: :iso) %>"></time>
  <div class="attendance-box-title"><%= I18n.l(@today.to_date, format: :full) %></div>

  <div class="attendance-box-main">
    <div class="today-wrap">
      <table class="today">
        <thead>
        <tr>
          <% field_names.each do |field_name| %>
            <th class="time <%= field_name %>"><%= @cur_site.send("attendance_#{field_name}_label").presence || Gws::Attendance::Record.t(field_name) %></th>
          <% end %>
          <th class="memo"><%= Gws::Attendance::Record.t(:memo) %></th>
        </tr>
        </thead>
        <tbody>
        <% if @today_time_card.unlocked? %>
        <tr class="action">
          <% field_names.each do |field_name| %>
            <td class="time <%= field_name %>">
              <% if @today_record.try(:find_latest_history, field_name).present? %>
                <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
                  <%= button_tag(t('ss.buttons.edit'), name: 'edit', type: 'button', class: 'btn', data: { action: time_gws_affair_attendance_time_cards_path(year_month: year_month, day: day02, type: field_name, ref: request.fullpath) }) %>
                <% else %>
                  <%= button_tag(t('ss.buttons.edit'), name: 'punch', type: 'button', class: 'btn', disabled: "disabled") %>
                <% end %>
              <% else %>
                <% if @model.allowed?(:use, @cur_user, site: @cur_site) %>
                  <%= button_tag(t('gws/attendance.buttons.punch'), name: 'punch', type: 'button', class: 'btn', data: { confirm: t('gws/attendance.confirm.punch'), action: "#{gws_affair_attendance_time_cards_path(year_month: year_month)}/#{field_name}?#{ { ref: request.fullpath }.to_query }" }) %>
                <% else %>
                  <%= button_tag(t('gws/attendance.buttons.punch'), name: 'punch', type: 'button', class: 'btn', disabled: "disabled") %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          <td class="memo">
            <%= button_tag(t('ss.buttons.edit'), name: 'edit', type: 'button', class: 'btn', data: { action: memo_gws_affair_attendance_time_cards_path(year_month: year_month, day: day02, ref: request.fullpath) }) %>
          </td>
        </tr>
        <% else %>
          <tr>
            <td colspan="<%= field_names.length + 1 %>"><%= t('gws/attendance.already_locked') %></td>
          </tr>
        <% end %>
        <tr class="info">
          <% field_names.each do |field_name| %>
            <td class="time <%= field_name %>">
              <%= format_time(@today, @today_record.try(field_name)) %>
              <% render_reason.call(@today_record.try(:find_latest_history, field_name)) %>
            </td>
          <% end %>
          <td class="memo"><%= @today_record.try(:memo) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
