<div class="addon-views">
  <div class="addon-view mb-5" id="addon-basic">
    <div class="addon-head"><h2><%= t "ss.basic_info"%></h2></div>
    <div class="addon-body">
      <dl class="see">
        <dt>
          <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @item.parent) %>
            <%= link_to @item.name, @item.private_show_path %>
          <% else %>
            <%= @item.name %>
          <% end %>
        </dt>
        <dd>
          <% if @item.public? %>
            <%= link_to @item.full_url, @item.full_url, target: :_blank %>
          <% else %>
            <%= @item.name %>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>

  <div class="addon-view mb-5" id="addon-basic">
    <div class="addon-head">
      <h2><%= @item.t("check_links_errors") %></h2>
    </div>
    <div class="addon-body">
      <dl class="see">
        <dd class="wide">
          <%=br @item.check_links_errors.join("\n") %>
        </dd>
        <dd class="wide" style="color: red;">
          <%= @item.t("check_links_errors_remark") %>
        </dd>
      </dl>
    </div>
  </div>
</div>
