<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("ss.basic_info") } do %>
    <dl class="see">
      <dt>
        <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @item.parent) %>
          <%= link_to @item.name, @item.private_show_path %>
        <% else %>
          <%= @item.name %>
        <% end %>
      </dt>
      <dd>
        <% if @item.public? %>
          <%= link_to @item.full_url, @item.full_url, target: :_blank %>
        <% else %>
          <%= @item.name %>
        <% end %>
      </dd>
    </dl>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: @item.t("check_links_errors") } do %>
    <dl class="see">
      <dd class="wide">
        <%=br @item.check_links_errors %>
      </dd>
      <dd class="wide" style="color: red;">
        <%= @item.t("check_links_errors_remark") %>
      </dd>
    </dl>
  <% end %>
</div>
