<div class="see">
  <div class="mb-3">
    <label><%= @model.t :name %></label>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :poster_name %></label>
    <%= f.text_field :poster, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :text %></label>
    <%= f.text_area :text, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :email %></label>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :poster_url %></label>
    <%= f.text_field :poster_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :delete_key %></label>
    <%= f.text_field :delete_key, class: "form-control" %>
  </div>
</div>
