<fieldset class="see" disabled>
  <h2 class="h4">基本情報</h2>
  <div class="mb-3">
    <label><%= @model.t :name %></label>
    <input class="form-control" type="text" value="<%= @item.name %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :poster_name %></label>
    <input class="form-control" type="text" value="<%= @item.poster %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :text %></label>
    <input class="form-control" type="text" value="<%= @item.text %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :email %></label>
    <input class="form-control" type="text" value="<%= @item.email %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :poster_url %></label>
    <input class="form-control" type="text" value="<%= link_to @item.poster_url if @item.poster_url.present? %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :delete_key %></label>
    <input class="form-control" type="text" value="<%= @item.delete_key %>" />
  </div>
</fieldset>
