<%= jquery do %>
$(function() {
  $('.resolve-topic').click(function() {
    if (!confirm($(this).data('confirm'))) return false;
    var token = $('meta[name="csrf-token"]').attr('content');
    var form = $('<form/>').
      attr('method', 'POST').
      attr('action', $(this).attr('href')).
      append($("<input/>", { name: "authenticity_token", value: token, type: "hidden" })).
      appendTo("body").
      submit();
    return false;
  });
});
<% end %>
<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @mode != 'trash' %>
      <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.new'), action: :new %>
      <% end %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|categories/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @mode == 'trash' %>
      <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.restore'), action: :undo_delete, id: @item %>
        <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
      <% end %>
    <% else %>
      <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
      <% end %>
      <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.delete'), action: :soft_delete, id: @item %>
      <% end %>
      <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
        <% if @item.resolved? %>
          <%= link_to t('gws/qna.links.unresolve'), { action: :unresolve, id: @item },
            class: 'resolve-topic', 'data-confirm' => t('gws/qna.confirm.unresolve') %>
        <% else %>
          <%= link_to t('gws/qna.links.resolve'), { action: :resolve, id: @item },
            class: 'resolve-topic', 'data-confirm' => t('gws/qna.confirm.resolve') %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
