<% @s = OpenStruct.new params[:s] %>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= f.select :sort, @model.new.sort_options %>
    <%= f.text_field :keyword, style: "width: 250px;" %>
    <%= f.select :question_state, @model.new.question_state_options, include_blank: @model.t(:question_state) %>
    <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
  <% end %>
</div>
