<%= jquery do %>
  var navi = new Gws_Category_Navi('.gws-category-navi');
  navi.setBaseUrl('<%= gws_qna_topics_path(category: 'ID') %>');
  navi.render(<%== @categories.to_json(only: %i(_id name), methods: :trailing_name) %>);
<% end %>

<div class="gws-category-navi dropdown">
  <%= link_to gws_qna_topics_path(category: '-'), class: 'btn dropdown-toggle' do %>
    <%= @category.try(:trailing_name) || t('gws.category') %>
    <i class="material-icons md-13">&#xE313;</i>
  <% end %>
  <div class="dropdown-menu dropdown-menu--white"></div>
</div>

<div class="index gws-boards">
  <%= render file: "_list_head" %>

  <ul class="list-items">
    <% @items.each do |item| %>
    <%
      css_classes = %w(list-item)
      if item.subscribed_users.where(id: @cur_user.id).present?
        css_classes << (item.browsed?(@cur_user) ? 'read' : 'unread')
      end
      if item.severity.present?
        css_classes << item.severity
      end
    %>
    <li class="<%= css_classes.join(' ') %>">
      <nav class="tap-menu">
        <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
        <% if @mode == 'trash' %>
          <%= link_to t('ss.links.restore'), action: :undo_delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
          <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <% else %>
          <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%= link_to t('ss.links.delete'), action: :soft_delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <% end %>

        <% if item.try(:image) %>
          <%= link_to image_tag(item.image.thumb_url), item.image.url, { class: "thumb", target: "_blank" } %>
        <% elsif item.try(:image?) %>
          <%= link_to image_tag(item.thumb_url), item.url, { class: "thumb", target: "_blank" } %>
        <% end %>
      </nav>

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></label>
      <div class="info">
        <%= link_to item.name, { action: :show, id: item }, class: "title" %>
        <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= item.descendants_updated.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="user"><%= item.contributor_name.presence || item.user_long_name %></span>
          <span class="categories">
            <% item.categories.compact.each do |category| %>
              <%= link_to category.trailing_name, gws_qna_topics_path(category: category.id),
                  class: "gws-category-label", style: category_label_css(category) %>
            <% end %>
            <span class="<%= "gws-category-label gws-category-label-#{item.question_state}" %>">
              <%= item.label(:question_state) %>
            </span>
          </span>
          <% if item.descendants_files_count.to_i > 0 %>
            <span class="gws-board-file-count"><img src="/assets/img/gws/ic-file.png" alt="" /><%= item.descendants_files_count %></span>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
