<% controller.javascript "/assets/js/jquery.colorbox.js" %>
<% controller.stylesheet "/assets/css/colorbox/colorbox.css" %>

<%= jquery do %>
$(window).on("load", function(){ $(".photo-body .ajax-box").colorbox(); });
<% end %>

<article class="photo-body">
  <%= link_to @cur_page.image.url, alt: @cur_page.name,class: "ajax-box", onclick: "return false;" do %>
    <%= image_tag @cur_page.image.thumb_url.sub(/\/thumb\//, "/thumb/detail/"), alt: @cur_page.name %>
  <% end %>
  <time class="released" datetime="<%= I18n.l @cur_page.date.to_date, format: :iso %>">
    <%= I18n.l @cur_page.date.to_date, format: :long %>
  </time>
  <p class="contributor"><%= @cur_page.contributor %></p>
  <div class="caption"><%=br @cur_page.caption %></div>

  <%
    license = @cur_page.parent.becomes_with_route.send("license_#{@cur_page.license_name}") rescue nil
  %>
  <% if license.present? %>
    <div class="license"><%== license %></div>
  <% end %>
</article>
