<link href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<script src="/assets/js/jquery.colorbox.js"></script>
<%= coffee do %>
$ ->
  $("a.content").colorbox({ fixed: true, width: "90%", height: "90%" })

  point_link = $(".point .add")

  $.ajax
    url: "<%= @cur_page.point_url %>"
    success: (data)->
      $(".point .count .number").text data["point"]
      if data["mode"] == "entry"
        # add
      else if data["mode"] == "cancel"
        point_link.removeClass("add").addClass("cancel")
      else
        point_link.remove()

  point_link.click (event)->
    $.ajax
      url: "<%= @cur_page.point_add_url %>"
      success: (data)->
        $(".point .count .number").text data["point"]
        if data["mode"] == "cancel"
          point_link.removeClass("add").addClass("cancel")
        else
          point_link.removeClass("cancel").addClass("add")
    event.preventDefault()

  $(".categories a[data-class=other]").click ->
    type = $(this).attr("class")
    $(".categories a." + type).show()
    $(this).remove()
    return false
<% end %>

<header>
  <h1 class="name"><%= @cur_page.send :name %></h1>
</header>

<div class="point">
  <div class="count">
    <span class="number"><%= @cur_page.point %></span>
    <span class="label">いいね！数</span>
  </div>
  <%= link_to "いいね！", "#", class: "add" %>
</div>

<%
max = 3
categories = [
  { items: @cur_page.categories, type: :category, name: :name, id: :id },
  { items: @cur_page.areas.sort(order: 1), type: :area, name: :name, id: :id },
  { items: @cur_page.tags, type: :tag, name: :to_s, id: :to_s },
]
%>
<nav class="categories">
  <% categories.each do |cate| %>
    <% cate[:items].each_with_index do |item, idx| %>
      <% hide = (idx >= max) ? "display: none" : nil %>
      <%= link_to item.send(cate[:name]), "#{@search_url}?s[#{cate[:type]}_id]=#{item.send(cate[:id])}",
        class: cate[:type], style: hide %>
    <% end %>
    <% if cate[:items].size > max %>
      <%= link_to "他#{cate[:items].size-max}件", "#",
        class: "#{cate[:type]}", "data-class" => "other" %>
    <% end %>
  <% end %>
</nav>

<div class="text">
  <%= auto_link br(@cur_page.text) %>
</div>

<div class="detail">
  <nav>
    <%= link_to "データ作品の情報", "#", class: "info" %>
    <%= link_to "アプリ", "#", class: "app" %>
    <%= link_to "アイデア", "#", class: "idea" %>
  </nav>

  <div class="info-wrap">
    <div class="resources">
      <header>
        <h1>リソース</h1>
      </header>

      <% @cur_page.resources.order(name: 1).each do |rs| %>
      <div class="resource">
        <div class="name format-<%= rs.format.downcase %>">
          <%= rs.name %> (<%= rs.format %> <%= number_to_human_size(rs.size) %>)
        </div>
        <div class="icons">
          <% if license = rs.license %>
          <span class="license">
            <% label = tryb { image_tag license.file.url, alt: license.name } || license.name %>
            <% if license.related_url.present? %>
              <%= link_to label, license.related_url, target: "_blank" %>
            <% else %>
              <%= label %>
            <% end %>
          </span>
          <% end %>
          <%= link_to "プレビュー", rs.content_url, class: "content" if rs.tsv_present? %>
          <%= link_to "ダウンロード", rs.url, class: "download" %>
        </div>
        <% if rs.text.present? %>
        <div class="text">
          <%= auto_link br(rs.text) %>
        </div>
        <% end %>
        <% if rs.rdf_iri.present? %>
        <div class="sparql">
          <%= rs.t :rdf_iri %> <%= link_to rs.rdf_iri, "#{sparql_path}?graph_name=#{rs.rdf_iri}" %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <dl class="author">
      <% if @cur_page.member_id.present? %>
        <dt><%= @cur_page.t :user_id %></dt>
        <dd><%= tryb{@cur_page.member.name} %><br /></dd>
      <% else %>
        <dt><%= @cur_page.t :user_id %></dt>
        <dd><%= tryb{@cur_page.user.name} %><br /></dd>
      <% end %>

      <dt><%= @cur_page.t :downloaded %></dt>
      <dd><%= @cur_page.downloaded.to_i %> 回</dd>

      <dt><%= @cur_page.t :updated %></dt>
      <dd><%= tryb{@cur_page.updated.strftime("%Y年%m月%1d日")} %><br /></dd>
    </dl>
  </div>
</div>

<%= render file: "contact/agents/addons/page/view/index" %>
