<link href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<script src="/assets/js/jquery.colorbox.js"></script>
<%= coffee do %>
$ ->

  # Tabs
  SS_Tabs.render("#dataset-tabs-<%= @cur_node.id %>");

  # show point
  $.ajax
    url: "<%= @cur_page.point_url %>"
    success: (data)->
      $(".point").html data

  # show apps
  $.ajax
    url: "<%= @cur_page.dataset_apps_url %>"
    success: (data)->
      $(".dataset-apps").html data

  # show ideas
  $.ajax
    url: "<%= @cur_page.dataset_ideas_url %>"
    success: (data)->
      $(".dataset-ideas").html data

  # hide categories
  $(".categories a[data-class=other]").click ->
    type = $(this).attr("class")
    $(".categories a." + type).show()
    $(this).remove()
    return false

  # preview
  $("a.content").colorbox({ fixed: true, width: "90%", height: "90%" })

<% end %>

<header>
  <h1 class="name"><%= @cur_page.send :name %></h1>
</header>

<div class="point">
  <div class="count">
    <span class="label">いいね！</span>
    <span class="number"><%= @cur_page.point %></span>
  </div>
</div>

<%
max = 3
categories = [
  { items: @cur_page.categories, type: :category, name: :name, key: :category_id, val: :id },
  { items: @cur_page.areas.sort(order: 1), type: :area, name: :name, key: :area_id, val: :id },
  { items: @cur_page.tags, type: :tag, name: :to_s, key: :tag, val: :to_s },
]
%>
<nav class="categories">
  <% categories.each do |cate| %>
    <% cate[:items].each_with_index do |item, idx| %>
      <% hide = (idx >= max) ? "display: none" : nil %>
      <%= link_to item.send(cate[:name]), "#{@search_url}?s[#{cate[:key]}]=#{item.send(cate[:val])}",
        class: cate[:type], style: hide %>
    <% end %>
    <% if cate[:items].size > max %>
      <%= link_to "他#{cate[:items].size-max}件", "#",
        class: "#{cate[:type]}", "data-class" => "other" %>
    <% end %>
  <% end %>
</nav>

<div class="text">
  <%= auto_link br(@cur_page.text) %>
</div>

<div class="dataset-tabs tabs"  id="dataset-tabs-<%= @cur_node.id %>">
  <article class="tab" id="cms-tab-<%= @cur_node.id %>-0">
    <header><h1>データ作品の情報</h1></header>
    <div class="pages">
      <div class="info-wrap">
        <div class="resources">
          <header>
            <h1>リソース</h1>
          </header>

          <% @cur_page.resources.order(name: 1).each do |rs| %>
          <div class="resource">
            <div class="info">
              <div class="name format-<%= rs.format.downcase %>">
                <%= rs.name %> (<%= rs.format %> <%= number_to_human_size(rs.size) %>)
              </div>
              <% if rs.text.present? %>
              <div class="text">
                <%= auto_link br(rs.text) %>
              </div>
              <% end %>
              <% if rs.rdf_iri.present? %>
              <div class="sparql">
                <%= rs.t :rdf_iri %> <%= link_to rs.rdf_iri, "#{sparql_path}?graph_name=#{rs.rdf_iri}" %>
              </div>
              <% end %>
            </div>
            <div class="icons">
              <% if license = rs.license %>
              <span class="license">
                <% label = tryb { image_tag license.file.url, alt: license.name } || license.name %>
                <% if license.related_url.present? %>
                  <%= link_to label, license.related_url, target: "_blank" %>
                <% else %>
                  <%= label %>
                <% end %>
              </span>
              <% end %>
              <div class="content-wrap"><%= link_to "プレビュー", rs.content_url, class: "content" if rs.tsv_present? %></div>
              <div class="download-wrap"><%= link_to "ダウンロード", rs.url, class: "download" %></div>
            </div>
          </div>
          <% end %>

          <% @cur_page.url_resources.order(name: 1).each do |urs| %>
          <div class="url_resource">
            <div class="info">
              <div class="name format-<%= urs.format.downcase %>">
                <%= urs.name %> (<%= urs.format %> <%= number_to_human_size(urs.size) %>)
              </div>
              <% if urs.text.present? %>
              <div class="text">
                <%= auto_link br(urs.text) %>
              </div>
              <% end %>
              <% if urs.rdf_iri.present? %>
              <div class="sparql">
                <%= urs.t :rdf_iri %> <%= link_to urs.rdf_iri, "#{sparql_path}?graph_name=#{urs.rdf_iri}" %>
              </div>
              <% end %>
            </div>
            <div class="icons">
              <% if license = urs.license %>
              <span class="license">
                <% label = tryb { image_tag license.file.url, alt: license.name } || license.name %>
                <% if license.related_url.present? %>
                  <%= link_to label, license.related_url, target: "_blank" %>
                <% else %>
                  <%= label %>
                <% end %>
              </span>
              <% end %>
              <div class="content-wrap"><%= link_to "プレビュー", urs.content_url, class: "content" if urs.tsv_present? %></div>
              <div class="download-wrap"><%= link_to "ダウンロード", urs.url, class: "download" %></div>
            </div>
          </div>
          <% end %>
        </div>

        <dl class="author">
          <% if @cur_page.member_id.present? %>
            <dt><%= @cur_page.t :user_id %></dt>
            <dd>
              <% if @cur_page.member %>
              <%= link_to @cur_page.member.name, "#{member_path}#{@cur_page.member.id}" %>
              <% else %>
              ゲストユーザー
              <% end %>
            </dd>
          <% elsif @cur_page.contact_group %>
            <dt><%= @cur_page.t :user_id %></dt>
            <dd><%= @cur_page.contact_group.full_name %><br /></dd>
          <% elsif @cur_page.groups.present? %>
            <dt><%= @cur_page.t :user_id %></dt>
            <dd><%= @cur_page.groups.first.name %><br /></dd>
          <% end %>

          <dt><%= @cur_page.t :downloaded %></dt>
          <dd><%= @cur_page.downloaded.to_i %> 回</dd>

          <dt><%= @cur_page.t :updated %></dt>
          <dd><%= tryb{@cur_page.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %><br /></dd>
        </dl>
      </div>
    </div>
    <nav class="feed"></nav>
  </article>
  <article class="tab" id="cms-tab-<%= @cur_node.id %>-1">
    <header><h1>関連アプリ</h1></header>
    <div class="pages">
      <div id="tab-app">
        <header><h1>関連アプリ</h1></header>
        <div class="dataset-apps" id="dataset-apps"></div>
      </div>
    </div>
    <nav class="feed"></nav>
  </article>
  <article class="tab" id="cms-tab-<%= @cur_node.id %>-2">
    <header><h1>関連アイデア</h1></header>
    <div class="pages">
      <div id="tab-idea">
        <header><h1>関連アイデア</h1></header>
        <div class="dataset-ideas" id="dataset-ideas"></div>
      </div>
    </div>
    <nav class="feed"></nav>
  </article>
</div>

<%= render file: "cms/agents/addons/related_page/view/index" %>
<%= render file: "contact/agents/addons/page/view/index" %>
