<%= form_with scope: :item, url: url_for(action: :update), html: { method: "put", id: "item-form", multipart: true, autocomplete: :off, data: { turbo: true } } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <%=
      { id: "chorg-basic", class: "chorg-basic", head: t("ss.basic_info") }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options do
          render "chorg/frames/changesets/main/form_basic", f: f, addon: addon_options
        end
      end
    %>
    <%=
      { id: "chorg-ldap", class: "chorg-ldap", head: t("modules.addons.ldap/group"), toggle: true }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options do
          render "chorg/frames/changesets/main/form_ldap", f: f, addon: addon_options
        end
      end
    %>
    <%=
      { id: "chorg-contact", class: "chorg-contact", head: t("modules.addons.contact/group"), toggle: true }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options, data: SS::StimulusHelper::Utils.convert_to_data_params("contact/addon/group") do
          render "chorg/frames/changesets/main/form_contact", f: f, addon: addon_options
        end
      end
    %>
  </div>

  <footer class="send">
    <%= f.submit t("ss.buttons.save"), class: 'btn-primary save', data: { disable_with: t("ss.buttons.saving") } %>
    <%= link_to t("ss.buttons.cancel"), chorg_revision_path(id: cur_revision), class: 'btn-default' %>
  </footer>
<% end %>

<%= jquery do %>
  SS.confirmUnloading();
<% end %>
