<dl class="see mod-gws-board-category">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.send :name %></dd>

  <% if @item.color.present? %>
  <dt><%= @model.t :color %></dt>
  <dd><span class="gws-category-label" style="<%= category_label_css(@item) %>"><%= @item.name %></span></dd>
  <% end %>
</dl>
