<style>
.gws-attendance {
  width: 930px;
}
.gws-attendance .sheet {
  height: 550px;
  background: white;
  border: 1px solid #dcdcdc;
  margin-bottom: 10px;
}

.sheet {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  width: 910px;
}
.body table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  text-align: center;
}
.f1 {
  font-size: 10.5pt;
  font-family: 'ＭＳ 明朝';
  color: #000;
}
.f2 {
  font-size: 9pt;
  font-family: 'ＭＳ 明朝';
  color: #000;
}
.bt1 {
  border-top: 1px solid #000;
}
.br1 {
  border-right: 1px solid #000;
}
.bl1 {
  border-left: 1px solid #000;
}
.bb1 {
  border-bottom: 1px solid #000;
}
.bt2 {
  border-top: 1px dashed #000;
}
.br2 {
  border-right: 1px dashed #000;
}
.bl2 {
  border-left: 1px dashed #000;
}
.bb2 {
  border-bottom: 1px dashed #000;
}
</style>

<% @item.tables.each do |columns| %>
  <div class="sheet">
    <div class="body">
      <div>様式第5号（第14条関係）</div>
      <div style="margin-left: 20px;">（その1）</div>
      <table>
        <tr>
          <td style="width: 410px;">
            <span style="letter-spacing: 10.5pt;">年次有給休暇簿</span>
          </td>
          <td style="width: 42px; height: 35px;" class="bt1 br1 bl1 f1">課名</td>
          <td style="width: 106px; height: 35px;" class="bt1 br1 bl1 f2">
            <div style="width: 106px; white-space: nowrap; overflow: hidden;">
              <%= @item.group_name %>
            </div>
          </td>
          <td style="width: 42px; height: 35px;" class="bt1 br1 bl1 f1">職名</td>
          <td style="width: 114px; height: 35px;" class="bt1 br1 bl1 f2">
            <div style="width: 114px; white-space: nowrap; overflow: hidden;">
              <%= @item.user_title %>
            </div>
          </td>
          <td style="width: 44px; height: 35px;" class="bt1 br1 bl1 f1">氏名</td>
          <td style="width: 136px; height: 35px;" class="bt1 br1 bl1 f2">
            <div style="width: 136px; white-space: nowrap; overflow: hidden;">
              <%= @item.user_name %>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="width: 219px; height: 35px;" class="bt1 br1 bl1 f1">
            <div style="letter-spacing: 60px; text-indent: 60px;">
              区分
            </div>
          </td>
          <td style="width: 173px; height: 35px;" class="bt1 br1 bl1 f1">
            <div style="letter-spacing: 20px; text-indent: 20px;">
              繰越分
            </div>
          </td>
          <td style="width: 189px; height: 35px;" class="bt1 br1 bl1 f1">
            <div style="letter-spacing: 10px; text-indent: 10px;">
              当該年分
            </div>
          </td>
          <td style="width: 163px; height: 35px;" class="bt1 br1 bl1 f1">
            計
          </td>
          <td style="width: 151px; height: 35px;" class="bt1 br1 bl1 f1">
            <div style="letter-spacing: 5px; text-indent: 5px;">
              翌年繰越分
            </div>
          </td>
        </tr>
        <tr>
          <td style="width: 219px; height: 35px;" class="bt1 br1 bl1 f2">
            本年年次有給休暇日数
          </td>
          <td style="width: 173px; height: 35px;" class="bt1 br1 bl1 f2">
            <%= @item.carryover_minutes_label %>
          </td>
          <td style="width: 189px; height: 35px;" class="bt1 br1 bl1 f2">
            <%= @item.additional_minutes_label %>
          </td>
          <td style="width: 163px; height: 35px;" class="bt1 br1 bl1 f2">
            <%= @item.effective_minutes_label %>
          </td>
          <td style="width: 151px; height: 35px;" class="bt1 br1 bl1 f2">
            <%= @item.remind_minutes_label %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td style="width: 62px; height: 85px;" class="bt1 br1 bl1 f1">
            <div style="letter-spacing: 4px; text-indent: 4px;">届出</div>
            <div>年月日</div>
          </td>
          <td style="width: 107px; height: 85px;" class="bt1 br1 bl1 f1">
            <div style="letter-spacing: 8px; text-indent: 8px;">承認印</div>
          </td>
          <td style="width: 203px; height: 85px;" colspan="3" class="bt1 br1 bl1 f1">
            休暇を受ける時間
          </td>
          <td style="width: 186px; height: 85px;" colspan="2" class="bt1 br1 bl1 f1">
            休暇を受ける期間
          </td>
          <td style="width: 126px; height: 85px;" class="bt1 br1 bl1 f1">
            休暇理由
          </td>
          <td style="width: 80px; height: 85px;" class="bt1 br1 bl1 f1">
            <div>本人又は</div>
            <div>代理届出人</div>
            <div>職氏名</div>
            <div>印</div>
          </td>
          <td style="width: 130px; height: 85px;" colspan="2" class="bt1 br1 bl1 f1">
            休暇日数累計
          </td>
        </tr>
        <% columns.each_with_index do |column, i| %>
          <% cls = (i == 6) ? "bb1" : "" %>
          <tr>
            <td style="width: 62px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>">
              <%= column.date %>
            </td>
            <td style="width: 107px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>"></td>
            <td style="width: 58px; height: 35px;" class="bt1 f2 <%= cls %>">
              <%= column.time1 %>
            </td>
            <td style="width: 83px; height: 35px;" class="bt1 f2 <%= cls %>">
              <%= column.time2 %>
            </td>
            <td style="width: 62px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>">
              <%= column.time3 %>
            </td>
            <td style="width: 122px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>">
              <%= column.term1 %>
            </td>
            <td style="width: 64px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>">
              <%= column.term2 %>
            </td>
            <td style="width: 126px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>">
              <div style="width: 126px; max-height: 35px; overflow: hidden;">
                <%= column.remark %>
              </div>
            </td>
            <td style="width: 80px; height: 35px;" class="bt1 br1 bl1 f2 <%= cls %>"></td>
            <td style="width: 65px; height: 35px;" class="bt1 br2 f2 <%= cls %>">
              <%= column.used1 %>
            </td>
            <td style="width: 65px; height: 35px;" class="bt1 br1 f2 <%= cls %>">
              <%= column.used2 %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
