<dl class="see sys-site-copy">
  <dt><%= @model.t :target_host_name %><%= @model.tt :target_host_name %></dt>
  <dd><%= f.text_field :target_host_name %></dd>

  <dt><%= @model.t :target_host_host %><%= @model.tt :target_host_host %></dt>
  <dd><%= f.text_field :target_host_host %></dd>

  <dt><%= @model.t :target_host_domains %><%= @model.tt :target_host_domains %></dt>
  <dd><%= f.text_field :target_host_domains %></dd>

  <dt><%= @model.t :target_host_subdir %><%= @model.tt :target_host_subdir %></dt>
  <dd><%= f.text_field :target_host_subdir %></dd>

  <dt><%= @model.t :target_host_parent_id %><%= @model.tt :target_host_parent_id %></dt>
  <dd><%= f.select :target_host_parent_id, options_from_collection_for_select(SS::Site.all, :id, :name), include_blank: true %></dd>

  <dt><%= @model.t :source_site_id %><%= @model.tt :source_site_id %></dt>
  <dd>
    <%= f.hidden_field "source_site_id", value: "", id: nil, class: "hidden-ids" %>
    <%= link_to t("sys.apis.sites.index"), sys_apis_sites_path(single: 1), :action => :index, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Sys::Site.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @item.source_site.present? %>
          <tr data-id="<%= @item.source_site_id %>">
            <td><%= f.hidden_field "source_site_id", value: @item.source_site_id, id: nil %> <%= @item.source_site.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :copy_contents %><%= @model.tt :copy_contents %></dt>
  <dd>
    <%= f.hidden_field "copy_contents[]", value: "", id: nil %>
    <ul>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'pages', @item.copy_contents.include?('pages'), { id: "#{f.object_name}_copy_contents_pages" } %>
        <%= label_tag "#{f.object_name}_copy_contents_pages", t('sys.options.copy_contents.pages') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'files', @item.copy_contents.include?('files'), { id: "#{f.object_name}_copy_contents_files" } %>
        <%= label_tag "#{f.object_name}_copy_contents_files", t('sys.options.copy_contents.files') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'editor_templates', @item.copy_contents.include?('editor_templates'), { id: "#{f.object_name}_copy_contents_editor_templates" } %>
        <%= label_tag "#{f.object_name}_copy_contents_editor_templates", t('sys.options.copy_contents.editor_templates') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'dictionaries', @item.copy_contents.include?('dictionaries'), { id: "#{f.object_name}_copy_contents_dictionaries" } %>
        <%= label_tag "#{f.object_name}_copy_contents_dictionaries", t('sys.options.copy_contents.dictionaries') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'loop_settings', @item.copy_contents.include?('loop_settings'), { id: "#{f.object_name}_copy_contents_loop_settings" } %>
        <%= label_tag "#{f.object_name}_copy_contents_loop_settings", t('sys.options.copy_contents.loop_settings', default: 'ループHTML') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'page_searches', @item.copy_contents.include?('page_searches'), { id: "#{f.object_name}_copy_contents_page_searches" } %>
        <%= label_tag "#{f.object_name}_copy_contents_page_searches", t('sys.options.copy_contents.page_searches', default: 'ページ検索') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'source_cleaner_templates', @item.copy_contents.include?('source_cleaner_templates'), { id: "#{f.object_name}_copy_contents_source_cleaner_templates" } %>
        <%= label_tag "#{f.object_name}_copy_contents_source_cleaner_templates", t('sys.options.copy_contents.source_cleaner_templates', default: 'ソースクリーニング') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'theme_templates', @item.copy_contents.include?('theme_templates'), { id: "#{f.object_name}_copy_contents_theme_templates" } %>
        <%= label_tag "#{f.object_name}_copy_contents_theme_templates", t('sys.options.copy_contents.theme_templates', default: 'Theme切り替え') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'translate_langs', @item.copy_contents.include?('translate_langs'), { id: "#{f.object_name}_copy_contents_translate_langs" } %>
        <%= label_tag "#{f.object_name}_copy_contents_translate_langs", t('sys.options.copy_contents.translate_langs', default: '自動翻訳/言語') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'translate_text_caches', @item.copy_contents.include?('translate_text_caches'), { id: "#{f.object_name}_copy_contents_translate_text_caches" } %>
        <%= label_tag "#{f.object_name}_copy_contents_translate_text_caches", t('sys.options.copy_contents.translate_text_caches', default: '自動翻訳/翻訳テキスト') %>
      </li>
      <li>
        <%= check_box_tag "#{f.object_name}[copy_contents][]", 'word_dictionaries', @item.copy_contents.include?('word_dictionaries'), { id: "#{f.object_name}_copy_contents_word_dictionaries" } %>
        <%= label_tag "#{f.object_name}_copy_contents_word_dictionaries", t('sys.options.copy_contents.word_dictionaries', default: '単語置換辞書') %>
      </li>
    </ul>

    <p class="description"><%= t('sys.site_copy/description') %></p>
    <p class="description"><%= "※ 複製する項目「記事・その他のページ」を選択しなかった場合、カテゴリーフォルダー内のサマリーページの設定は解除されます。" %></p>
  </dd>
</dl>
