<dl class="info mod-ss-task">
  <dt><%= @item.t :state %></dt>
  <dd><span class="state"><%= @item.send :state %></span></dd>

  <dt><%= @item.t :started %></dt>
  <dd class="started"><%= tryb { ss_time_tag @item.started } %></dd>

  <dt><%= @item.t :closed %></dt>
  <dd class="closed"><%= tryb { ss_time_tag @item.closed } %></dd>
</dl>

<div class="logs">
  <textarea class="log" readonly="readonly"><%= @item.logs.join("\n") %></textarea>
</div>

<%= jquery do %>
  var reload = function() {
    if ($("#task-form .state").html().match(/(ready|running)/)) {
      $.ajax({
        url: "<%= url_for(action: :index, format: :json) %>",
        success: function(data) {
          var started = data.started;
          if (! started) {
            started = "";
          }
          var closed  = data.closed;
          if (! closed) {
            closed = "";
          }
          $("#task-form .state").text(data.state);
          $("#task-form .started").text(started.replace(/\..*/, "").replace("T", " "));
          $("#task-form .closed").text(closed.replace(/\..*/, "").replace("T", " "));
          $("#task-form .log").val(data.logs.join("\n"));
          if (data["state"] === "completed") {
            $("#task-form .reset-state").hide();
          }
        }
      });
    }
  }

  setInterval(reload, 10000);
<% end %>
