<% addons = @item ? @item.class.addons : [] %>

<%= form_for :item, url: { action: :confirm }, html: { id: "item-form", autocomplete: :off } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t('ss.basic_info'), toggle: true, display_body: @item.running? || @item.state == 'ready' ? "hide" : "show" } do %>
    <%= render template: '_form', locals: { f: f } %>
  <% end %>
  <%= render template: "_addons_form", locals: { f: f, addons: addons } if addons.size > 0 %>

  <%= render "ss/crud/addon", addon: { id: "task-form", head: t('sys.site_copy/task_status'), toggle: true, display_body: @item.running? || @item.state == 'ready' ? "show" : "hide" } do %>
    <%= render partial: 'task' %>
  <% end %>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <%= f.submit t("ss.buttons.confirm"), class: 'btn-primary save' %>
</footer>
<% end %>

<%= jquery do %>
SS.confirmUnloading();
<% end %>
