<% addons = @item ? @item.class.addons : [] %>

<%= form_for :item, url: { action: :confirm }, html: { id: "item-form", autocomplete: :off } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view mb-5" id="addon-basic">
    <h2 class="h4"><%= t "ss.basic_info"%></h2>
    <%= render file: '_form', locals: { f: f } %>
  </div>
  <%= render file: "_addons_form", locals: { f: f, addons: addons } if addons.size > 0 %>

  <div class="addon-view mb-5" id="task-form">
    <h2 class="h4"><%= t 'sys.site_copy/task_status' %></h2>
    <%= render partial: 'task' %>
  </div>
</div>

<footer class="send">
  <%= f.submit t("ss.buttons.confirm"), class: 'btn-primary save' %>
</footer>
<% end %>

<%= jquery do %>
SS.confirmUnloading();
  <% if @item.running? || @item.state == 'ready' %>
  SS_AddonTabs.hide(".sys-site-copy");
  <% else %>
  SS_AddonTabs.hide(".mod-ss-task");
  <% end %>
<% end %>
