<% setting = Sys::Setting.first || Sys::Setting.new %>

<nav class="main-navi">
  <!--
  <h2><%= link_to t("sns.profile"), sns_cur_user_profile_path %></h2>
  -->
  <% if setting.try(:menu_file_visible?) %>
  <h2><%= link_to t("sns.file"), sns_cur_user_files_path, class: 'icon-conv' %></h2>
  <% end %>

  <h2><%= link_to t("sns.account"), sns_cur_user_account_path, class: 'icon-conf' %></h2>

  <% if setting.try(:menu_connection_visible?) %>
  <h2><%= link_to t("sns.connection"), sns_connection_path, class: 'icon-conf' %></h2>
  <% end %>
</nav>

<%= render 'sys/main/navi' %>
