<% setting = Sys::Setting.first || Sys::Setting.new %>

<nav class="main-navi main-navi-md">
  <ul class="d-flex align-items-center justify-content-center flex-wrap">
    <li><%= link_to sns_cur_user_account_path, "class" => "btn btn-primary" do %>
      <i class="material-icons">&#xE853;</i><%= t("sns.account") %>
    <% end %></li>

    <% if setting.try(:menu_file_visible?) %>
      <li><%= link_to sns_cur_user_files_path, "class" => "btn btn-primary" do %>
        <i class="material-icons">&#xE2C8;</i><%= t("sns.file") %>
      </li><% end %>
    <% end %>

    <% if setting.try(:menu_connection_visible?) %>
      <li><%= link_to sns_connection_path, "class" => "btn btn-primary" do %>
        <i class="material-icons">&#xE88F;</i><%= t("sns.connection") %>
      </li><% end %>
    <% end %>

    <li class="sys-conf"><%= link_to "#", "class" => "btn btn-primary" do %>
      <i class="material-icons">&#xE8B8;</i><%= t("sys.conf") %>
    </li><% end %>
  </ul>
</nav>

<%= jquery do %>
  var conf = $('.mod-navi a').first().attr('href');
  if (conf) {
    $('.main-navi .sys-conf a').attr('href', conf);
  } else {
    $('.main-navi .sys-conf').remove();
  }
<% end %>

<div class="hide">
  <%= render 'sys/main/navi' %>
</div>
