<nav class="main-navi main-navi-md">
  <!--
  <h2><%= link_to t("sns.profile"), sns_cur_user_profile_path %></h2>
  -->

  <h2>
    <%= link_to sns_cur_user_account_path do %>
      <i class="material-icons">&#xE853;</i><%= t("sns.account") %>
    <% end %>
  </h2>

  <h2>
    <%= link_to job_sns_logs_path do %>
      <i class="material-icons">&#xE853;</i><%= t("job.task_manager") %>
    <% end %>
  </h2>

  <% if @cur_setting.menu_file_visible? %>
    <h2>
      <%= link_to sns_cur_user_files_path do %>
        <i class="material-icons">&#xE2C8;</i><%= t("sns.file") %>
      <% end %>
    </h2>
  <% end %>

  <% if @cur_setting.menu_connection_visible? %>
    <h2>
      <%= link_to sns_connection_path do %>
        <i class="material-icons">&#xE88F;</i><%= t("sns.connection") %>
      <% end %>
    </h2>
  <% end %>

  <% if respond_to?(:sys_conf_path) && sys_conf_path.present? %>
    <h2 class="sys-conf">
      <%= link_to sys_conf_path do %>
        <i class="material-icons">&#xE8B8;</i><%= t("sys.conf") %>
      <% end %>
    </h2>
  <% end %>
</nav>
