<% @index_meta = proc do |item| %>
  <span class="datetime"><%= term(item) %></span>

  <% if item.facilities.present? %>
  <span class="user"><%= item.facilities.map(&:name).join(', ') %></span>
  <% end %>

  <% if c = item.category %>
  <span class="gws-schedule-category-sample" style="<%= "background: #{c.color}; color: #{c.text_color}" %>"><%= c.name %></span>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
