<% return if @item.column_values.blank? %>

<dl class="see mod-gws-daily-report-custom_form">
  <% if @model.allowed?(:access, @cur_user, site: @cur_site) || @item.user.blank? || @item.user_id == @cur_user.id %>
    <dt><%= @model.t :limited_access %></dt>
    <dd>
      <%= br @item.limited_access %>
    </dd>
  <% end %>

  <dt><%= @model.t :small_talk %></dt>
  <dd>
    <%= br @item.small_talk %>
  </dd>
  <% if @item.share_small_talk.present? %>
    <div class="share-value">
      <%= @model.t(:share_small_talk) %>
    </div>
  <% end %>
  <% @item.column_comments('small_talk').each do |comment| %>
    <dd><%= br "#{comment.body}(#{comment.user.try(:name)})" %></dd>
  <% end %>

<% @item.column_values.order_by(order: 1, name: 1).each do |value| %>
  <% column = value.column %>
  <% if column.present? && column.column_show_partial_path.present? %>
    <%= render column.column_show_partial_path, column: column, value: value %>
  <% else %>
    <dt><%= value.name %></dt>
    <dd>
      <%= column.try(:prefix_label) %>
      <%= br value.value %>
      <%= column.try(:postfix_label) %>
    </dd>
  <% end %>
  <% if @item.share_column_ids.to_a.include?(column.id.to_s) %>
    <div class="share-value">
      <%= @model.t(:share_column_ids) %>
    </div>
  <% end %>
  <% @item.column_comments(value.column_id).each do |comment| %>
    <dd><%= br "#{comment.body}(#{comment.user.try(:name)})" %></dd>
  <% end %>
<% end %>
</dl>

<%= jquery do %>
  $('#addon-ss-agents-addons-markdown').hide();
  $('#addon-gws-agents-addons-file').hide();
  <% if @cur_form.present? %>
    $('#addon-gws-agents-addons-daily-report-custom_form .addon-head h2').text(<%== @cur_form.name.to_json %>);
  <% end %>
  $('.share-value').each(function (){
    $(this).prev('dd').addClass('share-cell');
    $(this).prev('dd').prev('dt').addClass('share-cell');
    $(this).prev('dd').prev('dt').append($(this));
  });
<% end %>
