<ul>
  <li><a href="#">Facebook</a></li>
  <li><a href="#">Google</a></li>
  <li><a href="#">Twitter</a></li>
  <li><a href="#">Yahoo! Japan</a></li>
</ul>

<%= form_tag "", class: "member-login" do |f| %>
  <%= error_messages_for :item %>
  <%= hidden_field_tag :ref, params[:ref] %>

  <dl>
    <dt>Email</dt>
    <dd><%= email_field :item, :email %></dd>

    <dt>Password</dt>
    <dd><%= password_field :item, :password %></dd>
  </dl>

  <%= submit_tag t(:login), name: :login %>
<% end %>
