<% @s = OpenStruct.new params[:s] %>
<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get } do |f| %>
    <%= render partial: "gws/apis/users/group_dropdown_normal", locals: { f: f } %>
    <%= f.text_field :keyword, style: "width: 200px;" %>
    <%= f.select :state, @model.new.search_state_options %>
    <input type="submit" value="<%= t('views.button.search') %>" class="btn" />
  <% end %>
</div>
