<%= jquery do %>
SS_Clipboard.renderCopy();
<% end %>

<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.send :name %></dd>

  <dt><%= @model.t :kana %></dt>
  <dd><%= @item.send :kana %></dd>

  <dt><%= @model.t :uid %></dt>
  <dd><%= @item.uid %></dd>

  <dt><%= @model.t :email %></dt>
  <dd><span class="email js-clipboard-copy"><%= mail_to @item.email %></span></dd>

  <dt><%= @model.t :tel %></dt>
  <dd><%= @item.send :tel %></dd>

  <dt><%= @model.t :tel_ext %></dt>
  <dd><%= @item.send :tel_ext %></dd>

  <dt><%= @model.t :title_ids %></dt>
  <dd><%= tryb { @item.title.name } %></dd>

  <dt><%= @model.t :type %></dt>
  <dd><%= @item.send :type %></dd>

  <% if @item.account_start_date.present? %>
  <dt><%= @model.t :account_start_date %></dt>
  <dd><%= tryb{@item.account_start_date.strftime("%Y/%m/%d %H:%M")} %></dd>
  <% end %>

  <% if @item.account_expiration_date.present? %>
  <dt><%= @model.t :account_expiration_date %></dt>
  <dd><%= tryb{@item.account_expiration_date.strftime("%Y/%m/%d %H:%M")} %></dd>
  <% end %>

  <% if @item.initial_password_warning.present? %>
  <dt><%= @model.t :initial_password_warning %></dt>
  <dd><%= @item.label :initial_password_warning %></dd>
  <% end %>

  <% main_group = @item.gws_main_group(@cur_site) %>

  <dt><%= @model.t :group_ids %></dt>
  <dd>
    <% @item.groups.order_by(name: 1).select{ |c| Gws::Group.site(@cur_site).pluck(:id).include?(c.id) }.each do |c| %>
      <% if main_group && main_group.id == c.id %>
        <strong><b><%= c.name %></b></strong><br />
      <% else %>
        <%= c.name %><br />
      <% end %>
    <% end %>
  </dd>

  <dt><%= @model.t :gws_main_group_ids %></dt>
  <dd><%= tryb { main_group.name } %></dd>

  <% if @item.remark.present? %>
  <dt><%= @model.t :remark %></dt>
  <dd><%=br @item.send :remark %></dd>
  <% end %>
</dl>
