<% @index_meta = proc do |item| %>
  <% item.cur_site = @cur_site %>
  <span class="id">#<%= item.uid.presence || item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>

  <% if item.email.present? %>
  <span class="email"><%= mail_to item.email %></span>
  <% end %>

  <% if item.tel.present? %>
  <span class="tel"><%= item.tel %></span>
  <% end %>

  <% if item.title.present? %>
  <span class="user-title"><%= item.title.name %></span>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
