<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.uid.presence || item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="group"><%= tryb { item.gws_main_group(@cur_site).trailing_name } %></span>
  <% if title = item.title(@cur_site) %>
    <span class="user-title"><%= title.name %></span>
  <% end %>
  <% if item.email.present? %>
    <span class="email"><%= mail_to item.email %></span>
  <% end %>
  <% if item.tel_label.present? %>
    <span class="tel"><%= item.tel_label %></span>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
