<%
  disable_image_resizes = SS::ImageResize.allowed?(:disable, @cur_user) && SS::ImageResize.present?
  disable_image_resizes ||= @cur_node.present? && Cms::ImageResize.allowed?(:disable, @cur_user, site: @cur_site, node: @cur_node) && Cms::ImageResize.site(@cur_site).node(@cur_node).present?
%>

<%= jquery do %>
  SS_AjaxFile.errors.entityTooLarge = "<%= I18n.t('errors.messages.request_entity_too_large') %>";
  new SS_AjaxFile(null, {
    indexPath: "<%= url_for(action: :index) %>",
    selectedFilesPath: "<%= url_for(action: :selected_files) %>",
    pathOptions: <%== { file_size: params[:file_size], owner_item_id: params[:owner_item_id], owner_item_type: params[:owner_item_type] }.to_json %>
  });
  SS_SearchUI.modal();
<% end %>

<% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
  <%= form_for :item, url: { action: :create }, html: { class: "user-file", multipart: true } do |f| %>
    <%= error_messages_for :item %>

    <div class="search-ui-form">
      <%= f.file_field :in_files, multiple: :multiple, required: :required %>
      <%= f.select :resizing, @model.resizing_options, { include_blank: t("ss.resize_image") }, { class: "image-size" } %>
      <% if disable_image_resizes %>
        <label>
          <%= f.check_box :disable_image_resizes, {}, true, false %>
          <%= t("ss.disable_image_resizes") %>
        </label>
      <% end %>
      <%= f.submit t("ss.buttons.attach"), class: "save btn", style: "margin-left: 10px;", data: { submitted: "attach" } %>
      <%= f.submit t("ss.buttons.save"), class: "save btn", style: "margin-left: 10px;", data: { submitted: "save", disable_with: t("ss.buttons.saving") } %>
    </div>
  <% end %>
<% end %>

<div class="index user-files">
  <% @items.each do |item| %>
    <%
      data_hash = Hash[%i[id name humanized_name extname url image? thumb_url image_dimension].map { |m| [m, (item.send(m) rescue nil) ] }]
      data_hash[:file_id] = item.id
      data_hash[:size] = number_to_human_size(item.size) rescue nil
      data_hash[:updated] = item.updated.to_i rescue nil
      data_hash[:user_name] = item.user.name if item.user.present?
      if item.sanitizer_state
        data_hash[:sanitizer_state] = item.sanitizer_state
        data_hash[:sanitizer_state_label] = item.label(:sanitizer_state)
      end
    %>
    <%= content_tag(:article, class: "file-view", id: "user-file#{item.id}", data: data_hash) do %>
      <%= sanitizer_status(item) %>
      <%
        opts = { action: :select, id: item }
        opts[:file_size] = true if params[:file_size].present?
        opts[:owner_item_id] = params[:owner_item_id] if params[:owner_item_id].present?
        opts[:owner_item_type] = params[:owner_item_type] if params[:owner_item_type].present?
      %>
      <a class="select" href="<%= url_for opts %>" title="<%= item.humanized_name %>" data-humanized-name="<%= item.humanized_name %>">
        <div class="thumb">
          <% if item.image? %>
            <img src="<%= url_for(action: :thumb, id: item, _: item.updated.to_i) %>" alt="<%= item.humanized_name %>"/>
          <% else %>
            <span class="ext icon-<%= item.extname %>"><%= item.extname %></span>
          <% end %>
        </div>
        <div class="name">
          <%= item.name %>
          <% if params[:file_size] %>
            <br/>
            <span class="file-size"><%= "( #{number_to_human_size(item.size)} )" %></span>
          <% end %>
        </div>
      </a>
      <nav class="menu">
        <% if item.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%= link_to t("ss.buttons.edit"), { action: :edit, id: item, file_size: params[:file_size] }, class: %w(edit ajax-box) %>
        <% end %>
        <% if item.allowed?(:delete, @cur_user, site: @cur_site) %>
          <%= link_to t("ss.buttons.delete"), { action: :destroy, id: item }, class: "delete", "data-remove" => "#user-file#{item.id}" %>
        <% end %>
      </nav>
    <% end %>
  <% end %>
</div>

<div style="clear: both;"></div>

<%= paginate @items if @items.try(:current_page) %>
