<%= cache_component do %>
  <ul class="ss-tree cms-nodes-tree" role="tree">
    <% root_items.each do |folder| %>
      <% if folder.children? %>
        <li class="ss-tree-item" role="treeitem">
          <details class="ss-tree-subtree-wrap">
            <summary>
              <a href="<%= folder.url %>" class="ss-tree-item-link" data-turbo="false" data-node-id="<%= folder.id %>">
                <span class="ss-tree-item-title"><%= folder.name %></span>
              </a>
            </summary>

            <%=
              if folder.children?
                render Cms::NodesTreeComponent::TreeChildren.new(site: site, children: folder.children)
              end
            %>
          </details>
        </li>
      <% else %>
        <li class="ss-tree-item no-children" role="treeitem">
          <a href="<%= folder.url %>" class="ss-tree-item-link" data-turbo="false" data-node-id="<%= folder.id %>">
            <span class="ss-tree-item-title"><%= folder.name %></span>
          </a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
