<%= cache_component do %>
  <ul class="tree" data-controller="ss--tree">
    <% root_items.each do |folder| %>
      <% if folder.children? %>
        <li>
          <details class="tree__details" data-ss--tree-target="details">
            <summary data-action="click->ss--tree#toggle">
              <a href="<%= folder.url %>" data-turbo="false"><%= folder.name %></a>
            </summary>

            <%=
              if folder.children?
                render Cms::NodesTreeComponent::TreeChildren.new(site: site, children: folder.children)
              end
            %>
          </details>
        </li>
      <% else %>
        <li class="no-children" data-ss--tree-target="li">
          <a href="<%= folder.url %>" data-turbo="false"><%= folder.name %></a>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
