<%= jquery do %>
  new Cms_Line_Deliver_Condition
<% end %>

<dl class="see mod-line-member-additional-attributes">
  <dt><%= @item.t(:first_registered) %></dt>
  <dd><%= f.text_field :first_registered, class: 'datetime js-datetime', value: tryb{ @item.first_registered.strftime("%Y/%m/%d %H:%M") } %></dd>

  <dt><%= @item.t(:subscribe_richmenu_id) %></dt>
  <dd><%= f.text_field :subscribe_richmenu_id %></dd>

  <dt><%= @item.t(:subscribe_line_message) %></dt>
  <dd style="margin-bottom: 10px;"><%= f.select :subscribe_line_message, @item.subscribe_line_message_options %></dd>
</dl>

<%= hidden_field_tag "#{f.object_name}[deliver_category_ids][]", nil, id: nil %>
<% Cms::Line::DeliverCategory::Category.site(@cur_site).each_public do |root, children| %>
  <dl class="see deliver-category" <%== root.data_required_html %> style="padding-bottom: 10px;">
    <dt><%= root.name %></dt>
    <dd>
      <% if root.select_type == "select" %>
        <%
          category_options = []
          selected = nil
          children.each do |category|
            selected = category.id if @item.deliver_category_ids.include?(category.id)
            category_options << [category.name, category.id]
          end
          select_options = { class: "select-deliver-category" }
          select_options[:include_blank] = "回答無し" if !root.required?
        %>
        <%= select_tag "#{f.object_name}[deliver_category_ids][]", options_for_select(category_options, selected), select_options %>
      <% elsif root.select_type == "checkbox" %>
        <% children.each do |category| %>
          <label>
            <%= check_box_tag "#{f.object_name}[deliver_category_ids][]", category.id, @item.deliver_category_ids.include?(category.id) %>
            <%= category.name %>
          </label>
        <% end %>
      <% end %>
    </dd>
  </dl>
<% end %>
