<%
  page_count_service = Contact::PageCountService.new(cur_site: @cur_site, cur_user: @cur_user)
  prev_group_id = nil
%>

<div class="main-box">
  <div class="list-head">
    <%
      actions = []
      if Cms::Group.allowed?(:edit, @cur_user, site: @cur_site)
        actions << button_tag(t("ss.links.delete"), type: :button, name: "delete", class: "btn", data: { controller: "ss--list-action", "ss--list-action-action-value" => url_for(action: :destroy, id: ":id", format: :json), "ss--list-action-method-value" => "delete", "ss--list-action-confirm-value" => t('ss.confirm.delete') })
      end
    %>
    <% if actions.present? %>
      <div class="list-head-action">
        <% actions.each do |action| %>
          <%= action %>
        <% end %>
      </div>
    <% end %>
    <div class="list-head-search">
      <% @s ||= OpenStruct.new(params[:s]) %>
      <%= form_with scope: :s, action: url_for(action: :index), method: :get, class: "index-search" do |f| %>
        <%= f.text_field :keyword, id: nil, style: "width: 300px;" %>
        <%= f.submit t("ss.buttons.search"), name: "search", class: "btn" %>
      <% end %>
    </div>
  </div>

  <table class="index">
    <thead class="list-head">
    <tr>
      <% if actions.present? %>
        <th class="checkbox">
          <input type="checkbox" />
        </th>
      <% end %>
      <th class="pages-used">
        <%= t("contact.pages_used_label") %>
        <%= tt "contact/page_count_service.page_count_notice", expire_in: SS::Duration.format(Contact::PageCountService.expires_in) %>
      </th>
      <th class="contact-main-state"><%= SS::Contact.t :main_state %></th>
      <th class="name"><%= SS::Contact.t :name %></th>
      <th class="contact-group-name"><%= SS::Contact.t :contact_group_name %></th>
      <th class="contact-tel"><%= SS::Contact.t :contact_tel %></th>
      <th class="contact-fax"><%= SS::Contact.t :contact_fax %></th>
      <th class="contact-email"><%= SS::Contact.t :contact_email %></th>
      <th class="contact-link-url"><%= SS::Contact.t :contact_link_url %></th>
      <th class="contact-link-name"><%= SS::Contact.t :contact_link_name %></th>
    </tr>
    </thead>
    <tbody class="items">
    <% @items.each do |item| %>
      <% if prev_group_id != item.group.id %>
        <tr class="list-section" data-group-id="<%= item.group.id %>">
          <td colspan="10"><%= link_to item.group.name, cms_group_path(id: item.group.id) %></td>
        </tr>
        <% prev_group_id = item.group.id %>
      <% end %>
      <tr class="list-item" data-id="<%= item.contact.id %>">
        <% if actions.present? %>
          <td>
            <input type="checkbox" name="ids[]" value="<%= item.group.id %>:<%= item.contact.id %>" disabled/>
          </td>
        <% end %>
        <td class="pages-used">
          <%= page_count_service.render(group_id: item.group.id, contact_id: item.contact.id) %>
        </td>
        <td class="contact-main-state"><%= item.contact.main_state == "main" ? tag.span("radio_button_checked", class: "material-icons md-14", title: t("contact.options.main_state.main")) : nil %></td>
        <td class="name"><%= item.contact.name %></td>
        <td class="contact-group-name"><%= item.contact.contact_group_name %></td>
        <td class="contact-tel"><%= item.contact.contact_tel %></td>
        <td class="contact-fax"><%= item.contact.contact_fax %></td>
        <td class="contact-email"><%= item.contact.contact_email %></td>
        <td class="contact-link-url"><%= item.contact.contact_link_url %></td>
        <td class="contact-link-name"><%= item.contact.contact_link_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>

<%= jquery do %>
  $(".list-item").each(function() {
    var $this = $(this);
    var count = $this.find("[data-count]").data("count");
    if (count === 0) {
      $this.find("[type='checkbox']").prop("disabled", false);
    }
  });
<% end %>
