<div class="addon-views">
  <%
    addon_options = {}
    addon_options[:id] = "addon-basic"
    addon_options[:head] = @addon_basic_name || t("ss.basic_info")
  %>
  <% buf = render file: "_show", locals: { addon: addon_options } %>
  <%= render "ss/crud/addon", addon: addon_options do %>
    <%= buf %>
  <% end %>
</div>

<div class="addon-views">
  <%
    addon_options = {}
    addon_options[:id] = "addon-basic"
    addon_options[:head] = I18n.t("translate.views.api")
  %>
  <% buf = render file: "_show_api", locals: { addon: addon_options } %>
  <%= render "ss/crud/addon", addon: addon_options do %>
    <%= buf %>
  <% end %>
</div>

<div class="addon-views">
  <%
    addon_options = {}
    addon_options[:id] = "addon-basic"
    addon_options[:head] = I18n.t("translate.views.api_request_word_limit")
  %>
  <% buf = render file: "_show_api_limit", locals: { addon: addon_options } %>
  <%= render "ss/crud/addon", addon: addon_options do %>
    <%= buf %>
  <% end %>
</div>
