<dl class="see">
  <dt><%= @model.t :image_alt %><%= @model.tt :image_alt %></dt>
  <dd><%= f.text_field :image_alt %></dd>

  <dt><%= @model.t :image_thumb_size %><%= @model.tt :image_thumb_size %></dt>
  <dd class="image-thumb-size short">
    <label class="width">
      <span class="prefix"><%= @model.t :image_thumb_width %></span>
      <%= f.number_field :image_thumb_width %>
    </label>
    <label class="height">
      <span class="prefix"><%= @model.t :image_thumb_height %></span>
      <%= f.number_field :image_thumb_height %>
    </label>
  </dd>

  <dt><%= @model.t :image_comment %><%= @model.tt :image_comment %></dt>
  <dd><%= f.text_area :image_comment %></dd>
</dl>
