<%= render "ss/crud/addon", addon: { id: "cms-all-contents-move-histories", head: t("cms.all_contents_moves.history_head"), toggle: true, display_body: "hide" } do %>
  <table class="index">
    <thead>
      <tr>
        <th><%= t("cms.all_contents_moves.history_executed_at") %></th>
        <th><%= t("cms.all_contents_moves.history_user_name") %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% histories.each do |history| %>
        <tr>
          <td>
            <% if history["executed_at"].present? %>
              <% begin %>
                <%= I18n.l(Time.zone.parse(history["executed_at"]), format: :picker) %>
              <% rescue ArgumentError, TypeError %>
                <%= history["executed_at"] %>
              <% end %>
            <% end %>
          </td>
          <td><%= history["user_name"] %></td>
          <td>
            <%= link_to t("cms.all_contents_moves.show_detail"),
                cms_all_contents_moves_history_path(id: history["dir_name"]),
                class: "btn" %>
            <%= link_to t('ss.links.download'),
                cms_all_contents_moves_history_download_path(id: history["dir_name"], format: :csv),
                class: "btn" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= t("cms.all_contents_moves.history_notice") %></p>
<% end %>
