<div class="inquiry-nodes nodes">
  <table id="forms">
    <caption><%= @cur_node.name %></caption>
    <thead>
      <tr>
        <th><%= @cur_node.class.t :name %></th>
        <th><%= t "inquiry.reception_plan" %></th>
        <% show_aggregation = @items.map(&:aggregation_enabled?).index(true) %>
        <% if show_aggregation %>
          <th><%= t "inquiry.aggregate" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <% if item.reception_enabled? %>
            <%= link_to item.name, item.url %>
          <% else %>
            <%= item.name %>
          <% end %>
        </td>
        <td>
          <% if item.reception_start_date.present? %>
            <%=
              item.reception_start_date.strftime(t("date.formats.long"))
            %><%= t "inquiry.from" %><%=
              item.reception_close_date.strftime(t("date.formats.long"))
            %>
          <% end %>
        </td>
        <% if show_aggregation %>
          <td>
            <% if item.aggregation_enabled? %>
              <%= link_to t("inquiry.aggregate"), "#{item.url}results.html" %>
            <% else %>
              <%= t "inquiry.aggregate" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>
