<%
  @s ||= OpenStruct.new params[:s]
  @current ||= Time.zone.now

  capitals = Gws::Affair::Capital.and_date(@cur_site, Time.zone.now).to_a
  capital_options = capitals.map { |c| [c.name, c.id] }.uniq

  main_group = @cur_user.gws_main_group(@cur_site)
  user_options = Gws::User.in(group_ids: main_group.id).and_enabled.map { |user| [user.long_name, user.id] }

  year_options = ((@current.year - 5)..(@current.year)).map { |y| ["#{y}#{t("datetime.prompts.year")}", y] }.reverse
  month_options = (1..12).map { |m| ["#{m}#{t("datetime.prompts.month")}", m] }

  status_options = %w(result_closed approve request draft).map { |k| [I18n.t("gws/affair.options.overtime_status.#{k}"), k] }

  if @s[:year].blank? || @s[:month].blank?
    @s[:year] = @s[:month] = ""
  end
%>

<div class="list-head-search">
  <%= form_for :s, url: "", html: { class: "index-search", method: :get, autocomplete: :off } do |f| %>
    <% if params[:state] != "mine" %>
      <%= f.select :capital_id, capital_options, include_blank: t("mongoid.models.gws/affair/capital") %>
      <%= f.select :user_id, user_options, include_blank: t("mongoid.models.ss/user") %>
    <% end %>
    <%= f.select :status, status_options, include_blank: "状態" %>
    <%= f.select :year, year_options, include_blank: t("datetime.prompts.year") %>
    <%= f.select :month, month_options, include_blank: t("datetime.prompts.month") %>
    <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
    <%= link_to t('ss.buttons.reset'), { action: :index }, class: "btn", style: "font-weight: normal;" %>
  <% end %>
</div>
