<style>
.gws-attendance {
  width: calc(726px + 36px);
}
.gws-attendance .sheet {
  width: calc(726px + 36px);
  height: calc(1165px + 18px);

  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}
.gws-attendance .sheet .body {
  height: 1165px;
}

.body {
  width: 726px;
}
.body table {
  width: 100%;
  border-collapse: collapse;
}
.body table th {
  text-align: center;
}
.body table td {
  text-align: center;
}
.sheet {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  border-collapse: collapse;
}
.f1 {
  font-size: 10.5pt;
  font-family: 'ＭＳ 明朝';
  color: #000;
}
.bt1 {
  border-top: 1px solid #000;
}
.bt2 {
  border-top: 2px solid #000;
}
.br1 {
  border-right: 1px solid #000;
}
.bl1 {
  border-left: 1px solid #000;
}
.bb1 {
  border-bottom: 1px solid #000;
}
.circle-wrap {
  position: relative;
}
.circle {
  position: absolute;
  top: -6px;
  left: 12px;
}
</style>

<div class="sheet">
  <div class="body">
    <div class="f1" style="height: 21px;">
      様式第2号(第6条関係)
    </div>
    <div class="f1" style="height: 21px; text-align: center;">
      <span class="fiscal-year">
        <%= @item.fiscal_year %>年度
      </span>
      <span style="margin-left: 10px;">出</span>
      <span style="margin-left: 10px;">勤</span>
      <span style="margin-left: 10px;">簿</span>
    </div>
    <div class="f1" style="display: flex; align-items: center; justify-content: space-around;">
      <div class="user-name" style="width: 266px; height: 21px; text-decoration:underline; white-space: nowrap; overflow: hidden;">
        <%= @item.user_name %>
      </div>
      <div class="group-name" style="width: 266px; height: 21px; text-decoration:underline; white-space: nowrap; overflow: hidden;">
        <%= @item.group_name %>
      </div>
    </div>
    <table class="attendance">
      <thead>
        <tr>
          <td class="bt1 br1 bl1 f1" style="width: 120px; height: 35px;" colspan="2"><%= @item.month0.month %>月</td>
          <td class="bt1 br1 bl1 f1" style="width: 120px; height: 35px;" colspan="2"><%= @item.month1.month %>月</td>
          <td class="bt1 br1 bl1 f1" style="width: 120px; height: 35px;" colspan="2"><%= @item.month2.month %>月</td>
          <td class="bt1 br1 bl1 f1" style="width: 120px; height: 35px;" colspan="2"><%= @item.month3.month %>月</td>
          <td class="bt1 br1 bl1 f1" style="width: 120px; height: 35px;" colspan="2"><%= @item.month4.month %>月</td>
          <td class="bt1 br1 bl1 f1" style="width: 120px; height: 35px;" colspan="2"><%= @item.month5.month %>月</td>
        </tr>
      </thead>
      <tbody>
        <% @item.each_date do |dates| %>
          <tr>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[0]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[1]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[2]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[3]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[4]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[5]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[6]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[7]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[8]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[9]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[10]) %></td>
            <td class="bt1 br1 bl1 f1" style="width: 60px; height: 35px;"><%= @item.date_cell(dates[11]) %></td>
          </tr>
        <% end %>
        <% @item.leave_type_options.each_with_index do |(v, k), idx| %>
          <% bt = (idx == 0) ? "bt2" : "bt1" %>
          <tr class="leave <%= k %>">
            <% @item.each_month do |month| %>
              <td class="<%= bt %> br1 bl1 f1" style="width: 60px; height: 35px;"><%= v %></td>
              <td class="count <%= bt %> br1 bl1 f1" style="width: 60px; height: 35px;">
                <%= @item.count_h(@item.leave_count(k, month.month)) %>
              </td>
            <% end %>
          </tr>
        <% end %>
        <tr>
          <% @item.each_month do |month| %>
            <td class="bt1 br1 bl1 bb1 f1" style="width: 60px; height: 35px;">
              <div style="text-indent: 6px; letter-spacing: 6px;">出張</div>
            </td>
            <td class="bt1 br1 bl1 bb1 f1" style="width: 60px; height: 35px;">
              <span style="visibility: hidden;">000</span>日
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
