<%

return if @items.blank?
wrap_id = "key_visual-images-#{@items[0].id}"
target  = @cur_part.link_target.present? ? %(target="#{@cur_part.link_target}") : nil
opts = {}
opts['speed'] = @cur_part.kv_speed if @cur_part.kv_speed.present?
opts['pause'] = @cur_part.kv_pause if @cur_part.kv_pause.present?
%>
<%= jquery do %>
  KeyVisual_Image.slide("#<%= wrap_id %>", <%== opts.to_json %>);
<% end %>

<div class="key_visual-slide" id="<%= wrap_id %>">
  <%== @cur_part.upper_html if @cur_part.upper_html.present? %>

  <ul class="images">
    <% @items.each do |item| %>
    <% file = item.file %>
    <% next unless file %>

    <li>
      <% if item.link_url.present? %>
        <a href="<%= item.link_url %>" <%== target %>><%= image_tag file.url, alt: item.name %></a>
      <% else %>
        <%= image_tag file.url, alt: item.name %>
      <% end %>
    </li>
    <% end %>
  </ul>

  <div class="bx-thumbs">
    <% @items.each_with_index do |item, idx| %>
    <% file = item.file %>
    <% next unless file %>
      <a data-slide-index="<%= idx %>" href="">
        <%= image_tag file.url.sub(/(\/[^\/]+)$/, '/thumb\\1'), alt: item.name %></a>
    <% end %>
  </div>

  <%== @cur_part.lower_html if @cur_part.lower_html.present? %>
</div>

