<dl class="see">
  <dt><%= @model.t :webmail_role_ids %><%= @model.tt :webmail_role_ids %></dt>
  <dd>
    <%= f.hidden_field "webmail_role_ids[]", value: "", id: nil %>

    <% Webmail::Role.order_by(name: 1).each do |role| %>
    <label><%= f.check_box("webmail_role_ids[]", {}, role.id) %> <%= role.name %></label><br />
    <% end %>
  </dd>
</dl>
