<%= jquery do %>
$('#item-form').submit(function(){
  if ($("#item_in_revision_csv_file").val()) {
    if (!confirm('<%= I18n.t("chorg.messages.import_revision_file_confirmation") %>')) {
      return false;
    }
  }
});
<% end %>

<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :revision_csv_file_id %><%= @model.tt :revision_csv_file_id %></dt>
  <dd><%= f.file_field :in_revision_csv_file %></dd>
  <dd><%= link_to t("ss.links.download_sample_csv"), { action: :download_sample_csv } %></dd>

  <dt><%= @model.t :user_csv_file_id %><%= @model.tt :user_csv_file_id %></dt>
  <dd><%= f.file_field :in_user_csv_file %></dd>
  <% if @item.user_csv_file %>
  <dd><label><%= f.check_box :rm_user_csv_file %><%= t('ss.buttons.delete') %> (<%= @item.user_csv_file.filename %>)</label></dd>
  <% end %>

  <% if @model == ::Chorg::Revision %>
    <dt><%= @model.t :content_csv_file_id %><%= @model.tt :content_csv_file_id %></dt>
    <dd><%= f.file_field :in_content_csv_file %></dd>
    <% if @item.content_csv_file %>
    <dd><label><%= f.check_box :rm_content_csv_file %><%= t('ss.buttons.delete') %> (<%= @item.content_csv_file.filename %>)</label></dd>
    <% end %>

    <dt><%= @model.t :target_site_ids %><%= @model.tt :target_site_ids %></dt>
    <dd>
      <%= f.hidden_field "target_site_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("cms.apis.sites.index"), cms_apis_sites_path, class: "ajax-box" %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead>
        <tr>
          <th class="name"><%= t("mongoid.models.cms/site") %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @item.target_sites.each do |site| %>
            <tr data-id="<%= site.id %>">
              <td><%= f.hidden_field "target_site_ids[]", value: site.id %> <%= site.host %></td>
              <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  <% end %>

  <dt><%= @model.t :delete_method %><%= @model.tt :delete_method %></dt>
  <dd><%= f.select :delete_method, @item.delete_method_options %></dd>
</dl>
