<dt class="chorg-revisions-<%= type %>"><%= t :"chorg.views.revisions/#{params[:action]}.#{type}" %></dt>
<dd class="chorg-revisions-<%= type %>">
  <%= link_to :"chorg.menus.revisions.add", new_chorg_changesets_changeset_path(rid: @item, type: "add"), class: :btn %>
  <table class="index">
    <thead><tr><th><%= t("chorg.views.revisions/#{params[:action]}.#{type}_description") %></th></tr></thead>
    <tbody>
    <% changesets.each do |changeset| %>
      <tr class="list-item">
        <td>
          <%= link_to changeset.add_description, chorg_changesets_changeset_path(rid: @item, type: changeset.type, id: changeset) %>
          <nav class="tap-menu">
            <%= link_to :show, chorg_changesets_changeset_path(rid: @item, type: changeset.type, id: changeset) %>
            <%= link_to :edit, edit_chorg_changesets_changeset_path(rid: @item, type: changeset.type, id: changeset) %>
            <%= link_to :delete, delete_chorg_changesets_changeset_path(rid: @item, type: changeset.type, id: changeset) %>
          </nav>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</dd>
