<%= jquery do %>
$(".gws-schedule-search-times-result .hour-wrap").on({
  mouseenter: function(){
    var plans = $(this).data("plans");
    if (plans) {
      var user_name = "";
      $.each(plans, function (idx, plan) {
        user_name += '<p>' + plan["user_section_name"] + '<\p>';
        user_name += '<p>' + plan["user_long_name"] + '<\p>';
      });
      $(this).append('<div class="user-tooltip">' + user_name + '</div>');

      var popup = $(this).find(".user-tooltip");
      popup.css("top", popup.position().top - $("#cboxLoadedContent").scrollTop());
      popup.css("left", popup.position().left - $("#cboxLoadedContent").scrollLeft());

      if (!$("#cboxLoadedContent").hasClass("scroll-user-tooltip")){
        $("#cboxLoadedContent").on("scroll", function(){
          $(".gws-schedule-search-overall-result .user-tooltip").remove();
        });
        $("#cboxLoadedContent").addClass("scroll-user-tooltip");
      }
    }
  },
  mouseleave: function(){
    $(this).find(".user-tooltip").remove();
  }
});
<% end %>

<section class="gws-schedule-box gws-schedule-search">
  <div class="gws-schedule-search-overall-result">
    <span class="datetime-wrap start"><%= l(@start_on, format: :gws_long) rescue nil %></span>
    <span class="delimiter">-</span>
    <span class="datetime-wrap end"><%= l(@end_on, format: :gws_long) rescue nil %></span>
    <span class="reservation-valid <%= @plan.reservation_status == 'exist' ? 'exist' : 'free' %>"><%= t("gws/schedule.facility_reservation.#{@plan.reservation_status}") %></span>
    <% if @plan.reservation_status == 'registered' %>
      <div class="duplicate-register-message">
        <%= t('gws/schedule.facility_reservation.duplicate_register_message') %>
      </div>
    <% end %>
    <% if @min_minutes_limit || @max_minutes_limit %>
      <div class="minutes-limit">
        <span class="minutes-limit-text"><%= Gws::Facility::Item.t(:minutes_limit) %></span>
        <% if @min_minutes_limit %>
          <span class="min-minutes-limit">
            <%= @min_minutes_limit.to_s(:delimited) %>
            <%= I18n.t('gws/facility.prompts.minutes') %>
          </span>
        <% end %>
        <span class="delimiter">-</span>
        <% if @max_minutes_limit %>
          <span class="max-minutes-limit">
            <%= @max_minutes_limit.to_s(:delimited) %>
            <%= I18n.t('gws/facility.prompts.minutes') %>
          </span>
        <% end %>
      </div>
    <% end %>
    <% if @plan.reservation_errors.present? %>
      <div class="reservation-errors">
        <% @plan.reservation_errors.each do |error| %>
          <p class="reservation-error"><%= error.message %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="gws-schedule-search-times-result">
    <% @items.each do |date, hours| %>

      <% if @time_search.facilities.blank? %>
        <%= I18n.t('gws/schedule.errors.not_found_reservable_facilities') %>
      <% end %>

      <% @time_search.facilities.each do |facility| %>
      <div class="date <%= date.strftime('%a').downcase %>">
        <p class="label">
          <%= content_tag(:time, datetime: l(date, format: :iso), title: l(date, format: :gws_long)) do %>
            <%= l(date, format: :gws_long) %>
          <% end rescue nil %>
        </p>
        <p class="facility"><%= facility.name %></p>
        <% overall_exist = 'free' %>
        <% @time_search.hours.each do |hour| %>
          <% wrap_classes = %w(hour-wrap) %>
          <% wrap_classes << 'active' if @hour_range[date].present? && @hour_range[date].include?(hour) %>
          <% css_classes = %w(hour) %>

          <% if hours[1][facility.id].present? %>
            <% css_classes << (hours[1][facility.id].include?(hour) ? 'free' : 'exist') %>
          <% else %>
            <% css_classes << 'exist' %>
          <% end %>

          <% data_plan = hours[2].dig(facility.id, hour) %>
          <span class="<%= wrap_classes.join(' ') %>" data-plans="<%= data_plan ? data_plan.to_json : "" %>">
            <span class="<%= css_classes.join(' ') %>"><%= hour %></span>
          </span>
          <% next unless css_classes.include?('exist') %>
          <% next unless wrap_classes.include?('active') %>
          <% overall_exist = @cur_user.gws_role_permit_any?(@cur_site, :duplicate_private_gws_facility_plans) ? 'registered' : 'exist' %>
        <% end %>
        <p class="reservation <%= overall_exist %>"><%= t("gws/schedule.facility_reservation.#{overall_exist}") %></p>
      </div>
      <% end %>
    <% end %>
  </div>

  <footer class="send mt-4">
    <%= button_tag t('ss.buttons.close'), class: 'btn-default cancel', type: :reset %>
  </footer>
</section>
