<%
  return if @item.respond_to?(:branch?) && @item.branch?
  return if @item.latest_check_links_report.nil?

  error = @item.check_links_error
  label = t("cms.notices.check_links_report_created", time: @item.latest_check_links_report.created.strftime("%Y/%m/%d %H:%M"))

  return if error.nil?
%>
<dl class="see mod-cms-check_links">
  <dd class="wide">
    <%= "#{error.t(:urls)}#{error.urls.size}#{t("ss.units.count")}" %>
    <%= "（" %>
    <%= link_to t("cms.links.check_preview"), cms_preview_path(path: @item.preview_path) %>
    <%= "）" %>
    <span style="margin-left: 10px;"><%= label %></span>

    <table class="index" style="margin-top: 10px;">
      <tbody>
        <% error.urls.each do |url| %>
         <tr><td><%= url %></td></tr>
        <% end %>
      </tbody>
    </table>

    <!-- <%= link_to t("ss.links.show"), error.private_show_path, class: "title" %> -->
  </dd>
</dl>
