<%
  return if @item.try(:branch?)

  report = @item.try(:latest_check_links_report)
  return if report.blank?

  error = @item.check_links_error
  return if error.nil?
%>

<div class="cms-notice check-links" data-id="<%= report.id %>" data-timestamp="<%= report.created.iso8601 %>">
  <h2><%= t("cms.notices.check_links_report_header", count: error.urls.size.to_fs(:delimited), time: I18n.l(report.created, format: :picker)) %></h2>
  <p><%= t("cms.notices.check_links_report_body") %></p>
  <ul>
    <% error.urls.each do |url| %>
      <li><%= url %></li>
    <% end %>
  </ul>

  <p style="font-weight: bold; padding-top: 2px; color: red;"><%= t("cms.notices.check_links_report_annotation") %></p>
</div>
