<nav class="mod-navi">
  <h2><%= t "cms.site_config" %></h2>
  <h3><%= link_to :"cms.site_info", cms_site_path %></h3>

  <% if Cms::Group.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.group", cms_groups_path %></h3>
  <% end %>
  <% if Cms::User.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.user", cms_users_path %></h3>
  <% end %>
  <% if Cms::Role.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.role", cms_roles_path %></h3>
  <% end %>
  <% if Workflow::Route.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"workflow.name", workflow_routes_path %></h3>
  <% end %>
  <% if Cms::Member.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.member", cms_members_path %></h3>
  <% end %>
  <% if Cms::Notice.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.notice", cms_notices_path %></h3>
  <% end %>
  <% if Cms::EditorTemplate.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.editor_template", cms_editor_templates_path %></h3>
  <% end %>
  <% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.theme_template", cms_theme_templates_path %></h3>
  <% end %>
  <% if Cms::BodyLayout.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.body_layout", cms_body_layouts_path %></h3>
  <% end %>
  <% if Cms::PageSearch.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.page_search", cms_page_searches_path %></h3>
  <% end %>
  <% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.postal_code", cms_postal_codes_path %></h3>
  <% end %>
  <% if SS.config.kana.disable.blank? && Kana::Dictionary.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"kana.dictionary", kana_dictionaries_path %></h3>
  <% end %>
  <% if Chorg::Revision.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"chorg.revision", chorg_revisions_revisions_path %></h3>
  <% end %>
  <% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"ldap", ldap_server_path %></h3>
  <% end %>
  <% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"cms.link_check", cms_check_links_path %></h3>
  <% end %>
  <% if SS.config.voice.disable.blank? && Voice::File.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"voice.file", voice_files_path %></h3>
  <% end %>
  <% if Cms::Tool.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"job.main", job_cms_main_path %></h3>
  <% end %>
  <% if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to :"history.log", history_cms_logs_path %></h3>
  <% end %>
</nav>
