<%
## controller.navi_view_file
## - cms/main/navi
## - cms/node/main/navi
## - cms/main/conf_navi
## - article/main/navi
## - ...etc
%>
<% return if controller.navi_view_file == "cms/main/conf_navi" %>
<% return if controller.navi_view_file != "cms/main/navi" && @cur_node.blank? %>

<nav class="main-navi">
  <%= link_to t("cms.node"), @cur_node ? node_nodes_path : cms_nodes_path, class: "icon-ss icon-node" %>

  <% if Cms::Page.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to t("cms.page"), @cur_node ? node_pages_path : cms_pages_path, class: "icon-ss icon-page" %>
  <% end %>
  <% if Cms::Part.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to t("cms.part"), @cur_node ? node_parts_path : cms_parts_path, class: "icon-ss icon-part" %>
  <% end %>
  <% if Cms::Layout.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to t("cms.layout"), @cur_node ? node_layouts_path : cms_layouts_path, class: "icon-ss icon-layout" %>
  <% end %>
  <% if @cur_node && @cur_node.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to t("cms.node_config"), node_conf_path, class: "icon-ss icon-material icon-material-settings" %>
  <% end %>

  <%
    etc_menus = []
    if @cur_node
      if @cur_node.allowed?(:import, @cur_user, site: @cur_site, owned: true)
        etc_menus << SS::MenuItem.new(label: t("cms.import_node"), path_proc: ->{ node_import_path }, css_classes: %w(icon-material icon-material-import-node))
      end
    elsif Cms::Node.allowed?(:import, @cur_user, site: @cur_site, node: @cur_node, owned: true)
      etc_menus << SS::MenuItem.new(label: t("cms.import_node"), path_proc: ->{ cms_import_path }, css_classes: %w(icon-material icon-material-import-node))
    end
    if @cur_node
      if @cur_node.allowed?(:edit, @cur_user, site: @cur_site)
        etc_menus << SS::MenuItem.new(label: t("cms.generate_node"), path_proc: ->{ node_generate_nodes_path }, css_classes: %w(icon-ss icon-write))
        etc_menus << SS::MenuItem.new(label: t("cms.generate_page"), path_proc: ->{ node_generate_pages_path }, css_classes: %w(icon-ss icon-write))
      end
    else
      if Cms::Node.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node)
        etc_menus << SS::MenuItem.new(label: t("cms.generate_node"), path_proc: ->{ cms_generate_nodes_path }, css_classes: %w(icon-ss icon-write))
      end
      if Cms::Page.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node)
        etc_menus << SS::MenuItem.new(label: t("cms.generate_page"), path_proc: ->{ cms_generate_pages_path }, css_classes: %w(icon-ss icon-write))
      end
    end
    if Cms::Tool.allowed?(:read, @cur_user, site: @cur_site)
      etc_menus << :batch_operation
      etc_menus << SS::MenuItem.new(label: t("cms.csv_export_node"), path_proc: ->{ @cur_node ? download_node_nodes_path : download_cms_nodes_path }, css_classes: %w(icon-ss icon-export indent))
      etc_menus << SS::MenuItem.new(label: t("cms.csv_import_node"), path_proc: ->{ @cur_node ? import_node_nodes_path : import_cms_nodes_path }, css_classes: %w(icon-ss icon-import indent))
    end
  %>
  <% if etc_menus.present? %>
    <div class="dropdown dropdown-toggle">
      <%= tag.span t("cms.etc"), class: "icon-ss icon-material icon-material-more-horiz" %>
      <ul class="dropdown-menu dropdown-menu--white">
        <% etc_menus.each do |etc_menu| %>
          <% if etc_menu == :batch_operation %>
            <li><hr></li>
            <li><span class="corner-name"><%= t("cms.batch_operation") %></span></li>
          <% else %>
            <li><%= link_to etc_menu.label, etc_menu.path, class: etc_menu.css_classes %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</nav>
