<% search_folders = Cms::PageSearch.site(@cur_site).allow(:read, @cur_user, site: @cur_site).order_by(order: 1) %>
<% if search_folders.present? %>
  <nav class="main-navi">
    <% search_folders.each do |search_folder| %>
      <h2><%= link_to search_folder.name, cms_page_search_contents_path(id: search_folder), class: "icon-search" %></h2>
    <% end %>
  </nav>
<% end %>

<nav class="main-navi">
  <h2><%= link_to t("cms.shortcut"), cms_files_path, class: "icon-material icon-material-shortcut" %></h2>

  <% if Cms::Line::Message.allowed?(:read, @cur_user, site: @cur_site) %>
    <h2><%= link_to t("cms.line"), cms_line_messages_path, class: "icon-conv" %></h2>
  <% end %>

  <h2><%= link_to t("cms.file"), cms_files_path, class: "icon-conv" %></h2>
  <h2><%= link_to t("cms.search_contents"), cms_search_contents_pages_path, class: "icon-conv" %></h2>

  <% if Cms::CheckLinks::Report.allowed?(:use, @cur_user, site: @cur_site) %>
    <h2><%= link_to t("modules.cms/check_links"), cms_check_links_path, class: "icon-conv" %></h2>
  <% end %>

  <% if Inquiry::Answer.allowed?(:read, @cur_user, site: @cur_site) && @cur_site.inquiry_form_id.present? %>
    <h2><%= link_to t("mongoid.models.inquiry/answer"), inquiry_site_answers_path, class: "icon-conv" %></h2>
  <% end %>

  <% if Cms::Command.allowed?(:use, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to t("cms.command"), cms_command_path, class: "icon-write" %></h2>
  <% end %>

  <% if @cur_user.cms_role_permit_any?(@cur_site, :use_cms_all_contents) %>
    <h2><%= link_to t("cms.all_contents"), cms_all_contents_path, class: "icon-write" %></h2>
  <% end %>
  <h2><%= link_to t("cms.site_config"), cms_site_path, class: "icon-conf" %></h2>

  <% if History::Trash.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to History::Trash.model_name.human, history_cms_trashes_path, class: "icon-trash" %></h2>
  <% end %>
</nav>

<%= render partial: 'cms/agents/addons/content_quota/navi' %>
