<nav class="main-menu">
  <header><h1><%= t :"cms.root_menu" %></h1></header>
  <div>
    <%= link_to :"cms.content", cms_contents_path, class: "icon-content" %>
    <%= link_to :"cms.node", cms_nodes_path, class: "icon-node" %>
    <%= link_to :"cms.page", cms_pages_path, class: "icon-page" if Cms::Page.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.part", cms_parts_path, class: "icon-part" if Cms::Part.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.layout", cms_layouts_path, class: "icon-layout" if Cms::Layout.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.generate_node", cms_generate_nodes_path, class: "icon-conf" if Cms::Node.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <%= link_to :"cms.generate_page", cms_generate_pages_path, class: "icon-conf" if Cms::Page.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
  </div>
</nav>

<nav class="main-menu">
  <header><h1><%= t :"cms.site_menu" %></h1></header>
  <div>
    <%= link_to :"cms.view_site", @cur_site.full_url, target: "_blank" %>
    <%= link_to :"cms.preview_site", cms_preview_path, target: "_blank" %>
  </div>
</nav>

<nav class="main-menu">
  <header><h1><%= t :"cms.config" %></h1></header>
  <div>
    <%= link_to :"cms.site", cms_site_path  %>
    <%= link_to :"cms.role", cms_roles_path if Cms::Role.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.user", cms_users_path if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.group", cms_groups_path if Cms::Group.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.member", cms_members_path if Cms::Group.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"history.log", history_cms_logs_path if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
  </div>
</nav>
