<nav class="main-navi">
  <h2><%= link_to :"cms.content", cms_contents_path, class: "icon-content" %></h2>
  <h2><%= link_to :"cms.node", cms_nodes_path, class: "icon-node" %></h2>

  <% if Cms::Page.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.page", cms_pages_path, class: "icon-page" %></h2>
  <% end %>
  <% if Cms::Part.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.part", cms_parts_path, class: "icon-part" %></h2>
  <% end %>
  <% if Cms::Layout.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.layout", cms_layouts_path, class: "icon-layout" %></h2>
  <% end %>
  <% if Cms::Node.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.generate_node", cms_generate_nodes_path, class: "icon-conf" %></h2>
  <% end %>
  <% if Cms::Page.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.generate_page", cms_generate_pages_path, class: "icon-conf" %></h2>
  <% end %>
  <% if Cms::Node.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <% if @cur_node %>
      <h2><%= link_to :"cms.import", node_import_path, class: "icon-conf" %></h2>
    <% else %>
      <h2><%= link_to :"cms.import_node", cms_import_path, class: "icon-conf" %></h2>
    <% end %>
  <% end %>
</div>
</nav>

<nav class="main-menu">
<header><h1><%= t :"cms.config" %></h1></header>
<div>
  <%= link_to :"cms.site", cms_site_path %>
  <%= link_to :"cms.search_contents", cms_search_contents_pages_path %>
  <%= link_to :"cms.file", cms_files_path %>

  <% if Cms::Role.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.role", cms_roles_path %>
  <% end %>
  <% if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.user", cms_users_path %>
  <% end %>
  <% if Cms::Group.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.group", cms_groups_path %>
  <% end %>
  <% if Cms::Group.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.member", cms_members_path %>
  <% end %>
  <% if Cms::EditorTemplate.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.editor_template", cms_editor_templates_path %>
  <% end %>
  <% if Workflow::Route.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"workflow.name", workflow_routes_path %>
  <% end %>
  <% if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"ldap", ldap_import_index_path %>
  <% end %>
  <% if Chorg::Revision.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"chorg.revision", chorg_revisions_revisions_path %>
  <% end %>
  <% if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.link_check", cms_check_links_path %>
  <% end %>
  <% if SS.config.kana.disable.blank? && Kana::Dictionary.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"kana.dictionary", kana_dictionaries_path %>
  <% end %>
  <% if SS.config.voice.disable.blank? && Voice::File.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"voice.file", voice_files_path %>
  <% end %>
  <% if SS.config.job.disable_log.blank? && Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"job.log", job_cms_logs_path %>
  <% end %>
  <% if Cms::User.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to :"history.log", history_cms_logs_path %>
  <% end %>
  <% if Cms::Notice.allowed?(:read, @cur_user, site: @cur_site) %>
    <%= link_to :"cms.notice", cms_notices_path %>
  <% end %>
</nav>
