<%= render Cms::PageSearchNaviComponent.new(cur_site: @cur_site, cur_user: @cur_user) %>

<nav class="main-navi">
  <h2><%= link_to t("cms.shortcut"), cms_contents_path, class: "icon-material icon-material-shortcut" %></h2>

  <%= render Cms::ShortCutNaviComponent.new(cur_site: @cur_site, cur_user: @cur_user, cur_node: @cur_node) %>

  <% if Cms::Line::Message.allowed?(:read, @cur_user, site: @cur_site) %>
    <h2><%= link_to t("cms.line"), cms_line_messages_path, class: "icon-conv" %></h2>
  <% end %>

  <h2><%= link_to t("cms.file"), cms_files_path, class: "icon-conv" %></h2>
  <h2><%= link_to t("cms.search_contents"), cms_search_contents_pages_path, class: "icon-conv" %></h2>

  <% if Cms::CheckLinks::Report.allowed?(:use, @cur_user, site: @cur_site) %>
    <h2><%= link_to t("modules.cms/check_links"), cms_check_links_path, class: "icon-conv" %></h2>
  <% end %>

  <% if Inquiry::Answer.allowed?(:read, @cur_user, site: @cur_site) && @cur_site.inquiry_form_id.present? %>
    <h2><%= link_to t("mongoid.models.inquiry/answer"), inquiry_site_answers_path, class: "icon-conv" %></h2>
  <% end %>

  <% if Cms::Command.allowed?(:use, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to t("cms.command"), cms_command_path, class: "icon-write" %></h2>
  <% end %>

  <% if @cur_user.cms_role_permit_any?(@cur_site, :use_cms_all_contents) %>
    <h2><%= link_to t("cms.all_contents"), cms_all_contents_path, class: "icon-write" %></h2>
  <% end %>

  <% if @cur_site.page_expiration_enabled? && @cur_user.cms_role_permit_any?(@cur_site, :edit_cms_page_expiration_settings) %>
    <h2><%= link_to t("cms.links.page_expiration_setting"), cms_page_expiration_settings_path, class: "icon-conf" %></h2>
  <% end %>

  <h2><%= link_to t("cms.site_config"), cms_site_path, class: "icon-conf" %></h2>

  <% if History::Trash.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to History::Trash.model_name.human, history_cms_trashes_path, class: "icon-trash" %></h2>
  <% end %>

  <h2><%= link_to t("cms.content_quota_navi"), cms_apis_content_quota_navi_path, class: "icon-conf ajax-box" %></h2>
</nav>
