<nav class="main-navi">
  <h2><%= link_to :"cms.content", cms_contents_path, class: "icon-content" %></h2>
  <h2><%= link_to :"cms.node", cms_nodes_path, class: "icon-node" %></h2>

  <% if Cms::Page.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.page", cms_pages_path, class: "icon-page" %></h2>
  <% end %>
  <% if Cms::Part.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.part", cms_parts_path, class: "icon-part" %></h2>
  <% end %>
  <% if Cms::Layout.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.layout", cms_layouts_path, class: "icon-layout" %></h2>
  <% end %>

  <h2><%= link_to :"cms.file", cms_files_path, class: "icon-conf" %></h2>
  <h2><%= link_to :"cms.search_contents", cms_search_contents_pages_path, class: "icon-conf" %></h2>

  <% if Cms::Node.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.generate_node", cms_generate_nodes_path, class: "icon-conf" %></h2>
  <% end %>
  <% if Cms::Page.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <h2><%= link_to :"cms.generate_page", cms_generate_pages_path, class: "icon-conf" %></h2>
  <% end %>

  <% if Cms::Node.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
    <% if @cur_node %>
      <h2><%= link_to :"cms.import", node_import_path, class: "icon-conf" %></h2>
    <% else %>
      <h2><%= link_to :"cms.import_node", cms_import_path, class: "icon-conf" %></h2>
    <% end %>
  <% end %>

  <!-- //TODO: -->
  <% if true %>
    <h2><%= link_to :"cms.site_config", cms_site_path, class: "icon-conf" %></h2>
  <% end %>

</nav>
