<%= jquery do %>
  var baseUrl = <%== url_for({ action: :index, year_month: ':YEAR_MONTH' }).to_json %>;
  $('.gws-daily-report-year-month-navi select[name=year_month]').on('change', function() {
    var val = $(this).val();
    location.href = baseUrl.replace(':YEAR_MONTH', val);
  });
<% end %>

<div class="gws-tabs">
  <% @cur_user.groups.in_group(@cur_site).each do |group| %>
    <%= link_to gws_daily_report_group_share_reports_path(group: group.id), class: "#{'current' if group.id == @group.id}" do %>
      <span class="tab-name"><%= group.trailing_name %></span>
    <% end %>
  <% end %>
</div>

<section class="main-box gws-daily-report-box">
  <header>
    <h2>
      <%= @group.trailing_name %>
    </h2>
    <nav>
      <%= render template: '_search' %>
    </nav>
  </header>
  <div class="gws-category-navi gws-daily-report-year-month-navi">
    <%= select_tag(:year_month, options_for_select(year_month_options, params[:year_month])) %>
    <% if @cur_month.last_month >= @active_year_range.first %>
      <%= link_to(t('gws/attendance.prev_month'), { action: :index, year_month: @cur_month.last_month.strftime('%Y%m') }, class: :btn) %>
    <% end %>
    <% if @cur_month.next_month <= @active_year_range.last %>
      <%= link_to(t('gws/attendance.next_month'), { action: :index, year_month: @cur_month.next_month.strftime('%Y%m') }, class: :btn) %>
    <% end %>
  </div>
  <div class="table-wrap">
    <table class="index">
      <tbody>
      <% @items.where(form_id: @forms.first.try(:id)).each do |report| %>
        <% next if report.share_small_talk.blank? && report.share_column_ids.blank? %>
        <tr>
          <td><%= link_to I18n.l(report.daily_report_date.to_date, format: :short), gws_daily_report_user_reports_path(user: report.user_id) %></td>
          <td><%= t("date.abbr_day_names")[report.daily_report_date.wday] %></td>
          <td><%= gws_public_user_long_name(report.user.long_name) %></td>
          <% if report.share_small_talk.present? %>
            <td class="share-cell">
              <div class="share-value"><%= t('gws/daily_report.shared') %></div>
              <div class="report-value-wrap">
                <div class="report-value">【<%= @model.t(:small_talk) %>】<%= br report.small_talk %></div>
              </div>
              <% report.column_comments('small_talk').each do |comment| %>
                <div class="comment-value"><%= br comment.body %>(<%= comment.user.try(:name) %>)</div>
              <% end %>
            </td>
          <% end %>
          <% report.column_values.each do |column_value| %>
            <% if report.share_column_ids.include?(column_value.column.id.to_s) %>
              <td class="share-cell">
                <div class="share-value"><%= t('gws/daily_report.shared') %></div>
                <div class="report-value-wrap">
                  <div class="report-value">【<%= column_value.column.try(:name) %>】<%= br column_value.value %></div>
                </div>
                <% report.column_comments(column_value.column_id).each do |comment| %>
                  <div class="comment-value"><%= br comment.body %>(<%= comment.user.try(:name) %>)</div>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
