<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:stimulus] = true
  page_count_service = Contact::PageCountService.new(cur_site: @cur_site, cur_user: @cur_user)
%>
<% render_row = proc do |contact_group| %>
  <tr data-id="<%= contact_group.try(:id) || "new" %>">
    <td class="operations">
      <%= button_tag t("ss.buttons.delete"), type: "button", name: "delete", class: "btn btn-delete", disabled: contact_group.present? %>
    </td>
    <td class="pages-used">
      <%=
        if contact_group
          page_count_service.render(group_id: @item.id, contact_id: contact_group.id)
        end
      %>
    </td>
    <td class="contact-main-state">
      <label>
        <%# hidden field is required before radio button %>
        <%= hidden_field_tag "#{f.object_name}[contact_groups][][main_state]", "", id: nil %>
        <%= radio_button_tag "#{f.object_name}[contact_groups][][main_state]", "main", contact_group.try(:main_state) == "main", id: nil %>
        <%= t("contact.options.main_state.main") %>
      </label>
    </td>
    <td class="name">
      <%= text_field_tag "#{f.object_name}[contact_groups][][name]", contact_group.try(:name), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-group-name">
      <% if contact_group %>
        <%= hidden_field_tag "#{f.object_name}[contact_groups][][_id]", contact_group.try(:id), id: nil, style: "width: 100%;" %>
      <% end %>
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_group_name]", contact_group.try(:contact_group_name), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-tel">
      <%= tag.input type: "tel", name: "#{f.object_name}[contact_groups][][contact_tel]", value: contact_group.try(:contact_tel), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-fax">
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_fax]", contact_group.try(:contact_fax), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-email">
      <%= email_field_tag "#{f.object_name}[contact_groups][][contact_email]", contact_group.try(:contact_email), id: nil, style: "width: 100%;" %>
    </th>
    <td class="contact-link-url">
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_link_url]", contact_group.try(:contact_link_url), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-link-name">
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_link_name]", contact_group.try(:contact_link_name), id: nil, style: "width: 100%;" %>
    </td>
  </tr>
<% end %>

<div class="contact-groups-table-wrap">
  <table class="contact-groups-table">
    <thead>
    <tr>
      <th class="operations">
        <%= button_tag t("ss.buttons.add"), type: "button", name: "add", class: "btn btn-add" %>
      </th>
      <th class="pages-used">
        <%= t("contact.pages_used_label") %>
        <%= tt "contact/page_count_service.page_count_notice", expire_in: SS::Duration.format(Contact::PageCountService.expires_in) %>
      </th>
      <th class="contact-main-state"><%= SS::Contact.t :main_state %><%= SS::Contact.tt :main_state %></th>
      <th class="name"><%= SS::Contact.t :name %><%= SS::Contact.tt :name %></th>
      <th class="contact-group-name"><%= SS::Contact.t :contact_group_name %><%= SS::Contact.tt :contact_group_name %></th>
      <th class="contact-tel"><%= SS::Contact.t :contact_tel %><%= SS::Contact.tt :contact_tel %></th>
      <th class="contact-fax"><%= SS::Contact.t :contact_fax %><%= SS::Contact.tt :contact_fax %></th>
      <th class="contact-email"><%= SS::Contact.t :contact_email %><%= SS::Contact.tt :contact_email %></th>
      <th class="contact-link-url"><%= SS::Contact.t :contact_link_url %><%= SS::Contact.tt :contact_link_url %></th>
      <th class="contact-link-name"><%= SS::Contact.t :contact_link_name %><%= SS::Contact.tt :contact_link_name %></th>
    </tr>
    </thead>
    <tbody>
    <% @item.contact_groups.each do |contact_group| %>
      <% render_row.call(contact_group) %>
    <% end %>
    <% render_row.call(nil) %>
    </tbody>
  </table>
  <template id="new-contact-group-row">
    <% render_row.call(nil) %>
  </template>
</div>
