<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:stimulus] = true
%>
<% render_row = proc do |contact_group| %>
  <tr data-id="<%= contact_group.try(:id) || "new" %>">
    <td class="operations">
      <%= button_tag t("ss.buttons.delete"), type: "button", name: "add", class: "btn btn-delete" %>
      <%= button_tag t("ss.buttons.add"), type: "button", name: "add", class: "btn btn-add" %>
    </td>
    <td class="contact-group-name">
      <% if contact_group %>
        <%= hidden_field_tag "#{f.object_name}[contact_groups][][id]", contact_group.try(:id), id: nil, style: "width: 100%;" %>
      <% end %>
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_group_name]", contact_group.try(:contact_group_name), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-tel">
      <%= tag.input type: "tel", name: "#{f.object_name}[contact_groups][][contact_tel]", value: contact_group.try(:contact_tel), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-fax">
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_fax]", contact_group.try(:contact_fax), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-email">
      <%= email_field_tag "#{f.object_name}[contact_groups][][contact_email]", contact_group.try(:contact_email), id: nil, style: "width: 100%;" %>
    </th>
    <td class="contact-link-url">
      <%= url_field_tag "#{f.object_name}[contact_groups][][contact_link_url]", contact_group.try(:contact_link_url), id: nil, style: "width: 100%;" %>
    </td>
    <td class="contact-link-name">
      <%= text_field_tag "#{f.object_name}[contact_groups][][contact_link_name]", contact_group.try(:contact_link_name), id: nil, style: "width: 100%;" %>
    </td>
  </tr>
<% end %>

<div class="contact-groups-table-wrap">
  <table class="contact-groups-table">
    <thead>
    <tr>
      <td class="operations"></td>
      <th class="contact-group-name"><%= @model.t :contact_group_name %><%= @model.tt :contact_group_name %></th>
      <th class="contact-tel"><%= @model.t :contact_tel %><%= @model.tt :contact_tel %></th>
      <th class="contact-fax"><%= @model.t :contact_fax %><%= @model.tt :contact_fax %></th>
      <th class="contact-email"><%= @model.t :contact_email %><%= @model.tt :contact_email %></th>
      <th class="contact-link-url"><%= @model.t :contact_link_url %><%= @model.tt :contact_link_url %></th>
      <th class="contact-link-name"><%= @model.t :contact_link_name %><%= @model.tt :contact_link_name %></th>
    </tr>
    </thead>
    <tbody>
    <% @item.contact_groups.each do |contact_group| %>
      <% render_row.call(contact_group) %>
    <% end %>
    <% render_row.call(nil) %>
    </tbody>
  </table>
</div>
