<% return if @item.contact_groups.blank? %>

<table class="index">
  <thead class="list-head">
  <tr>
    <th class="contact-group-name"><%= @model.t :contact_group_name %></th>
    <th class="contact-tel"><%= @model.t :contact_tel %></th>
    <th class="contact-fax"><%= @model.t :contact_fax %></th>
    <th class="contact-email"><%= @model.t :contact_email %></th>
    <th class="contact-link-url"><%= @model.t :contact_link_url %></th>
    <th class="contact-link-name"><%= @model.t :contact_link_name %></th>
  </tr>
  </thead>
  <tbody class="items">
  <% @item.contact_groups.each do |contact_group| %>
    <tr class="list-item" data-id="<%= contact_group.id %>">
      <td class="contact-group-name"><%= contact_group.contact_group_name %></td>
      <td class="contact-tel"><%= contact_group.contact_tel %></td>
      <td class="contact-fax"><%= contact_group.contact_fax %></td>
      <td class="contact-email"><%= contact_group.contact_email %></td>
      <td class="contact-link-url"><%= contact_group.contact_link_url %></td>
      <td class="contact-link-name"><%= contact_group.contact_link_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
