<%= jquery do %> SS_SearchUI.modal(); <% end %>

<div class="search-ui-form">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <%= hidden_field_tag :single, params[:single] %>
    <dl class="see">
      <dt><%= @model.t(:category_id) %></dt>
      <dd><%= select_tag("s[category]", options_for_select(@categories.to_options, @category.try(:id)), include_blank: true, class: "submit-on-change") %></dd>

      <dt><%= @model.t :name %></dt>
      <dd>
        <%= f.text_field :keyword, value: params[:s].try(:[], :keyword) %>
        <%= f.submit  t("ss.buttons.search"), class: :btn %>
      </dd>
    </dl>
  <% end %>
</div>

<table class="index">
  <thead class="list-head">
    <tr>
      <% if @multi %>
      <th class="checkbox"><input type="checkbox" /></th>
      <% end %>
      <th class="name"><%= @model.t :name %></th>
      <% if @free_times.present? %>
        <th class="facility-reservation-state"><%= t('gws/schedule.facility_reservation.state') %></th>
        <th class="facility-reservation-user"><%= @cur_user.model_name.human %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <% overall_exist = 'free' %>
      <% users = [] %>
      <% if @free_times.present? %>
        <% @free_times.each do |date, hours| %>
          <% @time_search.hours.each do |hour| %>
            <% next if @plan.facility_ids_was.to_a.include?(item.id) %>
            <% next if hours[1][item.id].present? && hours[1][item.id].include?(hour) %>
            <% next unless @hour_range[date].include?(hour) %>
            <% hours[2].dig(item.id, hour).try(:each) do |plan| %>
              <% users << plan[:user_long_name] %>
            <% end %>
          <% end %>
        <% end %>
        <% if users.present? %>
          <% overall_exist = @cur_user.gws_role_permit_any?(@cur_site, :duplicate_private_gws_facility_plans) ? 'registered' : 'exist' %>
        <% end %>
      <% end %>
      <tr data-id="<%= item.id %>" class="list-item">
        <% if @multi %>
          <td class="checkbox">
            <% unless overall_exist == 'exist' %>
              <input type="checkbox" name="ids[]" value="<%= item.id %>" />
            <% end %>
          </td>
        <% end %>
        <td>
          <% if overall_exist == 'exist' %>
            <span class="<%= @multi ? "select-item" : "select-single-item" %>" style="color: #888"><%= item.name %></span>
          <% else %>
            <%= link_to item.name, "#", class: @multi ? "select-item" : "select-single-item" %>
          <% end %>
        </td>
        <% if @free_times.present? %>
          <td>
            <%= t("gws/schedule.facility_reservation.#{overall_exist}") %>
            <% if overall_exist == 'registered' %>
              <span class="duplicate-register-message" style="color: #e00;">
                （<%= t('gws/schedule.facility_reservation.duplicate_register_message') %>)
              </span>
            <% end %>
          </td>
          <td>
            <%= users.uniq.join(',') %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @multi %>
<div class="search-ui-select">
  <%= button_tag t("ss.links.select"), { type: :button, class: "select-items btn" } %>
</div>
<% end %>

<%= paginate @items if @items.try(:current_page) %>
