<%
  def categories_options_for_select
    options = @categories.reduce([]) do |ret, g|
      ret << [Gws::Category::Traversable.option_name(g.name, g.depth), g.id]
    end.to_a
    options_for_select(options, @category.try(:id))
  end
%>
<%= jquery do %>
  $("#s_category").change(function() {
    $(".main-box form.search").submit();
  });

  Gws_Schedule_Multiple_Calendar.renderController('#calendar-controller', {
    defaultView: 'timelineDay',
    header: { left: 'today prev next title', right: 'basicWeek timelineDay' },
  });
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <header><h2>
      <% if @categories.present? %>
        <%= select_tag "s[category]", categories_options_for_select, include_blank: t('gws/schedule.tabs.facility') %>
      <% else %>
      <%= t('gws/schedule.tabs.facility') %>
      <% end %>
    </h2></header>
  <% end %>

  <div class="calendar" id="calendar-controller"></div>

  <% @items.each_with_index do |item, idx| %>
    <div class="calendar-multiple-header">
      <%= link_to item.name, gws_schedule_facility_plans_path(facility: item.id), class: "calendar-name" %>
      <% if item.reservable?(@cur_user) %>
      <%= link_to t('gws/schedule.links.add_plan'), new_gws_schedule_facility_plan_path(facility: item.id), class: 'add-plan' %>
      <% end %>
    </div>
    <div class="calendar multiple" id="cal-<%= item.id %>"></div>

    <%= jquery do %>
    Gws_Schedule_Multiple_Calendar.render('#cal-<%= item.id %>', {
      tapMenu: <%= item.reservable?(@cur_user) %>,
      defaultView: 'timelineDay',
      header: { left: 'today prev next title', right: 'basicWeek timelineDay' },
      restUrl: '<%= gws_schedule_facility_plans_path(facility: item.id) %>',
      eventSources: [{ url: '<%= events_gws_schedule_facility_plans_path(facility: item.id, format: :json) %>' }]
    });
    <% end %>
  <% end %>
</section>
