<%= jquery do %>
  $("#s_category").change(function() {
    $(".main-box form.search").submit();
  });

  Gws_Schedule_Multiple_Calendar.renderController('#calendar-controller', {
    defaultView: 'basicHour',
    header: { left: 'today prev next title', right: 'basicWeek basicHour' },
  });
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <header><h2>
      <% if @categories.present? %>
      <%= select_tag "s[category]", options_for_select(@categories, @category), include_blank: t('gws/schedule.tabs.facility') %>
      <% else %>
      <%= t('gws/schedule.tabs.facility') %>
      <% end %>
    </h2></header>
  <% end %>

  <div class="calendar" id="calendar-controller"></div>

  <% @items.each_with_index do |item, idx| %>
    <div class="calendar-multiple-header">
      <%= link_to item.name, gws_schedule_facility_plans_path(facility: item.id), class: "calendar-name" %>
      <%= link_to t('gws/schedule.links.add_plan'), new_gws_schedule_facility_plan_path(facility: item.id), class: 'add-plan' %>
    </div>
    <div class="calendar multiple" id="cal-<%= item.id %>"></div>

    <%= jquery do %>
    Gws_Schedule_Multiple_Calendar.render('#cal-<%= item.id %>', {
      defaultView: 'basicHour',
      header: { left: 'today prev next title', right: 'basicWeek basicHour' },
      restUrl: '<%= gws_schedule_facility_plans_path(facility: item.id) %>',
      eventSources: [{ url: '<%= events_gws_schedule_facility_plans_path(facility: item.id, format: :json) %>' }]
    });
    <% end %>
  <% end %>
</section>
