<%= jquery do %>
Gws_Schedule_Multiple_Calendar.renderController('#calendar-controller', {
  defaultView: 'basicHour',
});
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box">
  <header><h2><%= t('gws/schedule.tabs.facility') %></h2></header>

  <div class="calendar" id="calendar-controller"></div>

  <% @items.each_with_index do |item, idx| %>
    <div class="calendar-multiple-header">
      <%= link_to item.name, gws_schedule_facility_plans_path(facility: item.id), class: "calendar-name" %>
      <%= link_to t('gws/schedule.links.add_plan'), new_gws_schedule_facility_plan_path(facility: item.id), class: 'add-plan' %>
    </div>
    <div class="calendar multiple" id="cal-<%= item.id %>"></div>

    <%= jquery do %>
    Gws_Schedule_Multiple_Calendar.render('#cal-<%= item.id %>', {
      defaultView: 'basicHour',
      restUrl: '<%= gws_schedule_facility_plans_path(facility: item.id) %>',
      eventSources: [{ url: '<%= events_gws_schedule_facility_plans_path(facility: item.id, format: :json) %>' }]
    });
    <% end %>
  <% end %>
</section>
