<%= jquery do %>
    Gws_Monitor_Topic.render();
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="public-all btn"><%= t 'gws/monitor.links.public' %></button>
    <button class="preparation-all btn"><%= t 'gws/monitor.links.preparation' %></button>
    <button class="qNA-all btn"><%= t 'gws/monitor.links.qNA' %></button>
    <button class="export_csv btn"><%= t 'gws/monitor.links.export_csv' %></button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>

