<nav class="nav-management-menu">
  <% if Gws::Monitor::Topic.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t("ss.management"), gws_monitor_management_topics_path %>
  <% end %>
</nav>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%#= link_to t("gws/monitor.links.categories"), categories_gws_monitor_topics_path %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.new'), action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|categories/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>

