<nav class="mod-navi">
  <h2><%= link_to t("modules.gws/shared_address"), gws_shared_address_addresses_path %></a></h2>
  <h2><%= t("ss.management") %></h2>

  <% if Gws::SharedAddress::Address.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("mongoid.models.gws/shared_address/address"), gws_shared_address_management_addresses_path %></h3>
  <% end %>
  <% if Gws::SharedAddress::Group.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t("mongoid.models.gws/shared_address/group"), gws_shared_address_management_groups_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
