<%= jquery do %>
  SS_ReplaceFile.instance().renderConfirm("<%= url_for action: :update %>", "<%= url_for(action: :edit) %>");
<% end %>

<div class="cms-modal-tabs">
  <%= link_to({ action: :confirm }, { class: "current", onclick: "return false;" }) do %>
    <span class="tab-name"><%= t('ss.buttons.replace_file') %></span>
  <% end %>
  <%= link_to({ action: :histories, source: :confirm }, { class: "ajax-box" }) do %>
    <span class="tab-name"><%= t('ss.buttons.file_histories') %></span>
  <% end %>
</div>

<div style="padding: 10px; border: 1px solid #ddd;">
  <%= form_for :item, url: { action: :update }, html: { id: "ajax-form", method: :put, multipart: true, autocomplete: :off } do |f| %>
    <%= error_messages_for :item %>

    <dl class="see">
      <dt><%= @model.t :in_file %><span style="margin-left: 13px;"><%= @model.tt :in_file %></span></dt>
      <dd>
        <div class="" style="display: flex;">
          <article class="file-view before">
            <div><%= t('ss.before_replace') %></div>
            <%= sanitizer_status(@item) %>
            <a class="thumb select" href="<%= @item.url %>" target="_blank">
              <% if @item.image? %>
                <img src="<%= @item.thumb_url %>" alt="<%= @item.basename %>" />
              <% else %>
                <span class="ext icon-<%= @item.extname %>"><%= @item.extname %></span>
              <% end %>
            </a>
            <div><%= @item.humanized_name %></div>
          </article>

          <div class="material-icons md-36" style="
            margin-top: 60px;
            margin-left: -20px;
            padding-right: 10px;">trending_flat</div>

          <article class="file-view after">
            <div><%= t('ss.after_replace') %></div>
            <%= sanitizer_status(@dst_file) %>
            <a class="thumb select" href="<%= @dst_file.url %>" target="_blank">
              <% if @dst_file.image? %>
                <img src="<%= @dst_file.thumb_url %>" alt="<%= @dst_file.basename %>" />
              <% else %>
                <span class="ext icon-<%= @dst_file.extname %>"><%= @dst_file.extname %></span>
              <% end %>
            </a>
            <div><%= @dst_file.humanized_name %></div>
            <%= f.hidden_field "in_file", value: @dst_file.id %>
          </article>
        </div>
      </dd>

      <dt><%= @model.t :name %><%= @model.tt :name %></dt>
      <dd><%= f.text_field :name, value: @dst_file.name %></dd>
    </dl>

    <footer class="send">
      <%= f.submit t('ss.buttons.replace_save'), class: "btn-primary save" %>
      <%= link_to(t("ss.buttons.cancel"), { action: :edit }, { class: "ajax-box btn-default back-to-edit" }) %>
    </footer>

  <% end %>
</div>
