<%= jquery do %>
  SS_ReplaceFile.instance().renderEdit("<%= url_for(action: :confirm) %>");
<% end %>

<div class="cms-modal-tabs">
  <%= link_to({ action: :edit }, { class: "current", onclick: "return false;" }) do %>
    <span class="tab-name"><%= t('ss.buttons.replace_file') %></span>
  <% end %>
  <%= link_to({ action: :histories }, { class: "ajax-box" }) do %>
    <span class="tab-name"><%= t('ss.buttons.file_histories') %></span>
  <% end %>
</div>

<div style="padding: 10px; border: 1px solid #ddd;">
  <%= form_for :item, url: { action: :confirm }, html: { id: "ajax-form", method: :post, multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <dl class="see">
    <dt><%= @model.t :in_file %><span style="margin-left: 13px;"><%= @model.tt :in_file %></span></dt>
    <dd>
      <%= f.file_field :in_file, required: :required %>
      <% if @item.image? %>
        <%= f.select :resizing, @model.resizing_options, { include_blank: t("ss.resize_image") }, { class: "image-size" } %>
      <% end %>
    </dd>
  </dl>

  <footer class="send">
    <%= f.submit t('inquiry.confirm'), class: "btn-primary save" %>
    <%= link_to(t("ss.buttons.cancel"), "", { class: "btn-default", onclick: '$.colorbox.close(); return false;' }) %>
  </footer>

  <% end %>
</div>
