<%= jquery do %>
  SS_ReplaceFile.instance().renderHistory("<%= t('ss.confirm.restore_file') %>", "<%= t('ss.confirm.delete_file_histories') %>", "<%= url_for(action: :histories) %>");
<% end %>

<%
  def branch_page?
    @owner_item.class.include?(Cms::Model::Page) && @owner_item.respond_to?(:master?) && !@owner_item.master?
  end
%>

<div class="cms-modal-tabs">
  <% action = (params[:source] == "confirm") ? { action: :confirm } : { action: :edit } %>
  <%= link_to(action, { class: "ajax-box" }) do %>
    <span class="tab-name"><%= t('ss.buttons.replace_file') %></span>
  <% end %>
  <%= link_to({ action: :histories }, { class: "current", onclick: "return false;" }) do %>
    <span class="tab-name"><%= t('ss.buttons.file_histories') %></span>
  <% end %>
</div>

<% if branch_page? %>
  <div style="padding: 10px; border: 1px solid #ddd;"><%= t('ss.info.branch_pages_history_is_blank') %></div>
<% elsif @item.history_files.blank? %>
  <div style="padding: 10px; border: 1px solid #ddd;"><%= t('ss.info.history_is_blank') %></div>
<% else %>
  <table class="index">
    <thead>
    <tr>
      <th><%= @model.t :name %></th>
      <th><%= @model.t :created %></th>
      <th><%= @model.t :size %></th>
      <th style="width: 220px;"></th>
    </tr>
    </thead>
    <tbody>
    <% @item.history_files.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= ss_time_tag(item.created) %></td>
        <td><%= number_to_human_size item.size %></td>
        <td>
          <%= link_to t('history.buttons.restore'), { action: :restore, source: item.id }, class: "restore" %>
          |
          <%= link_to t("ss.links.download"), { action: :download, source: item.id } %>
          |
          <%= link_to t("ss.buttons.delete"), { action: :destroy, source: item.id }, class: "destroy" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @items if @items.try(:current_page) %>
