<dl class="see mod-owner">
  <dt><%= @model.t :permission_level %><%= @model.tt :permission_level %></dt>
  <dd><%= f.select :permission_level, (1..@cur_user.cms_role_level(@cur_site)).map { |i| %W(#{i} #{i}) } %></dd>

  <dt><%= @model.t :group_ids %><%= @model.tt :group_ids %></dt>
  <dd>
    <%= f.hidden_field "group_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("cms.search_groups.index"), cms_search_groups_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Cms::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-id="<%= @cur_group.id %>">
          <td><%= f.hidden_field "group_ids[]", value: @cur_group.id %> <%= @cur_group.name %></td>
          <td><%= link_to t("cms.search_groups.deselect"), "#", class: :deselect %></td>
        </tr>
        <% @item.groups.each do |group| %>
        <% next if group.id == @cur_group.id %>
        <tr data-id="<%= group.id %>">
          <td><%= f.hidden_field "group_ids[]", value: group.id %> <%= group.name %></td>
          <td><%= link_to t("cms.search_groups.deselect"), "#", class: :deselect %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
