<%= jquery do %>
  var navi = new Gws_Workload_Navi('.group-navi');
  navi.setBaseUrl('<%= url_for(action: :index, group: 'ID') %>');
  navi.render(<%== group_options.to_json %>);
<% end %>

<div class="group-navi dropdown" style="display: inline-block;">
  <%= link_to({ action: :index, category: '-', client: '-' }, { class: 'btn dropdown-toggle', "data-id": @group.try(:id) }) do %>
    <%=  @group.try(:name) %>
    <i class="material-icons md-13">keyboard_arrow_down</i>
  <% end %>
  <div class="dropdown-menu wide dropdown-menu--white"></div>
</div>
