<%= jquery do %>
  var navi = new Gws_Workload_Navi('.user-navi');
  navi.setBaseUrl('<%= url_for(action: :index, user: 'ID') %>');
  navi.render(<%== user_options.to_json %>);
<% end %>

<div class="user-navi dropdown" style="display: inline-block;">
  <%= link_to({ action: :index, category: '-', client: '-' }, { class: "btn dropdown-toggle", "data-id": @user.try(:id) }) do %>
    <%= @user.try(:name) || "// #{@model.t(:member_ids)}" %>
    <i class="material-icons md-13">keyboard_arrow_down</i>
  <% end %>
  <div class="dropdown-menu wide dropdown-menu--white"></div>
</div>
