<%= jquery do %>
Gws_Schedule_Multiple_Calendar.renderController('#calendar-controller', {}, <%== (params[:calendar] || {}).to_json %>);
SS_Clipboard.renderCopy();
Gws_Schedule_Integration.paths.newMemoMessage = <%== new_gws_memo_message_path(folder: "INBOX").to_json %>;
Gws_Schedule_Integration.paths.newWebmail = <%== new_webmail_mail_path(webmail_mode: "account", account: 0, mailbox: "INBOX").to_json %>;
Gws_Schedule_Integration.render();
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box gws-schedule-box">
  <header>
    <h2><%= @group.name %></h2>
    <% if @cur_site.schedule_custom_group_extra_state == "creator_name" %>
      <span class="group-creator"><%= gws_public_user_long_name(@group.user_long_name) %></span>
    <% end %>
    <nav><%= render file: '_search' %></nav>
  </header>

  <div class="calendar" id="calendar-controller"></div>

  <% @users.each_with_index do |user, idx| %>
    <div class="calendar-multiple-header">
      <%= link_to gws_public_user_long_name(user.long_name), gws_schedule_user_plans_path(user: user.id), class: "calendar-name" %>
      <% if user.id == @cur_user.id %>
        <%= link_to t('gws/schedule.links.add_plan'), new_gws_schedule_user_plan_path(user: user.id), class: 'add-plan' %>
      <% end %>
      <%= render "gws/schedule/main/calendar_attr", user: user %>
    </div>
    <div class="calendar multiple" id="cal-<%= user.id %>"></div>

    <%= jquery do %>
    Gws_Schedule_Multiple_Calendar.render('#cal-<%= user.id %>', {
      tapMenu: <%= user.id == @cur_user.id %>,
      restUrl: '<%= url_for action: :index %>',
      eventSources: [{ url: '<%= events_gws_schedule_user_plans_path user: user.id, format: :json %>?<%= search_query %>' }]
    }, <%== (params[:calendar] || {}).to_json %>);
    <% end %>
  <% end %>
</section>
