<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "facility.facility" %></h1></header>
  <% if @cur_node.parent.present? %>
    <div>
      <%= link_to :"facility.page", facility_page_path(cid: @cur_node.parent.id, id: @cur_node.id), class: "icon-node" %>
    </div>
  <% end %>
  <div>
    <%= link_to :"facility.image", facility_images_path, class: "icon-page" %>
  </div>
  <div>
    <%= link_to :"facility.map", facility_maps_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
