<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if item.try(:updated) %>
    <span class="datetime"><%= ss_time_tag item.updated %></span>
  <% end %>
  <% if item.try(:filename) %>
    <span class="filename"><%= File.basename item.filename %></span>
  <% end %>
  <% if item.try(:route) %>
    <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
  <% end %>
  <% if item.try(:status) %>
    <span class="state"><%= t "ss.state.#{item.status}" %></span>
  <% end %>
  <% if item.try(:tags) %>
    <span class="tags"><%= item.tags.join(",") %></span>
  <% end %>
  <% if item.try(:map_points) %>
    <% item.map_points.each do |map_point| %>
      <span class="map-point"><%= map_point[:name] %><%= map_point[:loc] %></span>
    <% end %>
  <% end %>
<% end %>

<%= render template: "cms/crud/index" %>
