<%= jquery do %>SS_SearchUI.modal();<% end %>

<div class="search-ui-form">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <%= f.text_field :name, value: params[:s].try(:[], :name) %>
    <%= f.submit t("member.links.search"), class: :btn %>
  <% end %>
</div>

<div class="items index user-files">
  <% @items.each do |item| %>
    <article class="file-view member-photo" data-id="<%= item.id %>" data-file-id="<%= item.id %>">
      <%= hidden_field_tag "item[member_photo_ids][]", item.id, class: "photo-id" %>
      <a class="thumb select-item" href="#"><%= image_tag item.image.thumb_url, alt: item.name %></a>
      <label style="display: flex; align-items: center;">
        <input type="checkbox" />
        <div class="name"><%= item.name %></div>
      </label>
      <div class="action delete" style="display: none;">
        <%= link_to t("ss.buttons.delete"), "#", onclick: "deleteContent('#{item.id}'); return false;" %>
      </div>
    </article>
  <% end %>
</div>

<div class="search-ui-select">
  <%= button_tag t("cms.apis.pages.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
