<%= jquery do %> SS_AddonTabs.hide(".mod-opendata_harvest_category_setting"); <% end %>
<dl class="see mod-opendata_harvest_category_setting">
  <dt><%= @model.t :default_category_ids %></dt>
  <dd><%= @item.default_categories.pluck(:name).join(", ") %></dd>

  <dt><%= "コンバート設定" %></dt>
  <dd>
    <span>
      <%= link_to "ダウンロード", download_opendata_harvest_importer_category_settings_path(importer_id: @item.id) %>
    </span>
    <span style="margin-left: 10px;">
      <%= link_to "インポート", import_opendata_harvest_importer_category_settings_path(importer_id: @item.id) %>
    </span>

    <table class="index" style="margin-top: 10px;">
      <% Opendata::Node::Category.order_by(filename: 1).each do |cate| %>
        <tr>
          <td><%= link_to cate.name, opendata_harvest_importer_category_settings_path(importer_id: @item.id, category_id: cate.id) %></td>
          <td><%= cate.filename %></td>
          <td>
            <% count = @item.category_settings.where(category_id: cate.id).count %>
            <%= count > 0 ? count : "" %>
          </td>
        </tr>
      <% end %>
    </table>
  </dd>
</dl>
