<%
  contains_urls = Cms::Page.site(@cur_site).and_linking_pages(item)
%>
<li class="list-item">
  <label class="check">
    <% unless contains_urls.present? %>
      <%= f.check_box_tag 'ids[]', item.id.to_s, checked: true %>
    <% end %>
  </label>
  <div class="info">
    <% item_url = url_for({ action: :show, id: item }) rescue nil %>
    <% if item_url %>
      <%= link_to item.name, item_url, class: "title", target: "_blank", rel: "noopener" %>
    <% else %>
      <%= item.name %>
    <% end %>
    <div class="meta">
      <%= render "cms/crud/destroy_info", item: item %>
      <% if contains_urls.present? %>
        <%= link_to t("ss.confirm.contains_links_in_file"), { action: :contains_urls, id: item },
        class: "contains-urls", target: :_blank, rel: "noopener" rescue nil %>
      <% else %>
        <%= t("ss.confirm.not_contains_links_in_file") %>
      <% end %>
    </div>
  </div>
</li>
