<% if item.try(:updated) %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
<% end %>
<% if item.try(:filename) %>
  <% if params.dig(:s, :target) == 'descendant' %>
    <span class="filename"><%= item.filename %></span>
  <% else %>
    <span class="filename"><%= File.basename item.filename %></span>
  <% end %>
<% end %>
<% if item.try(:route) %>
  <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
<% end %>
<%= colored_state_label(item) %>
<% if !item.try(:state_changeable?) && action == "change_state_all" %>
  <span class="">公開設定がないので変更はできません。</span>
<% end %>
