<% if item.try(:updated) %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
<% end %>
<% if item.try(:filename) %>
  <% if params.dig(:s, :target) == 'descendant' %>
    <span class="filename"><%= item.filename %></span>
  <% else %>
    <span class="filename"><%= File.basename item.filename %></span>
  <% end %>
<% end %>
<% if item.try(:route) %>
  <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
<% end %>
<%= colored_state_label(item) %>
<% if !item.try(:state_changeable?) && action == "change_state_all" %>
  <span class="">公開設定がないので変更はできません。</span>
<% end %>
<% if @item_errors.present? %>
  <% errors = @item_errors[item.id] || [] %>
  <ul>
  <% errors.each do |key, value| %>
    <% if key == :contains_urls_error %>
      <li><%= link_to value, { action: :contains_urls, id: item },
          class: "contains-urls", target: :_blank, rel: "noopener" rescue nil %></li>
    <% else %>
      <li><%= value %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
