<table class="index">
  <thead>
    <tr>
      <th><%= t("cms.move.page") %></th>
      <th><%= t("cms.move.url") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |item| %>
      <tr>
        <td><%= link_to item.name, show_path_with_route(item), target: "_blank" %></td>
        <td><%= link_to item.filename, "#{@cur_site.full_url}#{item.filename}", target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="index">
  <thead>
    <tr>
      <th><%= t("cms.move.part") %></th>
      <th><%= t("cms.move.url") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parts.each do |item| %>
      <tr>
        <td><%= link_to item.name, show_path_with_route(item), target: "_blank" %></td>
        <td><%= link_to item.filename, "#{@cur_site.full_url}#{item.filename}", target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="index">
  <thead>
    <tr>
      <th><%= t("cms.move.layout") %></th>
      <th><%= t("cms.move.url") %></th>
    </tr>
  </thead>
  <tbody>
    <% @layouts.each do |item| %>
      <tr>
        <td><%= link_to item.name, show_path_with_route(item), target: "_blank" %></td>
        <td><%= link_to item.filename, "#{@cur_site.full_url}#{item.filename}", target: "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
