<%

# deletable = @model.allowed?(:delete, @cur_user, site: @cur_site, owned: true) rescue true # for uploader
releasable = false
releasable = @model.allowed?(:edit, @cur_user, site: @cur_site, owned: true) if @model.include?(Cms::Model::Node)
releasable = @model.allowed?(:release, @cur_user, site: @cur_site, owned: true) if @model.include?(Cms::Addon::Release)

%>
<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <%= render template: "_list_head_tags" %>
    <div class="list-head-action-destroy">
      <%# CMS の一括削除では特別な削除確認画面が表示されるので confirmation は不要 %>
      <%= ss_button_to t("ss.links.delete"), "", class: "destroy-all btn btn-list-head-action", method: "delete" %>
    </div>
    <% if releasable %>
      <div class="list-head-action-update">
        <%= ss_button_to t("ss.links.make_them_public"), "",
          class: "change-state-all btn btn-list-head-action", method: "put", params: { state: 'public' } %>
        <%= ss_button_to t("ss.links.make_them_close"), "",
          class: "change-state-all btn btn-list-head-action", method: "put", params: { state: 'closed' } %>
      </div>
    <% end %>
  </div>

  <%= render template: "_search" %>
</div>
