<nav class="act-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :new, action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock/ %>
    <%= link_to :back_to_index, action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :back_to_show, action: :show, id: @item %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :edit, action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(:copy, action: :copy, id: @item) rescue nil %>
    <% end %>
    <% if @item.allowed?(:move, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(:move, action: :move, id: @item) rescue nil %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :delete, action: :delete, id: @item %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% end %>
</nav>

<% if params[:action] =~ /show|new|edit|create|update/ %>
<%#= render file: "_addons_menu" %>
<% end %>
