<%
  delete_alert_enabled = !@cur_user.cms_role_permit_any?(@cur_site, %w(delete_cms_ignore_alert)) && @contains_urls.try(:and_public).present?

  unable_to_delete_master_page = false
  if @item.try(:master?) && @item.branches.present?
    unable_to_delete_master_page = true
  end
%>
<%= form_for :item, url: { action: :show }, html: { method: :delete, id: "item-form", multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <%
    head = t("ss.confirm.delete")
    if unable_to_delete_master_page
      head = "#{head}<br>#{t("workflow.confirm.unable_to_delete_master_page")}".html_safe
    end
    if delete_alert_enabled
      head = "#{head}<br>#{t("ss.confirm.contains_url_expect")}".html_safe
    end
  %>
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: head } do %>
    <%= render template: "_delete" %>

    <% contains_urls_path = url_for(action: 'contains_urls') rescue nil %>
    <% if contains_urls_path && @contains_urls.present? %>
      <dl class="see">
        <% if delete_alert_enabled %>
          <%= render template: "cms/crud/contains_urls" %>
        <% else %>
          <dt><%= link_to t("cms.confirm.check_contains_urls"), contains_urls_path, target: "_blank", rel: "noopener" %></dt>
          <dd></dd>
        <% end %>
      </dl>
    <% end %>
  <% end %>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <% if !unable_to_delete_master_page && !delete_alert_enabled %>
    <%= f.submit t("ss.buttons.delete"), class: 'btn-danger delete', data: { disable_with: t("ss.buttons.deleting") } %>
  <% end %>
  <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>
<% end %>
