<%= form_for :item, url: { action: :show }, html: { method: :delete, multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="addon-head"><h2><%= t("views.confirm.delete") %></h2></div>
    <div class="addon-body">
      <%= render file: "_delete" %>

      <% contain_links_path = url_for(action: 'contain_links') rescue nil %>
      <% if contain_links_path %>
        <dl class="see">
          <dt><%= link_to t("cms.confirm.check_contain_links"), contain_links_path, target: "_blank" %></dt>
          <dd></dd>
        </dl>
      <% end %>

    </div>
  </div>
</div>

<footer class="send">
  <%= f.submit t("views.button.delete"), class: 'btn-danger delete' %>
  <%= f.button t("views.button.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>
<% end %>
