<div class="list-head d-flex align-item-center justify-content-between">
  <div class="btn-group align-self-end mb-0" role="group" aria-label="Basic example">
    <button class="btn btn-outline-secondary">削除する</button>
  </div>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="" for="inlineFormCustomSelect">ソート</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option value="1">更新日時（降順）</option>
        <option value="2">更新日時（昇順）</option>
        <option value="3">作成日時（降順）</option>
        <option value="4">作成日時（昇順）</option>
        <option value="5">公開日時（降順）</option>
        <option value="6">公開日時（昇順）</option>
        <option value="7">承認日時（降順）</option>
        <option value="8">承認日時（昇順）</option>
        <option value="9">タイトル（降順）</option>
        <option value="10">タイトル（昇順）</option>
        <option value="11">ファイル名（降順）</option>
        <option value="12">ファイル名（昇順）</option>
      </select>
    </div>
    <div class="col-auto my-1">
      <label class="" for="inlineFormCustomSelect">表示件数</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option value="1">50</option>
        <option value="2">100</option>
        <option value="3">200</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col mb-4">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
          <thead>
            <th class="check"><input type="checkbox" /></th>
            <th><%= t "cms.status" %></th>
            <th><%= t "cms.apis.contents.title" %></th>
            <th>カテゴリー</th>
            <th>作成者</th>
            <th><%= t "cms.options.sort.filename" %></th>
            <th>タグ</th>
            <th><%= t "cms.options.sort.updated_1" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <% item = @item_decorator.call(item) if @item_decorator %>
          <tr>
            <td class="check"><div class="checkbox"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></div></td>
            <% if item.try(:status) %>
            <td class="state">
              <span class="public"><%= t "ss.state.#{item.status}" %></span>
            </td>
            <% end %>
            <td class="title">
              <% if @index_title %>
                <% @index_title.call item %>
              <% else %>
                <% title = item.try(:name) || item.try(:title) || item.try(:filename) || "##{item.id}" %>
                <%= link_to title, { action: :show, id: item } %>
              <% end %>
            </td>
            <td class="categories">
              設定されているカテゴリーを出したい
            </td>
            <td class="auther">
              作成者名を出したい
            </td>
            <% if item.try(:filename) %>
            <td class="filename">
              <% if params.dig(:s, :target) == 'descendant' %>
              <%= item.filename %>
              <% else %>
              <%= File.basename item.filename %>
              <% end %>
            </td>
            <% end %>
            <% if item.try(:tags) %>
              <td class="tags"><%= item.tags.join(",") %></td>
            <% end %>
            <% if item.try(:updated) %>
            <td class="datetime">
              <%= item.updated.strftime("%Y/%m/%d %H:%M") %>
            </td>
            <% end %>              
            <td>
              <div class="dropdown">
                <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">more_vert</i></button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex1">
                  <% if @tap_menu %>
                    <% @tap_menu.call item %>
                  <% else %>
                    <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
                    <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
                    <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>

                    <% if @model.collection_name == :cms_nodes %>
                      <%= link_to t('ss.links.view_site'), item.full_url, class: "dropdown-item", target: :_blank if item.public? %>
                      <% if @cur_site.mobile_enabled? %>
                        <%= link_to t('ss.links.pc_preview'), cms_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item" %>
                        <%= link_to(t('ss.links.mobile_preview'), cms_mobile_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item") %>
                      <% else %>
                        <%= link_to t('ss.links.preview'), cms_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item" %>
                      <% end %>
                    <% elsif @model.collection_name == :cms_pages %>
                      <%= link_to t('ss.links.view_site'), item.full_url, class: "dropdown-item", target: :_blank if item.public? %>
                      <% if @cur_site.mobile_enabled? %>
                        <%= link_to t('ss.links.pc_preview'), cms_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item" %>
                        <%= link_to(t('ss.links.mobile_preview'), cms_mobile_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item") %>
                      <% else %>
                        <%= link_to t('ss.links.preview'), cms_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item" %>
                      <% end %>
                    <% end %>

                    <% if item.try(:image) %>
                      <%= link_to image_tag(item.image.thumb_url), item.image.url, { class: "thumb dropdown-item", target: "_blank" } %>
                    <% elsif item.try(:image?) %>
                      <%= link_to image_tag(item.thumb_url), item.url, { class: "thumb dropdown-item", target: "_blank" } %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<nav aria-label="Page navigation pager">
  <ul class="pagination flex-wrap justify-content-end">
    <li class="page-item first"><a class="page-link"href="#">«</a></li>
    <li class="page-item prev"><a class="page-link"rel="prev" href="#">前のページ</a></li>
    <li class="page-item page"><a class="page-link"rel="prev" href="#">1</a></li>
    <li class="page-item page current"><a class="page-link"rel="prev" href="#">2</a></li>
    <li class="page-item page"><a class="page-link"rel="next" href="#">3</a></li>
    <li class="page-item page"><a class="page-link"href="#">4</a></li>
    <li class="page-item page"><a class="page-link"href="#">5</a></li>
    <li class="page-item page"><a class="page-link"href="#">6</a></li>
    <li class="page-item page gap">...</li>
    <li class="page-item next"><a class="page-link"rel="next" href="#">次のページ</a></li>
    <li class="page-item last"><a class="page-link"href="#">»</a></li>
  </ul>
</nav>