<div class="index">
  <%= render file: "_list_head" %>

  <ul class="list-items">
    <% if @cur_node %>
      <li class="list-item">
        <div class="info">
          <% link = @cur_node.parent ? { cid: @cur_node.parent } : cms_nodes_path %>
          <%= link_to t('ss.links.parent_directory'), link, class: "up" %>
        </div>
      </li>
    <% end %>

    <% @items.each do |item| %>
      <% item = @item_decorator.call(item) if @item_decorator %>
      <li class="list-item">
        <nav class="tap-menu">
          <% if @tap_menu %>
            <% @tap_menu.call item %>
          <% else %>
            <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
            <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
            <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>

            <% if @model.collection_name == :cms_nodes %>
              <%= link_to t('ss.links.view_site'), item.full_url, target: :_blank if item.public? %>
              <% if @cur_site.mobile_enabled? %>
                <%= link_to t('ss.links.pc_preview'), cms_preview_path(path: item.preview_path), target: :_blank %>
                <%= link_to(t('ss.links.mobile_preview'), cms_mobile_preview_path(path: item.preview_path), target: :_blank) %>
              <% else %>
                <%= link_to t('ss.links.preview'), cms_preview_path(path: item.preview_path), target: :_blank %>
              <% end %>
            <% elsif @model.collection_name == :cms_pages %>
              <%= link_to t('ss.links.view_site'), item.full_url, target: :_blank if item.public? %>
              <% if @cur_site.mobile_enabled? %>
                <%= link_to t('ss.links.pc_preview'), cms_preview_path(path: item.preview_path), target: :_blank %>
                <%= link_to(t('ss.links.mobile_preview'), cms_mobile_preview_path(path: item.preview_path), target: :_blank) %>
              <% else %>
                <%= link_to t('ss.links.preview'), cms_preview_path(path: item.preview_path), target: :_blank %>
              <% end %>
            <% end %>

            <% if item.try(:image) %>
              <%= link_to image_tag(item.image.thumb_url), item.image.url, { class: "thumb", target: "_blank" } %>
            <% elsif item.try(:image?) %>
              <%= link_to image_tag(item.thumb_url), item.url, { class: "thumb", target: "_blank" } %>
            <% end %>
          <% end %>
        </nav>

        <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>"/></label>
        <div class="info">
          <% if @index_title %>
            <% @index_title.call item %>
          <% else %>
            <% title = item.try(:name) || item.try(:title) || item.try(:filename) || "##{item.id}" %>
            <%= link_to title, { action: :show, id: item }, class: "title" %>
            <% if item.try(:default?) %>
              (<%= item.t :default_theme %>)
            <% end %>
          <% end %>

          <div class="meta">
            <% if @index_meta %>
              <% @index_meta.call item %>
            <% else %>
              <span class="id">#<%= item.id %></span>
              <% if item.try(:updated) %>
                <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
              <% end %>
              <% if item.try(:filename) %>
                <% if params.dig(:s, :target) == 'descendant' %>
                  <span class="filename"><%= item.filename %></span>
                <% else %>
                  <span class="filename"><%= File.basename item.filename %></span>
                <% end %>
              <% end %>
              <% if item.try(:route) %>
                <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
              <% end %>
              <%= colored_state_label(item) %>
              <% if item.try(:tags) %>
                <span class="tags"><%= item.tags.join(",") %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
