<section class="main-box">
  <header><h2><%= t("modules.addons.cms/edit_lock") %></h2></header>
  <%= error_messages_for :item %>

  <dl class="see">
    <dt><%= @model.t :name %></dt>
    <dd><%= @item.name %></dd>
    <dd class="wide"><%= t("errors.messages.locked", user: @item.lock_owner.long_name) %></dd>
  </dl>
</section>

<% if @item.allowed?(:unlock, @cur_user, site: @cur_site, node: @cur_node) %>
<%= form_for :item, url: { action: :unlock }, html: { id: "item-form", method: :delete, multipart: true } do |f| %>
  <%= hidden_field_tag "force", "true" %>
  <footer class="send">
    <%= f.submit t("views.button.unlock_and_edit_forcibly"), class: "btn-primary" %>
    <%= f.button t("views.button.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
  </footer>
<% end %>
<% else %>
  <footer class="send">
    <%= button_tag t("views.button.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;", class: "btn-default" %>
  </footer>
<% end %>
