<%= coffee do %>
$ ->
  result = $(".result")
  confirm = <%= @link_check.present? %>

  if confirm
    path    = "<%= cms_search_contents_path %>"
    keyword = "<%= @source %>"
    option  = "url"
    data    = { s: { keyword: keyword, option: option } }

    result.closest(".see").show()
    $.ajax
      type: "GET",
      data: data
      url: path + "?" + $.param(data)
      beforeSend: ->
        result.html(SS.loading)
      success: (data)->
        result.html(data)
        result.find("th input").remove()
        result.find("input[name='page_ids[]']").remove()
        result.find("input[name='part_ids[]']").remove()
        result.find("input[name='layout_ids[]']").remove()
      error: (data, status) ->
        alert(["== Error =="].concat(data.responseJSON).join("\n"))
<% end %>

<%= form_for :item, url: { action: :move }, html: { id: "item-form", method: :put, multipart: true, autocomplete: :off } do |f| %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <header><h2><%= @filename %></h2></header>
    <%= error_messages_for :item %>
    <dl class="see" style="display: none;">
      <dt class="wide">
        <%= t("cms.move_page.message", source: @source) %>
        <% if Cms::Site.allowed?(:edit, @cur_user, site: @cur_site) %>
          <span style="float: right; padding-right: 25px;"><%= link_to t("cms.move_page.link_to_replace"), cms_search_contents_path %></span>
        <% end %>
      </dt>
      <dl class="result" style="height:300px; overflow:auto; border: 1px solid #cccccc; padding: 15px;">
      </dl>
    </dl>
    <dl class="see">
      <dt><%= @model.t :filename %><%= @model.tt :destination_filename %></dt>
      <dd>
        <%= text_field_tag :destination, "", value: @item.filename, class: :filename %>
        <%= hidden_field_tag :filename, "", value: @filename %>
        <%= hidden_field_tag :source, "", value: @source %>
        <%= f.button t("views.confirm"), name: :confirm, class: :confirm %>
      </dd>
    </dl>
  </div>
</div>

<footer class="send">
  <%= f.submit t("views.button.save"), class: :save %>
  <%= f.button t("views.button.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>

<% end %>
