<ul>
  <% children.each do |child| %>
    <% if child[:has_children] %>
      <li>
        <details class="tree__details" data-ss--tree-target="details" data-open="<%= child[:is_current] || child[:is_parent] %>">
          <summary data-highlight="<%= child[:is_current] %>" data-action="click->ss--tree#toggle">
            <a href="<%= child[:url] %>" data-turbo="false"><%= child[:name] %></a>
          </summary>

          <%= render 'tree_children', children: child[:children] %>
        </details>
      </li>
    <% else %>
      <li data-highlight="<%= child[:is_current] %>">
        <a href="<%= child[:url] %>" data-turbo="false"><%= child[:name] %></a>
      </li>
    <% end %>
  <% end %>
</ul>
