<ul class="<%= css_class %> depth<%= depth %>">
  <% categories.each do |category| %>
    <li class="depth<%= depth %>">
      <span class="depth<%= depth %>">
        <% if category.real? %>
          <%= label_tag("item_category_ids_#{category.id}") do %>
            <%= f.check_box("category_ids[]", { }, category.id) %>
            <span class="gws-category-label" style="<%= category_label_css(category) %>"><%= category.name %></span>
          <% end %>
        <% else %>
          <span class="gws-category-label"><%= category.name %></span>
        <% end %>
      </span>

      <% if category.children? %>
        <%
           if category.grandchild?
             css_class = 'child'
           else
             css_class = 'grandchild'
           end
        %>
        <%= render partial: 'gws/agents/addons/board/category/cate_form', locals: { f: f, categories: category.children, css_class: css_class, depth: depth + 1 } %>
      <% end %>
    </li>
  <% end %>
</ul>
