<%
  disable_image_resizes = SS::ImageResize.allowed?(:disable, @cur_user) && SS::ImageResize.where(state: SS::ImageResize::STATE_ENABLED).present?
  disable_image_resizes ||= cur_node.present? && Cms::ImageResize.allowed?(:disable, @cur_user, site: @cur_site, node: cur_node) && Cms::ImageResize.site(@cur_site).node(cur_node).where(state: SS::ImageResize::STATE_ENABLED).present?
  min_size = @model.image_resizes_min_attributes(node: cur_node)['size']
  min_width = @model.image_resizes_min_attributes(node: cur_node)['max_width']
  min_height = @model.image_resizes_min_attributes(node: cur_node)['max_height']
%>

<div class="cms-tabs">
  <%= link_to tag.span("アップロード", class: "tab-name"), cms_frames_temp_files_uploads_path(site: @cur_site, cid: cur_node, s: params[:s].try(:to_unsafe_h)), class: "current", data: { turbo: true } %>
  <%= link_to tag.span("一覧", class: "tab-name"), cms_frames_temp_files_files_path(site: @cur_site, cid: cur_node, s: params[:s].try(:to_unsafe_h)), data: { turbo: true } %>
</div>

<div class="cms-temp-files" data-controller="ss--temp-file">
  <script type="text/plain" data-ss--temp-file-target="option">
    <%==
      {
        previewApi: url_for(action: :preview),
        createUrl: cur_node.present? ? cms_apis_node_temp_files_path(cid: cur_node, format: :json) : cms_apis_temp_files_path(format: :json),
      }.to_json
    %>
  </script>
  <div class="search-ui-form" data-ss--temp-file-target="fileUploadDropArea">
    <%= file_field_tag :in_files, multiple: true, class: "hide", id: nil, data: { "ss--temp-file-target" => "fileUploadShadow" } %>
    <%= button_tag "ファイル選択", type: :button, name: 'select_file', class: "btn", data: { action: "ss--temp-file#openDialog", "ss--temp-file-target" => "fileUploadReal" } %>
    <span class="upload-drop-notice">ここにファイルをドロップすることでアップロードできます。</span>
  </div>

  <%= form_with scope: :item, url: url_for(action: :create), class: "hide", data: { "ss--temp-file-target" => "fileUploadWaitingForm" } do |f| %>
    <%= error_messages_for :item %>

    <table class="index">
      <tbody data-ss--temp-file-target="fileUploadWaitingList">
      </tbody>
    </table>

    <script type="text/plain" data-ss--temp-file-target="fileUploadWaitingItemTemplate">
      <%% if (selectedItems.length > 0) { %>
        <%% selectedItems.forEach(function(selectedItem) { %>
          <tr data-ss--temp-file-target="fileUploadWaitingItem">
            <%% if (selectedItem.errors && selectedItem.errors.length > 0) { %>
              <td class="name">
                <input type="file" name="item[files][][in_file]" class="hide new-file">
                <%%= selectedItem.name %>
              </td>
              <td class="filename"><%%= selectedItem.filename %></td>
              <td class="options"></td>
              <td class="operations">
                <button name="delete" type="button" class="btn" value="delete" data-action="ss--temp-file#deselect">削除</button>
              </td>
              <td class="errors"><%%= selectedItem.errors.join("\n") %></td>
            <%% } else { %>
              <td class="name">
                <input type="file" name="item[files][][in_file]" class="hide new-file">
                <input type="text" name="item[files][][name]" value="<%%= selectedItem.name %>">
              </td>
              <td class="filename">
                <input type="text" name="item[files][][filename]" value="<%%= selectedItem.filename %>">
              </td>
              <td class="options">
                <%% if (selectedItem.is_image) { %>
                  <% if @model.resizing_options(user: @cur_user, node: cur_node).present? %>
                    <%= f.select :resizing, @model.resizing_options(user: @cur_user, node: cur_node), { include_blank: t("ss.resize_image_auto") }, { class: "image-size", id: nil } %>
                  <% end %>
                  <% if @model.quality_options(user: @cur_user, node: cur_node).present? %>
                    <%= f.select :quality, @model.quality_options(user: @cur_user, node: cur_node), { include_blank: t("ss.quality") }, { id: nil } %>
                  <% end %>
                  <% if disable_image_resizes %>
                    <%= f.select :image_resizes_disabled, @model.image_resizes_disabled_options, {}, { id: nil } %>
                  <% end %>
                  <% if min_size %>
                    <div class="tooltip">?
                      <ul class="tooltip-content">
                        <% t('tooltip.ss/model/file.image_resizes_disabled', size: min_size.to_fs(:human_size), width: min_width, height: min_height).each do |tooltip| %>
                          <li><%= tooltip %><br></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                <%% } %>
              </td>
              <td class="operations">
                <button name="delete" type="button" class="btn" value="delete" data-action="ss--temp-file#deselect">アップロード取消</button>
              </td>
              <td class="errors"></td>
            <%% } %>
          </tr>
        <%% }); %>
      <%% } %>
    </script>

    <footer class="send">
      <%= f.submit t("ss.buttons.upload"), class: "save btn", style: "margin-left: 10px;", data: { submitted: "attach" } %>
    </footer>
  <% end %>
</div>
