<%= jquery do %>
SS_TreeUI.render(".index.groups");
$(".expand-all").on("click", function() {
  $(".index.groups tbody tr img.toggle.closed").click();
});
$(".collapse-all").on("click", function() {
  $(".index.groups tbody tr img.toggle.opened").click();
});
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box">
  <header><h2><%= t('gws/schedule.tabs.group') %></h2></header>

  <div class="gws-groups-operation">
    <button class="btn expand-all">すべて展開</button>
    <button class="btn collapse-all">すべて閉じる</button>
  </div>

  <table class="index groups">
    <tbody>
      <% @items.each do |item| %>
      <tr data-depth="<%= item.name.count("/") + @cur_site.name.count("/") %>">
        <td class="expandable">
          <% if item.users.size > 0 %>
            <%= link_to item.trailing_name, gws_schedule_group_plans_path(group: item.id) %>
          <% else %>
            <%= item.trailing_name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
