<%= jquery do %>Gws_Discussion_Thread.render(<%= @cur_user.id %>);<% end %>

<h2 class="gws-discussion-topic"><%= @forum.name %></h2>

<div class="gws-discussion">
  <div class="addon-views">
    <div class="addon-view" id="addon-basic"><div class="addon-body">
      <p><%= t("gws/discussion.notice.bookmarks") %></p>
      <% if @bookmarks.blank? %>
        <p style="margin-top: 5px;"><%= t("gws/discussion.notice.no_bookmarks") %></p>
      <% end %>
    </div>
  </div>

  <% @bookmarks.each do |bookmark| %>
    <%
      item = bookmark.post
      if item.topic
        topic = item.topic
        ids = item.topic.children.pluck(:id).reverse
        idx = ids.index(item.id).to_i + 2
      else
        topic = item
        idx = 1
      end
      url = gws_discussion_forum_topic_comments_path(forum_id: @forum, topic_id: topic)
      url += "\#comment-#{item.id}"
    %>
    <div class="addon-view">
      <div class="addon-head">
        <h2><%= link_to topic.name, url %></h2>
      </div>
      <div class="addon-body">
        <header>
          <div class="contributor">
            <span class="no"><%= "#{idx}." %></span>
            <%= gws_public_user_long_name(item.contributor_name) %>
          </div>
          <div class="datetime updated">
            <div class="bookmark-comment" data-url="<%= gws_discussion_apis_bookmark_path(forum_id: @forum, id: item) %>">
              <%= render_bookmark_icon(item) %>
            </div>
            <%= ss_time_tag item.updated %>
          </div>
        </header>
        <div class="markdown-body">
          <%= item.html %>
        </div>
        <% if item.files.present? %>
          <div class="files">
            <% item.files.each do |file| %>
              <span id="file-<%= file.id %>">
                <img src="/assets/img/gws/ic-file.png" alt="" />
                <span><%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank', rel: "noopener" %></span>
                <%= sanitizer_status(file) %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= paginate @bookmarks if @bookmarks.try(:current_page) %>
</div>
