<% controller.javascript "/assets/js/jquery.colorbox.js" %>
<% controller.stylesheet "/assets/css/colorbox/colorbox.css" %>

<dl class="column">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "", id: nil %>
    <%= link_to t('ss.links.upload'), member_apis_temp_files_path(member: @cur_member.id), class: "ajax-box btn" %>

    <div id="selected-files">
      <% @item.files.each do |file| %>
        <%= render "ss/crud/ajax_files/file_view", file: file, show_properties: false %>
      <% end %>
    </div>
  </dd>
</dl>

<%= jquery do %>
  SS.renderAjaxBox({ fixed: true, width: "90%", height: "90%" });

  var insertContent = function(cont) {
    if ((typeof tinymce) != "undefined") {
      tinymce.get("item_html").execCommand("mceInsertContent", false, cont);
    } else if (typeof CKEDITOR != "undefined") {
      CKEDITOR.instances.item_html.insertHtml(cont);
    }
  };

  var getContent = function() {
    if ((typeof tinymce) != "undefined") {
      return tinymce.get("item_html").getContent();
    } else if ((typeof CKEDITOR) != "undefined") {
      return CKEDITOR.instances.item_html.getData();
    }
    return null;
  };

  SS_FileView.renderFileView($(document.body), { confirmationOnDelete: <%== I18n.t('ss.confirm.delete').to_json %>, inUseConfirmation: <%== I18n.t('ss.confirm.in_use').to_json %>, insertContent: insertContent, getContent: getContent });
<% end %>
