<% return if params[:action] =~ /index/ %>

<%= jquery do %>
  var date = "calendar[date]=" + "<%= params.dig(:calendar, :date) %>";
  var view = "calendar[view]=" + "<%= params.dig(:calendar, :view) %>";
  var viewFormat = "calendar[viewFormat]=" + "<%= params.dig(:calendar, :viewFormat) %>";
  var viewTodo = "calendar[viewTodo]=" + "<%= params.dig(:calendar, :viewTodo) %>";
  var viewAttendance = "calendar[viewAttendance]=" + "<%= params.dig(:calendar, :viewAttendance) %>";
  var state = date + "&" + view + "&" + viewFormat + "&" + viewTodo + "&" + viewAttendance;
  $('.nav-menu a').each(function() {
    if ($(this).hasClass('no-calendar-state')) {
      return;
    }

    var href = $(this).attr('href');
    if (href.indexOf('?') >= 0) {
      href += "&" + state;
    } else {
      href += "?" + state;
    }
    $(this).attr('href', href);
  });
<% end %>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.new'), action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|copy/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.copy'), { action: :copy, id: @item } %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :soft_delete, id: @item %>
    <% end %>
    <% form_limit = 50 %>
    <%
      forms = Gws::Report::Form.site(@cur_site).and_public
      forms = forms.readable(@cur_user, site: @cur_site)
      forms = forms.order_by(order: 1, created: 1)
    %>
    <% if forms.present? && @model == Gws::Schedule::Plan %>
      <%= dropdown_link(t('gws/schedule.links.create_report')) do %>
        <% forms.limit(form_limit).each do |form| %>
          <%= link_to(new_gws_report_form_file_path(state: 'inbox', form_id: form, plan_id: @item.id), class: %w(dropdown-item no-calendar-state)) do %>
            <%= form.name %>
            <% if form.categories.present? %>
              <span class="categories">
                <% form.categories.compact.each do |category| %>
                  <%= content_tag :span, category.trailing_name, class: 'gws-category-label', style: category_label_css(category) %>
                <% end %>
              </span>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to(t('gws/workflow.forms.more'), new_gws_report_file_path(state: 'inbox', plan_id: @item.id), class: %w(dropdown-item no-calendar-state more-forms)) %>
      <% end %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
