<%= mod_navi do %>
  <h2><%= t 'modules.gws_schedule' %></h2>
  <h3><%= link_to t('gws_schedule.user_plan'), gws_schedule_plans_path %></h3>
  <h3><%= link_to t('gws_schedule.group_plan'), gws_schedule_group_plans_path(group: @cur_group.id) %></h3>
  <h3><%= link_to t('gws_schedule.groups'), gws_schedule_groups_path %></h3>
  <h3><%= link_to t('gws_schedule.facilities'), gws_schedule_facilities_path %></h3>
  <h3><%= link_to t('gws_schedule.category'), gws_schedule_categories_path %></h3>
  <h3><%= link_to t('gws_schedule.plan'), gws_schedule_list_plans_path %></h3>
<% end %>
