<%= mod_navi do %>
  <h2><%= t 'modules.gws/schedule' %></h2>
  <h3><%= link_to @cur_user.name, gws_schedule_plans_path %></h3>
  <h3><%= link_to @cur_group.trailing_name, gws_schedule_group_plans_path(group: @cur_group.id) %></h3>
  <h3><%= link_to t('gws/schedule.group_plan'), gws_schedule_groups_path %></h3>
  <h3><%= link_to t('gws/schedule.facility_plan'), gws_schedule_facilities_path %></h3>
  <h3><%= link_to t('gws/schedule.category'), gws_schedule_categories_path %></h3>
  <h3><%= link_to t('gws/schedule.plan'), gws_schedule_list_plans_path %></h3>
<% end %>
