<div class="gws-schedule-tabs">
  <%= link_to gws_schedule_plans_path, class: "personal" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.personal') %></span>
  <% end %>

  <% @cur_user.groups.in_group(@cur_site).each do |group| %>
    <%= link_to gws_schedule_group_plans_path(group: group.id), class: "group" do %>
      <span class="tab-name"><%= group.trailing_name %></span>
    <% end %>
  <% end %>

  <% Gws::CustomGroup.site(@cur_site).readable(@cur_user, @cur_site, exclude_role: true).each do |g| %>
    <%= link_to gws_schedule_custom_group_plans_path(group: g.id), class: "custom-group" do %>
      <span class="tab-name"><%= g.name %></span>
    <% end %>
  <% end %>

  <%= link_to gws_schedule_all_groups_path, class: "group-all" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.group') %></span>
  <% end %>
  <%= link_to gws_schedule_facilities_path, class: "facility" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.facility') %></span>
  <% end %>
  <%= link_to gws_schedule_list_plans_path, class: "personal-list" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.personal_list') %></span>
  <% end %>
</div>
