<div class="gws-schedule-tabs">
  <%= link_to gws_schedule_plans_path, class: "personal" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.personal') %></span>
  <% end %>

  <% @cur_user.schedule_tabs_visible_groups(@cur_site).each do |group| %>
    <%= link_to gws_schedule_group_plans_path(group: group.id), class: "group" do %>
      <span class="tab-name"><%= group.trailing_name %></span>
    <% end %>
  <% end %>

  <% @cur_user.schedule_tabs_visible_custom_groups(@cur_site).each do |g| %>
    <%= link_to gws_schedule_custom_group_plans_path(group: g.id), class: "custom-group" do %>
      <span class="tab-name"><%= g.name %></span>
    <% end %>
  <% end %>

  <%= link_to gws_schedule_all_groups_path, class: "group-all" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.group') %></span>
  <% end %>
  <%= link_to gws_schedule_facilities_path, class: "facility" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.facility') %></span>
  <% end %>
  <!--
  <%= link_to gws_schedule_list_plans_path, class: "personal-list" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.personal_list') %></span>
  <% end %>
  -->
  <%= link_to gws_schedule_search_path, class: "search" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.search') %></span>
  <% end %>
</div>
