<%= jquery do %>
Gws_Schedule_View.renderTabs('.gws-schedule-tabs');
<% end %>

<ul class="gws-schedule-tabs nav nav-tabs border-bottom mb-5">
  <%= link_to gws_schedule_plans_path, class: "personal nav-link active" do %>
    <li class="nav-item"><span class="tab-name"><%= t('gws/schedule.tabs.personal') %></span></li>
  <% end %>

  <% @cur_user.schedule_tabs_visible_groups(@cur_site).each do |group| %>
    <%= link_to gws_schedule_group_plans_path(group: group.id), class: "group nav-link" do %>
      <li class="nav-item"><span class="tab-name"><%= group.trailing_name %></span></li>
    <% end %>
  <% end %>

  <% @cur_user.schedule_tabs_visible_custom_groups(@cur_site).each do |g| %>
    <%= link_to gws_schedule_custom_group_plans_path(group: g.id), class: "custom-group nav-link" do %>
      <li class="nav-item"><span class="tab-name"><%= g.name %></span></li>
    <% end %>
  <% end %>

  <%= link_to gws_schedule_all_groups_path, class: "group-all nav-link" do %>
    <li class="nav-item"><span class="tab-name"><%= t('gws/schedule.tabs.group') %></span></li>
  <% end %>
  <%= link_to gws_schedule_facilities_path, class: "facility nav-link" do %>
    <li class="nav-item"><span class="tab-name"><%= t('gws/schedule.tabs.facility') %></span></li>
  <% end %>
  <!--
  <%= link_to gws_schedule_list_plans_path, class: "personal-list nav-link" do %>
    <li class="nav-item"><span class="tab-name"><%= t('gws/schedule.tabs.personal_list') %></span></li>
  <% end %>
  -->
</ul>
