<% Facility::Node::Page.addons.each do |addon| %>
  <% next unless addon.exists?(:view) %>
  <%= render_cell "#{addon.path}/view", params[:action] %>
<% end %>

<% if @summary_image.present? %>
  <p>
    <%= link_to @summary_image.url do %>
      <% if @summary_image.image_alt.present? %>
        <%= image_tag @summary_image.image.thumb_url + "?" + { width: 256, height: 192 }.to_query, alt: @summary_image.image_alt %>
      <% else %>
        <%= image_tag @summary_image.image.thumb_url + "?" + { width: 256, height: 192 }.to_query %>
      <% end %>
    <% end %>
  </p>
  <% if @summary_image.image_comment.present? %>
    <p><%= @summary_image.image_comment %></p>
  <% end %>
<% end %>

<h2><%= t("facility.image") %></h2>
<% if @images.present? %>
  <div class="images">
    <% @images.each do |img| %>
      <div class="image">
        <p>
          <%= link_to img.url do %>
            <% if img.image_alt.present? %>
              <%= image_tag img.image.thumb_url + "?" + { width: 256, height: 192 }.to_query, alt: img.image_alt %>
            <% else %>
              <%= image_tag img.image.thumb_url + "?" + { width: 256, height: 192 }.to_query %>
            <% end %>
          <% end %>
        </p>
        <% if img.image_comment.present? %>
          <p><%= img.image_comment %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @merged_map.present? %>
  <% @cur_page = @merged_map %>
  <%= render file: "map/addons/page/view/index" %>
<% end %>
