<%= node_navi do %>

<nav class="main-menu">
  <header><h1><%= t :"modules.opendata" %></h1></header>
  <div>
    <%= link_to :"mongoid.models.opendata/data_group", opendata_data_groups_path, class: "icon-node" %>

    <% Opendata::Node::Dataset.site(@cur_site).each do |item| %>
    <%= link_to item.name, opendata_datasets_path(item), class: "icon-node" %>
    <% end %>
    <% Opendata::Node::App.site(@cur_site).each do |item| %>
    <%= link_to item.name, opendata_apps_path(item), class: "icon-node" %>
    <% end %>
    <% Opendata::Node::Idea.site(@cur_site).each do |item| %>
    <%= link_to item.name, opendata_ideas_path(item), class: "icon-node" %>
    <% end %>
  </div>
</nav>

<% end %>
