<%= node_navi :opendata do %>

<% if @cur_node.route == "opendata/dataset" %>
  <h3><%= link_to :"mongoid.models.opendata/dataset", opendata_datasets_path, class: "icon-node" %></h3>
  <ul class="narrow-page">
    <li><%= link_to :"workflow.page.closed", opendata_datasets_closed_path, class: "icon-node" %></li>
  </ul>
  <h3><%= link_to :"mongoid.models.opendata/dataset_group", opendata_dataset_groups_path, class: "icon-node" %></h3>
  <h3><%= link_to :"mongoid.models.opendata/license", opendata_licenses_path, class: "icon-node" %></h3>
  <h3><%= link_to :"mongoid.models.opendata/crawl", opendata_crawls_path, class: "icon-node" %></h3>
<% elsif @cur_node.route == "opendata/app" %>
  <h3><%= link_to :"mongoid.models.opendata/app", opendata_apps_path, class: "icon-node" %></h3>
  <ul class="narrow-page">
    <li><%= link_to :"workflow.page.closed", opendata_apps_closed_path, class: "icon-node" %></li>
  </ul>
  <h3><%= link_to :"mongoid.models.opendata/license", opendata_licenses_path, class: "icon-node" %></h3>
<% elsif @cur_node.route == "opendata/idea" %>
  <h3><%= link_to :"mongoid.models.opendata/idea", opendata_ideas_path, class: "icon-node" %></h3>
  <ul class="narrow-page">
    <li><%= link_to :"workflow.page.closed", opendata_ideas_closed_path, class: "icon-node" %></li>
  </ul>
<% else %>
  <% Opendata::Node::Dataset.site(@cur_site).each do |item| %>
  <h3><%= link_to item.name, opendata_datasets_path(@cur_site.host, item), class: "icon-node" %></h3>
  <% end %>
  <% Opendata::Node::App.site(@cur_site).each do |item| %>
  <h3><%= link_to item.name, opendata_apps_path(@cur_site.host, item), class: "icon-node" %></h3>
  <% end %>
  <% Opendata::Node::Idea.site(@cur_site).each do |item| %>
  <h3><%= link_to item.name, opendata_ideas_path(@cur_site.host, item), class: "icon-node" %></h3>
  <% end %>
<% end %>

<% if @cur_node.route == "opendata/dataset" %>
  <h3><span><%= t "workflow.pages" %></span></h3>
  <ul class="narrow-page">
    <li><%= link_to :"workflow.page.approve", opendata_datasets_approve_path, class: "icon-node" %></li>
    <li><%= link_to :"workflow.page.request", opendata_datasets_request_path, class: "icon-node" %></li>
  </ul>
<% elsif @cur_node.route == "opendata/app" %>
  <h3><span><%= t "workflow.pages" %></span></h3>
  <ul class="narrow-page">
    <li><%= link_to :"workflow.page.approve", opendata_apps_approve_path, class: "icon-node" %></li>
    <li><%= link_to :"workflow.page.request", opendata_apps_request_path, class: "icon-node" %></li>
  </ul>
<% elsif @cur_node.route == "opendata/idea" %>
  <h3><span><%= t "workflow.pages" %></span></h3>
  <ul class="narrow-page">
    <li><%= link_to :"workflow.page.approve", opendata_ideas_approve_path, class: "icon-node" %></li>
    <li><%= link_to :"workflow.page.request", opendata_ideas_request_path, class: "icon-node" %></li>
  </ul>
<% end %>

<% end %>
