<dl class="see after_move">
  <dt><%= t "chorg.views.#{params[:type]}_change_sets.after_move" %></dt>
  <dd></dd>
  <% Chorg::ChangeSet::GROUP_ATTRIBUTES.each do |k| %>
    <dt><%= t "chorg.views.#{params[:type]}_change_sets.#{k}" %></dt>
    <dd><%= f.text_field "destinations[][#{k}]", value: @item.destinations.try(:first).try(:send, :[], k) %></dd>
  <% end %>
</dl>

<dl class="see before_move">
  <dt><%= t "chorg.views.#{params[:type]}_change_sets.before_move" %></dt>
  <dd></dd>
  <dt><%= t "chorg.views.#{params[:type]}_change_sets.name" %></dt>
  <dd>
    <%= f.hidden_field "sources[][id]", value: "", class: "hidden-ids" %>
    <%= link_to :"chorg.views.#{params[:type]}_change_sets.select_group", cms_search_groups_path(single: 1), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name" style="width: 90%;"><%= Cms::Group.t :name %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% source = @item.sources.try(:first) %>
      <% if source.present? %>
        <tr data-id="<%= source["id"] %>">
          <td><%= f.hidden_field "sources[][id]", value: source["id"] %> <%= source["name"] %></td>
          <td><%= link_to t("contact.search_groups.deselect"), "#", class: :deselect %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
