<nav class="mod-navi">
  <h2><%= link_to t("gws/portal.my_portal"), gws_portal_path %></a></h2>
  <h2><%= t("ss.management") %></h2>

  <h3><%= link_to t("gws/portal.links.arrange_portlets"), gws_portal_my_layouts_path %></h3>
  <h3><%= link_to t("gws/portal.links.manage_portlets"), gws_portal_my_portlets_path %></h3>
  <h3><%= link_to t("gws/portal.links.settings"), gws_portal_my_settings_path %></h3>
</nav>

<%= render partial: 'gws/main/navi' %>
