<%
  bulk_download_items = @items.select{ |item| item.zip_exists? }
  bulk_download_ids = bulk_download_items.map(&:id)
  bulk_download_size = bulk_download_items.map(&:zip_size).sum

  bulk_download_max_filesize = SS.config.opendata.bulk_download_max_filesize
  exceeded_filesize = bulk_download_size > bulk_download_max_filesize
  bulk_download_url = exceeded_filesize ? "#" : "#{@cur_node.url}bulk_download?#{{ ids: bulk_download_ids }.to_query}"

  file = "#{@cur_node.path}/search.html"
%>

<% if exceeded_filesize %>
<%= jquery do %>
$(".download-all").on("click", function () {
  alert('<%= t("opendata.notice.bulk_download_exceeded_filesize", size: number_to_human_size(bulk_download_max_filesize)) %>');
  return false;
});
<% end %>
<% end %>

<% if !controller.preview_path? && Fs.exists?(file) %>
  <%== Fs.read(file) %>
<% else %>
  <%= render file: 'opendata/agents/nodes/dataset/search_dataset/search' %>
<% end %>

<% if @items.count > 0 %>
  <section class="result">
    <h2>
      <span class="number"><%= @items.count %></span>
      <%= t("ss.notice.hit") %>
      <span class="first"><%= @items.offset_value + 1 %></span>
      <%= t("ss.wave_dash") %>
      <span class="last">
        <% limit = @cur_node.limit || 20 %>
        <%= (@items.current_page * limit) > @items.count ? @items.count : (@items.current_page * limit) %>
      </span>
      <%= t("ss.notice.first_to_last") %>
    </h2>
  </section>
<% end %>

<%= paginate @items %>

<% if bulk_download_ids.present? %>
  <% if @cur_site.anti_bot_use_button_for_bulk_download? %>
    <%= form_tag bulk_download_url, method: "post", class: "download-all" do %>
      <%= submit_tag t("opendata.search_datasets.bluk_download"), name: "bluk-download" %>
    <% end %>
  <% else %>
    <%= link_to(t("opendata.search_datasets.bluk_download"), bulk_download_url, class: "download-all", rel: @cur_site.anti_bot_set_nofollow? ? "nofollow" : nil) %>
  <% end %>
<% end %>

<div class="opendata-search-datasets pages">
  <% @items.each do |item| %>
  <article>
    <header>
      <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
      <h2><%= link_to item.name, item.url %>
        <% if item.zip_exists? %>
        <div class="download">
          <% if @cur_site.anti_bot_use_button_for_bulk_download? %>
            <%= form_tag search_dataset_download_path(item), method: "post" do %>
              <%= submit_tag t("opendata.search_datasets.download", size: item.resources.size), name: "dataset-download" %>
            <% end %>
          <% else %>
            <%= link_to(t("opendata.search_datasets.download", size: item.resources.size), search_dataset_download_path(item), rel: @cur_site.anti_bot_set_nofollow? ? "nofollow" : nil) %>
          <% end %>
        </div>
        <% end %>

        <% if item.parent.becomes_with_route.show_point? %>
        <span class="point"><%= item.point.to_i %></span>
        <% end %>
      </h2>
    </header>
    <div class="categories">
      <% item.categories.sort(order: 1).each_with_index do |category, idx| %>
        <span class="category"><%= category.name %></span>
      <% end %>
      <% item.areas.sort(order: 1).each_with_index do |area, idx| %>
        <span class="area"><%= area.name %></span>
      <% end %>
      <% item.tags.each_with_index do |tag, idx| %>
        <span class="tag"><%= tag %></span>
      <% end %>
    </div>
  </article>
  <% end %>

  <% if @items.blank? %>
  <article>
    <header>
      <h2><%= I18n.t("opendata.labels.no_dataset") %></h2>
    </header>
  </article>
  <% end %>
</div>

<%= paginate @items %>
