<dl class="see gws-addon-schedule-approval">
  <dt><%= @model.t :approval_member_ids %><%= @model.tt :approval_member_ids %></dt>
  <dd>
    <%= f.hidden_field "approval_member_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "btn ajax-box" %>
    <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
    <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
        <% @item.approval_members.each do |user| %>
        <tr data-id="<%= user.id %>">
          <td><%= f.hidden_field "approval_member_ids[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
