<%
  if item.is_a?(Cms::TempFile)
    file_path = proc { |item| view_sns_apis_temp_file_path(user: @cur_user.id, id: item) }
    thumb_path = proc { |item| thumb_sns_apis_temp_file_path(user: @cur_user.id, id: item, _: item.updated.to_i) }
  else
    file_path = proc { |item| item.url }
    thumb_path = proc { |item| item.thumb_url }
  end
%>
<%= jquery do %>
  $(".od-resource-file-meta").hide();
  $("input[name='item[opendata_dataset_state]']").each(function() {
    if ($(this).prop("checked")) {
      $(this).trigger('change');
    }
  });
<% end %>
<div class="file-view" data-file-id="<%= item.id %>" data-humanized-name="<%= item.humanized_name %>">
  <%= sanitizer_status(item) %>
  <%= link_to file_path.call(item), class: :thumb, target: "_blank", rel: "noopener" do %>
    <% if item.image? %>
      <img src="<%= thumb_path.call(item) %>" alt="<%= item.basename %>" />
    <% else %>
      <span class="ext icon-<%= item.extname %>"><%= item.extname %></span>
    <% end %>
  <% end %>
  <div class="name">
    <label>
      <%= hidden_field_tag("item[column_values][][in_wrap][file_id]", item.id, id: nil, class: "file-id") %>
      <%= item.name %>
    </label><br />
    <% if params[:file_size] %>
    <span class="file-size"><%= "( #{number_to_human_size(item.size)} )" %></span>
    <% end %>
  </div>
  <div class="action">
    <%= link_to t("ss.buttons.delete"), "#", class: "action-delete btn-file-delete" %>
  </div>
  <% licenses = Opendata::License.in(site_id: @cur_node.try(:opendata_site_ids)).and_public.pluck(:name, :id) if @cur_node.present? %>
  <% page = @page.presence || @item %>
  <% if @cur_node.present? && @cur_node.try(:opendata_sites).present? && page.respond_to?(:opendata_resources) %>
    <dl class="od-resource-file-meta">
      <dt><%= t('cms.opendata_ref/resource.license_id') %></dt>
      <dd>
        <%= select_tag "item[opendata_resources][#{item.id}][license_ids]", options_for_select(licenses, page.opendata_resources_licenses(item).first.try(:id)), include_blank: true %>
      </dd>

      <dt><%= t('cms.opendata_ref/resource.text') %></dt>
      <dd><%= text_area_tag "item[opendata_resources][#{item.id}][text]", page.opendata_resources_text(item) %></dd>

      <dt><%= t('cms.opendata_ref/resource.state') %></dt>
      <dd>
        <%= select_tag "item[opendata_resources][#{item.id}][state]", options_for_select(page.opendata_resource_state_options, page.opendata_resources_state(item)), class: 'od-resource-file-state', data: { 'file-id' => item.id } %>
      </dd>
    </dl>
  <% end %>
</div>
