<div class="attendance-box monthly">
  <div class="attendance-box-title"><%= t('gws/attendance.formats.time_card_name', month: I18n.l(@cur_month.to_date, format: :attendance_year_month)) %></div>
  <div class="attendance-box-main main">
    <%= render 'time_card_nav' %>

    <% if @item.blank? %>
      <p><%= t('gws/attendance.no_time_cards') %></p>
    <% elsif @duty_calendar.flextime? %>
      <%= render 'time_card/flextime' %>
    <% else %>
      <%= render 'time_card/default' %>
    <% end %>
  </div>
</div>
