<table class="index">
  <thead>
    <tr>
      <th><%= t :"history.user" %></th>
      <th><%= t :"history.taget" %></th>
      <th><%= t :"history.action" %></th>
      <th class="datetime"><%= @model.t :created %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.user ? link_to(item.user_label, sys_user_path(item.user)) : item.user_id %>
        <nav class="tap-menu">
          <%= link_to item.url, item.url %>
        </nav>
      </td>
      <td><%= item.target_label %></td>
      <td><%= item.action %></td>
      <td class="datetime"><%= item.created.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
