<div class="index">
  <div class="list-head">
    <%= render partial: "search" %>
  </div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <% name = item.try(:name) || item.try(:title) || "##{item.id}" %>
    <li class="list-item">
      <div class="info">
        <h3 class="title"><%= item.target_label %> : <%= item.action %></h3>
        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= ss_time_tag item.created %></span>
          <span class="filename"><%= item.url %></span>
          <span class="user"><%= item.user ? link_to(item.user_label, sys_user_path(item.user)) : item.user_id %></span>
          <% if item.group_ids %>
            <span class="label"><%= @model.t :group %></span>
            <span class="group-ids"><%= item.group_label %></span>
          <% end %>
          <% if item.session_id %>
            <span class="label"><%= @model.t :session_id %></span>
            <span class="session-id"><%= item.session_id %></span>
          <% end %>
          <% if item.request_id %>
            <span class="label"><%= @model.t :request_id %></span>
            <span class="session-id"><%= item.request_id %></span>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
