<%= jquery do %>
  Gws_Schedule_Csv.render(".gws-schedule-csv");
<% end %>

<section class="main-box gws-schedule-csv">
  <header>
    <h2><%= t("ss.import") %></h2>
  </header>

  <%= form_for :item, url: gws_schedule_import_csv_path, html: { method: :post, id: :import_form } do |f| %>
    <%= error_messages_for :item %>

    <dl class="see">
      <dd class="wide">
        <%= f.hidden_field_tag "import_mode", "save" %>
        <%= f.file_field :in_file %>
      </dd>
      <dd class="wide">
        <%= link_to t('ss.links.download_template'), action: :download_template %>
      </dd>
    </dl>

    <footer class="send text-left">
      <%= f.button t("ss.buttons.confirm"), class: 'btn-default import-confirm' %>
      <%= f.submit t("ss.import"), class: 'save import-save', data: { confirm: I18n.t("ss.confirm.import") } %>
    </footer>
  <% end %>

  <div class="import-log mt-4"></div>
</section>
