<style>
.gws-schedule-csv .import-log:empty { display: none; }
.gws-schedule-csv .import-log { min-height: 2em; background: #f7f7f7; padding: 10px; }
.gws-schedule-csv .import-loading { color: #bbb; }
.gws-schedule-csv .import-skip td { color: #bbb; }
.gws-schedule-csv .import-error td { color: #e00; }
</style>

<%= jquery do %>
  $('.import-confirm').click(function(){
    $('#import_mode').val('confirm');
  });
  $('.import-save').click(function(){
    $('#import_mode').val('save');
  });
  $('#import_form').ajaxForm({
    beforeSubmit: function() {
      $('.import-log').html('<span class="import-loading"><%= t("ss.notice.uploading") %></span>');
    },
    success: function(data, status) {
      var log = $('.import-log');

      if (data.messages) {
        log.html(data.messages.join('<br />'));
      } else if (data.items) {
        var count = { success: 0, skip: 0, error: 0 };
        var html = '<table class="index mt-1"><thead><tr>' +
          '<th style="width: 150px"><%= @model.t :start_at %></th>' +
          '<th style="width: 150px"><%= @model.t :end_at %></th>' +
          '<th style="width: 30%"><%= @model.t :name %></th>' +
          '<th><%= t('gws/schedule.import.result') %></th>' +
          '</tr></thead><tbody>';

        $.each(data.items, function(i, item){
          if (item.result == 'success') count.success += 1;
          if (item.result == 'skip') count.skip += 1;
          if (item.result == 'error') count.error += 1;

          html += '<tr class="import-' + item.result + '">' +
            '<td>' + moment(item.start_at).format('YYYY-MM-DD h:mm') + '</td>' +
            '<td>' + moment(item.end_at).format('YYYY-MM-DD h:mm') + '</td>' +
            '<td>' + item.name + '</td>' +
            '<td>' + item.messages.join('<br />') + '</td>' +
            '</tr>'
        });
        html += '</tbody></table>';

        var tabs = ''
        tabs += '<span><%= t('gws/schedule.import.entry') %>(' + count.success + ')</span>';
        tabs += '<span class="ml-1"><%= t('gws/schedule.import.exist') %>(' + count.skip + ')</span>';
        tabs += '<span class="ml-1"><%= t('gws/schedule.import.error') %>(' + count.error + ')</span>';

        log.html(tabs + html);
      }
    }
  });
<% end %>

<section class="main-box gws-schedule-csv">
  <header>
    <h2><%= t("ss.import") %></h2>
  </header>

  <%= form_for :item, url: gws_schedule_import_csv_path, html: { method: :post, id: :import_form } do |f| %>
    <%= error_messages_for :item %>

    <%= f.hidden_field_tag "import_mode", "save" %>
    <%= f.file_field :in_file %>

    <footer class="send text-left">
      <%= f.button t("ss.buttons.confirm"), class: 'btn-default import-confirm' %>
      <%= f.submit t("ss.import"), class: 'save import-save', data: { confirm: I18n.t("ss.confirm.import") } %>
    </footer>
  <% end %>

  <div class="import-log mt-4"></div>
</section>
