<div class="addon-view">
  <%= form_for :s, url: { action: :index }, html: { class: :search, multipart: true } do |f| %>
  <div class="search-contents-form">
    <dl class="see">
      <dt><%= t("cms.apis.contents.keyword") %><%= tt("search_contents.files.keyword") %></dt>
      <dd>
        <%= f.text_field :keyword, value: params[:s].try(:[], :keyword) %>
        <%= f.submit t("ss.buttons.search"), name: "search", class: "search btn" %>
      </dd>
    </dl>
  </div>
  <% end %>

  <dl class="see">
    <dd class="wide">
      <div id="selected-files">
        <% @items.each do |file| %>
          <div class="file-view">
            <% page = Cms::Page.in(file_ids: file.id).first %>
            <% next if page.nil? %>
            <%= link_to cms_page_path(id: page.id), class: :thumb, target: "_blank" do %>
              <% if file.image? %>
                <%= image_tag file.thumb_url, alt: file.name %>
              <% else %>
                <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
              <% end %>
              <div class="properties">
                <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
                <% if file.image? %>
                  <% img = Magick::ImageList.new(file.path) %>
                  <span><%= t("sns.w_h") %>: <%= img.columns %> x <%= img.rows %></span><br>
                <% end %>
                <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
                <span><%= t("sns.datetime") %>: <%= file.updated.strftime("%Y/%m/%d %H:%M") %></span><br>
                <% if file.user.present? %>
                  <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
                <% end %>
              </div>
            <% end %>

            <div class="no-overflow">
              <div class="name">
                <span title="<%= file.name %>"><%= file.name %></span><br />
                <span title="<%= file.filename %>"><%= file.filename %></span><br />
              </div>
              <%= link_to cms_page_path(id: page.id), target: "_blank" do %>
                <div class="name">
                  <span title="<%= page.name %>"><%= page.name %></span><br />
                  <span title="<%= page.filename %>"><%= page.filename %></span><br />
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </dd>
  </dl>
</div>

<%= paginate @items %>