<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if item.try(:updated) %>
    <span class="datetime"><%= ss_time_tag item.updated %></span>
  <% end %>
  <% if item.try(:filename) %>
    <span class="filename"><%= File.basename item.filename %></span>
  <% end %>
  <% if item.try(:route) %>
    <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
  <% end %>
  <% if item.try(:status) %>
    <%= colored_state_label(item) %>
  <% end %>
  <% comments = item.comments.select { |c| c.status == "request" } %>
  <% if comments.present? %>
    <%= @model.t :request_comment %>: <span class="comments"><%= "#{comments.size}件" %></span>
  <% end %>
<% end %>

<%= render template: "cms/crud/index" %>
