<%= node_navi :article do %>

<h3><%= link_to :"article.page", article_pages_path %></h3>

<ul class="narrow-page">
  <li><%= link_to :"workflow.page.ready", article_index_ready_path %></li>
  <li><%= link_to :"workflow.page.closed", article_index_closed_path %></li>
</ul>

<h3><span><%= t "workflow.pages" %></span></h3>

<ul class="narrow-page">
  <li><%= link_to :"workflow.page.approve", article_index_approve_path %></li>
  <li><%= link_to :"workflow.page.request", article_index_request_path %></li>
</ul>

<% end %>
