<% value ||= nil %>
<% file = value.try(:file) %>
<%= render 'cms/agents/columns/main/base', show: true, column: column, value: value do %>
  <% if file.present? %>
    <div id="selected-files">
      <div id="file-<%= file.id %>" class="file-view" data-file-id="<%= file.id %>">
        <%= sanitizer_status(file) %>
        <%= link_to file.url, class: :thumb, target: "_blank", rel: "noopener" do %>
          <% if file.image? %>
            <%= image_tag file.thumb_url, alt: file.name %>
          <% else %>
            <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
          <% end %>
          <div class="properties">
            <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
            <% if file.image? %>
              <% width, height = file.image_dimension %>
              <span><%= t("sns.w_h") %>: <%= width %> x <%= height %></span><br>
            <% end %>
            <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
            <span><%= t("sns.datetime") %>: <%= ss_time_tag(file.updated) %></span><br>
            <% if file.user.present? %>
              <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
            <% end %>
          </div>
        <% end %>

        <div class="name">
          <label>
            <%= file.name %>
          </label><br />
        </div>
        <div>
          <% case column.file_type %>
          <% when "attachment" %>
            <label><%= t("cms.column_file_upload.attachment.file_label") %>: <%= value.try(:file_label) %></label>
          <% when "video" %>
            <label><%= t("cms.column_file_upload.video.text") %>: <%= value.try(:text) %></label>
          <% when "banner" %>
            <label><%= t("cms.column_file_upload.banner.link_url") %>: <%= value.try(:link_url) %></label>
            <label><%= t("cms.column_file_upload.banner.file_label") %>: <%= value.try(:file_label) %></label>
          <% else # "image" %>
            <label><%= t("cms.column_file_upload.image.file_label") %>: <%= value.try(:file_label) %></label><br />
            <label><% if value.try(:image_html_type) %><%= I18n.t("cms.options.column_image_html_type.#{value.try(:image_html_type)}") %><% end %></label>
          <% end %>
        </div>
      </div>
    </div>

    <% if SS::ReplaceFile.replaceable?(@item, user: @cur_user, site: @cur_site, node: @cur_node) %>
      <div class="replace-file">
        <% if params[:replace_temp_file].present? %>
          <%= link_to t('ss.buttons.replace_file'), params[:cid].blank? ? confirm_cms_apis_replace_file_path(owner_item_id: @item, id: file) : confirm_cms_apis_node_replace_file_path(owner_item_id: @item, id: file), class: "ajax-box" %>
        <% else %>
          <%= link_to t('ss.buttons.replace_file'), params[:cid].blank? ? edit_cms_apis_replace_file_path(owner_item_id: @item, id: file) : edit_cms_apis_node_replace_file_path(owner_item_id: @item, id: file), class: "ajax-box" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= jquery do %>
var highlighter = new Cms_File_Highlighter();
highlighter.render();
<% end %>
