<% value ||= nil %>
<% file = value.try(:file) %>
<% controller ||= false %>
<%
  form_options = column.form_options
  form_options['class'] = [ form_options['class'].presence ].flatten.compact
  form_options['class'] << 'file-id'
%>
<% opendata_assoced = @cur_node && @cur_node.becomes_with_route.try(:opendata_sites).present? %>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do |id| %>
  <span class="upload-menu-new">
    <% if opendata_assoced %>
      <%= link_to t('ss.links.upload'), cms_apis_node_temp_files_path(cid: @cur_node, similar_files: 1), class: "ajax-box btn btn-file-upload" %>
    <% elsif @cur_node %>
      <%= link_to t('ss.links.upload'), cms_apis_node_temp_files_path(cid: @cur_node), class: "ajax-box btn btn-file-upload" %>
    <% else %>
      <%= link_to t('ss.links.upload'), cms_apis_temp_files_path, class: "ajax-box btn btn-file-upload" %>
    <% end %>
  </span>
  <span class="upload-menu-select">
    <%= link_to t("sns.user_file"), cms_apis_user_files_path(cid: @cur_node || '-'), class: "ajax-box btn btn-file-upload" %>
    <%= link_to t("cms.file"), cms_apis_files_path(cid: @cur_node || '-'), class: "ajax-box btn btn-file-upload" %>
  </span>

  <% if opendata_assoced %>
    <div class="drop-and-search">
      <div class="column-value-upload-drop-area">
        <span class="column-value-upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
      </div>
      <div class="column-value-upload-drop-and-search-area">
        <span class="column-value-upload-drop-notice"><%= t("ss.notice.file_droppable_and_search") %></span>
      </div>
    </div>
  <% else %>
    <div class="column-value-upload-drop-area">
      <span class="column-value-upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
    </div>
  <% end %>

  <div class="column-value-files<% if !file %> hide<% end %>">
    <% if file %>
      <%= render 'cms/apis/forms/select_temp_file/upload', item: file %>
    <% end %>
  </div>

  <div style="margin-top: 10px;">
    <%= render "cms/agents/columns/file_upload/column_form_#{column.file_type.presence || "image"}", f: f, id: id, column: column, value: value %>
  </div>

  <%= jquery do %>
    Cms_Column_FileUpload.render(<%== "##{id}".to_json %>);
  <% end %>
<% end %>
