<% value ||= nil %>
<% file = value.try(:file) %>
<%= render 'cms/agents/columns/main/base', show: true, column: column, value: value do %>
  <% if file.present? %>
    <div id="selected-files">
      <div class="file-view" data-file-id="<%= file.id %>">
        <%= link_to file.url, class: :thumb, target: "_blank" do %>
          <% if file.image? %>
            <%= image_tag file.thumb_url, alt: file.name %>
          <% else %>
            <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
          <% end %>
          <div class="properties">
            <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
            <% if file.image? %>
              <% img = Magick::ImageList.new(file.path) %>
              <span><%= t("sns.w_h") %>: <%= img.columns %> x <%= img.rows %></span><br>
            <% end %>
            <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
            <span><%= t("sns.datetime") %>: <%= file.updated.strftime("%Y/%m/%d %H:%M") %></span><br>
            <% if file.user.present? %>
              <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
            <% end %>
          </div>
        <% end %>

        <div class="name">
          <label>
            <%= file.name %>
          </label><br />
        </div>
        <div>
          <% case column.file_type %>
          <% when "attachment" %>
            <label><%= t("cms.column_file_upload.attachment.file_label") %>: <%= value.try(:file_label) %></label>
          <% when "video" %>
            <label><%= t("cms.column_file_upload.video.text") %>: <%= value.try(:text) %></label>
          <% when "banner" %>
            <label><%= t("cms.column_file_upload.banner.link_url") %>: <%= value.try(:link_url) %></label>
            <label><%= t("cms.column_file_upload.banner.file_label") %>: <%= value.try(:file_label) %></label>
          <% else # "image" %>
            <label><%= t("cms.column_file_upload.image.file_label") %>: <%= value.try(:file_label) %></label><br />
            <label><% if value.try(:image_html_type) %><%= I18n.t("cms.options.column_image_html_type.#{value.try(:image_html_type)}") %><% end %></label>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
