<dl class="see">
  <dt><%= @model.t :faq_category_ids %></dt>
  <dd>
    <%= f.hidden_field "faq_category_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("gws.apis.categories.index"), gws_faq_apis_categories_path(single: true), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::Board::Category.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
        <% @item.faq_categories.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= f.hidden_field "faq_category_ids[]", value: item.id %> <%= item.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @item.t :limit %> </dt>
  <dd><%= f.number_field :limit %></dd>
</dl>
