<%= jquery do %>
  // ドロップダウンの項目は開いた時に初めて生成する。
  // 一覧ページにはツリーナビに同名のフォルダーリンクが既に存在するため、移動先項目を
  // 常時サーバー描画するとフォルダー名のクリック対象が二重化し、テスト環境
  // （ignore_hidden_elements = false）で click_on が曖昧マッチになる。これを避けるため
  // 遅延生成する。バインドは DOM ready 時・生成はユーザーが開いた後のため本番でも安全。
  $(".move-menu").each(function() {
    var $menu = $(this);
    var $list = $menu.find(".dropdown-menu");
    $menu.on("ss:dropdownOpened", function() {
      if ($list.data("populated")) { return; }
      $list.data("populated", true);

      var folders = $menu.data("folders") || [];
      $.each(folders, function(_i, folder) {
        var $a = $("<a/>", { href: "#", role: "menuitem", "data-folder-id": folder.id, text: folder.name });
        $list.append($("<li/>", { role: "none" }).append($a));
      });
    });
  });

  $(".move-menu").on("click", ".dropdown-menu a", function() {
    var folderId = $(this).attr("data-folder-id");
    var form = Gws_Bookmark_Item.buildForm("<%= url_for(action: :move_all) %>", "<%= t('gws/bookmark.links.confirm.move') %>");
    if (!form) { return false; }
    form.append($("<input/>", { name: "dst_folder_id", value: folderId, type: "hidden" }));
    form.appendTo(document.body)[0].requestSubmit();
    return false;
  });
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <% if @destination_folders.present? %>
      <div class="dropdown dropdown-toggle gws-bookmark-dropdown move-menu"
           data-folders="<%= @destination_folders.map { |folder| { id: folder.id, name: folder.name } }.to_json %>">
        <button type="button" class="btn" aria-haspopup="true" aria-expanded="false">
          <%= t('gws/bookmark.links.move') %> <i class="material-icons md-13">keyboard_arrow_down</i>
        </button>
        <ul class="dropdown-menu" role="menu"></ul>
      </div>
    <% end %>

    <% if @deletable %>
      <div class="list-head-action-destroy">
        <%= ss_button_to t("ss.links.delete"), "", class: "destroy-all btn btn-red ml-2 btn-list-head-action", method: "delete", confirm: t('ss.confirm.delete') %>
      </div>
    <% end %>
  </div>

  <%= render template: "_search" %>
</div>
