<% @index_meta = proc do |item| %>
  <% item.cur_site ||= @cur_site %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="order"><%= item.order %></span>
  <span class="url"><%= link_to item.url.truncate(80), sns_redirect_path(ref: item.url), item.link_to_options %></span>
  <span class="label"><%= @model.t :bookmark_model %></span>
  <span class="bookmark_model"><%= item.label(:bookmark_model) %></span>
  <span class="label"><%= @model.t :folder_id %></span>
  <span class="bookmark_model"><%= item.folder.try(:trailing_name) %></span>
<% end %>

<%= render template: "gws/crud/index" %>

<%= jquery do %>
  var moveAllUrl = "<%= url_for(action: :move_all) %>";
  // 移動先候補は移動ドロップダウン（.move-menu[data-folders]）を唯一の出所とし、
  // ドロップダウンとD&Dで集合がズレないよう同じデータからIDの集合を作る。
  var validFolderIds = {};
  $.each($(".move-menu").data("folders") || [], function(_i, folder) {
    validFolderIds[folder.id] = true;
  });

  function gwsBookmarkIsValidTarget($node) {
    return !!validFolderIds[$node.data("id")];
  }

  // フォルダーノードをドロップ先として有効化する（既に初期化済みならスキップ）
  function gwsBookmarkMakeDroppable($nodes) {
    $nodes.filter(".tree-item[data-id]").each(function() {
      var $node = $(this);
      if ($node.data("ssDroppable")) { return; }
      $node.data("ssDroppable", true);
      $node.droppable({
        tolerance: "pointer",
        hoverClass: "gws-bookmark-drop-hover",
        drop: function() {
          if (!gwsBookmarkIsValidTarget($node)) { return; }

          var folderId = $node.data("id");
          var folderName = $node.find("a.item-name").text();
          var confirmMsg = "<%= t('gws/bookmark.links.confirm.move_drop.head') %>" +
            " \"" + folderName + "\" " + "<%= t('gws/bookmark.links.confirm.move_drop.tail') %>";

          var form = Gws_Bookmark_Item.buildForm(moveAllUrl, confirmMsg);
          if (!form) { return; }
          form.append($("<input/>", { name: "dst_folder_id", value: folderId, type: "hidden" }));
          form.appendTo(document.body)[0].requestSubmit();
        }
      });
    });
  }

  // 一覧のブックマーク行をドラッグ可能にする
  $(".index .list-item").draggable({
    zIndex: 100,
    opacity: 0.75,
    cursorAt: { top: 16, left: 5 },
    helper: function() {
      var checkbox = $(this).find("label.check input[name='ids[]']");
      if (!checkbox.prop("checked")) { checkbox.prop("checked", true); }

      var checked = $(".index .list-item input:checkbox:checked");
      var helper = $('<div style="background-color: lightgreen; padding: 2px 10px;"></div>');
      helper.text(checked.length + "<%= t('gws/bookmark.select_check') %>");
      return helper;
    }
  });

  // ツリーは非同期・遅延描画されるため、追加されたノードに順次ドロップ先を適用する
  var treeContainer = $("#content-navi .tree-navi").get(0);
  if (treeContainer) {
    gwsBookmarkMakeDroppable($(treeContainer).find(".tree-item"));
    var observer = new MutationObserver(function(mutations) {
      mutations.forEach(function(mutation) {
        $(mutation.addedNodes).each(function() {
          gwsBookmarkMakeDroppable($(this).find(".tree-item").addBack(".tree-item"));
        });
      });
    });
    observer.observe(treeContainer, { childList: true, subtree: true });
  }
<% end %>
