<%= coffee do %>
  $ ->
    $('.inquiry-form input').keypress (ev) ->
      if (ev.which and ev.which is 13) or (ev.keyCode and ev.keyCode is 13)
        return false
      else
        return true
      return
<% end %>

<div class="inquiry">
  <div class="inquiry-html">
    <%== @cur_parent.inquiry_html %>
  </div>

  <%
    url = "#{@cur_parent.url}create.html"
    if @preview
      url = "#{url}?preview=1"
    end
  %>
  <%= form_for :item, url: url, html: { multipart: true }, authenticity_token: false do |f| %>
    <div class="inquiry-form">
      <%= error_messages_for :answer, header_message: false %>
      <% if @columns.count > 0 %>
        <%= render partial: "inquiry/agents/nodes/form/form", locals: { f: f, confirm: false }  %>
      <% end %>
      <%= hidden_field_tag "#{f.object_name}[source_url]", @cur_path %>
      <footer class="send">
        <%= f.submit t('inquiry.submit'), name: :submit %>
      </footer>
    </div>
  <% end %>
</div>
