<%== render_mypage_navi current_node: @cur_node %>

<nav class="mypage-nav nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to :new, "#{@cur_node.url}new" %>
    <%= link_to '未登録者安否作成', "#{@cur_node.url}others/new" %>
  <% elsif params[:action] =~ /show/ %>
    <% if @item.owned?(@cur_member) %>
      <%= link_to :edit, "#{@cur_node.url}#{@item.id}/edit" %>
      <%= link_to :delete, "#{@cur_node.url}#{@item.id}/delete" %>
    <% end %>
    <%= link_to :back_to_index, @cur_node.url %>
  <% else %>
    <%= link_to :back_to_index, @cur_node.url %>
  <% end %>
</nav>
