<% addons = @item ? @item.class.addons : [] %>

<%= form_for :item, url: { action: :create }, html: { id: "item-form", multipart: true, autocomplete: :off } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view mb-5" id="addon-basic">
    <% if addons.size > 0 %><h2 class="h5"><%= t "ss.basic_info"%></h2><% end %>
    <%= render file: '_form', locals: { f: f } %>
  </div>
  <%# render file: "_addons_form", locals: { f: f, addons: addons } if addons.size > 0 %>
  <div class="addon-view mb-5" id="addon-sys-agents-addons-saml_setting">
    <h2 class="h4"><%= I18n.t "modules.addons.sys/saml_setting" %></h2>
    <%= render partial: 'load_metadata', locals: { f: f, a: 1 } %>
  </div>
</div>

<footer class="send">
  <%= f.submit t("ss.buttons.save"), class: 'btn-primary save' %>
  <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{sys_auth_samls_path}'; return false;" %>
</footer>
<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
