<div class="cms-tabs">
  <%= link_to cms_all_contents_download_path, class: 'current' do %>
    <span class="tab-name"><%= t("cms.all_content.download_tab") %></span>
  <% end %>
  <%= link_to cms_all_contents_import_path do %>
    <span class="tab-name"><%= t("cms.all_content.import_tab") %></span>
  <% end %>
</div>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "cms-all-contents-download-all", head: t("cms.all_content.download_head") } do %>
    <p class="description"><%= t("cms.all_content.download_description") %></p>
  <% end %>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <%= link_to t('ss.links.download'), cms_all_contents_download_path(format: :csv), {class: "btn btn-primary"} %>
</footer>
