<div class="cms-tabs">
  <%= link_to cms_all_contents_download_path do %>
    <span class="tab-name"><%= t("cms.all_content.download_tab") %></span>
  <% end %>
  <%= link_to cms_all_contents_import_path, class: 'current' do %>
    <span class="tab-name"><%= t("cms.all_content.import_tab") %></span>
  <% end %>
</div>

<%= form_tag({ action: :import }, { method: :post, multipart: true }) do %>
  <div class="addon-views">
    <%= render "ss/crud/addon", addon: { id: "cms-all-contents-import", head: t("cms.all_content.import_head") } do %>
      <% if @errors %>
      <div id="errorExplanation" class="errorExplanation">
        <h2><%= t('errors.template.header', count: @errors.length) %></h2>
        <p><%= t('errors.template.body', count: @errors.length) %></p>
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <dl class="see">
        <dt><%= t("ss.file") %></dt>
        <dd><%= file_field_tag "item[in_file]" %></dd>
      </dl>
      <p class="description"><%= t("cms.all_content.import_description_html", site_id: @cur_site.id) %></p>
    <% end %>
  </div>

  <footer class="send ss-sticky ss-sticky-bottom">
    <%= submit_tag t("ss.buttons.import"), name: 'import', class: :save, data: { confirm: t("ss.confirm.import"), disable_with: t("ss.buttons.importing") } %>
  </footer>
<% end %>
