<% @tap_menu = proc do |item| %>
    <%= link_to t('ss.links.show'), action: :show, id: item %>
    <%= link_to t('ss.links.delete'), action: :delete, id: item %>
<% end %>

<% @index_title = proc do |item| %>
    <%= link_to t(item.class_name.underscore, scope: 'job.models'), { action: :show, id: item }, class: 'title' %>
<% end %>

<% @index_meta = proc do |item| %>
    <span class="id">#<%= item.id %></span>
    <span class="state"><%= item.state %></span>
    <span class="label"><%= @model.t(:at) %></span>
    <span class="at"><%= ss_time_tag Time.zone.at(item.at) %></span>
<% end %>

<%= render "job/main/queue_adapter_warning" %>

<%= render template: 'gws/crud/index' %>
