<nav class="menu">
  <a href="new/">新規作成</a>
</nav>

<table class="opendata-ideas index">
  <thead>
    <tr>
      <th class="name">アイデア名</th>
      <th class="updated">更新日時</th>
      <th class="state">状態</th>
      <th class="point">いいね</th>
      <th class="dataset">データセット</th>
      <th class="app">アプリ</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><a href="<%= "#{item.id}/" %>"><%= item.name %></a></td>
      <td><%= l item.updated.to_date, format: :long %></td>
      <td><%= item.label :state %></td>
      <td><%= item.point.to_i %></td>
      <td>
        <% if item.dataset_ids.length > 0 %>
          <% if item.datasets.length > 0 %>
          <%= item.datasets[0].name %>
          <% else %>
          <%= "存在しません" %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if item.app_ids.length > 0 %>
          <% if item.apps.length > 0 %>
          <%= item.apps[0].name %>
          <% else %>
          <%= "存在しません" %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
