<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), item.main_path(space: item) %>
<% end %>

<% @index_check = proc do |_item| %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to item.main_path(space: item), class: "title" do %>
    <span><%= item.i18n_name %></span>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <% if item.i18n_description.present? %>
    <div class="description">
      <%= sanitize ss_auto_link_urls br(item.i18n_description, html_escape: false) %>
    </div>
  <% end %>
<% end %>

<div class="gws-tabular-space-list-wrap">
  <%= render template: "gws/crud/index" %>
</div>
