<%= jquery do %>Inquiry_Form.render();<% end %>
<div class="inquiry-html">
  <%== @cur_node.inquiry_html %>
</div>

<% if @columns.count > 0 %>
  <%= form_for :item, url: "#{@cur_node.url}confirm.html", html: { multipart: true } do |f| %>
  <div class="inquiry-form">
    <%= error_messages_for :answer, header_message: false %>
    <%= render partial: "form", locals: { f: f, confirm: false }  %>
    <% if params[:preview] %>
      <%= hidden_field_tag "preview", params[:preview] %>
    <% end %>
    <%= hidden_field_tag "#{f.object_name}[source_url]", @answer.source_url %>
    <footer class="send">
    <%= f.submit t('inquiry.confirm'), name: :confirm %>
    </footer>
  </div>
  <% end %>
<% end %>
