<div class="addon-view" id="addon-basic">
  <div class="addon-head"><h2><%= t "sys.connect_info" %></h2></div>
  <div class="addon-body">
    <dl class="see">
      <dt><%= t("sys.server_name") %></dt>
      <dd><%= Socket.gethostname %></dd>

      <!--
      <dt><%= t("sys.server_addr") %></dt>
      <dd><%#= Socket::getaddrinfo(Socket.gethostname, 'echo', Socket::AF_INET)[0][3] rescue nil %></dd>
      -->

      <dt><%= t("sys.remote_addr") %></dt>
      <dd><%= request.env["HTTP_X_REAL_IP"] || request.remote_addr %></dd>
    </dl>
  </div>
</div>
