<% return if @selected_node.blank? %>
<%= jquery do %>
  SS_Dropdown.render();

  var $form = $("form.search");
  $form.on("click", ".item-name", function() {
    var $treeItem = $(this).closest(".tree-item");
    var nodeId = $treeItem.data("id");

    $form.find("[name='s[node]']").val(nodeId);
    $form.submit();

    return false;
  });
<% end %>

<dt><%= t("cms.node") %></dt>
<dd>
  <button class="dropdown btn" type="button"><%= @selected_node.name %> <span class="caret">&#x25BC;</span></button>
  <%= f.hidden_field("node", value: @selected_node.try(:id)) %>
  <div class="dropdown-container" style="background: white; padding: 5px;">
    <div class="tree-navi">
      <% @parent_nodes.each do |node| %>
        <div class="tree-item" data-id="<%= node.id %>" data-filename="<%= node.filename %>">
          <%= link_to node.name, "#", class: "item-name" %>
        </div>
      <% end %>
    </div>
  </div>
</dd>
