<div class="table-wrap">
  <div class="gws-schedule-tabs">
    <%= link_to url_for({ action: :index, form: "works" }) do %>
      <span class="tab-name"><%= t("gws/affair2.views.monthly_works") %></span>
    <% end %>
    <%= link_to url_for({ action: :index, form: "leave" }) do %>
      <span class="tab-name"><%= t("gws/affair2.views.monthly_leave") %></span>
    <% end %>
  </div>
  <table class="index leave data-table">
    <thead>
      <tr>
        <th style="width: 120px;" rowspan="2"><%= t("gws/affair2.aggregation.#{@unit}.user_id") %></th>
        <th style="width: 120px;" rowspan="2"><%= t("gws/affair2.aggregation.#{@unit}.organization_uid") %></th>
        <th style="width: 120px;" rowspan="2"><%= t("gws/affair2.aggregation.#{@unit}.date") %></th>
        <th colspan="<%= leave_type_options.size %>"><%= t("gws/affair2.aggregation.#{@unit}.leave_paid_minutes")[0] %></th>
        <th style="width: 120px;" rowspan="2"><%= t("gws/affair2.aggregation.#{@unit}.leave_minutes") %></th>
      </tr>
      <tr>
        <% leave_type_options.each do |_, leave_type| %>
          <th class="time"><%= t("gws/affair2.aggregation.#{@unit}.leave_#{leave_type}_minutes")[1] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.user_name %></td>
          <td><%= item.organization_uid %></td>
          <td><%= item.date_label %></td>
          <% leave_type_options.each do |_, leave_type| %>
            <td><%= format_minutes(item.send("leave_#{leave_type}_minutes")) %></td>
          <% end %>
          <td><%= format_minutes(item.leave_minutes) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
