<%= jquery do %>
Gws_Schedule_Calendar.renderController('#calendar-controller');
<% end %>

<section class="main-box">
  <header><h2><%= @group.trailing_name %></h2></header>

  <div class="calendar" id="calendar-controller"></div>

  <% @items.each_with_index do |item, idx| %>
    <div class="calendar-name" id="cal-<%= item.id %>-name">
      <%= link_to item.name, gws_schedule_user_plans_path(user: item.id) %>
      <%= link_to t('gws/schedule.links.add_plan'), new_gws_schedule_user_plan_path(user: item.id), class: 'add-plan' %>
    </div>
    <div class="calendar multiple" id="cal-<%= item.id %>"></div>

    <%= jquery do %>
    Gws_Schedule_Calendar.render('#cal-<%= item.id %>', {
      defaultView: 'basicWeek',
      restUrl: '<%= url_for action: :index %>',
      eventSources: [{ url: '<%= gws_schedule_user_plans_path(user: item.id, format: :json) %>' }]
    });
    <% end %>
  <% end %>
</section>
