<% @index_title = proc do |item| %>
  <%= link_to item.name_with_code, { action: :show, id: item }, class: 'title' %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if item.updated %>
    <%# 滅多なことでは updated は nil にはならないが、過去の電子職員録のインポートで nil になる可能性があるので nil チェックを入れてから表示する %>
    <span class="datetime"><%= ss_time_tag item.updated %></span>
  <% end %>
  <span class="state"><%= item.active_state_name %></span>

  <% if item.order %>
    <span class="order"><%= item.order %></span>
  <% end %>
  <% if item.remark.present? %>
    <span class="summary"><%= item.remark %></span>
  <% end %>
<% end %>

<%= render template: "gws/crud/index" %>
