<% if @cur_form.anonymous? %>
  <div class="anonymous-notice">
    <h2><%= t("gws/survey.notices.anonymous.head") %></h2>
    <p><%= t("gws/survey.notices.anonymous.body") %></p>
  </div>
<% end %>

<div class="addon-view" id="addon-basic">
  <div class="addon-body">
    <div class="header">
      <% Time.zone.today.tap do |today| %>
        <time datetime="<%= today.iso8601 %>" class="timestamp"><%= I18n.l(today) %></time>
      <% end %>
      <span class="name"><%= @cur_form.contributor_name %></span>
    </div>

    <h2 class="title"><%= @cur_form.name %></h2>

    <div class="description"><%= br auto_link(@cur_form.description) %></div>
  </div>
</div>
