<%
  cur_form ||= @cur_form
  items ||= @items
  users = Gws::User.site(@cur_site).in(id: items.pluck(:user_id)).order_by_title(@cur_site)

  each_item_ordered_by_title = proc do |&block|
    array_items = items.to_a
    users.to_a.each do |user|
      item = array_items.find { |item| item.user_id == user.id }
      next if item.blank?

      block.call item
    end
  end
%>

<div class="form-table">
  <div class="form-table-body">
    <div class="form-table-body-inner">
      <table>
        <thead>
        <tr>
          <% if !cur_form.anonymous? %>
            <th><%= Gws::Survey::File.t :updated %></th>
            <th><%= Gws::User.t :name %></th>
          <% end %>
          <% cur_form.columns.order_by(order: 1, name: 1).each do |column| %>
            <th><%= column.name %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% each_item_ordered_by_title.call do |item| %>
          <tr>
            <% if !cur_form.anonymous? %>
              <td><div><%= I18n.l(item.updated) %></div></td>
              <td><div><%= item.user_long_name %></div></td>
            <% end %>
            <% cur_form.columns.order_by(order: 1, name: 1).each do |column| %>
              <% column_value = item.column_values.where(column_id: column.id).first %>
              <td class="<%= column.class.name.underscore.gsub("/", "-") %>">
                <div class="container">
                  <% if column.is_a?(Gws::Column::TextArea) %>
                    <% if column.prefix_label %>
                      <span class="prefix"><%= column.prefix_label %></span><br/>
                    <% end %>
                    <span class="value"><%= auto_link(br(column_value ? column_value.value : '')) %></span>
                    <% if column.postfix_label %>
                      <br/><span class="postfix"><%= column.postfix_label %></span>
                    <% end %>
                  <% elsif column.is_a?(Gws::Column::FileUpload) %>
                    <% if column_value.present? && column_value.files.present? %>
                      <% column_value.files.each do |file| %>
                        <span class="prefix"><%= column.prefix_label %></span>
                        <span class="value"><%= link_to(file.humanized_name, file.url) %></span>
                        <span class="postfix"><%= column.postfix_label %></span>
                        <br/>
                      <% end %>
                    <% end %>
                  <% else %>
                    <% if column.prefix_label %>
                      <span class="prefix"><%= column.prefix_label %></span>
                    <% end %>
                    <span class="value"><%= auto_link(column_value ? column_value.value : '') %></span>
                    <% if column.postfix_label %>
                      <span class="postfix"><%= column.postfix_label %></span>
                    <% end %>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= paginate items if items.try(:current_page) %>
