<div class="see mod-cms-form-node">
  <div class="mb-3">
    <label><%= @model.t :st_form_ids %><%= @model.tt :st_form_ids %></label>
    <%= f.hidden_field 'st_form_ids[]', value: '', class: 'hidden-ids' %>
    <%= link_to t('cms.apis.forms.index'), cms_apis_forms_path, class: "ajax-box btn btn-outline-secondary btn-sm" %>
    <div class="table-responsive">
      <table class="index ajax-selected table table-striped">
        <thead>
        <tr>
          <th class="name"><%= Cms::Form.t(:name) %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @item.st_forms.each do |form| %>
          <tr data-id="<%= form.id %>">
            <td><%= f.hidden_field 'st_form_ids[]', value: form.id %> <%= form.name %></td>
            <td><%= link_to t('ss.buttons.delete'), '#', class: 'deselect btn' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
