<dl class="see mod-cms-form-node">
  <dt><%= @model.t :st_form_ids %><%= @model.tt :st_form_ids %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field 'st_form_ids[]', value: '', class: 'hidden-ids' %>
    <%= link_to t('cms.apis.forms.index'), cms_apis_forms_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Cms::Form.t(:name) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.st_forms.each do |form| %>
        <tr data-id="<%= form.id %>">
          <td><%= f.hidden_field 'st_form_ids[]', value: form.id %> <%= form.name %></td>
          <td><%= link_to t('ss.buttons.delete'), '#', class: 'deselect btn' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
