<div class="wrap">
  <a href="/dataset/new.html">Upload</a>
</div>
<br>

<div class="opendata-datasets">
<% @items.each do |item| %>
  <article>
    <header>
      <h2><a href="<%= "#{item.id}/" %>"><%= item.name %></a></h2>
    </header>
  </article>
<% end %>
</div>

<%= paginate @items if @items.try(:current_page) %>
<%= session[:user] %>

<%= #render partial: "opendata/nodes/dataset/edit/form"
 %>
