<%= form_for :file, url: "#{@cur_node.url}create.html", html: { multipart: true } do |f| %>
  <table>
    <tr>
      <th><%= @filemodel.t :in_files %></th>
      <td><%= f.file_field :in_files, multiple: :multiple %></td>
    </tr>
    <tr>
      <th><%= @filemodel.t :state %></th>
      <td><%= #f.select :state, @item.state_options
      %></td>
    </tr>
  </table>

<div class="opendata-datasets">
  <%= form_for :item, url: "#{@cur_node.url}create.html", html: { multipart: true } do |i| %>
    <table>
      <tr>
        <th><%= @model.t :name %></th>
        <td><%= i.text_field :name, size: 55 %></td>
      </tr>
      <tr>
        <th><%= @model.t :text %></th>
        <td><%= i.text_area :text, cols: 50, rows: 8 %></td>
      </tr>
      <tr>
        <th><%= @model.t :license %></th>
        <td><%= i.text_field :license %></td>
      </tr>
    </table>

    <footer class="send">
      <%= f.submit t(:save), name: :submit %>
      <%= f.button t(:cancel), name: :cancel %>
    </footer>
  <% end %>
</div>
<% end %>
