<dl class="see opendata-dataset">
  <dt><%= @item.t :name %></dt>
  <dd><%= @item.send :name %></dd>

  <dt><%= @item.t :resources %></dt>
  <dd>
    <% @item.resources.each do |rs| %>
    <div><%= link_to rs.name, rs.url, target: "_blank" %></div>
    <% end %>
  </dd>

  <dt><%= @item.t :text %></dt>
  <dd><%=br @item.send :text %></dd>

  <dt><%= @item.t :license %></dt>
  <dd><%= @item.send :license %></dd>

  <dt><%= @item.t :related_url %></dt>
  <dd><%= @item.send :related_url %></dd>

  <dt><%= @item.t :category_ids %></dt>
  <dd><%= @item.categories.map { |m| m.name }.join(", ") %></dd>

  <dt><%= @item.t :area_ids %></dt>
  <dd><%= @item.areas.map { |m| m.name }.join(", ") %></dd>

  <dt><%= @item.t :tags %></dt>
  <dd><%= @item.tags.join(", ") %></dd>

  <dt><%= @item.t :point %></dt>
  <dd><%= @item.send :point %></dd>
</dl>
