<%= form_for :s, url: request.fullpath, html: { id: "item-form", method: :post, multipart: true, autocomplete: :off } do |f| %>
  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= t('gws/affair.confirm.download') %></h2></div>
      <div class="addon-body">
        <%= render template: '_download', locals: { f: f } %>
      </div>
    </div>
  </div>

  <footer class="send ss-sticky ss-sticky-bottom">
    <%= f.submit t('ss.buttons.download'), class: 'btn-primary save' %>
    <%= f.button t('ss.buttons.cancel'), class: 'btn-default', type: :reset, onclick: "history.back(); return false;" %>
  </footer>
<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
