<%
  def current?(item)
    item.id == @attendance.try(:id)
  end
%>
<div class="index content-main gws-affair2-yearly-table">
  <div class="list-head">
    <h2 class="list-head-title">
      <%= @user.long_name %>
      <%= "出勤簿設定" %>
    </h2>
  </div>

  <div class="data-table-wrap wrap-table">
    <table class="index data-table">
      <thead>
        <tr>
          <th style="width: 80px;"><%= "状態" %></th>
          <th class="name"><%= @model.t :name %></th>
          <th class="name"><%= @model.t :organization_uid %></th>
          <th class="name"><%= @model.t :duty_setting_id %></th>
          <th class="name"><%= @model.t :leave_setting_id %></th>
          <th style="width: 90px;"><%= @model.t :start_date %></th>
          <th style="width: 90px;"><%= @model.t :close_date %></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr <%== current?(item) ? 'style="background: #fff5ce"' : '' %>>
            <td style="text-align: center;"><%= "有効" if current?(item) %></td>
            <td class="name"><%= link_to item.name, { action: :show, id: item } %></td>
            <td><%= item.organization_uid %></td>
            <td><%= item.duty_setting.try(:long_name) %></td>
            <td><%= item.leave_setting.try(:name) %></td>
            <td style="text-align: center;"><%= tryb{ l(item.start_date.to_date) } %></td>
            <td style="text-align: center;"><%= tryb{ l(item.close_date.to_date) } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
