<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
  <% elsif params[:action] =~ /delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :back_to_show, action: :show, id: @item %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% else %>
    <% if false %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :edit, action: :edit, id: @item %>
    <% end %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :delete, action: :delete, id: @item %>
    <% end %>
    <% if @item.class.include?(Cms::Page::Model) %>
      <%= link_to :"cms.view_page", @item.url, target: "_blank" if @item.public? %>
      <%= link_to :"cms.preview_page", cms_preview_path(path: @item.preview_path), target: "_blank" %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% end %>
</nav>
