<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
  <%= link_to t('ss.links.edit'), edit_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
  <%= link_to t('ss.links.delete'), delete_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>

  <%= link_to t('ss.links.preview'), opendata_dataset_url_resource_content_path(dataset_id: item[:id], url_resource_id: item[:urlresourceid]) %>
<% end %>

<% @index_title = proc do |item| %>
  <% title = "#{item[:name]} - #{item[:resourcename]}" %>
  <% if item[:crawl_state] == "deleted" %>
    <%= link_to title , delete_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
  <% else %>
    <%= link_to title , edit_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item[:original_updated] %></span>
  <span class="original-url"><%= Addressable::URI.unencode(item[:original_url]).truncate(60) %></span>
  <span class="state"><%= t "opendata.crawl_state.#{item[:crawl_state]}" %></span>
  <span class="crawl-update"><%= t "opendata.crawl_update.#{item[:crawl_update]}" %></span>
<% end %>

<%= render template: "cms/crud/index" %>
