<div class="question"><%= @question.name %></div>

<%= hidden_field_tag "answers[#{@no}][]", "0" %>
<ul>
<% @question.edges.each do |edge| %>
  <li>
    <label>
      <%= check_box_tag "answers[#{@no}][]", edge.transition %>
      <%= edge.value %>
    </label>
  </li>
<% end %>
</ul>

<footer class="send">
  <%= f.submit t("guide.links.next"), name: :submit %>
</footer>
