<% if @prev || @center || @next %>
<div class="article-pages page-navi">
  <ul class="page-navi-control">
    <% if @prev %>
      <li class="prev"><a href="<%= @prev.url %>"><%= t("article.page_navi.prev") %></a></li>
    <% end %>
    <% if @center %>
      <li class="return"><a href="<%= @center.url %>"><%= t("article.page_navi.back_to_index") %></a></li>
    <% end %>
    <% if @next %>
      <li class="next"><a href="<%= @next.url %>"><%= t("article.page_navi.next") %></a></li>
    <% end %>
  </ul>
</div>
<% end %>
