<%
  return unless @item.allowed?(:edit, @cur_user, site: @cur_site)

  addon ||= local_assigns.fetch(:addon, {})
%>

<dl class="see">
  <dt><%= @model.t :usage_node_count %></dt>
  <dd><span class="usage-node-count"><%= @item.usage_node_count.try { |v| v.to_s(:delimited) } || '-' %></span></dd>

  <dt><%= @model.t :usage_page_count %></dt>
  <dd><span class="usage-page-count"><%= @item.usage_page_count.try { |v| v.to_s(:delimited) } || '-' %></span></dd>

  <dt><%= @model.t :usage_file_count %></dt>
  <dd><span class="usage-file-count"><%= @item.usage_file_count.try { |v| v.to_s(:delimited) } || '-' %></span></dd>

  <dt><%= @model.t :usage_db_size %></dt>
  <dd><span class="usage-db-size"><%= @item.usage_db_size.try { |v| v.to_s(:human_size) } || '-' %></span></dd>

  <dt><%= @model.t :usage_group_count %></dt>
  <dd><span class="usage-group-count"><%= @item.usage_group_count.try { |v| v.to_s(:delimited) } || '-' %></span></dd>

  <dt><%= @model.t :usage_user_count %></dt>
  <dd><span class="usage-user-count"><%= @item.usage_user_count.try { |v| v.to_s(:delimited) } || '-' %></span></dd>

  <dt><%= @model.t :usage_calculated_at %></dt>
  <dd><span class="usage-calculated-at"><%= @item.usage_calculated_at.try { |v| I18n.l(v) } || '-' %></span></dd>
</dl>

<%= button_tag(t('ss.buttons.update'), name: "reload", type: "button", class: "btn btn-reload-usages", data: { href: cms_apis_reload_site_usages_path(site: @item, format: "json") }) %>

<%= jquery do %>
  new SS_Usage("#<%= addon[:id] %>")
<% end %>
