<%= render 'cms/agents/columns/main/base', show: true, column: column, value: value do %>
  <% if value.youtube_id.present? %>
    <%= value.url %> (<%= value.youtube_id %>)
    (
    <% if value.auto_width == "enabled" %>
      <%= I18n.t("cms.column_youtube_auto_width.#{value.auto_width}") %>
    <% else %>
      <%= value.width %> x <%= value.height %>
    <% end %>
    )

    <div>
      <%== value.youtube_iframe %>
    </div>
  <% end %>
<% end %>
