<% value ||= nil %>
<% controller ||= false %>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do %>
  <dl class="see">
    <dt><%= Cms::Column::Value::Youtube.t("url") %></dt>
    <dd><%= text_field_tag("#{f.object_name}[][in_wrap][url]", value.try(:url) || (value.try(:youtube_id) ? "https://youtu.be/#{value.youtube_id}" : ""), column.form_options(:url).merge(id: nil, style: "width: 70%;")) %></dd>

    <dt><%= Cms::Column::Value::Youtube.t("title") %><%= Cms::Column::Value::Youtube.tt("title") %></dt>
    <dd>
      <%=
        options = column.form_options(:title).merge(
          id: nil,
          style: "width: 70%;",
          placeholder: I18n.t("cms.column_youtube_title_field.field_placeholder"),
          data: {
            syntax_check: "value",
            syntax_check_name: column.name,
            check_presence: I18n.t('cms.column_youtube_title_field.field_label'),
          }
        )
        text_field_tag("#{f.object_name}[][in_wrap][title]", value.try(:title), options)
      %>
    </dd>
    <dd><%= button_tag I18n.t("cms.buttons.youtube_title"), type: "button", class: "btn youtube-title-check" %></dd>

    <dt><%= Cms::Column::Value::Youtube.t("width") %></dt>
    <dd><%= text_field_tag("#{f.object_name}[][in_wrap][width]", (value.try(:width) || 640), column.form_options.merge(id: nil, style: "width: 10%;")) %></dd>

    <dt><%= Cms::Column::Value::Youtube.t("height") %></dt>
    <dd><%= text_field_tag("#{f.object_name}[][in_wrap][height]", (value.try(:height) || 360), column.form_options.merge(id: nil, style: "width: 10%;")) %></dd>
    <dd><%= check_box_tag("#{f.object_name}[][in_wrap][auto_width]", "enabled", value.try(:auto_width) == "enabled", column.form_options(:auto_width).merge(id: "auto-width")) %><label for="auto-width"><%= Cms::Column::Value::Youtube.t("auto_width") %></label></dd>
  </dl>

  <%= jquery do %>
    var $youtubeTitleCheck = $(".youtube-title-check");
    $youtubeTitleCheck.off("click");
    $youtubeTitleCheck.on("click", function() {
      var $block = $(this).closest('.column-value');
      var $urlField = $block.find('input[name*="[in_wrap][url]"]');
      var url = $urlField.val();
      if (!url) {
        alert("<%= (I18n.t('errors.messages.input_youtube_url')) %>");
        return;
      }
      var $titleField = $block.find('input[name*="[in_wrap][title]"]');
      $.get("<%= cms_apis_youtube_title_path %>", { url: url })
        .done(function(data) {
          if (data.title) {
            $titleField.val(data.title);
          } else {
            alert("<%= (I18n.t('errors.messages.youtube_title_fetch_failed')) %>" + (data.error ? ': ' + data.error : ''));
          }
        })
        .fail(function() {
          alert("<%= (I18n.t('errors.messages.network_error')) %>");
        });
    });
  <% end %>
<% end %>
