<%= render 'cms/agents/columns/main/base', show: true, column: column, value: value do %>
  <%= Cms::Column::Value::Youtube.t("url") %>:<%= value.url %><br />
  <%= Cms::Column::Value::Youtube.t("width") %>:<%= value.width %>
  <%= Cms::Column::Value::Youtube.t("height") %>:<%= value.height %><br />
  <%= I18n.t("cms.column_youtube_auto_width.#{value.auto_width}") %><br />
  <div>
    <%= value.iframe.try(:html_safe) %>
  </div>
<% end %>
