<% return if depth > 2 %>
<ul class="<%= css_class %> depth<%= depth %>">
  <% categories.each do |category| %>
    <li>
      <% if category.color? %>
        <%= link_to gws_board_category_topics_path(category: category.id) do %><span class="name" style="background-color: <%= category.color %>; color: <%= category.text_color %>"><%= category.name %></span><% end %>
      <% else %>
        <%= link_to category.name, gws_board_category_topics_path(category: category.id) %>
      <% end %>

      <% if category.children? %>
        <%
           if category.grandchild?
             css_class = 'child'
           else
             css_class = 'grandchild'
           end
        %>
        <%= render partial: 'category0', locals: { categories: category.children, css_class: css_class, depth: depth + 1 } %>
      <% end %>
    </li>
  <% end %>
</ul>
