<% @index_title = proc do |item| %>
  <%= link_to item.name, { action: :show, id: item }, class: "title" %>
  <% if item.descendants_files_count.to_i > 0 %>
  <span class="gws-board-file-count"><img src="/assets/img/gws/ic-file.png" alt="" /><%= item.descendants_files_count %></span>
  <% end %>
  <% if item.new_flag? %>
  <span class="gws-board-flag-new"></span>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.descendants_updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-board-categories">
    <% item.categories.compact.each do |category| %>
      <%= link_to category.name,
            gws_board_category_topics_path(category: category.id),
            class: "gws-board-color-block",
            style: "background-color: #{category.color || 'transparent'}; color: #{category.text_color || 'black'}" %>
    <% end %>
  </span>
<% end %>

<%= render file: "gws/crud/index" %>
