<%

categories = Gws::Board::CategoryTraverser.build(@cur_site, @cur_user)
options = options_for_select(categories.to_options, params[:category].to_i)

%>
<%= jquery do %>

  $('.gws-category-navi-menu #category_id').change(function() {
    var cid = $(this).val();
    if (cid) location.href = '<%= gws_board_category_topics_path(category: 'ID') %>'.replace('ID', cid);
    else location.href = '<%= gws_board_topics_path %>';
  });

<% end %>

<div class="gws-category-navi-menu">
  <%= select_tag :category_id, options, include_blank: t('modules.gws/board') %>
</div>

<% @index_title = proc do |item| %>
  <%= link_to item.name, { action: :show, id: item }, class: "title" %>
  <% if item.descendants_files_count.to_i > 0 %>
  <span class="gws-board-file-count"><img src="/assets/img/gws/ic-file.png" alt="" /><%= item.descendants_files_count %></span>
  <% end %>
  <% if item.new_flag? %>
  <span class="gws-board-flag-new"></span>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.descendants_updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-board-categories">
    <% item.categories.compact.each do |category| %>
      <%= link_to category.trailing_name, gws_board_category_topics_path(category: category.id),
                  class: "gws-category-label", style: category_label_css(category) %>
    <% end %>
  </span>
<% end %>

<%= render file: "gws/crud/index" %>
