<%= jquery do %>
$('.gws-board .body').each(function(){
  $(this).html(marked($(this).html()));
});
<% end %>

<div class="main-box gws-board gws-board-tree">
  <header><h2><%= @item.name %></h2></header>

  <article class="topic">
    <%= render "gws/board/topics/parent", item: @item %>

    <div class="menu">
      <% if @item.permit_comment? %>
        <%= link_to t('gws_board.links.comment'), new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id) %>
      <% end %>
      <%= link_to :edit, action: :edit, id: @item if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to :delete, action: :delete, id: @item if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
    </div>
  </article>
</div>

<% if @item.children.size > 0 %>
<div class="gws-board gws-board-comments">
  <%= render partial: 'gws/board/comments/comment', collection: @item.children, locals: { parent: @item, recursion: true } %>
</div>
<% end %>
