<div class="gws-board gws-board-thread">
  <%= render 'show_topic' do %>
    <% if @item.children.present? %>
    <div class="comments">
      <%= render partial: 'gws/board/comments/comment', collection: @item.descendants, locals: { parent: @item, recursion: false, depth: 0 } %>
    </div>
    <% end %>
  <% end %>

  <% if @item.subscribed_users.present? %>
  <%= render partial: 'gws/board/topics/subscribed_users' %>
  <% end %>
  <%= render partial: 'gws/board/topics/browsed' %>
</div>

<%= jquery do %>
  var highlighter = new Gws_Elasticsearch_Highlighter();
  highlighter.render();
<% end %>
