<div class="gws-board gws-board-tree">
  <article class="topic">
    <header>
      <h2><%= @item.name %></h2>
      <nav class="meta">
        <span class="user"><%= @item.user.name %></span>
        <span class="datetime"><%= @item.created.strftime("%Y/%m/%d %H:%M") %></span>
      </nav>
    </header>

    <div class="body markdown-body"><%== @item.html %></div>

    <% if @item.permit_comment? %>
    <div class="menu">
      <%= link_to(t('gws/board.links.comment'), new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id),
        class: "btn primary") %>
    </div>
    <% end %>
  </article>

  <% if @item.children.present? %>
  <div class="comments">
    <%= render partial: 'gws/board/comments/comment', collection: @item.children, locals: { parent: @item, recursion: true } %>
  </div>
  <% end %>
</div>
