<div class="gws-board gws-board-thread">
  <article class="topic">
    <header>
      <h2>
        <span class="name"><%= @item.name %></span>
        <span class="categories">
          <% @item.categories.each do |category| %>
            <%= link_to category.trailing_name, gws_board_category_topics_path(category: category.id),
                        class: "gws-category-label", style: category_label_css(category) %>
          <% end %>
        </span>
      </h2>
      <nav class="meta">
        <span class="user"><%= @item.user_long_name %></span>
        <span class="datetime"><%= @item.updated.strftime("%Y/%m/%d %H:%M") %></span>
      </nav>
    </header>

    <div class="body markdown-body">
      <%== @item.html %>
    </div>

    <% if @item.files.present? %>
    <div class="files">
      <% @item.files.each do |file| %>
        <img src="/assets/img/gws/ic-file.png" alt="" />
        <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
      <% end %>
    </div>
    <% end %>

    <% if @item.permit_comment? && @model.allowed?(:edit, @cur_user, site: @cur_site) %>
    <div class="menu">
      <%= link_to(t('gws/board.links.comment'), @category.present? ? new_gws_board_category_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id) : new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id),
        class: "btn primary") %>
    </div>
    <% end %>
  </article>

  <% if @item.children.present? %>
  <div class="comments">
    <%= render partial: 'gws/board/comments/comment', collection: @item.descendants, locals: { parent: @item, recursion: false } %>
  </div>
  <% end %>
</div>
