<%

menu = []
if @item.permit_comment?
  menu << link_to(t('gws/board.links.comment'), new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id), class: "btn primary")
end
menu << link_to(:edit, { action: :edit, id: @item }, class: "btn") if @item.allowed?(:edit, @cur_user, site: @cur_site)
menu << link_to(:delete, { action: :delete, id: @item }, class: "btn") if @item.allowed?(:delete, @cur_user, site: @cur_site)

%>
<div class="gws-board gws-board-tree">
  <article class="topic">
    <header>
      <h2><%= @item.name %></h2>
      <nav class="meta">
        <span class="user"><%= @item.user.name %></span>
        <span class="datetime"><%= @item.created.strftime("%Y/%m/%d %H:%M") %></span>
      </nav>
    </header>

    <div class="body markdown-body"><%== @item.html %></div>

    <% if menu.present? %>
    <div class="menu"><%= safe_join(menu) %></div>
    <% end %>
  </article>

  <% if @item.children.present? %>
  <div class="comments">
    <%= render partial: 'gws/board/comments/comment', collection: @item.children, locals: { parent: @item, recursion: true } %>
  </div>
  <% end %>
</div>
