<%

menu = []
menu << link_to(:edit, { action: :edit, id: @item }, class: "btn") if @item.allowed?(:edit, @cur_user, site: @cur_site)
menu << link_to(:delete, { action: :delete, id: @item }, class: "btn") if @item.allowed?(:delete, @cur_user, site: @cur_site)

%>
<div class="gws-board gws-board-thread">
  <article class="topic">
    <header>
      <h2><%= @item.name %></h2>
      <nav class="meta">
        <span class="user"><%= @item.user.name %></span>
        <span class="datetime"><%= @item.created.strftime("%Y/%m/%d %H:%M") %></span>
      </nav>
    </header>

    <div class="body markdown-body">
      <%== @item.html %>
    </div>

    <% if @item.files.present? %>
    <div class="files">
      <% @item.files.each do |file| %>
      <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
      <% end %>
    </div>
    <% end %>

    <% if menu.size > 0 %>
    <div class="menu"><%= safe_join(menu) %></div>
    <% end %>
  </article>

  <% if @item.children.size > 0 %>
  <div class="comments">
    <%= render partial: 'gws/board/comments/comment', collection: @item.descendants, locals: { parent: @item, recursion: false } %>
  </div>
  <% end %>
</div>

<% if @item.permit_comment? %>
<footer class="send">
  <%= link_to t('gws/board.links.comment'), new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id),
    class: "btn-primary" %>
</footer>
<% end %>
