<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.new'), { action: :new }, class: :new %>
      <%= link_to t('ss.links.download'), { action: :download } %>
    <% end %>
    <% if @model.allowed?(:import, @cur_user, site: @cur_site, owned: true) %>
      <%= link_to t('ss.links.import'), { action: :import } %>
    <% end %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) && @cur_node.try(:ical_refresh_enabled?) %>
      <%= link_to t('event.links.ical_refresh'), { action: :ical_refresh } %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|import|download|ical_refresh/ %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "back-to-index" %>
  <% elsif params[:action] =~ /edit|update|delete|move|command/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.back_to_show'), { action: :show, id: @item }, class: "back-to-show" %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "back-to-index" %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.edit'), { action: :edit, id: @item }, class: :edit %>
    <% end %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(t('ss.links.copy'), { action: :copy, id: @item }, class: :copy) rescue nil %>
    <% end %>
    <% if @item.allowed?(:move, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(t('ss.links.move'), { action: :move, id: @item }, class: :move) rescue nil %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.delete'), { action: :delete, id: @item }, class: :delete %>
    <% end %>
    <% if @item.allowed?(:release, @cur_user, site: @cur_site, node: @cur_node) %>
      <% if Cms::Command.allowed?(:use, @cur_user, site: @cur_site, node: @cur_node) %>
        <%= link_to(t('ss.links.command'), { action: :command, id: @item }, class: :command) rescue nil %>
      <% end %>
    <% end %>
    <% if SS.config.michecker %>
      <% if SS.config.michecker['disable'].blank? %>
        <%= link_to t('cms.links.michecker'), { action: :michecker }, target: "_blank" rescue nil %>
      <% end %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), { action: :index }, class: "back-to-index" %>
  <% end %>
</nav>
