<%= form_for :item, url: { action: :ical_refresh }, html: { id: "item-form", multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("rss.confirm.import") } do %>
    <%= render template: "_ical_refresh" %>
  <% end %>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <%= f.submit t("rss.buttons.import"), class: :save %>
  <%= f.button t("ss.buttons.cancel"), type: :reset, class: 'btn-default', onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
</footer>
<% end %>
