<div class="see mod-board-post-setting">
  <div class="mb-3">
    <label><%= @model.t :text_size_limit %><%= @model.tt :text_size_limit %></label>
    <%= f.select :text_size_limit, @item.text_size_limit_options, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :show_email %><%= @model.tt :show_email %></label>
    <%= f.select :show_email, @item.show_email_options, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :show_url %><%= @model.tt :show_url %></label>
    <%= f.select :show_url, @item.show_url_options, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :deletable_post %><%= @model.tt :deletable_post %></label>
    <%= f.select :deletable_post, @item.deletable_post_options, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :deny_url %><%= @model.tt :deny_url %></label>
    <%= f.select :deny_url, @item.deny_url_options, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :banned_words %><%= @model.tt :banned_words %></label>
    <%= f.text_area :banned_words, value: @item.banned_words.join("\n"), class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :deny_ips %><%= @model.tt :deny_ips %></label>
    <%= f.text_area :deny_ips, value: @item.deny_ips.join("\n"), class: "form-control" %>
  </div>
</div>
