<%= render partial: "upper" %>

<div class="member-photos photos">
  <% @items.each do |item| %>
    <div class="photo">
      <%= link_to item.url do %>
        <%= image_tag item.image.thumb_url, alt: item.name, class: :thumb %>
        <span class="title"><%= item.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @items if @items.try(:current_page) %>
