<%= coffee do %>
$ ->
  @deleteContent = (id) ->
    $(".file-view").each ->
      $(this).remove() if id == $(this).find("input[type=checkbox]").attr("value")

<% end %>

<dl class="see">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "" %>

    <%= link_to :upload, sns_user_image_files_path(@cur_user), class: "ajax-box" %>

    <div id="selected-files">
      <% @item.files.each do |file| %>
      <div class="file-view">
        <a class="thumb" href="/fs/<%= file.id %>/<%= file.filename %>" target="_blank">
          <% if file.image? %>
          <img src="/fs/<%= file.id %>/thumb/<%= file.filename %>" alt="<%= file.basename %>" />
          <% else %>
          <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
          <% end %>
        </a>
        <div class="name">
          <label>
            <%= f.check_box "file_ids[]", {}, file.id %>
            <%= file.basename %>
          </label>
        </div>
        <div class="action paste">
          <% content = link_to "#{file.filename} (#{file.extname.upcase} #{number_to_human_size(file.size)})", "/fs/#{file.id}/#{file.filename}", class: "icon-#{file.extname}" %>
          <%= link_to :"sns.delete", "#", :onclick => "deleteContent('#{file.id}'); return false;" %>
        </div>
      </div>
      <% end %>
    </div>
  </dd>
</dl>
