<%= link_to item.url, class: "c-posts__item" do %>
  <% if item.try(:thumb).present? %>
    <p class="c-posts__thumbnail">
      <%= image_tag item.thumb.url, class: "c-posts__image", alt: item.name_for_index %>
    </p>
  <% end %>
  <div class="c-posts__info">
    <% if item.categories.and_public.present? %>
      <div class="c-category is-gray"><%= item.categories.and_public.pluck(:name).join(", ") %></div>
    <% end %>
    <% recurrence = item.event_recurrences.within_time(start_at, end_at).first %>
    <% if recurrence %>
      <p class="c-posts__date is-block"><%= I18n.l(recurrence.start_datetime, format: :zoo_h_mm) %>〜<%= I18n.l(recurrence.end_datetime, format: :zoo_h_mm) %></p>
    <% end %>
  </div>
  <p class="c-posts__name"><%= item.name_for_index %></p>
<% end %>
