<%
  in_service = cur_business_day.blank? || cur_business_day.state.blank?
  if in_service
    service_start_at = Zoo.make_time(cur_ymd, cur_business_day.try(:start_at) || Zoo::BusinessDay::DEFAULT_START_AT)
    service_end_at = Zoo.make_time(cur_ymd, cur_business_day.try(:end_at) || Zoo::BusinessDay::DEFAULT_END_AT)
  end
%>
<div class="l-content__inner">
  <div class="p-timetables__date">
    <% prev_day = cur_ymd - 1.day %>
    <% if within_valid_range?(prev_day) %>
      <%= link_to @cur_node.url + prev_day.strftime("%Y%m%d"), class: "p-timetables__date__arrow p-timetables__date__prev" do %>
        <img src="/static/_assets/images/timetables/arrow_prev.svg" alt="prev">
      <% end %>
    <% end %>
    <div class="p-timetables__date__cont">
      <p class="p-timetables__date__text"><%= I18n.l(cur_ymd, format: "%Y年%1m月%1d日(%a)") %></p>
      <p>
        <% if in_service %>
          営業時間: <%= I18n.l(service_start_at, format: :zoo_h_mm) %>〜<%= I18n.l(service_end_at, format: :zoo_h_mm) %>
        <% else %>
          <%= cur_business_day.label(:state) %>
        <% end %>
      </p>
    </div>
    <% next_day = cur_ymd + 1.day %>
    <% if within_valid_range?(next_day) %>
      <%= link_to @cur_node.url + next_day.strftime("%Y%m%d"), class: "p-timetables__date__arrow p-timetables__date__next" do %>
        <img src="/static/_assets/images/timetables/arrow_next.svg" alt="next">
      <% end %>
    <% end %>
  </div>
  <% if in_service %>
    <div class="l-content__tab">
      <ul class="c-tab__ul" role="tablist">
        <li class="c-tab__box" role="presentation">
          <button type="button" class="c-tab__area" role="tab" aria-controls="tab-timetables-today" aria-selected="true">時間別に探す</button>
        </li>
        <li class="c-tab__box" role="presentation">
          <button type="button" class="c-tab__area" role="tab" aria-controls="tab-timetables-recommened" aria-selected="false">イベント別に探す</button>
        </li>
      </ul>
    </div>
    <div class="l-content__container">
      <div class="c-posts--list is-active" id="tab-timetables-today" role="tabpanel">
        <% each_time_zone do |time_zone_start_at, time_zone_end_at| %>
          <% contents = capture do %>
            <% each_item_within_time(time_zone_start_at, time_zone_end_at) do |item| %>
              <%= render "zoo/agents/nodes/today_event/event_page", item: item, start_at: time_zone_start_at, end_at: time_zone_end_at %>
            <% end %>
          <% end %>
          <% if contents %>
            <dl class="p-timetables__dl">
              <dt class="js-toggle is__active"><%= I18n.l(time_zone_start_at, format: :zoo_h_mm) %>〜<%= I18n.l(time_zone_end_at, format: :zoo_h_mm) %></dt>
              <dd style="display: block;">
                <div class="c-posts--column4">
                  <%= contents %>
                </div>
              </dd>
            </dl>
          <% end %>
        <% end %>
      </div>
      <div class="c-posts--list" id="tab-timetables-recommened" role="tabpanel">
        <div class="c-posts--column4">
          <% @items.each do |item| %>
            <%= render "zoo/agents/nodes/today_event/event_page", item: item, start_at: service_start_at, end_at: service_end_at %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
