<%
  source_cleaner_conf = Cms::SourceCleanerTemplate.site(@cur_site).and_public.to_config
  replace_words_conf = Cms::WordDictionary.site(@cur_site).to_config
%>

<% if SS.config.cms.html_editor == "markdown" %>

  <%= jquery do %>
    SS_Addon_Markdown.render();
    SS_Addon_Markdown.renderFormMarkdown()
  <% end %>

  <div class="ss-addon-markdown">
    <div class="ss-addon-markdown-toolbar"></div>
    <div class="ss-addon-markdown-content">
      <%= f.text_area :markdown, class: "markdown", style: "height: 240px;" %>
    </div>
  </div>

<% else %>
  <%= html_editor ".mod-cms-body .html", advanced: Cms::EditorExtension.allowed?(:use, @cur_user, site: @cur_site) %>
  <%= jquery do %>
    Link_Checker.url               = "<%= SS.config.cms.link_check_url %>";
    Link_Checker.rootUrl           = "<%= @cur_site.full_root_url %>";
    Mobile_Size_Checker.enabled    = <%= @cur_site.mobile_enabled? %>;
    Mobile_Size_Checker.mobile_size = <%= @cur_site.mobile_size %>;
    Mobile_Size_Checker.check_size = "<%= number_to_human_size(@cur_site.mobile_size) %>";
    Mobile_Size_Checker.hostFullUrl = "<%= @cur_site.full_url %>";
    Mobile_Size_Checker.message["SizeCheckError"] = "<%= I18n.t(
      'errors.messages.mobile_size_check_failed_to_size',
      mobile_size: number_to_human_size(@cur_site.mobile_size)
      ) %>"
    Syntax_Checker.autoCorrect     = <%= SS.config.cms.auto_correct_page_html == true %>;

    <% if replace_words_conf[:replace_words].present? %>
      Syntax_Checker.config = <%= raw replace_words_conf.to_json %>
    <% end %>

    Form_Preview.page_route        = "<%= @item.try(:route) %>";
    Form_Preview.form_preview_path = "<%= cms_form_preview_path(path: "#{tryb{@cur_node.filename + "/"}}.html") %>";
    Cms_Form.render();

    <% if source_cleaner_conf[:source_cleaner].present? %>
      Cms_Source_Cleaner.config = <%= raw source_cleaner_conf.to_json %>
      Cms_Source_Cleaner.render();
    <% end %>

  <% end %>

  <dl class="see mod-cms-body">
    <dd class="wide"><%= f.text_area :html, class: "html", style: "height: 400px;" %></dd>
    <dd class="wide">
    <%= button_tag t("cms.syntax_check"), { type: :button, class: "btn syntax-check" } %>
    <%= button_tag t("cms.mobile_size_check"), { type: :button, class: "btn mobile-size-check" } %>
    <%= button_tag t("cms.link_check"), { type: :button, class: "btn link-check" } %>
    <%= button_tag t("cms.source_cleaner"), { type: :button, class: "btn source-cleaner" } if source_cleaner_conf[:source_cleaner].present? %>
    <%= button_tag t("cms.preview_page"), { type: :button, class: "btn preview" } if @item.respond_to?(:route) %>
    </dd>
  </dl>

<% end %>
