<%= html_editor ".mod-cms-body .html" %>
<% controller.class.javascript "cms/form" %>

<dl class="see mod-cms-body">
  <dd class="wide"><%= f.text_area :html, class: "html", style: "height: 400px;" %></dd>
  <dd class="wide">
  <%= f.hidden_field "html_syntax_error", class: "html-syntax-error" %>
  <%= button_tag t("cms.syntax_check"), { type: :button, class: "syntax-check" } %>
  <%= button_tag t("cms.link_check"), { type: :button, class: "link-check" } %>
  <label>
    <%= check_box_tag "check-warning", :enable, true, class: "check-warning" %>
    <%= t("cms.enable_warning") %>
  </label>
  </dd>
</dl>
