<article class="opendata-ideas opendata-ideas--<%= @cur_part.sort %>">
  <header><h1><%= t("opendata.sort_options.ideas.#{@cur_part.sort}") %></h1></header>
  <div class="pages">
  <%= render_page_list %>
  </div>
  <footer>
    <nav class="feed">
      <%= link_to :more, @node_url, class: "more" %>
      <%= link_to "RSS", @rss_path.call, class: "rss" %>
    </nav>
  </footer>
</article>
