<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<div class="gws-addon-history">
  <table class="index">
    <thead>
      <tr>
        <th style="width: 80px"><%= Gws::Share::History.t :mode %></th>
        <th style="width: 140px"><%= Gws::Share::History.t :created %></th>
        <th><%= Gws::Share::History.t :user_name %></th>
        <% if @cur_site.user_profile_public?("tel") %>
          <th><%= Gws::Share::History.t :user_tel %></th>
        <% end %>
        <th><%= Gws::Share::History.t :uploadfile_name %></th>
        <th><%= Gws::Share::History.t :uploadfile_size %></th>
        <th><%= Gws::Share::History.t :upload %></th>
        <th><%= Gws::Share::History.t :updated_fields %></th>
      </tr>
    </thead>
    <tbody>
      <% @item.histories.each do |history| %>
      <tr id="history-<%= history.id %>">
        <td><%= history.mode_name %></td>
        <td><%= tryb { history.created.strftime("%Y/%m/%d %H:%M") } %></td>
        <td><%= gws_public_user_long_name(history.user_long_name) %></td>
        <% if @cur_site.user_profile_public?("tel") %>
          <td><%= history.user_tel %></td>
        <% end %>
        <td><%= history.uploadfile_name %></td>
        <td><%= history.uploadfile_size %></td>
        <td>
          <% if ::Fs.file?(history.path) %>
          <%= link_to t('ss.links.download'), { action: :download_history, history_id: history.id }, { class: "btn" } %>
          <% end %>
        </td>
        <td>
          <% if (names = history.updated_field_names).present? %>
          <%= truncate names.join(', '), length: 30 %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
