<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name, autofocus: true %></dd>

  <dt><%= @model.t :severity %><%= @model.tt :severity %></dt>
  <dd>
    <label for="item_severity">
      <%= f.check_box :severity, {}, 'high', '' %>
      <%= t "gws.options.severity.high" %>
    </label>
  </dd>
</dl>
