<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <% if item.try(:status) %>
    <span class="state"><%= t "views.state.#{item.status}" %></span>
  <% end %>
  <% if attr = item.label(:severity).presence %>
    <span><%= attr %></span>
  <% end %>
<% end %>

<%= render file: "cms/crud/index" %>
