<div class="index notices">
  <div class="list-head"><%= t "mongoid.models.gws/notice" %></div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, { action: :show, id: item}, class: "title notice-severity-#{item.severity}" %>
      </div>
      <div class="meta">
        <span class="datetime"><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
        <% if item.updated_after_released? %>
          <span class="label"><%= t('gws.history.mode.update') %></span>
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
