<div class="cms-tabs">
  <% path = url_for(controller: :run, action: :confirmation) %>
  <%= link_to(path, class: [ params[:type], request.path.start_with?(path) ? 'current' : nil ]) do %>
      <span class="tab-name">実行</span>
  <% end %>
  <% path = url_for(controller: :results, action: :show) %>
  <%= link_to(path, class: [ params[:type], request.path.start_with?(path) ? 'current' : nil ]) do %>
      <span class="tab-name">結果</span>
  <% end %>
</div>

<%= form_for :item, url: { action: :run }, html: {id: "item-form", method: :post, multipart: true, autocomplete: :off} do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box mod-chorg-run-confirmation">
    <header><h2><%= t("chorg.views.run/confirmation.#{params[:type]}.header") %></h2></header>

    <dl class="see mod-chorg-run-confirmation">
      <dt><%= @cur_revision.class.t :name %></dt>
      <dd><%= @cur_revision.name %></dd>
      <dt><%= t("chorg.views.run/confirmation.run_options") %></dt>
      <dd>
        <label for="<%= f.object_name %>_add_newly_created_group_to_site">
          <%= f.check_box(:add_newly_created_group_to_site) %>
          <%= @model.t :add_newly_created_group_to_site %>
        </label>
      </dd>
      <dd>
        <label for="<%= f.object_name %>_forced_overwrite">
          <%= f.check_box(:forced_overwrite) %>
          <%= @model.t :forced_overwrite %>
        </label>
      </dd>
      <% if params[:type] == 'main' || !Rails.env.production? %>
      <dt><%= @model.t :reservation %><%= @model.tt :reservation %></dt>
      <dd><%= f.text_field :reservation, class: 'datetime js-datetime' %></dd>
      <% end %>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit t("chorg.views.run/confirmation.#{params[:type]}.run_button"), class: "btn-primary save" %>
    <%= f.button t("ss.buttons.cancel"), type: :reset, class: "btn-default",
      onclick: "location.href='#{url_for(controller: :revisions, action: :show, id: @cur_revision)}'; return false;" %>
  </footer>
<% end %>

<%= jquery do %>
  $('input[name="item[reservation]"]').datetimepicker({
    minDate: '+1970/01/02'
  });
<% end %>
