<table class="index">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th><%= @model.t :name %></th>
      <th class="filename"><%= @model.t :filename %></th>
      <th class="route"><%= t :module %></th>
      <th class="datetime"><%= @model.t :updated %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <% if @cur_node.parent %>
      <td class="checkbox">
        <nav class="tap-menu">
          <%= link_to :parent_directory, contents_path(@cur_node.parent) %>
        </nav>
      </td>
      <td><%= link_to :parent_directory, contents_path(@cur_node.parent), class: "icon-node-up" %></td>
      <% else %>
      <td class="checkbox">
        <nav class="tap-menu">
          <%= link_to :parent_directory, cms_nodes_path %>
        </nav>
      </td>
      <td><%= link_to :parent_directory, cms_nodes_path, class: "icon-node-up" %></td>
      <% end %>
      <td class="filename"></td>
      <td class="route"></td>
      <td class="datetime"></td>
    </tr>

    <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="tap-menu">
          <%= link_to :show, action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
          <%= link_to :edit, action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%= link_to :delete, action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
          <%= link_to :view_site, item.full_url, target: :_blank if item.public? %>
        </nav>
      </td>
      <td>
        <% if item.route == "facility/page" %>
          <%= link_to item.name, facility_page_path(id: item), class: "icon-node" %>
        <% else %>
          <%= link_to item.name, contents_path(item), class: "icon-node" %></td>
        <% end %>
      </td>
      <td class="filename"><%= File.basename item.filename %></td>
      <td class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></td>
      <td class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
