<%
  group = @group || @custom_group
  opts = { descendants_check: true }
  opts[:expand_group] = @group.id if @group
%>
<%= jquery do %>
  var tree = SS_TreeUI.render(".tree-groups .index.groups", <%== opts.to_json %>);
  $(".expand-all").on("click", function() {
    tree.expandAll();
  });
  $(".collapse-all").on("click", function() {
    tree.collapseAll();
  });
<% end %>

<div id="content-navi" class="presence-groups">
  <h2 class="content-navi-title">
    <%= t('gws/presence.group') %>
  </h2>

  <div class="tree-navi">
    <div class="all-groups list-item <%= group ? "" : "current" %>">
      <%= link_to t('gws/presence.links.all_groups'), gws_presence_users_path %>
    </div>

    <% if @cur_site.present? %>
      <%= cache("gws/presence/main/tree-groups/#{@cur_site.id}", expires_in: Riken::FRAGMENT_CACHE_EXPIRES_IN) do %>
        <% groups = @cur_site.root.descendants_and_self.active.tree_sort %>
        <div class="tree-groups">
          <table class="index groups">
            <tbody class="items">
            <tr data-depth="0">
              <td>
                <button class="btn expand-all" type="button"><%= t('gws/presence.operations.expand_all') %></button>
                <button class="btn collapse-all" type="button"><%= t('gws/presence.operations.collapse_all') %></button>
              </td>
            </tr>
            <% groups.each do |item| %>
              <%= tag.tr class: "list-item", data: { id: item.id, depth: item.depth } do %>
                <td class="expandable"><%= link_to item.trailing_name, gws_presence_group_users_path(group: item.id) %></td>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>

    <% if @custom_groups.present? %>
      <div class="custom-groups">
        <table class="index groups">
          <tbody class="items">
          <% @custom_groups.each do |item| %>
            <tr class="list-item <%= (item.id == @custom_group.try(:id)) ? "current" : "" %>">
              <td><%= link_to item.name, gws_presence_custom_group_users_path(group: item.id) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
