<%
  time = Time.zone.now
  group = @group || @custom_group
  send_message = Gws::Memo::Message.allowed?(:edit, @cur_user, site: @cur_site)
%>

<div class="index presence-users editable-users">
  <div class="list-head">
    <h2 class="list-head-title">
      <%= @cur_user.name %>
    </h2>
  </div>

  <div class="data-table-wrap wrap-table">
    <table class="index data-table">
      <thead>
      <tr>
        <th class="name"><%= Gws::User.t :name %></th>
        <th class="presence-plan"><%= Gws::UserPresence.t :plan %></th>
        <th class="presence-memo"><%= Gws::UserPresence.t :memo %></th>
        <% if send_message %>
          <th class="presence-send-message"><%= t("gws/memo/message.message") %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @editable_users.each do |item| %>
        <% user_presence = item.user_presence(@cur_site) %>
        <tr class="editable" data-id="<%= item.id %>">
          <td class="presence-state-toggle">
            <div class="no-overflow">
              <span class="presence-state <%= user_presence.state_style %>">
                <%= user_presence.label :state %>
              </span>
              <%= link_to item.name, "", class: "select-presence-state group-name" %>
            </div>
            <%== user_presence_state_selector(item) %>
          </td>
          <td class="no-overflow">
            <%= ajax_text_field_tag :presence_plan, user_presence.plan, item.id, (gws_presence_apis_user_path(id: item.id) + ".json") %>
            <i class="material-icons editicon presence-plan" style="font-size: inherit">mode_edit</i>
          </td>
          <td class="no-overflow">
            <%= ajax_text_field_tag :presence_memo, user_presence.memo, item.id, (gws_presence_apis_user_path(id: item.id) + ".json") %>
            <i class="material-icons editicon presence-memo" style="font-size: inherit">mode_edit</i>
          </td>
          <% if send_message %>
            <td class="no-overflow">
              <%= link_to t("ss.links.new"), new_gws_memo_message_path(to: item.id) %>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= jquery do %>
Gws_Presence_User.render();
Gws_Presence_User_Reload.render({
  "url": '<%= @table_url %>',
  "paginate_params": <%== @paginate_params.to_json %>,
  "page": <%= params[:page].to_i %>
});
<% end %>

<div class="index content-main presence-users group-users">
  <div class="list-head">
    <h2 class="list-head-title">
      <span class="group">
        <% if group %>
          <%= group.try(:trailing_name) || group.name %>
        <% else %>
          <%= t('gws/presence.links.all_groups') %>
        <% end %>
      </span>
      （<time datetime="<%= time %>>"><%=l time, format: :long %></time>）
      <i class="material-icons md-18 editicon reload">refresh</i>
    </h2>
    <nav>
      <%= render template: '_search' %>
    </nav>
  </div>

  <div class="data-table-wrap wrap-table">
    <table class="index data-table">
      <thead>
      <tr>
        <th class="name"><%= Gws::User.t :name %></th>
        <th class="presence-plan"><%= Gws::UserPresence.t :plan %></th>
        <th class="presence-memo"><%= Gws::UserPresence.t :memo %></th>
        <% if send_message %>
          <th class="presence-send-message"><%= t("gws/memo/message.message") %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <% user_presence = item.user_presence(@cur_site) %>
        <% if @manageable %>
          <tr class="editable" data-id="<%= item.id %>">
            <td class="presence-state-toggle">
              <div class="no-overflow">
                <span class="presence-state <%= user_presence.state_style %>">
                  <%= user_presence.label :state %>
                </span>
                <%= link_to item.name, "", class: "select-presence-state group-name" %>
              </div>
              <%== user_presence_state_selector(item) %>
            </td>
            <td class="no-overflow">
              <%= ajax_text_field_tag :presence_plan, user_presence.plan, item.id, (gws_presence_apis_user_path(id: item.id) + ".json") %>
              <i class="material-icons editicon presence-plan" style="font-size: inherit">mode_edit</i>
            </td>
            <td class="no-overflow">
              <%= ajax_text_field_tag :presence_memo, user_presence.memo, item.id, (gws_presence_apis_user_path(id: item.id) + ".json") %>
              <i class="material-icons editicon presence-memo" style="font-size: inherit">mode_edit</i>
            </td>
            <% if send_message %>
              <td class="no-overflow"><%= link_to t("ss.links.new"), new_gws_memo_message_path(to: item.id) %></td>
            <% end %>
          </tr>
        <% else %>
          <tr>
            <td class="no-overflow">
              <span class="presence-state <%= user_presence.state_style %>">
                <%= user_presence.label :state %>
              </span>
              <span class="group-name"><%= item.name %></span>
            </td>
            <td class="no-overflow">
              <%= user_presence.plan %>
            </td>
            <td class="no-overflow">
              <%= user_presence.memo %>
            </td>
            <% if send_message %>
              <td class="no-overflow">
                <%= link_to t("ss.links.new"), new_gws_memo_message_path(to: item.id) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
    <%= paginate @items if @items.try(:current_page) %>
  </div>
</div>
