<%

events = @plans.map do |p|
  data = { id: p.id, title: h(p.name), start: p.start_at, end: p.end_at, allDay: p.allday? }
  if c = p.category
    data.merge!(backgroundColor: c.bg_color, borderColor: c.bg_color, textColor: c.text_color)
  end
  data
end

%>
<%= render "search" %>

<div id="calendar"></div>
<script style="text/javascript">

$(function() {
  $('#calendar').fullCalendar({
    editable: true,
    defaultView: 'month',
    header: { center: 'month,basicWeek,agendaDay' },
    timeFormat: 'HH:mm',
    eventClick: function(event) {
      location.href = '<%= url_for action: :index %>/' + event.id;
    },
    eventDrop: function(event, delta, revertFunc) {
      var start = event.start.format();
      var end = (event.end == null) ? null : event.end.format();
      $.ajax({
        type: 'PUT',
        url: '<%= url_for action: :index %>/' + event.id,
        data: { item: { start_at: start, end_at: end } }
      });
    },
    eventResize: function(event, delta, revertFunc) {
      $.ajax({
        type: 'PUT',
        url: '<%= url_for action: :index %>/' + event.id,
        data: { item: { start_at: event.start.format(), end_at: event.end.format() } }
      });
    },
    eventSources: [{ events: <%== events.to_json %> }]
  });
});
</script>

