<%#= render "search" %>

<%= javascript_include_tag "/assets/js/fullcalendar/ja.js" %>

<div id="calendar" class="calendar"></div>
<%= javascript_tag do %>
$(function() {
  $('#calendar').fullCalendar({
    lang: 'ja', // TODO:
    editable: true,
    defaultView: 'month',
    header: { center: 'month,basicWeek,agendaDay' },
    timeFormat: 'HH:mm',
    eventClick: function(event) {
      location.href = '<%= url_for action: :index %>/' + event.id;
    },
    eventDrop: function(event, delta, revertFunc) {
      var start = event.start.format();
      var end = (event.end == null) ? null : event.end.format();
      $.ajax({
        type: 'PUT',
        url: '<%= url_for action: :index %>/' + event.id,
        data: { item: { start_at: start, end_at: end } }
      });
    },
    eventResize: function(event, delta, revertFunc) {
      $.ajax({
        type: 'PUT',
        url: '<%= url_for action: :index %>/' + event.id,
        data: { item: { start_at: event.start.format(), end_at: event.end.format() } }
      });
    },
    eventSources: [{ events: <%== calendar_format(@items).to_json %> }]
  });
});
<% end %>
