<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="order"><%= item.order %></span>
  <% if item.category %>
    <span class="class"><%= item.category.name %></span>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
