<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="order"><%= item.order %></span>
  <% if item.category %>
    <span class="class"><%= item.category.name %></span>
  <% end %>
<% end %>

<%= render template: "gws/crud/index" %>
