<%= jquery do %>
  Gws_Schedule_Todo.render({
    disable: <%== { path: url_for(action: :disable_all), confirm: t('gws/schedule/todo.confirm.disable_all') }.to_json %>,
    finish: <%== { path: url_for(action: :finish_all), confirm: t('gws/schedule/todo.confirm.finish_all') }.to_json %>,
    revert: <%== { path: url_for(action: :revert_all), confirm: t('gws/schedule/todo.confirm.revert_all') }.to_json %>
  });
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <button class="disable-all btn"><%= t 'ss.links.delete' %></button>
    <button class="finish-all btn"><%= t 'gws/schedule/todo.links.finish' %></button>
    <button class="revert-all btn"><%= t 'gws/schedule/todo.links.revert' %></button>
  </div>

  <div class="list-head-search">
    <%= render file: '_search' %>
  </div>
</div>
