<%= jquery do %>

$('.popup-attributes .custom-group-name').click(function() {
  $(this).parent().find('.custom-group-members').slideToggle('fast');
  return false;
});

<% end %>

<div class="popup-title"><%= link_to @item.name, { action: :show } %></div>
<div class="popup-date"><%= term(@item) %></div>

<span class="ss-quota-bar gws-schedule-todo-achievement-bar">
  <div class="label"><%= t("gws/schedule/todo.achievement_rate", count: @item.achievement_rate || 0) %></div>
  <div class="usage " style="width: <%= @item.achievement_rate || 0 %>%"></div>
</span>

<% if @item.text.present? %>
    <div class="popup-description">
      <div class="text <%= "markdown-body" if @item.text_type == "markdown" %>">
        <%= @item.html %>
      </div>
    </div>
<% end %>

<div class="popup-attributes">
  <div class="popup-attr popup-members">
    <div class="popup-label"><%= t("modules.addons.gws/member") %></div>
    <div class="popup-value">

      <% @item.member_custom_groups.each do |c| %>
        <div class="custom-group">
          <a class="custom-group-name" href="#"><%= c.name %></a><br />
          <div class="custom-group-members" id="custom-group-<%= c.id %>">
            <%= c.members.map(&:long_name).join(', ') %>
          </div>
        </div>
      <% end %>

      <% @item.member_groups.each do |g| %>
        <div class="custom-group">
          <a class="custom-group-name" href="#"><%= g.section_name %></a><br/>
          <div class="custom-group-members" id="custom-group-<%= g.id %>">
            <%= Gws::User.active.in(group_ids: g.id).map(&:long_name).join(', ') %>
          </div>
        </div>
      <% end %>

      <%= @item.members.order_by_title(@cur_site).map(&:long_name).join(', ') %>
    </div>
  </div>

  <% if hist = @item.histories.where(mode: 'update').first %>
      <div class="popup-attr popup-history">
        <div class="popup-label"><%= t "gws.history.user.update" %></div>
        <div class="popup-value">
          <span class="user"><%= hist.user_long_name %></span>
          <% if hist.user_tel %><span class="tel"><%= hist.user_tel %></span><% end %>
        </div>
      </div>
  <% end %>

  <div class="popup-attr popup-history">
    <div class="popup-label"><%= t "gws.history.user.create" %></div>
    <div class="popup-value">
      <span class="user"><%= @item.user_long_name %></span>
      <% if @item.user_tel %><span class="tel"><%= @item.user_tel %></span><% end %>
    </div>
  </div>
</div>

<%
  menu = []
  menu << link_to(I18n.t('ss.links.show'), { action: :show })
  menu << link_to(I18n.t('ss.links.edit'), { action: :edit }) if @item.allowed?(:edit, @cur_user, site: @cur_site)
  menu << link_to(I18n.t('ss.links.delete'), { action: :soft_delete }) if @item.allowed?(:delete, @cur_user, site: @cur_site)
  if @item.allowed?(:edit, @cur_user, site: @cur_site) && !@item.finished?
    menu << link_to(I18n.t('gws/schedule/todo.links.finish'), { action: :finish })
  end
  if @item.allowed?(:edit, @cur_user, site: @cur_site) && @item.finished?
    menu << link_to(I18n.t('gws/schedule/todo.links.revert'), { action: :revert })
  end
%>
<% if menu.present? %>
    <div class="popup-menu"><%= safe_join(menu) %></div>
<% end %>
