<% return if @node.nil? %>

<%= jquery do %>
Cms_Site_Search_History.render(".site-search-history-part", "<%= @node.full_url %>");
<% end %>

<%== @cur_part.upper_html if @cur_part.upper_html.present?  %>
<form class="site-search-history-part" action="<%= @node.url %>" accept-charset="UTF-8" method="get">
  <div class="site-search-keyword">
    <input type="text" title=<%= t "cms.search_contents" %> placeholder=<%= t "cms.search_contents" %> class="text" id="s_keyword" size="40" name="s[keyword]" autocomplete="off">
    <ul class="site-search-history" style="display: none;"></ul>
  </div>
  <button type="submit" id="search-button"><%= t "cms.search_button" %></button>
</form>
<%== @cur_part.lower_html if @cur_part.lower_html.present? %>
