<% return if @node.nil? %>

<%= jquery do %>
new Cms_Site_Search_History("#<%= "site-search-history-part-#{@cur_part.id}" %>", "<%= @node.full_url %>");
<% end %>

<%== @cur_part.upper_html if @cur_part.upper_html.present?  %>
<form id="<%= "site-search-history-part-#{@cur_part.id}" %>" action="<%= @node.url %>" accept-charset="UTF-8" method="get">
  <div class="site-search-keyword">
    <input type="text" title="サイト内検索" placeholder="<%= @cur_part.placeholder %>" class="text" id="search-box" size="40" name="s[keyword]" autocomplete="off">
    <ul class="site-search-history" style="display: none;"></ul>
  </div>
  <button type="submit" id="search-button"><img src="<%= @cur_site.url %>img/search.svg" width="16" alt="検索"></button>
</form>
<%== @cur_part.lower_html if @cur_part.lower_html.present? %>
