<% value ||= nil %>
<% controller ||= false %>
<% lists = value.try(:lists) %>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do |id| %>
  <% render_item = proc do |text| %>
    <li>
      <%= text_field_tag("#{f.object_name}[][in_wrap][lists][]", text, column.form_options.merge(id: nil)) %>
      <%= button_tag t("ss.links.delete"), class: "btn delete btn-delete-list", type: 'button' %>
    </li>
  <% end %>

  <%= content_tag column.list_type, class: "list list-#{column.list_type} mt-0" do %>
    <% if lists.present? %>
      <% lists.each do |list| %>
        <% render_item.call(list) %>
      <% end %>
    <% else %>
      <% render_item.call('') %>
    <% end %>
  <% end %>

  <script type="text/html" class="template">
    <% render_item.call('') %>
  </script>

  <% @buttons.unshift(button_tag(t("cms.buttons.column_add_list"), class: "btn btn-add-list", type: 'button')) %>

  <%= jquery do %>
    Cms_Form.addSyntaxCheck("<%= id %>", {
      resolve: "text",
      type: "array",
      name: "<%= column.name %>",
      getContent: function () {
        var contents = [];
        $('<%= "##{id}" %> [name="item[column_values][][in_wrap][lists][]"]').each(function () {
          contents.push($(this).val());
        });
        return contents;
      },
      setContent: function (content) {
        var selector, ele;
        selector = $('<%= "##{id}" %> [name="item[column_values][][in_wrap][lists][]"]');
        $.each(content, function (idx, value) {
          ele = selector[idx];
          if (ele) {
            $(ele).val(value);
          }
        });
      },
    });

    Cms_Column_List.render(<%== "##{id}".to_json %>);
  <% end %>
<% end %>
