<% list_name = SecureRandom.hex(4) %>

<div id="add-li-<%= list_name%>" style='display:none'>
  <%= render 'cms/agents/columns/list/column_form_ul', f: f, column: column, order: 0, text: '' %>
</div>

<%= jquery do %>
function reorder() {
  $("#column-value-list-<%= list_name %>").find('li').each( function( index, element ) {
    $(element).find('input:hidden').val(index+1);
  });
}

$(".addList").on("click", function() {
  var list = $("#column-value-list-<%= list_name %>");
  var li = $("#add-li-<%= list_name%>").find('li').clone();
  list.append(li);
  reorder();
})

$("#column-value-list-<%= list_name %>").on("click", ".deleteList", function() {
  var parent = $(this).parent();
  var order = parent.find('input:hidden').val();
  parent.remove();
  reorder();
})

<% if @inplace_syntax_check %>
Cms_Inplace_Form.resolveType = "textlist";
Cms_Inplace_Form.getContent = function () {
  var values = {};
  var key = 1;
  $('<%= "#column-value-list-#{list_name}" %> [name="item[column_values][][in_wrap][lists][][text]"').each(function () {
    values[key] = $(this).val();
    key += 1;
  });
  return values;
};
Cms_Inplace_Form.setContent = function (content, opts) {
  key = opts["listkey"] - 1;
  ele = $('<%= "#column-value-list-#{list_name}" %> [name="item[column_values][][in_wrap][lists][][text]"')[key]
  $(ele).val(content);
};
<% end %>

<% end %>

<% value ||= nil %>
<% controller ||= false %>
<% lists = value.try(:lists) %>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do %>
  <% if lists.present? %>
    <%= content_tag column.list_type.to_sym, id: "column-value-list-#{list_name}" do %>
      <% lists.each do |list| %>
        <%= render 'cms/agents/columns/list/column_form_ul', f: f, column: column, order: list[:order], text: list[:text] %>
      <% end %>
    <% end %>
  <% else %>
    <%= content_tag column.list_type.to_sym, id: "column-value-list-#{list_name}" do %>
      <%= render 'cms/agents/columns/list/column_form_ul', f: f, column: column, order: 1, text: '' %>
    <% end %>
  <% end %>

  <div class="inplace-checkers">
    <%= button_tag t("cms.buttons.column_add_list"), class: "btn addList", type: 'button' %>
    <% if @inplace_syntax_check%>
      <%= button_tag t("cms.syntax_check"), { type: :button, class: "btn syntax-check" } %>
    <% end %>
  </div>
<% end %>
