<% value ||= nil %>
<% files = value.try(:files) %>
<%= render 'gws/agents/columns/main/common_label', column: column %>
<dd class="<%= @section_id %>">
  <span class="prefix-block"><%= sanitize_easy column.prefix_explanation %></span>

  <% column.upload_file_count.times.each do |index| %>
    <div class="mb-2">
      <%=
        # f.ss_file_field
        file = files[index] rescue nil
        component = SS::FileFieldV2Component.new(
          ss_mode: @ss_mode, cur_site: @cur_site, cur_user: @cur_user, item: @item, file: file,
          field_name: "#{object_name}[#{column.id}][]", element_id: "#{object_name}_#{column.id}_#{index}")
        render component
      %>
    </div>
  <% end %>

  <span class="postfix-block"><%= sanitize_easy column.postfix_explanation %></span>
</dd>
