<%= stylesheet_link_tag 'member/public', media: 'all' %>
<%= javascript_include_tag 'member/public' %>

<dl class="column name">
  <dt>
    <%= @model.t :name %>
    <%= required_label %>
  </dt>
  <dd>
    <%= f.text_field :name %>
    <%= remarks :name %>
  </dd>
</dl>

<dl class="column email">
  <dt>
    <%= @model.t :email %>
    <%= required_label %>
  </dt>
  <dd>
    <%= f.text_field :email %>
    <%= remarks :email %>
  </dd>
</dl>

<dl class="column kana">
  <dt>
    <%= @model.t :kana %>
    <%= required_label %>
  </dt>
  <dd>
    <%= f.text_field :kana %>
    <%= remarks :kana %>
  </dd>
</dl>

<dl class="column">
  <dt><%= @model.t :organization_name %></dt>
  <dd>
    <%= f.text_field :organization_name %>
    <%= remarks :organization_name %>
  </dd>
</dl>

<dl class="column">
  <dt><%= @model.t :job %></dt>
  <dd>
    <%= f.text_field :job %>
    <%= remarks :job %>
  </dd>
</dl>

<dl class="column">
  <dt><%= @model.t :tel %></dt>
  <dd>
    <%= f.text_field :tel %>
    <%= remarks :tel %>
  </dd>
</dl>

<dl class="colum postal-code">
  <dt>
    <%= @model.t :postal_code %>
    <%= required_label %>
  </dt>
  <dd>
    <%= f.text_field :postal_code %>
    <%= f.button t('member.button.address_search'), name: 'postal-code-search', type: :button %>
    <span class="postal-code-search-error"></span>
    <%= remarks :postal_code %>
  </dd>
</dl>

<dl class="column">
  <dt>
    <%= @model.t :addr %>
    <%= required_label %>
  </dt>
  <dd>
    <%= f.text_field :addr %>
    <%= remarks :addr %>
  </dd>
</dl>

<dl class="column">
  <dt>
    <%= @model.t :sex %>
    <%= required_label %>
  </dt>
  <dd>
    <% @item.sex_options.each do |text, val| %>
      <%= label_tag("item_sex_#{val}", class: val) do %>
        <%= f.radio_button :sex, val %><%= text %>
      <% end %>
    <% end %>
    <%= remarks :sex %>
  </dd>
</dl>

<dl class="column">
  <dt>
    <%= @model.t :birthday %>
    <%= required_label %>
  </dt>
  <dd>
    <%= f.fields_for :in_birth do |birth_f| %>
      <%= birth_f.select :era, options_for_select(%w(西暦 明治 大正 昭和 平成), tryb { @item.in_birth[:era] } || @item.birthday ? '西暦' : nil), include_blank: true %>
      <%= birth_f.number_field :year, value: tryb { @item.in_birth[:year] } || @item.birthday.try(:year) %>
      年
      <%= birth_f.select :month, options_for_select((1..12).to_a, tryb { @item.in_birth[:month] } || @item.birthday.try(:month)), include_blank: true %>
      月
      <%= birth_f.select :day, options_for_select((1..31).to_a, tryb { @item.in_birth[:day] } || @item.birthday.try(:day)), include_blank: true %>
      日
    <% end %>
    <%= remarks :birthday %>
  </dd>
</dl>

<%= jquery do %>
  $("button[name='postal-code-search']").postalCodeSearch({
    path: "<%= "#{@cur_node.url}postal_code" %>"
  });
<% end %>
