<%== render_mypage_navi current_node: @cur_node %>

<nav class="mypage-nav nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to "プロフィール編集", "#{@cur_node.url}edit" %>
    <%= link_to "退会", "#{@cur_node.url}leave" %>
    <%= link_to "パスワード変更", "#{@cur_node.url}change_password" %>
  <% else %>
    <%= link_to :back_to_index, @cur_node.url %>
  <% end %>
</nav>
