<%= node_navi :ezine do %>

<h3><%= link_to :"ezine.page", ezine_pages_path %></h3>
<h3><%= link_to :"ezine.member", ezine_members_path %></h3>
<h3><%= link_to :"ezine.test_member", ezine_test_members_path %></h3>
<h3><%= link_to :"ezine.column", ezine_columns_path %></h3>
<h3><%= link_to :"ezine.entry", ezine_entries_path %></h3>

<% end %>
