<dl class="see">
  <dd class="wide">
    <%= link_to opendata_idea_comments_path(idea_id: @item) do %>
      <button><%= t("opendata.manage_comments") %></button>
    <% end %>
  </dd>

  <% if @comments.present? %>
  <dd class="wide">
    <table class="index">
      <tbody>
        <% @comments.order(name: 1).each do |comment| %>
        <tr>
          <td><%= comment.text %></td>
          <td>
            <% if comment.member %>
            <%= comment.member.name %>
            <% elsif comment.contact_group %>
            <%= comment.contact_group.full_name %>
            <% elsif comment.user.groups %>
            <%= comment.user.groups.first.name %>
            <% else %>
            <%= "ゲストユーザー" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
  <% end %>
</dl>
