<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <dt><%= @model.t :start_at %></dt>
  <dd><%= I18n.l(@item.start_at, format: :picker) rescue nil %></dd>

  <% if @item.units.present? %>
  <dt><%= @model.t :units %></dt>
  <dd>
    <table class="index data-table">
      <tr>
        <th><%= Cms::Transaction::Unit::Base.t(:order) %></th>
        <th><%= Cms::Transaction::Unit::Base.t(:type) %></th>
        <th><%= Cms::Transaction::Unit::Base.t(:name) %></th>
        <th><%= Cms::Transaction::Unit::Base.t(:execute_at) %></th>
      </tr>
      <% @item.units.each do |unit| %>
        <tr>
          <td><%= unit.order %></td>
          <td><%= unit.label :type %></td>
          <td><%= link_to unit.name, cms_transaction_plan_unit_path(plan_id: @item, id: unit) %></td>
          <td><%= I18n.l(unit.execute_at, format: :picker) rescue nil %></td>
        </tr>
      <% end %>
    </table>
  </dd>
  <% else %>
  <dt class="wide"></dt>
  <dd class="wide">
    <table class="index data-table">
      <tr>
        <td><%= t("cms.not_registerd") %></td>
      </tr>
    </table>
  </dd>
  <% end %>
</dl>
