<dl class="see mod-chorg-entity_log">
  <dt class="wide"><%= @entity_site["label"] %></dt>
  <dd class="wide">
    <table class="index">
      <thead>
        <tr>
          <th><%= "対象" %></th>
          <th><%= "タイトル" %></th>
          <th><%= "ID" %></th>
          <th><%= "操作" %></th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |key, item| %>
          <%
             model = t("mongoid.models.#{item["model"].underscore}", default: item["model"])
          %>
          <tr>
            <td><%= model %></td>
            <td><%= link_to item["title"], { action: :show_entity, entity_index: key } %></td>
            <td><%= item["id"] %></td>
            <td><%= item["label"] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
