<div class="cms-tabs">
  <% path = url_for(action: :index) %>
  <%= link_to(path, class: [ params[:action] == "index" ? 'current' : nil ]) do %>
    <span class="tab-name">Collections</span>
  <% end %>
  <% path = url_for(action: :info) %>
  <%= link_to(path, class: [ params[:action] != "index" ? 'current' : nil ]) do %>
    <span class="tab-name">Server</span>
  <% end %>
</div>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: "Server" } do %>
    <dl class="see">
      <dt>name</dt>
      <dd><%= db.database.name %></dd>
    </dl>

    <div>
      These articles should be read to utilize blow stats.
      <ul>
        <li><%= link_to "https://docs.mongodb.com/manual/administration/monitoring/", "https://docs.mongodb.com/manual/administration/monitoring/", target: "_blank", rel: "noopener" %></li>
        <li><%= link_to "https://docs.mongodb.com/manual/administration/analyzing-mongodb-performance/", "https://docs.mongodb.com/manual/administration/analyzing-mongodb-performance/", target: "_blank", rel: "noopener" %></li>
      </ul>
    </div>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-build-info", head: "Server Status", toggle: true, display_body: "hide" } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/serverStatus/#mongodb-dbcommand-dbcmd.serverStatus", "https://docs.mongodb.com/manual/reference/command/serverStatus/#mongodb-dbcommand-dbcmd.serverStatus", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(serverStatus: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-stats", head: "DbStats", toggle: true } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/dbStats/#mongodb-dbcommand-dbcmd.dbStats", "https://docs.mongodb.com/manual/reference/command/dbStats/#mongodb-dbcommand-dbcmd.dbStats", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(dbStats: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-build-info", head: "Repl Set Get Status", toggle: true, display_body: "hide" } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/replSetGetStatus/#mongodb-dbcommand-dbcmd.replSetGetStatus", "https://docs.mongodb.com/manual/reference/command/replSetGetStatus/#mongodb-dbcommand-dbcmd.replSetGetStatus", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(replSetGetStatus: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-build-info", head: "Connection Pool Stats", toggle: true } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/connPoolStats/#mongodb-dbcommand-dbcmd.connPoolStats", "https://docs.mongodb.com/manual/reference/command/connPoolStats/#mongodb-dbcommand-dbcmd.connPoolStats", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(connPoolStats: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-build-info", head: "Command Line Options", toggle: true, display_body: "hide" } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/getCmdLineOpts/#mongodb-dbcommand-dbcmd.getCmdLineOpts", "https://docs.mongodb.com/manual/reference/command/getCmdLineOpts/#mongodb-dbcommand-dbcmd.getCmdLineOpts", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(getCmdLineOpts: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-build-info", head: "Build Info", toggle: true } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/buildInfo/#mongodb-dbcommand-dbcmd.buildInfo", "https://docs.mongodb.com/manual/reference/command/buildInfo/#mongodb-dbcommand-dbcmd.buildInfo", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(buildInfo: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-build-info", head: "Host Info", toggle: true } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/hostInfo/#mongodb-dbcommand-dbcmd.hostInfo", "https://docs.mongodb.com/manual/reference/command/hostInfo/#mongodb-dbcommand-dbcmd.hostInfo", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(hostInfo: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "addon-stats", head: "Hello", toggle: true } do %>
    <%= link_to "https://docs.mongodb.com/manual/reference/command/hello/#mongodb-dbcommand-dbcmd.hello", "https://docs.mongodb.com/manual/reference/command/hello/#mongodb-dbcommand-dbcmd.hello", target: "_blank", rel: "noopener" %>
    <%=
      begin
        db.command(hello: 1).documents.first.try do |result|
          content_tag(:dl, class: "see") { render "sys/db/colls/bson_document", result: result, depth: 1 }
        end
      rescue => e
        e.to_s
      end
    %>
  <% end %>
</div>
