<%= form_for :item, url: { action: :download }, html: { method: :post } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t "ss.download" %></h2></header>

    <dl class="see">
      <dt><%= t('ss.encoding') %></dt>
      <dd>
        <% %w(UTF-8 Shift_JIS).each do |encoding| %>
          <label>
            <%= radio_button_tag "#{f.object_name}[encoding]", encoding, encoding == 'UTF-8', {id: nil} %>
            <%= t("ss.options.csv_encoding.#{encoding}") %>
          </label>
        <% end %>
      </dd>

      <dt><%= @item.class.human_attribute_name :save_term %></dt>
      <dd><%= f.select :save_term, @item.save_term_options, include_blank: t("history.options.duration.all_save") %></dd>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit t("ss.download"), class: :save %>
    <%= f.button t("ss.buttons.cancel"), type: :reset, class: 'btn-default', onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>
