<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to t('ss.links.download'), action: :download, s: params.to_unsafe_h[:s] rescue nil %>
  <% elsif params[:action] =~ /new|create|destroy_all/ %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
    <% end %>
    <%=
      faq_node = @cur_node.try(:faq)
      if faq_node && !faq_node.allowed?(:edit, @cur_user, site: @cur_site)
        faq_node = nil
      end
      if faq_node
        question = @item.data.select { _1.column.question == 'enabled' rescue false }
        question.collect! { _1.value }
      end
      if faq_node && question.present?
        path = new_faq_page_path(cid: faq_node, question: question.join(',')) rescue nil
      end
      if path
        link_to t('inquiry.links.faq'), path
      end
    %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
