<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to t('ss.links.download'), action: :download, s: params.to_unsafe_h[:s] %>
  <% elsif params[:action] =~ /new|create/ %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
    <% end %>
    <%
      question = @item.data.select do |data|
        data.column.question == 'enabled' rescue false
      end
      question.collect! do |data|
        data.value
      end
    %>
    <%= link_to t('inquiry.links.faq'), new_faq_page_path(cid: @item.node.faq_id, question: question.join(',')) rescue nil %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
