<dl class="see">
  <dt><%= @item.t :state %></dt>
  <dd>
    <span class="answer-state state-<%= @item.state %>"><%= @item.label :state %></span>
    <% if @item.closed %><%= "(#{@item.closed.strftime("%Y/%m/%d %H:%M")})" %><% end %>
  </dd>

  <% if @item.comment.present? %>
  <dt><%= @item.t :comment %></dt>
  <dd><%=br @item.comment %></dd>
  <% end %>
</dl>
