<% @tap_menu = proc do |item| %>
  <%= link_to :show, action: :show, id: item  if @cur_node.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to :delete, action: :delete, id: item if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
<% end %>
<% @index_title = proc do |item| %>
  <td><%= link_to item.data_summary, action: :show, id: item %></td>
<% end %>
<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <% if item.source_url.present? %>
  <span class="url"><%= item.source_url %></span>
  <% end %>
  <% if item.source_name.present? %>
  <span class="name"><%= item.source_name %></span>
  <% end %>
<% end %>

<%= render file: "cms/crud/index" %>
