<% if comment.showable_comment?(@cur_user, @cur_group) %>
  <aside class="comment" id="post-<%= comment.id %>">
    <header class="<%= 'toggle-head' if recursion %>">
      <h2><%= comment.name %></h2>
      <nav class="meta">
        <span class="user"><%= gws_public_user_long_name(comment.contributor_name.presence || comment.user_long_name) %></span>
        <span class="datetime"><%= comment.created.strftime("%Y/%m/%d %H:%M") %></span>
      </nav>
    </header>

    <div class="toggle-body <%= 'hide' if recursion %>">
      <div class="body markdown-body"><%= comment.html %></div>

      <% if comment.files.present? %>
      <div class="files">
        <% comment.files.each do |file| %>
          <span id="file-<%= file.id %>">
            <img src="/assets/img/gws/ic-file.png" alt="" />
            <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
          </span>
        <% end %>
      </div>
      <% end %>

      <%= render file: '_comment_menu', locals: { comment: comment, recursion: recursion } %>
    </div>
  </aside>
<% end %>

<% if recursion && comment.children.present? %>
<div class="comments">
  <%= render partial: 'gws/monitor/comments/comment', collection: comment.children, locals: {parent: comment, recursion: recursion} %>
</div>
<% end %>

