<% addons = @item.class.addons.select { |addon| [Gws::Addon::Monitor::Group, Gws::Addon::GroupPermission, Gws::Addon::Monitor::Category, Gws::Addon::ReadableSetting].exclude?(addon.klass) } %>

<%= form_for :item, url: { action: :create }, html: { id: "item-form", multipart: true, autocomplete: :off } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view mb-5" id="addon-basic">
    <% if addons.size > 0 %><div class="addon-head"><h2><%= @addon_basic_name || t("ss.basic_info") %></h2></div><% end %>
    <div class="addon-body">
      <%= render file: '_form', locals: { f: f } %>
    </div>
  </div>
  <%= render file: "_addons_form", locals: { f: f, addons: addons } if addons.size > 0 %>
</div>

<footer class="send">
  <% if @crud_buttons %>
    <% @crud_buttons.call f %>
  <% else %>
    <% if @item.topic.id == @item.parent.id %>
      <%= f.submit t("gws/monitor.links.comment"), class: 'btn-primary answer', data: { confirm: I18n.t("gws/monitor.confirm.comment_answer") }  %>
      <%= f.submit t("gws/monitor.links.question_not_applicable"), class: 'btn-primary question_not_applicable', data: { confirm: I18n.t("gws/monitor.confirm.comment_answer") }  %>
    <% else %>
      <%= f.submit t("ss.buttons.save"), class: 'btn-primary save' %>
    <% end %>
    <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  <% end %>
</footer>

<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
