<%= jquery do %>
  $(".map-search-change").on("click", function () {
    $.colorbox({
      html: "<%=j render(partial: 'modal') %>"
    });
    return false;
  });
<% end %>

<dl class="condition map-search-condition">
  <dt class="keyword"><%= t("facility.keyword") %></dt>
  <dd><%= @keyword %></dd>

  <% if @categories %>
    <dt class="category"><%= t("facility.category.name") %></dt>
    <dd class="category-settings" data-category-settings="<%= @categories.join(',') %>">
      <%= @categories.join(', ') %>
    </dd>
  <% end %>

  <% @cur_node.map_search_options.each_with_index do |options, idx| %>
    <%
      values = (@columns[idx] || []) & options['values']
    %>
    <dt class="category"><%= options['name'] %></dt>
    <dd><%= values.join(', ') %></dd>
  <% end %>
</dl>

<nav class="settings map-search-settings">
  <%= link_to t("facility.submit.change"), "#", class: "ajax-box map-search-change" %>
</nav>

<section class="result map-search-result">
  <h2>
    <%= t("facility.result") %>
    <span class="number"><%= @items_count %></span><%= t("facility.count") %>
  </h2>
</section>

<%= render "tabs" %>
