<%= javascript_include_tag "colorbox", defer: true %>
<%= stylesheet_link_tag "colorbox", media: 'all' %>

<%= render "upper" %>

<div class="columns">
  <%= render_result %>
</div>

<%= paginate @items if @items.try(:current_page) %>
