<div class="gws-attendance">
  <div class="attendance-box">
    <div class="attendance-box-main">
      <%= render template: "_fiscal_year_month" %>
    </div>
  </div>
  <div class="attendance-box">
    <div class="attendance-box-main">
      <%= form_for :s, url: { action: :results }, html: { method: :get } do |f| %>
        <dl class="see">
          <dt><%= @model.t(:search_group) %><%= @model.tt(:search_group) %></dt>
          <dd>
            <%= hidden_field_tag "s[group_ids][]", nil, class: "hidden-ids" %>
            <%= link_to t("ss.apis.groups.index"), gws_affair_apis_result_groups_path, class: "btn ajax-box" %>
          </dd>
          <dd>
            <table class="index ajax-selected">
              <thead>
                <tr>
                  <th class="name"><%= t("mongoid.models.gws/group") %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @groups.each do |group| %>
                  <tr data-id="<%= group.group_id %>">
                    <td><%= f.hidden_field "group_ids[]", value: group.group_id, id: nil %> <%= group.name %></td>
                    <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </dd>
        </dl>
        <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
        <%= link_to t("ss.buttons.reset"), { action: :index }, class: "btn" %>
      <% end %>
    </div>
  </div>
</div>
