<%
  if @forum && params[:controller].to_s.include?("gws/discussion/")
    create_path = proc { |todo| gws_discussion_apis_forum_todo_comments_path(forum_id: @forum, todo_id: todo) }
    edit_path = proc { |todo, comment| edit_gws_discussion_apis_forum_todo_comment_path(forum_id: @forum, todo_id: todo, id: comment, redirect_to: request.fullpath) }
    delete_path = proc { |todo, comment| delete_gws_discussion_apis_forum_todo_comment_path(forum_id: @forum, todo_id: todo, id: comment, redirect_to: request.fullpath) }
  else
    create_path = proc { |todo| gws_schedule_todo_apis_comments_path(todo_id: todo) }
    edit_path = proc { |todo, comment| edit_gws_schedule_todo_apis_comment_path(todo_id: todo, id: comment, redirect_to: request.fullpath) }
    delete_path = proc { |todo, comment| delete_gws_schedule_todo_apis_comment_path(todo_id: todo, id: comment, redirect_to: request.fullpath) }
  end
%>
<% if @item.comments.present? %>
  <div class="comments">
    <% @item.comments.order_by(created: 1).each do |comment| %>
      <div class="comment" id="comment-<%= comment.id %>">
        <div class="row user">
          <%= gws_public_user_long_name(comment.user_long_name) %>
        </div>
        <div class="row meta">
          <% if comment.achievement_rate.present? %>
            <span class="achievement-rate">
              <label><%= Gws::Schedule::TodoComment.t :achievement_rate %></label>: <%= t("gws/schedule/todo.achievement_rate", count: comment.achievement_rate) %>
            </span>
          <% end %>
          <time class="updated" datetime="<%= comment.updated.utc.iso8601 %>"><%= I18n.l(comment.updated) %></time>
        </div>
        <div class="row text">
          <%== comment.html %>
        </div>
        <% if comment.user_id == @cur_user.id || @item.allowed?(:edit, @cur_user, site: @cur_site) %>
          <div class="row toolbar">
            <%= link_to(t('ss.buttons.edit'), edit_path.call(@item, comment), class: 'btn ajax-box') %>
            <%= link_to(t('ss.buttons.delete'), delete_path.call(@item, comment), class: 'btn ajax-box') %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if !@item.deleted? %>
  <%= form_tag(create_path.call(@item), id: 'comment-form', method: :post) do %>
    <div class="row">
      <label for="item_achievement_rate"><%= Gws::Schedule::TodoComment.t :achievement_rate %></label>: <%= number_field_tag 'item[achievement_rate]' %> <span class="achievement-rate-unit"><%= t("gws/schedule/todo.achievement_rate_unit") %></span>
    </div>
    <div class="row"><%= text_area_tag 'item[text]' %></div>
    <div class="row">
      <%= hidden_field_tag('redirect_to', request.fullpath) %>
      <%= submit_tag(I18n.t('gws/schedule.buttons.comment'), class: :btn) %>
    </div>
  <% end %>
<% end %>
