<% @notices = Sys::Notice.and_public.and_show_login.limit(5) %>
<% if @notices.present? %>
<section class="mb-5">
  <header>
    <h2 class="h4"><%= t('sys.notice') %></h2>
  </header>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= Sys::Notice.t :name %></th>
          <th><%= Sys::Notice.t :updated %></th>
        </tr>
      </thead>
      <tbody>
        <% @notices.each do |item| %>
        <tr>
          <td><%= link_to item.name,
                sns_public_notice_path(id: item, login_path: request.path),
                class: "title notice-severity-#{item.notice_severity}" %></td>
          <td class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<% end %>
