<%= jquery do %>
  $('input.alnum').on({
    focus: function() { $(this).attr('type', 'email'); },
    blur: function() { $(this).attr('type', 'text'); },
    keypress: function(ev) { if (ev.which == 13) { $('#item_password').focus(); return false; } }
  });
<% end %>

<div class="login-wrap">
  <%= render file: '_notices' %>

  <section class="main-box login-box">
    <header>
      <h2><%= t("ss.login") %></h2>
      <div class="version">ver. <%= tryb{SS.version} %></div>
    </header>

    <%= form_tag action: params[:action] do |f| %>
      <% if flash[:alert] %>
      <div class="error-message"><%= flash[:alert] %></div>
      <% end %>

      <%= error_messages_for :item %>
      <%= hidden_field_tag :ref, params[:ref] %>

      <div class="form-group">
        <label><%== t("ss.views.login/login.id") %></label>
        <%= email_field :item, :email, class: "alnum", autofocus: pc_browser? %>
      </div>

      <div class="form-group">
        <label><%= t("ss.views.login/login.password") %></label>
        <%= password_field :item, :password %>
      </div>

      <footer class="send">
        <%= submit_tag t("ss.login"), class: "btn-primary" %>
      </footer>
    <% end %>

    <% ssos = Sys::Auth::Base.where(state: "enabled").order_by(order: 1).to_a %>
    <% if ssos.present? %>
      <ul class="sso">
        <% ssos.each do |sso| %>
          <% sso = sso.becomes_with_model %>
          <li class="<%= sso.filename %>">
            <%= link_to(sso.url(ref: params[:ref].try { |ref| ref.to_s } || default_logged_in_path, login_path: request.path), class: "btn-default") do %>
              <h2 class="name"><%= sso.name %></h2>
              <p class="text"><%= br sso.text %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
</div>

<%= render file: '_ad' %>
