<section class="main-box login-box">

<header>
  <h2><%= t(:login) %></h2>
  <div class="version">ver. <%= tryb{SS.version} %></div>
</header>

<%= form_tag action: params[:action] do |f| %>
  <% if @error %>
  <div class="error-message"><%= @error %></div>
  <% end %>

  <%= error_messages_for :item %>
  <%= hidden_field_tag :ref, params[:ref] %>

  <div class="form-group">
    <label><%== t("ss.views.login/login.id") %></label>
    <%= text_field :item, :email, style: "ime-mode: disabled;", autofocus: true %>
  </div>

  <div class="form-group">
    <label><%= t("ss.views.login/login.password") %></label>
    <%= password_field :item, :password %>
  </div>

  <footer class="send">
    <%= submit_tag t("views.button.login"), class: "btn-primary" %>
  </footer>
<% end %>

</section>
