<div class="login-box">

<header>
  <h1><%= t(:login) %></h1>
  <div class="version">ver. <%= tryb{SS.version} %></div>
</header>

<%= form_tag action: :login do |f| %>
  <article>
    <%= error_messages_for :item %>
    <%= hidden_field_tag :ref, params[:ref] %>
    <%= hidden_field_tag "item[in_group]", SS.config.sns.login_group %>

    <%= t("ss.views.login/login.id") %><br />
    <%= text_field :item, :email %><br />
    <br />
    <%= t("ss.views.login/login.password") %><br />
    <%= password_field :item, :password %><br />

    <footer class="send">
      <%= submit_tag t(:login), class: :save %>
    </footer>
  </article>
<% end %>

</div>
