<%= jquery do %>
  $('input.alnum').on({
    focus: function() { $(this).attr('type', 'tel').css('width', '100%'); },
    blur: function() { $(this).attr('type', 'text'); },
    keypress: function(ev) { if (ev.which == 13) { $('#item_password').focus(); return false; } }
  });
<% end %>

<section class="main-box login-box">

<header>
  <h2><%= t(:login) %></h2>
  <div class="version">ver. <%= tryb{SS.version} %></div>
</header>

<%= form_tag action: params[:action] do |f| %>
  <% if flash[:alert] %>
  <div class="error-message"><%= flash[:alert] %></div>
  <% end %>

  <%= error_messages_for :item %>
  <%= hidden_field_tag :ref, params[:ref] %>

  <div class="form-group">
    <label><%== t("ss.views.login/login.id") %></label>
    <%= text_field :item, :email, class: "alnum", autofocus: true %>
  </div>

  <div class="form-group">
    <label><%= t("ss.views.login/login.password") %></label>
    <%= password_field :item, :password %>
  </div>

  <footer class="send">
    <%= submit_tag t("views.button.login"), class: "btn-primary" %>
  </footer>
<% end %>

<% sso = Sys::Auth::Base.where(state: "enabled").order_by(order: 1).to_a %>
<% if sso.present? %>
  <ul class="sso">
    <% sso.each do |sso| %>
    <% sso = sso.becomes_with_model %>
    <li class="<%= sso.filename %>">
      <%= link_to(sso.url(params.slice(:ref)), class: "btn-default") do %>
        <h2 class="name"><%= sso.name %></h2>
        <p class="text"><%= br sso.text %></p>
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>
</section>
