<%= form_for :item, url: { action: :update_gpf } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("member.confirm.post_gpf") } do %>
      <%= render template: "_gpf" %>
    <% end %>
  </div>

  <footer class="send ss-sticky ss-sticky-bottom">
    <%= f.submit t("member.buttons.register"), class: 'btn-danger delete' %>
    <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
  </footer>
<% end %>
