//= require cms/lib/inplace_form
//= require cms/lib/syntax_checker
//= require cms/lib/mobile_size_checker
//= require cms/lib/link_checker

this.Cms_Form = (function () {
  function Cms_Form() {
  }

  Cms_Form.render = function () {
    Syntax_Checker.render();
    Link_Checker.render();
    Mobile_Size_Checker.render();
    Form_Alert.addValidation(Form_Alert.clonedName);
    Form_Alert.addValidation(Form_Alert.closeConfirmation);
    //Form_Alert.addValidation(Form_Alert.presence)
    Form_Alert.addValidation(Form_Alert.validateReplaceWord);
    Form_Alert.addValidation(Syntax_Checker.validateHtml);
    Form_Alert.addValidation(Mobile_Size_Checker.validateHtml);
    if (Syntax_Checker.autoCorrect) {
      Form_Alert.addBeforeSave(Syntax_Checker.correctAll);
    }
    Form_Alert.render();
    return Form_Preview.render();
  };

  Cms_Form.addonSelector = ".mod-cms-body";

  Cms_Form.editorId = "item_html";

  Cms_Form.form_html_path = null;
  Cms_Form.form_link_check_path = null;

  Cms_Form.getFormData = function($form) {
    var formData = new FormData();
    $.each($form.serializeArray(), function() {
      formData.append(this.name, this.value);
    });
    return formData;
  };

  Cms_Form.getHtml = function (resolve, reject) {
    if (Cms_Form.addonSelector === ".mod-cms-body") {
      resolve(Cms_Form.getEditorHtml());
      return;
    }

    if (! Cms_Form.form_html_path) {
      if (reject) {
        reject(null, null, "form html path is not configured");
      }
      return;
    }

    var formData = Cms_Form.getFormData($("#" + Form_Preview.form_id));
    formData.append("route", Form_Preview.page_route);

    $.ajax({
      type: "POST",
      url: Cms_Form.form_html_path,
      data: formData,
      processData: false,
      contentType: false,
      cache: false,
      success: function(html) { resolve("<div>" + html + "</div>") },
      error: function(xhr, status, error) {
        if (reject) {
          reject(xhr, status, error);
        }
      }
    });
  };

  Cms_Form.getEditorHtml = function (id) {
    var html;
    if (id == null) {
      id = null;
    }
    id || (id = Cms_Form.editorId);
    if (typeof tinymce !== 'undefined') {
      html = "<div>" + tinymce.get(id).getContent() + "</div>";
    } else if (typeof CKEDITOR !== 'undefined') {
      html = "<div>" + CKEDITOR.instances[id].getData() + "</div>";
    } else {
      html = "";
    }
    return html;
  };

  Cms_Form.setEditorHtml = function (html, opts) {
    opts = opts || {}
    id = opts["id"];

    if (id == null) {
      id = null;
    }
    id || (id = Cms_Form.editorId);
    if (typeof tinymce !== 'undefined') {
      return tinymce.get(id).setContent(html);
    } else if (typeof CKEDITOR !== 'undefined') {
      return CKEDITOR.instances[id].setData(html);
    }
  };

  return Cms_Form;

})();

this.Form_Alert = (function () {
  function Form_Alert() {
  }

  Cms_Form.alert = Form_Alert;

  Form_Alert.alerts = {};

  Form_Alert.validations = [];

  Form_Alert.beforeSaves = [];

  Form_Alert.render = function () {
    $("input:submit").on("click.form_alert", function (ev) {
      var submit = this;
      var form = $(submit).closest("form");

      var resolved = function(html) {
        if (!Form_Alert.validate(form, submit, { html: html })) {
          Form_Alert.showAlert(form, submit);
          return;
        }

        $(submit).off(".form_alert");
        $(submit).trigger("click");
      };

      var rejected = function(xhr, status, error) {
        alert(error);
      };

      Cms_Form.getHtml(resolved, rejected);

      ev.preventDefault();
      return false;
    });
  };

  Form_Alert.validate = function (form, submit, opts) {
    Form_Alert.alerts = {};
    $.each(Form_Alert.validations, function () {
      this(form, submit, opts);
    });

    return $.isEmptyObject(Form_Alert.alerts);
  };

  Form_Alert.addValidation = function (validate) {
    return Form_Alert.validations.push(validate);
  };

  Form_Alert.runBeforeSave = function (form, submit) {
    return $.each(Form_Alert.beforeSaves, function () {
      return this(form, submit);
    });
  };

  Form_Alert.showAlert = function (form, submit) {
    var div = $('<div id="alertExplanation" class="errorExplanation">');
    div.append("<h2><%= I18n.t('cms.alert') %></h2>");
    var ref = Form_Alert.alerts;
    for (var addon in ref) {
      var fields = ref[addon];
      div.append('<p>' + addon + '</p>');
      var ul = $("<ul>").appendTo(div);
      var i, j, len;
      for (i = j = 0, len = fields.length; j < len; i = ++j) {
        var field = fields[i];
        if (field["msg"]) {
          ul.append('<li>' + field["msg"] + '</li>');
        }
      }
    }
    // caution: below IE8, you must use document.createElement() method to create <footer>
    var footer = $(document.createElement("footer")).addClass('send');
    footer.append('<button name="button" type="button" class="btn-primary save"><%= I18n.t("ss.buttons.ignore_alert") %></button>');
    footer.append('<button name="button" type="button" class="btn-default cancel"><%= I18n.t("ss.buttons.cancel") %></button>');
    $.colorbox({
      html: div.get(0).outerHTML + footer.get(0).outerHTML,
      maxHeight: "80%",
      fixed: true
    });
    $("#cboxLoadedContent").find(".save").on("click", function () {
      Form_Alert.runBeforeSave(form, submit);
      $(submit).off(".form_alert");
      return $(submit).trigger("click");
    });
    $("#cboxLoadedContent").find(".cancel").on("click", function (e) {
      $.colorbox.close();
      return false;
    });
  }

  Form_Alert.addBeforeSave = function (callback) {
    return Form_Alert.beforeSaves.push(callback);
  };

  Form_Alert.presence = function (form, submit) {
    return $(form).find("input.presence,textarea.presence").each(function () {
      var addonName, fieldName;
      if ($(this).val() === "") {
        $(this).closest("dl").show();
        addonName = $(this).closest(".addon-view").find("header").text();
        fieldName = Form_Alert.justText($(this).closest("dd").prev("dt"));
        return Form_Alert.add(addonName, this, fieldName + "<%= I18n.t('errors.messages.blank') %>");
      }
    });
  };

  Form_Alert.clonedName = function (form, submit) {
    var addonName, fieldName, name;
    name = $(form).find("#addon-basic #item_name");
    if ($(submit).hasClass("publish_save") && /^\[<%= I18n.t('workflow.cloned_name_prefix') %>\]/.test($(name).val())) {
      addonName = $(name).closest(".addon-view").find("header").text();
      fieldName = Form_Alert.justText($(name).closest("dd").prev("dt"));
      return Form_Alert.add(addonName, name, "<%= I18n.t('errors.messages.cloned_name') %>");
    }
  };

  Form_Alert.closeConfirmation = function (form, submit) {
    var addonName, msg;
    if ($(submit).attr("data-close-confirmation")) {
      addonName = '<%= I18n.t("cms.confirm.close") %>';
      msg = null;
      if ($(submit).attr("data-contain-links-path")) {
        msg = '<a href="' + $(submit).attr("data-contain-links-path") + '" target="_blank">' + '<%= I18n.t("cms.confirm.check_contains_urls") %>' + '</a>';
      }
      return Form_Alert.add(addonName, null, msg);
    }
  };

  Form_Alert.add = function (addon, ele, msg) {
    var base;
    (base = Form_Alert.alerts)[addon] || (base[addon] = []);
    return Form_Alert.alerts[addon].push({
      "ele": ele,
      "msg": msg
    });
  };

  Form_Alert.justText = function (ele) {
    return $(ele).clone().children().remove().end().text();
  };

  Form_Alert.validateReplaceWord = function (form, submit) {
    var addonIds, excludes, k, results, v, words;
    words = Syntax_Checker.config["replace_words"];
    if (!words) {
      return;
    }
    addonIds = ["#addon-basic", "#addon-cms-agents-addons-meta", "#addon-event-agents-addons-date", "#addon-map-agents-addons-page"];
    excludes = ['[name="item[basename]"]', "location-search.keyword"];
    results = [];
    for (k in words) {
      v = words[k];
      results.push($(form).find(addonIds.join(",")).find("input,textarea").not(excludes.join(",")).each(function () {
        var addonName, fieldName, val;
        val = $(this).val();
        if (val && !$.isEmptyObject(val.match(RegExp("" + k, "g")))) {
          $(this).closest("dl").show();
          addonName = $(this).closest(".addon-view").find(".addon-head").text();
          fieldName = Form_Alert.justText($(this).closest("dd").prev("dt"));
          return Form_Alert.add(addonName, this, fieldName + "<%= I18n.t('errors.messages.replace_word_validation') %>" + ("「" + k + "」→「" + v + "」"));
        }
      }));
    }
    return results;
  };

  return Form_Alert;

})();

this.Form_Preview = (function () {
  function Form_Preview() {
  }

  Form_Preview.form_preview_path;

  Form_Preview.form_id = "item-form";

  Form_Preview.page_route;

  Form_Preview.render = function () {
    return $("button.preview").on("click", function (e) {
      var basename, errors, form, height, i, name, ref, token, v, width;
      name = $("#" + Form_Preview.form_id + " input[name='item[name]']").val();
      basename = $("#" + Form_Preview.form_id + " input[name='item[basename]']").val();
      errors = [];
      if (!name) {
        errors.push("<%= I18n.t('errors.messages.set_name') %>");
      }
      if (basename) {
        if (!/^[\w\-]+(\.html)?$/.test(basename)) {
          errors.push("<%= I18n.t('errors.messages.invalid_filename') %>");
        }
      } else {
        errors.push("<%= I18n.t('errors.messages.set_filename') %>");
      }
      if (!$.isEmptyObject(errors)) {
        alert(errors.join("\n"));
        return false;
      }
      token = $('meta[name="csrf-token"]').attr('content');
      form = $("<form>");
      $(form).attr("method", "post");
      $(form).attr("action", Form_Preview.form_preview_path);
      $(form).attr("target", "FormPreview");
      ref = $("#" + Form_Preview.form_id).serializeArray();
      for (i in ref) {
        v = ref[i];
        if (!/^item\[/.test(v["name"])) {
          continue;
        }
        if ("item[html]" === v["name"]) {
          continue;
        }
        if ("item[body_parts][]" === v["name"]) {
          continue;
        }
        form.append($("<input/>", {
          name: v["name"].replace(/^item\[/, "preview_item["),
          value: v["value"],
          type: "hidden"
        }));
      }
      $("textarea[id^=item_html_part_]").each(function () {
        var id;
        id = $(this).attr("id");
        name = $(this).attr("name").replace(/^item\[/, "preview_item[");
        return form.append($("<input/>", {
          name: name,
          value: Cms_Form.getEditorHtml(id),
          type: "hidden"
        }));
      });
      form.append($("<input/>", {
        name: "preview_item[route]",
        value: Form_Preview.page_route,
        type: "hidden"
      }));
      form.append($("<input/>", {
        name: "preview_item[html]",
        value: Cms_Form.getEditorHtml("item_html"),
        type: "hidden"
      }));
      form.append($("<input/>", {
        name: "authenticity_token",
        value: token,
        type: "hidden"
      }));
      width = $(window).width();
      height = $(window).height();
      window.open("about:blank", "FormPreview", "width=" + width + ",height=" + height + ",resizable=yes,scrollbars=yes");
      form.appendTo("body");
      form.submit();
      return false;
    });
  };

  return Form_Preview;

})();

this.Form_Save_Event = (function () {
  function Form_Save_Event() {
  }

  Form_Save_Event.render = function () {
    return document.onkeydown = function (e) {
      if (event.ctrlKey || event.metaKey) {
        if (event.keyCode === 83) {
          event.keyCode = 0;
          $("#" + Form_Preview.form_id).submit();
          return false;
        }
      }
    };
  };

  return Form_Save_Event;

})();
