<nav class="menu">
  <a href="edit/">プロフィールの編集</a>
</nav>

<dl class="see">
  <dt><%= @model.t :icon_id %></dt>
  <dd><%== tryb { %(<img src="#{@cur_member.icon.url}" />) } %></dd>

  <dt><%= @model.t :name %></dt>
  <dd><%= @cur_member.name %></dd>

  <dt><%= @model.t :email %></dt>
  <dd><%= @cur_member.email %></dd>
</dl>

<nav class="account">
  <a href="delete/">アカウントの削除</a>
</nav>
