<%
  value ||= nil
  controller ||= false
  name = "#{f.object_name}[][in_wrap][page_id]"
%>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do |id| %>
  <%
    page_params = { single: 1, parent_nodes: column.ordered_nodes.map(&:id), dropdown: "select" }
    page_params[:s] = { statuses: %w(public) }

    page_id = value.try(:page_id)
    page = value.try(:page)
  %>
  <%= jquery do %>
    Cms_Column_Select_Page.render("#<%= id %>");
  <% end %>
  <%= link_to t("cms.apis.pages.index"), cms_apis_pages_children_path(page_params), class: "ajax-box btn", style: "margin-bottom: 10px;" %>
  <%= hidden_field_tag name, page_id, id: nil, class: "hidden-ids" %>
  <table class="index ajax-selected">
    <thead>
      <tr>
        <th class="name"><%= Cms::Page.t(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if page %>
        <tr data-id="<%= page.id %>">
          <td>
            <%= page.name %>
          </td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
