<%
  value ||= nil
  controller ||= false
  name = "#{f.object_name}[][in_wrap][page_id]"
  form_options = column.form_options.merge(id: nil, class: "column-value-select-page", include_blank: (column.place_holder.presence || true))
%>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do |id| %>
  <%
    page_params = { single: 1, parent_nodes: column.ordered_nodes.map(&:id), dropdown: "select" }
    page_params[:s] = { statuses: %w(public) }

    page_id = value.try(:page_id)
    page = value.try(:page)
  %>
  <%= jquery do %>
  var $column = $("#" + "<%= id %>");
  $column.find(".ajax-box").data("on-select", function(item) {
    var data = item.closest("[data-id]");
    var id = data.data("id");
    var name = item.text();

    var tr = $("<tr />").attr("data-id", id);
    var a = $('<a class="deselect btn" href="#"><%= I18n.t "ss.buttons.delete" %></a>');
    tr.append($('<td />').append(name));
    tr.append($('<td />').append(a));
    $column.find(".hidden-ids").val(id);
    $column.find(".ajax-selected tbody tr").remove();
    $column.find(".ajax-selected tbody").prepend(tr);
    $column.find(".ajax-selected").show();
    $column.find(".ajax-selected").trigger("change");
  });
  $column.find(".ajax-selected").data("on-deselect", function(item) {
    SS_SearchUI.defaultDeselector(item);
    $column.find(".hidden-ids").val("");
  });
  <% end %>
  <%= link_to t("cms.apis.pages.index"), cms_apis_pages_children_path(page_params), class: "ajax-box btn", style: "margin-bottom: 10px;" %>
  <%= hidden_field_tag name, page_id, class: "hidden-ids" %>
  <table class="index ajax-selected">
    <thead>
      <tr>
        <th class="name"><%= Cms::Page.t(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if page %>
        <tr data-id="<%= page.id %>">
          <td>
            <%= page.name %>
          </td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
