<table class="index">
  <thead>
    <tr>
      <th><%= @model.t :email %></th>
      <th><%= @model.t :email_type %></th>
      <th><%= @model.t :entry_type %></th>
      <th class="datetime"><%= @model.t :updated %></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.email %></td>
      <td><%= item.email_type %></td>
      <td><%= item.entry_type %></td>
      <td><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
