<%= form_for :item, url: { action: :export }, html: { id: "item-form", method: :put, multipart: true } do |f| %>
  <%= error_messages_for :item %>
  <%= f.hidden_field "root_url", value: root_url, id: nil, class: "hidden-ids" %>
  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= t("ss.export") %></h2></div>

      <div class="addon-body">
        <dl class="see" style="margin-top: 20px;">
          <dt><%= @model.t :all_export %></dt>
          <dd>
            <label><%= radio_button_tag "#{f.object_name}[all_export]", 'all', true %> <%= t("webmail.export.all_mail") %></label>
            <label><%= radio_button_tag "#{f.object_name}[all_export]", 'select' %> <%= t("webmail.export.select_mail") %></label>
          </dd>
          <dt><%= t "webmail.mail" %></dt>
          <dd>
            <%= f.hidden_field "mail_ids[]", value: "", id: nil, class: "hidden-ids" %>
            <%= link_to t("ss.links.select"), webmail_apis_mails_path(account: params[:account] || @cur_user.imap_default_index), class: "ajax-box", "data-template" => "webmail-export-template" %>
          </dd>
          <dd>
            <table class="index ajax-selected" style="display: none;">
              <thead>
              <tr>
                <th class="from">
                  <i class="material-icons md-15" style="visibility: hidden;">&#xE226;</i>
                  <%= @model.t :from %>
                </th>
                <th class="name"><%= @model.t :subject %></th>
                <th class="send_date"><%= @model.t :internal_date %></th>
                <th class="size"><%= @model.t :size %></th>
                <th class="deselect"></th>
              </tr>
              </thead>
              <tbody></tbody>
            </table>
            <script id="webmail-export-template" type="text/x-ejs">
              <tr data-id="<%%= data.id %>">
                <td>
                  <%% if (data.attachments) { %>
                    <i class="material-icons md-15">&#xE226;</i>
                  <%% } else { %>
                    <i class="material-icons md-15" style="visibility: hidden;">&#xE226;</i>
                  <%% } %>
                  <%%= data.name %>
                </td>
                <td>
                  <input type="hidden" name="item[mail_ids][]" value="<%%= data.id %>">
                  <%%= data.name %>
                </td>
                <td><%%= data.send_date %></td>
                <td><%%= data.display_size %></td>
                <td><a class="deselect btn" href="#"><%= I18n.t "ss.buttons.delete" %></a></td>
              </tr>
            </script>
          </dd>
        </dl>
      </div>

      <footer class="send ss-sticky ss-sticky-bottom">
        <%= f.submit t("ss.export"), class: "btn btn-primary" %>
      </footer>
    </div>
  </div>
<% end %>
