<div id="chat-<%= @cur_part.id %>" class="chat-part">
  <%= jquery do %>
    var bot = new Chat_Bot("chat-<%= @cur_part.id %>", "<%= @preview ? cms_preview_path(@cur_site, path: @cur_part.filename.sub('.html', '.json')) : @cur_part.url.sub('.html', '.json') %>");
  <% end %>
  <div class="chat-items">
    <%= content_tag :div, @result, class: 'chat-item sys' if @result.present? %>
    <% @cur_part.first_suggest.each do |suggest| %>
      <%= content_tag :div, class: 'chat-item suggest' do %>
        <%= link_to suggest, @cur_part.url.sub('.html', '.json'), class: 'chat-suggest' %>
      <% end %>
    <% end %>
  </div>
  <div class="chat-form">
    <%= text_field_tag 'chat[text]', '', class: 'chat-text' %>
    <%= button_tag 'button', type: 'button', class: 'chat-button' %>
  </div>
</div>
