<%
  now = Time.zone.now
  ymd = params[:ymd]
  if ymd.present?
    origin = Time.zone.local(ymd[0..3].to_i, ymd[4..5].to_i, ymd[6..7].to_i)
    next_day = origin + 1.day
    prev_day = origin - 1.day
  else
    next_day = now.beginning_of_day + 1.day
    prev_day = now.beginning_of_day - 1.day
  end
%>
<div class="list-head">
  <%= form_tag({ action: :index }, { method: "GET", class: :search }) do %>
    <div class="list-head-action">
      <% pressed = origin && now.to_date == origin.to_date %>
      <%= ss_button_to(t('gws.history.days.today'), url_for(action: :index, ymd: now.strftime('%Y%m%d')), method: "GET", class: "btn", style: 'margin-right: 12px;', aria: { pressed: pressed }, disabled: pressed) %>
      <%= ss_button_to(t('gws.history.days.prev_day'), url_for(action: :index, ymd: prev_day.strftime('%Y%m%d')), method: "GET", class: "btn") %>
      <%= ss_date_field_tag("ymd", origin, { min_date: min_updated, max_date: 0 }, { id: nil }) %>
      <%= ss_button_to(t('gws.history.days.next_day'), url_for(action: :index, ymd: next_day.strftime('%Y%m%d')), method: "GET", class: "btn", disabled: now < next_day) %>
    </div>
    <% if class_name_options.present? %>
      <div class="list-head-action" style="margin-left: 18px">
        <%=
          option_tags = render SS::OptionsForSelectComponent.new(options: class_name_options, selected: @s.class_name)
          select_tag "s[class_name]", option_tags, id: nil, include_blank: true
        %>
      </div>
    <% end %>
  <% end %>

  <%# render template: "_search" %>
</div>

<%= jquery do %>
  $('.list-head input[name="ymd"]').on('ss:changeDateTime', function(ev, dp, $input) {
    var ymd = SS_DateTimePicker.momentValue($input);
    if (!ymd) {
      return;
    }
    ymd = ymd.format("YYYYMMDD");

    var url = '<%= url_for(action: :index, ymd: ':ymd') %>';
    url = url.replace(':ymd', ymd);
    url = url.replace('//', '/')

    setTimeout(function() {
      location.href = url;
    }, 11);
  });
  $('.list-head select[name="s[class_name]"]').on("change", function() {
    $(this).closest("form")[0].requestSubmit();
  });
<% end %>
