<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item %>
<% end %>

<% @index_title = proc do |item| %>
  <% args = item.args.join(",") rescue nil %>
  <%= link_to(t(item.class_name.underscore, scope: "job.models") + "(#{args})", action: :show, id: item) %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if @ss_mode != :cms && item.site.present? %>
    <span class="site"><%= item.site.name %></span>
  <% end %>
  <span class="datetime">
    <%= item.started.try do |time| %>
      <%= content_tag("time", I18n.l(time, format: :picker), datetime: time.iso8601, title: time.iso8601) %>
      <%= link_to(t("ss.buttons.copy"), "#", class: "clipboard-copy-button", data: { text: time.iso8601 }) %>
    <% end %>
  </span>
  <span class="datetime">
    <%= item.closed.try do |time| %>
      <%= content_tag("time", I18n.l(time, format: :picker), datetime: time.iso8601, title: time.iso8601) %>
      <%= link_to(t("ss.buttons.copy"), "#", class: "clipboard-copy-button", data: { text: time.iso8601 }) %>
    <% end %>
  </span>
  <span><%= t(item.state, scope: "job.state") %></span>
<% end %>

<style>
  .list-item [name="ids[]"] {
    display: none;
  }
</style>

<turbo-frame id="job-logs">
  <%= render template: "cms/crud/index" %>

  <%= jquery do %>
    SS_Clipboard.renderCopy();

    <% if request.headers.key?("HTTP_TURBO_FRAME") %>
      history.pushState(history.state, "", new URL("<%== request.url %>"));
    <% else %>
      history.replaceState({ initial: "<%== url_for(action: :index) %>" }, "", new URL("<%== request.url %>"));
    <% end %>

    window.addEventListener("popstate", function (ev) {
      if ((typeof ev.state === "object") && ("initial" in ev.state)) {
        ev.preventDefault();
        location.reload();
      }
    });
  <% end %>
</turbo-frame>
