<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item %>
<% end %>

<% @index_title = proc do |item| %>
  <% args = item.args.join(",") rescue nil %>
  <%= link_to(t(item.class_name.underscore, scope: "job.models") + "(#{args})", action: :show, id: item) %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if @ss_mode != :cms && item.site.present? %>
    <span class="site"><%= item.site.name %></span>
  <% end %>
  <span class="datetime"><%= item.started ? item.started.strftime("%Y/%m/%d %H:%M") : item.started %></span>
  <span class="datetime"><%= item.closed ? item.closed.strftime("%Y/%m/%d %H:%M") : item.closed %></span>
  <span><%= t(item.state, scope: "job.state") %></span>
<% end %>

<style>
  .list-item [name="ids[]"] {
    display: none;
  }
</style>

<%= render file: "cms/crud/index" %>
