<%= node_navi :rss do %>

<% if @cur_node.route == 'rss/page' %>
  <h3><%= link_to :"rss.page", rss_pages_path %></h3>
<% elsif @cur_node.route == 'rss/weather_xml' %>
  <h3><%= link_to :"rss.weather_xml_page", rss_weather_xmls_path %></h3>
  <% if Rss::WeatherXml::QuakeRegion.allowed?(:read, @cur_user, site: @cur_site) %>
  <h3><span class="label"><%= t("rss.weather_xml/region") %></span></h3>
  <ul class="narrow-page">
    <li><h3><%= link_to :"rss.weather_xml/quake_region", rss_weather_xml_quake_regions_path %></h3></li>
    <li><h3><%= link_to :"rss.weather_xml/tsunami_region", rss_weather_xml_tsunami_regions_path %></h3></li>
    <li><h3><%= link_to :"rss.weather_xml/forecast_region", rss_weather_xml_forecast_regions_path %></h3></li>
    <li><h3><%= link_to :"rss.weather_xml/flood_region", rss_weather_xml_flood_regions_path %></h3></li>
  </ul>
  <% end %>
  <h3><%= link_to :"rss.weather_xml/trigger", rss_weather_xml_trigger_bases_path %></h3>
  <h3><%= link_to :"rss.weather_xml/action", rss_weather_xml_action_bases_path %></h3>
<% end %>

<% end %>
