<%= node_navi :rss do %>

<% if @cur_node.route == 'rss/page' %>
  <h3><%= link_to t("rss.page"), rss_pages_path %></h3>
<% elsif @cur_node.route == 'rss/weather_xml' %>
  <h3><%= link_to t("rss.weather_xml_page"), rss_weather_xmls_path %></h3>
  <% if Jmaxml::QuakeRegion.allowed?(:read, @cur_user, site: @cur_site) %>
  <h3><span class="label"><%= t("jmaxml.region") %></span></h3>
  <ul class="narrow-page">
    <li><h3><%= link_to Jmaxml::QuakeRegion.model_name.human, jmaxml_quake_regions_path %></h3></li>
    <li><h3><%= link_to Jmaxml::TsunamiRegion.model_name.human, jmaxml_tsunami_regions_path %></h3></li>
    <li><h3><%= link_to Jmaxml::ForecastRegion.model_name.human, jmaxml_forecast_regions_path %></h3></li>
    <li><h3><%= link_to Jmaxml::WaterLevelStation.model_name.human, jmaxml_water_level_stations_path %></h3></li>
  </ul>
  <% end %>
  <h3><%= link_to Jmaxml::Trigger::Base.model_name.human, jmaxml_trigger_bases_path %></h3>
  <h3><%= link_to Jmaxml::Action::Base.model_name.human, jmaxml_action_bases_path %></h3>
<% end %>

<% end %>
