<%= jquery do %>
  $('.gws-schedule-box header .operations .btn-print').on('click', function() {
    var calendar = document.querySelector('#calendar')?.calendar;
    var viewName = calendar?.view.type;
    var curDate = calendar?.getDate();
    if (!viewName) {
      calendar = document.querySelector('#calendar-controller').calendar;
      viewName = calendar.view.type;
      curDate = calendar.getDate();
    }
    curDate = sprintf("%d-%02d-%02d", curDate.getFullYear(), curDate.getMonth() + 1, curDate.getDate());

    var viewFormat = "default";

    var queryString = '';
    if (viewName) {
      var queryParams = <%== request.query_parameters.to_json %>;
      if (! queryParams.calendar) {
        queryParams.calendar = {};
      }
      queryParams.calendar.view = viewName;
      queryParams.calendar.date = curDate;
      queryParams.calendar.viewFormat = viewFormat;
      queryString = '?' + $.param(queryParams);
    }
    var path = '<%= url_for({ action: :print }) %>' + queryString;
    location.href = path;
  });
<% end %>

<div class="operations">
  <input type="button" value="<%= t('ss.buttons.print') %>" class="btn btn-print" />
</div>
<%= form_for :s, url: "", html: { class: "search", method: :get } do |f| %>
  <%= f.select :browsed_state, @model.new.browsed_state_options, {}, { data: { controller: "ss--submit-on-change" } } %>
  <%= f.select :severity, @model.new.severity_options, {}, { data: { controller: "ss--submit-on-change" } } %>
  <%= f.text_field :keyword, style: "width: 240px;" %>
  <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
<% end %>
