<dl class="see mod-cms-tabs">
  <dt><%= @model.t :conditions %><%= @model.tt :conditions %></dt>
  <dd><%= f.text_area :conditions, value: @item.conditions.join("\n"), style: "height: 100px;" %></dd>

  <dt><%= @model.t :limit %><%= @model.tt :limit %></dt>
  <dd><%= f.number_field :limit %></dd>

  <dt><%= @model.t :new_days %><%= @model.tt :new_days %></dt>
  <dd class="short">
    <div class="input-group" style="width: 12em;">
      <%= f.number_field :new_days %> <span class="input-group-append"><%= t "datetime.prompts.day" %></span>
    </div>
  </dd>
</dl>
