<%= code_editor "##{addon[:id]} .html", mode: :html %>
<%= jquery do %>
  var $addon = $("<%= "##{addon[:id]}" %>");
  var changeLoopFormat = function() {
  var format = $addon.find("select[name='item[loop_format]']").val();
    if (format === "liquid") {
      $addon.find(".loop-format-shirasagi").addClass("hide");
      $addon.find(".loop-format-liquid").removeClass("hide");
      $("#addon-cms-agents-addons-child_list").addClass("hide");
    } else {
      $addon.find(".loop-format-shirasagi").removeClass("hide");
      $addon.find(".loop-format-liquid").addClass("hide");
      $("#addon-cms-agents-addons-child_list").removeClass("hide");
    }
  };

  changeLoopFormat();

  $addon.find("select[name='item[loop_format]']").on("change", changeLoopFormat);
<% end %>

<dl class="see mod-cms-tabs">
  <dt><%= @model.t :conditions %><%= @model.tt :conditions %></dt>
  <dd><%= f.text_area :conditions, value: @item.conditions.join("\n"), style: "height: 100px;" %></dd>

  <dt><%= @model.t :limit %><%= @model.tt :limit %></dt>
  <dd><%= f.number_field :limit %></dd>

  <dt><%= @model.t :loop_format %><%= @model.tt :loop_format %></dt>
  <dd><%= f.select :loop_format, @item.loop_format_options %></dd>
</dl>

<dl class="see loop-format-shirasagi">
  <dt><%= @model.t :loop_html %><%= @model.tt :loop_html %></dt>
  <dd><%= f.text_area :loop_html, class: :html, style: "height: 100px;" %></dd>
</dl>

<dl class="see loop-format-liquid">
  <dt><%= @model.t :loop_liquid %><%= @model.tt :loop_liquid %></dt>
  <dd><%= f.text_area :loop_liquid, class: :html, style: "height: 300px;" %></dd>
</dl>

<dl class="see mod-cms-tabs">
  <dt><%= @model.t :new_days %><%= @model.tt :new_days %></dt>
  <dd class="short"><%= f.number_field :new_days %> <span class="prefix"><%= t "datetime.prompts.day" %></span></dd>
</dl>
