<%= render file: "_search" %>

<%= scss do %>
table.rdf-classes th.name {
  width: 20%;
}
<% end %>

<table class="index rdf-classes">
  <thead>
  <tr>
    <th class="checkbox"><input type="checkbox" /></th>
    <th class="name"><%= @model.t :name %></th>
    <th class="comments"><%= @model.t :comments %></th>
    <th class="datetime"><%= @model.t :updated %></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="tap-menu">
          <%= link_to :show, action: :show, id: item %>
          <%= link_to :edit, action: :edit, id: item %>
          <%= link_to :delete, action: :delete, id: item %>
        </nav>
      </td>
      <td class="name"><%= link_to("#{item.vocab.prefix}:#{item.name}", action: :show, id: item) %></td>
      <td class="comments"><%= item.comments.try(:preferred_value) %></td>
      <td class="datetime"><%= item.updated.strftime("%Y/%m/%d") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
