<%= form_for :item, url: { action: :import }, html: { method: :put } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t("ss.import") %></h2></header>

    <dl class="see">
      <dt><%= t("ss.file") %></dt>
      <dd>
        <%= f.hidden_field "item[in_file]", value: "" %>
        <%= f.file_field :in_file %>
      </dd>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit t("ss.import"), class: :save, onclick: "return confirm('既存の分野設定を破棄しCSVファイルにて上書きします。#{t("ss.confirm.import")}')" %>
    <%= f.button t("ss.buttons.cancel"), class: 'btn-default', onclick: "location.href='#{opendata_harvest_importer_path(id: @importer.id)}'; return false;" %>
  </footer>
<% end %>
