<%= jquery do %>
  $(".active-all").click(function(){
    <% if @category %>
      var form = Gws_Circular_Post.buildForm("<%= active_all_gws_circular_category_trashes_path %>", "<%= I18n.t('gws/circular.confirm.active_all') %>");
    <% else %>
      var form = Gws_Circular_Post.buildForm("<%= active_all_gws_circular_trashes_path %>", "<%= I18n.t('gws/circular.confirm.active_all') %>");
    <% end %>
    form.appendTo(document.body).submit();
  });

  $('.gws-category-navi-menu #category_id').change(function() {
    var cid = $(this).val();
    if (cid)
      location.href = '<%= gws_circular_category_trashes_path(category: 'ID') %>'.replace('ID', cid);
    else
      location.href = '<%= gws_circular_trashes_path %>';
  });
<% end %>

<div class="gws-category-navi-menu">
  <%= select_tag :category_id, options_for_select(@categories.to_options(offset: 1), @category.try(:id)), include_blank: t('modules.gws/circular') if @categories.to_options.present? %>
</div>

<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
  <%= link_to t('gws/circular.active'), action: :recover, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= tryb { item.due_date.strftime('%Y/%m/%d %H:%M') } %></span>
  <span><%= item.user_long_name %></span>
  <span class="gws-share-categories">
    <span class="gws-category-label" style="background-color: gray; color: #ffffff;"><%= t('gws/circular.post.disabled') %></span>
    <% item.categories.compact.each do |category| %>
      <%= link_to category.trailing_name, gws_circular_category_trashes_path(category: category.id),
                  class: 'gws-category-label', style: category_label_css(category) %>
    <% end %>
    </span>
<% end %>

<%= render file: 'gws/crud/index' %>
