<% return if @result.blank? %>

<div class="search-stats">
  <%= I18n.t('gws/elasticsearch.format.search_results_count', count: @result['hits']['total'], from: @item.from + 1, to: @item.from + @item.size, took: @result['took'] / 1000.0) %>
</div>

<div class="cms-site-search-pages pages">
  <% @result['hits']['hits'].each do |hit| %>
    <article class="item">
      <header>
        <%
          source = hit['_source']
          title = source['name']
          if source.dig('file', 'extname').present?
            title = "#{title} (#{source.dig('file', 'extname').upcase} #{number_to_human_size(source.dig('file', 'size'))})"
          end
          date = source['released'].presence.try { |time| Time.zone.parse(time) rescue nil }
          date ||= source['updated'].presence.try { |time| Time.zone.parse(time) rescue nil }
          date ||= source['created'].presence.try { |time| Time.zone.parse(time) rescue nil }
        %>
        <h2><%= link_to title, Addressable::URI.join((Cms::Site.where(id: source['site_id']).first.presence || @cur_site).full_root_url, source['url']).to_s, class: 'title' %></h2>
        <div class="meta">
          <span class="url"><%= (Cms::Site.where(id: source['site_id']).first.presence || @cur_site).full_url + hit['_id'] %></span>
          <% if date %>
            <time datetime="<%= date %>"><%= I18n.l(Time.zone.parse(date), format: :long) %></time>
          <% end %>
        </div>
      </header>
    </article>
  <% end %>
</div>
