<%
  return if @result.blank?
  case @result['hits']['total']
  when Integer
    count = @result['hits']['total']
  when Hash
    count = @result['hits']['total']['value']
  end
%>

<script>
$(function() {
  $('.cms-site-search-pages .category-name').on('click', function() {
    const name = $(this).text();
    const $input = $('.cms-site-search .site-search-categories input[name="s[category_name]"]');

    let value = $input.val();
    value = ' ' + value.replace(/[\s\/　]+/, ' ') + ' ';

    if (value.search(` ${name} `) === -1) {
      $input.val((value + name).trim());
      $('.cms-site-search form').submit();
    }
  });
});
</script>

<div class="search-stats">
  <div>
    <%= I18n.t('gws/elasticsearch.format.search_results_count',
      count: count, from: @item.from + 1, to: @item.from + @item.size, took: @result['took'] / 1000.0) %>
  </div>
  <div>
    <%
      sort_params = params.permit(:target, s: {})
      options = %w(score updated).map do |value|
        name = { score: t('cms.search_sort_options.score'), updated: t('cms.search_sort_options.updated') }[value.to_sym]
        [name, value, 'data-href': "#{@cur_node.url}?" + url_for(sort_params.merge(sort: value).to_query)]
      end
    %>
    <%= t('cms.search_sort') %>
    <%= select_tag 'sort', options_for_select(options, selected: params[:sort]), id: nil, "aria-label" => t('cms.search_sort'),
      onchange: 'location.href = this.children[this.selectedIndex].getAttribute("data-href");' %>
  </div>
</div>

<div class="cms-site-search-pages pages">
  <% @result['hits']['hits'].each do |hit| %>
    <article class="item">
      <header>
        <%
          source = hit['_source']

          title = source['title'] || source['name']
          date = source['timestamp'] || source['released']
          url = source['full_url'] || source['url']
          page_name = source['page_name']
          page_url = source['page_url']

          if source.dig('file', 'extname').present?
            title = "#{title} (#{source.dig('file', 'extname').upcase} #{number_to_human_size(source.dig('file', 'size'))})"
          end

          image = {}
          if source['image_url']
            image = { url: source['image_url'], name: source['image_name'] }
          elsif source['site_id'] && site = Cms::Site.where(id: source['site_id']).first
            image = { url: site.opengraph_defaul_image_url, name: 'og:image' } if site.opengraph_defaul_image_url
          end

          text = source['text'].to_s.truncate(120)
          if hit.dig('highlight', 'text_index')
            text = hit.dig('highlight', 'text_index')[0].gsub(/[\s\n]+/, ' ').strip
          end

          categories = source['categories'].presence || []
        %>
        <h2><%= link_to title, url, class: 'title' %></h2>
        <div class="summary">
          <% if image.present? %>
            <div class="image"><%= image_tag image[:url], alt: image[:name] %></div>
          <% end %>
          <% if text.present? %>
            <div class="text"><%== text %></div>
          <% end %>
        </div>
        <div class="meta">
          <% if page_name.present? && page_url.present? %>
            <div class="page-name"><%= t('cms.reference_article') %>: <%= link_to page_name, page_url %></div>
          <% end %>
          <% if url.present? %>
            <div class="url"><%= url %></div>
          <% end %>
          <% if date.present? %>
            <div class="date">
              <time datetime="<%= date %>">
                <%= t('cms.release_date') %>: <%= I18n.l(Time.zone.parse(date).to_date, format: :long) rescue nil %>
              </time>
            </div>
          <% end %>
          <% if categories.present? %>
            <div class="category-list">
              <%= Cms::Page.t(:category_ids) %>:
              <% categories.each_with_index do |name, idx| %>
                <%= ' | ' if idx > 0 %><a class="category-name"><%= name %></a>
              <% end %>
            </div>
          <% end %>
        </div>
      </header>
    </article>
  <% end %>
</div>
