<%
  def has_more?
    return false if @result.blank?
    return true if @s.from != 0
    case @result['hits']['total']
    when Integer
      @result['hits']['total'] > @s.size
    when Hash
      @result['hits']['total']['value'] > @s.size
    end
  end

  def to_kaminari
    case @result['hits']['total']
    when Integer
      total_pages = @result['hits']['total'] / @s.size
      total_pages += 1 if (@result['hits']['total'] % @s.size) != 0
    when Hash
      total_pages = @result['hits']['total']['value'] / @s.size
      total_pages += 1 if (@result['hits']['total']['value'] % @s.size) != 0
    end

    current_page = @s.from / @s.size + 1

    limit_value = @s.size

    OpenStruct.new(
      total_pages: total_pages,
      current_page: current_page,
      limit_value: limit_value
    )
  end
%>
<%= javascript_include_tag "colorbox", defer: true %>
<%= stylesheet_link_tag "colorbox", media: 'all' %>
<%= jquery do %>
Cms_Site_Search.render();
Cms_Site_Search_History.render(".cms-site-search .search-form", "<%= @cur_node.full_url %>");
<% end %>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('.search-form');
    const target = form.querySelector('select[name="target"]'); // outside or insinde
    if (!target) return;

    const changeTarget = () => {
      const input = (target.value === 'outside' || <%== @cur_site.elasticsearch_site_ids.present? %>);
      form.querySelectorAll('.style-input').forEach(el => el.style.display = input ? 'block' : 'none');
      form.querySelectorAll('.style-input input').forEach(el => el.disabled = input ? false : true);
      form.querySelectorAll('.style-select').forEach(el => el.style.display = input ? 'none' : 'block');
      form.querySelectorAll('.style-select select').forEach(el => el.disabled = input ? true : false);
    };
    changeTarget();
    target.addEventListener('change', changeTarget);
  });
</script>

<div class="cms-site-search">
  <%= form_for :s, url: @cur_node.url, html: { method: :get, class: 'search-form' }, "aria-label" => t("cms.search_form") do |f| %>
    <%= hidden_field_tag "sort", params[:sort], id: nil %>

    <dl class="site-search-type">
      <dt><%= @cur_node.t(:site_search_type) %></dt>
      <dd><%= select_tag 's[type]',
        options_for_select(@cur_node.site_search_type_options, selected: params.dig(:s, :type).presence),
        id: nil, "aria-label" => @cur_node.t(:site_search_type) %></dd>
    </dl>

    <dl class="site-search-keyword">
      <dt><%= t("ss.keyword") %></dt>
      <dd>
        <%= f.text_field :keyword, id: nil, size: 30, autocomplete: "off", title: t('ss.keyword')
        %><input class="btn send" type="submit" value="<%= t('ss.buttons.search') %>">
        <input class="btn reset" type="reset" value="<%= t('ss.buttons.reset') %>">
      </dd>
      <dd>
        <ul class="site-search-history" style="display: none;"></ul>
      </dd>
    </dl>

    <% if @cur_site.elasticsearch_outside_enabled? %>
      <dl class="site-search-target">
        <dt><%= t("cms.search_target") %></dt>
        <dd><%= select_tag 'target',
          options_for_select([
            [t('ss.search_on', name: @cur_site.name), 'inside'],
            [t('ss.search_on', name: SS.config.cms.elasticsearch['label']), 'outside']
          ], selected: params[:target]),
          id: nil, "aria-label" => t("cms.search_target") %></dd>
      </dl>
    <% end %>

    <% if @cur_node.ordered_st_article_nodes.present? %>
      <dl class="site-search-article-nodes style-select">
        <dt><%= t("cms.node") %></dt>
        <dd>
          <% options = @cur_node.ordered_st_article_nodes.map { |c| [c.name, c.id] } %>
          <%= select_tag 's[article_node_ids][]',
            options_for_select(options, selected: params.dig(:s, :article_node_ids).presence),
            id: nil, "aria-label" => t("cms.node"), include_blank: t('facility.submit.change') %>
        </dd>
      </dl>
    <% end %>

    <%
      options = []
      if @cur_node.st_categories.present?
        options = @cur_node.st_categories.map { |c| [c.name, c.name] }
      elsif tryb { @aggregate_result['aggregations']['group_by_categories']['buckets'] }.present?
        options = @s.search['aggregations']['group_by_categories']['buckets'].map { |c| [c['key'], c['key']] }
      end
    %>
    <% if options.size > 0 %>
      <dl class="site-search-categories style-select">
        <dt><%= t("category.node") %></dt>
        <dd>
          <%= select_tag 's[category_names][]',
            options_for_select(options, selected: params.dig(:s, :category_names).presence),
            id: nil, "aria-label" => t("category.node"), include_blank: t('facility.submit.change') %>
        </dd>
      </dl>
    <% end %>
    <dl class="site-search-categories style-input" style="display: none;">
      <dt><%= t("category.node") %></dt>
      <dd><%= f.text_field :category_name, id: nil, size: 20, autocomplete: "off", title: t('category.node') %></dd>
    </dl>

    <dl class="site-search-organization style-select">
      <dt><%= t("ss.organization") %></dt>
      <dd>
        <%
          options = Cms::Group.site(@cur_site).active.tree_sort.map do |group|
            indent = '　' * group.depth
            ["#{indent}#{group.trailing_name}", group.id, { 'aria-label': group.name }]
          end
        %>
        <%= select_tag 's[group_ids][]',
          options_for_select(options, selected: params.dig(:s, :group_ids).presence),
          id: nil, "aria-label" => t("ss.organization"), include_blank: t('facility.submit.change') %>
      </dd>
    </dl>
    <dl class="site-search-organization style-input" style="display: none;">
      <dt><%= t('ss.organization') %></dt>
      <dd><%= f.text_field :group_name, id: nil, size: 20, autocomplete: "off", title: t('ss.organization') %></dd>
    </dl>
  <% end %>

  <% if @result.present? %>
    <div class="search-result">
      <%= render partial: 'result' %>
    </div>
  <% end %>
</div>

<% if has_more? %>
  <%= paginate to_kaminari %>
<% end %>
