<%
  def has_more?
    return false if @result.blank?
    return true if @s.from != 0
    case @result['hits']['total']
    when Integer
      @result['hits']['total'] > @s.size
    when Hash
      @result['hits']['total']['value'] > @s.size
    end
  end

  def to_kaminari
    case @result['hits']['total']
    when Integer
      total_pages = @result['hits']['total'] / @s.size
      total_pages += 1 if (@result['hits']['total'] % @s.size) != 0
    when Hash
      total_pages = @result['hits']['total']['value'] / @s.size
      total_pages += 1 if (@result['hits']['total']['value'] % @s.size) != 0
    end

    current_page = @s.from / @s.size + 1

    limit_value = @s.size

    OpenStruct.new(
      total_pages: total_pages,
      current_page: current_page,
      limit_value: limit_value
    )
  end
%>
<%= javascript_include_tag "colorbox", defer: true %>
<%= stylesheet_link_tag "colorbox", media: 'all' %>
<%= jquery do %>
Cms_Site_Search.render();
Cms_Site_Search_History.render(".cms-site-search .search-form", "<%= @cur_node.full_url %>");
<% end %>

<div class="cms-site-search">
  <%= form_for :s, url: @cur_node.url, html: { method: :get, class: 'search-form' }, "aria-label" => t("cms.search_form") do |f| %>
    <%= hidden_field_tag "sort", params[:sort], id: nil %>

    <dl class="site-search-type">
      <dt><%= @cur_node.t(:site_search_type) %></dt>
      <dd><%= select_tag 's[type]',
        options_for_select(@cur_node.site_search_type_options, selected: params.dig(:s, :type).presence || @cur_node.site_search_type),
        id: nil, "aria-label" => @cur_node.t(:site_search_type) %></dd>
    </dl>

    <dl class="site-search-keyword">
      <dt><%= t("ss.keyword") %></dt>
      <dd>
        <%= f.text_field :keyword, id: nil, size: 30, autocomplete: "off", title: t('ss.keyword'), placeholder: t('ss.keyword')
        %><input class="send" type="submit" value="<%= t('cms.search_button') %>" />
      </dd>
      <dd>
        <ul class="site-search-history" style="display: none;"></ul>
      </dd>
    </dl>

    <% if @cur_site.elasticsearch_outside_enabled? %>
      <dl class="site-search-target">
        <dt><%= t("cms.search_target") %></dt>
        <dd><%= select_tag 'target',
          options_for_select([
            [t('ss.search_on', name: @cur_site.name), 'inside'],
            [t('ss.search_on', name: SS.config.cms.elasticsearch['label']), 'outside']
          ], selected: params[:target]),
          id: nil, "aria-label" => t("cms.search_target") %></dd>
      </dl>
    <% end %>

    <% if @cur_node.ordered_st_article_nodes.present? %>
      <dl class="site-search-article-nodes">
        <dt><%= t("cms.node") %></dt>
        <dd>
          <%= link_to t('facility.submit.change'), "#{@cur_node.url}article_nodes.html", class: "ajax-box article-nodes" %>

          <div class="selected-article-nodes">
            <% if @s.article_node_ids.present? %>
              <% @cur_node.st_article_nodes.in(id: @s.article_node_ids).each do |node| %>
                <article class="selected-item" data-id="<%= node.id %>">
                  <header>
                    <span class="article-node-name"><%= node.name %></span>
                    <%= f.hidden_field 'article_node_ids[]', value: node.id, id: nil %>
                    <a class="btn deselect">✕</a>
                  </header>
                </article>
              <% end %>
            <% end %>
          </div>
        </dd>
      </dl>
    <% end %>

    <dl class="site-search-categories">
      <dt><%= t("category.node") %></dt>
      <dd>
        <%= f.text_field :category_name, id: nil, size: 20, autocomplete: "off",
          title: t('category.node'), placeholder: t('category.node') %>
      </dd>
    </dl>

    <dl class="site-search-organization">
      <dt><%= t('ss.organization') %></dt>
      <dd>
        <%= f.text_field :group_name, id: nil, size: 20, autocomplete: "off",
          title: t('ss.organization'), placeholder: t('ss.organization') %>
      </dd>
    </dl>
  <% end %>

  <% if @result.present? %>
    <div class="search-result">
      <%= render partial: 'result' %>
    </div>
  <% end %>
</div>

<% if has_more? %>
  <%= paginate to_kaminari %>
<% end %>
