<%
  def has_more?
    return false if @result.blank?
    return true if @s.from != 0
    case @result['hits']['total']
    when Integer
      @result['hits']['total'] > @s.size
    when Hash
      @result['hits']['total']['value'] > @s.size
    end
  end

  def to_kaminari
    case @result['hits']['total']
    when Integer
      total_pages = @result['hits']['total'] / @s.size
      total_pages += 1 if (@result['hits']['total'] % @s.size) != 0
    when Hash
      total_pages = @result['hits']['total']['value'] / @s.size
      total_pages += 1 if (@result['hits']['total']['value'] % @s.size) != 0
    end

    current_page = @s.from / @s.size + 1

    limit_value = @s.size

    OpenStruct.new(
      total_pages: total_pages,
      current_page: current_page,
      limit_value: limit_value
    )
  end
%>
<%= jquery do %>
new Cms_Site_Search_History("<%= ".cms-site-search .search-form" %>", "<%= @cur_node.full_url %>");
<% end %>
<div class="cms-site-search">
  <%= form_for :s, url: @cur_node.url, html: { method: :get, class: 'search-form' }, "aria-label" => t("cms.search_form") do |f| %>

    <dl class="site-search-keyword">
      <dt><%= f.label(:keyword, t("cms.search_contents")) %></dt>
      <dd><%= f.text_field :keyword, autocomplete: "off", title: (t "cms.search_contents"), placeholder: (t "cms.search_contents"), size: 40 %></dd>
      <ul class="site-search-history" style="display: none;"></ul>
    </dl>

    <% if tryb { @aggregate_result['aggregations']['group_by_categories']['buckets'] }.present? %>
      <dl class="site-search-categories">
        <dt><%= f.label(:category_name, t("category.node")) %></dt>
        <dd><%= f.select(:category_name, @aggregate_result['aggregations']['group_by_categories']['buckets'].collect { |bucket| ["#{bucket['key']}(#{bucket['doc_count']})", bucket['key']] }, include_blank: "", "aria-label" => t("category.node")) %></dd>
      </dl>
    <% end %>

    <% if @cur_site.elasticsearch_outside_enabled? %>
      <dl class="site-search-target">
        <dt><%= f.label(:target, t("cms.search_target")) %></dt>
        <dd><%= select_tag 'target', options_for_select([[t('ss.search_on', name: @cur_site.name), 'inside'], [t('ss.search_on', name: SS.config.cms.elasticsearch['label']), 'outside']], selected: params[:target]), "aria-label" => t("cms.search_target") %></dd>
      </dl>
    <% end %>

    <div class="send">
      <input type="submit" value="<%= t('cms.search_button') %>" />
    </div>
  <% end %>

  <% if @result.present? %>
    <div class="search-result">
      <%= render partial: 'result' %>
    </div>
  <% end %>
</div>

<% if has_more? %>
  <%= paginate to_kaminari %>
<% end %>
