<%
  def has_more?
    return false if @result.blank?
    return true if @s.from != 0
    case @result['hits']['total']
    when Integer
      @result['hits']['total'] > @s.size
    when Hash
      @result['hits']['total']['value'] > @s.size
    end
  end

  def to_kaminari
    case @result['hits']['total']
    when Integer
      total_pages = @result['hits']['total'] / @s.size
      total_pages += 1 if (@result['hits']['total'] % @s.size) != 0
    when Hash
      total_pages = @result['hits']['total']['value'] / @s.size
      total_pages += 1 if (@result['hits']['total']['value'] % @s.size) != 0
    end

    current_page = @s.from / @s.size + 1

    limit_value = @s.size

    OpenStruct.new(
      total_pages: total_pages,
      current_page: current_page,
      limit_value: limit_value
    )
  end
%>
<%= javascript_include_tag "/assets/js/jquery.colorbox.js" %>
<%= stylesheet_link_tag "/assets/css/colorbox/colorbox.css", media: 'all' %>
<%= jquery do %>
Cms_Site_Search.render();
new Cms_Site_Search_History("<%= ".cms-site-search .search-form" %>", "<%= @cur_node.full_url %>");
<% end %>
<div class="cms-site-search">
  <%= form_for :s, url: @cur_node.url, html: { method: :get, class: 'search-form' }, "aria-label" => t("cms.search_form") do |f| %>
    <dl class="site-search-categories">
      <dt><%= f.label(:category_name, t("category.node")) %></dt>
      <dd>
        <%= link_to t('facility.submit.change'), "#{@cur_node.url}categories.html", class: "ajax-box categories", style: 'display: block' %>
        <div class="selected-categories">
          <% if @s.category_names.present? %>
            <% @s.category_names.each do |category_name| %>
              <article class="selected-item" data-name="<%= category_name %>">
                <header>
                  <span class="category-name"><%= category_name %></span>
                  <%= f.hidden_field('category_names[]', value: category_name) %>
                  <%= button_tag t('ss.buttons.delete'), type: 'button', class: %w(btn deselect) %>
                </header>
              </article>
            <% end %>
          <% end %>
        </div>
      </dd>
    </dl>

    <% if @cur_site.elasticsearch_outside_enabled? %>
      <dl class="site-search-target">
        <dt><%= f.label(:target, t("cms.search_target")) %></dt>
        <dd><%= select_tag 'target', options_for_select([[t('ss.search_on', name: @cur_site.name), 'inside'], [t('ss.search_on', name: SS.config.cms.elasticsearch['label']), 'outside']], selected: params[:target]), "aria-label" => t("cms.search_target") %></dd>
      </dl>
    <% end %>

    <dl class="site-search-keyword">
      <dt><%= f.label(:keyword, t("cms.search_contents")) %></dt>
      <dd><%= f.text_field :keyword, autocomplete: "off", title: (t "cms.search_contents"), placeholder: (t "cms.search_contents"), size: 40 %></dd>
      <ul class="site-search-history" style="display: none;"></ul>
    </dl>

    <div class="send">
      <input type="submit" value="<%= t('cms.search_button') %>" />
    </div>
  <% end %>

  <% if @result.present? %>
    <div class="search-result">
      <%= render partial: 'result' %>
    </div>
  <% end %>
</div>

<% if has_more? %>
  <%= paginate to_kaminari %>
<% end %>
