<% @index_title = proc do |item| %>
  <%= link_to item.labels.try(:preferred_value), action: :show, id: item, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="owner"><%= t "rdf.vocabs.owner_#{item.owner}" %></span>
<% end %>

<%= render template: "cms/crud/index" %>
