<%= jquery do %>
  $('.close-topic').click(function() {
    if (!confirm($(this).data('confirm'))) return false;
    var token = $('meta[name="csrf-token"]').attr('content');
    var form = $('<form/>').
    attr('method', 'POST').
    attr('action', $(this).attr('href')).
    append($("<input/>", { name: "authenticity_token", value: token, type: "hidden" })).
    appendTo("body").submit();
    return false;
  });
<% end %>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.new'), action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|categories|forward/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit %>
      <% if @item.state == 'draft' %>
        <%= link_to t('gws/monitor.links.publish'), action: :publish %>
      <% end %>
      <% if @item.closed? %>
        <%= link_to t('gws/monitor.links.open'), { action: :open, id: @item }, class: 'close-topic', 'data-confirm' => t('gws/monitor.confirm.open')  %>
      <% elsif @item.public? %>
        <%= link_to t('gws/monitor.links.closed'), { action: :close, id: @item }, class: 'close-topic', 'data-confirm' => t('gws/monitor.confirm.close')  %>
      <% end %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :soft_delete, id: @item %>
    <% end %>
    <%= link_to(t('gws/monitor.links.export_csv'), { action: :download }, class: 'export_csv') %>
    <%= link_to(t('gws/monitor.links.file_download'), { action: :file_download }, class: 'file_download') %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
