<%= jquery do %>
  var navi = new Gws_Category_Navi('.gws-category-navi');
  navi.setBaseUrl('<%= url_for(category: 'ID') %>');
  navi.render(<%== @categories.to_json(only: %i(_id name), methods: :trailing_name) %>);
<% end %>

<div class="gws-category-navi dropdown">
  <%= link_to url_for(category: '-'), class: 'btn dropdown-toggle' do %>
    <%= @category.try(:trailing_name) || t('gws.category') %>
    <i class="material-icons md-13">&#xE313;</i>
  <% end %>
  <div class="dropdown-menu dropdown-menu--white"></div>
</div>

<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
  <%= link_to t('gws/monitor.links.publish'), action: :publish, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.delete'), action: :soft_delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
<% end %>
<% @index_title = proc do |item| %>
  <%= link_to item.name, { action: :show, id: item }, class: "title" %>
  <% if item.descendants_files_count.to_i > 0 %>
    <span class="gws-board-file-count"><img src="/assets/img/gws/ic-file.png" alt="" /><%= item.descendants_files_count %></span>
  <% end %>
<% end %>
<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% sort_key = params.dig(:s, :sort).to_s.presence || 'due_date_desc' %>
  <% if sort_key.start_with?('updated') %>
    <span class="datetime"><%= @model.t(:updated) %><%= tryb { item.descendants_updated.strftime("%Y/%m/%d %H:%M") } %></span>
  <% elsif sort_key.start_with?('created') %>
    <span class="datetime"><%= @model.t(:created) %><%= tryb { item.created.strftime("%Y/%m/%d %H:%M") } %></span>
  <% elsif sort_key.start_with?('released') %>
    <span class="datetime"><%= @model.t(:released) %><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
  <% else %>
    <span class="datetime">
    <%= @model.t(:due_date) %><%= tryb { item.due_date.strftime("%Y/%m/%d %H:%M") } %>
    <% if item.due_date_over?(@cur_group) %><span class="gws-monitor-due-date-over"><%= t('gws/monitor.due_date_over') %></span><% end %>
  </span>
  <% end %>
  <span class="article-state"><%= item.label(:article_state) %></span>
  <span class="user"><%= gws_public_user_long_name(item.contributor_name.presence || item.user_long_name) %></span>
  <span class="categories">
    <% item.categories.compact.each do |category| %>
      <%= link_to(category.trailing_name, { category: category.id }, class: "gws-category-label", style: category_label_css(category)) %>
    <% end %>
  </span>
  <span class="count">
    <%= t('gws/monitor.topic.answer_state') %><%= item.answer_count_admin %>
  </span>
  <span class="state">
    <%= item.label(:state) %>
    <% if item.state == 'draft' && item.allowed?(:edit, @cur_user, site: @cur_site) %>
    <div class="tooltip" style="margin-left: 0">!
      <ul class="tooltip-content">
        <% Array[t('tooltip.gws/monitor/postable.draft_alert', default: '')].flatten.each do |msg| %>
        <li><%= msg %><br></li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </span>
<% end %>

<%#= render 'gws/monitor/main/tabs' %>
<%= render file: 'gws/crud/index' %>
