<!doctype html>
<html lang="ja">

<head>
<meta charset="UTF-8" />
<title><%= @window_name %></title>
<%= stylesheet_link_tag "cms/public", media: "all" %>
<%= javascript_include_tag "cms/public" %>
<% controller.stylesheets.each do |path| %>
  <%= stylesheet_link_tag path, media: "all" %>
<% end %>
<% controller.javascripts.each do |path| %>
  <%= javascript_include_tag path %>
<% end %>
<%= javascript_tag do %>
  SS.config = <%= raw controller.javascript_configs.to_json %>;
<% end %>
<%== render_layout_parts(@cur_layout.head, previewable: false) %>
<%= render file: "layouts/cms/_opengraph" %>
<%= render file: "layouts/cms/_twitter_card" %>
<%= csrf_meta_tags if @csrf_token != false %>
</head>

<%= yield %>

</html>
