<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">

<head>
<meta charset="UTF-8" />
<title><%= @window_name %></title>
<%== @cur_layout.head %>
<%= javascript_include_tag "cms/public" %>
<%= csrf_meta_tags if @cur_node %>
<script> $(function(){ SS.load(); }) </script>
</head>

<%= yield %>

</html>
