<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">

<head>
<meta charset="UTF-8" />
<title><%= @window_name %></title>
<%= javascript_include_tag "cms/public" %>
<%== @cur_layout.head %>
<%= csrf_meta_tags if @csrf_token != false %>
</head>

<%= yield %>

</html>
