<%= jquery do %> SS_AddonTabs.hide(".addon-gws-discussion-group-setting"); <% end %>

<dl class="see addon-gws-discussion-group-setting">
  <dt><%= @model.t :discussion_quota %><%= @model.tt :discussion_quota %></dt>
  <dd class="short"><%= f.number_field :discussion_quota, min: 0 %> <span class="postfix"><%= t('ss.units.mega_byte') %></span></dd>

  <dt><%= @model.t :discussion_filesize_limit %><%= @model.tt :discussion_filesize_limit %></dt>
  <dd class="short"><%= f.number_field :discussion_filesize_limit, min: 0 %> <span class="postfix"><%= t('ss.units.mega_byte') %></span></dd>

  <dt><%= @model.t :discussion_new_days %><%= @model.tt :discussion_new_days %></dt>
  <dd><%= f.number_field :discussion_new_days, min: 0 %> <%= t("datetime.prompts.day") %></dd>

  <dt><%= @model.t :discussion_unseen_interval %><%= @model.tt :discussion_unseen_interval %></dt>
  <dd><%= f.select :discussion_unseen_interval, @item.discussion_unseen_interval_options %></dd>

  <dt><%= @model.t :discussion_recent_limit %><%= @model.tt :discussion_recent_limit %></dt>
  <dd><%= f.number_field :discussion_recent_limit, min: 0 %></dd>

  <dt><%= @model.t :discussion_todo_limit %><%= @model.tt :discussion_todo_limit %></dt>
  <dd><%= f.number_field :discussion_todo_limit, min: 0 %></dd>

  <dt><%= @model.t :discussion_comment_limit %><%= @model.tt :discussion_comment_limit %></dt>
  <dd><%= f.number_field :discussion_comment_limit, min: 100 %></dd>
</dl>
