<% max_term_form = SS.config.cms.max_term_form.to_i %>
<%= jquery do %>
$(document).on("click", ".mod-inquiry-input-setting dd.setting-keywords button.add", function(e) {
  if ($(".mod-inquiry-input-setting tr.keywords").length < <%= (max_term_form > 0) ? max_term_form : 1 %>) {
    var cln;
    cln = $(".mod-inquiry-input-setting tr.keywords:last").clone(false).insertAfter($(".mod-inquiry-input-setting tr.keywords:last"));
    cln.find(".keyword").val('');
    cln.find(".email").val('');
    return;
  }
});
$(document).on("click", ".mod-inquiry-input-setting tr.keywords button.clear", function(e) {
  tr = $(this).parent("td").parent("tr")
  tr.find(".keyword").val('');
  tr.find(".email").val('');
  if ($(".mod-inquiry-input-setting tr.keywords").length > 1) {
    tr.remove();
  }
  return;
});
<% end %>
<div class="see mod-inquiry-input-setting">
  <div class="col12 mb-3">
    <label><%= @model.t :input_type %><%= @model.tt :input_type %></label>
    <%= f.select :input_type, @item.input_type_options, class: "form-control" %>
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :select_options %><%= @model.tt :select_options %></label>
    <%= f.text_area :select_options, value: @item.select_options.join("\n"), style: "height: 180px;", class: "form-control" %>
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :required %><%= @model.tt :required %></label>
    <%= f.select :required, @item.required_options, class: "form-control" %>
  </div>

  <% form_select = @item.node.columns.where(input_type: 'form_select').first if @item.node.present? %>
  <% if form_select.present? %>
  <div class="col12 mb-3">
    <label><%= @model.t :required_in_select_form %><%= @model.tt :required_in_select_form %></label>
    <% form_select.select_options.each do |option| %>
      <% if @item.required_in_select_form.present? %>
        <% checked = @item.required_in_select_form.include?(option) ? 'checked: true' : nil %>
      <% end %>
      <label><%= check_box_tag 'item[required_in_select_form][]', option, checked %> <%= option %> </label>
    <% end %>
  </div>
  <% end %>

  <div class="col12 mb-3">
    <label><%= @model.t :additional_attr %><%= @model.tt :additional_attr %></label>
    <%= f.text_field :additional_attr, class: "form-control" %>
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :input_confirm %><%= @model.tt :input_confirm %></label>
    <%= f.select :input_confirm, @item.input_confirm_options, class: "form-control" %>
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :question %><%= @model.tt :question %></label>
    <%= f.select :question, @item.question_options, class: "form-control" %>
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :max_upload_file_size %><%= @model.tt :max_upload_file_size %></label>
    <%= f.text_field :max_upload_file_size, style: "width: 60px;", class: "form-control" %>
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :transfers %><%= @model.tt :transfers %></label>
    <div class="row">
      <% if @item.try(:transfers) %>
      <%   @item.transfers.each do |transfer| %>
        <div class="col">
          <%= text_field_tag "item[transfers][][keyword]", transfer[:keyword], { id: nil, class: "keyword", placeholder: "キーワード" } %>
        </div>
        <div class="col">
          <%= email_field_tag "item[transfers][][email]", transfer[:email], { id: nil, class: "email", placeholder: "E-mail" } %>
        </div>
        <div class="col">
          <%= button_tag t("ss.buttons.delete"), { type: :button, class: "clear btn" } %>
        </div>
      <% end %>
      <% else %>
        <div class="col">
          <%= text_field_tag "item[transfers][][keyword]", nil, { id: nil, class: "keyword", placeholder: "キーワード" } %>
        </div>
        <div class="col">
          <%= email_field_tag "item[transfers][][email]", nil, { id: nil, class: "email", placeholder: "E-mail" } %>
        </div>
        <div class="col">
          <%= button_tag t("ss.buttons.delete"), { type: :button, class: "clear btn" } %>
        </div>
      <% end %>
    </div>
    <%= button_tag t("ss.buttons.add"), { type: :button, class: "add btn btn-outline-secondary" } %>
  </div>
</div>
