<fieldset class="see mod-inquiry-input-setting" disabled>
  <h2 class="h4">入力設定</h2>
  <div class="col12 mb-3">
    <label><%= @model.t :input_type %></label>
    <input class="form-control" type="text" value="<%= @item.label :input_type %>" />
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :select_options %></label>
    <input class="form-control" type="text" value="<%=br @item.send(:select_options).join("\n") %>" />
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :required %></label>
    <input class="form-control" type="text" value="<%= @item.label :required %>" />
  </div>

  <% if @item.send(:required_in_select_form) %>
  <div class="col12 mb-3">
    <label><%= @model.t :required_in_select_form %></label>
    <input class="form-control" type="text" value="<%= @item.send(:required_in_select_form).join(", ") %>" />
  </div>
  <% end %>

  <div class="col12 mb-3">
    <label><%= @model.t :additional_attr %></label>
    <input class="form-control" type="text" value="<%= @item.send :additional_attr %>" />
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :input_confirm %></label>
    <input class="form-control" type="text" value="<%= @item.label :input_confirm %>" />
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :question %></label>
    <input class="form-control" type="text" value="<%= @item.label :question %>" />
  </div>

  <div class="col12 mb-3">
    <label><%= @model.t :max_upload_file_size %></label>
    <input class="form-control" type="text" value="<%= @item.send :max_upload_file_size %>" />
  </div>

  <% transfer = @item.transfers.try(:first) %>
  <% if transfer.present? && (transfer[:keyword].present? || transfer[:email].present?) %>
  <div class="col12 mb-3">
    <label><%= @model.t :transfers %></label>
    <div>
      <table class="index">
        <thead>
          <tr>
            <th class="keyword"><%= @model.t(:transfers) %></th>
            <th class="email"><%= @cur_user.t(:email) %></th>
          </tr>
        </thead>
        <tbody>
          <% @item.transfers.each do |transfer| %>
          <tr class="keywords">
            <td><%= transfer[:keyword] %></td>
            <td><%= transfer[:email] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</fieldset>
