<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.inquiry" %></h1></header>
  <div>
    <%= link_to :"inquiry.column", inquiry_columns_path %>
    <%= link_to :"inquiry.answer", inquiry_answers_path %>
    <%= link_to :"inquiry.result", inquiry_results_path %>
  </div>
</nav>

<% end %>
