<%= node_navi :inquiry do %>

  <% if @cur_node.route == "inquiry/form" %>
    <h3><%= link_to t("inquiry.column"), inquiry_columns_path %></h3>
    <h3><%= link_to t("inquiry.answer"), inquiry_answers_path %></h3>
    <h3><%= link_to t("inquiry.result"), inquiry_results_path %></h3>
    <h3><%= link_to t("inquiry.feedback"), inquiry_feedbacks_path %></h3>
  <% else %>
    <h3><%= link_to t("inquiry.nodes"), inquiry_nodes_path %></h3>
  <% end %>

<% end %>
