<%= node_navi :inquiry do %>

<h3><%= link_to :"inquiry.column", inquiry_columns_path %></h3>
<h3><%= link_to :"inquiry.answer", inquiry_answers_path %></h3>
<h3><%= link_to :"inquiry.result", inquiry_results_path %></h3>
<h3><%= link_to :"inquiry.feedback", inquiry_feedbacks_path %></h3>

<% end %>
