<div class="search-ui-form">
  <%= form_for :s_group, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <% @inherit_keys.each do |key| %>
      <%= hidden_field_tag key, params[key], id: nil %>
    <% end %>
    <%= hidden_field_tag 'fragment', '#gws-memo-persona-address-group' %>

    <dl class="see">
      <dt><%= t "ss.keyword" %></dt>
      <dd>
        <%= f.text_field :name, value: params.dig(:s_group, :name) %>
        <%= f.submit  t("ss.buttons.search"), class: :btn %>
      </dd>
    </dl>
  <% end %>
</div>

<table class="grid">
  <thead class="grid-head">
  <tr>
    <th class="checkbox"><label><input type="checkbox" name="to_ids[]" /><%= Gws::Memo::Message.t :to_member_ids %></label></th>
    <th class="checkbox"><label><input type="checkbox" name="cc_ids[]" /><%= Gws::Memo::Message.t :cc_member_ids %></label></th>
    <th class="checkbox"><label><input type="checkbox" name="bcc_ids[]" /><%= Gws::Memo::Message.t :bcc_member_ids %></label></th>
    <th class="name"><%= Gws::SharedAddress::Group.t :name %></th>
  </tr>
  </thead>
  <tbody class="items">
  <% @group_items.each do |item| %>
    <tr class="list-item" data-id="shared_group:<%= item.id %>" data-name="<%= item.name %>" data-email="shared_group:<%= item.id %>" data-address="group:<%= item.id %>">
      <td class="checkbox"><input type="checkbox" name="to_ids[]" value="shared_group:<%= item.id %>" /></td>
      <td class="checkbox"><input type="checkbox" name="cc_ids[]" value="shared_group:<%= item.id %>" /></td>
      <td class="checkbox"><input type="checkbox" name="bcc_ids[]" value="shared_group:<%= item.id %>" /></td>
      <td><%= item.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @group_items, param_name: "group_page", params: { fragment: "#gws-memo-persona-address-group" } if @group_items.try(:current_page) %>
