<div class="search-ui-form">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <% @inherit_keys.each do |key| %>
      <%= hidden_field_tag key, params[key], id: nil %>
    <% end %>
    <%= hidden_field_tag 'fragment', '#gws-memo-persona-address-personal' %>

    <dl class="see">
      <dt><%= @model.t :address_group_id %></dt>
      <dd>
        <%= f.select :group, @groups.map {|c| [c.name, c.id]},
                     { selected: params[:s].try(:[], :group), include_blank: true },
                     { class: "submit-on-change" } %>
      </dd>

      <dt><%= t "ss.keyword" %></dt>
      <dd>
        <%= f.text_field :keyword, value: params.dig(:s, :keyword) %>
        <%= f.submit  t("ss.buttons.search"), class: :btn %>
      </dd>
    </dl>
  <% end %>
</div>

<table class="grid">
  <thead class="grid-head">
  <tr>
    <th class="checkbox"><label><input type="checkbox" name="to_ids[]" /> <%= Gws::Memo::Message.t :to_member_ids %></label></th>
    <th class="checkbox"><label><input type="checkbox" name="cc_ids[]" /> <%= Gws::Memo::Message.t :cc_member_ids %></label></th>
    <th class="checkbox"><label><input type="checkbox" name="bcc_ids[]" /> <%= Gws::Memo::Message.t :bcc_member_ids %></label></th>
    <th class="name"><%= Gws::User.t :name %></th>
    <th class="email"><%= @model.t :email %></th>
  </tr>
  </thead>
  <tbody class="items">
  <% @items.each do |item| %>
    <% if item.member %>
      <tr class="list-item" data-id="<%= item.member_id %>" data-name="<%= gws_public_user_long_name(item.member.long_name) %>" data-email="<%= item.email_address %>" data-address="<%= item.email %>">
        <td class="checkbox"><input type="checkbox" name="to_ids[]" value="<%= item.member_id %>" /></td>
        <td class="checkbox"><input type="checkbox" name="cc_ids[]" value="<%= item.member_id %>" /></td>
        <td class="checkbox"><input type="checkbox" name="bcc_ids[]" value="<%= item.member_id %>" /></td>
        <td class="name"><%= gws_public_user_long_name(item.member.long_name) %></td>
        <td class="email"><%= item.email %></td>
      </tr>
    <% else %>
      <tr class="list-item">
        <td class="checkbox"></td>
        <td class="checkbox"></td>
        <td class="checkbox"></td>
        <td class="name"><%= t("gws/memo/message.links.deleted") %></td>
        <td class="email"><%= item.email %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= paginate @items, params: { fragment: "#gws-memo-persona-address-personal" } if @items.try(:current_page) %>
