<%
  @item.in_share_max_file_size_mb = @item.share_max_file_size.to_i / (1_024 * 1_024)
  @item.in_share_max_folder_size_mb = @item.share_max_folder_size.to_i / (1_024 * 1_024)
%>

<%= jquery do %>
    $('#addon-gws-agents-addons-file').hide();
<% end %>

<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :in_basename, value: @item.trailing_name %></dd>

<% if @item.new_record? %>
  <dt><%= @model.t :in_parent %><%= @model.tt :in_parent %></dt>
  <dd>
    <%= f.hidden_field :in_parent, value: '', class: 'hidden-ids' %>
    <%= link_to t('gws/share.apis.folders.index'), gws_share_apis_folders_path(mode: 'manageable', single: true), class: 'ajax-box' %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::Share::Folder.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% if @item.parent.present? %>
        <tr data-id="<%= @item.parent.id %>">
          <td><%= f.hidden_field :in_parent, value: @item.parent.id, id: nil %> <%= @item.parent.name %></td>
          <td><%= link_to t("ss.buttons.delete"), '#', class: 'deselect btn' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
<% else %>
  <% if @item.parent.present? %>
  <dt><%= @model.t :in_parent %></dt>
  <dd><%= f.hidden_field :in_parent, value: @item.parent.id, id: nil %> <%= @item.parent.name %></dd>
  <% end %>
<% end %>

  <dt><%= @model.t :order %><%= @model.tt :order %></dt>
  <dd><%= f.number_field :order %></dd>

<% if params[:action] == "new" || !(params[:action] =~ /edit|update/ && @item.name.include?("/")) %>
  <dt><%= @model.t :share_max_file_size %><%= @model.tt :share_max_file_size %></dt>
  <dd><%= f.number_field :in_share_max_file_size_mb %> <%= t("ss.units.mega_byte") %></dd>

  <dt><%= @model.t :share_max_folder_size %><%= @model.tt :share_max_folder_size %></dt>
  <dd><%= f.number_field :in_share_max_folder_size_mb %> <%= t("ss.units.mega_byte") %></dd>
<% end %>
</dl>
