<% addons = @item.class.addons.select { |addon| [Gws::Addon::File].exclude?(addon.klass) } %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <% if addons.size > 0 %><div class="addon-head"><h2><%= t "ss.basic_info"%></h2></div><% end %>
    <div class="addon-body">
      <%= render file: "_show" %>
    </div>
  </div>
  <%= render file: "_addons_show", locals: { addons: addons } if addons.size > 0 %>

  <% if controller_path == "gws/share/folders" %>
    <div class="addon-view " id="addon-gws-download_folder">
      <div class="addon-head toggle-head">
          <h2><%= t('gws/share.folder_download') %></h2>
      </div>
      <div class="addon-body toggle-body">
        <%= link_to(t('gws/share.links.file_download'), download_folder_gws_share_folder_path, class: 'btn file_download') %>
      </div>
    </div>
  <% end %>
</div>
