<%
  if !@item.reservable_setting_present?
    addon ||= local_assigns.fetch(:addon, {})
    addon[:display_body] = "hide"
  end
%>

<div class="gws-addon-facility-reservable-setting">
  <dl class="see">
    <dt><%= @model.t :reservable_group_ids %></dt>
    <dd>
      <%= render SS::MoreContentComponent.new(cur_site: @cur_site, cur_user: @cur_user, max_height: "20em") do %>
        <%= br @item.reservable_group_names %>
      <% end %>
    </dd>

    <dt><%= @model.t :reservable_member_ids %></dt>
    <dd>
      <%= render SS::MoreContentComponent.new(cur_site: @cur_site, cur_user: @cur_user, max_height: "20em") do %>
        <%= br @item.reservable_member_names %>
      <% end %>
    </dd>
  </dl>
</div>
