<%
  addon ||= local_assigns.fetch(:addon, {})
  snippet_dom_id = addon[:id] || "#{f.object_name}_loop_snippet"
%>
<%= code_editor "##{addon[:id]} .html", mode: :html %>

<%= jquery do %>
  var $addon = $("<%= "##{addon[:id]}" %>");
  var $loopSnippetSelect = $addon.find('.js-loop-snippet-select');

  // スニペット貼り付け機能
  var loopSettingHtmlMap = {};
  <% Cms::LoopSetting.site(@cur_site).liquid.each do |ls| %>
    loopSettingHtmlMap['<%= ls.id %>'] = <%= (ls.html || '').to_json.html_safe %>;
  <% end %>

  var getCodeMirrorInstance = function($textarea) {
    if (!$textarea || !$textarea.length) { return null; }
    var cm = $textarea.data('editor');
    if (cm) { return cm; }
    var cmEl = $textarea.next('.CodeMirror')[0];
    if (cmEl && cmEl.CodeMirror) { return cmEl.CodeMirror; }
    return null;
  };

  var appendSnippetToTextarea = function($textarea, snippetHtml, attempt) {
    attempt = attempt || 0;
    if (!$textarea.length) { return; }

    var cm = getCodeMirrorInstance($textarea);
    if (cm && typeof cm.getDoc === 'function') {
      var doc = cm.getDoc();
      var currentValue = doc.getValue();
      var needsLF = currentValue.length > 0 && !/\n$/.test(currentValue);
      var lastLine = doc.lastLine();
      var lastCh = doc.getLine(lastLine).length;
      doc.replaceRange((needsLF ? "\n" : "") + snippetHtml, { line: lastLine, ch: lastCh });
      $textarea.val(doc.getValue());
      return;
    }

    var currentText = $textarea.val() || '';
    var needsLF2 = currentText.length > 0 && !/\n$/.test(currentText);
    $textarea.val(currentText + (needsLF2 ? "\n" : "") + snippetHtml);
    if (attempt < 10) {
      setTimeout(function() { appendSnippetToTextarea($textarea, snippetHtml, attempt + 1); }, 50);
    }
  };

  var handleSnippetInsert = function($select, state) {
    state = state || {};
    var attempt = state.attempt || 0;
    var selectedLoopSettingId = state.snippetId || $select.val();
    if (!selectedLoopSettingId) {
      return;
    }

    $select.data('loopSnippetPendingId', selectedLoopSettingId);

    var snippetHtml = loopSettingHtmlMap[selectedLoopSettingId];
    if (snippetHtml === undefined) {
      $select.val('');
      $select.removeData('loopSnippetPendingId');
      return;
    }

    var hiddenFieldSelector = $select.data('loopSnippetHiddenField') || "input[name='item[loop_setting_id]']";
    if (hiddenFieldSelector) {
      var $hiddenField = $(hiddenFieldSelector);
      if ($hiddenField.length) {
        $hiddenField.prop('disabled', false).val(selectedLoopSettingId).trigger('change');
      }
    }

    var targetSelector = $select.data('loopSnippetTarget');
    var $layoutArea = targetSelector ? $(targetSelector) : $();
    appendSnippetToTextarea($layoutArea, snippetHtml, attempt);

    $select.val('');
    $select.removeData('loopSnippetPendingId');
  };

  var bindLoopSnippetSelect = function($select) {
    if (!$select || !$select.length) { return; }

    $select.on('change', function() {
      handleSnippetInsert($select, { attempt: 0 });
    });

    var $parentForm = $select.closest('form');
    if ($parentForm.length) {
      $parentForm.on('submit', function() {
        var pendingId = $select.data('loopSnippetPendingId');
        var currentVal = $select.val();
        var snippetId = pendingId || currentVal;
        if (!snippetId) { return; }
        handleSnippetInsert($select, { snippetId: snippetId, attempt: 0 });
      });
    }
  };

  bindLoopSnippetSelect($loopSnippetSelect);
<% end %>

<dl class="see">
  <dt class="wide"><%= t('cms.labels.snippets') %></dt>
  <dd class="wide">
    <%= f.hidden_field :loop_setting_id,
      id: "#{snippet_dom_id}_loop_setting_id_hidden",
      class: 'js-loop-snippet-hidden-field' %>
    <% snippet_options = render(SS::OptionsForSelectComponent.new(options: ancestral_html_settings_liquid)) %>
    <%= select_tag 'loop_snippet_selector',
      safe_join([content_tag(:option, t('cms.input_directly'), value: ''), snippet_options]),
      id: "#{snippet_dom_id}_loop_snippet_selector",
      class: 'js-loop-snippet-select',
      data: {
        loop_snippet_target: '#item_layout',
        loop_snippet_hidden_field: "input[name='item[loop_setting_id]']"
      } %>
  </dd>
  <dt class="wide">HTML<%= @model.tt :layout %></dt>
  <dd class="wide">
    <%= f.text_area :layout, style: "height: 400px", class: "html" %>

    <% if example = @model.value_type.form_example_layout %>
      <div class="form-example">
        <div class="form-example-head example-layout-html"><%= t 'ss.input_example' %></div>
        <div class="form-example-body example-layout-html"><%= example %></div>
      </div>
    <% end %>
  </dd>
</dl>
