<%
  addon ||= local_assigns.fetch(:addon, {})
%>
<%= code_editor "##{addon[:id]} .html", mode: :html %>

<%= jquery do %>
  var $addon = $("<%= "##{addon[:id]}" %>");
  var $loopSettingId = $addon.find('select[name="item[loop_setting_id]"]');
  var $layout = $addon.find('textarea[name="item[layout]"]');

  // スニペット貼り付け機能
  // 選択可能なループ設定のID => HTML のマップを生成
  var loopSettingHtmlMap = {};
  <% Cms::LoopSetting.site(@cur_site).public_state.each do |ls| %>
    loopSettingHtmlMap['<%= ls.id %>'] = <%= (ls.html || '').to_json.html_safe %>;
  <% end %>

  $(document).on("click", "[data-action='column-layout-snippet#insert']", function() {
    var selectedLoopSettingId = $("select[name='item[loop_setting_id]']").val();
    console.log("選択されたloop_setting_id:", selectedLoopSettingId);

    if (selectedLoopSettingId && loopSettingHtmlMap[selectedLoopSettingId] !== undefined) {
      var $layoutArea = $("textarea[name='item[layout]']");
      var newHtml = loopSettingHtmlMap[selectedLoopSettingId] || '';

      // CodeMirror があれば末尾に追記、なければ textarea に追記
      var cm = $layoutArea.data('editor');
      if (!cm) {
        var cmEl = $layoutArea.next('.CodeMirror')[0];
        if (cmEl && cmEl.CodeMirror) { cm = cmEl.CodeMirror; }
      }

      if (cm && typeof cm.getDoc === 'function') {
        var doc = cm.getDoc();
        var cur = doc.getValue();
        var needsLF = cur.length > 0 && !/\n$/.test(cur);
        var lastLine = doc.lastLine();
        var lastCh = doc.getLine(lastLine).length;
        doc.replaceRange((needsLF ? "\n" : "") + newHtml, { line: lastLine, ch: lastCh });
        $layoutArea.val(doc.getValue());
      } else {
        var curVal = $layoutArea.val() || '';
        var needsLF2 = curVal.length > 0 && !/\n$/.test(curVal);
        $layoutArea.val(curVal + (needsLF2 ? "\n" : "") + newHtml);
      }
    }
  });
<% end %>

<dl class="see">
  <dt class="wide"><%= @model.t :loop_setting_id %><%= @model.tt :loop_setting_id %></dt>
  <dd class="wide">
    <%= f.select :loop_setting_id, ancestral_html_settings_liquid, include_blank: t('cms.input_directly')  %>
    <button type="button" data-action="column-layout-snippet#insert" style="margin-left: 10px;"><%= t('cms.buttons.insert_snippet') %></button>
  </dd>
  <dt class="wide">HTML<%= @model.tt :layout %></dt>
  <dd class="wide">
    <%= f.text_area :layout, style: "height: 400px", class: "html" %>

    <% if example = @model.value_type.form_example_layout %>
      <div class="form-example">
        <div class="form-example-head example-layout-html"><%= t 'ss.input_example' %></div>
        <div class="form-example-body example-layout-html"><%= example %></div>
      </div>
    <% end %>
  </dd>
</dl>
