<%

menu = []
if @item.permit_comment? && recursion && @model.allowed?(:edit, @cur_user, site: @cur_site)
  link = new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.id)
  menu << link_to(link, class: "btn primary") do
    md_icons.outlined("reply", size: 15) + tag.span(t('gws/board.links.comment'), class: "button-label")
  end
end
if @item.allowed?(:edit, @cur_user, site: @cur_site) || (@item.member?(@cur_user) && (comment.group_ids & @cur_user.group_ids).present? || comment.user_ids.include?(@cur_user.id))
  link = edit_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
  menu << link_to(md_icons.outlined("edit", size: 15), link, class: "btn", title: t('ss.links.edit'))
end
if @item.allowed?(:delete, @cur_user, site: @cur_site) || (@item.member?(@cur_user) && (comment.group_ids & @cur_user.group_ids).present? || comment.user_ids.include?(@cur_user.id))
  link = delete_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
  menu << link_to(md_icons.outlined("delete", size: 15), link, class: "btn", title: t('ss.links.delete'))
end

%>
<aside class="addon-view comment" id="post-<%= comment.id %>" data-comment-depth="<%= depth %>">
  <header class="<%= 'toggle-head' if recursion %>">
    <h2><%= comment.name %></h2>
    <nav class="meta">
      <span class="user"><%= gws_public_user_long_name(comment.contributor_name.presence || comment.user_long_name) %></span>
      <span class="datetime"><%= ss_time_tag comment.created %></span>
    </nav>
  </header>

  <div class="toggle-body">
    <div class="body markdown-body"><%= comment.html %></div>

    <% if comment.files.present? %>
    <div class="files">
      <span class='heading <%= @cur_site.board_files_break == 'horizontal' ? 'd-block' : 'd-inline-block' %>'>
        <%= I18n.t('modules.addons.gws/file') %>
      </span>
      <% comment.files.each do |file| %>
        <span id="file-<%= file.id %>" class='<%= @cur_site.board_files_break == 'horizontal' ? 'd-inline-block mr-1' : 'd-block' %>'>
          <%= md_icons.filled "attach_file", tag: :i %>
          <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank', rel: "noopener" %>
          <%= sanitizer_status(file) %>
        </span>
      <% end %>
    </div>
    <% end %>

    <% if comment.links.present? %>
      <%= render "gws/board/main/links", links: comment.links %>
    <% end %>

    <% if menu.present? %>
    <div class="menu"><%= safe_join(menu) %></div>
    <% end %>

    <% if comment.children.present? %>
      <div class="comments">
        <%= render partial: 'gws/board/comments/comment', collection: comment.children, locals: { parent: comment, recursion: recursion, depth: depth + 1 } if recursion %>
      </div>
    <% end %>
  </div>
</aside>
