<%

menu = []
if @item.permit_comment? && recursion && @model.allowed?(:edit, @cur_user, site: @cur_site)
  link = new_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.id)
  menu << link_to(t('gws/board.links.comment'), link, class: "btn primary")
end
if @item.allowed?(:edit, @cur_user, site: @cur_site) || (@item.member?(@cur_user) && (comment.group_ids & @cur_user.group_ids).present? || comment.user_ids.include?(@cur_user.id))
  link = edit_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
  menu << link_to(t('ss.links.edit'), link, class: "btn")
end
if @item.allowed?(:delete, @cur_user, site: @cur_site) || (@item.member?(@cur_user) && (comment.group_ids & @cur_user.group_ids).present? || comment.user_ids.include?(@cur_user.id))
  link = delete_gws_board_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
  menu << link_to(t('ss.links.delete'), link, class: "btn")
end

%>
<aside class="addon-view comment <%= "body-closed" if recursion %>" id="post-<%= comment.id %>">
  <header class="<%= 'toggle-head' if recursion %>">
    <h2><%= comment.name %></h2>
    <nav class="meta">
      <span class="user"><%= gws_public_user_long_name(comment.contributor_name.presence || comment.user_long_name) %></span>
      <span class="datetime"><%= comment.created.strftime("%Y/%m/%d %H:%M") %></span>
    </nav>
  </header>

  <div class="toggle-body" <% if recursion %>style="display: none;"<% end %>>
    <div class="body markdown-body"><%= comment.html %></div>

    <% if comment.files.present? %>
    <div class="files">
      <span class='heading <%= @cur_site.board_files_break == 'horizontal' ? 'd-block' : 'd-inline-block' %>'>
        <%= I18n.t('modules.addons.gws/file') %>
      </span>
      <% comment.files.each do |file| %>
        <span id="file-<%= file.id %>" class='<%= @cur_site.board_files_break == 'horizontal' ? 'd-inline-block mr-1' : 'd-block' %>'>
          <i class="material-icons">&#xE226;</i>
          <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
        </span>
      <% end %>
    </div>
    <% end %>

    <% if comment.links.present? %>
      <div class="links">
        <span class='heading <%= @cur_site.board_links_break == 'horizontal' ? 'd-block' : 'd-inline-block' %>'>
          <%= I18n.t('modules.addons.gws/link') %>
        </span>
        <% (comment.links || []).each do |item| %>
          <span class="link-item <%= @cur_site.board_links_break == 'horizontal' ? 'd-inline-block mr-1' : 'd-block' %>">
            <i class="material-icons">&#xE157;</i>
            <% if item[:url].present? %>
              <%= link_to item[:name].presence || item[:url], item[:url] %>
            <% elsif item[:name].present? %>
              <%= item[:name] %>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>

    <% if menu.present? %>
    <div class="menu"><%= safe_join(menu) %></div>
    <% end %>
  </div>
</aside>

<% if comment.children.present? %>
<div class="comments">
  <%= render partial: 'gws/board/comments/comment', collection: comment.children, locals: {parent: comment, recursion: recursion} if recursion %>
</div>
<% end %>
