<div class="see mod-gws-schedule-comments">
  <% if @item.comments.present? %>
  <ul class="list-items">
    <% @item.comments.order_by(updated: 1).each do |comment| %>
    <li class="list-item" id="comment-<%= comment.id %>">
      <div class="info">
        <p><%== comment.html %></p>
        <div class="meta">
          <span class="datetime"><%= I18n.l(comment.updated) %></span>
          <span class="group"><%= comment.user_group_name %></span>
          <span class="user"><%= comment.user_name %></span>
        </div>
      </div>
      <% if comment.user_id == @cur_user.id %>
      <div class="links">
        <%= form_tag(gws_memo_comment_path(message_id: @item, id: comment), method: :delete, data: { confirm: t('ss.confirm.delete') }) do %>
          <%= hidden_field_tag('redirect_to', request.fullpath) %>
          <%= submit_tag  t('ss.links.delete'), class: :btn %>
        <% end %>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <%= form_tag(gws_memo_comments_path(message_id: @item), id: 'comment-form', method: :post) do %>
    <%= text_field_tag 'item[text]' %>
    <%= hidden_field_tag('redirect_to', request.fullpath) %>
    <%= submit_tag(I18n.t('gws/schedule.buttons.comment'), class: :btn) %>
  <% end %>
</div>
