<% if @folder_navi %>
<div id="content-navi">
  <h2 class="content-navi-title">
    <%= t("gws/share.folder") %>
  </h2>

  <table class="index">
    <thead>
      <tr>
        <th><%= @model.t('folder_id') %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="<%= 'current' if @folder.blank? %>">
        <td><%= link_to t('gws/share.all'), gws_share_files_path %>
          <% if false %>
          <span class= "share_file_count">(<%= Gws::Share::File.site(@cur_site).readable(@cur_user, @cur_site).active.count -%>)</span>
          <% end %>
        </td>
      </tr>

      <% @folder_navi.each do |item| %>
      <tr class="<%= 'current' if @folder == item %>">
        <td><%= link_to item.name, gws_share_folder_files_path(folder: item.id) %>
          <% if false %>
          <span class= "share_file_count">(<%= item.readable_active_files_count(@cur_user, @cur_site) -%>)</span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
