<% if @folder_navi %>
<div id="content-navi">
  <h2 class="content-navi-title">
    <%= t("mongoid.models.gws/share/folder") %>
  </h2>

  <table class="index">
    <thead>
      <tr>
        <th><%= @model.t('folder_id') %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="<%= 'current' if @folder.blank? %>">
        <td><%= link_to t('gws/share.all'), gws_share_files_path %>
          <span class= "share_file_count">(<%= Gws::Share::File.site(@cur_site).readable(@cur_user, @cur_site).active.count -%>)</span>
        </td>
      </tr>

      <% @folder_navi.each do |item| %>
      <tr class="<%= 'current' if @folder == item %>">
        <% item.send :update_folder_descendants_file_info %>
        <td><%= link_to item.name, gws_share_folder_files_path(folder: item.id) %>
          <span class= "share_file_count">(<%= item.files_count -%>)</span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
