<nav class="nav-management-menu">
  <% if Gws::Share::File.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to gws_share_management_files_path do %>
        <i class="material-icons md-20">&#xE8B8;</i><%= t("ss.management") %>
    <% end %>
  <% end %>
</nav>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%#= link_to t("gws/share.links.categories"), categories_gws_share_files_path %>
    <% if @model.allowed?(:write, @cur_user, site: @cur_site) && @folder %>
      <% if @folder.allowed?(:edit, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.new'), action: :new %>
      <% end %>
    <% end %>
    <% if Gws::Share::Folder.allowed?(:edit, @cur_user, site: @cur_site) || Gws::Share::Folder.allowed?(:download, @cur_user, site: @cur_site) %>
      <%= link_to t('gws/share.links.folder'),gws_share_folders_path %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|categories/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|disable|move|delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('gws/share.links.disable'), action: :delete, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
