<%
categories = Gws::Share::CategoryTraverser.build(@cur_site, @cur_user)
category = nil
if params[:category].present?
  category = Gws::Share::Category.site(@cur_site).find(params[:category]) rescue nil
end
options = options_for_select(categories.to_options, category.try(:id))
%>
<%= jquery do %>

  $(".gws-category-navi-menu #category_id").change(function() {
    var cid = $(this).val();
    if (cid) location.href = '<%= gws_share_category_files_path(category: 'ID') %>'.replace('ID', cid);
    else location.href = '<%= gws_share_files_path %>';
  });

<% end %>

<div class="gws-category-navi-menu">
  <%= select_tag :category_id, options, include_blank: t('modules.gws/share') %>
</div>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-share-categories">
  <% item.categories.compact.each do |category| %>
    <%= link_to category.trailing_name, gws_share_category_files_path(category: category.id),
                class: "gws-category-label", style: category_label_css(category) %>
  <% end %>
  </span>
<% end %>

<%= render file: "gws/crud/index" %>
