<%

categories = Gws::Share::CategoryTraverser.build(@cur_site, @cur_user)
category = nil
if params[:category].present?
  category = Gws::Share::Category.site(@cur_site).find(params[:category]) rescue nil
end

%>
<%= jquery do %>

  //$('.gws-category-navi-menu #category_id').change(function() {
  //  var cid = $(this).val();
  //  if (cid) location.href = '<%= gws_share_category_files_path(category: 'ID') %>'.replace('ID', cid);
  //  else location.href = '<%= gws_share_files_path %>';
  //});

  SS_TreeUI.render(".gws-category-navi-menu .index.categories");

  $(".gws-category-navi-menu .dropdown").on("click", function(e) {
    $(".gws-category-navi-menu .index.categories").toggle();

    e.preventDefault();
    e.stopPropagation();
    return false;
  });

  $(".gws-category-navi-menu .select-category").on("click", function(e) {
    e.preventDefault();
    e.stopPropagation();
    $(".gws-category-navi-menu .index.categories").hide();

    var id = $(e.target).data("id");
    if (id) location.href = '<%= gws_share_category_files_path(category: 'ID') %>'.replace('ID', id);
    else location.href = '<%= gws_share_files_path %>';

    return false;
  });

<% end %>

<div class="gws-category-navi-menu">
  <button class="dropdown btn" type="button"><%= tryb { category.name } || t('modules.gws/share') %> <span class="caret">&#x25BC;</span></button>
  <table class="index categories pulldown-index">
    <tbody>
    <tr data-depth="1" class="toggle">
      <td class="expandable">
        <%= link_to t('modules.gws/share'), "#", class: "select-category" %>
      </td>
    </tr>
    <% categories.flatten.each do |category| %>
      <tr data-depth="<%= category.depth + 1 %>" class="toggle">
        <td class="expandable">
          <% if category.id.present? %>
            <%= link_to category.name, "#", class: "select-category", data: { id: category.id } %>
          <% else %>
            <%= category.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-share-categories">
  <% item.categories.compact.each do |category| %>
    <%= link_to category.trailing_name, gws_share_category_files_path(category: category.id),
                class: "gws-category-label", style: category_label_css(category) %>
  <% end %>
  </span>
<% end %>

<%= render file: "gws/crud/index" %>
