<%

categories = Gws::Share::CategoryTraverser.build(@cur_site, @cur_user)
category = nil
if params[:category].present?
  category = Gws::Share::Category.site(@cur_site).find(params[:category]) rescue nil
end

%>
<%= jquery do %>

  SS_TreeUI.render(".gws-category-navi-menu .index.categories");

  SS_Dropdown.render();

  $(".gws-category-navi-menu .select-category").on("click", function(e) {
    var id = $(e.target).data("id");
    if (id) location.href = '<%= gws_share_category_files_path(category: 'ID') %>'.replace('ID', id);
    else location.href = '<%= gws_share_files_path %>';

    e.preventDefault();
    e.stopPropagation();
    return false;
  });

<% end %>

<!--
<div class="gws-category-navi-menu">
  <button class="dropdown btn" type="button"><%= tryb { category.name } || t('modules.gws/share') %> <span class="caret">&#x25BC;</span></button>
  <div class="dropdown-container">
    <table class="index categories">
      <tbody>
      <tr data-depth="1" class="toggle">
        <td class="expandable">
          <%= link_to t('modules.gws/share'), "#", class: "select-category" %>
        </td>
      </tr>
      <% categories.flatten.each do |category| %>
        <tr data-depth="<%= category.depth + 1 %>" class="toggle">
          <td class="expandable">
            <% if category.id.present? %>
              <%= link_to category.name, "#", class: "select-category", data: { id: category.id } %>
            <% else %>
              <%= category.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
-->

<div class="gws-share-files-index">
  <div class="index-category-tree-view">
    <%= render partial: 'category0', locals: { categories: categories, css_class: 'list-items parent', depth: 0 } %>
  </div>

  <% @index_meta = proc do |item| %>
    <span class="id">#<%= item.id %></span>
    <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-share-categories">
  <% item.categories.compact.each do |category| %>
    <%= link_to category.trailing_name, gws_share_category_files_path(category: category.id),
                class: "gws-category-label", style: category_label_css(category) %>
  <% end %>
  </span>
  <% end %>

  <%= render file: "gws/crud/index" %>
</div>
