<style>
  <%= File.read("#{Rails.root}/public/assets/ss/cke_reset.css") rescue nil %>
  <%= File.read("#{Rails.root}/public/assets/ss/cke.css") rescue nil %>
</style>

<div class="body body--html">
  <p>-------- <%= I18n.t("gws/memo/message.forward_message_header") %> --------</p>
  <table>
    <tbody>
    <tr>
      <th><%= I18n.t("mongoid.attributes.gws/model/memo/message.subject") %></th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th><%= I18n.t("mongoid.attributes.gws/model/memo/message.send_date") %></th>
      <td><%= ss_time_tag @item.send_date %></td>
    </tr>
    <tr>
      <th><%= I18n.t("mongoid.attributes.gws/model/memo/message.from") %></th>
      <td><%= format_email(@cur_user.name, @cur_user.email) %></td>
    </tr>
    </tbody>
  </table>

  <%= gws_memo_message_url(protocol: @cur_site.canonical_scheme.presence || SS.config.gws.canonical_scheme, host: @cur_site.canonical_domain.presence || SS.config.gws.canonical_domain, site: @cur_site, folder: "REDIRECT", id: @item) %>

  <%== @item.html %>
</div>
