<%= form_for :item, url: { action: :index }, html: { class: "search-pages", multipart: true, method: :post } do |f| %>
<div class="search-contents-form">
  <%= render file: "cms/agents/addons/page_search/_form.html.erb", locals: { f: f } %>

  <footer class="send">
    <%= f.submit t("ss.buttons.search"), name: "search", class: "search btn-primary" %>
    <%= link_to t("ss.buttons.reset"), "./pages", class: "reset btn-default" %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) && @item.search_condition? %>
      <%= f.button t("ss.buttons.save"), name: "save", class: "save btn-default" %>
    <% end %>
    <% if @model.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) && @item.search_condition? %>
      <%= f.button t("ss.buttons.download"), name: "download", class: "download btn-primary" %>
    <% end %>
  </footer>
</div>
<% end %>
