<%= render file: "_search" %>

<div class="main-box">
  <table class="index">
    <thead>
      <tr>
        <th><%= t("cms.apis.contents.title") %></th>
        <th class="filename"><%= @model.t :filename %></th>
        <th class="datetime"><%= @model.t :updated %></th>
        <th class="state"><%= @model.t :view_state %></th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to(item.name, item.private_show_path, target: "_blank") %></td>
        <td class="filename"><%= item.filename %></td>
        <td class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
        <td class="state"><%= t "views.state.#{item.status}" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>
