<%= jquery do %>
$('#task-form').submit(function(){
  if($('#item_in_file').val()) {
    alert(`<%= I18n.t('cms.confirm.check_accessibility_manually') %>`);
  }
});

var reload, timer;
reload = function () {
  $.ajax({
    url: "<%= url_for(action: :import, format: :json) %>",
    success: function (data) {
      var closed, started, state;
      started = data["started"] + "";
      closed = data["closed"] + "";
      state = data["state"];

      $("#task-form .state").html(state);
      $("#task-form .started").html(started.replace(/\..*/, "").replace("T", " "));
      $("#task-form .closed").html(closed.replace(/\..*/, "").replace("T", " "));
      $("#task-form .log").val(data["head_logs"].join("\n"));

      if (state == "stop") {
        clearInterval(timer);
      }
    }
  });
};
timer = setInterval(reload, 10000);

<% end %>
<%= form_for :item, url: { action: :import }, html: {id: "task-form", method: :post, multipart: true} do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t :"cms.import_node" %></h2></header>

    <dl class="see">
      <dt><%= @model.t :in_file %><%= @model.tt :in_file %></dt>
      <dd><%= f.file_field :in_file %></dd>

      <dt><%= @model.t :import_date %><%= @model.tt :import_date %></dt>
      <dd><%= f.text_field :import_date, class: "date js-datetime" %></dd>
    </dl>
  </section>

  <section class="main-box">
    <dl class="info">
      <dt><%= @task.t :state %></dt>
      <dd class="state"><%= @task.send :state %></dd>

      <dt><%= @task.t :started %></dt>
      <dd class="started"><%= tryb { @task.started.strftime("%Y/%m/%d %H:%M:%S") } %></dd>

      <dt><%= @task.t :closed %></dt>
      <dd class="closed"><%= tryb { @task.closed.strftime("%Y/%m/%d %H:%M:%S") } %></dd>
    </dl>

    <div class="logs">
      <textarea class="log" readonly="readonly"><%= @task.head_logs.join("\n") %></textarea>
    </div>
  </section>

  <footer class="send">
    <%= f.submit t("ss.buttons.import"), class: :save %>
    <%= f.button t("ss.buttons.cancel"), type: :reset, class: "btn-default", onclick: "location.href='#{contents_path(@cur_node)}'; return false;" %>
  </footer>
<% end %>
