<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.restore'), action: :undo_delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="state"><%= t "ss.state.#{item.state_with_release_date}" %></span>
  <span class="user"><%= gws_public_user_long_name(item.contributor_name.presence || item.user_long_name) %></span>
  <% if item.folder.present? %>
    <span class="folder"><%= t('mongoid.models.gws/notice/folder') %>: <%= item.folder.name %></span>
  <% end %>

  <% if attr = item.label(:severity).presence %>
    <span class="label"><%= attr %></span>
  <% end %>

  <% if item.categories.present? %>
    <span class="categories">
    <% item.categories.compact.each do |category| %>
      <%= link_to category.trailing_name, url_for(action: :index, s: {category: category.id}), class: "gws-category-label", style: category_label_css(category) %>
    <% end %>
  </span>
  <% end %>

  <% if item.files.count > 0 %>
    <span class="gws-notice-file-count"><img src="/assets/img/gws/ic-file.png" alt=""/><%= item.files.count %></span>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
