<div class="file-view" data-file-id="<%= @item.id %>" data-humanized-name="<%= @item.humanized_name %>">
  <a class="thumb" href="<%= view_sys_apis_temp_file_path(user: @cur_user.id, id: @item) %>" target="_blank" rel="noopener">
    <% if @item.image? %>
    <img src="<%= thumb_sys_apis_temp_file_path(user: @cur_user.id, id: @item, _: @item.updated.to_i) %>" alt="<%= @item.basename %>" />
    <% else %>
    <span class="ext icon-<%= @item.extname %>"><%= @item.extname %></span>
    <% end %>
  </a>
  <div class="name">
    <label>
      <input type="hidden" name="item[file_ids][]" value="<%= @item.id %>" class="file-id" />
      <%= @item.name %>
    </label><br />
    <label>URL</label>
    <input type="text" name="item[link_urls][<%= @item.id %>]">
  </div>
  <div class="action">
    <%= link_to t("ss.buttons.delete"), "#", class: "action-delete", onclick: "deleteContent('#{@item.id}'); return false;" %>
  </div>
</div>
