<% if report %>
  <% if report.share_small_talk.present? %>
    <td class="share-cell">
      <div class="share-value"><%= t('gws/daily_report.shared') %></div>
      <div class="report-value-wrap">
        <div class="report-value"><%= br report.small_talk %></div>
        <% if !print && report.user_id != @cur_user.id %>
          <div class="comment-link">
            <%= link_to new_gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk'), { class: 'add-plan' } do %>
              <i class="material-icons editicon" style="font-size: inherit"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <% report.column_comments('small_talk').each do |comment| %>
        <div class="comment-value">
          <% if !print && comment.allowed?(:read, @cur_user, site: @cur_site) %>
            <%= link_to gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk', id: comment.id) do %>
              <%= br comment.body %>(<%= comment.user.try(:name) %>)
            <% end %>
          <% else %>
            <%= br comment.body %>(<%= comment.user.try(:name) %>)
          <% end %>
        </div>
      <% end %>
    </td>
  <% else %>
    <td>
      <% if report.manageable?(@cur_user, site: @cur_site, date: date) && report.small_talk.present? %>
        <div class="report-value-wrap">
          <div class="report-value"><%= br report.small_talk %></div>
          <% if !print && report.user_id != @cur_user.id %>
            <div class="comment-link">
              <%= link_to new_gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk'), { class: 'add-plan' } do %>
                <i class="material-icons editicon" style="font-size: inherit"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <% report.column_comments('small_talk').each do |comment| %>
          <div class="comment-value">
            <% if !print && comment.allowed?(:read, @cur_user, site: @cur_site) %>
              <%= link_to gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk', id: comment.id) do %>
                <%= br comment.body %>(<%= comment.user.try(:name) %>)
              <% end %>
            <% else %>
              <%= br comment.body %>(<%= comment.user.try(:name) %>)
            <% end %>
          </div>
        <% end %>
      <% end %>
    </td>
  <% end %>
<% elsif @forms.present? %>
  <td></td>
<% end %>
