<%= jquery do %>
  var baseUrl = <%== url_for({ action: :index, year_month: ':YEAR_MONTH' }).to_json %>;
  $('.gws-daily-report-year-month-navi select[name=year_month]').on('change', function() {
    var val = $(this).val();
    location.href = baseUrl.replace(':YEAR_MONTH', val);
  });
<% end %>

<div class="gws-tabs">
  <% Gws::User.site(@cur_site).active.readable_users(@cur_user, site: @cur_site).where(group_ids: @cur_group.id).each do |user| %>
    <%= link_to gws_daily_report_user_reports_path(user: user.id), class: "#{'current' if user.id == (@user || @cur_user).id}" do %>
      <span class="tab-name"><%= user.name %></span>
    <% end %>
  <% end %>
</div>

<section class="main-box gws-daily-report-box">
  <header>
    <h2>
      <%= gws_public_user_long_name((@user || @cur_user).long_name) %>
      <% if @user.try(:id) == @cur_user.try(:id) %>
        <% if item = @items.where(user_id: @cur_user.id, form_id: @forms.first.try(:id), daily_report_date: Time.zone.today).first %>
          <%= link_to({ action: :edit, id: item.id }, { class: 'add-plan' }) do %>
            <i class="material-icons editicon" style="font-size: inherit"></i>
          <% end %>
        <% elsif @forms.first.present? %>
          <%= link_to(new_gws_daily_report_form_user_report_path(form_id: @forms.first.try(:id)), { class: 'add-plan' }) do %>
            <i class="material-icons editicon" style="font-size: inherit"></i>
          <% end %>
        <% end %>
      <% end %>
    </h2>
    <nav>
      <%= render template: '_search' %>
    </nav>
  </header>
  <div class="gws-category-navi gws-daily-report-year-month-navi">
    <%= select_tag(:year_month, options_for_select(year_month_options, params[:year_month])) %>
    <% if @cur_month.last_month >= @active_year_range.first %>
      <%= link_to(t('gws/attendance.prev_month'), { action: :index, year_month: @cur_month.last_month.strftime('%Y%m') }, class: :btn) %>
    <% end %>
    <% if @cur_month.next_month <= @active_year_range.last %>
      <%= link_to(t('gws/attendance.next_month'), { action: :index, year_month: @cur_month.next_month.strftime('%Y%m') }, class: :btn) %>
    <% end %>
  </div>
  <div class="table-wrap">
    <table class="index">
      <thead>
      <tr>
        <% if @forms.present? %>
          <th><%= t('gws/daily_report.date') %></th>
          <th><%= t('gws/daily_report.wday') %></th>
          <% if @model.allowed?(:access, @cur_user, site: @cur_site) || @user.id == @cur_user.id %>
            <th class="limited-access"><%= @model.t(:limited_access) %></th>
          <% end %>
          <th><%= @model.t(:small_talk) %></th>
          <% @forms.first.columns.each do |column| %>
            <th><%= column.name %></th>
          <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% (@cur_month.beginning_of_month.to_date..@cur_month.end_of_month.to_date).each do |date| %>
        <% report = @items.where(form_id: @forms.first.try(:id), daily_report_date: date).first %>
        <tr>
          <% if report %>
            <td><%= link_to I18n.l(date, format: :short), gws_daily_report_user_report_path(id: report.id) %></td>
            <td><%= t("date.abbr_day_names")[date.wday] %></td>
            <% if @model.allowed?(:access, @cur_user, site: @cur_site) || @user.id == @cur_user.id %>
              <td>
                <div class="report-value-wrap">
                  <div class="report-value"><%= br report.limited_access %></div>
                </div>
              </td>
            <% end %>
            <% if report.share_small_talk.present? %>
              <td class="share-cell">
                <div class="share-value"><%= t('gws/daily_report.shared') %></div>
                <div class="report-value-wrap">
                  <div class="report-value"><%= br report.small_talk %></div>
                  <% if report.user_id != @cur_user.id %>
                    <div class="comment-link">
                      <%= link_to new_gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk'), { class: 'add-plan' } do %>
                        <i class="material-icons editicon" style="font-size: inherit"></i>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <% report.column_comments('small_talk').each do |comment| %>
                  <div class="comment-value">
                    <% if comment.allowed?(:read, @cur_user, site: @cur_site) %>
                      <%= link_to gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk', id: comment.id) do %>
                        <%= br comment.body %>(<%= comment.user.try(:name) %>)
                      <% end %>
                    <% else %>
                      <%= br comment.body %>(<%= comment.user.try(:name) %>)
                    <% end %>
                  </div>
                <% end %>
              </td>
            <% else %>
              <td>
                <% if report.manageable?(@cur_user, site: @cur_site, date: date) && report.small_talk.present? %>
                  <div class="report-value-wrap">
                    <div class="report-value"><%= br report.small_talk %></div>
                    <% if report.user_id != @cur_user.id %>
                      <div class="comment-link">
                        <%= link_to new_gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk'), { class: 'add-plan' } do %>
                          <i class="material-icons editicon" style="font-size: inherit"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <% report.column_comments('small_talk').each do |comment| %>
                    <div class="comment-value">
                      <% if comment.allowed?(:read, @cur_user, site: @cur_site) %>
                        <%= link_to gws_daily_report_user_report_comment_path(user_report_id: report.id, column: 'small_talk', id: comment.id) do %>
                          <%= br comment.body %>(<%= comment.user.try(:name) %>)
                        <% end %>
                      <% else %>
                        <%= br comment.body %>(<%= comment.user.try(:name) %>)
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <% report.column_values.each do |column_value| %>
              <% if report.share_column_ids.include?(column_value.column.id.to_s) %>
                <td class="share-cell">
                  <div class="share-value"><%= t('gws/daily_report.shared') %></div>
                  <div class="report-value-wrap">
                    <div class="report-value"><%= br column_value.value %></div>
                    <% if report.user_id != @cur_user.id %>
                      <div class="comment-link">
                        <%= link_to new_gws_daily_report_user_report_comment_path(user_report_id: report.id, column: column_value.column_id), { class: 'add-plan' } do %>
                          <i class="material-icons editicon" style="font-size: inherit"></i>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <% report.column_comments(column_value.column_id).each do |comment| %>
                    <div class="comment-value">
                      <% if comment.allowed?(:read, @cur_user, site: @cur_site) %>
                        <%= link_to gws_daily_report_user_report_comment_path(user_report_id: report.id, column: column_value.column_id, id: comment.id) do %>
                          <%= br comment.body %>(<%= comment.user.try(:name) %>)
                        <% end %>
                      <% else %>
                        <%= br comment.body %>(<%= comment.user.try(:name) %>)
                      <% end %>
                    </div>
                  <% end %>
                </td>
              <% else %>
                <td>
                  <% if report.manageable?(@cur_user, site: @cur_site, date: date) && column_value.value.present? %>
                    <div class="report-value-wrap">
                      <div class="report-value"><%= br column_value.value %></div>
                      <% if report.user_id != @cur_user.id %>
                        <div class="comment-link">
                          <%= link_to new_gws_daily_report_user_report_comment_path(user_report_id: report.id, column: column_value.column_id), { class: 'add-plan' } do %>
                            <i class="material-icons editicon" style="font-size: inherit"></i>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                    <% report.column_comments(column_value.column_id).each do |comment| %>
                      <div class="comment-value">
                        <% if comment.allowed?(:read, @cur_user, site: @cur_site) %>
                          <%= link_to gws_daily_report_user_report_comment_path(user_report_id: report.id, column: column_value.column_id, id: comment.id) do %>
                            <%= br comment.body %>(<%= comment.user.try(:name) %>)
                          <% end %>
                        <% else %>
                          <%= br comment.body %>(<%= comment.user.try(:name) %>)
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          <% elsif @forms.present? %>
            <td><%= I18n.l(date, format: :short) %></td>
            <td><%= t("date.abbr_day_names")[date.wday] %></td>
            <% if @model.allowed?(:access, @cur_user, site: @cur_site) || @user.id == @cur_user.id %>
              <td></td>
            <% end %>
            <td></td>
            <% @forms.first.columns.each do |column| %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
