<%= render 'ss/crud/print_preview_head', links: [[ I18n.t('ss.links.back'), { action: :index } ]] %>

<div class="addon-views sheet">
  <div class="addon-view print" id="addon-basic">
    <div class="addon-body print">
      <table class="index">
        <thead>
        <tr>
          <th><%= t('gws/daily_report.date') %></th>
          <th><%= t('gws/daily_report.wday') %></th>
          <% if @forms.present? %>
            <% if @model.allowed?(:access, @cur_user, site: @cur_site) %>
              <th class="limited-access"><%= @model.t(:limited_access) %></th>
            <% end %>
            <th><%= @model.t(:small_talk) %></th>
            <% @forms.first.columns.each do |column| %>
              <th><%= column.name %></th>
            <% end %>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% (@cur_month.beginning_of_month.to_date..@cur_month.end_of_month.to_date).each do |date| %>
          <% report = @items.where(form_id: @forms.first.try(:id), daily_report_date: date).first %>
          <tr>
            <td><%= I18n.l(date, format: :short) %></td>
            <td><%= t("date.abbr_day_names")[date.wday] %></td>
            <% if report %>
              <% if @model.allowed?(:access, @cur_user, site: @cur_site) %>
                <% if report.share_limited_access.present? %>
                  <td class="share-cell">
                    <div class="share-value"><%= t('gws/daily_report.shared') %></div>
                    <%= br report.limited_access %>
                  </td>
                <% else %>
                  <td><%= br report.limited_access %></td>
                <% end %>
              <% end %>
              <% if report.share_small_talk.present? %>
                <td class="share-cell">
                  <div class="share-value"><%= t('gws/daily_report.shared') %></div>
                  <%= br report.small_talk %>
                </td>
              <% else %>
                <td><%= br report.small_talk %></td>
              <% end %>
              <% report.column_values.each do |column_value| %>
                <% if report.share_column_ids.include?(column_value.column.id.to_s) %>
                  <td class="share-cell">
                    <div class="share-value"><%= t('gws/daily_report.shared') %></div>
                    <%= br column_value.value %>
                  </td>
                <% else %>
                  <td><%= br column_value.value %></td>
                <% end %>
              <% end %>
            <% elsif @forms.present? %>
              <% if @model.allowed?(:access, @cur_user, site: @cur_site) %>
                <td></td>
              <% end %>
              <td></td>
              <% @forms.first.columns.each do |column| %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= jquery do %>
  SS_Font.render();
<% end %>
