<%
  form = Gws::DailyReport::Form.site(@cur_site).where(group_ids: (@user || @cur_user).gws_default_group(@cur_site).id).first
%>

<%= render 'ss/crud/print_preview_head', links: [[ I18n.t('ss.links.back'), { action: :index } ]] %>

<div class="addon-views sheet">
  <div class="addon-view print" id="addon-basic">
    <div class="addon-body print">
      <table class="index">
        <thead>
        <tr>
          <th><%= t('gws/daily_report.date') %></th>
          <th><%= t('gws/daily_report.wday') %></th>
          <% if form %>
            <th><%= @model.t(:limited_access) %></th>
            <th><%= @model.t(:small_talk) %></th>
            <% form.columns.each do |column| %>
              <th><%= column.name %></th>
            <% end %>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% (@cur_month.beginning_of_month.to_date..@cur_month.end_of_month.to_date).each do |date| %>
          <% report = Gws::DailyReport::Report.site(@cur_site).where(user_id: (@user || @cur_user), form_id: form.try(:id), daily_report_date: date).first %>
          <tr>
            <td><%= I18n.l(date, format: :short) %></td>
            <td><%= t("date.abbr_day_names")[date.wday] %></td>
            <% if report %>
              <td><%= br report.limited_access %></td>
              <td><%= br report.small_talk %></td>
              <% report.column_values.each do |column_value| %>
                <td><%= br column_value.value %></td>
              <% end %>
            <% elsif form %>
              <td></td>
              <td></td>
              <% form.columns.each do |column| %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= jquery do %>
  SS_Font.render();
<% end %>
