<%= form_for :item, url: { action: :download }, html: { id: "item-form", method: :post, multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <%= hidden_field_tag :_updated, params[:_updated] || @item.updated if @item.respond_to?(:updated) %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= t('gws/attendance.confirm.download') %></h2></div>
      <div class="addon-body">
        <%= render file: '_download', locals: { f: f } %>
      </div>
    </div>
  </div>

  <footer class="send">
    <%= f.submit t('ss.buttons.download'), class: 'btn-primary save' %>
    <%= f.button t('ss.buttons.cancel'), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
