<% @index_title = proc do |item| %>
  <% title = "#{item.user.name}ã®#{item.name}" %>
  <%= link_to title, { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <% item.user.cur_site = @cur_site %>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="user"><%= item.user.name %></span>
  <span class="date"><%= I18n.l(item.date.to_date, format: :attendance_year_month) %></span>
  <span class="group"><%= item.user.gws_default_group.section_name %></span>
<% end %>

<%= render file: 'gws/crud/index' %>
