<%= coffee do %>
$ ->
  @deleteContent = ->
    $(".file-view").remove()
    return false

<% end %>

<dl class="see">
  <dd class="wide">
    <%= link_to :upload, facility_temp_files_path(@cur_user), class: "ajax-box" %>
    <%= @item.tt :image %>

    <div id="selected-files">
      <%= f.hidden_field "image_id", value: "", class: "hidden-ids" %>

      <% if @item.image.present? %>
        <div class="file-view">
          <a class="thumb" href="<%= view_facility_temp_file_path(user: @cur_user, id: @item.image) %>" target="_blank">
            <% if @item.image.image? %>
              <img src="<%= thumb_facility_temp_file_path(user: @cur_user, id: @item.image) %>" alt="<%= @item.image.basename %>" />
            <% else %>
              <span class="ext icon-<%= @item.image.extname %>"><%= @item.image.extname %></span>
            <% end %>
          </a>
          <div class="name">
            <%= @item.image.basename %>
            <input type="hidden" name="item[image_id]" value="<%= @item.image.id %>"/>
          </div>
          <div class="action delete">
            <%= link_to :"sns.delete", "#", onclick: "deleteContent();" %>
          </div>
        </div>
      <% end %>
    </div>
  </dd>
</dl>
