<%= jquery do %>
  $('.sortable-index tbody').sortable();
<% end %>

<dl class="see mod-cms-site-search-setting">
  <dt><%= t("cms.node_config") %><%= @model.tt :st_article_nodes %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "st_article_node_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("cms.apis.nodes.index"), cms_apis_nodes_path(model: 'Article::Node::Page'), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected sortable-index">
      <thead>
      <tr>
        <th class="name"><%= t("cms.node") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.ordered_st_article_nodes.each do |node| %>
        <tr data-id="<%= node.id %>">
          <td><%= f.hidden_field "st_article_node_ids[]", value: node.id %> <%= node.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
