<%= coffee do %>

$ ->
  SS_SearchUI.modal()
  $("#ajax-box .select-group").on "click", (e) ->
    id = $(this).closest("[data-id]").attr("data-id")
    name = $(this).text()

    $.colorbox.element().closest("dl").find(".ajax-selected tr[data-id]").remove()
    SS_SearchUI.select({id: id, name: name})
    $.colorbox.element().closest("dl").find(".ajax-selected").show()

    tel = $(this).parents("tr:first").find(".contact-tel").text()
    fax = $(this).parents("tr:first").find(".contact-fax").text()
    email = $(this).parents("tr:first").find(".contact-email").text()

    if $("#item_contact_tel").val() == ""
      $("#item_contact_tel").prop("value", tel)
    if $("#item_contact_fax").val() == ""
      $("#item_contact_fax").prop("value", fax)
    if $("#item_contact_email").val() == ""
      $("#item_contact_email").prop("value", email)

    e.preventDefault()
    $.colorbox.close()

<% end %>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
<%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search, multipart: true } do |f| %>
  <%= f.text_field :name, value: params[:s].try(:[], :name) %>
  <%= f.submit  t("cms.search_groups.search") %>
<% end %>
</div>

<table class="index">
  <thead>
    <tr>
      <th style="width: 25%;" class="name"><%= t("contact.group_name") %></th>
      <th class="contact-tel"><%= t("contact.tel") %></th>
      <th class="contact-fax"><%= t("contact.fax") %></th>
      <th class="contact-email"><%= t("contact.email") %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= item.id %>">
        <td class="name"><%= link_to item.name, "#", class: "select-group" %></td>
        <td class="contact-tel"><%= item.contact_tel if item.contact_tel.present? %></td>
        <td class="contact-fax"><%= item.contact_fax if item.contact_fax.present? %></td>
        <td class="contact-email"><%= item.contact_email if item.contact_email.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
