<%= jquery do %>

  SS_SearchUI.modal();
  $("#ajax-box .select-group").on("click", function (e) {
    var email, fax, link_name, link_url, tel;
    SS_SearchUI.anchorAjaxBox.closest("dl").find(".ajax-selected tr[data-id]").remove();
    SS_SearchUI.select($(this));
    SS_SearchUI.anchorAjaxBox.closest("dl").find(".ajax-selected").show();

    tel = $(this).parents("tr:first").find(".contact-tel").text();
    fax = $(this).parents("tr:first").find(".contact-fax").text();
    email = $(this).parents("tr:first").find(".contact-email").text();
    link_url = $(this).parents("tr:first").find(".contact-link-url").text();
    link_name = $(this).parents("tr:first").find(".contact-link-name").text();

    $("#item_contact_tel").val(tel);
    $("#item_contact_fax").val(fax);
    <% if @cur_site.inquiry_form.blank? %>
      $("#item_contact_email").val(email);
    <% end %>
    $("#item_contact_link_url").val(link_url);
    $("#item_contact_link_name").val(link_name);

    e.preventDefault();
    $.colorbox.close();
  });
<% end %>

<div class="search-ui-form">
<%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
  <%= f.text_field :name, value: params[:s].try(:[], :name) %>
  <%= f.submit  t("ss.apis.groups.search"), class: :btn %>
<% end %>
</div>

<table class="index">
  <thead>
    <tr>
      <th style="width: 25%;" class="name"><%= t("contact.group_name") %></th>
      <th class="contact-tel"><%= t("contact.tel") %></th>
      <th class="contact-fax"><%= t("contact.fax") %></th>
      <th class="contact-email"><%= t("contact.email") %></th>
      <th class="contact-link-url"><%= t("contact.link_url") %></th>
      <th class="contact-link-name"><%= t("contact.link_name") %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= item.id %>">
        <td class="name"><%= link_to item.name, "#", class: "select-group" %></td>
        <td class="contact-tel"><%= item.contact_tel if item.contact_tel.present? %></td>
        <td class="contact-fax"><%= item.contact_fax if item.contact_fax.present? %></td>
        <td class="contact-email"><%= item.contact_email if item.contact_email.present? %></td>
        <td class="contact-link-url"><%= item.contact_link_url if item.contact_link_url.present? %></td>
        <td class="contact-link-name"><%= item.contact_link_name if item.contact_link_name.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
