<table class="index">
  <thead>
    <tr>
      <th class="name"><%= t("contact.group_name") %></th>
      <th class="contact-tel"><%= t("contact.tel") %></th>
      <th class="contact-fax"><%= t("contact.fax") %></th>
      <th class="contact-email"><%= t("contact.email") %></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr data-id="<%= item.id %>">
      <td class="name"><%= link_to item.name, "#" %></td>
      <td class="contact-tel"><%= item.contact_tel if item.contact_tel.present? %></td>
      <td class="contact-fax"><%= item.contact_fax if item.contact_fax.present? %></td>
      <td class="contact-email"><%= item.contact_email if item.contact_email.present? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
