<%

categories = Opendata::Node::Category.site(@cur_site).sort(order: 1)
areas = Opendata::Node::Area.site(@cur_site).sort(order: 1)
licenses = Opendata::License.site(@cur_site).public.sort(order: 1).map { |c| [c.name, c.id] }

%>
<%= javascript_include_tag "opendata/opendata" %>
<link href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<script src="/assets/js/jquery.colorbox.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<%= coffee do %>
$ ->

  $("a.ajax-box").colorbox({ fixed: true, width: "90%", height: "90%" })

<% end %>

<table class="see opendata-app">
  <tr class="parent-row">
    <td class="field"><%= @model.t :name %><%= required_label %></td>
    <td class="input"><%= f.text_field :name %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :text %><%= @item.tt :text %><%= required_label %></td>
    <td class="input"><%= f.text_area :text %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :license %><%= required_label %></td>
    <td class="input"><%= f.text_field :license %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :tags %><%= @item.tt :tags %></td>
    <td class="input"><%= f.text_field :tags %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :appurl %></td>
    <td class="input"><%= f.text_area :appurl %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :category_ids %><%= required_label %></td>
    <td class="input">
    <%= f.hidden_field "category_ids[]", value: "" %>
    <% categories.each do |c| %>
      <label><%= f.check_box("category_ids[]", {}, c.id) %> <%= c.name %></label>
    <% end %>
    </td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :area_ids %></td>
    <td class="input"><%= render partial: "opendata/agents/addons/area/view/form", locals: { f: f } %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :dataset_ids %></td>
    <td class="input"><%= render partial: "opendata/agents/addons/dataset/view/form", locals: { f: f } %></td>
  </tr>
  <tr class="parent-row">
    <td class="field"><%= @model.t :state %></td>
    <td class="input"><%= f.select :state, @item.state_options %></td>
  </tr>
</table>
