<%

categories = Opendata::Node::Category.site(@cur_site).sort(order: 1)
areas = Opendata::Node::Area.site(@cur_site).sort(order: 1)
licenses = Opendata::License.site(@cur_site).public.sort(order: 1).map { |c| [c.name, c.id] }

%>
<link href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<%= javascript_include_tag "ss/ss", "data-turbolinks-track" => true %>
<script src="/assets/js/jquery.colorbox.js"></script>

<dl class="see opendata-app">
  <dt><%= @model.t :name %><%= required_label %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :text %><%= @item.tt :text %><%= required_label %></dt>
  <dd><%= f.text_area :text %></dd>

  <dt><%= @model.t :license_id %><%= required_label %></dt>
  <dd><%= f.select :license_id, licenses, include_blank: "" %></dd>

  <dt><%= @model.t :tags %><%= @item.tt :tags %></dt>
  <dd><%= f.text_field :tags %></dd>

  <dt><%= @model.t :appurl %></dt>
  <dd><%= f.url_field :appurl %></dd>

  <dt><%= @model.t :category_ids %><%= required_label %></dt>
  <dd>
    <%= f.hidden_field "category_ids[]", value: "" %>
    <% categories.each do |c| %>
      <label><%= f.check_box("category_ids[]", {}, c.id) %> <%= c.name %></label>
    <% end %>
  </dd>

  <dt><%= @model.t :area_ids %></dt>
  <dd><%= render partial: "opendata/agents/addons/area/view/form", locals: { f: f } %></dd>

  <dt><%= @model.t :dataset_ids %></dt>
  <%= render partial: "opendata/agents/addons/dataset/view/form", locals: { f: f } %>

  <dt><%= @model.t :state %></dt>
  <dd><%= f.select :state, @item.state_options %></dd>
</dl>
