<%= jquery do %>
  $('.webmail-address-dropdown-menu').find('a').on('click', function() {
    uids = $('.list-items .list-item input:checkbox:checked').map(function () {
      return $(this).val();
    });
    $.ajax({
      url: $(this).data('href'),
      method: 'POST',
      data: {
        _method: 'put',
        authenticity_token: $('meta[name="csrf-token"]').attr('content'),
        ids: uids.get()
      },
      success: function (data) {
        SS.notice('<%= t('ss.notice.saved') %>');
        $.each(data, function(i, value) {
          $('.group[data-id=' + value['id'] + ']').text(value['name']);
        });
      }
    });
  });
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action webmail-address-head">
    <%= render template: "_list_head_tags" %>
    <div class="list-head-action-destroy">
      <%= ss_button_to t("ss.links.delete"), "", class: "destroy-all btn btn-list-head-action", method: "delete", confirm: t('ss.confirm.delete') %>
    </div>
    <div class="dropdown dropdown-toggle">
      <button class="btn move" data-href="#">
        <%= t :"webmail.links.move" %> <i class="material-icons md-13">keyboard_arrow_down</i>
      </button>
      <ul class="dropdown-menu webmail-address-dropdown-menu">
        <% @group_navi.each do |item| %>
          <li><%= link_to item.name, '#', { data: { href: move_webmail_addresses_path(group_id: item.id) } } %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= render template: "_search" %>
</div>
