<% @index_meta = proc do |item| %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="filename"><%= item.email %></span>
  <span class="group" data-id="<%= item.id %>"><%= item.address_group.name if item.address_group.present? %></span>
<% end %>

<%= render template: "ss/crud/index" %>
