<% @index_title = proc do |item| %>
  <%
    title_css_classes = %w(title)
    title_css_classes << "notice-severity-high" if item.notice_severity == @model::NOTICE_SEVERITY_HIGH
  %>
  <%= link_to item.name, { action: :show, id: item }, class: title_css_classes %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <% if attr = item.label(:notice_severity).presence %>
    <span class="severity label"><%= attr %></span>
  <% end %>
  <span class="target"><%= item.label :notice_target %></span>
  <span class="state"><%= t "ss.state.#{item.state}" %></span>
<% end %>

<%= render file: "cms/crud/index" %>
