<header class="form-db-head">
  <div>
    <%= link_to @db.name, url_for(action: :index), class: 'head-title' %>
  </div>
  <div class="head-link">
    <%= link_to t('ss.links.download_csv'), { action: :download_all }, class: 'link-item' %>
    | <%= link_to t('ss.links.import_csv'), { action: :import }, class: 'link-item' if @db.node %>
    <% if @db.node && @db.import_url.present? %>
    | <%= link_to t('ss.links.import_url'), { action: :import_url }, class: 'link-item' %>
    <% end %>
  </div>
</header>

<%= render partial: 'menu' %>
