<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :order %><%= @model.tt :order %></dt>
  <dd><%= f.number_field :order %></dd>

  <dt><%= @model.t :state %><%= @model.tt :state %></dt>
  <dd><%= f.select :state, @item.state_options %></dd>

  <dt><%= @model.t :sub_type %><%= @model.tt :sub_type %></dt>
  <dd><%= f.select :sub_type, @item.sub_type_options %></dd>

  <dt><%= @model.t :column_ids %></dt>
  <dd>
    <% if @item.columns.present? %>
    <table class="index">
      <thead>
      <tr>
        <th class="order"><%= Cms::Column::Base.t :order %></th>
        <th class="name"><%= Cms::Column::Base.t :name %></th>
        <th class="name"><%= Cms::Column::Base.t :route %></th>
        <th class="required"><%= Cms::Column::Base.t :required %></th>
        <th class="datetime"><%= Cms::Column::Base.t :updated %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.columns.order_by(order: 1).each do |column| %>
      <tr data-id="<%= column.id %>">
        <td><%= column.order %></td>
        <td><%= column.name %> </td>
        <td><%= column.class.model_name.human %> </td>
        <td><%= column.label :required %></td>
        <td><%= I18n.l(column.updated) %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </dd>
</dl>
