<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <dt><%= @model.t :order %></dt>
  <dd><%= @item.order %></dd>

  <dt><%= @model.t :state %></dt>
  <dd><%= @item.label :state %></dd>

  <dt><%= @model.t :sub_type %></dt>
  <dd><%= @item.label :sub_type %></dd>

  <dt><%= @model.t :column_ids %></dt>
  <dd><%= link_to(t('cms.buttons.manage_columns'), cms_form_columns_path(form_id: @item), class: :btn) %></dd>
  <dd>
    <% if @item.columns.present? %>
    <table class="index">
      <thead>
      <tr>
        <th class="order"><%= Cms::Column::Base.t :order %></th>
        <th class="name"><%= Cms::Column::Base.t :name %></th>
        <th class="name"><%= Cms::Column::Base.t :route %></th>
        <th class="required"><%= Cms::Column::Base.t :required %></th>
        <th class="datetime"><%= Cms::Column::Base.t :updated %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.columns.order_by(order: 1).each do |column| %>
        <tr data-id="<%= column.id %>">
          <td><%= column.order %></td>
          <td><%= column.name %> </td>
          <td><%= column.class.model_name.human %> </td>
          <td><%= column.label :required %></td>
          <td><%= I18n.l(column.updated) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </dd>

  <% if @item.sub_type_entry? %>
  <dt><%= @model.t :init_column_ids %></dt>
  <dd><%= link_to(t('cms.buttons.manage_init_columns'), cms_form_init_columns_path(form_id: @item), class: :btn) %></dd>
  <dd>
    <% if @item.init_columns.present? %>
    <table class="index">
      <thead>
      <tr>
        <th class="order"><%= Cms::Column::Base.t :order %></th>
        <th class="name"><%= Cms::Column::Base.t :name %></th>
        <th class="name"><%= Cms::Column::Base.t :route %></th>
        <th class="required"><%= Cms::Column::Base.t :required %></th>
        <th class="datetime"><%= Cms::Column::Base.t :updated %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.init_columns.order_by(order: 1).each do |init_column| %>
        <% column = init_column.column || Cms::Column::Base.new %>
        <tr data-id="<%= init_column.id %>">
          <td><%= init_column.order %></td>
          <td><%= column.name %> </td>
          <td><%= column.class.model_name.human %> </td>
          <td><%= column.label :required %></td>
          <td><%= I18n.l(init_column.updated) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </dd>
  <% end %>
</dl>
