<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="state"><%= t "ss.state.#{item.state}" %></span>
  <span class="order"><%= item.order %></span>
<% end %>

<%= render template: 'cms/crud/index' %>
