<%# addons = @addons || @item.try(:addons) || [] %>

<%= form_for :item, url: {action: :create}, html: {id: "item-form", multipart: true, autocomplete: :off} do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-body">
        <%= render file: '_form', locals: {f: f} %>
      </div>
    </div>
  </div>

  <footer class="send">
    <% if @crud_buttons %>
      <% @crud_buttons.call f %>
    <% else %>
      <%= f.submit t('ss.buttons.save'), class: %w(btn-primary save) %>
      <% if @cur_form.file_count_limit != 'once_per_user' %>
        <%= f.submit t('gws/form.buttons.continuous'), name: 'continuous', class: %w(btn-primary save) %>
      <% end %>
      <%= f.button t('ss.buttons.cancel'), class: 'btn-default', type: 'reset', onclick: "location.href='#{gws_form_readables_path}'; return false;" %>
    <% end %>
  </footer>

<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
