<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if Sys::MailLog.allowed?(:read, @cur_user) %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item  if Sys::MailLog.allowed?(:delete, @cur_user) %>
<% end %>

<% @index_title = proc do |item| %>
  <% title = item.subject %>
  <%= link_to title, { action: :show, id: item }, class: 'title' %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if item.try(:updated) %>
    <span class="datetime"><%= ss_time_tag item.updated %></span>
  <% end %>
  <% if item.try(:filename) %>
    <span class="filename"><%= File.basename item.filename %></span>
  <% end %>
  <% if item.try(:status) %>
    <span class="state"><%= t "ss.state.#{item.status}" %></span>
  <% end %>
  <% if item.error.present? %>
    <span class="error"><%= item.error.truncate(60) %></span>
  <% end %>
<% end %>

<%= render template: 'ss/crud/index' %>
