<%= jquery do %> SS_SearchUI.modal(); <% end %>

<div class="search-ui-form">
  <%= form_with scope: :s, url: url_for(action: :index), method: "GET", class: "search" do |f| %>
    <%= hidden_field_tag :single, params[:single], id: nil %>
    <% if @selected_ids.present? %>
      <% @selected_ids.each do |selected_id| %>
        <%= hidden_field_tag "ids[]", selected_id, id: nil %>
      <% end %>
    <% end %>
    <dl class="see">
      <dt><%= t("ss.keyword") %></dt>
      <dd>
        <%= f.text_field :keyword, value: params[:s].try(:[], :keyword), id: nil %>
        <%= f.submit  t("ss.buttons.search"), name: :search, class: "btn" %>
      </dd>
    </dl>
  <% end %>
</div>

<table class="index">
  <thead class="list-head">
  <tr>
    <% if @multi %>
      <th class="checkbox">
        <%= check_box_tag(nil, nil, false, id: nil) %>
      </th>
    <% end %>
    <th class="name"><%= cur_form.name %></th>
  </tr>
  </thead>
  <tbody class="items">
  <% @items.each do |item| %>
    <% item_selected = @selected_ids.present? && @selected_ids.include?(item.id.to_s) %>
    <tr class="list-item" data-id="<%= item.id %>" data-name="<%= item_csv(item) %>">
      <% if @multi %>
        <td class="checkbox">
          <% unless item_selected %>
            <%= check_box_tag("ids[]", item.id, false, id: nil) %>
          <% end %>
        </td>
      <% end %>
      <td>
        <%=
          if item_selected
            tag.span item_title(item), style: "color: #888;"
          else
            link_to item_title(item), "#", class: @multi ? "select-item" : "select-single-item"
          end
        %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @multi %>
  <div class="search-ui-select">
    <%= button_tag t("ss.links.select"), type: :button, class: "select-items btn" %>
  </div>
<% end %>

<%= paginate @items if @items.try(:current_page) %>
