<% @dataset = @item.imported_dataset %>

<% if @dataset %>
  <table class="see index history-backup">
    <tbody>
      <tr>
        <th colspan="2">
          <%= link_to @dataset.name, @dataset.private_show_path, target: "_blank" %>
          (<%= number_to_human_size(@item.size) %>)
        </th>
      </tr>
      <tr>
        <th><%= @dataset.t :resources %></th>
        <td><%=br @item.resources.map { |resource| "#{resource.filename} (#{number_to_human_size(resource.size)})" } %></td>
      </tr>
      <tr>
        <th><%= @dataset.t :harvest_text_index %></th>
        <td><%= @dataset.harvest_text_index  %></td>
      </tr>
      <tr>
        <th><%= @dataset.t :harvest_ckan_groups %></th>
        <td><%= @dataset.harvest_ckan_groups.join(", ") %></td>
      </tr>
      <tr>
        <th><%= @dataset.t :harvest_ckan_tags %></th>
        <td><%= @dataset.harvest_ckan_tags.join(", ") %></td>
      </tr>
      <tr>
        <th><%= @dataset.t :harvest_shirasagi_categories %></th>
        <td><%= @dataset.harvest_shirasagi_categories.join(", ") %></td>
      </tr>
      <tr>
        <th><%= @dataset.t :harvest_shirasagi_areas %></th>
        <td><%= @dataset.harvest_shirasagi_areas.join(", ") %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <table class="see index history-backup">
    <tbody>
      <tr>
        <th colspan="2"><%= t("opendata.labels.not_found_dataset") %></th>
      </tr>
    </tbody>
  </table>
<% end %>

<br>

<table class="see index history-backup">
  <tbody>
    <tr>
      <th colspan="2"><%= @item.t :imported %></th>
    </tr>
    <tr>
      <th><%= @item.t :imported_attributes %></th>
      <td><pre><%= ::JSON.pretty_generate(@item.imported_attributes) %></pre></td>
    </tr>
  </tbody>
</table>

<br>

<% if @item.state == "failed" %>
  <table class="see index history-backup">
    <tbody>
    <tr>
      <th colspan="2"><%= t("opendata.labels.errors") %></th>
    </tr>
      <% style = (@item.state == "failed") ? 'background-color: #ffdada;' : "" %>
      <tr>
        <th style="<%= style %>"><%= t("opendata.dataset") %></th>
        <td style="<%= style %>"><%=br @item.error_messages %></td>
      </tr>
      <% @item.resources.each_with_index do |resource, idx| %>
        <% style = (resource.state == "failed") ? 'background-color: #ffdada;' : "" %>
        <tr>
          <th style="<%= style %>"><%= "#{t("opendata.labels.resource")}#{idx + 1}" %></th>
          <td style="<%= style %>"><%=br resource.error_messages %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
