<%= coffee do %>
  $ ->

  $(".comment_add").click (event)->
    text = $('#s_comment_body').val()
    if text.length > 0
      $(@).css('pointer-events', 'none')
      $.ajax
        url: "<%= @idea.comment_add_url %>"
        type: "POST"
        data: { comment_body : text, authenticity_token: "<%= form_authenticity_token %>" }
        success: (data)->
          $("#idea-comments").html data
    event.preventDefault()

  $(".comment_delete").click (event)->
    $.ajax
      url: "<%= @idea.comment_delete_url %>"
      type: "POST"
      data: { comment : $(this).attr("id"), authenticity_token: "<%= form_authenticity_token %>" }
      success: (data)->
        $("#idea-comments").html data
    event.preventDefault()

  $(".comment .label a").colorbox({ fixed: true, width: "300px", height: "50%" })

<% end %>

  <div class="info-wrap">

    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <div class="text">
            <% if comment.comment_deleted %>
            <%= "コメントは削除されました" %>
            <% else %>
            <%= simple_format(h(comment.text)) %>
            <% end %>
          </div>
          <% if @comment_mode && [@idea.member_id, comment.member_id].include?(@cur_member.id) %>
          <%= link_to "削除", "", class: "comment_delete", id: comment.id if comment.comment_deleted.nil? %>
          <% end %>

          <% if comment.member %>
          <%= link_to comment.member.name, "#{member_path}#{comment.member_id}" %>
          <% elsif comment.contact_group %>
          <%= comment.contact_group.full_name %>
          <% elsif comment.user.groups %>
          <%= comment.user.groups.first.name %>
          <% else %>
          <%= "ゲストユーザー" %>
          <% end %>

          <%= tryb{comment.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %>
        </div>
      <% end %>
    </div>

    <% if @comment_mode %>
      <%= form_for :s, url: "", html: { class: "opendata-add_comment-form", method: :get } do |f| %>
        <dl class="comment_body">
          <dt>本文</dt>
          <dd><%= f.text_area :comment_body, maxlength: "400" %></dd>
        </dl>
        <%= link_to "コメントを投稿", "", class: "comment_add" %>
      <% end %>
    <% else %>
      <div class="invite">コメントしたい場合には<%= link_to "ログイン","/mypage/login" %>してください</div>
    <% end %>

  </div>
