<div class="main-box">
  <table class="index">
    <thead class="list-head">
      <tr>
        <th class="checkbox" style="width: 120px;">
          <input type="checkbox" />
          <% if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
            <button class="destroy-all btn"><%= t :"ss.links.delete" %></button>
          <% end %>
        </th>
        <th><%= @model.t :name %></th>
        <th><%= @model.t :order %></th>
        <th class="datetime"><%= @model.t :updated %></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
      <tr class="list-item">
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
          <nav class="tap-menu">
            <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
            <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
            <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
          </nav>
        </td>
        <td><%= link_to item.name, action: :show, id: item %></td>
        <td><%= item.order %></td>
        <td><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>
