<%= form_for :item, url: { action: :import }, html: { id: "item-form", method: :put, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view mb-5" id="addon-basic">
      <h2 class="h4"><%= t("ss.import") %></h2>
      <div class="addon-body form-row">
        <div class="see form-group col-12 mb-3">
          <label><%= @model.t :in_file %></label>
          <%= f.file_field :in_file, class: "file form-control-file" %>

          <p class="text-warning mt-3">
            <%=br t("gws/memo/message.import.caution") %>
          </p>
        </div>
      </div>
      <footer class="send">
        <%= f.submit t("ss.import"), class: "save btn btn-outline-primary" %>
      </footer>
    </div>
  </div>
<% end %>
