<%= jquery do %>
$(".gws-schedule-search-times-result .hour-wrap").on({
  mouseenter: function(){
    var plans = $(this).data("plans");
    if (plans) {
      var user_name = "";
      $.each(plans, function (idx, plan) {
        user_name += '<p>' + plan["user_section_name"] + '<\p>';
        user_name += '<p>' + plan["user_long_name"] + '<\p>';
      });
      $(this).append('<div class="user-tooltip">' + user_name + '</div>');
    }
  },
  mouseleave: function(){
    $(this).find(".user-tooltip").remove();
  }
});
<% end %>

<%= render "gws/schedule/search/main/tabs" %>

<section class="main-box gws-schedule-box gws-schedule-search">
  <%= render "search" %>

  <% if @items.present? %>
  <% if @cur_user.gws_role_permit_any?(@cur_site, :duplicate_private_gws_facility_plans) && @time_search.facilities.present? %>
    <div class="duplicate-register-message" style="color: #e00;">
      <%= t('gws/schedule.facility_reservation.duplicate_register_message') %>
    </div>
  <% end %>
  <div class="gws-schedule-search-hr"></div>
  <div class="gws-schedule-search-times-result">
    <% @items.each do |date, hours| %>

      <% if @time_search.members.present? %>
        <div class="date <%= date.strftime('%a').downcase %>">
          <p class="label"><%= l date, format: :full %></p>
          <p class="member"><%= @cur_user.model_name.human %></p>

          <% @time_search.hours.each do |hour| %>
          <span class="hour-wrap">
          <% if hours[0].index(hour) %>
            <% link_params = @time_search.link_params(start: date.strftime("%Y-%m-%dT#{hour}:00")) %>
              <%= link_to hour, new_gws_schedule_plan_path(link_params), class: "hour free" %>
          <% elsif @cur_user.gws_role_permit_any?(@cur_site, :duplicate_private_gws_facility_plans) %>
            <% link_params = @time_search.link_params(start: date.strftime("%Y-%m-%dT#{hour}:00")) %>
              <%= link_to hour, new_gws_schedule_plan_path(link_params), class: "hour registered" %>
          <% else %>
            <span class="hour exist"><%= hour %></span>
          <% end %>
          </span>
          <% end %>
        </div>
      <% end %>

      <% @time_search.facilities.each do |facility| %>
      <%# next if hours[1][facility.id].blank? %>
      <div class="date <%= date.strftime('%a').downcase %>">
        <p class="label"><%= l date, format: :full %></p>
        <p class="facility"><%= facility.name %></p>
        <% @time_search.hours.each do |hour| %>

          <% data_plan = hours[2].dig(facility.id, hour) %>
          <span class="hour-wrap" data-plans="<%= data_plan ? data_plan.to_json : "" %>">
          <% if (hours[1][facility.id] || []).index(hour) %>
            <% link_params = @time_search.link_params(start: date.strftime("%Y-%m-%dT#{hour}:00")) %>
            <% link_params[:facility_ids] = [facility.id] %>
            <%= link_to hour, new_gws_schedule_plan_path(link_params), class: "hour free" %>
          <% elsif @cur_user.gws_role_permit_any?(@cur_site, :duplicate_private_gws_facility_plans) %>
            <% link_params = @time_search.link_params(start: date.strftime("%Y-%m-%dT#{hour}:00")) %>
            <% link_params[:facility_ids] = [facility.id] %>
            <%= link_to hour, new_gws_schedule_plan_path(link_params), class: "hour registered" %>
          <% else %>
            <span class="hour exist"><%= hour %></span>
          <% end %>
          </span>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
</section>
