<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<dl class="see addon-cms-elasticsearch-site-setting">
  <dt><%= @model.t :elasticsearch_hosts %><%= @model.tt :elasticsearch_hosts %></dt>
  <dd><%= f.text_field :elasticsearch_hosts %></dd>

  <dt class="depth-2"><%= @model.t(:elasticsearch_user).split("/", 2).last %><%= @model.tt :elasticsearch_user %></dt>
  <dd class="depth-2"><%= f.text_field :elasticsearch_user %></dd>

  <dt class="depth-2"><%= @model.t(:elasticsearch_password).split("/", 2).last %><%= @model.tt :elasticsearch_password %></dt>
  <dd class="depth-2"><%= f.text_field :in_elasticsearch_password %></dd>
  <dd class="depth-2"><label><%= f.checkbox :rm_elasticsearch_password %> <%= t("ss.links.delete") %></label></dd>

  <dt class="depth-2"><%= @model.t(:elasticsearch_ssl_verify_mode).split("/", 2).last %><%= @model.tt :elasticsearch_ssl_verify_mode %></dt>
  <dd class="depth-2"><%= f.select :elasticsearch_ssl_verify_mode, @item.elasticsearch_ssl_verify_mode_options, include_blank: true %></dd>

  <dt><%= @model.t :elasticsearch_deny %><%= @model.tt :elasticsearch_deny %></dt>
  <dd><%= f.ss_lines_field :elasticsearch_deny %></dd>
</dl>

<dl class="see addon-cms-elasticsearch-site-setting">
  <dt><%= @model.t :elasticsearch_site_ids %><%= @model.tt :elasticsearch_site_ids %></dt>
  <dd>
    <%= f.hidden_field "elasticsearch_site_ids[]", value: "", id: nil, class: "hidden-ids" %>
    <%= link_to t("cms.apis.sites.index"), cms_apis_sites_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= t("mongoid.models.cms/site") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.elasticsearch_sites.each do |site| %>
        <tr data-id="<%= site.id %>">
          <td><%= f.hidden_field "elasticsearch_site_ids[]", value: site.id, id: nil %> <%= site.host %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :elasticsearch_indexes %><%= @model.tt :elasticsearch_indexes %></dt>
  <dd><%= f.text_field :elasticsearch_indexes %></dd>

  <dt><%= @model.t :elasticsearch_outside %><%= @model.tt :elasticsearch_outside %></dt>
  <dd><%= f.select :elasticsearch_outside, @item.elasticsearch_outside_options %></dd>
</dl>
