<% @index_title = proc do |item| %>
  <% title = t(item.class_name.underscore, scope: "job.models") %>
  <%= link_to title, { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.job_id %></span>
  <span class="state"><%= t(item.state, scope: "job.state") %></span>
  <span class="datetime"><%= ss_time_tag item.started %></span>
  <span class="datetime"><%= ss_time_tag item.closed %></span>
<% end %>

<%= render template: "gws/crud/index" %>
