<%= coffee do %>
$ ->
  $('.inquiry-form input').keypress (ev) ->
    if (ev.which and ev.which is 13) or (ev.keyCode and ev.keyCode is 13)
      return false
    else
      return true
  return
<% end %>

<div class="inquiry-html">
  <%== @cur_node.inquiry_html %>
</div>

<% if @columns.count > 0 %>
  <%= form_for :item, url: "#{@cur_node.url}confirm.html", html: { multipart: true } do |f| %>
  <div class="inquiry-form">
    <%= error_messages_for :answer, header_message: false %>
    <%= render partial: "form", locals: { f: f, confirm: false }  %>
    <footer class="send">
    <%= f.submit t('inquiry.confirm'), name: :confirm %>
    </footer>
  </div>
  <% end %>
<% end %>
