<%= jquery do %>
    Gws_Memo_Filter.render();
<% end %>

<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>
</dl>

<dl class="see" style="margin-top: 20px;">
  <dt><%= @model.t :from_member_ids %><%= @model.tt :from_member_ids %></dt>
  <dd>
    <%= f.hidden_field "from_member_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path(site: @cur_site), class: "ajax-box" %>
    <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
    <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
  </dd>
  <dd>
    <table class="index ajax-selected sortable-index">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% @item.from_members.each do |user| %>
        <tr data-id="<%= user.id %>">
          <td><%= f.hidden_field "from_member_ids[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see">
  <dt><%= @model.t :to_member_ids %><%= @model.tt :to_member_ids %></dt>
  <dd>
    <%= f.hidden_field "to_member_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path(site: @cur_site), class: "ajax-box" %>
    <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
    <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
  </dd>
  <dd>
    <table class="index ajax-selected sortable-index">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% @item.to_members.each do |user| %>
        <tr data-id="<%= user.id %>">
          <td><%= f.hidden_field "to_member_ids[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see">
  <dt><%= @model.t :subject %><%= @model.tt :subject %></dt>
  <dd><%= f.text_field :subject %></dd>

  <dt><%= @model.t :body %><%= @model.tt :body %></dt>
  <dd><%= f.text_field :body %></dd>

  <dt><%= @model.t :action %><%= @model.tt :action %></dt>
  <dd><%= f.select :action, @item.action_options %></dd>

  <dt><%= @model.t :folder %><%= @model.tt :folder %></dt>
  <dd><%= f.select :folder, @item.folder_options(@cur_user), selected: @item.folder_id, include_blank: true %></dd>

  <dt><%= @model.t :state %><%= @model.tt :state %></dt>
  <dd><%= f.select :state, @item.state_options %></dd>

  <dt><%= @model.t :order %><%= @model.tt :order %></dt>
  <dd><%= f.number_field :order %></dd>
</dl>
