<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "server-info", head: "Server Information", toggle: true } do %>
    <dl class="see">
      <dt><%= t("sys.server_name") %></dt>
      <dd><%= Rails.application.hostname %></dd>

      <dt><%= t("sys.server_addr") %></dt>
      <dd><%= Rails.application.ip_address %></dd>

      <dt>uptime</dt>
      <dd><%= `uptime` %></dd>
    </dl>
  <% end %>

  <% if ::File.exist?("/proc/meminfo") %>
    <% begin %>
      <%= render "ss/crud/addon", addon: { id: "server-info", head: "Server Memory", toggle: true } do %>
        <dl class="see">
          <% ::File.readlines("/proc/meminfo").each do |line| %>
            <% key, value = line.strip.split(":", 2) %>
            <dt><%= key.strip %></dt>
            <dd><%= value.strip %></dd>
          <% end %>
        </dl>
      <% end %>
    <% rescue %>
    <% end %>
  <% end %>

  <% sorted_keys = request.env.keys.sort %>
  <%= render "ss/crud/addon", addon: { id: "env list", head: "HTTP Environments", toggle: true } do %>
    <dl class="see">
      <% sorted_keys.each do |key| %>
        <% if http_key?(key) %>
          <dt><%= key %></dt>
          <dd><%= request.env[key].inspect %></dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "env list", head: "Rack Environments", toggle: true } do %>
    <dl class="see">
      <% sorted_keys.each do |key| %>
        <% if rack_key?(key) %>
          <dt><%= key %></dt>
          <dd><%= request.env[key].inspect %></dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "env list", head: "Rails Environments", toggle: true } do %>
    <dl class="see">
      <% sorted_keys.each do |key| %>
        <% if rails_key?(key) %>
          <dt><%= key %></dt>
          <dd><%= request.env[key].inspect %></dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>

  <%= render "ss/crud/addon", addon: { id: "env list", head: "Other Environments", toggle: true } do %>
    <dl class="see">
      <% sorted_keys.each do |key| %>
        <% if other_key?(key) %>
          <dt><%= key %></dt>
          <dd><%= request.env[key].inspect %></dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>
</div>
