<div class="main-box">
  <table class="index">
    <thead>
      <tr>
        <th><%= @model.t :name %></th>
        <th><%= @model.t :filename %></th>
        <th class="datetime"><%= @model.t :updated %></th>
        <th class="preview"><%= t 'cms.preview_page' %></th>
      </tr>
    </thead>
    <tbody>
    <% if @default_layout %>
      <%= render "list", item: @default_layout %>
    <% end %>
    <% @items.each do |item| %>
      <% next if @default_layout && item.id == @default_layout.id %>
      <%= render "list", item: item %>
    <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>
