<div class="main-box">
  <table class="index">
    <thead>
      <tr>
        <% @model.fields.select {|k, v| k =~ /^(name|filename)/ }.keys.each do |key| %>
        <th><%= @model.t key %></th>
        <% end %>
        <th class="datetime"><%= @model.t :updated %></th>
        <th class="preview"><%= t 'cms.preview_page' %></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <%
        filename = "layout-#{item.id}.html"

        preview_path = ::File.join((@cur_site.subdir ? @cur_site.subdir : ""), @cur_node.filename, filename)
        preview_path.sub!(/^\//, "")

        mobile_preview_path = ::File.join((@cur_site.subdir ? @cur_site.subdir : ""), @cur_site.mobile_location, @cur_node.filename, filename)
        mobile_preview_path.sub!(/^\//, "")
      %>
      <tr class="list-item <%= default_layout?(item) ? 'default-layout' : '' %>">
        <td>
          <nav class="tap-menu">
            <%= link_to t('ss.links.show'), action: :show, id: item %>
          </nav>
          <%= link_to item.name, { action: :show, id: item }, class: "icon-layout" %>
        </td>
        <td class="filename"><%= File.basename item.filename %></td>
        <td class="datetime"><%= ss_time_tag item.updated %></td>
        <% if selected_layout?(item) %>
          <td><%= t 'urgency.selected_layout' %></td>
        <% else %>
          <td>
            <%= link_to t('ss.links.pc'), cms_preview_path(path: preview_path), target: "_blank", rel: "noopener" %>
            | <%= link_to t('ss.links.sp'), cms_preview_path(path: preview_path), class: 'cms-preview-sp', target: "_blank", rel: "noopener" %>
            <% if @cur_site.mobile_enabled? %>
            | <%= link_to t('ss.links.mobile'), cms_preview_path(path: mobile_preview_path), class: 'cms-preview-mb', target: "_blank", rel: "noopener" %>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>
