<dl class="see">
  <dt class="depth-1"><%= @model.t :time %></dt>
  <dd class="depth-1">
    <%= f.number_field :time %>
    <span><%= t("datetime.prompts.second") %></span>
  </dd>
  <dt class="depth-1"><%= @model.t :width %></dt>
  <dd class="depth-1">
    <%= f.number_field :width %>
    <span>px</span>
  </dd>
</dl>
