<dl class="see">
  <dt><%= @model.t :time %></dt>
  <dd>
    <% if @item.time && @item.time > 0 %>
      <%= @item.time.to_fs(:delimited) %>
    <% else %>
      <%= t('webmail.default_settings') %> / <%= Sys::Ad::DEFAULT_SLIDE_PAUSE.to_fs(:delimited) %>
    <% end %>
    <span><%= t("datetime.prompts.second") %></span>
  </dd>
  <dt><%= @model.t :width %></dt>
  <dd>
    <% if @item.width && @item.width > 0 %>
      <%= @item.width.to_fs(:delimited) %>
    <% else %>
      <%= t('webmail.default_settings') %> / <%= Sys::Ad::DEFAULT_SLIDE_WIDTH.to_fs(:delimited) %>
    <% end %>
    <span>px</span>
  </dd>
</dl>

<dl class="see">
  <dt class="wide"></dt>
  <dd class="wide">
    <table class="index">
      <thead>
      <tr>
        <th><%= SS::LinkItem.t(:name) %></th>
        <th><%= SS::LinkItem.t(:url) %></th>
        <th><%= SS::LinkItem.t(:target) %></th>
        <th><%= SS::LinkItem.t(:file_id) %></th>
        <th><%= SS::LinkItem.t(:state) %></th>
      </tr>
      </thead>
      <tbody>
      <% @item.ad_links.each do |link| %>
        <% next if link.name.blank? && link.url.blank? && link.file.blank? %>
        <tr data-id="<%= link.id %>">
          <td><%= link.name %></td>
          <td><%= link_to link.url, sns_redirect_path(ref: link.url), target: "_blank" %></td>
          <td><%= link.label(:target) %></td>
          <td><%= show_image_info link.file %></td>
          <td><%= link.label(:state) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
