<table class="index">
  <thead>
  <tr>
    <th><%= SS::LinkItem.t(:name) %></th>
    <th><%= SS::LinkItem.t(:url) %></th>
    <th><%= SS::LinkItem.t(:target) %></th>
    <th><%= SS::LinkItem.t(:file_id) %></th>
    <th><%= SS::LinkItem.t(:state) %></th>
  </tr>
  </thead>
  <tbody>
  <% link_items.each do |link_item| %>
    <% next if link_item.name.blank? && link_item.url.blank? && link_item.file.blank? %>
    <tr data-id="<%= link_item.id %>">
      <td><%= link_item.name %></td>
      <td><%= link_to link_item.url, sns_redirect_path(ref: link_item.url), target: "_blank" %></td>
      <td><%= link_item.label(:target) %></td>
      <td><%= show_image_info link_item.file %></td>
      <td><%= link_item.label(:state) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
