<%= coffee do %>

selectCategories =(categories) ->
  for category in categories
    tr = $("<tr>").attr("data-id", category["id"])
    input = $("<td>").append($("input:hidden.hidden-categories-ids:first").clone(false))
    input.find("input").val(category["id"])
    input.append(category["name"])
    deselect = $("<td>").append('<%= link_to t("cms.search_categories.deselect"), "#", class: :deselect %>')
    deselect.find("a.deselect").click(deselectGroup)
    tr.append(input)
    tr.append(deselect)
    $("table.selected-categories tbody").append(tr)
    $("table.selected-categories").show()
  return

deselectGroup =() ->
  $(this).parents("tr:first").remove()
  if $("table.selected-categories tr[data-id]").size() == 0
    $("table.selected-categories table.index").hide()
  return false

searchCategories =(elem) ->
  elem = $(elem)
  elem.on "submit", (e) ->
    elem.find("input").attr "disabled", true
    url = "<%= request.url %>"
    query = elem.find("input.query").val().trim()
    site =
    $.ajax {
      type: "POST", url: url, cache: false,
      data: { q: query, site: site },
      success: (data) ->
        $("div.search-categories").children().remove()
        $("div.search-categories").append data

        selected = []
        $("table.selected-categories tbody tr").each ->
          selected.push $(this).attr("data-id")
        for id in selected
          $(".search-categories tbody tr[data-id=#{id}]").remove()

        return
      complete: (xhr, status) ->
        elem.find("input").removeAttr "disabled"
        SS_ListUI.render($(".search-categories table"))

        $(".search-categories tbody a[href]").click ->
          name = $(this).text()
          id = $(this).parents("tr:first").attr("data-id")
          selectCategories([{id : id, name : name}])
          $.colorbox.close()
          return false

        $(".search-categories table").change(toggleSelectButton)
    }
    return false
  return

toggleSelectButton =()->
  if $(".search-categories tbody input:checkbox").filter(":checked").size() > 0
    $("button.select-categories").parent("div:first").show()
  else
    $("button.select-categories").parent("div:first").hide()

$ ->
  searchCategories "form.search-categories"
  $("button.select-categories").click ->
    categories = []
    $(".search-categories tbody input:checkbox").filter(":checked").each ->
      name = $(this).parents("tr:first").text()
      id = $(this).parents("tr:first").attr("data-id")
      categories.push { id: id,  name: name }
    selectCategories(categories)
    $.colorbox.close()
    return false
  toggleSelectButton()

<% end %>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
<%= form_for :item, url: { action: :search }, html: { class: "search-categories", multipart: true } do |f| %>
  <%= text_field_tag :query, nil, { id: nil, class: "query" } %>
  <%= f.submit t("cms.search_categories.search"), class: :search %>
<% end %>
</div>

<div class="search-categories">
  <table class="index">
    <thead>
      <tr>
        <th style="width: 20px;"><input type="checkbox" /></th>
        <th class="name"><%= @model.t :name %></th>
      </tr>
    </thead>
  </table>
</div>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= button_tag t("cms.search_categories.select"), { type: :button, class: "select-categories" } %>
</div>
