<%= coffee do %>

$ ->
  SS_SearchUI.modal()

<% end %>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
<%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search, multipart: true } do |f| %>
  <%= f.text_field :name, value: params[:s].try(:[], :name) %>
  <%= f.submit  t("cms.search_categories.search") %>
<% end %>
</div>

<table class="index">
  <thead>
    <tr>
      <th style="width: 20px;"><input type="checkbox" /></th>
      <th class="name"><%= @model.t :name %></th>
      <th class="filename"><%= @model.t :filename %></th>
      <th class="updated"><%= @model.t :updated %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= item.id %>">
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
        <td class="name"><%= link_to item.name, "#", class: "select-item" %></td>
        <td class="filename"><%= item.filename %></td>
        <td class="updated"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= button_tag t("cms.search_categories.select"), { type: :button, class: "select-items" } %>
</div>
