<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to(t('ss.links.new'), { action: :new }, class: :new) if @model.allowed?(:edit, @cur_user) %>
  <% elsif params[:action] =~ /new|create|edit|update|delete/ %>
    <%= link_to(t('ss.links.back'), webmail_group_path(id: @group), class: "back-to-index") %>
  <% else %>
    <%= link_to(t('ss.links.back'), webmail_group_path(id: @group), class: "back-to-index") %>
    <%= link_to(t('ss.links.edit'), { action: :edit }, class: :edit) if @model.allowed?(:edit, @cur_user) %>
    <%= link_to(t('ss.links.delete'), { action: :delete }, class: :delete) if @model.allowed?(:delete, @cur_user) %>
  <% end %>
</nav>
