<% return "" if @cur_node.becomes_with_route.try(:opendata_site_ids).blank? %>
<%= jquery do %> SS_AddonTabs.hide(".mod-cms-opendata-area"); <% end %>

<% areas = Opendata::Node::Area.in(site_id: @cur_node.becomes_with_route.opendata_site_ids).and_public.pluck(:name, :id) %>
<dl class="see mod-cms-opendata-area category-form">
  <dt class="wide"><%= @model.t :opendata_area_ids %><%= @model.tt :opendata_area_ids %></dt>
  <dd class="wide">
    <%= f.hidden_field('opendata_area_ids[]', value: '') %>
    <% areas.each do |cate| %>
      <div class="parent">
        <%= label_tag do %>
          <%= f.check_box('opendata_area_ids[]', {}, cate[1]) %>
          <%= cate[0] %>
        <% end %>
      </div>
    <% end %>
  </dd>
</dl>
