<%
licenses = Opendata::License.site(@cur_site).and_public.sort(order: 1).map { |c| [c.name, c.id] }
%>
<%= stylesheet_link_tag "opendata/form" %>
<%= javascript_include_tag "opendata/form" %>

<%= jquery do %>
<% if @dataset.allowed?(:release, @cur_user, site: @cur_site) %>
$(".save").val("<%= t("views.button.closed_save") %>");
$("<input />").attr("type", "submit")
  .attr("name", "publish_save")
  .attr("value", "<%= t("views.button.publish_save") %>")
  .attr("class", "publish_save")
  .insertAfter("#item-form input.save");
<% end %>

$(".save").on("click", function(e){
  $("<input />").attr("type", "hidden")
    .attr("name", "item[state]")
    .attr("value", "closed")
    .appendTo("#item-form")
});
$(".publish_save").on("click", function(e){
  $("<input />").attr("type", "hidden")
    .attr("name", "item[state]")
    .attr("value", "public")
    .appendTo("#item-form")
  $("<input />").attr("type", "hidden")
    .attr("name", "item[workflow_reset]")
    .attr("value", "1")
    .appendTo("#item-form")
});
<% end %>

<dl class="see">
  <dt><%= @model.t :file_id %><%= required_label %></dt>
  <dd><%= f.file_field :in_file %></dd>

  <dt><%= @model.t :name %><%= required_label %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :format %><%= @model.tt :format %><%= required_label %></dt>
  <dd><%= f.text_field :format, style: "width: 8em; ime-mode: disabled;" %></dd>

  <dt><%= @model.t :license_id %><%= required_label %></dt>
  <dd><%= f.select :license_id, licenses, include_blank: "" %></dd>

  <dt><%= @model.t :text %><%= @model.tt :text %></dt>
  <dd><%= f.text_area :text %></dd>

  <dt class="in_tsv"><%= @model.t :tsv_id %><%= @model.tt :tsv_id %></dt>
  <dd class="in_tsv"><%= f.file_field :in_tsv %></dd>
  <% if @item.tsv_id %>
  <dd class="in_tsv"><label><%= f.check_box :rm_tsv %><%= t "views.button.delete" %> (<%= @item.tsv.filename %>)</label></dd>
  <% end %>
</dl>
