<%= coffee do %>
$ ->
  @insertContent = (cont) ->
    if (typeof tinymce) != "undefined"
      tinymce.get(Cms_Form.editorId).execCommand("mceInsertContent", false, cont)
    else if (typeof CKEDITOR != "undefined")
      CKEDITOR.instances[Cms_Form.editorId].insertHtml(cont)

  @deleteContent = (id) ->
    $(".file-view").each ->
      #$(this).remove() if id == $(this).find("input[type=checkbox]").attr("value")
      $(this).remove() if id == $(this).find(".file-id").attr("value")

<% end %>

<%= jquery do %>
  //SS_Addon_TempFile.renderDrop($("#addon-cms-agents-addons-file .addon-body"), <%= @cur_user.id %>);
<% end %>

<dl class="see">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "" %>

    <% if @cur_site.file_resizing.present? %>
      <% opts = { "id" => "file-resizing", "data-label" => @cur_site.t(:file_resizing_label, size: @cur_site.file_resizing.join("x")) } %>
      <%= hidden_field_tag "file_resizing", @cur_site.file_resizing.join(","), opts %>
    <% end %>

    <span class="upload-menu-new">
      <% if @cur_node %>
        <%= link_to t('ss.links.upload'), cms_apis_node_temp_files_path, class: "ajax-box btn" %>
      <% else %>
        <%= link_to t('ss.links.upload'), cms_apis_temp_files_path, class: "ajax-box btn" %>
      <% end %>
    </span>
    <span class="upload-menu-select">
      <%= link_to t("sns.user_file"), sns_apis_user_files_path(@cur_user), class: "ajax-box btn" %>
      <%= link_to t("cms.file"), cms_apis_files_path, class: "ajax-box btn" %>
    </span>

    <div id="selected-files">
      <% @item.files.each do |file| %>
        <div class="file-view">

          <%= link_to file.url, class: :thumb, target: "_blank" do %>
            <% if file.image? %>
              <%= image_tag file.thumb_url, alt: file.name %>
            <% else %>
              <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
            <% end %>
          <% end %>

          <div class="name">
            <label>
              <%#= f.check_box "file_ids[]", {}, file.id %>
              <%#= f.hidden_field "file_ids[]", {}, file.id, class: "file-id" %>
              <input type="hidden" name="item[file_ids][]" value="<%= file.id %>" class="file-id" />
              <%= file.name %>
            </label><br />
          </div>

          <div class="action">
            <% content = link_to file.humanized_name, file.url, class: "icon-#{file.extname}" %>
            <%= link_to t("sns.file_attach"), "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
            <% if file.image? %>
              <% content = image_tag file.url, alt: file.name %>
              <%= link_to t("sns.image_paste"), "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
              <% content = link_to(file.url, alt: file.name, class: "ajax-box", target: "_blank") { image_tag(file.thumb_url, alt: file.name) } %>
              <%= link_to t("sns.thumb_paste"), "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
            <% end %>
            <%= link_to t("ss.buttons.delete"), "#", :onclick => "deleteContent('#{file.id}'); return false;" %>
          </div>
        </div>
      <% end %>
    </div>
  </dd>
</dl>
