<%
  addon ||= local_assigns.fetch(:addon, {})
  if @item.respond_to?(:form) && @item.form.present?
    css_class = Array(addon[:class])
    addon[:class] = css_class + %w(hide)
  end

  if @cur_node
    if @cur_node.try(:opendata_sites).present?
      od_path_params = { similar_files: 1, owner_item_id: @item.id, owner_item_type: @model.to_s }
    else
      od_path_params = {}
    end
    api_path = cms_frames_temp_files_files_path(site: @cur_site, cid: @cur_node, **od_path_params)
  else
    api_path = cms_frames_temp_files_files_path(site: @cur_site)
  end
%>

<dl class="see">
  <dd class="wide">
    <div class="cms-file-upload" data-controller="ss--select-box" data-ss--select-box-api-value="<%= api_path %>" data-ss--select-box-dialog-type-value="ss" data-ss--select-box-selection-type-value="append">
      <%= f.hidden_field "file_ids[]", value: "", id: nil %>

      <span class="cms-file-upload-menu-new">
        <%= button_tag t('ss.links.upload'), type: :button, name: 'upload', class: "btn", data: { action: "ss--select-box#openDialog" } %>
      </span>

      <div class="upload-drop-area cms-file-upload-drop-area">
        <span class="upload-drop-notice cms-file-upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
      </div>

      <div class="cms-file-upload-file-order">
        <%= button_tag t('ss.buttons.file_name_order'), { type: :button, class: "btn file-order-btn", value: "name" } %>
        <%= button_tag t('ss.buttons.file_upload_order'), { type: :button, class: "btn file-order-btn", value: "upload" } %>
        <%= @model.tt :file_order %>
      </div>

      <div class="cms-file-upload-files" data-ss--select-box-target="result">
        <% SS::File.each_file(@item.file_ids) do |file| %>
          <%= render "ss/crud/ajax_files/file_view", file: file %>
        <% end %>
      </div>

      <script type="text/plain" data-ss--select-box-target="template">
        <%# render "ss/crud/ajax_files/file_view", file: nil %>
      </script>
    </div>
  </dd>
</dl>
