<%
  addon ||= local_assigns.fetch(:addon, {})
  if @item.respond_to?(:form) && @item.form.present?
    css_class = Array(addon[:class])
    addon[:class] = css_class + %w(hide)
  end
%>

<dl class="see">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "", id: nil %>

    <span class="upload-menu-new">
      <% if @cur_node %>
        <% if @cur_node.try(:opendata_sites).present? %>
          <%= link_to t('ss.links.upload'), cms_apis_node_temp_files_path(cid: @cur_node, similar_files: 1, owner_item_id: @item.id, owner_item_type: @model.to_s), class: "ajax-box btn" %>
        <% else %>
          <%= link_to t('ss.links.upload'), cms_apis_node_temp_files_path(cid: @cur_node), class: "ajax-box btn" %>
        <% end %>
      <% else %>
        <%= link_to t('ss.links.upload'), cms_apis_temp_files_path, class: "ajax-box btn" %>
      <% end %>
    </span>
    <span class="upload-menu-select">
      <%= link_to t("sns.user_file"), cms_apis_user_files_path(cid: @cur_node || '-', owner_item_id: @item.id, owner_item_type: @model.to_s), class: "ajax-box btn" %>
      <%= link_to t("cms.file"), cms_apis_files_path(cid: @cur_node || '-', owner_item_id: @item.id, owner_item_type: @model.to_s), class: "ajax-box btn" %>
    </span>
    <div class="upload-drop-area">
      <span class="upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
    </div>

    <div class="upload-file-order">
      <%= button_tag t('ss.buttons.file_name_order'), { type: :button, class: "btn file-order-btn", value: "name" } %>
      <%= button_tag t('ss.buttons.file_upload_order'), { type: :button, class: "btn file-order-btn", value: "upload" } %>
      <%= @model.tt :file_order %>
    </div>

    <div id="selected-files">
      <% @item.files.each do |file| %>
        <%= render "ss/crud/ajax_files/file_view", file: file %>
      <% end %>
    </div>
  </dd>
</dl>

<%= jquery do %>
  var $el = $("#<%= addon[:id] %>");

  var options = {};
  options.selectUrl = function(id) {
    var selectUrlTemplate = "<%= @cur_node ? select_cms_apis_node_temp_file_path(cid: @cur_node, id: ":id", owner_item_id: @item.id, owner_item_type: @model.to_s) : select_cms_apis_temp_file_path(id: ":id") %>";
    return selectUrlTemplate.replace(":id", id);
  };
  options.uploadUrl = function() {
    var uploadUrlTemplate = "<%= @cur_node ? cms_apis_node_temp_files_path(cid: @cur_node, format: "json", owner_item_id: @item.id, owner_item_type: @model.to_s) : cms_apis_temp_files_path(format: "json") %>";
    return uploadUrlTemplate;
  };
  var tempFile = new SS_Addon_TempFile($el.find(".upload-drop-area"), <%= @cur_user.id %>, options);

  <%
    file_view_options = {
      viewPath: view_cms_apis_content_file_path(id: ":id"),
      confirmationOnDelete: t('ss.confirm.delete'),
      inUseConfirmation: t('ss.confirm.in_use')
    }
  %>
  SS_FileView.renderFileView($el, <%== file_view_options.to_json %>);

  <% if @cur_site.file_resizing.present? %>
    <%
      label = @cur_site.t(:file_resizing_label, size: @cur_site.file_resizing.join("x"))
      value = @cur_site.file_resizing.join(",")
      opts = { label: label, value: value, default: true }
    %>
    SS_AjaxFile.addFileResizing(<%== opts.to_json %>);
  <% end %>

  new Cms_UploadFileOrder($el, 'file', '.file-order-btn');
<% end %>
