<%
  addon ||= local_assigns.fetch(:addon, {})
  if @item.respond_to?(:form) && @item.form.present?
    css_class = Array(addon[:class])
    addon[:class] = css_class + %w(hide)
  end

  if @cur_node
    upload_api_path = cms_frames_temp_files_uploads_path(site: @cur_site, cid: @cur_node)
    file_api_path = cms_frames_temp_files_files_path(site: @cur_site, cid: @cur_node)
    select_api_path = select_cms_frames_temp_files_file_path(site: @cur_site, cid: @cur_node, id: ':id')
  else
    upload_api_path = cms_frames_temp_files_uploads_path(site: @cur_site)
    file_api_path = cms_frames_temp_files_files_path(site: @cur_site)
    select_api_path = select_cms_frames_temp_files_file_path(site: @cur_site, id: ':id')
  end
  view_api_path = view_cms_apis_content_file_path(id: ":id")
%>

<dl class="see">
  <dd class="wide">
    <div class="cms-file-upload" data-controller="ss--file-select-box">
      <script type="application/json" data-ss--file-select-box-target="option">
        <%==
          {
            "uploadApi" => upload_api_path,
            "fileApi" => file_api_path,
            "selectApi" => select_api_path,
            "viewApi" => view_api_path,
            "dialogType" => "ss",
            "selectionType" => "append"
          }.to_json
        %>
      </script>

      <%= f.hidden_field "file_ids[]", value: "", id: nil %>

      <div class="cms-file-upload-menu-new">
        <div class="ss-btn-group" role="group" aria-label="ファイル選択">
          <%= button_tag t('ss.links.upload'), type: :button, name: 'upload', class: "btn", data: { action: "ss--file-select-box#openDialog" } %>
          <%= button_tag "一覧から選択", type: :button, name: 'file', class: "btn", data: { action: "ss--file-select-box#openDialog" } %>
        </div>
      </div>

      <div class="upload-drop-area cms-file-upload-drop-area" data-ss--file-select-box-target="fileUploadDropArea">
        <span class="upload-drop-notice cms-file-upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
      </div>

      <div class="cms-file-upload-file-order">
        <div class="ss-btn-group" role="group" aria-label="並び順">
          <%= button_tag t('ss.buttons.file_name_order'), type: :button, name: "by-name", class: "btn file-order-btn", value: "name", aria: { pressed: false }, data: { action: "ss--file-select-box#reorderSelectedFiles" } %>
          <%= button_tag t('ss.buttons.file_upload_order'), type: :button, name: "by-upload", class: "btn file-order-btn", value: "upload", aria: { pressed: true }, data: { action: "ss--file-select-box#reorderSelectedFiles" } %>
        </div>
        <%= @model.tt :file_order %>
      </div>

      <div id="selected-files" class="cms-file-upload-files" data-ss--file-select-box-target="result">
        <%# アップロード順とは、ID順のこと %>
        <% @item.files.reorder(id: -1).each do |file| %>
          <% file = file.becomes_with_model %>
          <%=
            component = SS::FileViewV2Component.new(
              cur_site: @cur_site, cur_user: @cur_user, cur_node: @cur_node, page: @page, item: @item, file: file)
            render component
          %>
        <% end %>
      </div>
    </div>
  </dd>
</dl>
