<%
  return if @item.files.blank?
  return if @item.respond_to?(:form) && @item.form.present?
  addon ||= local_assigns.fetch(:addon, {})
%>

<dl class="see">
  <dd class="wide">
  <dt>
    <div class="tooltip">?
      <ul class="tooltip-content">
        <% Array(t("tooltip.cms/addon/file.description")).flatten.each do |tooltip| %>
          <li><%= tooltip %><br></li>
        <% end %>
      </ul>
    </div>
  </dt>
    <div id="selected-files">
      <% @item.files.try(:each) do |file| %>
        <%
          css_class = if @item.respond_to?(:contains_urls)
                          @item.contains_urls&.include?(file.url) ? "file-view" : "file-view unused"
                      else
                        "file-view"
                      end
        %>
        <div id="file-<%= file.id %>" class="<%= css_class %>" data-file-id="<%= file.id %>">
          <%= sanitizer_status(file) %>
          <% if css_class.include?("unused") %>
            <span class="unused-message">未使用</span>
          <% end %>
          <%= link_to file.url, class: :thumb, target: "_blank", rel: "noopener" do %>
            <% if file.image? %>
              <%= image_tag file.thumb_url, alt: file.name %>
            <% else %>
              <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
            <% end %>
            <div class="properties">
              <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
              <% if file.image? %>
                <% width, height = file.image_dimension %>
                <span><%= t("sns.w_h") %>: <%= width %> x <%= height %></span><br>
              <% end %>
              <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
              <span><%= t("sns.datetime") %>: <%= ss_time_tag(file.updated) %></span><br>
              <% if file.user.present? %>
                <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
              <% end %>
            </div>
          <% end %>

          <div class="name">
            <label>
              <%= file.name %>
            </label><br />
          </div>

          <% if SS::ReplaceFile.replaceable?(@item, user: @cur_user, site: @cur_site, node: @cur_node) %>
            <div class="replace-file">
              <% if params[:replace_temp_file].present? %>
                <%= link_to t('ss.buttons.replace_file'), params[:cid].blank? ? confirm_cms_apis_replace_file_path(owner_item_id: @item, id: file) : confirm_cms_apis_node_replace_file_path(owner_item_id: @item, id: file), class: "ajax-box" %>
              <% else %>
                <%= link_to t('ss.buttons.replace_file'), params[:cid].blank? ? edit_cms_apis_replace_file_path(owner_item_id: @item, id: file) : edit_cms_apis_node_replace_file_path(owner_item_id: @item, id: file.id), class: "ajax-box" %>
              <% end %>
              <% if css_class.include?("unused") %>
                <%= link_to t('ss.buttons.delete'),
                            params[:cid].blank? ? cms_apis_delete_unused_file_path(owner_item_id: @owner_item.id, id: @item.id) : cms_apis_node_delete_unused_file_path(owner_item_id: @owner_item.id, id: @item.id),
                            method: :delete,
                            remote: true,
                            data: { confirm: t('ss.confirm.delete') },
                            class: "ajax-box" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </dd>
</dl>

<%= jquery do %>
var $el = $("#<%= addon[:id] %>");
  $el.on("click", ".file-view a.thumb", function(ev) {
  SS_FileView.open(ev, { viewPath: "<%= view_cms_apis_content_file_path(id: ":id") %>" });
});

var highlighter = new Cms_File_Highlighter();
highlighter.render();
<% end %>
