<% return "" if @item.files.blank? %>

<div class="see">
  <div id="selected-files" class="card-columns">
    <% @item.files.each do |file| %>
      <div class="file-view card">
        <%= link_to file.url, class: "thumb card-img-top", target: "_blank" do %>
          <% if file.image? %>
            <%= image_tag file.thumb_url, alt: file.name %>
          <% else %>
            <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
          <% end %>
        <% end %>

        <div class="name card-body">
          <p><%= file.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
