<div class="file-view">
  <a class="thumb" href="<%= view_sns_user_temp_file_path(id: @item) %>" target="_blank">
    <% if @item.image? %>
    <img src="<%= thumb_sns_user_temp_file_path(id: @item) %>" alt="<%= @item.basename %>" />
    <% else %>
    <span class="ext icon-<%= @item.extname %>"><%= @item.extname %></span>
    <% end %>
  </a>
  <div class="name">
    <label>
      <input type="checkbox" name="item[file_ids][]" value="<%= @item.id %>" checked="checked" />
      <%= @item.basename %>
    </label><br />
  </div>
  <div class="action paste">
    <% content = link_to "#{@item.filename} (#{@item.extname.upcase} #{number_to_human_size(@item.size)})", "/fs/#{@item.id}/#{@item.filename}", class: "icon-#{@item.extname}" %>
    <%= link_to :"sns.file_attach", "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
    <% if @item.image? %>
      <% content = image_tag "/fs/#{@item.id}/#{@item.filename}", alt: "#{@item.basename}" %>
      <%= link_to :"sns.image_paste", "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
    <% end %>
  </div>
  <div class="action delete">
    <%= link_to t("views.button.delete"), "#", :onclick => "deleteContent('#{@item.id}'); return false;" %>
  </div>
</div>
