<% return unless @folders %>

<div id="content-navi-core" class="gws-content-navi">
  <%= render "ss/crud/addon", addon: { id: "memo-folder", head: t('gws/memo/message.folder'), toggle: false } do %>
    <table class="index gws-memo-folder">
      <% @folders.each do |item| %>
        <% droppable = %W(INBOX.Sent INBOX.Draft #{params[:folder]}).exclude?(item.folder_path) %>
        <% unseen_count = item.unseens.count %>
        <% unseen = unseen_count > 0 %>
        <tr class="folder <%= 'droppable' if droppable %> <%= 'current' if item.folder_path == params[:folder] %>">
          <td class="<%= unseen ? 'unseen' : 'seen' %>">
            <%= link_to item.trailing_name,
              gws_memo_messages_path(folder: item.folder_path ),
              { class: "field title depth-#{ item.depth }", 'data-path': item.folder_path } %>
            <% if unseen %>
              <span>(<%= unseen_count %>)</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if @cur_site.memo_quota %>
    <% quota = @model.new %>
    <%= render "ss/crud/addon", addon: { id: "memo-quota", head: t('ss.quota'), toggle: false } do %>
      <div class="ss-quota-bar">
        <div class="label"><%= quota.quota_label(@cur_user, @cur_site) %></div>
        <div class="usage <%= quota.quota_over?(@cur_user, @cur_site) ? 'over-threshold' : '' %>" style="width: <%= quota.quota_percentage(@cur_user, @cur_site) %>%">
        </div>
      </div>
    <% end %>
  <% end %>
</div>
