<% return unless @folders %>

<div id="content-navi">
  <h2 class="content-navi-title"><%= t('gws/memo/message.folder') %></h2>
  <table class="index gws-memo-folder">
    <% @folders.each do |item| %>
      <% droppable = %W(INBOX.Sent INBOX.Draft #{params[:folder]}).exclude?(item.folder_path) %>
      <% unseen = item.unseen? && !item.sent_box? && !item.draft_box? %>
      <tr class="folder <%= 'droppable' if droppable %> <%= 'current' if item.folder_path == params[:folder] %>">
        <td class="<%= unseen ? 'unseen' : 'seen' %>">
          <%= link_to item.name,
                      gws_memo_messages_path(folder: item.folder_path ),
                      { class: 'field title', 'data-path': item.folder_path } %>
          <% if unseen %>
            <span>(<%= item.unseens.count %>)</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
