<% return unless @group_navi %>

<div id="content-navi">
  <h2 class="content-navi-title">フォルダ</h2>
  <table class="index gws-memo-folder">
    <thead>
      <tr>
        <th>フォルダ名</th>
      </tr>
    </thead>
    <tbody>
      <% @group_navi.each do |item| %>
      <% droppable = %W(INBOX.Sent INBOX.Draft #{params[:folder]}).exclude?(item.path) %>
      <tr class="<%= 'droppable' if droppable %> <%= 'current' if item.path == params[:folder] %>">
        <td class="<%= item.unseen? ? 'unseen' : 'seen' %>">
          <%= link_to item.name, gws_memo_messages_path(folder: item.path), {class: 'field title', 'data-path': item.path } %>
          <span>(<%= item.messages(@cur_user.id).count %>)</span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
