<%= jquery do %>
  $(".trash-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= trash_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.trash_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".set-seen-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= set_seen_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.set_seen_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".unset-seen-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= unset_seen_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.unset_seen_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".set-star-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= set_star_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.set_star_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".unset-star-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= unset_star_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.unset_star_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".move-menu li a").click(function(){
    var path = $(this).attr("data-path");
    var form = Gws_Memo_Message.buildForm("<%= move_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.move') %>");
    form.append($("<input/>", {name: "path", value: path, type: "hidden"} ));
    form.appendTo(document.body).submit();
  });
<% end %>

<div class="list-head">
  <label class="check"><input type="checkbox"/></label>
  <div class="list-head-action">

    <% if %w(INBOX.Sent INBOX.Draft).exclude?(params[:folder]) %>
      <div class="dropdown dropdown-toggle gws-memo-dropdown move-menu">
        <button class="btn">
          <%= t 'gws/memo/message.links.move' %> <i class="material-icons md-13">&#xE313;</i>
        </button>
        <ul class="dropdown-menu">
          <% @folders.select { |g| %W(INBOX.Sent INBOX.Draft #{params[:folder]}).exclude?(g.folder_path) }.each do |item| %>
            <li><a href="#" data-path="<%= item.folder_path %>"><%= item.name %></a></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% case params[:folder] %>
    <% when 'INBOX.Sent', 'INBOX.Draft' %>
      <button class="btn destroy-all"><%= t 'ss.links.delete' %></button>
    <% when 'INBOX.Trash' %>
      <button class="btn destroy-all"><%= t 'ss.links.delete' %></button>
    <% else %>
      <button class="btn trash-all"><%= t 'gws/memo/message.links.trash' %></button>
    <% end %>

    <div class="dropdown dropdown-toggle gws-memo-dropdown">
      <button class="btn">
        <%= t 'gws/memo/message.links.sort' %><i class="material-icons md-13">&#xE313;</i>
      </button>
      <ul class="dropdown-menu">
        <% if params[:folder] == 'INBOX.Sent' %>
          <li>
            <a class="set-star-all" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "to_member_name").to_query %>">
              <%= @model.t(:to) %><%== @cur_user.memo_message_sort_icon(@sort_hash, "to_member_name") %>
            </a>
          </li>
        <% else %>
          <li>
            <a class="set-star-all" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "from_member_name").to_query %>">
              <%= @model.t(:from) %><%== @cur_user.memo_message_sort_icon(@sort_hash, "from_member_name") %>
            </a>
          </li>
        <% end %>
        <li>
          <a class="set-star-all" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "subject").to_query %>">
            <%= @model.t :subject %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "subject") %>
          </a>
        </li>
        <li>
          <a class="set-star-all" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "priority").to_query %>">
            <%= @model.t :priority %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "priority") %>
          </a>
        </li>
        <li>
          <a class="set-star-all" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "send_date").to_query %>">
            <%= @model.t :display_send_date %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "send_date") %>
          </a>
        </li>
        <li>
          <a class="set-star-all" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "size").to_query %>">
            <%= @model.t :size %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "size") %>
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown dropdown-toggle gws-memo-dropdown">
      <button class="btn">
        <%= t 'gws/memo/message.links.etc' %> <i class="material-icons md-13">&#xE313;</i>
      </button>
      <ul class="dropdown-menu">
        <% if params[:folder] != 'INBOX.Draft' %>
          <li><a class="set-seen-all" href="#"><%= t 'gws/memo/message.links.set_seen' %></a></li>
          <li><a class="unset-seen-all" href="#"><%= t 'gws/memo/message.links.unset_seen' %></a></li>
        <% end %>
        <li><a class="set-star-all" href="#"><%= t 'gws/memo/message.links.set_star' %></a></li>
        <li><a class="unset-star-all" href="#"><%= t 'gws/memo/message.links.unset_star' %></a></li>
      </ul>
    </div>
  </div>

  <div class="list-head-search">
    <input type="button" value="<%= t 'ss.buttons.search' %>" class="btn search"/>
  </div>
</div>

<%= render file: '_search' %>
