<%= jquery do %>
  $(".trash-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= trash_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.trash_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".set-seen-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= set_seen_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.set_seen_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".unset-seen-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= unset_seen_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.unset_seen_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".set-star-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= set_star_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.set_star_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".unset-star-all").click(function(){
    var form = Gws_Memo_Message.buildForm("<%= unset_star_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.unset_star_all') %>");
    form.appendTo(document.body).submit();
  });

  $(".move-menu li a").click(function(){
    var path = $(this).attr("data-path");
    var form = Gws_Memo_Message.buildForm("<%= move_all_gws_memo_messages_path(folder: params[:folder]) %>", "<%= t('gws/memo/message.confirm.move') %>");
    form.append($("<input/>", {name: "path", value: path, type: "hidden"} ));
    form.appendTo(document.body).submit();
  });
<% end %>

<div class="list-head d-flex align-items-center justify-content-between flex-wrap">
  <div class="list-head-action btn-group flex-wrap">

    <% if %w(INBOX.Sent INBOX.Draft).exclude?(params[:folder]) %>
      <div class="gws-memo-dropdown move-menu dropdown mr-2">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="links-move" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t 'gws/memo/message.links.move' %>
        </button>
        <div class="dropdown-menu" aria-labelledby="links-move">
          <% @folders.select { |g| %W(INBOX.Sent INBOX.Draft #{params[:folder]}).exclude?(g.folder_path) }.each do |item| %>
            <a href="#" data-path="<%= item.folder_path %>" class="dropdown-item"><%= item.name %></a>
          <% end %>
        </div>
      </div>
    <% end %>

    <% case params[:folder] %>
    <% when 'INBOX.Sent', 'INBOX.Draft' %>
      <button class="destroy-all btn btn-outline-secondary mr-2"><%= t 'ss.links.delete' %></button>
    <% when 'INBOX.Trash' %>
      <button class="destroy-all btn btn-outline-secondary mr-2"><%= t 'ss.links.delete' %></button>
    <% else %>
      <button class="trash-all btn btn-outline-secondary mr-2"><%= t 'gws/memo/message.links.trash' %></button>
    <% end %>

    <div class="gws-memo-dropdown dropdown mr-2">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="links-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t 'gws/memo/message.links.sort' %>
      </button>
      <div class="dropdown-menu" aria-labelledby="links-sort">
        <% if params[:folder] == 'INBOX.Sent' %>
          <a class="set-star-all dropdown-item" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "to_member_name").to_query %>">
            <%= @model.t(:to) %><%== @cur_user.memo_message_sort_icon(@sort_hash, "to_member_name") %>
          </a>
        <% else %>
          <a class="set-star-all dropdown-item" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "from_member_name").to_query %>">
            <%= @model.t(:from) %><%== @cur_user.memo_message_sort_icon(@sort_hash, "from_member_name") %>
          </a>
        <% end %>
        <a class="set-star-all dropdown-item" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "subject").to_query %>">
          <%= @model.t :subject %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "subject") %>
        </a>
        <a class="set-star-all dropdown-item" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "priority").to_query %>">
          <%= @model.t :priority %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "priority") %>
        </a>
        <a class="set-star-all dropdown-item" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "send_date").to_query %>">
          <%= @model.t :display_send_date %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "send_date") %>
        </a>
        <a class="set-star-all dropdown-item" href="<%= gws_memo_messages_path(folder: @cur_folder.folder_path) %>?<%= @cur_user.memo_message_sort_query(@sort_hash, "size").to_query %>">
          <%= @model.t :size %><%==  @cur_user.memo_message_sort_icon(@sort_hash, "size") %>
        </a>
      </div>
    </div>

    <div class="gws-memo-dropdown dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="links-etc" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t 'gws/memo/message.links.etc' %>
      </button>
      <div class="dropdown-menu" aria-labelledby="links-etc">
        <% if params[:folder] != 'INBOX.Draft' %>
          <a class="set-seen-all dropdown-item" href="#"><%= t 'gws/memo/message.links.set_seen' %></a>
          <a class="unset-seen-all dropdown-item" href="#"><%= t 'gws/memo/message.links.unset_seen' %></a>
        <% end %>
        <a class="set-star-all dropdown-item" href="#"><%= t 'gws/memo/message.links.set_star' %></a>
        <a class="unset-star-all dropdown-item" href="#"><%= t 'gws/memo/message.links.unset_star' %></a>
      </div>
    </div>
  </div>

  <div class="list-head-search">
    <input type="button" value="<%= t 'ss.buttons.search' %>" class="search btn btn-outline-secondary"/>
  </div>
</div>

<%= render file: '_search' %>
