<nav class="nav-management-menu">
  <%= link_to gws_memo_management_main_path do %>
    <i class="material-icons md-20">&#xE8B8;</i><%= t 'ss.management' %>
  <% end %>
</nav>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.new'), action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|reply|forward/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <%= link_to t('gws/memo/message.links.reply'), { action: :reply }, { class: 'reply' } unless @item.draft?(@cur_user) %>
    <%= link_to(t('ss.links.edit'), action: :edit, id: @item) if @cur_user.id == @item.user_id %>
    <%= link_to(t('ss.links.delete'), action: :delete, id: @item) if @cur_user.id == @item.user_id %>
    <% if %w(INBOX.Trash INBOX.Draft INBOX.Sent).exclude?(params[:folder]) %>
      <%= link_to(t('gws/memo/message.links.trash'), action: :trash, id: @item) if @item.allowed?(:read, @cur_user, site: @cur_site) %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
