<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_memo_label || t('modules.gws/memo'), gws_memo_messages_path, class: "icon-memo" %></h2>
  <h3><%= link_to t('modules.gws/memo'), gws_memo_messages_path %></h3>
  <h3><%= link_to t('mongoid.models.gws/memo/folder'), gws_memo_folders_path, class: "management" %></h3>
  <h3><%= link_to t('mongoid.models.gws/memo/filter'), gws_memo_filters_path, class: "management" %></h3>
  <h3><%= link_to t('mongoid.models.gws/memo/signature'), gws_memo_signatures_path, class: "management" %></h3>
  <% if Gws::Memo::Template.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/memo/template'), gws_memo_templates_path, class: "management" %></h3>
  <% end %>
  <% if SS.config.gws.dig("memo", "disable_mail_forward").blank? %>
    <h3><%= link_to t('mongoid.models.gws/memo/forward'), gws_memo_forwards_path, class: "management" %></h3>
  <% end %>
  <% if Gws::Memo::List.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/memo/list'), gws_memo_lists_path, class: "management" %></h3>
  <% end %>
  <% if Gws::Memo::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/memo/category'), gws_memo_categories_path, class: "management" %></h3>
  <% end %>
  <h3><%= link_to t('ss.export'), gws_memo_export_messages_path, class: "management" %></h3>
  <h3><%= link_to t('ss.import'), gws_memo_import_messages_path, class: "management" %></h3>
</nav>

<%= render partial: 'gws/main/navi' %>
