<% @s = OpenStruct.new params[:s] %>
<div class="webmail-mail-search">
  <%= form_for :s, url: "", html: { method: :get } do |f| %>
    <dl class="see">
      <dt><%= @model.t :subject %></dt>
      <dd><%= f.text_field :subject, style: "width: 300px;" %></dd>
      <dt><%= t :"webmail.message" %></dt>
      <dd><%= f.text_field :text, style: "width: 300px;" %></dd>

      <dt></dt>
      <dd>
        <input type="submit" value="<%= t 'ss.buttons.search' %>" class="btn search" />
        <input type="reset" value="<%= t 'ss.buttons.reset' %>" class="btn reset" />
      </dd>
    </dl>
  <% end %>
</div>
