<% @s = OpenStruct.new params[:s] %>
<div class="gws-memo-search">
  <%= form_for :s, url: '', html: { method: :get } do |f| %>
    <div class="form-row">
      <div class="col-sm-6 mb-3">
        <label><%= @model.t :subject %></label>
        <%= f.text_field :subject, class: "form-control" %>
      </div>
      <div class="col-sm-6 mb-3">
        <label><%= t 'gws/memo/message.message' %></label>
        <%= f.text_field :text, class: "form-control" %>
      </div>
      <div class="form-group col-sm-12 text-center">
        <input type="submit" value="<%= t 'ss.buttons.search' %>" class="search btn btn-outline-primary" />
        <input type="reset" value="<%= t 'ss.buttons.reset' %>" class="reset btn btn-outline-secondary" />
      </div>
    </div>
  <% end %>
</div>
