<div class="addon-view gws-memo" id="message-<%= @item.id %>">
  <% if @item.html? %>
    <%= jquery do %>
      var htmlMessage = new SS_HtmlMessage("#message-<%= @item.id %> .body--html");
    <% end %>
  <% end %>

  <div class="addon-head">
    <div class="d-flex">
      <h2 class="subject">
        <%= @item.display_subject %>
        <% if @item.attachments? %>
          <span class="icon-attachment"><i class="material-icons">attach_file</i></span>
        <% end %>
      </h2>
      <div class="d-flex ml-auto">
        <% if @id_index.present? %>
          <div class="move-tool-wrap">
            <div class="page-order"><span class="current"><%= @id_index + 1 %></span> / <span class="total"><%= @id_list.length %></span></div>
            <div class="move-tool">
              <%= move_to_prev_tag %>
              <%= move_to_next_tag %>
            </div>
          </div>
        <% end %>
        <span class="icon-star <%= @item.star?(@cur_user) ? 'on' : 'off' %>">
          <%= link_to(url_for(action: :show, id: @item.id)) do %>
            <i class="material-icons md-18">star</i>
          <% end %>
        </span>
      </div>
    </div>

    <div class="d-flex">
      <div class="from"><%= gws_public_user_long_name(@item.from_member_name) || t('gws/memo.no_senders') %></div>
      <div class="date"><%= @item.display_send_date %></div>
    </div>
  </div>

  <% show_to_section = @item.to_members? %>
  <% show_cc_section = @item.cc_members? %>
  <% show_bcc_section = @item.bcc_members? && (@cur_folder.sent_box? || @cur_folder.draft_box?) %>
  <% if show_to_section || show_cc_section || show_bcc_section %>
    <div class="addresses">
      <% if show_to_section %>
        <div class="address">
          <div class="label"><%= @model.t :to_member_ids %></div>
          <div class="value"><%= gws_public_user_long_names(@item.display_to).join('; ') %></div>
        </div>
      <% end %>

      <% if show_cc_section %>
        <div class="address">
          <div class="label"><%= @model.t :cc_member_ids %></div>
          <div class="value"><%= gws_public_user_long_names(@item.display_cc).join('; ') %></div>
        </div>
      <% end %>

      <% if show_bcc_section %>
        <div class="address">
          <div class="label"><%= @model.t :bcc_member_ids %></div>
          <div class="value"><%= gws_public_user_long_names(@item.display_bcc).join('; ') %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @item.public? && @item.request_mdn_ids.include?(@cur_user.id) %>
    <div class="request-mdn-notice">
      <span class="message">
        <i class="material-icons md-18">info</i>
        <span><%= t("webmail.notice.requested_mdn") %></span>
      </span>
      <span class="action">
        <%= button_tag t("webmail.buttons.send_mdn"), "class" => "send-mdn", "href" => send_mdn_gws_memo_message_path %>
        <%= button_tag t("webmail.buttons.ignore_mdn"), "class" => "ignore-mdn", "href" => ignore_mdn_gws_memo_message_path %>
      </span>
    </div>
  <% end %>

  <% if @item.attachments.present? %>
    <div class="attachments">
      <% @item.attachments.each do |part| %>
        <div class="file">
          <%= link_to({action: :parts, section: part.section}, target: part.link_target) do %>
            <i class="material-icons md-18"><%= part.image? ? 'image' : 'insert_drive_file' %></i>
            <%= part.filename %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="addon-body">
    <% if @item.html? %>
      <div class="body body--html">
        <%= @item.sanitize_html %>
      </div>
    <% else %>
      <div class="body body--text"><%= auto_link br @item.text %></div>
    <% end %>
  </div>
</div>
