<div class="index gws-memos-index">
  <%= render file: '_list_head' %>
  <table class="list-items ss-messages gws-memos table">
    <thead class="list-item-head">
      <tr>
        <th><input type="checkbox"/></th>
        <th></th>
        <th></th>
        <% if @cur_folder.path == "INBOX.Sent" %>
          <th class="field to"><%= @model.t :to %><%== @cur_user.memo_message_sort_icon(@sort_hash, "to_member_name") %></th>
        <% else %>
          <th class="field from"><%= @model.t :from %><%== @cur_user.memo_message_sort_icon(@sort_hash, "from_member_name") %></th>
        <% end %>
        <th class="field title"><%= @model.t :subject %><%== @cur_user.memo_message_sort_icon(@sort_hash, "subject") %></th>
        <th class="field priority"><%= @model.t :priority %><%== @cur_user.memo_message_sort_icon(@sort_hash, "priority") %></th>
        <th class="field datetime"><%= @model.t :display_send_date %><%== @cur_user.memo_message_sort_icon(@sort_hash, "send_date") %></th>
        <th class="field size"><%= @model.t :size %><%== @cur_user.memo_message_sort_icon(@sort_hash, "size") %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @items.each do |item| %>
        <% if @cur_folder.sent_box? || @cur_folder.draft_box? %>
          <tr class="list-item seen">
        <% else %>
          <tr class="list-item <%= item.unseen?(@cur_user) ? 'unseen' : 'seen' %>">
        <% end %>

          <td class="check"><label><%= check_box_tag 'ids[]', item.id %></label></td>

          <td class="icon icon-star <%= item.star?(@cur_user) ? 'on' : 'off' %>">
            <%= link_to options={action: :toggle_star, id: item.id}, method: :post do %>
              <i class="material-icons md-18">&#xE838;</i>
            <% end %>
          </td>

          <td class="icon icon-attachment">
            <i class="material-icons md-15"><%== item.attachments? ? '&#xE226;' : '&nbsp;' %></i>
          </td>

          <% if @cur_folder.sent_box? %>
            <% addr = item.to_members? ? item.display_to.first : nil %>
            <td class="field to" title="<%= addr %>"><%= addr %></td>
          <% else %>
            <td class="field from" title="<%= item.from_member_name || t('gws/memo.no_senders') %>"><%= item.from_member_name || t('gws/memo.no_senders') %></td>
          <% end %>
          <td class="field title"><%= link_to item.display_subject, { action: :show, id: item.id }, title: item.display_subject %></td>
          <td class="field priority"><%= item.label :priority %></td>
          <td class="field datetime"><%= item.display_send_date %></td>
          <td class="field size"><%= item.display_size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @items if @items.try(:current_page) %>

<%= jquery do %>
  Gws_Memo_Message.render();

  <% if %w(INBOX.Sent INBOX.Draft).exclude?(params[:folder]) %>
    $(".list-item").draggable({
      zIndex: 100,
      opacity: 0.75,
      cursorAt: {top: 16, left: 5},
      helper: function(){
        var checkbox = $(this).find("label.check input[name='ids[]']");
        if (!checkbox.prop("checked")){ checkbox.prop("checked", true) };

        var checked = $(".list-item input:checkbox:checked");
        var helper = $('<div style="background-color: lightgreen; padding: 2px 10px;"></div>');
        helper.html(checked.length + "<%= t('gws/memo/message.select_check') %>");

        return helper;
      }
    });
  <% end %>

  $(".droppable").droppable({
    tolerance: "pointer",
    drop: function(e, obj){
      var to_folder = $(this).find("td a.title");
      var from_folder = "<%= @cur_folder.name %>";
      var drop_confirm = "";

      drop_confirm += "<%= t('gws/memo/message.confirm.move_drop.head') %>";
      drop_confirm += " \"" + from_folder + "\" ";
      drop_confirm += "<%= t('gws/memo/message.confirm.move_drop.to') %>";
      drop_confirm += " \"" + to_folder.text() + "\" ";
      drop_confirm += "<%= t('gws/memo/message.confirm.move_drop.tail') %>";

      var form = Gws_Memo_Message.buildForm("<%= move_all_gws_memo_messages_path(folder: params[:folder]) %>", drop_confirm);
      form.append($("<input/>", {name: "path", value: to_folder.attr("data-path"), type: "hidden"} ));
      form.appendTo(document.body).submit();
    }
  });

  <% if @cur_folder.path == "INBOX.Sent" %>
  $(".list-item-head .to").on("click", function() {
    location.href = "<%== gws_memo_messages_path(folder: @cur_folder.folder_path) + "?" + @cur_user.memo_message_sort_query(@sort_hash, "to_member_name").to_query %>";
    return false;
  });
  <% else %>
  $(".list-item-head .from").on("click", function() {
    location.href = "<%== gws_memo_messages_path(folder: @cur_folder.folder_path)  + "?" +  @cur_user.memo_message_sort_query(@sort_hash, "from_member_name").to_query %>";
    return false;
  });
  <% end %>
  $(".list-item-head .title").on("click", function() {
    location.href = "<%== gws_memo_messages_path(folder: @cur_folder.folder_path)  + "?" +  @cur_user.memo_message_sort_query(@sort_hash, "subject").to_query %>";
    return false;
  });
  $(".list-item-head .priority").on("click", function() {
    location.href = "<%== gws_memo_messages_path(folder: @cur_folder.folder_path)  + "?" +  @cur_user.memo_message_sort_query(@sort_hash, "priority").to_query %>";
    return false;
  });
  $(".list-item-head .datetime").on("click", function() {
    location.href = "<%== gws_memo_messages_path(folder: @cur_folder.folder_path)  + "?" +  @cur_user.memo_message_sort_query(@sort_hash, "send_date").to_query %>";
    return false;
  });
  $(".list-item-head .size").on("click", function() {
    location.href = "<%== gws_memo_messages_path(folder: @cur_folder.folder_path)  + "?" +  @cur_user.memo_message_sort_query(@sort_hash, "size").to_query %>";
    return false;
  });
<% end %>
