<div class="index">
  <%= jquery do %>
      Gws_Memo_Message.render();
  <% end %>
  <%= render file: '_list_head' %>
  <ul class="list-items ss-messages webmail-mails">
    <% @items.each do |item| %>
    <li class="list-item <%= item.unseen?(@cur_user) ? 'unseen' : 'seen' %>">
      <label class="check">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
      </label>

      <div class="icon icon-star <%= item.star?(@cur_user) ? 'on' : 'off' %>">
        <%= link_to action: :toggle_star, id: item.id do %>
            <i class="material-icons md-18">&#xE838;</i>
        <% end %>
      </div>

      <div class="icon icon-attachment">
        <i class="material-icons md-15"><%== item.attachments? ? '&#xE226;' : '&nbsp;' %></i>
      </div>

      <div class="info">
        <span class="field from"><%= item.display_sender.join(';') %></span>
        <%= link_to item.display_subject, { action: :show, id: item.id }, class: 'field title' %>
        <span class="field datetime"><%= tryb { item.updated.strftime('%Y/%m/%d %H:%M') } %></span>
        <span class="field size"><%= item.display_size %></span>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<%= paginate @items if @items.try(:current_page) %>
