<%= jquery do %>
<% end %>

<div class="index">
  <%= render file: 'webmail/mails/_list_head' %>
  <ul class="list-items ss-messages webmail-mails">
    <% @items.each do |item| %>
    <li class="list-item">
      <label class="check">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
      </label>

      <div class="icon icon-attachment">
        <i class="material-icons md-15"><%== item.attachments? ? '&#xE226;' : '&nbsp;' %></i>
      </div>

      <div class="info">
        <span class="field from"><%= item.display_sender.join(';') %></span>
        <%= link_to item.display_subject, { action: :show, id: item.id }, class: 'field title' %>
        <span class="field datetime"><%= tryb { item.updated.strftime('%Y/%m/%d %H:%M') } %></span>
        <span class="field size"><%= item.display_size %></span>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
