<%= jquery do %>
  Gws_Memo_Message.render();
  $("#addon-gws-agents-addons-member").hide();

  var highlighter = new Gws_Elasticsearch_Highlighter();
  highlighter.render();
<% end %>

<div class="addon-views">
  <div class="addon-view gws-memo" id="message-<%= @item.id %>">
    <div class="addon-head">
      <span class="icon-star <%= @item.star?(@cur_user) ? 'on' : 'off' %>">
        <i class="material-icons">&#xE838;</i>
      </span>

      <h2 class="subject">
        <%= @item.display_subject %>
        <span class="icon-attachment">
          <i class="material-icons"><%== @item.attachments? ? '&#xE226;' : '' %></i>
        </span>
      </h2>
      <div class="from"><%= @item.user.long_name %></div>
      <div class="date"><%= @item.display_send_date %></div>
    </div>

    <% if @item.to.present? %>
      <div class="addresses">
        <div class="address">
          <div class="label"><%= @model.t :member_ids %></div>
          <div class="value"><%= @item.display_to.join('; ') %></div>
        </div>
      </div>
    <% end %>

    <% if @item.attachments.present? %>
      <div class="attachments">
        <% @item.attachments.each do |part| %>
          <div class="file">
            <%= link_to({action: :parts, section: part.section}, target: part.link_target) do %>
              <i class="material-icons md-18"><%== part.image? ? '&#xE3F4;' : '&#xE24D;' %></i>
              <%= part.filename %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="addon-body">
      <% if @item.html? %>
        <div class="body body--html"><%= @item.sanitize_html %></div>
      <% else %>
        <div class="body body--text"><%= br @item.text %></div>
      <% end %>
    </div>
  </div>

  <%= render file: '_addons_show', locals: {addons: @item.class.addons} %>
</div>
