<%= coffee do %>
$ ->
  @deleteContent = (id) ->
    $(".file-view").each ->
      $(this).remove() if id == $(this).find(".photo-id").attr("value")

<% end %>

<dl class="see mod-photo spot">
  <dd class="wide">
    <%= f.hidden_field "photo_ids[]", value: "" %>
    <%= link_to "ページを選択", member_apis_photos_path(@cur_site), class: "ajax-box btn" %>

   <div id="selected-member-photos">
      <% @item.member_photos.each do |item| %>
        <article class="file-view member-photo">
          <%= hidden_field_tag "item[member_photo_ids][]", item.id, class: "photo-id" %>
          <div class="thumb">
            <%= image_tag item.image.thumb_url, alt: item.name %>
          </div>
          <div class="name">
            <%= item.name %>
          </div>
          <div class="action delete">
            <%= link_to t("views.button.delete"), "#", :onclick => "deleteContent('#{item.id}'); return false;" %>
          </div>
        </article>
      <% end %>
    </div>
  </dd>
</dl>
