<% return "" if @item.member_photos.blank? %>

<dl class="see mod-photo spot">
  <dd class="wide">
    <div id="selected-files">
      <% @item.member_photos.each do |item| %>
        <article class="file-view member-photo" data-file-id="<%= item.id %>">
          <%= link_to item.image.url, class: :thumb, target: "_blank" do %>
            <% if item.image.image? %>
              <%= image_tag item.image.thumb_url, alt: item.name %>
            <% else %>
              <span class="ext icon-<%= item.image.extname %>"><%= item.image.extname %></span>
            <% end %>
          <% end %>
          <div class="name">
            <%= item.name %>
          </div>
        </article>
      <% end %>
    </div>
  </dd>
</dl>
