<%= coffee do %>
$ ->
  @insertContent = (cont) ->
    if (typeof tinymce) != "undefined"
      tinymce.get("item_html").execCommand("mceInsertContent", false, cont)
    else if (typeof CKEDITOR != "undefined")
      CKEDITOR.instances.item_html.insertHtml(cont)

  @deleteContent = (id) ->
    $(".file-view").each ->
      $(this).remove() if id == $(this).find("input[type=checkbox]").attr("value")

<% end %>

<dl class="see">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "" %>

    <%= link_to :upload, sns_user_temp_files_path(@cur_user), class: "ajax-box" %>
    <%= link_to :"sns.user_file", sns_user_ajax_files_path(@cur_user), class: "ajax-box" %>

    <div id="selected-files">
      <% @item.files.each do |file| %>
      <div class="file-view">
        <a class="thumb" href="/fs/<%= file.id %>/<%= file.filename %>" target="_blank">
          <% if file.image? %>
          <img src="/fs/<%= file.id %>/thumb/<%= file.filename %>" alt="<%= file.basename %>" />
          <% else %>
          <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
          <% end %>
        </a>
        <div class="name">
          <label>
            <%= f.check_box "file_ids[]", {}, file.id %>
            <%= file.basename %>
          </label><br />
        </div>
        <div class="action paste">
          <% content = link_to "#{file.filename} (#{file.extname.upcase} #{number_to_human_size(file.size)})", "/fs/#{file.id}/#{file.filename}", class: "icon-#{file.extname}" %>
          <%= link_to :"sns.file_attach", "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
          <% if file.image? %>
            <% content = image_tag "/fs/#{file.id}/#{file.filename}", alt: "#{file.basename}" %>
            <%= link_to :"sns.image_paste", "#", :onclick => "insertContent('#{escape_javascript(content)}'); return false;" %>
          <% end %>
          <div class="action delete">
            <%= link_to t("views.button.delete"), "#", :onclick => "deleteContent('#{file.id}'); return false;" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </dd>
</dl>
