<% @s = OpenStruct.new params[:s] %>
<div class="opendata-datasets datasets">
  <%= form_for :s, url: @cur_node.url, html: { class: "opendata-search-datasets-form", method: :get } do |f| %>
    <dl>
      <dt><%= f.label :sort, t("opendata.labels.sort") %></dt>
      <dd><%= f.select :sort, Opendata::Dataset.sort_options %></dd>
    </dl>
    <dl>
      <dt><%= f.label :keyword, t("opendata.labels.keyword") %></dt>
      <dd><%= f.text_field :keyword %></dd>
    </dl>
    <div class="send">
      <%= submit_tag(t("ss.buttons.search"), name: :search) %>
    </div>
    <div class="bulk-download">
      <%= render template: "_download" %>
    </div>
  <% end %>

  <% if @items.present? %>
    <table class="opendata-datasets index">
      <tr>
        <td class="released"><%= @model.t :released %></td>
        <td class="name"><%= t('opendata.labels.dataset_name') %></td>
        <td class="favorite"></td>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td class="released"><%= I18n.l(item.released, format: t("opendata.labels.updated")) %></td>
          <td class="name">
            <% if item.public? %>
              <%= link_to item.name, item.url %>
            <% else %>
              <%= item.name %>
            <% end %>
          </td>
          <td class="favorite">
            <%= link_to t("opendata.labels.delete_favorite_dataset"), ::File.join(@cur_node.url, item.id.to_s, "remove"), class: "remove-favorite", method: "post" %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @items if @items.try(:current_page) %>
  <% else %>
    <div class="empty"><%= t("opendata.labels.no_favorite_datasets") %></div>
  <% end %>
</div>
