<dl class="see">
  <dt><%= @model.t :member_id %></dt>
  <dd>
    <%= f.hidden_field "member_id", value: "", class: "hidden-ids" %>
    <%= link_to :"cms.apis.members.index", cms_apis_members_path(single: 1), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Cms::Member.t :name %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% member = @item.member %>
      <% if member.present? %>
        <tr data-id="<%= member["id"] %>">
          <td><%= f.hidden_field "member_id", value: member["id"] %> <%= member["name"] %></td>
          <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :state %></dt>
  <dd><%= f.select :state, @item.state_options, include_blank: true %></dd>
</dl>
