<%= scss do %>
.opendata-csv2rdf-settings-class-search {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #dedede;
}
<% end %>

<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="opendata-csv2rdf-settings-class-search">
      <dl class="see rdf-search-classes-search-options">
        <dt><%= t "rdf.apis.search_options.vocab" %></dt>
        <dd><%= select_tag "s[vocab]", options_for_select(vocab_options, params[:s].try(:[], :vocab)) %></dd>
        <dt><%= t "rdf.apis.search_options.name" %></dt>
        <dd><%= text_field_tag "s[name]", params[:s].try(:[], :name) %></dd>
        <dd><%= link_to(t("rdf.apis.search_options.search"), { action: params[:action] }, { class: "opendata-csv2rdf-settings-class-search__search cboxElement" }) %></dd>
      </dl>
    </div>

    <%= form_for :item, url: { action: params[:action] }, html: { id: "item-form", multipart: true, autocomplete: :off } do |f| %>
      <table class="index opendata-csv2rdf-settings-class-list">
        <thead>
        <tr>
          <th class="checkbox"></th>
          <th class="name"><%= Rdf::Class.t :name %></th>
          <th><%= Rdf::Class.t :comment %></th>
        </tr>
        </thead>
        <tbody class="items">
        <% classes.each do |item| %>
          <tr data-id="<%= item.id %>" data-uri="<%= "#{item.vocab.uri}#{item.name}" %>">
            <td class="checkbox"><%= f.radio_button(:class_id, item.id, checked: @item.class_id == item.id) %></td>
            <td class="name"><%= link_to "#{item.vocab.prefix}:#{item.name}", action: :rdf_class_preview, rdf_cid: item.id, s: params[:s] %></td>
            <td><%= item.comment %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= paginate classes if classes.try(:current_page) %>

      <footer class="send">
        <%= f.submit t("opendata.button.next"), class: :save %>
        <%= f.button t("opendata.button.back"), type: :reset, onclick: "location.href='#{prev_url}'; return false;" %>
      </footer>

      <%= f.hidden_field "xxxxx", value: "" %>
    <% end %>
  </div>
</div>


<%= coffee do %>
$ ->
  $(".opendata-csv2rdf-settings-class-search__search").on "click", (e) ->
    location.href = "#{$(this).attr('href')}?s[vocab]=#{$("select[name='s[vocab]'").val()}&s[name]=#{$("input[name='s[name]'").val()}"
    e.preventDefault();
    false
<% end %>
