<nav class="mod-navi">
  <h2><%= link_to t("modules.gws/monitor"), gws_monitor_main_path %></h2>
  <h2><%= t("ss.management") %></h2>

  <% if Gws::Monitor::Topic.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/monitor.tabs.management_admin'), gws_monitor_management_admins_path %></h3>
    <h3><%= link_to t('gws/monitor.tabs.management_trash'), gws_monitor_management_trashes_path %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
