<%= jquery do %>
Gws_Monitor_View.renderTabs('.gws-monitor-tabs');
<% end %>

<div class="gws-monitor-tabs">
  <%= link_to gws_monitor_management_topics_path, class: "article_management" do %>
    <span class="tab-name"><%= t('gws/monitor.tabs.article_management') %></span>
  <% end %>
  <%= link_to gws_monitor_management_trashes_path, class: "trash" do %>
    <span class="tab-name"><%= t('gws/monitor.tabs.trash') %></span>
  <% end %>
</div>
