<html>
<head>
  <meta name="viewport"
  content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=0.25,maximum-scale=2.0">
  <link href="/css/style.css" media="all" rel="stylesheet" />
  <script src="/js/common.js"></script>
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/selectivizr.js"></script>
  <![endif]-->
</head>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<title><%= @item.name %></title>
<link data-turbolinks-track="true" href="/assets/css/jquery-ui/pepper-grinder/custom.min.css" media="all" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="/assets/js/IE9.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= javascript_include_tag "ss/ss", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>

<link href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<script src="/assets/js/jquery.colorbox.js"></script>
<%= coffee do %>
$ ->
  # show point
  $.ajax
    url: "<%= @item.point_url %>"
    success: (data)->
      $(".point").html data
<% end %>

<div class="appheder">

  <div class="btn-app">
    <input type="button" value="アプリの説明" onClick="location.href='/app/<%= @item.id %>.html'">
  </div>

<%= @item.name %>

<div class="point">
  <div class="count">
    <span class="number"><%= @item.point %></span>
    <span class="label">いいね！数</span>
  </div>
</div>

<div class="text">
  <%= auto_link br(@item.text) %>
</div>

<% if @app_html.present? %>
  <%= render partial: "opendata/appscripts/app" %>
<% end %>

</body>
</html>
