<table class="columns column">
  <caption><%= @cur_node.name %></caption>
  <thead>
  <tr>
    <th><%= t('garbage.remark_id') %></th>
    <th><%= t('garbage.attention') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @cur_node.remark_id %></td>
    <td><%= @cur_node.attention %></td>
  </tr>
  </tbody>
</table>