<%= jquery do %>
Gws_Circular_View.renderTabs('.gws-circular-tabs');
<% end %>

<div class="gws-circular-tabs">
  <%= link_to gws_circular_posts_path, class: "post" do %>
    <span class="tab-name"><%= t('gws/circular.tabs.post') %></span>
  <% end %>
  <%= link_to gws_circular_admins_path, class: "admin" do %>
    <span class="tab-name"><%= t('gws/circular.tabs.admin') %></span>
  <% end %>
</div>
