<%= jquery do %>
  var portal = new Gws_Portal(".gws-portlets", { max_rows: <%= SS.config.gws.portal.dig("portlet_settings", "max_rows") || 15 %> });
  portal.setSerializeEvent('.gws-portlets-serialize');
  portal.setResetEvent('.gws-portlets-reset');
  portal.addItems(<%== @items.to_json %>);
<% end %>

<div class="gridster gws-portlets gws-portlets-layouts">
  <ul class="portlets"></ul>

  <% @items.each do |item| %>
  <div class="portlet-html <%= item.portlet_id_class %> <%= item.portlet_model_class %>" data-id="<%= item.id %>">
    <% if @portal_user.present? %>
      <%= link_to t('ss.links.edit'), gws_portal_user_portlet_path(id: item), class: 'edit-portlet' %>
    <% else %>
      <%= link_to t('ss.links.edit'), gws_portal_group_portlet_path(id: item), class: 'edit-portlet' %>
    <% end %>

    <% @portlet = item %>
    <%= render template: item.view_template if item.view_template %>
  </div>
  <% end %>
</div>

<% if @items.blank? %>
<div class="main-box">
  <%= t('gws/portal.messages.no_portlets') %>
</div>
<% end %>
