<% file = item.file %>
<% return unless file %>

<swiper-slide class="ss-swiper-slide-item" data-ss-page-id="<%= item.id %>" lazy="true">
  <% if item.link_url.present? %>
    <%= link_to item.link_url, class: "ss-swiper-slide-item-link", target: @cur_part.link_target, rel: @cur_part.link_target.present? ? "noopener" : nil do %>
      <%= image_tag file.url, alt: item.name, class: "ss-swiper-slide-item-image", loading: "lazy" %>
    <% end %>
  <% else %>
    <%= image_tag file.url, alt: item.name, class: "ss-swiper-slide-item-image", loading: "lazy" %>
  <% end %>
  <% if item.display_remarks.present? %>
    <div class="slide-remark">
      <% if item.display_remarks.include?("title") %>
        <div class="title"><%= item.name %></div>
      <% end %>
      <% if item.display_remarks.include?("remark") %>
        <div class="remark"><%=br item.remark %></div>
      <% end %>
    </div>
  <% end %>
</swiper-slide>
