<% file = item.file %>
<% return unless file %>

<div class="swiper-slide ss-swiper-slide-item" data-ss-page-id="<%= item.id %>">
  <% if item.link_url.present? %>
    <%= link_to item.link_url, class: "ss-swiper-slide-item-link", target: @cur_part.link_target, rel: @cur_part.link_target.present? ? "noopener" : nil do %>
      <%= image_tag file.url, alt: item.name, class: "ss-swiper-slide-item-image" %>
    <% end %>
  <% else %>
    <%= image_tag file.url, alt: item.name, class: "ss-swiper-slide-item-image" %>
  <% end %>
  <% if item.remark.present? %>
    <div class="slide-remark">
      <div class="title"><%= item.name %></div>
      <div class="remark"><%=br item.remark %></div>
    </div>
  <% end %>
</div>
