<%= jquery do %>
  //SS_AddonTabs.hide(".gws-addon-member");
  $('.sortable-index tbody').sortable();
<% end %>

<div class="gws-addon-member">
  <dl class="see">
    <dt><%= @model.t :to_member_ids %><%= @model.tt :to_member_ids %></dt>
    <dd>
      <%= f.hidden_field "to_member_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
      <%= link_to t("mongoid.models.webmail/address"), gws_memo_apis_personal_addresses_path, class: "ajax-box" %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected sortable-index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
          <% @item.to_members.each do |user| %>
          <tr data-id="<%= user.id %>">
            <td><%= f.hidden_field "to_member_ids[]", value: user.id, id: nil %> <%= user.long_name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>

  <dl class="see">
    <dt><%= @model.t :cc_member_ids %><%= @model.tt :cc_member_ids %></dt>
    <dd>
      <%= f.hidden_field "cc_member_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
      <%= link_to t("mongoid.models.webmail/address"), gws_memo_apis_personal_addresses_path, class: "ajax-box" %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected sortable-index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        <% @item.cc_members.each do |user| %>
            <tr data-id="<%= user.id %>">
              <td><%= f.hidden_field "cc_member_ids[]", value: user.id, id: nil %> <%= user.long_name %></td>
              <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  </dl>

  <dl class="see">
    <dt><%= @model.t :bcc_member_ids %><%= @model.tt :bcc_member_ids %></dt>
    <dd>
      <%= f.hidden_field "bcc_member_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
      <%= link_to t("mongoid.models.webmail/address"), gws_memo_apis_personal_addresses_path, class: "ajax-box" %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected sortable-index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        <% @item.bcc_members.each do |user| %>
            <tr data-id="<%= user.id %>">
              <td><%= f.hidden_field "bcc_member_ids[]", value: user.id, id: nil %> <%= user.long_name %></td>
              <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</div>
