<%= jquery do %>
  $('.sortable-index tbody').sortable();
<% end %>

<%
show_shared_addr = Gws::SharedAddress::Address.allowed?(:read, @cur_user, site: @cur_site)
show_shared_addr = false unless @cur_site.menu_shared_address_visible?
show_personal_addr = @cur_user.gws_role_permit_any?(@cur_site, :edit_gws_personal_addresses)
%>

<div class="gws-addon-memo-member">
  <dl class="see to">
    <dt><%= @model.t :to_member_ids %><%= @model.tt :to_member_ids %></dt>
    <dd>
      <%= f.hidden_field "in_to_members[]", value: "", class: "hidden-ids" %>
      <%= link_to t("gws.organization_addresses"), gws_apis_users_path(site: @cur_site), class: "ajax-box" %>
      <%= link_to t("modules.gws/shared_address"), gws_memo_apis_shared_addresses_path(site: @cur_site), class: "ajax-box" if show_shared_addr %>
      <%= link_to t("mongoid.models.webmail/address"), gws_memo_apis_personal_addresses_path, class: "ajax-box" if show_personal_addr %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected sortable-index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
          <% @item.sorted_to_members.each do |user| %>
          <tr data-id="<%= user.id %>">
            <td><%= f.hidden_field "in_to_members[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
          <% @item.to_webmail_address_groups.each do |group| %>
          <tr data-id="webmail_group:<%= group.id %>">
            <td><%= f.hidden_field "in_to_members[]", value: "webmail_group:#{group.id}", id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
          <% @item.to_shared_address_groups.each do |group| %>
          <tr data-id="shared_group:<%= group.id %>">
            <td><%= f.hidden_field "in_to_members[]", value: "shared_group:#{group.id}", id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>

  <% if cc_blank = @item.cc_members.blank? && @item.bcc_members.blank? %>
    <a class="cc-bcc-label" href="#">[ <%= t 'webmail.links.show_cc_bcc' %> ]</a>
  <% end %>

  <dl class="see cc-bcc cc"<% if cc_blank %> style="display: none;"<% end %>>
    <dt><%= @model.t :cc_member_ids %><%= @model.tt :cc_member_ids %></dt>
    <dd>
      <%= f.hidden_field "in_cc_members[]", value: "", class: "hidden-ids" %>

      <%= link_to t("gws.organization_addresses"), gws_apis_users_path(site: @cur_site), class: "ajax-box" %>
      <%= link_to t("modules.gws/shared_address"), gws_memo_apis_shared_addresses_path(site: @cur_site), class: "ajax-box" if show_shared_addr %>
      <%= link_to t("mongoid.models.webmail/address"), gws_memo_apis_personal_addresses_path, class: "ajax-box" if show_personal_addr %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected sortable-index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        <% @item.sorted_cc_members.each do |user| %>
            <tr data-id="<%= user.id %>">
              <td><%= f.hidden_field "in_cc_members[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
              <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
            </tr>
        <% end %>
        <% @item.cc_webmail_address_groups.each do |group| %>
          <tr data-id="webmail_group:<%= group.id %>">
            <td><%= f.hidden_field "in_cc_members[]", value: "webmail_group:#{group.id}", id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        <% @item.cc_shared_address_groups.each do |group| %>
          <tr data-id="shared_group:<%= group.id %>">
            <td><%= f.hidden_field "in_cc_members[]", value: "shared_group:#{group.id}", id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  </dl>

  <dl class="see cc-bcc bcc"<% if cc_blank %> style="display: none;"<% end %>>
    <dt><%= @model.t :bcc_member_ids %><%= @model.tt :bcc_member_ids %></dt>
    <dd>
      <%= f.hidden_field "in_bcc_members[]", value: "", class: "hidden-ids" %>

      <%= link_to t("gws.organization_addresses"), gws_apis_users_path(site: @cur_site), class: "ajax-box" %>
      <%= link_to t("modules.gws/shared_address"), gws_memo_apis_shared_addresses_path(site: @cur_site), class: "ajax-box" if show_shared_addr %>
      <%= link_to t("mongoid.models.webmail/address"), gws_memo_apis_personal_addresses_path, class: "ajax-box" if show_personal_addr %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected sortable-index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        <% @item.sorted_bcc_members.each do |user| %>
            <tr data-id="<%= user.id %>">
              <td><%= f.hidden_field "in_bcc_members[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
              <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
            </tr>
        <% end %>
        <% @item.bcc_webmail_address_groups.each do |group| %>
          <tr data-id="webmail_group:<%= group.id %>">
            <td><%= f.hidden_field "in_bcc_members[]", value: "webmail_group:#{group.id}", id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        <% @item.bcc_shared_address_groups.each do |group| %>
          <tr data-id="shared_group:<%= group.id %>">
            <td><%= f.hidden_field "in_bcc_members[]", value: "shared_group:#{group.id}", id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</div>
