<% limit = SS.config.job.head_logs || 1_000 %>

<%= jquery do %>
  if ($(".state").html().match(/(ready|running)/)) {
    $(".reset-state").show();
  } else {
    $(".reset-state").hide();
  }

  $(".reset-state").on("click", function() {
    $.ajax({
      type: "POST",
      url: "<%= url_for(action: :reset_state, format: :json) %>",
      success: function(data) {
        $(".state").text(data.state)
        if ($(".state").html().match(/(ready|running)/)) {
          $(".reset-state").show();
        } else {
          $(".reset-state").hide();
        }
      }
    });
  });
<% end %>

<dl class="see">
  <dt><%= @model.t :site_id %></dt>
  <dd><%= tryb { @item.site.name } %></dd>

  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <dt><%= @model.t :segment %></dt>
  <dd><%= @item.segment %></dd>

  <dt><%= @model.t :state %></dt>
  <dd>
    <span class="state"><%= @item.state %></span>
    <%= button_tag t('job.buttons.reset'), class: 'btn reset-state', type: :reset, style: 'display: none' %>
  </dd>

  <dt><%= @model.t :interrupt %></dt>
  <dd><%= @item.interrupt %></dd>

  <dt><%= @model.t :started %></dt>
  <dd>
    <%= @item.started.try do |time| %>
      <%= content_tag("time", I18n.l(time, format: :picker), datetime: time.iso8601, title: time.iso8601) %>
      <%= link_to(t("ss.buttons.copy"), "#", class: "clipboard-copy-button", data: { text: time.iso8601 }) %>
    <% end %>
  </dd>

  <dt><%= @model.t :closed %></dt>
  <dd>
    <%= @item.closed.try do |time| %>
      <%= content_tag("time", I18n.l(time, format: :picker), datetime: time.iso8601, title: time.iso8601) %>
      <%= link_to(t("ss.buttons.copy"), "#", class: "clipboard-copy-button", data: { text: time.iso8601 }) %>
    <% end %>
  </dd>

  <dt><%= @model.t :total_count %></dt>
  <dd><%= @item.total_count %></dd>

  <dt><%= @model.t :current_count %></dt>
  <dd><%= @item.current_count %></dd>

  <dt><%= @model.t :logs %></dt>
  <dd>
    <%= t('job.log_notice', count: limit) %>
    <%= text_area_tag :logs, safe_join(@item.head_logs(limit), "\n"), readonly: true, style: "height: 400px" %>
    <% if ::File.exist?(@item.log_file_path) %>
      <%= link_to(t('job.download_log'), { action: :download }, { class: :btn }) %>
    <% end %>
  </dd>
</dl>

<%= jquery do %>
  SS_Clipboard.renderCopy();
<% end %>
