<%= jquery do %>
  $('#imap-test').click(function() {
    $.ajax({
      url: '<%= url_for action: :test_connection %>',
      method: 'POST',
      data: {
        item: {
          imap_host: $('#item_imap_host').val(),
          imap_auth_type: $('#item_imap_auth_type').val(),
          imap_account: $('#item_imap_account').val(),
          in_imap_password: $('#item_in_imap_password').val(),
        }
      },
      beforeSend: function(data) {
        $('#imap-test-resp').html('Connecting ...');
      },
      success: function(data) {
        $('#imap-test-resp').html(data);
      },
      error: function(data) {
        $('#imap-test-resp').html('Error');
      },
    });
  });
<% end %>

<% default = t('webmail.default_settings') %>

<dl class="see mod-webmail-account">
  <%= f.text_field :imap_account, value: '', id: 'tmp1', style: 'display: none;' %>
  <%= f.text_field :in_imap_password, value: '', id: 'tmp2', style: 'display: none;' %>

  <dt><%= @model.t :imap_host %><%= @model.tt :imap_host %></dt>
  <dd><%= f.text_field :imap_host, placeholder: default %></dd>

  <dt><%= @model.t :imap_auth_type %><%= @model.tt :imap_auth_type %></dt>
  <dd><%= f.select :imap_auth_type, @item.imap_auth_type_options, include_blank: default %></dd>

  <dt><%= @model.t :imap_account %><%= @model.tt :imap_account %></dt>
  <dd><%= f.text_field :imap_account, placeholder: default %></dd>

  <dt><%= @model.t :in_imap_password %><%= @model.tt :in_imap_password %></dt>
  <dd><%= f.password_field :in_imap_password, value: @item.decrypt_imap_password, placeholder: default %></dd>

  <dt></dt>
  <dd>
    <%= button_tag t('webmail.buttons.test_connection'), id: 'imap-test', type: :button %>
    <span id="imap-test-resp" style="margin-left: 10px;"></span>
  </dd>
</dl>
