<%

return if @items.blank?

wrap_id = "ads-banners-#{@items[0].id}"

%><div class="ads-banners" id="<%= wrap_id %>">
  <% @items.each do |item| %>
  <a href="<%= item.url %>" target="_blank">
    <% if file = item.file %>
      <%= image_tag file.url, alt: item.name, title: item.name %>
    <% else %>
      <%= item.name %>
    <% end %>
  </a>
  <% end %>
</div>

<% if @random %>
<%= coffee do %>
wrap = $("#<%= wrap_id %>")
list = wrap.find("a")
list = list.sort ->
  return Math.random() - .5
list.each ->
  wrap.append $(this)
<% end %>
<% end %>
