<%

releasable = false
closeable = false
if @model.include?(Cms::Addon::Release)
  releasable = @model.allowed?(:release, @cur_user, site: @cur_site, owned: true)
  closeable = @model.allowed?(:close, @cur_user, site: @cur_site, owned: true)
elsif @model.include?(Cms::Model::Node)
  releasable = @model.allowed?(:edit, @cur_user, site: @cur_site, owned: true)
  closeable = releasable
end

%>
<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <%= render template: "_list_head_tags" %>
    <div class="list-head-action-destroy">
      <%= ss_button_to t("ss.links.delete"), "", class: "destroy-all btn btn-list-head-action", method: "delete", confirm: t('ss.confirm.delete') %>
    </div>
    <% if releasable || closeable %>
      <div class="list-head-action-update">
        <%= ss_button_to t("ss.links.make_them_public"), "",
          class: "change-state-all btn btn-list-head-action", method: "put", params: { state: 'public' } if releasable %>
        <%= ss_button_to t("ss.links.make_them_close"), "",
          class: "change-state-all btn btn-list-head-action", method: "put", params: { state: 'closed' } if closeable %>
      </div>
    <% end %>
  </div>

  <%= render template: "_search" %>
</div>
