<%= form_for :item, url: { action: :update }, html: { id: "item-form", method: :put, multipart: true } do |f| %>
<%= error_messages_for :item %>

<%= hidden_field_tag :_updated, params[:_updated] || @item.updated if @item.respond_to?(:updated) %>

<% addons = @model && @model.addons %>
<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <% if addons.size > 0 %><header><h2><%= t :basic_info %></h2></header><% end %>
    <%= render file: '_form', locals: { f: f } %>
  </div>
  <%= render file: "_addons_form", locals: { f: f, addons: addons } if addons.size > 0 %>
</div>

<footer class="send">
  <%= f.submit t("views.button.save"), class: :save %>
  <%= f.button t("views.button.cancel"), onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>

<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
