<%= form_for :item, url: { action: :import }, html: { id: "item-form", method: :post, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t("ss.import") %></h2></header>

    <dl class="see">
      <dt><%= t "ss.file" %><%= @model.tt :in_file %></dt>
      <dd>
        <%= f.hidden_field "item[in_file]", value: "" %>
        <%= f.file_field :in_file %>
      </dd>
      <% download_template_path = url_for(action: :download_template) rescue nil %>
      <% if download_template_path.present? %>
        <dd><%= link_to t('ss.links.download_template'), download_template_path %></dd>
      <% end %>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit t("ss.import"), class: :save, data: { confirm: I18n.t("ss.confirm.import") } %>
    <%= f.button t("ss.buttons.cancel"), onclick: "location.href='#{url_for(action: :index)}'; return false;", class: "btn-default" %>
  </footer>
<% end %>
