<% addons = @addons || @item.try(:addons) || [] %>

<div id="wrap">
  <div class="wrap d-flex flex-wrap">
    <article id="main">
      <div class="wrap d-flex">
        <div class="wrap-body">
          <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
          <div id="menu"><%= render partial: "menu" %></div>
          <% elsif controller.menu_view_file %>
          <div id="menu"><%= render partial: controller.menu_view_file %></div>
          <% end %>

          <div class="addon-views">
            <div class="addon-view mb-5" id="addon-basic">
              <% if addons.size > 0 %><div class="addon-head"><h2><%= t "ss.basic_info"%></h2></div><% end %>
              <div class="addon-body">
                <%= render file: "_show" %>
              </div>
            </div>
            <%= render file: "_addons_show", locals: { addons: addons } if addons.size > 0 %>
          </div>
        </div>

        <%= render file: "_addon_navi" %>
      </div>
    </article>
  </div>
</div>
