<dl class="condition">
  <dt class="category"><%= t("facility.category.name") %></dt>
  <dd><%= @categories.pluck(:name).join("、") %></dd>
  <dt class="service"><%= t("facility.service.name") %></dt>
  <dd><%= @services.pluck(:name).join("、") %></dd>
  <dt class="location"><%= t("facility.location.name") %></dt>
  <dd><%= @locations.pluck(:name).join("、") %></dd>
</dl>

<nav class="setting"><%= link_to t("facility.submit.change"), "#", class: "ajax-box" %></nav>

<section class="result">
  <h2>
    <%= t("facility.result") %><span class="number"><%= @items.count %></span><%= t("facility.count") %>
  </h2>
</section>

<nav class="tabs">
  <ul>
    <% query = params.select{ |k, v| %(category_ids service_ids location_ids).index(k) }.to_query %>
    <li class="tab map<%= current == "map" ? " current" : "" %>">
      <%= link_to t("facility.tab.map"), "./map.html?#{query}" %>
    </li>
    <li class="tab list<%= current == "result" ? " current" : "" %>">
      <%= link_to t("facility.tab.result"), "./result.html?#{query}" %>
    </li>
  </ul>
</nav>
