<%= form_with scope: :item, url: url_for(action: :create), html: { method: "post", id: "item-form", multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views chorg-before">
    <h2 style="display: flex; padding: 15px 0; font-size: 150%; font-weight: bold">
      <span class="material-icons-outlined" style="margin-right: 10px;">article</span>
      <%= t("chorg.views.unify_changesets.before_unify") %>
    </h2>

    <%=
      { id: "chorg-before-basic", class: "chorg-before-basic" }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options do
          render "form_before", f: f, addon: addon_options
        end
      end
    %>
  </div>

  <div style="display: flex; justify-content: center; font-size: 400%;">
    <%= f.button name: "reload", class: "btn-icon btn-reload", title: t("chorg.buttons.reset_after_unify"), aria: { label: t("chorg.buttons.reset_after_unify") }, data: { confirm: t("chorg.confirm.reset_after_unify") } do %>
      <span class="material-icons-outlined" style="display: block; font-size: 100%;">arrow_circle_down</span>
    <% end %>
  </div>

  <div class="addon-views chorg-after">
    <h2 style="display: flex; padding: 15px 0; font-size: 150%; font-weight: bold">
      <span class="material-icons-outlined" style="margin-right: 10px;">article</span>
      <%= t("chorg.views.unify_changesets.after_unify") %>
    </h2>

    <%=
      { id: "chorg-after-basic", class: "chorg-after-basic", head: t("ss.basic_info") }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options do
          render "chorg/frames/changesets/main/form_basic", f: f, addon: addon_options
        end
      end
    %>
    <%=
      { id: "chorg-after-ldap", class: "chorg-after-ldap", head: t("modules.addons.ldap/group"), toggle: true }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options do
          render "chorg/frames/changesets/main/form_ldap", f: f, addon: addon_options
        end
      end
    %>
    <%=
      { id: "chorg-after-contact", class: "chorg-after-contact", head: t("modules.addons.contact/group"), toggle: true }.then do |addon_options|
        render "ss/crud/addon", addon: addon_options, data: SS::StimulusHelper::Utils.convert_to_data_params("contact/addon/group") do
          render "chorg/frames/changesets/main/form_contact", f: f, addon: addon_options
        end
      end
    %>
  </div>

  <footer class="send ss-sticky ss-sticky-bottom">
    <%= f.submit t("ss.buttons.save"), class: 'btn-primary save', data: { disable_with: t("ss.buttons.saving") } %>
    <%= link_to t("ss.buttons.cancel"), chorg_revision_path(id: cur_revision), class: 'btn-default' %>
  </footer>
<% end %>

<%= jquery do %>
  SS.confirmUnloading();

  var eventHooked = false;
  $("#chorg-before-basic .ajax-selected").on("change", function() {
    if (!eventHooked) {
      eventHooked = true;
      $(document).one("cbox_closed", function() {
        $(".btn-reload").click();
        eventHooked = false;
      });
    }
  });
<% end %>
