<%
now = Time.zone.now
after_1day = now + 1.day
after_2days = now + 2.days
after_3days = now + 3.days
@list_class = proc do |item|
  ret = %w(list-item survey-item)

  if item.answered?(@cur_user)
    ret << 'answered'
  else
    ret << 'unanswered'
    if now >= item.due_date
      ret << 'over-limit'
    elsif after_1day >= item.due_date
      ret << 'near-limit'
      ret << 'near-limit-1'
    elsif after_2days >= item.due_date
      ret << 'near-limit'
      ret << 'near-limit-2'
    elsif after_3days >= item.due_date
      ret << 'near-limit'
      ret << 'near-limit-3'
    end
  end

  ret
end
%>
<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), edit_gws_survey_readable_file_path(readable_id: item) if item.allowed?(:read, @cur_user, site: @cur_site) %>
<% end %>

<% @index_check = proc do |item| %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to item.name, edit_gws_survey_readable_file_path(readable_id: item), class: "title" %>
  <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="user"><%= item.contributor_name.presence || item.user_long_name %></span>
  <% answered = item.answered_at(@cur_user) %>
  <% if answered %>
    <span class="answered"><%= Gws::Survey::File.t :updated %>: <%= I18n.l(answered) %></span>
  <% else %>
    <span class="limit">
      <%= @model.t(:due_date) %>:
      <%= tryb { I18n.l(item.due_date) } %>
      (<%= now >= item.due_date ? t("gws/survey.over_limit") : time_ago_in_words(item.due_date) %>)
    </span>
  <% end %>

  <% if item.categories.present? %>
    <span class="categories">
    <% item.categories.readable(@cur_user, site: @cur_site).each do |category| %>
      <%= link_to category.trailing_name, url_for(action: :index, category: category.id), class: "gws-category-label", style: category_label_css(category) %>
    <% end %>
  </span>
  <% end %>
<% end %>

<%= render file: "gws/crud/index" %>
