<%== @cur_node.upper_html %>

<nav class="event-date">
  <h1 class="<%= event_h1_class @month %>"><%= "#{@year}#{t_date('year')}#{@month}#{t_date('month')}" %></h1>
  <ul>
    <li class="prev"><%= link_to_prev_month %></li>
    <li class="next"><%= link_to_next_month %></li>
  </ul>
</nav>

<div id="event-list">
  <% @events.each do |date, pages| %>
  <dl class="<%= event_dl_class date %>">
    <dt>
      <%= time_tag(date) do %>
      <%= "#{date.month}#{t_date('month')}#{date.day}#{t_date('day')}" %>
      <span class="wday">(<%= t_wday(date) %><span class="unit"><%= t_date('wday') %></span>)</span>
      <% end %>
    </dt>

    <% if date.national_holiday? %>
    <dd class="holiday"><%= HolidayJapan.name date %></dd>
    <% end %>

    <% pages.each do |page| %>
    <dd class="page">
      <article class="<%= @cur_node.render_loop_html(page, html: '#{new}') %>">
        <header>
          <h2><%= link_to (page.event_name.present? ? page.event_name : page.name), page.url %></h2>
        </header>
      </article>
    </dd>
    <% end %>
  </dl>
  <% end %>
</div>

<%== @cur_node.lower_html %>
