<div class="service">
  <%= hidden_field_tag 'service_ids[]', "" %>
  <% @cur_node.st_services.order_by(order: 1).each do |cate| %>
    <div class="<%= cate.basename %>">
      <%= check_box_tag 'service_ids[]', cate.id, @service_ids.index(cate.id),
        { :id => "q_service_ids_#{cate.id}", :class => "prop"} %>
      <label for=<%= "q_service_ids_#{cate.id}" %>><%= cate.name %></label>
    </div>
  <% end %>
</div>
