<% return unless @cur_user %>

<nav class="user">
  <% if @ss_mode == :webmail %>
    <%= render "layouts/ss/head_user_webmail_memo", local_assigns %>
  <% elsif @ss_mode == :gws %>
    <%= render "layouts/ss/head_user_gws_bookmark", local_assigns %>
    <%= render "layouts/ss/head_user_gws_memo", local_assigns %>
  <% end %>

  <% if @ss_mode == :gws %>
    <%= render "layouts/ss/head_user_gws_notice", local_assigns %>
  <% else %>
    <%= render "layouts/ss/head_user_base_notice", local_assigns %>
  <% end %>

  <div class="dropdown dropdown-toggle user-navigation" data-ref="#user-main-dropdown">
    <button type="button" class="user-navigation-dropdown-toggle">
      <div class="user-navigation-user-id">
        <% if @cur_group %>
          <span class="group-name" title="<%= @cur_group.trailing_name %>"><%= @cur_group.trailing_name %></span>
        <% end %>
        <span class="user-name" title="<%= @cur_user.name %>"><%= @cur_user.name %></span>
      </div>
      <div class="material-icons-outlined">expand_more</div>
    </button>

    <div class="dropdown-menu user-navigation-dropdown-menu" id="user-main-dropdown">
      <%
        case @ss_mode
        when :cms
          path = cms_frames_user_navigation_menu_path(site: @cur_site)
        when :gws
          path = gws_frames_user_navigation_menu_path(site: @cur_site)
        when :webmail
          path = webmail_frames_user_navigation_menu_path
        else
          path = sns_frames_user_navigation_menu_path
        end
      %>
      <turbo-frame id="user-navigation-frame" src="<%= path %>" loading="lazy">
        <%= loading %>
      </turbo-frame>
    </div>
  </div>
</nav> <!-- .user -->
