<!doctype html>
<html lang="ja" class="ss-ajax-in-iframe">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<%= safe_join controller.stylesheets.map { |path| stylesheet_link_tag(path, media: "all") }, "\n" %>
<%= safe_join controller.javascripts.map { |path| javascript_include_tag(path) }, "\n" %>
<%= stylesheet_link_tag "cms/preview/ajax_in_iframe", media: 'all' %>
<!--[if lt IE 9]>
<script src="/assets/js/html5.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= csrf_meta_tags %>
</head>
<body class="ss-ajax-in-iframe">
  <div id="ajax-box" class="ss-ajax-in-iframe-content">
    <%= yield %>
  </div>
</body>
</html>
