<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<title>SHIRASAGI</title>
<%= stylesheet_link_tag "ss/style", media: "all" %>
<link media="all" rel="stylesheet" href="/assets/css/jquery-ui/pepper-grinder/custom.min.css" />
<link media="all" rel="stylesheet" href="/assets/css/datetimepicker/jquery.datetimepicker.css" />
<link media="all" rel="stylesheet" href="/assets/css/colorbox/colorbox.css" />
<% controller.stylesheets.each do |path| %>
<%= stylesheet_link_tag path, media: "all" %>
<% end %>
<!--[if lt IE 9]>
<script src="/assets/js/html5.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= javascript_include_tag "ss/script" %>
<script src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/assets/js/jquery.datetimepicker.js"></script>
<script src="/assets/js/jquery.colorbox.js"></script>
<% controller.javascripts.each do |path| %>
<%= javascript_include_tag path %>
<% end %>
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<header id="head">
  <div class="wrap">
    <h1><%= link_to "SHIRASAGI", sns_mypage_path %></h1>

    <div class="cms">
      <% if @cur_site %>
      <h2><%= link_to "CMS", cms_contents_path(@cur_site), class: "current" %></h2>
      <% else %>
      <h2><%= link_to "CMS", "/.mypage" %></h2>
      <% end %>
    </div>

    <% if Rails.env.development? %>
    <div class="gws">
      <% if @cur_org %>
      <h2><%= link_to "GWS", "/.mypage", class: "current" %></h2>
      <% else %>
      <h2><%= link_to "GWS", "/.mypage" %></h2>
      <% end %>
    </div>

    <div class="sns">
      <% if !@cur_site && !@cur_org %>
      <h2><%= link_to "SNS", "/.mypage", class: "current" %></h2>
      <% else %>
      <h2><%= link_to "SNS", "/.mypage" %></h2>
      <% end %>
    </div>

    <div class="env dev">[dev]</div>
    <% end %>

    <% if @cur_user %>
    <nav>
      <% if @cur_group %>
      <h2><%= link_to @cur_group.name.sub(/.*\//, ""), sns_user_profile_path(@cur_user) %></h2>
      <% end %>

      <div class="pulldown-menu">
        <h2><%= link_to @cur_user.name, sns_user_profile_path(@cur_user) %></h2>
        <ul>
          <li><%= link_to t(:"sns.profile"), sns_user_profile_path(@cur_user) %></li>
          <li><%= link_to :logout, sns_logout_path %></li>
        </ul>
      </div>
    </nav>
    <% end %>
  </div>
<!-- /#head --></header>

<% if notice %>
<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>
<script> setTimeout(function() { $('#notice').slideUp("fast"); }, 1500); </script>
<% end %>

<div id="wrap">
  <div class="wrap">
    <div id="navi">
      <div class="wrap">
        <% if @cur_site %>
        <nav class="site-navi">
          <h2><%= link_to :"cms.view_site", @cur_site.full_url, target: "_blank" %></h2>
          <h2><%= link_to :"cms.preview_site", cms_preview_path + "/", target: "_blank" %></h2>
        </nav>
        <% end %>

        <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
        <%= render partial: "navi" %>
        <% elsif controller.navi_view_file %>
        <%= render partial: controller.navi_view_file %>
        <% end %>
      </div>
    </div>

    <article id="main">
      <% if @crumbs.size > 0 %>
      <ol class="breadcrumb" id="crumbs">
        <% @crumbs.each_with_index do |item, idx| %>
          <li <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
        <% end %>
      </ol>
      <% end %>

      <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
      <div id="menu"><%= render partial: "menu" %></div>
      <% elsif controller.menu_view_file %>
      <div id="menu"><%= render partial: controller.menu_view_file %></div>
      <% end %>

      <div class="wrap">
      <%= yield %>
      </div>
    <!-- /#main --></article>

  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div id="ss-pc" style="display: none">PC View</div>
  <div id="ss-mb" style="display: none">Mobile View</div>
<!-- /#foot --></footer>

<!-- /#page --></div>

</body>
</html>
