<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<%
  if @ss_rescue
    window_name = "#{@ss_rescue[:status]} #{::Rack::Utils::HTTP_STATUS_CODES[@ss_rescue[:status]]}"
  else
    window_name = @item.try(:name) || @crumbs.last.try(:first)
  end
  if window_name.present?
    title = "#{window_name} | #{ss_application_name}"
  else
    title = ss_application_name
  end
%>
<title><%= title %></title>
<%= safe_join controller.stylesheets.map { |path, options| stylesheet_link_tag(path, options || { media: "all" }) }, "\n" %>
<%= safe_join controller.javascripts.map { |path, options| javascript_include_tag(path, options || {}) }, "\n" %>
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<%= render "layouts/ss/head", window_name: window_name, title: title %>

<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>

<div id="wrap">
  <div class="wrap">
    <div id="navi">
      <div class="wrap">
        <% if @ss_mode == :cms %>
        <nav class="site-navi">
          <h2><%= link_to t("cms.view_site"), @cur_site.full_url, target: "_blank", rel: "noopener" %></h2>
          <h2><%= link_to t("cms.preview_site"), "#{cms_preview_path}#{@cur_site.url}", target: "_blank", rel: "noopener" %></h2>
        </nav>
        <% end %>

        <% if @ss_rescue %>
          <% if @ss_mode == :cms %>
            <%= render partial: "cms/main/navi" %>
          <% elsif @ss_mode == :gws %>
            <%= render partial: "gws/main/navi" %>
          <% elsif @ss_mode == :webmail %>
            <%= render partial: "webmail/main/navi" %>
          <% else %>
            <%= render partial: "sns/main/navi" %>
          <% end %>
        <% else %>
          <% if ::File.exist?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
          <%= render partial: "navi" %>
          <% elsif controller.navi_view_file %>
          <%= render partial: controller.navi_view_file %>
          <% end %>
        <% end %>
      </div>
    </div>

    <article id="main">
      <%= render "layouts/ss/password_warn" %>
      <% if !@ss_maintenance_mode %>
        <ol class="breadcrumb" id="crumbs">
          <% if @crumbs.size > 0 && (!@ss_rescue || @ss_rescue && (@ss_mode == :cms || @ss_mode == :gws)) %>
            <% @crumbs.each_with_index do |item, idx| %>
              <li <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
              <% break if @ss_rescue %><%# only one crumb in rescue mode %>
            <% end %>

            <% if @webmail_other_account_path && webmail_other_account?(@webmail_other_account_path) && !@ss_rescue %>
              <li class="webmail-accounts">
                <span><%= t('webmail.links.select_account') %></span>
                <%= webmail_other_account_select(@webmail_other_account_path) %>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% end %>

      <% if !@ss_rescue %>
        <% if !@ss_maintenance_mode %>
          <% if ::File.exist?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
          <div id="menu"><%= render partial: "menu" %></div>
          <% elsif controller.menu_view_file %>
          <div id="menu"><%= render partial: controller.menu_view_file %></div>
          <% end %>
        <% end %>
      <% end %>

      <div class="wrap">
        <% if !@ss_rescue %>
          <% if !@ss_maintenance_mode %>
            <% if ::File.exist?("#{Rails.root}/app/views/#{params[:controller]}/_content_navi.html.erb") %>
            <%= render partial: 'content_navi' %>
            <% elsif @tree_navi %>
            <div id="content-navi"><%= render template: '_tree_navi' %></div>
            <% end %>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    <!-- /#main --></article>

  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div id="ss-pc" style="display: none">PC View</div>
  <div id="ss-mb" style="display: none">Mobile View</div>
<!-- /#foot --></footer>

<!-- /#page --></div>

<%= javascript_tag do %>
  SS.env = <%== Rails.env.to_json %>;
  SS.timezone = <%== Time.zone.name.to_json %>;
  SS.disableConfirmUnloading = <%== Rails.env.test?.to_json %>;
  <% if notice %>
    SS.ready(function() { SS.notice('<%= br notice %>', <%== flash[:notice_options].to_json %>); });
  <% end %>
<% end %>
</body>
</html>
