<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<%
  if @ss_rescue
    window_name = "#{@ss_rescue[:status]} #{::Rack::Utils::HTTP_STATUS_CODES[@ss_rescue[:status]]}"
  else
    window_name = @item.try(:name) || @crumbs.last.try(:first)
  end
  if window_name.present?
    title = "#{window_name} | #{SS.config.ss.application_name}"
  else
    title = SS.config.ss.application_name
  end
%>
<title><%= title %></title>
<%= safe_join controller.stylesheets.map { |path| stylesheet_link_tag(path, media: "all") }, "\n" %>
<%= safe_join controller.javascripts.map { |path| javascript_include_tag(path) }, "\n" %>
<!--[if lt IE 9]>
<script src="/assets/js/html5.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<header id="head">
  <div class="wrap">
    <h1 class="application-name"><%= link_to sns_mypage_path do %><%= render_application_logo %><% end %></h1>

    <div class="sp-menu-button">
      <a href="#" class="">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="application-menu">
      <% if SS.config.cms.disable.blank? && SS.config.cms.disable_navi.blank? && Cms.allowed?(:use, @cur_user) %>
      <div class="cms">
        <% if @ss_mode == :cms %>
        <h2><%= link_to t('ss.links.cms'), cms_contents_path(@cur_site), class: "current" %></h2>
        <% else %>
        <h2><%= link_to t('ss.links.cms'), sns_cms_path %></h2>
        <% end %>
      </div>
      <% end %>

      <% if SS.config.gws.disable.blank? && SS.config.gws.disable_navi.blank? && Gws.allowed?(:use, @cur_user) %>
      <div class="gws">
        <% if @ss_mode == :gws %>
        <h2><%= link_to t('ss.links.gws'), gws_portal_path(@cur_site), class: "current" %></h2>
        <% else %>
        <h2><%= link_to t('ss.links.gws'), sns_gws_path %></h2>
        <% end %>
      </div>
      <% end %>

      <% if SS.config.webmail.disable.blank? && SS.config.webmail.disable_navi.blank? && Webmail.allowed?(:use, @cur_user) %>
      <div class="webmail">
        <%
          webmail_mode =  params[:webmail_mode] || :account
          account = params[:account] || @cur_user.imap_default_index
          opts = (@ss_mode == :webmail) ? { class: "current" } : {}
        %>
        <h2><%= link_to t('webmail.mail'), webmail_mails_path(webmail_mode: webmail_mode, account: account), opts %></h2>
      </div>
      <% end %>
    </div>

    <% if Rails.env.development? %>
    <div class="env dev">&lt;Development&gt;</div>
    <% end %>

    <% if @cur_user %>
    <nav class="user">
      <% if @ss_mode == :webmail %>
        <%
          if SS.config.gws.disable.blank?
            gws_user = @cur_user.gws_user
            sites = gws_user.root_groups.select do |site|
              Gws::Memo::Message.allowed?(:edit, gws_user, site: site)
            end
            if sites.present?
              site = sites.sort_by { |site| site.id }.first
              count = Gws::Memo::Message.unseens(@cur_user, site).size
              span_unseen = content_tag("span", count, class: "unseen") if count > 0
              @output_buffer << link_to(gws_memo_messages_path(site: site), class: "user-message") do
                span_unseen
              end
            end
          end
        %>
      <% elsif @ss_mode == :gws %>
        <% if @cur_site.menu_bookmark_visible? && Gws::Bookmark.allowed?(:read, @cur_user, site: @cur_site) %>
          <div class="gws-bookmark dropdown dropdown-toggle">
            <% bookmark = Gws::Bookmark.find_by(user: @cur_user, site: @cur_site, url: request.fullpath) rescue nil %>
            <%= jquery do %>
              new Gws_Bookmark().render({
                id: '<%= bookmark.try(:id) %>',
                name: '<%= bookmark.try(:name) %>',
                default_name: '<%= window_name %>',
                url: '<%= gws_apis_bookmarks_path %>',
                model: '<%= @model.name.underscore if @model %>',
                save: '<%= I18n.t('ss.buttons.save') %>',
                delete: '<%= I18n.t('ss.buttons.delete') %>'
              });
            <% end %>
          </div>
        <% end %>

        <% if Gws::Memo::Message.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%
             search_condition = SS.config.gws.dig("popup_notice", "search_condition")
            if search_condition == "unseen"
              default_label  = t("gws/memo/message.links.seens")
              switched_label = t("gws/memo/message.links.unseens")
              default_url    = recent_gws_memo_messages_path(s: { unseen: @cur_user.id })
              switched_url   = recent_gws_memo_messages_path
            else
              default_label  = t("gws/memo/message.links.unseens")
              switched_label = t("gws/memo/message.links.seens")
              default_url    = recent_gws_memo_messages_path
              switched_url   = recent_gws_memo_messages_path(s: { unseen: @cur_user.id })
            end
          %>
          <%= jquery do %>
            $(".gws-memo-message .unseens").click(function() {
              $(".gws-memo-message.popup-notice-container [data-url]").each(function() {
                var url = $(this).attr("data-url");
                var switched = $(this).attr("data-url-switched");
                $(this).attr("data-url", switched);
                $(this).attr("data-url-switched", url);
              });
              var label = $(this).text();
              var switched = $(this).attr("data-label-switched");
              $(this).text(switched);
              $(this).attr("data-label-switched", label);
            });
            (new SS_PopupNotice(".gws-memo-message.popup-notice-container")).render();
          <% end %>
          <div class="gws-memo-message popup-notice-container">
            <%= link_to gws_memo_messages_path, "class" => "user-message ajax-popup-notice toggle-popup-notice", "data-url" => default_url, "data-url-switched" => switched_url do %>
              <% count = Gws::Memo::Message.unseens(@cur_user, @cur_site).size %>
              <% if count > 0 %><span class="unseen"><%= count %></span><% end %>
            <% end %>
            <div class="popup-notice" style="display: none;">
              <header class="popup-notice-header">
                <h2>
                  <%= t('modules.gws/memo/message') %>
                  <%= link_to default_label, "#",
                    "class" => "ajax-popup-notice unseens",
                    "data-url" => default_url,
                    "data-url-switched" =>  switched_url,
                    "data-label-switched" => switched_label
                  %>
                </h2>
              </header>
              <div class="popup-notice-items"></div>
              <%= link_to t("ss.links.more_all"), gws_memo_messages_path, class: "more-all" %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @ss_mode == :gws %>
        <%
          search_condition = SS.config.gws.dig("popup_notice", "search_condition")
          if search_condition == "unseen"
            default_label  = t("gws/memo/message.links.seens")
            switched_label = t("gws/memo/message.links.unseens")
            default_url    = recent_gws_memo_notices_path(s: { unseen: @cur_user.id })
            switched_url   = recent_gws_memo_notices_path
          else
            default_label  = t("gws/memo/message.links.unseens")
            switched_label = t("gws/memo/message.links.seens")
            default_url    = recent_gws_memo_notices_path
            switched_url   = recent_gws_memo_notices_path(s: { unseen: @cur_user.id })
          end
        %>
        <%= jquery do %>
          $(".gws-memo-notice .unseens").click(function() {
            $(".gws-memo-notice.popup-notice-container [data-url]").each(function() {
              var url = $(this).attr("data-url");
              var switched = $(this).attr("data-url-switched");
              $(this).attr("data-url", switched);
              $(this).attr("data-url-switched", url);
            });
            var label = $(this).text();
            var switched = $(this).attr("data-label-switched");
            $(this).text(switched);
            $(this).attr("data-label-switched", label);
          });
          (new SS_PopupNotice(".gws-memo-notice.popup-notice-container")).render();
        <% end %>
        <div class="gws-memo-notice popup-notice-container">
          <%= link_to gws_memo_notices_path, "class" => "ajax-popup-notice toggle-popup-notice", "data-url" => default_url, "data-url-switched" => switched_url do %>
            <i class="material-icons">&#xE7F4;</i>
            <% count = SS::Notification.unseens(@cur_user).size %>
            <% if count > 0 %><span class="unseen popup-notice-unseen"><%= count %></span><% end %>
          <% end %>
          <div class="popup-notice" style="display: none;">
            <header class="popup-notice-header">
              <h2>
                <%= t('modules.sns/notification') %>
                <%= link_to default_label, "#",
                  "class" => "ajax-popup-notice unseens",
                  "data-url" => default_url,
                  "data-url-switched" =>  switched_url,
                  "data-label-switched" => switched_label
                %>
              </h2>
            </header>
            <div class="popup-notice-items"></div>
            <%= link_to t("ss.links.more_all"), gws_memo_notices_path, class: "more-all" %>
          </div>
        </div>
      <% else %>
        <%
          search_condition = SS.config.gws.dig("popup_notice", "search_condition")
          if search_condition == "unseen"
            default_label  = t("gws/memo/message.links.seens")
            switched_label = t("gws/memo/message.links.unseens")
            default_url    = recent_sns_notifications_path(s: { unseen: @cur_user.id })
            switched_url   = recent_sns_notifications_path
          else
            default_label  = t("gws/memo/message.links.unseens")
            switched_label = t("gws/memo/message.links.seens")
            default_url    = recent_sns_notifications_path
            switched_url   = recent_sns_notifications_path(s: { unseen: @cur_user.id })
          end
        %>
        <%= jquery do %>
          $(".gws-memo-notice .unseens").click(function() {
            $(".gws-memo-notice.popup-notice-container [data-url]").each(function() {
              var url = $(this).attr("data-url");
              var switched = $(this).attr("data-url-switched");
              $(this).attr("data-url", switched);
              $(this).attr("data-url-switched", url);
            });
            var label = $(this).text();
            var switched = $(this).attr("data-label-switched");
            $(this).text(switched);
            $(this).attr("data-label-switched", label);
          });
          (new SS_PopupNotice(".gws-memo-notice.popup-notice-container")).render();
        <% end %>
        <div class="gws-memo-notice popup-notice-container">
          <%= link_to sns_notifications_path, "class" => "ajax-popup-notice toggle-popup-notice", "data-url" => default_url, "data-url-switched" => switched_url do %>
            <i class="material-icons">&#xE7F4;</i>
            <% count = SS::Notification.unseens(@cur_user).size %>
            <% if count > 0 %><span class="unseen popup-notice-unseen"><%= count %></span><% end %>
          <% end %>
          <div class="popup-notice" style="display: none;">
            <header class="popup-notice-header">
              <h2>
                <%= t('modules.sns/notification') %>
                <%= link_to default_label, "#",
                  "class" => "ajax-popup-notice unseens",
                  "data-url" => default_url,
                  "data-url-switched" =>  switched_url,
                  "data-label-switched" => switched_label
                %>
              </h2>
            </header>
            <div class="popup-notice-items"></div>
            <%= link_to t("ss.links.more_all"), sns_notifications_path, class: "more-all" %>
          </div>
        </div>
      <% end %>

      <div class="dropdown dropdown-toggle" data-ref="#user-main-dropdown">
        <h2>
          <% if @cur_group %>
            <span class="group"><%= @cur_group.trailing_name %></span>
          <% end %>
          <span class="name"><%= @cur_user.name %></span>
        </h2>
        <ul class="dropdown-menu" id="user-main-dropdown">
          <% @account_menu.to_a.each do |link_params| %>
            <li><%= link_to *link_params %></li>
          <% end %>

          <% if @ss_mode == :gws %>
            <li><%= link_to t(:"sns.profile"), gws_user_profile_path %></li>
          <% else %>
            <li><%= link_to t(:"sns.profile"), sns_cur_user_profile_path %></li>
          <% end %>

            <li><%= link_to t(:"job.task_manager"), job_sns_logs_path %></li>

          <li>
            <div class="text-zoom" data-notice="<%= t('ss.notice.text_zoomed', count: ':size') %>">
              <label><%= t('ss.text_zoom') %></label>
              <span class="wrap">
                <span class="zoom-btn zoom-out"><%= t('ss.options.text_zoom.zoom_out') %></span><span class="zoom-btn zoom-reset"><%= t('ss.options.text_zoom.reset') %></span><span class="zoom-btn zoom-in"><%= t('ss.options.text_zoom.zoom_in') %></span>
              </span>
            </div>
          </li>
          <% if @ss_mode == :gws && @cur_site.menu_contrast_visible? %>
            <li>
              <div class="gws-contrast cascade-menu" data-ref="#user-contrast-menu">
                <label><%= @cur_site.menu_contrast_label.presence || t('mongoid.models.gws/contrast') %></label>
                <span class="caret"><i class="material-icons">&#xE315;</i></span>
              </div>
            </li>
          <% end %>
          <li><%= link_to t('ss.logout'), (@logout_path || sns_logout_path), class: 'logout' %></li>
        </ul>
        <% if @ss_mode == :gws && @cur_site.menu_contrast_visible? %>
          <ul id="user-contrast-menu" class="dropdown-menu cascade-sub-menu">
            <li class="user-contrast-menu-header">
              <a href="#user-main-dropdown" class="cascade-back">
                <i class="material-icons caret">&#xE314;</i><%= @cur_site.menu_contrast_label.presence || t('mongoid.models.gws/contrast') %>
              </a>
            </li>
            <li>
              <div class="gws-contrast-loading">
                <%= ApplicationController.helpers.loading %>
              </div>
            </li>
          </ul>
          <%= jquery do %>
            var contrast = new Gws_Contrast({
              siteId: <%== @cur_site.id.to_json %>,
              url: <%== gws_apis_contrasts_path(format: 'json').to_json %>,
              defaultContrast: <%== t('gws.default_contrast').to_json %>,
              notice: <%== t('gws.notice.contrast_changed', name: ':name').to_json %>,
              loadError: <%== t('mongoid.errors.models.gws/contrast.load_error').to_json %>,
              noContrasts: <%== t('mongoid.errors.models.gws/contrast.no_contrasts').to_json %>
            });

            <% if cookies["gws-contrast-#{@cur_site.id}"].present? %>
              <% contrast = Gws::Contrast.site(@cur_site).and_public.find(cookies["gws-contrast-#{@cur_site.id}"]) rescue nil %>
              <% if contrast.present? %>
                contrast.changeContrast(<%== contrast.text_color.to_json %>, <%== contrast.color.to_json %>);
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <% end %>
  </div>
<!-- /#head --></header>

<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>

<% if notice %>
<script> SS.notice('<%= br notice %>', <%== flash[:notice_options].to_json %>); </script>
<% end %>

<div id="wrap">
  <div class="wrap">
    <div id="navi">
      <div class="wrap">
        <% if @ss_mode == :cms %>
        <nav class="site-navi">
          <h2><%= link_to t("cms.view_site"), @cur_site.full_url, target: "_blank" %></h2>
          <h2><%= link_to t("cms.preview_site"), "#{cms_preview_path}#{@cur_site.url}", target: "_blank" %></h2>
        </nav>
        <% end %>

        <% if @ss_rescue %>
          <% if @ss_mode == :cms %>
            <%= render partial: "cms/main/navi" %>
          <% elsif @ss_mode == :gws %>
            <%= render partial: "gws/main/navi" %>
          <% elsif @ss_mode == :webmail %>
            <%= render partial: "webmail/main/navi" %>
          <% else %>
            <%= render partial: "sns/main/navi" %>
          <% end %>
        <% else %>
          <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
          <%= render partial: "navi" %>
          <% elsif controller.navi_view_file %>
          <%= render partial: controller.navi_view_file %>
          <% end %>
        <% end %>
      </div>
    </div>

    <article id="main">
      <% if @cur_user.present? %>
        <% if @cur_user.initial_password_warning.present? %>
        <div class="warning">
          <%= link_to t("ss.warning.initial_password"), sns_cur_user_account_path %>
        </div>
        <% elsif @cur_setting.present? %>
          <%
            message = case @cur_setting.password_expired(@cur_user)
            when :expired
              t("ss.warning.password_expired")
            when :nearly_expired
              t("ss.warning.password_neary_expired")
            end
          %>
          <% if message %>
          <div class="warning">
            <%= link_to(message, sns_cur_user_account_path) %>
          </div>
          <% end %>
        <% end %>
      <% end %>

      <ol class="breadcrumb" id="crumbs">
        <% if @crumbs.size > 0 && (!@ss_rescue || @ss_rescue && (@ss_mode == :cms || @ss_mode == :gws)) %>
          <% @crumbs.each_with_index do |item, idx| %>
            <li <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
            <% break if @ss_rescue %><%# only one crumb in rescue mode %>
          <% end %>

          <% if @webmail_other_account_path && webmail_other_account?(@webmail_other_account_path) && !@ss_rescue %>
            <li class="webmail-accounts">
              <span><%= t('webmail.links.select_account') %></span>
              <%= webmail_other_account_select(@webmail_other_account_path) %>
            </li>
          <% end %>
        <% end %>
      </ol>

      <% if !@ss_rescue %>
        <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
        <div id="menu"><%= render partial: "menu" %></div>
        <% elsif controller.menu_view_file %>
        <div id="menu"><%= render partial: controller.menu_view_file %></div>
        <% end %>
      <% end %>

      <div class="wrap">
        <% if !@ss_rescue %>
          <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_content_navi.html.erb") %>
          <%= render partial: 'content_navi' %>
          <% elsif @tree_navi %>
          <div id="content-navi"><%= render file: '_tree_navi' %></div>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    <!-- /#main --></article>

  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div id="ss-pc" style="display: none">PC View</div>
  <div id="ss-mb" style="display: none">Mobile View</div>
<!-- /#foot --></footer>

<!-- /#page --></div>

</body>
</html>
