<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<%
  window_name = @item.try(:name) || @crumbs.last.try(:first)
  if window_name.present?
    title = "#{window_name} | #{SS.config.ss.application_name}"
  else
    title = SS.config.ss.application_name
  end
%>
<title><%= title %></title>
<%= safe_join controller.stylesheets.map { |path| stylesheet_link_tag(path, media: "all") }, "\n" %>
<%= safe_join controller.javascripts.map { |path| javascript_include_tag(path) }, "\n" %>
<!--[if lt IE 9]>
<script src="/assets/js/html5.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<header id="head">
  <div class="wrap">
    <h1 class="application-name"><%= link_to sns_mypage_path do %><%== SS.config.ss.application_logo_html %><% end %></h1>

    <div class="sp-menu-button">
      <a href="#" class="">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="application-menu">
      <% if SS.config.cms.disable.blank? && SS.config.cms.disable_navi.blank? %>
      <div class="cms">
        <% if @ss_mode == :cms %>
        <h2><%= link_to t('ss.links.cms'), cms_contents_path(@cur_site), class: "current" %></h2>
        <% else %>
        <h2><%= link_to t('ss.links.cms'), sns_cms_path %></h2>
        <% end %>
      </div>
      <% end %>

      <% if SS.config.gws.disable.blank? && SS.config.gws.disable_navi.blank? %>
      <div class="gws">
        <% if @ss_mode == :gws %>
        <h2><%= link_to t('ss.links.gws'), gws_portal_path(@cur_site), class: "current" %></h2>
        <% else %>
        <h2><%= link_to t('ss.links.gws'), sns_gws_path %></h2>
        <% end %>
      </div>
      <% end %>

      <% if SS.config.webmail.disable.blank? && SS.config.webmail.disable_navi.blank? %>
      <div class="webmail">
        <% if @ss_mode == :webmail %>
        <h2><%= link_to t('webmail.mail'), webmail_mails_path(account: params[:account] || @cur_user.imap_default_index), class: "current" %></h2>
        <% else %>
        <h2><%= link_to t('webmail.mail'), webmail_mails_path(account: params[:account] || @cur_user.imap_default_index) %></h2>
        <% end %>
      </div>
      <% end %>
    </div>

    <% if Rails.env.development? %>
    <div class="env dev">&lt;Development&gt;</div>
    <% end %>

    <% if @cur_user %>
    <nav class="user">
      <div class="dropdown dropdown-toggle" data-ref="#user-main-dropdown">
        <h2>
          <% if @cur_group %>
            <span class="group"><%= @cur_group.trailing_name %></span>
          <% end %>
          <%= @cur_user.name %>
        </h2>
        <ul class="dropdown-menu" id="user-main-dropdown">
          <% @account_menu.to_a.each do |link_params| %>
            <li><%= link_to *link_params %></li>
          <% end %>
          <li><%= link_to t(:"sns.profile"), sns_cur_user_profile_path %></li>
          <li>
            <div class="text-zoom" data-notice="<%= t('ss.notice.text_zoomed', count: ':size') %>">
              <label><%= t('ss.text_zoom') %></label>
              <span class="wrap">
                <span class="zoom-btn zoom-out"><%= t('ss.options.text_zoom.zoom_out') %></span><span class="zoom-btn zoom-reset"><%= t('ss.options.text_zoom.reset') %></span><span class="zoom-btn zoom-in"><%= t('ss.options.text_zoom.zoom_in') %></span>
              </span>
            </div>
          </li>
          <% if @ss_mode == :gws && @cur_site.menu_contrast_visible? %>
            <li>
              <div class="gws-contrast cascade-menu" data-ref="#user-contrast-menu">
                <label><%= @cur_site.menu_contrast_label.presence || t('mongoid.models.gws/contrast') %></label>
                <span class="caret"><i class="material-icons">&#xE315;</i></span>
              </div>
            </li>
          <% end %>
          <li><%= link_to t('ss.logout'), (@logout_path || sns_logout_path), class: 'logout' %></li>
        </ul>
        <% if @ss_mode == :gws && @cur_site.menu_contrast_visible? %>
          <ul id="user-contrast-menu" class="dropdown-menu cascade-sub-menu">
            <li class="user-contrast-menu-header">
              <a href="#user-main-dropdown" class="cascade-back">
                <i class="material-icons caret">&#xE314;</i><%= @cur_site.menu_contrast_label.presence || t('mongoid.models.gws/contrast') %>
              </a>
            </li>
            <li>
              <div class="gws-contrast-loading">
                <img style="vertical-align:middle" src="/assets/img/loading.gif" alt="loading.." border="0" widtth="16" height="11" />
              </div>
            </li>
          </ul>
          <%= jquery do %>
            var contrast = new Gws_Contrast({
              siteId: <%== @cur_site.id.to_json %>,
              url: <%== gws_apis_contrasts_path(format: 'json').to_json %>,
              defaultContrast: <%== t('gws.default_contrast').to_json %>,
              notice: <%== t('gws.notice.contrast_changed', name: ':name').to_json %>,
              loadError: <%== t('mongoid.errors.models.gws/contrast.load_error').to_json %>,
              noContrasts: <%== t('mongoid.errors.models.gws/contrast.no_contrasts').to_json %>
            });

            <% if cookies["gws-contrast-#{@cur_site.id}"].present? %>
              <% contrast = Gws::Contrast.site(@cur_site).and_public.find(cookies["gws-contrast-#{@cur_site.id}"]) rescue nil %>
              <% if contrast.present? %>
                contrast.changeContrast(<%== contrast.text_color.to_json %>, <%== contrast.color.to_json %>);
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <% if @ss_mode == :webmail %>
        <% gws_user = Gws::User.find(@cur_user.id) %>
        <% gws_role = gws_user.gws_roles.in(permissions: "edit_private_gws_memo_messages").reorder(site_id: 1).first %>
        <% gws_group = gws_role.site if gws_role %>
        <% if SS.config.gws.disable.blank? && gws_group %>
          <%= link_to gws_memo_messages_path(site: gws_group.id), class: "user-message" do %>
            <% count = Gws::Memo::Message.unseens(@cur_user, gws_group).size %>
            <% if count > 0 %><span class="unseen"><%= count %></span><% end %>
          <% end %>
        <% end %>
      <% elsif @ss_mode == :gws %>
        <% if @cur_site.menu_bookmark_visible? %>
          <div class="gws-bookmark dropdown dropdown-toggle">
            <% bookmark = Gws::Bookmark.find_by(user: @cur_user, site: @cur_site, url: request.fullpath) rescue nil %>
            <%= jquery do %>
              new Gws_Bookmark().render({
                id: '<%= bookmark.try(:id) %>',
                name: '<%= bookmark.try(:name) %>',
                default_name: '<%= window_name %>',
                url: '<%= gws_apis_bookmarks_path %>',
                model: '<%= @model.name.underscore if @model %>',
                save: '<%= I18n.t('ss.buttons.save') %>',
                delete: '<%= I18n.t('ss.buttons.delete') %>'
              });
            <% end %>
          </div>
        <% end %>

        <%= jquery do %>
          $(".gws-memo-notice .unseens").click(function() { $(".gws-memo-notice .unseens").toggle(); });
          (new SS_PopupNotice(".gws-memo-notice.popup-notice-container")).render();
        <% end %>
        <div class="gws-memo-notice popup-notice-container">
          <%= link_to gws_memo_notices_path, "class" => "ajax-popup-notice", "data-url" => recent_gws_memo_notices_path do %>
            <i class="material-icons">&#xE0D8;</i>
            <% count = Gws::Memo::Notice.unseens(@cur_user, @cur_site).size %>
            <% if count > 0 %><span class="unseen popup-notice-unseen"><%= count %></span><% end %>
          <% end %>
          <div class="popup-notice" style="display: none;">
            <header class="popup-notice-header">
              <h2>
                <%= t('modules.gws/memo/notice') %>
                <%= link_to t("gws/memo/message.links.unseens"), "#",
                  "class" => "ajax-popup-notice unseens",
                  "data-url" => recent_gws_memo_notices_path(s: { unseen: @cur_user.id })
                %>
                <%= link_to t("gws/memo/message.links.seens"), "#",
                  "class" => "ajax-popup-notice unseens",
                  "data-url" => recent_gws_memo_notices_path,
                  "style" => "display: none;"
                %>
              </h2>
            </header>
            <div class="popup-notice-items"></div>
            <%= link_to t("ss.links.more_all"), gws_memo_notices_path, class: "more-all" %>
          </div>
        </div>

        <% if Gws::Memo::Message.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%= jquery do %>
            $(".gws-memo-message .unseens").click(function() { $(".gws-memo-message .unseens").toggle(); });
            (new SS_PopupNotice(".gws-memo-message.popup-notice-container")).render();
          <% end %>
          <div class="gws-memo-message popup-notice-container">
            <%= link_to gws_memo_messages_path, "class" => "user-message ajax-popup-notice", "data-url" => recent_gws_memo_messages_path do %>
              <% count = Gws::Memo::Message.unseens(@cur_user, @cur_site).size %>
              <% if count > 0 %><span class="unseen"><%= count %></span><% end %>
            <% end %>
            <div class="popup-notice" style="display: none;">
              <header class="popup-notice-header">
                <h2>
                  <%= t('modules.gws/memo/message') %>
                  <%= link_to t("gws/memo/message.links.unseens"), "#",
                    "class" => "ajax-popup-notice unseens",
                    "data-url" => recent_gws_memo_messages_path(s: { unseen: @cur_user.id })
                  %>
                  <%= link_to t("gws/memo/message.links.seens"), "#",
                    "class" => "ajax-popup-notice unseens",
                    "data-url" => recent_gws_memo_messages_path,
                    "style" => "display: none;"
                  %>
                </h2>
              </header>
              <div class="popup-notice-items"></div>
              <%= link_to t("ss.links.more_all"), gws_memo_messages_path, class: "more-all" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </nav>
    <% end %>
  </div>
<!-- /#head --></header>

<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>

<% if notice %>
<script> SS.notice('<%= br notice %>', <%== flash[:notice_options].to_json %>); </script>
<% end %>

<div id="wrap">
  <div class="wrap">
    <div id="navi">
      <div class="wrap">
        <% if @ss_mode == :cms %>
        <nav class="site-navi">
          <h2><%= link_to t("cms.view_site"), @cur_site.full_url, target: "_blank" %></h2>
          <h2><%= link_to t("cms.preview_site"), "#{cms_preview_path}#{@cur_site.url}", target: "_blank" %></h2>
        </nav>
        <% end %>

        <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
        <%= render partial: "navi" %>
        <% elsif controller.navi_view_file %>
        <%= render partial: controller.navi_view_file %>
        <% end %>
      </div>
    </div>

    <article id="main">
      <% if @cur_user.present? %>
        <% if @cur_user.initial_password_warning.present? %>
        <div class="warning">
          <%= link_to t("ss.warning.initial_password"), sns_cur_user_account_path %>
        </div>
        <% end %>
      <% end %>

      <% if @crumbs.size > 0 %>
      <ol class="breadcrumb" id="crumbs">
        <% @crumbs.each_with_index do |item, idx| %>
          <li <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
        <% end %>

        <% if @webmail_other_account_path && @cur_user.imap_settings.size > 1 %>
          <li class="webmail-accounts">
            <span><%= t('webmail.links.select_account') %></span>
            <%= select_tag :select_account,
              options_for_select(account_options(@webmail_other_account_path), send(@webmail_other_account_path, params[:account])), class: "webmail-select-account"
            %>
          </li>
        <% end %>
      </ol>
      <% end %>

      <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
      <div id="menu"><%= render partial: "menu" %></div>
      <% elsif controller.menu_view_file %>
      <div id="menu"><%= render partial: controller.menu_view_file %></div>
      <% end %>

      <div class="wrap">
        <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_content_navi.html.erb") %>
        <%= render partial: 'content_navi' %>
        <% elsif @tree_navi %>
        <div id="content-navi"><%= render file: '_tree_navi' %></div>
        <% end %>

        <%= yield %>
      </div>
    <!-- /#main --></article>

  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div id="ss-pc" style="display: none">PC View</div>
  <div id="ss-mb" style="display: none">Mobile View</div>
<!-- /#foot --></footer>

<!-- /#page --></div>

</body>
</html>
