<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<title>SHIRASAGI</title>
<%= stylesheet_link_tag "ss/style", media: "all" %>
<link data-turbolinks-track="true" href="/assets/css/jquery-ui/pepper-grinder/custom.min.css" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<link data-turbolinks-track="true" href="/assets/css/datetimepicker/jquery.datetimepicker.css" media="all" rel="stylesheet" />
<% controller.stylesheets.each do |path| %>
<%= stylesheet_link_tag path, media: "all", "data-turbolinks-track" => true %>
<% end %>
<!--[if lt IE 9]>
<script src="/assets/js/IE9.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= javascript_include_tag "ss/ss", "data-turbolinks-track" => true %>
<script data-turbolinks-track="true" src="/assets/js/jquery.form.js"></script>
<script data-turbolinks-track="true" src="/assets/js/jquery.colorbox.js"></script>
<script data-turbolinks-track="true" src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
<script data-turbolinks-track="true" src="/assets/js/jquery.datetimepicker.js"></script>
<script data-turbolinks-track="true" src="/assets/js/ckeditor/ckeditor.js"></script>
<% if SS.config.cms.html_editor == "ckeditor" %>
<script data-turbolinks-track="true" src="/assets/js/ckeditor/adapters/jquery.js"></script>
<% elsif SS.config.cms.html_editor == "tinymce" %>
<script data-turbolinks-track="true" src="/assets/js/tinymce/tinymce.min.js"></script>
<% end %>
<script data-turbolinks-track="true" src="/assets/js/ace/ace.js"></script>
<script data-turbolinks-track="true" src="/assets/js/ace/theme-chrome.js"></script>
<script data-turbolinks-track="true" src="/assets/js/jquery-ace.min.js"></script>
<% controller.javascripts.each do |path| %>
<%= javascript_include_tag path %>
<% end %>
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<header id="head">
  <div class="wrap">
    <h1><%= link_to "SHIRASAGI", sns_mypage_path %></h1>
    <% if @cur_site.present? %>
    <h2><%= link_to @cur_site.name, "/.#{@cur_site.host}" %></h2>
    <% end %>
    <% if @cur_user %>
    <nav>
      <%= link_to "dev", "#", onclick: "alert('#{Rails.env}'); return false;" unless Rails.env.production? %>
      <%= link_to @cur_group.name.sub(/.*\//, ""), sns_user_profile_path(@cur_user) if @cur_group %>
      <%= link_to @cur_user.name, sns_user_profile_path(@cur_user) %>
      <%= link_to :logout, sns_logout_path %>
    </nav>
    <% end %>
  </div>
<!-- /#head --></header>

<% if @crumbs.size > 0 %>
<div id="crumbs">
  <% if @crumbs.size != 1 %>
    <div class="up"><%= link_to image_tag('/assets/ss/up-folder.png'), @crumbs[-2][1] %></div>
  <% end %>
  <nav>
    <% @crumbs.each_with_index do |item, idx| %>
      <% if idx > 0 %><span class="separator">&rsaquo;</span><% end %>
      <span class="link"><%= link_to *item %></span>
    <% end %>
  </nav>
</div>
<% end %>

<% if notice %>
<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>
<script> setTimeout(function() { $('#notice').slideUp("fast"); }, 1500); </script>
<% end %>

<div id="wrap">
  <div class="wrap">

    <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
    <div id="navi-back"></div>
    <div id="navi"><div class="wrap"><%= render partial: "navi" %></div></div>
    <% elsif controller.navi_view_file %>
    <div id="navi-back"></div>
    <div id="navi"><div class="wrap"><%= render partial: controller.navi_view_file %></div></div>
    <% end %>

    <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
    <div id="menu-back"></div>
    <div id="menu"><div class="wrap"><%= render partial: "menu" %></div></div>
    <% elsif controller.menu_view_file %>
    <div id="menu-back"></div>
    <div id="menu"><div class="wrap"><%= render partial: controller.menu_view_file %></div></div>
    <% end %>

    <article id="main">
      <div class="wrap">
      <%= yield %>
      </div>
    <!-- /#main --></article>

  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div class="wrap">
    SHIRASAGI Project
  </div>
  <div id="ss-pc" style="display: none">PC View</div>
  <div id="ss-mb" style="display: none">Mobile View</div>
<!-- /#foot --></footer>

<!-- /#page --></div>


</body>
</html>
