<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
<title><%= SS.config.ss.application_name %></title>
<%= safe_join controller.stylesheets.map { |path| stylesheet_link_tag(path, media: "all") }, "\n" %>
<%= safe_join controller.javascripts.map { |path| javascript_include_tag(path) }, "\n" %>
<!--[if lt IE 9]>
<script src="/assets/js/html5.js"></script>
<script src="/assets/js/selectivizr-min.js"></script>
<![endif]-->
<%= csrf_meta_tags %>
</head>
<body>

<div id="page">

<header id="head">
  <div class="wrap">
    <h1 class="application-name"><%= link_to SS.config.ss.application_name, sns_mypage_path %></h1>

    <div class="cms">
      <% if @ss_mode == :cms %>
      <h2><%= link_to :cms, cms_contents_path(@cur_site), class: "current" %></h2>
      <% else %>
      <h2><%= link_to :cms, sns_cms_path %></h2>
      <% end %>
    </div>

    <% if SS.config.gws.disable.blank? %>
    <div class="gws">
      <% if @ss_mode == :gws %>
      <h2><%= link_to :gws, gws_portal_path(@cur_site), class: "current" %></h2>
      <% else %>
      <h2><%= link_to :gws, sns_gws_path %></h2>
      <% end %>
    </div>
    <% end %>

    <% if Rails.env.development? %>
    <div class="env dev">&lt;Development&gt;</div>
    <% end %>

    <% if @cur_user %>
    <nav class="user">
      <%= jquery do %>
        //Sns_Message.renderUnseen('<%= sns_message_apis_unseen_path %>');
      <% end %>
      <%= link_to sns_message_threads_path, class: "user-message" do %>
        <% count = Sns::Message::Thread.where(unseen_member_ids: @cur_user.id).size %>
        <% if count > 0 %><span class="unseen"><%= count %></span><% end %>
      <% end %>

      <div class="dropdown">
        <h2>
          <% if @cur_group %>
          <span class="group"><%= @cur_group.trailing_name %></span>
          <% end %>
          <%= @cur_user.name %>
        </h2>
        <ul class="dropdown-menu">
          <% @account_menu.to_a.each do |link_params| %>
            <li><%= link_to *link_params %></li>
          <% end %>
          <li><%= link_to t(:"sns.profile"), sns_cur_user_profile_path %></li>
          <li><%= link_to :logout, sns_logout_path %></li>
        </ul>
      </div>
    </nav>
    <% end %>
  </div>
<!-- /#head --></header>

<% if notice %>
<aside id="notice">
  <div class="wrap"><%= notice %></div>
</aside>
<script> setTimeout(function() { $('#notice').slideUp("fast"); }, 1500); </script>
<% end %>

<div id="wrap">
  <div class="wrap">
    <div id="navi">
      <div class="wrap">
        <% if @ss_mode == :cms %>
        <nav class="site-navi">
          <h2><%= link_to :"cms.view_site", @cur_site.full_url, target: "_blank" %></h2>
          <h2><%= link_to :"cms.preview_site", "#{cms_preview_path}#{@cur_site.url}", target: "_blank" %></h2>
        </nav>
        <% end %>

        <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_navi.html.erb") %>
        <%= render partial: "navi" %>
        <% elsif controller.navi_view_file %>
        <%= render partial: controller.navi_view_file %>
        <% end %>
      </div>
    </div>

    <article id="main">
      <% if @cur_user.present? %>
        <% if @cur_user.initial_password_warning.present? %>
        <div class="warning">
          <%= link_to t("views.warning.initial_password"), sns_cur_user_account_path %>
        </div>
        <% end %>
      <% end %>

      <% if @crumbs.size > 0 %>
      <ol class="breadcrumb" id="crumbs">
        <% @crumbs.each_with_index do |item, idx| %>
          <li <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
        <% end %>
      </ol>
      <% end %>

      <% if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_menu.html.erb") %>
      <div id="menu"><%= render partial: "menu" %></div>
      <% elsif controller.menu_view_file %>
      <div id="menu"><%= render partial: controller.menu_view_file %></div>
      <% end %>

      <div class="wrap">
      <%= yield %>
      </div>
    <!-- /#main --></article>

  <!-- /.wrap --></div>
<!-- /#wrap --></div>

<footer id="foot">
  <div id="ss-pc" style="display: none">PC View</div>
  <div id="ss-mb" style="display: none">Mobile View</div>
<!-- /#foot --></footer>

<!-- /#page --></div>

</body>
</html>
