<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
  <%
    if @ss_rescue
      window_name = "#{@ss_rescue[:status]} #{::Rack::Utils::HTTP_STATUS_CODES[@ss_rescue[:status]]}"
    else
      window_name = @item.try(:name) || @crumbs.last.try(:first)
    end
    if window_name.present?
      title = "#{window_name} | #{ss_application_name}"
    else
      title = ss_application_name
    end
  %>
  <title><%= title %></title>
  <%= safe_join controller.stylesheets.map { |path| stylesheet_link_tag(path, media: "all") }, "\n" %>
  <%= safe_join controller.javascripts.map { |path, options| javascript_include_tag(path, options || {}) }, "\n" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="padding: 15px">
    <article>
      <div>
        <% if !@ss_rescue %>
          <% if ::File.exist?("#{Rails.root}/app/views/#{params[:controller]}/_content_navi.html.erb") %>
            <%= render partial: 'content_navi' %>
          <% elsif @tree_navi %>
            <div id="content-navi"><%= render template: '_tree_navi' %></div>
          <% end %>
        <% end %>

        <%= yield %>
      </div>
    </article><!-- /#main -->

    <footer id="foot">
      <div id="ss-pc" style="display: none">PC View</div>
      <div id="ss-mb" style="display: none">Mobile View</div>
    </footer><!-- /#foot -->

  </div><!-- /#page -->

  <% if notice %>
    <%= jquery do %>
      if (window.opener) {
        var message1 = { type: "ss.notice", payload: { body: '<%= br notice %>', options: <%== flash[:notice_options].to_json %> } };
        var message2 = { type: "ss.close" };
        window.opener.postMessage([ message1, message2 ], "*");
      }
    <% end %>
  <% end %>
  <% if Rails.env.test? %>
    <%= jquery do %>SS.disableConfirmUnloading = true;<% end %>
  <% end %>
</body>
</html>
