<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=2.0" />
  <title><%= ss_application_name %></title>
  <%= safe_join controller.stylesheets.map { |path| stylesheet_link_tag(path, media: "all") }, "\n" %>
  <%= safe_join controller.javascripts.map { |path, options| javascript_include_tag(path, options || {}) }, "\n" %>
  <%= stylesheet_link_tag('ss/print', media: 'all') %>
  <%= csrf_meta_tags %>
</head>
<body class="print-preview <%= @portrait.presence || 'vertical' %>">
  <div id="page" class="print-preview">
    <div id="wrap" class="print-preview">
      <div class="wrap">
        <article id="main" class="print-preview">
          <div class="wrap">
            <%= yield %>
          </div>
        </article>
      </div>
    </div>
  </div>
</body>
</html>
