<section class="task-box" id="task-box-<%= @item.id %>">
  <dl class="info">
    <dt><%= @item.t :state %></dt>
    <dd class="state">
      <% if @item.state %>
        <%= t("job.state.#{@item.state}") %>
      <% end %>
      <% if @item.state != 'completed' %>
        <%= button_tag t("ss.buttons.stop"), name: 'interrupt', type: 'button', class: 'btn' %>
        <%= button_tag t("ss.buttons.reset"), name: 'reset', type: 'reset', class: 'btn' %>
      <% end %>
    </dd>

    <dt><%= @item.t :current_count %></dt>
    <dd class="count"><%= @item.current_count %> / <%= @item.total_count %></dd>

    <dt><%= @item.t :started %></dt>
    <dd class="started"><%= ss_time_tag @item.started %></dd>

    <dt><%= @item.t :closed %></dt>
    <dd class="closed"><%= ss_time_tag @item.closed %></dd>
  </dl>

  <div class="controller">
    <% if @item.respond_to?(:log_file_path) && SS::User.allowed?(:edit, @cur_user) %>
      <%= link_to(t('job.download_log'), download_job_sys_task_path(id: @item), { class: "btn", target: "_blank", rel: "noopener" }) %>
    <% end %>
  </div>

  <div class="logs">
    <textarea class="log" readonly="readonly"><%= @item.logs.join("\n") %></textarea>
  </div>
</section>

<% if @item.state != 'completed' %>
  <%= jquery do %>
    $('button[name=interrupt]').on('click', function() {
      $.ajax({
        type: 'POST',
        url: '<%= url_for(action: :interrupt) %>',
        success: function() {
          alert('<%= t('ss.tasks.interrupted') %>');
        },
        error: function(xhr, status, error) {
          alert(["== Error =="].concat(xhr.responseJSON).join("<br>"));
        }
      });
    });

    $('button[name=reset]').on('click', function() {
      if (! confirm('<%= t('ss.tasks.confirm_reset') %>')) {
        return;
      }

      $.ajax({
        type: 'POST',
        url: '<%= url_for(action: :reset) %>',
        success: function() {
          location.reload();
        },
        error: function(xhr, status, error) {
          alert(["== Error =="].concat(xhr.responseJSON).join("<br>"));
        }
      });
    });
  <% end %>
<% end %>
