<%
  return if @item.deleted?
  return unless use_agent?

  workflow_agent_type = @item.workflow_agent_type.presence
  workflow_agent_type ||= @item.workflow_user_id.blank? || @item.workflow_user_id == @cur_user.id ? "myself" : "agent"
%>

<dl class="see agent_type change_agent_type">
  <dt><%= @model.t :workflow_user_id %><%= @model.tt :workflow_user_id %></dt>
  <dd>
    <label>
      <%= radio_button_tag("#{f.object_name}[workflow_agent_type]", "myself", workflow_agent_type != "agent") %>
      <%= t("gws/workflow.agent_type.myself") %>
      (<%= @cur_user.name %>)
    </label>
  </dd>
  <dd class="agent-type-agent">
    <label><%= radio_button_tag("#{f.object_name}[workflow_agent_type]", "agent", workflow_agent_type == "agent") %> <%= t("gws/workflow.agent_type.agent") %></label>
    <%= f.hidden_field :workflow_user_id, value: "", class: "hidden-ids", id: nil %>
    <%= link_to t("gws/workflow2.search_delegatees.index"), gws_workflow2_apis_delegatees_path(single: 1), class: "btn ajax-box" %>
  </dd>
  <dd class="agent-type-agent">
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Gws::User.t :name %></th>
        <th class="deselect"></th>
      </tr>
      </thead>
      <tbody>
      <% if @item.workflow_user_id && @item.workflow_user_id != @cur_user.id %>
        <tr data-id="<%= @item.workflow_user_id %>">
          <td>
            <%= f.hidden_field :workflow_user_id %>
            <%= gws_public_user_long_name(@item.workflow_user.long_name) %>
          </td>
          <td>
            <%= button_tag t("ss.buttons.delete"), name: "deselect", type: :button, class: "deselect btn" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
