<%= form_for :item, url: "#{@cur_node.url}#{@item.id}", html: { id: "item-form", method: :delete, multipart: true } do |f| %>
<%= error_messages_for :item %>

<table class="see opendata-app show">
  <tr class="parent-row">
    <td class="field"><%= @model.t :name %></td>
    <td class="input"><%= @item.send :name %></td>
  </tr>
</table>

<footer class="send">
  <div>
  	<%= f.submit t("views.button.delete"), class: :delete %>
  </div>
</footer>

<% end %>
