<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>
<dl class="see mod-ss-file-setting">
  <dt><%= @model.t :file_resizing %><%= @model.tt :file_resizing %></dt>
  <dd class="short">
    <label class="width">
      <span class="prefix"><%= @item.t :file_resizing_width %></span>
      <%= f.number_field :in_file_resizing_width, value: @item.file_resizing[0] %>
    </label>
    <label class="height">
      <span class="prefix"><%= @item.t :file_resizing_height %></span>
      <%= f.number_field :in_file_resizing_height, value: @item.file_resizing[1] %>
    </label>
  </dd>

  <dt><%= @model.t :multibyte_filename_state %><%= @model.tt :multibyte_filename_state %></dt>
  <dd><%= f.select :multibyte_filename_state, @item.multibyte_filename_state_options, include_blank: true %></dd>

  <dt><%= @model.t :file_fs_access_restriction_state %><%= @model.tt :file_fs_access_restriction_state %></dt>
  <dd><%= f.select :file_fs_access_restriction_state, @item.file_fs_access_restriction_state_options, include_blank: true %></dd>

  <dt class="depth-2"><%= @model.t :file_fs_access_restriction_allowed_ip_addresses %><%= @model.tt :file_fs_access_restriction_allowed_ip_addresses %></dt>
  <dd class="depth-2"><%= f.ss_lines_field :file_fs_access_restriction_allowed_ip_addresses %></dd>

  <dt class="depth-2"><%= @model.t :file_fs_access_restriction_basic_auth %><%= @model.tt :file_fs_access_restriction_basic_auth %></dt>
  <dd class="depth-2">
    <%= f.text_field :file_fs_access_restriction_basic_auth_id, style: "width: 40%", placeholder: @model.t(:file_fs_access_restriction_basic_auth_id) %>
    <%= f.password_field :in_file_fs_access_restriction_basic_auth_password, autocomplete: "new-password", style: "width: 40%", placeholder: @model.t(:file_fs_access_restriction_basic_auth_password) %>
  </dd>

  <dt class="depth-2"><%= @model.t :file_fs_access_restriction_env %><%= @model.tt :file_fs_access_restriction_env %></dt>
  <dd class="depth-2">
    <%= f.text_field :file_fs_access_restriction_env_key, style: "width: 40%", placeholder: @model.t(:file_fs_access_restriction_env_key) %>
    <%= f.text_field :file_fs_access_restriction_env_value, style: "width: 40%", placeholder: @model.t(:file_fs_access_restriction_env_value) %>
  </dd>
</dl>
