<%
  addon ||= local_assigns.fetch(:addon, {})
%>

<dl class="see mod-gws-notice-resource-limitation">
  <dt><%= t('gws/notice.body_size') %></dt>
  <dd></dd>

  <dt class="depth-2"><%= t('gws/notice.individual_body_size') %></dt>
  <dd class="depth-2"><%= number_to_human_size(@item.notice_individual_body_size_limit) %></dd>

  <dt class="depth-2"><%= t('gws/notice.total_body_size') %></dt>
  <dd class="depth-2">
    <%= number_to_human_size(@item.notice_total_body_size_limit) %>
    （<span class="current-stats"><%= t('gws/notice.total_body_size_current_stats', size: number_to_human_size(@item.notice_total_body_size), percentage: @item.notice_total_body_size_percentage.to_s(:percentage, precision: 2)) %></span>
    <%= button_tag t('gws/notice.links.reclaim_total_size'), name: 'reclaim_total_size', type: 'button', class: 'btn' %>）
  </dd>

  <dt><%= t('gws/notice.file_size') %></dt>
  <dd></dd>

  <dt class="depth-2"><%= t('gws/notice.individual_file_size') %></dt>
  <dd class="depth-2"><%= number_to_human_size(@item.notice_individual_file_size_limit) %></dd>

  <dt class="depth-2"><%= t('gws/notice.total_file_size') %></dt>
  <dd class="depth-2">
    <%= number_to_human_size(@item.notice_total_file_size_limit) %>
    （<span class="current-stats"><%= t('gws/notice.total_file_size_current_stats', size: number_to_human_size(@item.notice_total_file_size), percentage: @item.notice_total_file_size_percentage.to_s(:percentage, precision: 2)) %></span>
    <%= button_tag t('gws/notice.links.reclaim_total_size'), name: 'reclaim_total_size', type: 'button', class: 'btn' %>）
  </dd>
</dl>

<%= jquery do %>
  var token = $('meta[name="csrf-token"]').attr('content');
  var $el = $("#<%= addon[:id] %>");

  $el.find('button[name=reclaim_total_size]').on('click', function() {
    var $form = $("<form />", { action: "<%= url_for(action: :reclaim) %>", method: "POST" });
    var $token = $("<input/>", { type: "hidden", name: "authenticity_token", value: token });
    $form.append($token);
    $el.append($form);
    $form.submit();
  });
<% end %>
