<dl class="see">
  <dt><%= @model.t :name %><%= @item.tt :name %><%= required_label %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :ckan_id %><%= @item.tt :ckan_id %><%= required_label %></dt>
  <dd><%= f.text_field :ckan_id %></dd>

  <dt><%= @model.t :ckan_name %><%= @item.tt :ckan_name %><%= required_label %></dt>
  <dd><%= f.text_field :ckan_name %></dd>

  <dt><%= @model.t :order %><%= @item.tt :order %></dt>
  <dd><%= f.number_field :order %></dd>

  <dt><%= @model.t :category_ids %><%= @model.tt :category_ids %></dt>
</dl>

<dl class="see">
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "category_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("cms.apis.categories.index"), opendata_apis_categories_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= t("category.name") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.categories.each do |cate| %>
        <tr data-id="<%= cate.id %>">
          <td><%= f.hidden_field "category_ids[]", value: cate.id %> <%= cate.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see">
  <dt><%= @model.t :estat_category_ids %><%= @model.tt :estat_category_ids %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "estat_category_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("cms.apis.categories.index"), opendata_apis_estat_categories_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= t("category.name") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.estat_categories.each do |cate| %>
        <tr data-id="<%= cate.id %>">
          <td><%= f.hidden_field "estat_category_ids[]", value: cate.id %> <%= cate.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>