<nav class="nav-management-menu">
  <% if Gws::Monitor::Topic.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to gws_monitor_management_topics_path do %>
          <i class="material-icons md-20">&#xE8B8;</i><%= t("ss.management") %>
      <% end %>
  <% end %>
</nav>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%#= link_to t("gws/monitor.links.categories"), categories_gws_monitor_topics_path %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.new'), action: :new %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|categories/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) && params['action'] == 'show' %>
      <%= link_to t('gws/monitor.links.forward'), action: :forward, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>

