<%
  content_head = nil
  if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_content_head.html.erb")
    content_head = "#{params[:controller]}/content_head.html.erb"
  elsif controller.content_head_view_file
    content_head = controller.content_head_view_file
  end
%>

<% if content_head %>
  <%= render partial: content_head %>
<% else %>
  <section class="content-head">
    <div class="d-flex justify-content-between flex-wrap">
      <div class="title">
        <h1 class="icon-content d-flex align-items-center"><%= ss_window_name %></h1>
        <% if @crumbs.size > 0 %>
        <ol class="breadcrumb">
          <% @crumbs.each_with_index do |item, idx| %>
            <li class="breadcrumb-item" <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
          <% end %>
        </ol>
        <% end %>
      </div>
    </div>
  </section>

  <%
    mod_navi = nil
    if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_mod_navi.html.erb")
      mod_navi = "#{params[:controller]}/mod_navi.html.erb"
    elsif controller.mod_navi_view_file
      mod_navi = controller.mod_navi_view_file
    end
  %>
  <% if mod_navi %>
    <%= render partial: mod_navi %>
  <% end %>
<% end %>
