
<% @items.each do |item| %>
  <div class="addon-view">
    <div class="addon-head">
      <h2><%= item.long_name %></h2>
    </div>
    <div class="addon-body">
      <dl class="see">
        <dt><%= item.t :date %></dt>
        <dd><%= item.start_close_label %></dd>

        <dt><%= item.t :leave_unit_id %></dt>
        <dd><%= tryb { item.leave_unit.leave.name } %></dd>

        <dt><%= item.t :body %></dt>
        <dd><%=br item.body %></dd>

        <% if item.files.present? %>
          <dt><%= item.t :file_ids %></dt>
          <dd>
            <% item.files.each do |file| %>
              <%= link_to file.name, file.url %><br>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
<% end %>
