<%= form_for :record, url: { action: :night_shift }, html: { method: :post, multipart: true } do |f| %>
  <%= error_messages_for :record %>

  <%= hidden_field_tag 'ref', params[:ref] %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-body">
        <dl class="see">
          <dt><%= Gws::Affair2::Attendance::Record.t :night_shift %></dt>
          <dd><%= f.select :night_shift, @record.night_shift_options %></dd>
        </dl>
      </div>
    </div>
  </div>

  <footer class="send">
    <%= f.submit t("ss.buttons.save"), class: 'btn-primary save', data: { disable_with: t("ss.buttons.saving") } %>
    <%= f.button t("gws/attendance.buttons.close"), class: 'btn-default', type: :reset, onclick: "$.colorbox.close(); return false;" %>
  </footer>
<% end %>
