<%= form_for :cell, url: { action: :overtime_files }, html: { method: :post, multipart: true, class: 'cell-edit' } do |f| %>
  <%= error_messages_for :cell %>

  <%= hidden_field_tag 'ref', params[:ref] %>

  <% @cell.items.each do |item| %>
    <%
      item.load_in_minutes
    %>
    <div class="addon-view">
      <div class="addon-head">
        <h2><%= item.long_name %></h2>
      </div>
      <div class="addon-body">
        <dl class="see">
          <dt><%= item.t :date %></dt>
          <dd>
            <%= hidden_field_tag "in_items[][id]", item.id, id: nil %>
            <%= hidden_field_tag "in_items[][in_date]", l(item.date.to_date, format: :picker), id: nil %>
            <span style="padding-right: 8px;"><%= l(item.date.to_date, format: :long) %></span>
            <%= select_tag "in_items[][in_start_hour]", options_for_select(item.in_start_hour_options, item.in_start_hour) %>
            <%= select_tag "in_items[][in_start_minute]", options_for_select(item.in_start_minute_options, item.in_start_minute) %>
            <%= t("ss.wave_dash") %>
            <%= select_tag "in_items[][in_close_hour]", options_for_select(item.in_close_hour_options, item.in_close_hour) %>
            <%= select_tag "in_items[][in_close_minute]", options_for_select(item.in_close_minute_options, item.in_close_minute) %>
          </dd>

          <dt><%= item.t :body %></dt>
          <dd><%=br item.body %></dd>
        </dl>
      </div>
    </div>
  <% end %>

  <footer class="send">
    <%= submit_tag t("ss.buttons.save"), class: "btn-primary save" %>
    <%= link_to t("ss.buttons.cancel"), "", class: "btn btn-default", onclick: "$.colorbox.close(); return false;" %>
  </footer>
<% end %>


<%= jquery do %>
  var $el = $('form.cell-edit');
  $el.on('submit', function(e) {
    e.preventDefault();
    $(this).ajaxSubmit({
      success: function (data) {
        location.href = data.location;
      },
      error: function(xhr, status, error) {
        var $html = $(xhr.responseText);
        $el.html($html.html());
      }
    });
  });
<% end %>
