<%= form_for :record, url: { action: :travel_cost }, html: { method: :post, multipart: true } do |f| %>
  <%= error_messages_for :record %>

  <%= hidden_field_tag 'ref', params[:ref] %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-body">
        <dl class="see">
          <dt><%= Gws::Affair2::Attendance::Record.t :travel_cost %></dt>
          <dd>
            <%= f.number_field :travel_cost, min: 0 %>
            <%= t("gws/affair2.views.yen") %>
          </dd>
        </dl>
      </div>
    </div>
  </div>

  <footer class="send">
    <%= f.submit t("ss.buttons.save"), class: 'btn-primary save', data: { disable_with: t("ss.buttons.saving") } %>
    <%= f.button t("gws/attendance.buttons.close"), class: 'btn-default', type: :reset, onclick: "$.colorbox.close(); return false;" %>
  </footer>
<% end %>
