<%= form_for(:item, url: "#{@cur_node.url}", method: "get", html: { class: 'event-search' }) do %>
  <fieldset class="keyword">
    <legend><%= t("event.keyword") %></legend>
    <%= text_field_tag :search_keyword, @keyword %>
  </fieldset>

  <fieldset class="categories">
    <legend><%= t("event.category.setting") %></legend>
    <% @categories.each do |cate| %>
      <label for=<%= "q_category_ids_#{cate.id}" %>>
        <%= check_box_tag 'category_ids[]', cate.id, @category_ids.include?(cate.id) ? {checked: true} : nil,
          { id: "q_category_ids_#{cate.id}", class: "prop"} %>
        <%= cate.name %>
      </label>
    <% end %>
  </fieldset>

  <fieldset class="event-date-range">
    <legend><%= t("event.dates.setting") %></legend>
    <div class="dates location">
      <%= ss_date_field_tag "event[][start_date]", @start_date, {}, { id: nil, class: "start", title: t("event.dates.start_date") } %>
      - <%= ss_date_field_tag "event[][close_date]", @close_date, {}, { id: nil, class: "close", title: t("event.dates.close_date") } %>
    </div>
  </fieldset>

  <fieldset class="event-facility">
    <legend><%= t("event.facility.setting") %></legend>
    <%= text_field_tag :facility_name, @facility_name %>
  </fieldset>

  <footer class="send">
    <%= submit_tag t('event.submit.search'), name: nil %>
    <%= link_to t("event.submit.reset"), @cur_node.url, class: 'btn' %>
  </footer>
<% end %>

<div class="page">
  <div class="event-pages pages">
  <%= render_page_list %>
  </div>
</div>

<%= paginate @items if @items.try(:current_page) %>
