<%= jquery do %>
Event_Form.render();
<% end %>
<div class="mod-event">
<%= form_for :item, url: "#{@cur_node.url}", method: "get" do %>
    <h2><%= t("event.keyword") %></h2>
    <div class="keyword"><%= text_field_tag :search_keyword, @keyword, class: "keyword" %></div>

    <h2><%= t("event.category.setting") %></h2>
    <div class="category">
    <% @categories.each do |cate| %>
      <div class="<%= cate.id %>">
        <%= check_box_tag 'category_ids[]', cate.id, @category_ids.include?(cate.id.to_s) ? {checked: true} : nil,
          { :id => "q_category_ids_#{cate.id}", :class => "prop"} %>
        <label for=<%= "q_category_ids_#{cate.id}" %>><%= cate.name %></label>
      </div>
    <% end %>
    </div>

    <h2><%= t("event.dates.setting") %></h2>
    <div class="dates location">
      <%= text_field_tag "event[][start_date]", @start_date, { id: nil, class: "date js-date start" } %>
      - <%= text_field_tag "event[][close_date]", @close_date, { id: nil, class: "date js-date close" } %>
    </div>
    <div class="mod-event" style="display: none;"><%= text_area_tag :event_dates, nil, { class: "event-dates btn" } %></div>

  <footer class="send">
    <%= submit_tag t('event.submit.search'), name: nil %>
    <a href="<%= @cur_node.url %>" class="btn">リセット</a>
    <!-- <%= submit_tag t('event.submit.reset'), name: nil, type: :reset, class: :search_clear %> -->
  </footer>
<% end %>
</div>
<div class="page">
  <div class="article-pages pages">
  <%= render_page_list %>
  </div>
</div>
<%= paginate @items if @items.try(:current_page) %>
