<%
licenses = Opendata::License.site(@cur_site).public.sort(order: 1).map { |c| [c.name, c.id] }
%>
<%= javascript_include_tag "opendata/public" %>
<%= coffee do %>
$ ->
  data = <%== @model.format_options.to_json %>

  $("#item_format").autocomplete
    source: (request, response) ->
      response(
        $.grep data, (value) ->
          return value.match(new RegExp("^" + request.term, "i"))
      )

  $("#item_in_file").change ->
    filename = $(this).val()
    if filename.match(/\./)
      $("#item_format").val filename.replace(/.*\./, "").toUpperCase()
<% end %>

<dl class="see opendata-dataset-resources">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :file_id %></dt>
  <dd><%= f.file_field :in_file %></dd>

  <dt><%= @model.t :format %><%= @item.tt :format %></dt>
  <dd><%= f.text_field :format, style: "width: 8em; ime-mode: disabled;" %></dd>

  <dt><%= @model.t :license_id %></dt>
  <dd><%= f.select :license_id, licenses, include_blank: "" %></dd>

  <dt><%= @model.t :text %><%= @item.tt :text %></dt>
  <dd><%= f.text_area :text %></dd>

  <dt><%= @model.t :tsv_id %><%= @item.tt :tsv_id %></dt>
  <dd><%= f.file_field :in_tsv %></td>
  <% if @item.tsv_id %>
  <dd><label><%= f.check_box :rm_tsv %><%= t "views.button.delete" %> (<%= @item.tsv.filename %>)</label></dd>
  <% end %>
</dl>
