<div class="see column-values">
  <% column_values.order_by(order: 1, name: 1).each do |column_value| %>
    <% column = form.columns.find(column_value.column_id) rescue nil %>
    <% next if column.blank? %>
    <% if column.column_show_path %>
      <%= render file: column.column_show_path, locals: { column: column, value: column_value } %>
    <% elsif column_value.class != Cms::Column::Value::Base && column_value.respond_to?(:value) %>
      <%= render 'cms/agents/columns/main/base', show: true, column: column, value: column_value do %>
        <%= br [ column_value.value.presence ].compact.flatten.join(', ') %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= jquery do %>
  $(".column-value .file-view a.thumb").on("click", function(ev) {
    var $this = $(ev.currentTarget);
    if ($this.find("img").length === 0) {
      return true;
    }

    var path = $this.attr("href");
    if (path.startsWith("/fs/")) {
      var $fileView = $(this).closest(".file-view");
      var fileId = $fileView.data("file-id");

      path = "<%= view_cms_apis_content_file_path(id: ":id") %>".replace(":id", fileId);
    }

    $.colorbox({
      href: path,
      width: "90%",
      height: "90%",
      fixed: true,
      open: true,
      onComplete: function() { $("#ss-file-view").trigger("ss:cboxCompleted"); }
    });

    ev.preventDefault();
    return false;
  });
<% end %>
