<div class="see column-values">
  <% column_values.order_by(order: 1, name: 1).each do |column_value| %>
    <% column = form.columns.find(column_value.column_id) rescue nil %>
    <% next if column.blank? %>
    <% if column.column_show_path %>
      <%= render file: column.column_show_path, locals: { column: column, value: column_value } %>
    <% elsif column_value.class != Cms::Column::Value::Base && column_value.respond_to?(:value) %>
      <%= render 'cms/agents/columns/main/base', show: true, column: column, value: column_value do %>
        <%= br [ column_value.value.presence ].compact.flatten.join(', ') %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= jquery do %>
  SS_FileView.listenTo(".column-value .file-view a.thumb", { viewPath: "<%= view_cms_apis_content_file_path(id: ":id") %>" });
<% end %>
