<%= form_for :item, url: "#{@cur_node.url}reset_password", html: { method: "POST" } do |f| %>
  <div class="reset-password-description">
    <%= simple_format(h I18n.t("views.reset_password.description")) %>
  </div>

  <div class="member-registration-form">
    <%= error_messages_for :item, header_message: false %>
    <%= render partial: "reset_password", locals: { f: f, confirm: false } %>
    <footer class="send">
      <%= f.submit t("member.button.send"), name: :submit %>
    </footer>
  </div>
<% end %>
