<%

def node_class(path)
  "node-" + path.to_s.sub(/\/$/, "").gsub(/[^\w-]+/, "-")
end

def page_class(path)
  "page-" + path.to_s.sub(/\/$/, "/index").sub(/\.html$/, "").gsub(/[^\w-]+/, "-")
end

%>
<article class="sitemap-body">
  <% @cur_page.sitemap_list.each do |node| %>
    <<%= hx = "h" + (node[:depth] + 1).to_s %> class="<%= page_class node[:url] %>">
      <%= link_to node[:name], node[:url] %>
    </<%= hx %>>

    <% if node[:pages] %>
    <ul class="<%= node_class node[:url] %>">
      <% node[:pages].each_with_index do |page, idx| %>
        <% classes = [page_class(page[:url])] %>
        <% classes << "last-child" if idx == node[:pages].size - 1 %>
        <li class="<%= classes.join(' ') %>"><%= link_to page[:name], page[:url] %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</article>
