<%
  controller.stylesheet "swiper", media: "all"
  controller.javascript "swiper", defer: true
%>

<div class="ss-swiper-slide" style="width: <%= width %>px;">
  <%
    slide_options.merge!(class: "swiper-container ss-swiper-slide-container ss-swiper-slide-main")
  %>
  <%= tag.swiper_container **slide_options do %>
    <% files.each do |file| %>
      <swiper-slide class="swiper-slide ss-swiper-slide-item" data-ss-file-id="<%= file.id %>">
        <%
          if file.try(:image)
            inner_html = file.image.then do |image|
              if image.sanitizer_state == 'wait'
                tag.div(class: "ss-swiper-slide-item-image") { tag.div(sanitizer_status(image), class: "mx-2 my-2") }
              else
                image_tag(image.url, width: width, alt: file.humanized_name, class: "ss-swiper-slide-item-image", loading: "lazy")
              end
            end
          elsif file.try(:image?)
            if file.sanitizer_state == 'wait'
              inner_html = tag.div(class: "ss-swiper-slide-item-image") { tag.div(sanitizer_status(file), class: "mx-2 my-2") }
            else
              inner_html = image_tag(file.url, width: width, alt: file.humanized_name, class: "ss-swiper-slide-item-image", loading: "lazy")
            end
          end
        %>

        <% if file.link_url.present? %>
          <%= link_to inner_html, sns_redirect_path(ref: file.link_url, back_to: request.url), class: "ss-swiper-slide-item-link", target: "_blank", rel: "noopener" %>
        <% else %>
          <%= inner_html %>
        <% end %>
      </swiper-slide>
    <% end %>
  <% end %>
</div>
