<%
  html_option = { id: "item-form", method: :put, multipart: true, autocomplete: :off }
%>

<%= form_for :item, url: { action: :update }, html: html_option do |f| %>
  <%= error_messages_for :item %>

  <%= hidden_field_tag :_updated, params[:_updated] || @item.updated if @item.respond_to?(:updated) %>

  <div class="addon-views">
    <%
      addon_options = {}
      addon_options[:id] = "addon-basic"
      addon_options[:head] = t("ss.login") + t("sys.diag")
    %>
    <% buf = render "form", f: f, addon: addon_options %>
    <% if buf.present? %>
      <%= render "ss/crud/addon", addon: addon_options do %>
        <%= buf %>
      <% end %>
    <% end %>
  </div>

  <footer class="send ss-sticky ss-sticky-bottom">
    <%= f.submit t("sys.diag"), class: 'btn-primary save' %>
  </footer>
<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
