<%= jquery do %>
    $(".mark-all").click(function(){
      var form = Gws_Topic.buildForm("<%= mark_all_gws_circular_topics_path %>", "<%= I18n.t('gws/circular.confirm.mark_all') %>");
      form.appendTo(document.body).submit();
    });

    $(".unmark-all").click(function(){
      var form = Gws_Topic.buildForm("<%= unmark_all_gws_circular_topics_path %>", "<%= I18n.t('gws/circular.confirm.unmark_all') %>");
      form.appendTo(document.body).submit();
    });

    $(".download").click(function(){
      var form = Gws_Topic.buildForm("<%= download_gws_circular_topics_path %>", "<%= I18n.t('gws/circular.confirm.download') %>");
      form.appendTo(document.body).submit();
    });
<% end %>

<% @index_meta = proc do |item| %>
    <span class="id">#<%= item.id %></span>
    <span class="datetime"><%= item.due_date.strftime('%Y/%m/%d %H:%M') %></span>
    <span class="gws-share-categories">
    <% item.categories.compact.each do |category| %>
      <%= link_to category.trailing_name, gws_share_category_files_path(category: category.id),
                  class: "gws-category-label", style: category_label_css(category) %>
    <% end %>
    </span>
<% end %>

<%= render file: 'gws/crud/index' %>
