<%= jquery do %>
    $(".set-seen-all").click(function(){
      var form = Gws_Circular_Topic.buildForm("<%= set_seen_all_gws_circular_topics_path %>", "<%= I18n.t('gws/circular.confirm.set_seen_all') %>");
      form.appendTo(document.body).submit();
    });

    $(".unset-seen-all").click(function(){
      var form = Gws_Circular_Topic.buildForm("<%= set_seen_all_gws_circular_topics_path %>", "<%= I18n.t('gws/circular.confirm.unset_seen_all') %>");
      form.appendTo(document.body).submit();
    });

    $(".download").click(function(){
      var form = Gws_Circular_Topic.buildForm("<%= download_gws_circular_topics_path %>", "<%= I18n.t('gws/circular.confirm.download') %>");
      form.appendTo(document.body).submit();
    });
<% end %>

<% @index_meta = proc do |item| %>
    <span class="id">#<%= item.id %></span>
    <span class="datetime"><%= tryb { item.due_date.strftime('%Y/%m/%d %H:%M') } %></span>
    <span class="gws-share-categories"></span>
<% end %>

<%= render file: 'gws/crud/index' %>
