<%= form_for :item, url: { action: :export }, html: { method: :put } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t("ss.links.export") %></h2></header>

    <% if Cms::Tool.allowed?(:edit, @cur_user, site: @cur_site) %>
      <dl class="see">
        <dt><%= t("ss.export_log") %></dt>
        <dd><%= link_to t("job.log"), job_cms_logs_path, target: "_blank", rel: "noopener" %></dd>
      </dl>
    <% end %>
  </section>

  <footer class="send">
    <%= f.submit t("ss.links.export"), class: :save, data: { confirm: t("ss.confirm.export") } %>
    <%= f.button t("ss.buttons.cancel"), class: 'btn-default', onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>
