<%= form_for :item, url: { action: :export }, html: { method: :put } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= "エクスポート" %></h2></header>

    <dl class="see">
      <dt><%= "エクスポートログ" %></dt>
      <dd><%= link_to t("job.log"), job_cms_logs_path, target: "_blank" %></dd>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit "エクスポート", class: :save, onclick: "return confirm('エクスポート処理を開始しますか？')" %>
    <%= f.button t("ss.buttons.cancel"), class: 'btn-default', onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>
