<%= form_for :item, url: { action: :build }, html: {id: "item-form", method: :post, multipart: true, autocomplete: :off} do |f| %>
  <%= error_messages_for :item %>

  <div class="main-box">
    <header><h2><%= t("kana.views.dictionaries/build_confirmation.build_header") %></h2></header>

    <p><%= t "kana.views.dictionaries/build_confirmation.build_description" %></p>

    <% @items.each do |item| %>
      <%= f.hidden_field "ids[]", value: item.id %>
    <% end %>

    <dl class="see">
      <dt><%= @model.t :name %></dt>
      <dd>
        <%= br @items.map(&:name).join("\n") %>
      </dd>
    </dl>
  </div>

  <footer class="send">
    <%= f.submit t("kana.views.button.build_kana_dictionary"), class: :save %>
    <%= f.button t("views.button.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>

<% end %>

<%= jquery do %>
  SS.confirmUnloading();
<% end %>
