<%= render file: "_search" %>

<table class="index">
  <thead>
    <tr>
      <th style="width: 20px;"><input type="checkbox" /></th>
      <% @model.fields.select {|k, v| k =~ /^(name|filename)/ }.keys.each do |key| %>
      <th><%= @model.t key %></th>
      <% end %>
      <th class="datetime"><%= @model.t :updated %></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td>
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="tap-menu">
          <%= link_to :show, action: :show, id: item %>
          <%= link_to :edit, action: :edit, id: item %>
          <%= link_to :delete, action: :delete, id: item %>
        </nav>
      </td>
      <% @model.fields.select {|k, v| k =~ /^(name|filename)/ }.keys.each_with_index do |key, idx| %>
        <% if idx == 0 %>
        <td><%= link_to item.send(key), action: :show, id: item %></td>
        <% elsif item.send(key).instance_of?(DateTime) %>
        <td><%= item.send(key).strftime("%Y/%m/%d %H:%M") %></td>
        <% elsif key == "filename" %>
        <td><%= File.basename item.send(key) %></td>
        <% else %>
        <td><%= item.send(key) %></td>
        <% end %>
      <% end %>
      <td><%= item.updated.strftime("%Y/%m/%d") %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
