<div class="gws-attendance">
  <div class="attendance-box">
    <div class="attendance-box-title"><%= @cur_month.year %>年<%= @cur_month.month %>月 休暇累計</div>
    <div class="attendance-box-main">
      <div class="nav-group">
        <%= tag.nav(class: "nav-menu", data: { controller: "ss--redirect-on-change", url: url_for(action: :show, year_month: ':year_month:') }) do %>
          <%= select_tag(:year_month, options_for_select(year_month_options, params[:year_month]), { include_blank: true, data: { default: default_year_month } }) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render template: "ss/crud/show" %>
