<%
  if @item.default_members.blank?
    addon ||= local_assigns.fetch(:addon, {})
    addon[:display_body] = "hide"
  end
%>

<dl class="see gws-addon-facility-default-members">
  <dt><%= @model.t :default_member_ids %><%= @model.tt :default_member_ids %></dt>
  <dd>
    <%= f.hidden_field "default_member_ids[]", value: "", class: "hidden-ids", id: nil %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
  </dd>
  <dd>
    <%= render SS::MoreContentComponent.new(cur_site: @cur_site, cur_user: @cur_user, max_height: "20em") do %>
      <table class="index ajax-selected">
        <thead>
        <tr>
          <th class="name"><%= Gws::Group.t :name %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @item.default_members.each do |user| %>
          <tr data-id="<%= user.id %>">
            <td><%= f.hidden_field "default_member_ids[]", value: user.id, id: nil %> <%= user.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </dd>
</dl>
