<%
  return render(plain: "") if @item.backups.size == 0
  source = ERB::Util.url_encode(SS.request_path(request))
  top_backups = @item.backups.limit(History.max_histories).to_a
%>
<dl class="see">
  <table class="index history-backup-table">
    <thead class="list-head">
      <tr>
        <th class="created"><%= @model.t :updated %></th>
        <th class="name"><%= t("history.editor_name") %></th>
        <th class="links"></th>
      </tr>
    </thead>
    <tbody>
    <% top_backups.each_with_index do |backup, index| %>
      <tr class="list-item" data-id="<%= backup.id %>">
        <td class="created">
          <%=
            # history/backup#updated は不意に変更される可能性がある。
            # 更新日時として history/backup#created を表示するのが適切。
            time_tag = ss_time_tag(backup.created)

            # マイグレーション実行時、組織変更実行時、全コンテンツインポート時など、シラサギにはタイムスタンプを変更せずにDBを更新する処理がいくつある。
            # 以前はアイテムの更新日時と編集履歴の更新日時とを比較して同じなら最新としていたが、これは適切ではない。
            # 編集履歴を created の降順に並べ、先頭のものを最新とする
            latest_backup = index == 0
            if latest_backup
              time_tag = t("history.this_is_latest_html", time: time_tag)
            end
            time_tag
          %>
        </td>
        <td class="name">
          <%=
            if backup.action == 'replace_urls'
              id = t("history.options.action.#{backup.action}")
            else
              if backup.user_id
                # ユーザーが作成した履歴
                group = backup.user ? Cms::Group.site(@cur_site).in(id: backup.user.group_ids).first : nil
                if group
                  id = "#{group.trailing_name} #{backup.user_name || backup.user.try(:name)}"
                else
                  id = backup.user_name || backup.user.try(:name)
                end
              elsif backup.member_id
                # メンバーが作成した履歴
                id = "#{Cms::Member.model_name.human}: #{backup.member_name}"
              else
                id = t("ss.system_operation")
              end
            end

            if id
              tag.span id
            end
          %>
        </td>
        <td class="links">
          <%= link_to t("ss.links.show"), history_cms_backup_path(source: source, id: backup.id, compare_to: top_backups[index + 1].try(:id)), class: "btn" %>
          <%=
            if top_backups[index + 1]
              link_to(t('history.compare_backup_to_previsous'), history_cms_change_path(source: source, id: backup.id, compare_to: top_backups[index + 1].id), class: 'btn')
            end
          %>
          <!--
          <%=
            # 隠し機能として以前の機能を残しておく
            unless latest_backup
              link_to(t('history.compare_backup_to_latest'), history_cms_change_path(source: source, id: backup.id), class: 'btn')
            end
          %>
          -->
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%=
    if @item.backups.count > History.max_histories
      t("history.n_out_of_m", n: History.max_histories, m: @item.backups.count)
    else
      t("history.n_out_of_m", n: @item.backups.count, m: @item.backups.count)
    end
  %>
</dl>
