<%

link_params = { action: 'index', year: params[:year], category: params[:category] }

%>
<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_workload_label || t('modules.gws/workload'), gws_workload_main_path, class: 'icon-workload' %></h2>
  <h3><%= link_to t('gws/workload.tabs.work'), link_params.merge(controller: 'works'), { class: 'work' } %></h3>
  <h3><%= link_to t('gws/workload.tabs.admin'), link_params.merge(controller: 'admins'), { class: 'admin' } %></h3>

  <% if Gws::Workload::Work.allowed?(:trash, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/workload.tabs.trash'), link_params.merge(controller: 'trashes'), { class: 'trash' } %></h3>
  <% end %>
  <% if Gws::Workload::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/workload/category'), link_params.merge(controller: 'categories'), class: "management" %></h3>
  <% end %>
  <% if Gws::Workload::Client.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/workload/client'), link_params.merge(controller: 'clients'), class: "management" %></h3>
  <% end %>
  <% if Gws::Workload::Cycle.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/workload/cycle'), link_params.merge(controller: 'cycles'), class: "management" %></h3>
  <% end %>
  <% if Gws::Workload::Load.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/workload/load'), link_params.merge(controller: 'loads'), class: "management" %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
