<%= jquery do %>
  $(".od-resource-file-meta").hide();
  $("input[name='item[opendata_dataset_state]']").each(function() {
    if ($(this).prop("checked")) {
      $(this).trigger('change');
    }
  });
<% end %>

<div id="file-<%= file.id %>" class="file-view" data-file-id="<%= file.id %>" data-name="<%= file.name %>" data-humanized-name="<%= file.humanized_name %>" data-url="<%= file.url %>" data-thumb-url="<%= file.thumb_url %>" data-extname="<%= file.extname %>">
  <%= sanitizer_status(file) %>
  <%= link_to file.url, class: :thumb, target: "_blank", rel: "noopener" do %>
    <% if file.image? %>
      <%= image_tag file.thumb_no_cache_url, alt: file.name %>
    <% else %>
      <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
    <% end %>
    <% if show_properties %>
      <div class="properties">
        <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
        <% if file.image? %>
          <% width, height = file.image_dimension %>
          <span><%= t("sns.w_h") %>: <%= width %> x <%= height %></span><br>
        <% end %>
        <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
        <span><%= t("sns.datetime") %>: <%= ss_time_tag file.updated %></span><br>
        <% if file.user.present? %>
          <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="name">
    <label>
      <input type="hidden" name="<%= name %>" value="<%= file.id %>" class="file-id" />
      <%= file.name %>
    </label>
    <%= content %>
  </div>
  <div class="action">
    <% if show_attach %>
      <%= attach_action %>
      <% if file.image? %>
        <%= image_paste_action %>
        <%= thumb_paste_action %>
      <% end %>
    <% end %>
    <% if show_delete %>
      <%= delete_action %>
    <% end %>
    <% if show_copy_url %>
      <%= copy_url_action %>
    <% end %>
  </div>

  <% if cur_node && cur_node.try(:opendata_sites).present? && page.respond_to?(:opendata_resources) %>
    <dl class="od-resource-file-meta">
      <dt><%= t('cms.opendata_ref/resource.license_id') %></dt>
      <dd>
        <%= select_tag "item[opendata_resources][#{file.id}][license_ids]", options_for_select(licenses, page.opendata_resources_licenses(file).first.try(:id)), include_blank: true %>
      </dd>

      <dt><%= t('cms.opendata_ref/resource.text') %></dt>
      <dd><%= text_area_tag "item[opendata_resources][#{file.id}][text]", page.opendata_resources_text(file) %></dd>

      <dt><%= t('cms.opendata_ref/resource.state') %></dt>
      <dd>
        <%= select_tag "item[opendata_resources][#{file.id}][state]", options_for_select(page.opendata_resource_state_options, page.opendata_resources_state(file)), class: 'od-resource-file-state', data: { 'file-id' => file.id } %>
      </dd>
    </dl>
  <% end %>
</div>
