<div class="cms-addon-file" data-controller="ss--file-select-box">
  <script type="application/json" data-ss--file-select-box-target="option">
    <%==
      {
        "uploadApi" => upload_api_path,
        "fileApi" => file_api_path,
        "selectApi" => select_api_path,
        "viewApi" => view_api_path,
        "dialogType" => "ss",
        "selectionType" => selection_type,
        "editorId" => html_editor_id
      }.to_json
    %>
  </script>

  <%=
    if field_name.end_with?("[]")
      hidden_field_tag(field_name, "", id: nil)
    end
  %>

  <div class="cms-addon-file-upload-actions">
    <div class="ss-btn-group" role="group" aria-label="<%= t('ss.upload_or_select_from_list') %>">
      <%= button_tag t('ss.buttons.upload'), type: :button, name: 'upload', class: "btn", data: { action: "ss--file-select-box#openDialog" } %>
      <%= button_tag t("ss.buttons.select_from_list"), type: :button, name: 'file', class: "btn", data: { action: "ss--file-select-box#openDialog" } %>
    </div>
  </div>

  <div class="cms-addon-file-drop-area" data-ss--file-select-box-target="fileUploadDropArea">
    <span class="cms-addon-file-drop-notice"><%= t('ss.notice.file_droppable') %></span>
  </div>

  <div class="cms-addon-file-selected-files-wrap">
    <% if selection_type != "single" %>
      <div class="cms-addon-file-order">
        <div class="ss-btn-group" role="group" aria-label="<%= t("mongoid.attributes.ss/document.sort") %>">
          <%= button_tag t('ss.buttons.file_name_order'), type: :button, name: "by-name", class: "btn", value: "name", aria: { pressed: false }, data: { action: "ss--file-select-box#reorderSelectedFiles" } %>
          <%= button_tag t('ss.buttons.file_upload_order'), type: :button, name: "by-upload", class: "btn", value: "upload", aria: { pressed: true }, data: { action: "ss--file-select-box#reorderSelectedFiles" } %>
        </div>
        <%= SS::File.tt :file_order %>
      </div>
    <% end %>

    <div class="cms-addon-file-selected-files" data-ss--file-select-box-target="result">
      <% if files.present? %>
        <% files.each do |file| %>
          <% file = file.becomes_with_model %>
          <%=
            component = SS::FileViewV2Component.new(
              cur_site: cur_site, cur_user: cur_user, cur_node: cur_node, page: page, item: item, file: file,
              name: field_name, show_attach: show_attach, show_opendata: show_opendata)
            render component
          %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
