<% addon ||= local_assigns.fetch(:addon, {}) %>

<%= code_editor "##{addon[:id]} .html", mode: :html %>
<%= jquery do %>
  Cms_Editor_CodeMirror.lock('#item_loop_setting_id', '#item_loop_html');

  <% if @model.use_liquid %>
  var $addon = $("<%= "##{addon[:id]}" %>");
  var changeLoopFormat = function() {
    var format = $addon.find("select[name='item[loop_format]']").val();
    if (format === "liquid") {
      $addon.find(".loop-format-shirasagi").addClass("hide");
      $addon.find(".loop-format-liquid").removeClass("hide");
      $("#addon-cms-agents-addons-child_list").addClass("hide");
    } else {
      $addon.find(".loop-format-shirasagi").removeClass("hide");
      $addon.find(".loop-format-liquid").addClass("hide");
      $("#addon-cms-agents-addons-child_list").removeClass("hide");
    }
  };

  changeLoopFormat();

  $addon.find("select[name='item[loop_format]']").on("change", changeLoopFormat);
  <% end %>
<% end %>

<dl class="see">
  <dt><%= @model.t :conditions %><%= @model.tt :conditions %></dt>
  <dd><%= f.text_area :conditions, value: @item.conditions.join("\n"), style: "height: 100px;" %></dd>
</dl>

<% if @model.use_new_days %>
  <dl class="see">
    <dt><%= @model.t :new_days %><%= @model.tt :new_days %></dt>
    <dd class="short"><%= f.number_field :new_days %> <span class="postfix"><%= t "datetime.prompts.day" %></span></dd>
  </dl>
<% end %>
