<table class="see opendata-idea show">
  <tr class="parent-row">
    <td class="field"><%= @model.t :name %></td>
    <td class="input"><%= @item.send :name %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :text %></td>
    <td class="input"><%= auto_link br(@item.text), html: { target: "_blank" } %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :tags %></td>
    <td class="input"><%= @item.tags.join(", ") %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :category_ids %></td>
    <td class="input"><%= @item.categories.map { |m| m.name }.join(", ") %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :area_ids %></td>
    <td class="input"><%= @item.areas.map { |m| m.name }.join(", ") %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :dataset_id %></td>
    <td class="input">
    <% if @item.dataset_ids.length > 0 %>
      <% if @item.datasets.length > 0 %>
      <%= @item.datasets[0].send :name %>
      <% else %>
      <%= I18n.t("opendata.labels.not_exist") %>
      <% end %>
    <% end %>
  </td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :app_id %></td>
    <td class="input">
    <% if @item.app_ids.length > 0 %>
      <% if @item.apps.length > 0 %>
      <%= @item.apps[0].send :name %>
      <% else %>
      <%= I18n.t("opendata.labels.not_exist") %>
      <% end %>
    <% end %>
  </td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :state %></td>
    <td class="input"><%= @item.label :state %></td>
  </tr>
</table>
