<nav class="menu">
  <a href="new/"><%= I18n.t("opendata.labels.new") %></a>
</nav>

<table class="opendata-resources index">
  <thead>
    <tr>
      <th class="name"><%= I18n.t("opendata.labels.resource_name") %></th>
      <th class="updated"><%= I18n.t("opendata.labels.update_datetime") %></th>
      <th class="format"><%= I18n.t("opendata.labels.format") %></th>
      <th class="size"><%= I18n.t("opendata.labels.size") %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><a href="<%= "#{item.id}/" %>"><%= item.name %></a></td>
      <td><%= tryb{item.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %></td>
      <td><%= item.format %></td>
      <td><%= number_to_human_size item.size %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
