<%= jquery do %>
  $('.ezine-form input').keypress(function (ev) {
    if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
      return false;
    } else {
      return true;
    });
  });
<% end %>

<h2 class="ezine-html"><%= t('ezine.entry_type.add') %></h2>

<%= form_for :item, url: "#{@cur_node.url}confirm.html", html: { multipart: true } do |f| %>
<div class="ezine-form">
  <%= error_messages_for :entry, header_message: false %>
  <%= render partial: "form", locals: { f: f, confirm: false }  %>
  <%= f.hidden_field :entry_type, value: :add, id: nil %>
  <footer class="send">
    <%= f.submit t('ezine.entry_type.add'), name: :submit %>
  </footer>
</div>
<% end %>
