<%= coffee do %>
$ ->
  $('.ezine-form input').keypress (ev) ->
    if (ev.which and ev.which is 13) or (ev.keyCode and ev.keyCode is 13)
      return false
    else
      return true
  return
<% end %>

<h2 class="ezine-html"><%= t('ezine.page_title.remove') %></h2>

<%= form_for :item, url: "#{@cur_node.url}confirm.html", html: { multipart: true } do |f| %>
<div class="ezine-form">
  <%= error_messages_for :answer, header_message: false %>
  <%= render partial: "form_remove", locals: { f: f, confirm: false }  %>
  <footer class="send">
  <%= f.submit t('ezine.button.confirm_remove'), name: :submit %>
  </footer>
</div>
<% end %>
