<%= jquery do %>
  $(".datetime").datetimepicker({ lang: "ja", roundTime: 'ceil', step: 15 });
<% end %>

<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :term %></dt>
  <dd>
    <%= f.text_field :start_at, class: "datetime start", value: tryb{@item.start_at.strftime("%Y/%m/%d %H:%M")} %>
    - <%= f.text_field :end_at, class: "datetime end", value: tryb{@item.end_at.strftime("%Y/%m/%d %H:%M")} %>
    &nbsp;<label><%= f.check_box :allday, {}, "allday", "" %> <%= @item.t :allday %></label>
  </dd>

  <% if nil %>
  <dt><%= @model.t :category_id %><%= @model.tt :category_id %></dt>
  <dd><%= f.select :category_id, @item.category_options, include_blank: " " %></dd>
  <% end %>

  <dt><%= @model.t :text %></dt>
  <dd><%= f.text_area :text %></dd>
</dl>
