<%= jquery do %>
  $(".datetime").
    datetimepicker({ lang: "ja", roundTime: 'ceil', step: 5 });

  $(".datetime.start").data('last-time', $(".datetime.start").val());
  $(".datetime.start").change(function() {
    var old = $(this).data('last-time');
    var str = $(this).val();
    var end = $(".datetime.end").val();
    if (end == "" || old == end) $(".datetime.end").val(str);
    $(this).data('last-time', str);
  });
<% end %>

<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :text %></dt>
  <dd><%= f.text_area :text %></dd>

  <dt><%= @model.t :term %></dt>
  <dd>
    <%= f.text_field :start_at, class: "datetime start", value: tryb{@item.start_at.strftime("%Y/%m/%d %H:%M")} %>
    - <%= f.text_field :end_at, class: "datetime end", value: tryb{@item.end_at.strftime("%Y/%m/%d %H:%M")} %>
    &nbsp;<label><%= f.check_box :allday, {}, "allday", "" %> <%= @item.t :allday %></label>
  </dd>

  <dt><%= @model.t :category_id %><%= @model.tt :category_id %></dt>
  <dd><%= f.select :category_id, @item.category_options, include_blank: " " %></dd>

  <dt><%= @model.t :member_ids %><%= @model.tt :member_ids %></dt>
  <dd><%= f.select :member_ids, Gws::User.site(@cur_site).map { |c| [c.name, c.id] }, {},
    { multiple: true, size: 5, style: "min-width: 300px" } %></dd>

  <dt><%= @model.t :facility_ids %><%= @model.tt :facility_ids %></dt>
  <dd><%= f.select :facility_ids, Gws::Facility.site(@cur_site).map { |c| [c.name, c.id] }, {},
    { multiple: true, size: 5, style: "min-width: 300px" } %></dd>
</dl>

