<%= jquery do %>
  Gws_Schedule_Plan.renderForm({ maxDate: "<%= @cur_site.schedule_max_at.strftime('%Y/%m/%d') %>" });
  Gws_Schedule_Plan.renderAlldayForm();
<% end %>

<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :term %><%= @model.tt :term %></dt>
  <dd>
    <div class="datetimes-field">
      <%= f.text_field :start_at, class: "datetime start", value: tryb { @item.start_at.strftime("%Y/%m/%d %H:%M") } %>
      - <%= f.text_field :end_at, class: "datetime end", value: tryb { @item.end_at.strftime("%Y/%m/%d %H:%M") } %>
    </div>
    <div class="dates-field">
      <%= f.text_field :start_on, class: "date start", value: tryb { @item.start_on.strftime("%Y/%m/%d") } %>
      - <%= f.text_field :end_on, class: "date end", value: tryb { @item.end_on.strftime("%Y/%m/%d") } %>
    </div>
  </dd>
  <dd>
    <div class="date-options">
      <label for="item_allday"><%= f.check_box :allday, {}, "allday", "" %> <%= @item.t :allday %></label>
    </div>
  </dd>

  <% if @item.category_options.present? %>
  <dt><%= @model.t :category_id %><%= @model.tt :category_id %></dt>
  <dd><%= f.select :category_id, @item.category_options, include_blank: " " %></dd>
  <% end %>

  <dt><%= @model.t :target %><%= @model.tt :target %></dt>
  <dd><%= f.select :target, @item.target_options %></dd>
</dl>
