<%= jquery do %>
  $('.gws-schedule-box header .operations .btn-csv').on('click', function() {
    location.href = '<%= @download_url %>';
  });

  $('.gws-schedule-box header .operations .btn-print').on('click', function() {
    var viewName = $('#calendar').fullCalendar('getView').name;
    var curDate = $('#calendar').fullCalendar('getDate');
    if (!viewName) {
      viewName = $('#calendar-controller').fullCalendar('getView').name;
      curDate = $('#calendar-controller').fullCalendar('getDate');
    }

    var viewFormat = "default";
    if ($('#calendar').find('.fc-withListView-button').hasClass("fc-state-active")) {
      viewFormat = "list";
    }

    var viewTodo = "inactive";
    if ($('#calendar').find('.fc-withTodo-button').hasClass("fc-state-active")) {
      viewTodo = "active";
    }

    var viewAttendance = "inactive";
    if ($('#calendar').find('.fc-withAbsence-button').hasClass("fc-state-active")) {
      viewAttendance = "active";
    }

    var queryString = '';
    if (viewName) {
      var queryParams = <%== request.query_parameters.to_json %>;
      if (! queryParams.calendar) {
        queryParams.calendar = {};
      }
      queryParams.calendar.view = viewName;
      queryParams.calendar.date = curDate.format();
      queryParams.calendar.viewFormat = viewFormat;
      queryParams.calendar.viewTodo = viewTodo;
      queryParams.calendar.viewAttendance = viewAttendance;
      queryString = '?' + $.param(queryParams);
    }
    var path = '<%= url_for({ action: :print }) %>' + queryString;
    location.href = path;
  });
<% end %>

<div class="operations">
  <% if @download_url %>
    <input type="button" value="CSV" class="btn btn-csv" />
  <% end %>
  <input type="button" value="<%= t('ss.buttons.print') %>" class="btn btn-print" />
</div>

<% category_options = @model.new(cur_site: @cur_site, cur_user: @cur_user).category_options %>
<% @s = OpenStruct.new params[:s] %>
<%= form_for :s, url: "", html: { method: :get, class: :search } do |f| %>
  <%= f.select :category_id, category_options, include_blank: @model.t(:category_id) if category_options.present? %>
  <%= f.text_field :keyword, style: "width: 140px;", placeholder: t("gws/schedule.search_plans") %>
  <input type="submit" value="<%= t('ss.buttons.search') %>" class="btn" />
<% end %>
