<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd>
    <% if @item.approval_state %>
      <span class="mr-1">(<%= @item.label :approval_state %>)</span>
    <% end %>
    <%= @item.send :name %>
  </dd>

  <dt><%= @model.t :term %></dt>
  <dd><%= term(@item) %></dd>

  <% if @item.category %>
  <dt><%= @model.t :category_id %></dt>
  <dd><%= @item.category.name %></dd>
  <% end %>

  <% if @item.priority.present? %>
  <dt><%= @model.t :priority %></dt>
  <dd><%= @item.label :priority %></dd>
  <% end %>

  <% if @item.color.present? %>
  <dt><%= @model.t :color %></dt>
  <dd><%= content_tag :span, @item.name, style: "background-color: #{@item.color}; color: #{@item.text_color}" %></dd>
  <% end %>
</dl>
