<%= jquery do %>
Gws_Schedule_Calendar.render('#calendar', {
  tapMenu: <%= @user.blank? || @user.id == @cur_user.id %>,
  restUrl: '<%= url_for action: :index %>',
  eventSources: [{ url: '<%= url_for action: :events, format: :json %>?<%= search_query %>' }]
}, <%== (params[:calendar] || {}).to_json %>);
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box gws-schedule-box">
  <header>
    <h2>
      <%= (@user || @cur_user).long_name %>
      <% if @user.blank? || @user.id == @cur_user.id %>
        <%= link_to t('gws/schedule.links.add_plan'), { action: :new }, { class: 'add-plan' } %>
      <% end %>
    </h2>
    <nav>
      <%= render file: '_search' %>
    </nav>
  </header>
  <div id="calendar" class="calendar"></div>
</section>
