<%= javascript_include_tag "/assets/js/fullcalendar/ja.js" %>
<%= jquery do %>
Gws_Schedule_Calendar.render('#calendar', {
  restUrl: '<%= url_for action: :index %>',
  eventSources: [{ url: '<%= url_for action: :index, format: :json %>' }]
});
<% end %>

<%#= render "search" %>

<section class="main-box schedule-calendar">
  <header><h2><%= (@user || @cur_user).name %></h2></header>
  <nav class="calendar-menu">
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('gws_schedule.links.add_plan'), { action: :new }, { class: 'add-plan' } %>
    <% end %>
  </nav>
  <div id="calendar" class="calendar"></div>
</section>
