<%= jquery do %>

$('.popup-attributes .custom-group-name').click(function() {
  $(this).parent().find('.custom-group-members').slideToggle('fast');
  return false;
});

<% end %>

<div class="popup-title"><%= link_to @item.name, { action: :show } %></div>
<div class="popup-date"><%= term(@item) %></div>

<% if @item.text.present? %>
<div class="popup-description">
  <div class="text <%= "markdown-body" if @item.text_type == "markdown" %>">
    <%== @item.html %>
  </div>
</div>
<% end %>

<div class="popup-attributes">
  <div class="popup-attr popup-members">
    <div class="popup-label"><%= t("modules.addons.gws/member") %></div>
    <div class="popup-value">

      <% @item.member_custom_groups.each do |c| %>
      <div class="custom-group">
        <a class="custom-group-name" href="#"><%= c.name %></a><br />
        <div class="custom-group-members" id="custom-group-<%= c.id %>">
          <%= c.members.map(&:long_name).join(', ') %>
        </div>
      </div>
      <% end %>

      <%= @item.members.order_by_title(@cur_site).map(&:long_name).join(', ') %>
    </div>
  </div>

  <% if @item.facilities.present? %>
  <div class="popup-attr popup-facilities">
    <div class="popup-label"><%= @item.t :facility_ids %></div>
    <div class="popup-value"><%= @item.facilities.map(&:name).join(', ') %></div>
  </div>
  <% end %>

  <% if hist = @item.histories.where(mode: 'update').first %>
  <div class="popup-attr popup-history">
    <div class="popup-label"><%= t "gws.history.user.update" %></div>
    <div class="popup-value">
      <span class="user"><%= hist.user_long_name %></span>
      <% if hist.user_tel %><span class="tel"><%= hist.user_tel %></span><% end %>
    </div>
  </div>
  <% end %>

  <div class="popup-attr popup-history">
    <div class="popup-label"><%= t "gws.history.user.create" %></div>
    <div class="popup-value">
      <span class="user"><%= @item.user_long_name %></span>
      <% if @item.user_tel %><span class="tel"><%= @item.user_tel %></span><% end %>
    </div>
  </div>
</div>

<%
menu = []
menu << link_to(I18n.t('views.links.show'), { action: :show })
menu << link_to(I18n.t('views.links.edit'), { action: :edit }) if @item.allowed?(:edit, @cur_user, @cur_site)
menu << link_to(I18n.t('views.links.delete'), { action: :delete }) if @item.allowed?(:delete, @cur_user, @cur_site)
%>
<% if menu.present? %>
<div class="popup-menu"><%= safe_join(menu) %></div>
<% end %>
