<dl class="see">
  <% 1.upto(Cms::Line::DeliverCondition::CHILD_CONDITION_MAX_SIZE) do |i| %>
    <dt><%= @model.t("year#{i}") %></dt>
    <dd>
      <%= f.number_field "lower_year#{i}", min: 0, style: "width: 80px !important;" %>
      <%= "歳" %>
      <%= f.number_field "lower_month#{i}", min: 0, max: 11, style: "width: 80px !important;" %>
      <%= "ヶ月" %>
      <%= t("ss.wave_dash") %>
      <%= f.number_field "upper_year#{i}", min: 0, style: "width: 80px !important;" %>
      <%= "歳" %>
      <%= f.number_field "upper_month#{i}", min: 0, max: 11, style: "width: 80px !important;" %>
      <%= "ヶ月" %>
    </dd>
  <% end %>

  <%= hidden_field_tag "item[deliver_category_ids][]" %>
  <% @item.deliver_categories.and_closed.each do |item| %>
    <%= hidden_field_tag "item[deliver_category_ids][]", item.id %>
  <% end %>

  <% Cms::Line::DeliverCategory::Category.site(@cur_site).each_public do |root, children| %>
    <dt><%= root.name %></dt>
    <dd>
      <% children.each do |category| %>
        <label>
          <%= check_box_tag "#{f.object_name}[deliver_category_ids][]", category.id, @item.deliver_category_ids.include?(category.id) %>
          <%= category.name %>
        </label>
      <% end %>
    </dd>
  <% end %>
</dl>
