<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item %>
  <%= link_to t('ss.links.restore'), action: :undo_delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
<% end %>

<% @index_title = proc do |item| %>
    <% title = item.try(:name) || item.try(:title) || item.try(:filename) || "##{item.id}" %>
    <%= link_to title, { action: :show, id: item }, class: 'title' %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="ss-quota-bar gws-schedule-todo-achievement-bar">
    <div class="label"><%= t("gws/schedule/todo.achievement_rate", count: item.achievement_rate || 0) %></div>
    <div class="usage " style="width: <%= item.achievement_rate || 0 %>%"></div>
  </span>
  <span class="members"><%= truncate(gws_public_user_long_names(item.sorted_overall_members.limit(3).map(&:long_name)).join(", ")) %></span>
  <span class="categories">
    <% item.categories.compact.each do |category| %>
      <% category_root = category.root %>
      <%= link_to category.name, url_for(category: category_root.id),
                  class: "gws-category-label", style: category_label_css(category_root) %>
    <% end %>
  </span>
  <span class="datetime">
    <%= @model.t(:term) %>: <%= term(item) %>
    <% if item.todo_state == 'unfinished' && item.end_at < Time.zone.now %>
    <span class="todo-over"><%= t('gws/schedule/todo.todo_over') %></span>
    <% end %>
  </span>
  <span class="datetime"><%= @model.t(:updated) %>: <%= item.updated.strftime('%Y/%m/%d %H:%M') %></span>
  <span class="datetime"><%= @model.t(:created) %>: <%= item.created.strftime('%Y/%m/%d %H:%M') %></span>
<% end %>

<%= render file: 'gws/crud/index' %>
