<dl class="see">
  <dt><%= @model.t :share_category_ids %></dt>
  <dd>
    <% @item.share_categories.each do |category| %>
      <% next unless category %>
      <span class="gws-category-label" style="<%= category_label_css(category) %>"><%= category.trailing_name %></span>
    <% end %>
  </dd>

  <dt><%= @model.t :share_folder_id %></dt>
  <dd><%= tryb { @item.share_folder.name } %></dd>

  <dt><%= @model.t :limit %></dt>
  <dd><%= @item.send :limit %></dd>
</dl>
