<dl class="see mod-event-category">
  <dt><%= t("category.setting") %><%= @model.tt :st_categories %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "st_category_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("cms.search_categories.index"), cms_search_categories_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= t("category.name") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.st_categories.each do |cate| %>
        <tr data-id="<%= cate.id %>">
          <td><%= f.hidden_field "st_category_ids[]", value: cate.id %> <%= cate.name %></td>
          <td><%= link_to t("cms.search_categories.deselect"), "#", class: :deselect %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

