<ul class="tree" data-controller="ss--tree">
  <% @folders.each do |folder| %>
    <% if folder[:has_children] %>
      <li>
        <details class="tree__details" data-ss--tree-target="details" data-open="<%= folder[:is_current] || folder[:is_parent] %>">
          <summary data-highlight="<%= folder[:is_current] %>" data-action="click->ss--tree#toggle">
            <a href="<%= folder[:url] %>" data-turbo="false"><%= folder[:name] %></a>
          </summary>

          <%= render 'tree_children', children: folder[:children] if folder[:has_children] %>
        </details>
      </li>
    <% else %>
      <li class="no-children" data-highlight="<%= folder[:is_current] %>">
        <a href="<%= folder[:url] %>" data-turbo="false"><%= folder[:name] %></a>
      </li>
    <% end %>
  <% end %>
</ul>
