<ul>
  <% @folders.values.first.each do |folder| %>
    <li>
      <details <%= 'open' if folder["is_parent"] %>>
        <summary>
          <a href="<%= folder["url"] %>"><%= folder["name"] %></a>
        </summary>

        <% if folder["children"].present? %>
          <ul>
            <% folder["children"].each do |child| %>
              <li>
                <a href="<%= child[:url] %>"><%= child[:name] %></a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </details>
    </li>
  <% end %>
</ul>
