<ul class="tree">
  <% @folders.each do |folder| %>
      <% if folder[:has_children] %>
        <li>
          <details <%= "open" if folder[:is_parent] %>>
            <summary>
              <a href="<%= folder[:url] %>"><%= folder[:name] %></a>
            </summary>

            <%= render 'tree_children', children: folder[:children] if folder[:has_children] %>
          </details>
        </li>
      <% else %>
        <li class="no-children">
          <a href="<%= folder[:url] %>"><%= folder[:name] %></a>
        </li>
      <% end %>
  <% end %>
</ul>

