<ul>
  <% @folders.each do |folder| %>
    <li>
      <% if folder[:has_children] %>
        <details <%= "open" if folder[:is_parent] %>>
          <summary>
            <a href="<%= folder[:url] %>"><%= folder[:name] %></a>
          </summary>

          <%= render 'tree_children', children: folder[:children] if folder[:has_children] %>
        </details>
      <% else %>
        <a href="<%= folder[:url] %>"><%= folder[:name] %></a>
      <% end %>
    </li>
  <% end %>
</ul>

