<dl class="see">
  <dt><%= @model.t :member_id %><%= @model.tt :member_id %></dt>
  <dd>
    <%= f.hidden_field "member_id", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path(single: 1), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% if @item.member %>
        <tr data-id="<%= @item.member_id %>">
          <td><%= f.hidden_field "member_id", value: @item.member_id, id: nil %> <%= gws_public_user_long_name(@item.member.long_name) %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :address_group_id %><%= @model.tt :address_group_id %></dt>
  <dd><%= f.select :address_group_id, @item.address_group_options, include_blank: true %></dd>

  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :kana %><%= @model.tt :kana %></dt>
  <dd><%= f.text_field :kana %></dd>

  <dt><%= @model.t :company %><%= @model.tt :company %></dt>
  <dd><%= f.text_field :company %></dd>

  <dt><%= @model.t :title %><%= @model.tt :title %></dt>
  <dd><%= f.text_field :title %></dd>

  <dt><%= @model.t :tel %><%= @model.tt :tel %></dt>
  <dd><%= f.text_field :tel %></dd>

  <dt><%= @model.t :email %><%= @model.tt :email %></dt>
  <dd><%= f.text_field :email %></dd>

  <dt><%= @model.t :home_postal_code %><%= @model.tt :home_postal_code %></dt>
  <dd><%= f.text_field :home_postal_code %></dd>

  <dt><%= @model.t :home_prefecture %><%= @model.tt :home_prefecture %></dt>
  <dd><%= f.text_field :home_prefecture %></dd>

  <dt><%= @model.t :home_city %><%= @model.tt :home_city %></dt>
  <dd><%= f.text_field :home_city %></dd>

  <dt><%= @model.t :home_street_address %><%= @model.tt :home_street_address %></dt>
  <dd><%= f.text_field :home_street_address %></dd>

  <dt><%= @model.t :home_tel %><%= @model.tt :home_tel %></dt>
  <dd><%= f.text_field :home_tel %></dd>

  <dt><%= @model.t :home_fax %><%= @model.tt :home_fax %></dt>
  <dd><%= f.text_field :home_fax %></dd>

  <dt><%= @model.t :office_postal_code %><%= @model.tt :office_postal_code %></dt>
  <dd><%= f.text_field :office_postal_code %></dd>

  <dt><%= @model.t :office_prefecture %><%= @model.tt :office_prefecture %></dt>
  <dd><%= f.text_field :office_prefecture %></dd>

  <dt><%= @model.t :office_city %><%= @model.tt :office_city %></dt>
  <dd><%= f.text_field :office_city %></dd>

  <dt><%= @model.t :office_street_address %><%= @model.tt :office_street_address %></dt>
  <dd><%= f.text_field :office_street_address %></dd>

  <dt><%= @model.t :office_tel %><%= @model.tt :office_tel %></dt>
  <dd><%= f.text_field :office_tel %></dd>

  <dt><%= @model.t :office_fax %><%= @model.tt :office_fax %></dt>
  <dd><%= f.text_field :office_fax %></dd>

  <dt><%= @model.t :personal_webpage %><%= @model.tt :personal_webpage %></dt>
  <dd><%= f.text_field :personal_webpage %></dd>

  <dt><%= @model.t :memo %><%= @model.tt :memo %></dt>
  <dd><%= f.text_area :memo, style: "height: 200px;" %></dd>
</dl>
