<%= form_for :item, url: "#{@cur_part.search_url}", method: "get" do %>
  <h2><%= t("event.keyword") %></h2>
  <div><%= text_field_tag :search_keyword, nil, class: "keyword" %></div>

  <h2><%= t("event.category.setting") %></h2>
  <div class="category">
  <% @categories.each do |cate| %>
    <div class="<%= cate.id %>">
      <label for=<%= "q_category_ids_#{cate.id}" %>>
        <%= check_box_tag 'category_ids[]', cate.id, nil,
          { id: "q_category_ids_#{cate.id}", class: "prop"} %>
        <%= cate.name %>
      </label>
    </div>
  <% end %>
  </div>

  <h2><%= t("event.dates.setting") %></h2>
  <div class="dates location">
    <%= text_field_tag "event[][start_date]", nil, { id: nil, class: "date js-date start" } %>
    - <%= text_field_tag "event[][close_date]", nil, { id: nil, class: "date js-date close" } %>
  </div>
  <footer class="send">
    <%= submit_tag t('event.submit.search'), name: nil %>
    <%= submit_tag t('event.submit.reset'), name: nil, type: :reset, class: :search_clear %>
  </footer>
<% end %>
