<ul class="ss-tree-subtree" role="group">
  <% children.each do |child_node| %>
    <% if child_node.children? %>
      <li class="ss-tree-item" role="treeitem">
        <details class="ss-tree-subtree-wrap"<% if child_node.opens %> open<% end %>>
          <summary>
            <%=
              element = tag.span(child_node.name, class: "ss-tree-item-title")
              if child_node.url.present?
                element = link_to element, child_node.url, class: "ss-tree-item-link", title: child_node.name, data: { turbo: false, node_id: child_node.id }
              end
              element
            %>
            <%=
              if shows_updated
                ss_time_tag child_node.updated, class: "ss-tree-item-updated"
              end
            %>
          </summary>

          <%= render SS::TreeBaseComponent::TreeChildren.new(component: component, children: child_node.children, shows_updated: shows_updated) %>
        </details>
      </li>
    <% else %>
      <li class="ss-tree-item no-children" role="treeitem">
        <%=
          element = tag.span(child_node.name, class: "ss-tree-item-title")
          if child_node.url.present?
            element = link_to element, child_node.url, class: "ss-tree-item-link", title: child_node.name, data: { turbo: false, node_id: child_node.id }
          end
          element
        %>
        <%=
          if shows_updated
            ss_time_tag child_node.updated, class: "ss-tree-item-updated"
          end
        %>
      </li>
    <% end %>
  <% end %>
</ul>
