<%= header %>
<ul class="ss-tree <%= css_class %>" role="tree">
  <% root_nodes.each do |node| %>
    <% if node.children? %>
      <li class="ss-tree-item" role="treeitem">
        <details class="ss-tree-subtree-wrap">
          <summary>
            <%= link_to tag.span(node.name, class: "ss-tree-item-title"), node.url, class: "ss-tree-item-link", data: { turbo: false, node_id: node.id } %>
          </summary>

          <%=
            if node.children?
              render SS::TreeBaseComponent::TreeChildren.new(children: node.children)
            end
          %>
        </details>
      </li>
    <% else %>
      <li class="ss-tree-item no-children" role="treeitem">
        <%= link_to tag.span(node.name, class: "ss-tree-item-title"), node.url, class: "ss-tree-item-link", data: { turbo: false, node_id: node.id } %>
      </li>
    <% end %>
  <% end %>
</ul>
