<nav class="menu">
  <%= link_to :"opendata.labels.edit_profile", "#{@cur_node.url}edit/" %>
</nav>

<table class="see">
  <tr class="parent-row">
    <td class="field"><%= @model.t :icon_id %></td>
    <td class="input"><%= member_icon @cur_member %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :name %></td>
    <td class="input"><%= @cur_member.name %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :email %></td>
    <td class="input"><%= @cur_member.email %></td>
  </tr>

  <tr class="parent-row">
    <% activity_log = Member::ActivityLog.site(@cur_site).where(member_id: @item, activity_type: 'login').order_by(updated: -1).first %>
    <% browser = Browser.new(activity_log.user_agent, accept_language: request.accept_language) if activity_log %>
    <td class="field"><%= t "opendata.labels.last_login" %></td>
    <td class="input">
      <%= activity_log ? activity_log.created.strftime("%Y/%m/%d %H:%M") : nil %>
      <%= browser ? "#{browser.name} #{browser.full_version}" : nil %>
    </td>
  </tr>
</table>

<nav class="account">
  <%= link_to :"opendata.labels.delete_account", "#{@cur_node.url}delete/" %>
</nav>
