<nav class="menu">
  <%= link_to :"opendata.labels.edit_profile", "#{@cur_node.url}edit/" %>
</nav>

<table class="see">
  <tr class="parent-row">
    <td class="field"><%= @model.t :icon_id %></td>
    <td class="input"><%= member_icon @cur_member %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :name %></td>
    <td class="input"><%= @cur_member.name %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :email %></td>
    <td class="input"><%= @cur_member.email %></td>
  </tr>
</table>

<nav class="account">
  <%= link_to :"opendata.labels.delete_account", "#{@cur_node.url}delete/" %>
</nav>
