<nav class="menu">
  <a href="edit/"><%= I18n.t("opendata.labels.edit_profile") %></a>
</nav>

<table class="see">
  <tr class="parent-row">
    <td class="field"><%= @model.t :icon_id %></td>
    <td class="input"><%= member_icon @cur_member %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :name %></td>
    <td class="input"><%= @cur_member.name %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :email %></td>
    <td class="input"><%= @cur_member.email %></td>
  </tr>
</table>

<nav class="account">
  <a href="delete/"><%= I18n.t("opendata.labels.delete_account") %></a>
</nav>
