<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_qna_label || t('modules.gws/qna'), gws_qna_main_path, class: "icon-question" %></h2>
  <h3><%= link_to t('ss.navi.readable'), gws_qna_topics_path(mode: '-', category: '-') %></h3>

  <% if Gws::Qna::Post.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('ss.navi.editable'), gws_qna_topics_path(mode: 'editable', category: '-') %></h3>
  <% end %>
  <% if Gws::Qna::Post.allowed?(:trash, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('ss.navi.trash'), gws_qna_topics_path(mode: 'trash', category: '-'), class: 'trash' %></h3>
  <% end %>
  <% if Gws::Qna::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_qna_categories_path, class: "management" %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
