<%= javascript_include_tag "/assets/js/fullcalendar/ja.js" %>

<section class="main-box portal-calendar">
  <header><h2><%= t('modules.gws_schedule') %></h2></header>

  <div class="calendar portal"></div>

  <%= jquery do %>
  $('.calendar').fullCalendar({
    <%= calendar_default_options_js %>,
    <%= calendar_editable_options_js url: gws_schedule_plans_path %>,
    defaultView: 'basicWeek',
    contentHeight: 'auto',
    eventSources: [{ url: '<%= gws_schedule_plans_path(format: :json) %>' }]
  });

  <% end %>
</section>

<section class="main-box porta-calendar">
  <header><h2><%= t('modules.gws_board') %></h2></header>

  <table class="index">
    <thead>
      <tr>
        <th>スレッドタイトル</th>
        <th>コメント数</th>
        <th>最終更新日時</th>
      </tr>
    </thead>

    <tbody>
      <% @boards.each do |item| %>
      <tr>
        <td class="title"><%= link_to item.name, gws_board_topic_path(id: item) %></td>
        <td class="comment"><%= item.descendants.size %></td>
        <td class="datetime"><%= item.descendants_updated.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
