<% if @notices.present? %>
<div class="index portal-notice">
  <div class="list-head"><%= t "mongoid.models.gws/notice" %></div>
  <ul class="list-items">
    <% @notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, gws_public_notice_path(id: item), class: "title notice-severity-#{item.severity}" %>
        <span class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <% if @notices.next_page %>
  <div class="more"><%= link_to I18n.t("views.links.more"), gws_public_notices_path %></div>
  <% end %>
</div>
<% end %>

<%= jquery do %>
$(".gws-schedule-tabs .personal").addClass("current");

Gws_Schedule_Multiple_Calendar.renderController('#calendar-controller');
Gws_Schedule_Multiple_Calendar.render('#calendar', {
  tapMenu: true,
  defaultView: 'basicWeek',
  restUrl: '<%= gws_schedule_plans_path %>',
  eventSources: [{ url: '<%= events_gws_schedule_plans_path(format: :json) %>' }]
});
<% end %>

<%= render partial: "gws/schedule/main/tabs" %>
<section class="main-box">
  <!-- <header><h2><%= t('modules.gws/schedule') %></h2></header> -->
  <div class="calendar" id="calendar-controller"></div>
  <div class="calendar-multiple-header">
    <%= link_to @cur_user.name, gws_schedule_plans_path, class: "calendar-name" %>
    <%= link_to t('gws/schedule.links.add_plan'), new_gws_schedule_plan_path, class: 'add-plan' %>
  </div>
  <div class="calendar multiple" id="calendar"></div>
</section>

<div class="portal-box portal-reminder">
  <div class="index">
    <div class="list-head"><%= t('gws/schedule.reminder') %></div>
    <ul class="list-items">
      <% @reminders.each do |item| %>
      <li class="list-item">
        <div class="info">
          <% if item.reminder_updated? %><span class="gws-reminder-updated-flag"></span><% end %>
          <%= link_to item.name, instance_exec(&item.url_lazy), class: 'title' %>
          <span class="datetime"><%= tryb { item.date.strftime("%Y/%m/%d") } %></span>
        </div>
      </li>
      <% end %>
    </ul>
    <% if @reminders.next_page %>
    <div class="more"><%= link_to I18n.t("views.links.more"), gws_reminders_path %></div>
    <% end %>
  </div>
</div>

<div class="portal-box portal-board">
  <div class="index">
    <div class="list-head"><%= t('modules.gws/board') %></div>
    <ul class="list-items">
      <% @boards.each do |item| %>
      <li class="list-item">
        <div class="info">
          <%= link_to item.name, gws_board_topic_path(id: item), class: 'title' %>
          <% if item.descendants_files_count.to_i > 0 %>
          <span class="gws-board-file-count"><img src="/assets/img/gws/ic-file.png" alt="" /><%= item.descendants_files_count %></span>
          <% end %>
          <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
          <span class="gws-board-categories">
            <% item.categories.compact.each do |category| %>
              <%= link_to category.trailing_name, gws_board_category_topics_path(category: category.id),
                          class: "gws-category-label", style: category_label_css(category) %>
            <% end %>
          </span>
          <span class="datetime"><%= item.descendants_updated.strftime("%Y/%m/%d %H:%M") %></span>
        </div>
      </li>
      <% end %>
    </ul>
    <% if @boards.next_page %>
    <div class="more"><%= link_to I18n.t("views.links.more"), gws_board_topics_path %></div>
    <% end %>
  </div>
</div>
