<%= jquery do %>
  var options = {};
  options.request_url = SS_Preview.workflowPath.request;
  if (!options.request_url) {
    options.request_url = "<%= SS.request_path(request) %>";
  }
  options.workflow_node = "workflow" + "<%= @item.parent ? @item.parent.id : "" %>";
  options.user_id = <%= @cur_user.id %>;
  options.errors = {};
  options.errors.not_select = "<%= @model.t :workflow_approvers %><%= t("errors.messages.not_select") %>";
  options.paths = {};
  options.paths.wizard = <%== cms_apis_preview_workflow_wizard_path.to_json %>;
  options.paths.pages = <%== "/.s#{@cur_site.id}/workflow/pages/#{@item.id}".to_json %>;

  var workflow = new SS_Workflow('#ss-preview-dialog-frame', options);
<% end %>

<section class="mod-workflow-request">
  <div class="see request-setting workflow-partial-section">
    <%= render template: "index", locals: local_assigns %>
  </div>
</section>
