<%= coffee do %>
$ ->
  result = $(".result")

  $(".search").on "click", (e)->
    path = "<%= cms_search_links_path %>"
    keyword = $(".keyword").val()
    option = $(".option:checked").val();
    data = { s: { keyword: keyword, option: option } }

    $.ajax
      type: "GET",
      data: data
      url: path + "?" + $.param(data)
      beforeSend: ->
        result.html(SS.loading)
      success: (data)->
        result.html(data)
      error: (data, status) ->
        alert(["== Error =="].concat(data.responseJSON).join("\n"))

    e.preventDefault()
    return false

<% end %>

<div class="search-form">
<%= form_for :item, url: { action: :update }, html: { id: "item-form", multipart: true, autocomplete: :off } do |f| %>
  <dl class="see">
    <dt>検索文字</dt>
    <dd>
      <%= text_field_tag :keyword, "", value: "", class: :keyword %>
      <%= f.button "検索", name: "search", class: :search %>
    </dd>

    <dt>置換文字</dt>
    <dd>
      <%= text_field_tag :replace , "", value: "", class: :keyword %>
      <%= f.button "全置換", name: "confirm" %>
    </dd>

    <dt>オプション</dt>
    <dd>
      <label>
        <%= f.radio_button :option, :url, class: :option, checked: true %>
        URL
      </label>
      <label>
        <%= f.radio_button :option, :regexp, class: :option %>
        正規表現
      </label>
    </dd>
  </dl>
<% end %>
</div>

<div class="result">
</div>
