<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :new, { action: :new }, class: :new %>
      <%= link_to :download, { action: :download }, class: :download %>
      <%= link_to :import, { action: :import }, class: :import %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock|import|download/ %>
    <%= link_to :back_to_index, { action: :index }, class: "back-to-index" %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :back_to_show, { action: :show, id: @item }, class: "back-to-show" %>
    <% end %>
    <%= link_to :back_to_index, { action: :index }, class: "back-to-index" %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :edit, { action: :edit, id: @item }, class: :edit %>
    <% end %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(:copy, { action: :copy, id: @item }, class: :copy) rescue nil %>
    <% end %>
    <% if @item.allowed?(:move, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(:move, { action: :move, id: @item }, class: :move) rescue nil %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :delete, { action: :delete, id: @item }, class: :delete %>
    <% end %>
    <%= link_to :back_to_index, { action: :index }, class: "back-to-index" %>
  <% end %>
</nav>
