<%= form_for :item, url: { action: :import }, html: { method: :post } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t :import %></h2></header>

    <dl class="see">
      <dt><%= t :file %><%= @model.tt :in_file %></dt>
      <dd>
        <%= f.hidden_field "item[in_file]", value: "" %>
        <%= f.file_field :in_file %>
      </dd>

      <dd>
        <%= label_tag("item[in_official_csv]") do %>
        <%= check_box_tag("item[in_official_csv]") %><%= t :"cms.import_official_japan_postal_service_csv" %><% end %>
      </dd>
    </dl>
  </section>

  <footer class="send">
    <%= f.submit t(:import), class: :save %>
    <%= f.button t("views.button.cancel"), onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
  </footer>
<% end %>
