<% if @sys_notices.present? %>
<div class="row">
  <div class="notices col mb-4">
    <h2 class="h4"><%= t "sys.notice" %></h2>
    <% if @sys_notices.next_page %>
    <div class="more"><%= link_to I18n.t("ss.links.more"), cms_sys_notices_path, class: "btn btn-outline-secondary" %></div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= Sys::Notice.t :name %></th>
            <th><%= Sys::Notice.t :updated %></th>
          </tr>
        </thead>
        <tbody>
          <% @sys_notices.each do |item| %>
          <tr>
            <td><%= link_to item.name, cms_sys_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %></td>
            <td class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>

<% if @cms_notices.present? %>
<div class="row">
  <div class="notices col mb-4">
    <h2 class="h4"><%= t "cms.notice" %></h2>
    <% if @cms_notices.next_page %>
    <div class="more"><%= link_to I18n.t("ss.links.more"), cms_public_notices_path, class: "btn btn-outline-secondary" %></div>
    <% end %>
    <div class="table-responsive">
      <table class="table table-striped">
        <% @cms_notices.each do |item| %>
        <thead>
          <tr>
            <th><%= Cms::Notice.t :name %></th>
            <th><%= Cms::Notice.t :updated %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= link_to item.name, cms_public_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %></td>
            <td class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>

<% @table_def ||= define_ss_table do |tbl| %>
  <% tbl.column(class: "state") do %>
    <% tbl.th t("cms.status") %>
    <% tbl.td do |item| %><span class="public"><%= t "ss.state.#{item.status}" %></span><% end %>
  <% end %>

  <% tbl.column(class: "title") do %>
    <% tbl.th @model.t(:name) %>
    <% tbl.td do |item| %><%= link_to item.name, contents_path(item) %><% end %>
  <% end %>

  <% tbl.column(class: "route") do %>
    <% tbl.th @model.t(:route) %>
    <% tbl.td do |item| %><%= t "modules.#{item.route.sub(/\/.*/, '')}" %><% end %>
  <% end %>

  <% tbl.column(class: "filename") do %>
    <% tbl.th @model.t(:filename) %>
    <% tbl.td do |item| %><%= ::File.basename(item.filename) %><% end %>
  <% end %>

  <% tbl.column_updated %>

  <% tbl.tap_menu do |item| %>
    <% if @tap_menu %>
      <% @tap_menu.call item %>
    <% else %>
      <%= link_to t("cms.content"), contents_path(item), class: "dropdown-item" %>
      <%= link_to t('ss.links.view_site'), item.full_url, target: :_blank, class: "dropdown-item" %>
      <% if @cur_site.mobile_enabled? %>
        <%= link_to t('ss.links.pc_preview'), cms_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item" %>
        <%= link_to(t('ss.links.mobile_preview'), cms_mobile_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item") %>
      <% else %>
        <%= link_to t('ss.links.preview'), cms_preview_path(path: item.preview_path), target: :_blank, class: "dropdown-item" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render file: "cms/crud/index" %>
