<table class="index">
  <thead>
    <tr>
      <th><%= @model.t :name %></th>
      <th class="filename"><%= @model.t :filename %></th>
      <th class="route"><%= t "ss.module" %></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td>
        <% route = item.route.presence || "cms/nodes" %>
        <%= link_to item.name, contents_path(item), class: "icon-node"%>
        <nav class="tap-menu">
          <%= link_to :"cms.content", contents_path(item) %>
          <%= link_to :show, node_conf_path(cid: item) if item.allowed?(:read, @cur_user, site: @cur_site) %>
          <%= link_to :edit, edit_node_conf_path(cid: item) if item.allowed?(:edit, @cur_user, site: @cur_site) %>
          <%= link_to :preview, cms_preview_path(path: item.filename), target: :_blank %>
          <%= link_to :view_site, item.full_url, target: :_blank %>
        </nav>
      </td>
      <td class="filename"><%= item.filename %></td>
      <td class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></td>
    </tr>
    <% end %>
  </tbody>

</table>

<%= paginate @items if @items.try(:current_page) %>
