<%= render partial: "notices" %>

<div class="index">
  <div class="list-head"><%= t "cms.content" %></div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <%= link_to :"cms.content", contents_path(item) %>
        <%= link_to :view_site, item.full_url, target: :_blank %>
        <%= link_to :pc_preview, cms_preview_path(path: "#{item.filename}/"), target: :_blank %>
        <%= link_to(:mobile_preview, cms_mobile_preview_path(path: "#{item.filename}/"), target: :_blank) if @cur_site.mobile_enabled? %>
      </nav>
      <div class="info">
        <%= link_to item.name, contents_path(item), class: "title" %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="filename"><%= File.basename item.filename %></span>
          <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
          <span class="state"><%= t "views.state.#{item.status}" %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
