<% if @sys_notices.present? %>
<div class="index notices">
  <div class="list-head"><%= t "sys.notice" %></div>
  <ul class="list-items">
    <% @sys_notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, cms_sys_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %>
        <span class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <% if @sys_notices.next_page %>
  <div class="notices-more"><%= link_to I18n.t("views.links.more"), cms_sys_notices_path %></div>
  <% end %>
</div>
<% end %>

<% if @cms_notices.present? %>
<div class="index notices">
  <div class="list-head"><%= t "cms.notice" %></div>
  <ul class="list-items">
    <% @cms_notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, cms_public_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %>
        <span class="datetime"><%= item.released.strftime("%Y/%m/%d %H:%M") %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <% if @cms_notices.next_page %>
  <div class="notices-more"><%= link_to I18n.t("views.links.more"), cms_public_notices_path %></div>
  <% end %>
</div>
<% end %>

<div class="index">
  <div class="list-head"><%= t "cms.content" %></div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <%= link_to :"cms.content", contents_path(item) %>
        <%= link_to :view_site, item.full_url, target: :_blank %>
        <% if @cur_site.mobile_enabled? %>
          <%= link_to :pc_preview, cms_preview_path(path: item.preview_path), target: :_blank %>
          <%= link_to(:mobile_preview, cms_mobile_preview_path(path: item.preview_path), target: :_blank) %>
        <% else %>
          <%= link_to :preview, cms_preview_path(path: item.preview_path), target: :_blank %>
        <% end %>
      </nav>
      <div class="info">
        <%= link_to item.name, contents_path(item), class: "title" %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="filename"><%= File.basename item.filename %></span>
          <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
          <span class="state"><%= t "views.state.#{item.status}" %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
