<section class="content-head">
  <div class="d-flex justify-content-between flex-wrap">
    <div class="title">
      <h1 class="icon-content d-flex align-items-center"><%= ss_window_name %></h1>
      <% if @crumbs.size > 0 %>
      <ol class="breadcrumb">
        <% @crumbs.each_with_index do |item, idx| %>
          <li class="breadcrumb-item" <%== %(class="active") if @crumbs.size == idx + 1 %>><%= link_to *item %></li>
        <% end %>

        <% if @webmail_other_account_path && @cur_user.imap_settings.size > 1 %>
          <li class="webmail-accounts">
            <span><%= t('webmail.links.select_account') %></span>
            <%= select_tag :select_account,
              options_for_select(account_options(@webmail_other_account_path), send(@webmail_other_account_path, params[:account])), class: "webmail-select-account"
            %>
          </li>
        <% end %>
      </ol>
      <% end %>
    </div>
  </div>

  <%
    mod_navi = nil
    if ::File.exists?("#{Rails.root}/app/views/#{params[:controller]}/_mod_navi.html.erb")
      mod_navi = "#{params[:controller]}/mod_navi.html.erb"
    elsif controller.mod_navi_view_file
      mod_navi = controller.mod_navi_view_file
    end
  %>
  <% if mod_navi %>
    <%= render partial: mod_navi %>
  <% end %>
</section>
