<nav class="main-navi main-navi-md webmail-navi-mailboxes">
  <h2>
    <%= link_to webmail_mails_path do %>
      <i class="material-icons">&#xE0E1;</i>
      <%= t('webmail.box.inbox') %>

      <% if @navi_mailboxes && 0 < unseen = Webmail::Mailbox.inbox_unseen %>
        <span class="unseen-count">(<%= unseen %>)</span>
      <% end %>
    <% end %>
  </h2>

  <% if @navi_mailboxes %>
  <div class="mailboxes">
    <% Webmail::Mailbox.imap_all.each do |box| %>
      <%= link_to webmail_mails_path(mailbox: box.encode_name),
        class: box.css_class, "data-name" => box.encode_name do %>

        <%== "<span class='pad'></span>" * (box.depth - 1) %>
        <i class="material-icons md-18">&#xE2C8;</i>
        <span class="mailbox-name""><%= box.basename %></span>

        <% if 0 < box.unseen %>
          <span class="unseen-count">(<%= box.unseen %>)</span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% end %>
</nav>

<% if @navi_mailboxes %>
<div id="webmail-mailboxes-list">
  <ul class="dropdown-menu webmail-dropdown-menu">
    <% Webmail::Mailbox.user(@cur_user).to_options.each do |label, value| %>
    <li><a href="#" data-name="<%= value %>"><%= label %></a></li>
    <% end %>
  </ul>
</div>
<% end %>

<nav class="mod-navi">
  <h2><%= t('views.config') %></h2>
  <h3><%= link_to t('mongoid.models.webmail/mailbox'), webmail_mailboxes_path %></h3>
  <h3><%= link_to t('mongoid.models.webmail/address'), webmail_addresses_path %></h3>
  <h3><%= link_to t('mongoid.models.webmail/signature'), webmail_signatures_path %></h3>
  <h3><%= link_to t('mongoid.models.webmail/filter'), webmail_filters_path %></h3>
  <h3><%= link_to t('webmail.settings.account'), webmail_account_setting_path %></h3>
  <h3><%= link_to t('webmail.settings.cache'), webmail_cache_setting_path %></h3>
</nav>

<% if @navi_mailboxes && quota = @imap.quota %>
<div class="webmail-quota">
  <div class="total">
    <div class="label"><%= number_to_human_size quota.used %>/<%= number_to_human_size quota.total %></div>
    <div class="used" style="width: <%= quota.per %>%"></div>
  </div>
</div>
<% end %>
