<nav class="main-navi">
  <h2><%= link_to t('webmail.box.inbox'), webmail_mails_path %></h2>

  <% if @imap.try(:logged_in?) %>
  <div class="webmail-mailboxes">
    <% Webmail::Mailbox.imap_all.each do |box| %>
      <%= link_to webmail_mails_path(box: box.original_name), class: box.css_class do %>
        <%== "<span class='pad'></span>" * box.depth %>
        <span class="mailbox-name"><%= box.basename %></span>
      <% end %>
    <% end %>
  </div>
  <% end %>
</nav>

<nav class="mod-navi">
  <h2><%= t('views.config') %></h2>
  <h3><%= link_to t('webmail.settings.account'), webmail_account_setting_path %></h3>
  <h3><%= link_to t('webmail.settings.cache'), webmail_cache_setting_path %></h3>
</nav>
