<nav class="main-navi">
  <h2><%= link_to t('webmail.box.inbox'), webmail_mails_path %></h2>

  <% if @imap.try(:logged_in?) %>
  <div class="webmail-mailboxes">
    <% Webmail::Mailbox.imap_all.each do |box| %>
      <%= link_to webmail_mails_path(box: box.original_name), class: box.css_class do %>
        <%== "<span class='pad'></span>" * box.depth %>
        <span class="mailbox-name"><%= box.basename %></span>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <h2><%= link_to t('webmail.account_setting'), webmail_account_setting_path, class: 'icon-conf' %></h2>
</nav>
