<%

if @navi_mailboxes
  if @mailboxes.nil?
    @mailboxes = @imap.mailboxes.load
    @mailboxes.inbox.status
  end
  @quota = @imap.quota.load
end

%>
<%= jquery do %>
  Webmail_Mail_Navi.render();
<% end %>

<nav class="main-navi main-navi-md webmail-navi webmail-navi-mailboxes">
  <%= link_to webmail_apis_recent_path(account: params[:account] || @cur_user.imap_default_index), class: "reload" do %>
    <i class="material-icons md-dark">&#xE5D5;</i>
  <% end if @mailboxes  %>

  <h2>
    <%= link_to webmail_mails_path(account: params[:account] || @cur_user.imap_default_index), 'data-name' => 'INBOX', 'class' => 'mail-droppable mailbox-droppable' do %>
      <i class="material-icons">&#xE0E1;</i> <%= t('webmail.box.inbox') %>
      <% if @mailboxes && inbox = @mailboxes.inbox %>
        <span class="unseen count<%= inbox.unseen %>">(<%= inbox.unseen %>)</span>
      <% end %>
    <% end %>
  </h2>

  <% if @mailboxes %>
  <div class="mailboxes">
    <% @mailboxes.without_inbox.each do |box| %>
      <a class="<%= box.css_class %> mailbox-droppable" data-name="<%= box.original_name %>" data-basename="<%= box.original_name.sub(/.*\./, '') %>"
        <% if !box.noselect? %>
          href="<%= webmail_mails_path(mailbox: box.original_name) %>"
        <% end %>
      >
        <%== box.depth > 0 ? "<span class='pad'></span>" * (box.depth - 1) : "" %>
        <i class="material-icons md-18"><%== box.icon %></i>
        <span class="mailbox-name"><%= box.basename %></span>
        <span class="unseen count<%= box.unseen %>">(<%= box.unseen %>)</span>
      </a>
    <% end %>
  </div>
  <% end %>
</nav>

<% if @navi_mailboxes %>
<div id="webmail-mailboxes-list">
  <ul class="dropdown-menu webmail-dropdown-menu">
    <% @mailboxes.all.each do |box| %>
    <li>
      <a href="#" data-name="<%= box.original_name %>">
        <%== "<span class='pad'></span>" * box.depth %><%= box.basename %>
      </a>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<nav class="mod-navi">
  <h2><%= t("ss.config") %></h2>
  <h3><%= link_to t('mongoid.models.webmail/mailbox'), webmail_mailboxes_path(account: params[:account] || @cur_user.imap_default_index) %></h3>
  <h3><%= link_to t('mongoid.models.webmail/address'), webmail_addresses_path(account: params[:account] || @cur_user.imap_default_index) %></h3>
  <h3><%= link_to t('mongoid.models.webmail/signature'), webmail_signatures_path(account: params[:account] || @cur_user.imap_default_index) %></h3>
  <h3><%= link_to t('mongoid.models.webmail/filter'), webmail_filters_path(account: params[:account] || @cur_user.imap_default_index) %></h3>
  <h3><%= link_to t('webmail.settings.cache'), webmail_cache_setting_path(account: params[:account] || @cur_user.imap_default_index) %></h3>
  <h3><%= link_to t('webmail.settings.account'), webmail_account_setting_path %></h3>
</nav>

<% if @quota %>
<nav class="mod-navi webmail-navi webmail-navi-quota">
  <h2><%= t('mongoid.models.webmail/quota') %></h2>

  <%= link_to webmail_apis_quota_path, class: "reload" do %>
    <i class="material-icons md-dark">&#xE5D5;</i>
  <% end if @quota.quota?  %>

  <div class="quota">
    <div class="label"><%= @quota.label %></div>
    <div class="usage" style="width: <%= @quota.percentage %>%"></div>
  </div>
</nav>
<% end %>
