<%
  value ||= OpenStruct.new(decimal: column.initial_decimal)
%>
<%= render 'gws/agents/columns/main/common_label', column: column %>
<dd class="<%= @section_id %>">
  <span class="prefix-block"><%= sanitize_easy column.prefix_explanation %></span>
  <span class="prefix"><%= column.prefix_label %></span>
  <%= number_field_tag("#{object_name}[#{column.id}]", SS.decimal_to_s(value.try(:decimal)), column.form_options) %>
  <span class="postfix"><%= column.postfix_label %></span>
  <span class="postfix-block"><%= sanitize_easy column.postfix_explanation %></span>
</dd>
