<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="gws-category-label" style="<%= category_label_css(item) %>"><%= item.name %></span>
<% end %>

<%= render template: "gws/crud/index" %>
