<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="gws-category-label" style="<%= category_label_css(item) %>"><%= item.name %></span>
<% end %>

<%= render file: "gws/crud/index" %>
