<%
  headers = {}
  @aggregate.ymd_header.each do |header|
    headers["#{header.year}-#{header.month}"] ||= []
    headers["#{header.year}-#{header.month}"] << header.day
  end
  aggregate = @aggregate.aggregate.map(&:to_h)
  dataset_ids = {}
  aggregate_hash = {}
  aggregate.each do |item|
    count = item["count"]
    item = item["_id"]
    aggregate_hash["#{item["year"]}-#{item["month"]}"] ||= {}
    aggregate_hash["#{item["year"]}-#{item["month"]}"][item["day"]] ||= {}
    aggregate_hash["#{item["year"]}-#{item["month"]}"][item["day"]]["#{item["target_id"]}"] ||= 0
    aggregate_hash["#{item["year"]}-#{item["month"]}"][item["day"]]["#{item["target_id"]}"] += count
    dataset_ids["#{item["year"]}-#{item["month"]}"] ||= []
    dataset_ids["#{item["year"]}-#{item["month"]}"] << item["target_id"]
  end
  dataset_ids.each { |key, values| values.sort! }

  datasets = {}
  @aggregate.datasets.in(id: dataset_ids.values.flatten.map(&:to_i)).each do |dataset|
    datasets["#{dataset.id}"] = dataset
  end
%>

<div class="index">
  <% headers.each do |ym, days| %>

    <% if aggregate_hash[ym].present? %>

      <% year, month = ym.split("-") %>
      <div class="list-head"><%= "#{year}#{t("datetime.prompts.year")} #{month}#{t("datetime.prompts.month")}" %></div>
      <div class="reports-table">
        <table class="index">
          <thead>
            <tr>
              <th colspan="7"><%= t("opendata.download_reports.dataset_data") %></th>
              <% days.each do |d| %>
                <th><%= d %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%
              ym_dataset_ids = dataset_ids[ym].uniq
              ym_dataset_ids.each do |id|
                dataset = datasets[id]
                next unless dataset
            %>
              <tr>
                <td colspan="7"><%= dataset.name %></td>
                <% days.each do |d| %>
                  <% if  aggregate_hash[ym][d] %>
                    <th><%= aggregate_hash[ym][d]["#{dataset.id}"].to_i %></th>
                  <% else %>
                    <th><%= 0 %></th>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    <% else %>

      <% year, month = ym.split("-") %>
      <div class="list-head"><%= "#{year}#{t("datetime.prompts.year")} #{month}#{t("datetime.prompts.month")}" %></div>
      <div class="reports-table">
        <p class="not-exists"><%= t("opendata.reports.not_exists_reports") %></p>
      </div>

    <% end %>

  <% end %>
</div>
