<%= form_with scope: :item, url: url_for(action: :update), method: :put, id: "task-form" do %>
  <%= error_messages_for :item %>

  <%= render "ss/tasks/box", task: @item, show_current_count: true, url: url_for(action: :show, format: :json) %>

  <footer class="send">
    <% running = (@item.running? || @item.state == "ready") %>
    <div class="run-button" style="<%= running ? "display: none;" : "" %>">
      <%=
        if params[:controller] == "gws/ldap/sync/dry_runs"
          button_label = t("ss.buttons.test_run")
        else
          button_label = t("ss.buttons.run")
        end
        submit_tag button_label, class: "btn-primary save", data: { disable_with: t("ss.buttons.running") } %>
    </div>
  </footer>
<% end %>
