<% addon ||= local_assigns.fetch(:addon, {})%>

<dl class="see">
  <dd class="wide"><%= f.text_area :html, style: "height: 400px" %></dd>

  <%=
    component = Cms::BodyCheckerComponent.new(
      cur_site: @cur_site, cur_user: @cur_user, cur_node: @cur_node, item: @item, limits: %i[syntax link],
      syntax_check_context: @syntax_context
    )
    syntax_checker_form = render(component)
    if syntax_checker_form.present?
      tag.dd syntax_checker_form, class: "wide"
    end
  %>
</dl>

<%= code_editor "##{addon[:id]} textarea", mode: :html %>

<% if @syntax_context&.errors.present? && @cur_user.cms_role_permit_any?(@cur_site, "edit_cms_ignore_syntax_check") %>
  <label>
    <%= check_box_tag "ignore_syntax_check", 1, false, id: nil %>
    <%= t("ss.buttons.ignore_alerts_and_save") %>
  </label>
<% end %>
