<div class="gws-attendance">
  <div class="attendance-box">
    <div class="attendance-box-main">
      <div class="nav-group">
        <%= tag.nav(class: "nav-menu select-group", data: { controller: "ss--redirect-on-change", url: url_for(action: :index, group: ':group:') }) do %>
          <%= select_tag(:group, options_for_select(group_options, selected: params[:group]), { include_blank: true, data: { default: default_group } }) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="gws-attendance">
  <div class="attendance-box daily">
    <div class="attendance-box-title"><%= t('gws/affair2.views.daily_time_cards_in_group', year: @cur_day.year, month: @cur_day.month, day: @cur_day.day, group: @group.trailing_name) %></div>
    <div class="attendance-box-main main">
      <%= render partial: 'time_card_nav' %>
      <%= render partial: 'time_card', locals: { date: @cur_day } %>
    </div>
  </div>
</div>

<%= jquery do %>
var attendance = new Gws_Affair2_Attendance('.attendance-box.daily', "<%== request.path %>");
attendance.renderMonthly();
<% end %>
