<table class="see opendata-app-appfiles show">
  <% if @item.file %>
  <tr class="parent-row">
    <td class="field"><%= @model.t :file_id %></td>
    <td class="input">
    <%= link_to @item.filename, "file" %>
    (<%= number_to_human_size @item.size %>)
  </td>
  </tr>
  <% end %>

  <tr class="parent-row">
    <td class="field"><%= @model.t :text %></td>
    <td class="input"><%= auto_link br(@item.text), html: { target: "_blank" } %></td>
  </tr>
</table>
