<%= render "head" %>

<div class="contents">
  <section class="datasets">
    <h2>データセット</h2>
    <div class="pages">
      <% @datasets.each do |item| %>
      <article>
        <header>
          <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
          <h2><%= link_to item.name, item.url %></h2>
          <span class="point"><%= item.point.to_i %></span>
        </header>
      </article>
      <% end %>
    </div>
  </section>
</div>

<%= paginate @datasets %>
