<%= render "head" %>

<div class="contents">
  <section class="datasets">
    <header><h2><%= I18n.t("opendata.labels.dataset") %></h2></header>
    <div class="pages">
      <% @datasets.each do |item| %>
      <article>
        <header>
          <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
          <h2><%= link_to item.name, item.url %>
            <% if item.node.becomes_with_route.try(:show_point?) %>
            <span class="point"><%= item.point.to_i %></span>
            <% end %>
          </h2>
        </header>
      </article>
      <% end %>
    </div>
  </section>
</div>

<%= paginate @datasets %>
