<%= render "head" %>

<div class="contents">
  <section class="datasets" id="datasets">
    <h2>データセット</h2>
    <div class="pages">
      <% @datasets.each do |item| %>
      <article>
        <header>
          <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
          <h2><%= link_to item.name, item.url %><span class="point"><%= item.point.to_i %></span></h2>
        </header>
      </article>
      <% end %>
    </div>
    <nav>
      <%= link_to :more, "#{@member_url}datasets/", class: "more" %>
    </nav>
  </section>
  <section class="apps" id="apps">
    <h2>アプリ</h2>
    <div class="pages">
      <% @apps.each do |item| %>
      <article>
        <header>
          <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
          <h2><%= link_to item.name, item.url %><span class="point"><%= item.point.to_i %></span></h2>
        </header>
      </article>
      <% end %>
    </div>
    <nav>
      <%= link_to :more, "#{@member_url}apps/", class: "more" %>
    </nav>
  </section>
  <section class="ideas" id="ideas">
    <h2>アイデア</h2>
    <div class="pages">
      <% @ideas.each do |item| %>
      <article>
        <header>
          <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
          <h2><%= link_to item.name, item.url %><span class="point"><%= item.point.to_i %></span></h2>
        </header>
      </article>
      <% end %>
    </div>
    <nav>
      <%= link_to :more, "#{@member_url}ideas/", class: "more" %>
    </nav>
  </section>
</div>
