<%= coffee do %>
$ ->

  # Tabs
  SS_Tabs.render("#member-tabs-<%= @cur_node.id %>");

<% end %>

<%= render "head" %>

<div class="contents">
  <div class="member-tabs tabs"  id="member-tabs-<%= @cur_node.id %>">
    <article class="tab" id="cms-tab-<%= @cur_node.id %>-0">
      <header><h1>データセット</h1></header>
        <div class="pages">
          <% @datasets.each do |item| %>
            <article>
              <header>
                <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
                <h2><%= link_to item.name, item.url %><span class="point"><%= item.point.to_i %></span></h2>
              </header>
            </article>
          <% end %>
        </div>
        <nav>
          <%= link_to :more, "#{@member_url}datasets/", class: "more", id: "ds_more" %>
        </nav>
    </article>
    <article class="tab" id="cms-tab-<%= @cur_node.id %>-1">
      <header><h1>アプリ</h1></header>
      <section class="apps" id="apps">
        <div class="pages">
          <% @apps.each do |item| %>
            <article>
              <header>
                <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
                <h2><%= link_to item.name, item.url %><span class="point"><%= item.point.to_i %></span></h2>
              </header>
            </article>
          <% end %>
        </div>
        <nav>
          <%= link_to :more, "#{@member_url}apps/", class: "more", id: "app_more" %>
        </nav>
      </section>
    </article>
    <article class="tab" id="cms-tab-<%= @cur_node.id %>-2">
      <header><h1>アイデア</h1></header>
      <section class="ideas" id="ideas">
        <div class="pages">
          <% @ideas.each do |item| %>
            <article>
              <header>
                <time datetime="<%= item.date.to_date %>"><%= I18n.l item.date.to_date, format: :long %></time>
                <h2><%= link_to item.name, item.url %><span class="point"><%= item.point.to_i %></span></h2>
              </header>
            </article>
          <% end %>
        </div>
        <nav>
          <%= link_to :more, "#{@member_url}ideas/", class: "more", id: "idea_more" %>
        </nav>
      </section>
    </article>
  </div>
</div>
