<% return "" unless @cur_site.twitter_token_enabled? %>

<dl class="see">
  <% if @cur_site.twitter_token_enabled? %>
    <dt><%= @model.t :twitter_auto_post %></dt>
    <dd><%= @item.label :twitter_auto_post %></dd>
    <% @item.twitter_posted.to_a.each do |posted| %>
    <dd><a href="<%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %>" target="_blank"><%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %></a></dd>
    <% end %>
    <% if @item.twitter_post_error.present? %>
    <dt class="depth-2"><%= @model.t :twitter_post_error %></dt>
    <dd class="depth-2">
      <div class="errorExplanation"><%= br @item.twitter_post_error %></div>
    </dd>
    <% end %>
  <% end %>

  <dt><%= @model.t :sns_auto_delete %></dt>
  <dd><%= @item.label :sns_auto_delete %></dd>

  <dt><%= @model.t :edit_auto_post %></dt>
  <dd><%= @item.label :edit_auto_post %></dd>
</dl>
