<% return "" unless @cur_site.twitter_token_enabled? || @cur_site.facebook_token_enabled? %>
<% return "" if @item.try(:branch?)%>

<dl class="see">
  <% if @cur_site.facebook_token_enabled? %>
  <dt><%= @model.t :facebook_auto_post %><%= @model.tt :facebook_auto_post %></dt>
  <dd><%= @item.label :facebook_auto_post %></dd>
  <% @item.facebook_posted.each do |posted| %>
  <dd><a href="<%= @item.facebook_url(posted[:facebook_post_id], posted[:facebook_user_id]) %>" target="_blank"><%= @item.facebook_url(posted[:facebook_post_id], posted[:facebook_user_id]) %></a></dd>
  <%
    end
  end
  %>

  <% if @cur_site.twitter_token_enabled? %>
  <dt><%= @model.t :twitter_auto_post %><%= @model.tt :twitter_auto_post %></dt>
  <dd><%= @item.label :twitter_auto_post %></dd>
  <% @item.twitter_posted.each do |posted| %>
  <dd><a href="<%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %>" target="_blank"><%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %></a></dd>
  <%
    end
  end
  %>

  <dt><%= @model.t :sns_auto_delete %><%= @model.tt :sns_auto_delete %></dt>
  <dd><%= @item.label :sns_auto_delete %></dd>

  <dt><%= @model.t :edit_auto_post %><%= @model.tt :edit_auto_post %></dt>
  <dd><%= @item.label :edit_auto_post %></dd>
</dl>
