<% return "" unless @cur_site.twitter_token_enabled? || @cur_site.facebook_token_enabled? %>
<% return "" if @item.try(:branch?)%>

<fieldset class="see" disabled>
  <div class="see form-group">
    <h2 class="h4">SNS自動投稿設定</h2>
    <% if @cur_site.facebook_token_enabled? %>
      <div class="col12 mb-3">
        <label><%= @model.t :facebook_auto_post %></label>
        <input class="form-control" type="text" value="<%= @item.label :facebook_auto_post %>" />
        <% @item.facebook_posted.each do |posted| %>
        <div><a href="<%= @item.facebook_url(posted[:facebook_post_id], posted[:facebook_user_id]) %>" target="_blank"><%= @item.facebook_url(posted[:facebook_post_id], posted[:facebook_user_id]) %></a></div>
        <% end %>
      </div>
      <% if @item.facebook_post_error.present? %>
      <div class="col12 mb-3">
        <label class="depth-2"><%= @model.t :facebook_post_error %></label>
        <div class="depth-2">
          <div class="errorExplanation"><%= br @item.facebook_post_error %></div>
        </div>
      </div>
      <% end %>
    <% end %>

    <% if @cur_site.twitter_token_enabled? %>
      <div class="col12 mb-3">
        <label><%= @model.t :twitter_auto_post %></label>
        <input class="form-control" type="text" value="<%= @item.label :twitter_auto_post %>" />
        <% @item.twitter_posted.each do |posted| %>
        <div><a href="<%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %>" target="_blank"><%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %></a></div>
        <% end %>
      </div>
      <% if @item.twitter_post_error.present? %>
      <div class="col12 mb-3">
        <label class="depth-2"><%= @model.t :twitter_post_error %></label>
        <div class="depth-2">
          <div class="errorExplanation"><%= br @item.twitter_post_error %></div>
        </div>
      </div>
      <% end %>
    <% end %>

    <div class="col12 mb-3">
      <label><%= @model.t :sns_auto_delete %></label>
      <input class="form-control" type="text" value="<%= @item.label :sns_auto_delete %>" />
    </div>

    <div class="col12 mb-3">
      <label><%= @model.t :edit_auto_post %></label>
      <input class="form-control" type="text" value="<%= @item.label :edit_auto_post %>" />
    </div>
  </div>
</fieldset>
