<div class="application">
  <div class="appHeader">
    <input type="button" value="play" id="btnPlay" class="btnPlay" onclick="javascript:PlayApp(); return false;" />
    <input type="button" value="reload" id="btnReload" class="btnReload" onclick="javascript:ReloadApp(); return false;" />
    <input type="button" value="全画面表示で実行" target="_brank" onClick="window.open('/app/<%= @cur_page.id %>/full'); return false;">
  </div>
  <div class="appContainer">
    <div id="tabs">
      <nav class="names">
        <a id="url" class="name" href="#tab-url" onclick="ChangeTab('tab-url'); return false;">
          参考URL</a>
        <a id="play" class="name" href="#tab-play" onclick="ChangeTab('tab-play'); return false;">
          実 行</a>
        <a id="js" class="name" href="#tab-js" onclick="ChangeTab('tab-js'); return false;">
          JavaScript</a>
        <a id="css" class="name" href="#tab-css" onclick="ChangeTab('tab-css'); return false;">
          CSS</a>
        <a id="html" class="name" href="#tab-html" onclick="ChangeTab('tab-html'); return false;">
          HTML</a>
        <a id="sample" class="name" href="#tab-sample" onclick="ChangeTab('tab-sample'); return false;">
          サンプルデータ</a>
        <a id="dataset" class="name" href="#tab-dataset" onclick="ChangeTab('tab-dataset'); return false;">
          関連データセット</a>
        <a id="idea" class="name" href="#tab-idea" onclick="ChangeTab('tab-idea'); return false;">
          関連アイデア</a>
      </nav>

      <div class="tab-body">
        <div id="tab-url">
          <header><h1>参考URL</h1></header>
          <p><%= auto_link br(@cur_page.appurl), html: { target: "_blank" } %></p>
        </div>
        <div id="tab-play">
          <header><h1>実行</h1></header>
          <iframe class="frmPlay" src="" width="100%" height="100%" frameborder="0">
          </iframe>
        </div>
        <div id="tab-js">
          <header><h1>JavaScript</h1></header>
          <ul>
            <% @js_src.each do |j| %>
              <li><a href="#tab-js-<%= j.id %>" onclick="ChangeTabJs('tab-js-<%= j.id %>'); return false;">
                <%= j.filename %></a></li>
            <% end %>
          </ul>
          <% @js_src.each do |j| %>
            <div id="tab-js-<%= j.id %>" name="tab-name-js">
              <p><iframe class="frmJs" src="<%= @text + j.filename %>" width="700" height="500" frameborder="0">
              </iframe></p>
            </div>
          <% end %>
        </div>
        <div id="tab-css">
          <header><h1>CSS</h1></header>
          <ul>
            <% @css_src.each do |c| %>
              <li><a href="#tab-css-<%= c.id %>" onclick="ChangeTabCss('tab-css-<%= c.id %>'); return false;">
                <%= c.filename %></a></li>
            <% end %>
          </ul>
          <% @css_src.each do |c| %>
            <div id="tab-css-<%= c.id %>" name="tab-name-css">
              <p><iframe class="frmCss" src="<%= @text + c.filename %>" width="700" height="500" frameborder="0">
              </iframe></p>
            </div>
          <% end %>
        </div>
        <div id="tab-html">
          <header><h1>HTML</h1></header>
          <ul>
            <% @html_src.each do |h| %>
              <li><a href="#tab-html-<%= h.id %>" onclick="ChangeTabHtml('tab-html-<%= h.id %>'); return false;">
                <%= h.filename %></a></li>
            <% end %>
          </ul>
          <% @html_src.each do |h| %>
            <div id="tab-html-<%= h.id %>" name="tab-name-html">
              <p><iframe class="frmHtml" src="<%= @text + h.filename %>" width="700" height="500" frameborder="0">
              </iframe></p>
            </div>
          <% end %>
        </div>
        <div id="tab-sample">
          <header><h1>サンプルデータ</h1></header>
          <% if @sample.present? %>
            <%= render partial: "opendata/agents/pages/app/content" %>
          <% end %>
        </div>
        <div id="tab-dataset">
          <header><h1>関連データセット</h1></header>
          <% if @ds.present? %>
            <%= render partial: "opendata/agents/pages/app/dataset" %>
          <% end %>
        </div>
        <div id="tab-idea">
          <header><h1>関連アイデア</h1></header>
          <div class="app-ideas" id="app-ideas"></div>
          <% if @app_idea.present? %>
            <%= render partial: "opendata/agents/pages/app/idea" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "ダウンロード", @cur_page.zip_url, class: "download" %>
</div>

<script type="text/javascript"><!--
function PlayApp() {
  var value = $(".btnPlay").val()
  if (value == "play"){
    $(".frmPlay").attr("src", "");
    $(".frmPlay").attr("src", "<%= @app_index %>");
    ChangeTab("tab-play");
    $(".btnPlay").val("stop")
    document.getElementById("btnReload").style.display = "block";
  }
  else{
    $(".frmPlay").attr("src", "");
    $(".btnPlay").val("play")
    document.getElementById("btnReload").style.display = "none";
  }
}

function ReloadApp() {
  $(".frmPlay").attr("src", "");
  $(".frmPlay").attr("src", "<%= @app_index %>");
  ChangeTab("tab-play");
  $(".btnPlay").val("stop")
}

function ChangeTab(tabname) {
  document.getElementById("tab-url").style.display = "none";
  document.getElementById("tab-play").style.display = "none";
  document.getElementById("tab-js").style.display = "none";
  document.getElementById("tab-css").style.display = "none";
  document.getElementById("tab-html").style.display = "none";
  document.getElementById("tab-sample").style.display = "none";
  document.getElementById("tab-dataset").style.display = "none";
  document.getElementById("tab-idea").style.display = "none";
  document.getElementById(tabname).style.display = "block";
}

function ChangeTabJs(tabname){
  var names = document.getElementsByName("tab-name-js")
  for (i = 0; i < names.length; i = i + 1){
    if (names[i].id == tabname){
      names[i].style.display = "block";
    }else{
      names[i].style.display = "none";
    }
  }
}

function ChangeTabCss(tabname){
  var names = document.getElementsByName("tab-name-css")
  for (i = 0; i < names.length; i = i + 1){
    if (names[i].id == tabname){
      names[i].style.display = "block";
    }else{
      names[i].style.display = "none";
    }
  }
}

function ChangeTabHtml(tabname){
  var names = document.getElementsByName("tab-name-html")
  for (i = 0; i < names.length; i = i + 1){
    if (names[i].id == tabname){
      names[i].style.display = "block";
    }else{
      names[i].style.display = "none";
    }
  }
}

function ChangeTabCsv(tabname){
  var names = document.getElementsByName("tab-name-csv")
  for (i = 0; i < names.length; i = i + 1){
    if (names[i].id == tabname){
      names[i].style.display = "block";
    }else{
      names[i].style.display = "none";
    }
  }
}

function LoadTab(){
  ChangeTab("tab-play")

  var namejs = document.getElementsByName("tab-name-js")
  for (i = 0; i < namejs.length; i = i + 1){
    if (i == 0){
      namejs[i].style.display = "block";
    }else{
      namejs[i].style.display = "none";
    }
  }
  var namecss = document.getElementsByName("tab-name-css")
  for (i = 0; i < namecss.length; i = i + 1){
    if (i == 0){
      namecss[i].style.display = "block";
    }else{
      namecss[i].style.display = "none";
    }
  }
  var namehtml = document.getElementsByName("tab-name-html")
  for (i = 0; i < namehtml.length; i = i + 1){
    if (i == 0){
      namehtml[i].style.display = "block";
    }else{
      namehtml[i].style.display = "none";
    }
  }
  var namecsv = document.getElementsByName("tab-name-csv")
  for (i = 0; i < namecsv.length; i = i + 1){
    if (i == 0){
      namecsv[i].style.display = "block";
    }else{
      namecsv[i].style.display = "none";
    }
  }
}

function LoadButton(){
  var value = $(".btnPlay").val()
  if (value == "play"){
    document.getElementById("btnReload").style.display = "none";
  }
  else{
    document.getElementById("btnReload").style.display = "block";
  }
}
LoadTab()
LoadButton()
// --></script>
