<div class="application">
  <div class="appContainer">
    <div id="tabs">
      <nav class="names">
        <% if @tab_display == "tab_url" %>
          <a id="url" class="name" href="#tab-url" onclick="ChangeTab('tab-url','url'); return false;">
            参考URL</a>
        <% else %>
          <% if @tab_display == "tab_html" %>
            <a id="play" class="name" href="#tab-play" onclick="ChangeTab('tab-play','play'); return false;">
              実 行</a>
            <a id="js" class="name" href="#tab-js" onclick="ChangeTab('tab-js','js'); return false;">
              JavaScript</a>
            <a id="css" class="name" href="#tab-css" onclick="ChangeTab('tab-css','css'); return false;">
              CSS</a>
            <a id="html" class="name" href="#tab-html" onclick="ChangeTab('tab-html','html'); return false;">
              HTML</a>
            <a id="sample" class="name" href="#tab-sample" onclick="ChangeTab('tab-sample','sample'); return false;">
              サンプルデータ</a>
          <% end %>
        <% end %>
        <a id="dataset" class="name dataset" href="#tab-dataset" onclick="ChangeTab('tab-dataset','dataset'); return false;">
          関連データセット</a>
        <a id="idea" class="name idea" href="#tab-idea" onclick="ChangeTab('tab-idea','idea'); return false;">
          関連アイデア</a>
      </nav>

      <div class="tab-body">
        <% if @tab_display =="tab_url" %>
          <div id="tab-url">
            <header><h1>参考URL</h1></header>
            <p><%= auto_link br(@cur_page.appurl), html: { target: "_blank" } %></p>
          </div>
        <% else %>
          <% if @tab_display == "tab_html" %>
            <div id="tab-play">
              <header><h1>実行</h1></header>
              <div class="fullscreen">
                <%= link_to "全画面表示で実行", "/app/#{@cur_page.id}/full", :target=>["_blank"] %>
              </div>
              <div class="frame">
                <iframe class="frmPlay" src="<%= @app_index %>" width="100%" height="100%"></iframe>
              </div>
            </div>
            <div id="tab-js">
              <header><h1>JavaScript</h1></header>
              <% @js_src.each do |j| %>
                <div id="js-<%= j.id %>" class="frame">
                  <iframe class="frmJs" src="<%= @text + j.filename %>"></iframe>
                </div>
              <% end %>
            </div>
            <div id="tab-css">
              <header><h1>CSS</h1></header>
              <% @css_src.each do |c| %>
                <div id="css-<%= c.id %>" class="frame">
                  <iframe class="frmCss" src="<%= @text + c.filename %>"></iframe>
                </div>
              <% end %>
            </div>
            <div id="tab-html">
              <header><h1>HTML</h1></header>
              <% @html_src.each do |h| %>
                <div id="html-<%= h.id %>" class="frame">
                  <iframe class="frmHtml" src="<%= @text + h.filename %>"></iframe>
                </div>
              <% end %>
            </div>
            <div id="tab-sample">
              <header><h1>サンプルデータ</h1></header>
              <% if @sample.present? %>
                <%= render partial: "opendata/agents/pages/app/content" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <div id="tab-dataset">
          <header><h1>関連データセット</h1></header>
          <% if @ds.present? %>
            <%= render partial: "opendata/agents/pages/app/dataset" %>
          <% end %>
        </div>
        <div id="tab-idea">
          <header><h1>関連アイデア</h1></header>
          <div class="app-ideas" id="app-ideas"></div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "ダウンロード", @cur_page.zip_url, class: "download" %>
</div>

<script type="text/javascript"><!--
var tab_display = "<%= @tab_display %>";
function ChangeTab(tabname, current) {
  $("#tab-dataset").hide();
  $("#tab-idea").hide();
  $("#dataset").removeClass("dataset_current");
  $("#idea").removeClass("idea_current");
  if (tab_display == "tab_url") {
    $("#tab-url").hide();
    $("#url").removeClass("current");
  } else {
    if (tab_display == "tab_html") {
      $("#tab-play").hide();
      $("#tab-js").hide();
      $("#tab-css").hide();
      $("#tab-html").hide();
      $("#tab-sample").hide();
      $("#play").removeClass("current");
      $("#js").removeClass("current");
      $("#css").removeClass("current");
      $("#html").removeClass("current");
      $("#sample").removeClass("current");
    }
  }
  $("#" + tabname).show();
  if (current == "dataset") {
    $("#" + current).addClass("dataset_current");
  } else if (current == "idea") {
    $("#" + current).addClass("idea_current");
  } else {
    $("#" + current).addClass("current");
  }
}

function LoadTab(){
  if (tab_display == "tab_url") {
    ChangeTab("tab-url", "url")
  } else {
    if (tab_display == "tab_html") {
      ChangeTab("tab-play", "play")
    } else {
      ChangeTab("tab-dataset", "dataset")
    }
  }
}
$(LoadTab);
// --></script>
