<%= scss do %>
div.csv-preview {
  overflow-x: scroll;
  padding: 10px;
  border: 1px solid #bbb;
  background-color: #fff;
  td {
    border: 1px solid #bbb;
    padding: 2px 5px 2px 5px;
  }
}
<% end %>
<ul>
  <% @sample.each do |s| %>
    <li><a href="#tab-csv-<%= s.id %>" onclick="ChangeTabCsv('tab-csv-<%= s.id %>'); return false;">
    <%= s.filename %></a></li>
  <% end %>
</ul>
<% @sample.each do |s| %>
  <div id="tab-csv-<%= s.id %>" name="tab-name-csv">
    [<%= s.filename %>]

    <div class="csv-preview">
      <table class="cells">
        <tbody>
          <% s.parse_csv.each do |line| %>
          <tr>
            <% line.each do |col| %>
              <td><%= col %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
