<div class="app-datasets">
  <header>
    <h1>入力データ</h1>
  </header>
  <% @ds.each do |ds| %>
    <dl class="app-dataset">
      <dt><%= link_to ds.name, ds.url %></dt>
      <% if ds.member_id.present? %>
        <dt>投稿者：
          <% if ds.member %>
            <%= link_to ds.member.name, "#{member_path}#{ds.member.id}" %>
          <% else %>
            ゲストユーザー
          <% end %>
        </dt>
      <% elsif ds.contact_group %>
        <dt>投稿者：
          <%= ds.contact_group.full_name %>
        </dt>
      <% elsif ds.groups.present? %>
        <dt>投稿者：
          <%= ds.groups.first.name %>
        </dt>
      <% end %>
      <dt>更新日：<%= tryb{ds.updated.strftime("%Y年%m月%1d日")} %></dt>
      <dt><%= ds.downloaded.to_i %> ダウンロード</dt>
    </dl>
  <% end %>
</div>
