<% return if @item.schedules.without_deleted.readable(@cur_user, site: @cur_site).blank? %>

<dl class="see mod-gws-schedules">
  <dt class="wide"></dt>
  <dd class="wide">
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th><%= Gws::Schedule::Plan.t(:name) %></th>
        <th><%= Gws::Schedule::Plan.t(:start_at) %></th>
        <th><%= Gws::Schedule::Plan.t(:end_at) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.schedules.without_deleted.readable(@cur_user, site: @cur_site).each do |schedule| %>
        <tr>
          <td>
            <%= link_to(schedule.name, gws_schedule_plan_path(id: schedule)) %>
            <%= f.hidden_field('schedule_ids[]', value: schedule.id, id: nil) %>
          </td>
          <td><%= tryb { I18n.l(schedule.start_at) } %></td>
          <td><%= tryb { I18n.l(schedule.end_at) } %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
