
<fieldset class="column name">
  <legend>
    <%= @model.t :name %>
  </legend>
  <div>
    <%= @item.name %>
  </div>
</fieldset>

<fieldset class="column subscribe-line-message">
  <legend>
    <%= @model.t(:subscribe_line_message) %>
  </legend>
  <div>
    <%= f.select :subscribe_line_message, @item.subscribe_line_message_options %>
    <%= remarks :subscribe_line_message %>
  </div>
</fieldset>
