<%= jquery do %>
  new Cms_Line_Deliver_Condition
<% end %>

<%= hidden_field_tag "#{f.object_name}[deliver_category_ids][]", nil, id: nil %>
<% Cms::Line::DeliverCategory::Base.site(@cur_site).each_public do |root, children| %>
  <fieldset class="column column--<%= root.filename %> deliver-category deliver-category-<%= root.order %>" <%== root.data_required_html %>>
    <legend>
      <%= root.name %>
    </legend>
    <dd>
      <% if root.select_type == "select" %>
        <%
          category_options = []
          selected = nil
          children.each do |category|
            selected = category.id if @item.deliver_category_ids.include?(category.id)
            category_options << [category.name, category.id]
          end
          select_options = { class: "select-deliver-category" }
          select_options[:include_blank] = "回答無し" if !root.required?
        %>
        <%= select_tag "#{f.object_name}[deliver_category_ids][]", options_for_select(category_options, selected), select_options %>
        <% children.each do |child| %>
          <% if child.remarks.present? %>
            <div class="remark-text-link">
              <a class="remark-<%= child.id %> deliver-remarks remarks-button"><%= I18n.t("cms.open_remark") %></a>
            </div>
            <p class="remark-<%= child.id %>-text deliver-remarks"><%=br child.remarks %></p>
          <% end %>
        <% end %>

      <% elsif root.select_type == "checkbox" %>
        <% children.each do |category| %>
          <label class="category-<%= category.order %>">
            <%= check_box_tag "#{f.object_name}[deliver_category_ids][]", category.id, @item.deliver_category_ids.include?(category.id) %>
            <%= category.name %>
          </label>
        <% end %>
      <% end %>
    </dd>
  </fieldset>
<% end %>
