<%= render partial: "menu" %>

<div class="mypage-show member-profile">
  <div class="columns">
    <dl class="column name">
      <dt><%= @model.t :name %></dt>
      <dd><%= @item.name %></dd>
    </dl>

    <dl class="column subscribe-line-message">
      <dt><%= @item.t :subscribe_line_message %></dt>
      <dd><%= @item.label :subscribe_line_message %></dd>
    </dl>

    <% 1.upto(Cms::Member::CHILD_MAX_SIZE) do |i| %>
      <% next if @item.send("child#{i}_name").blank? %>
      <dl class="column child-name child-<%= i %>">
        <dt><%= @model.t("child#{i}_name") %></dt>
        <dd><%= @item.send("child#{i}_name") %></dd>
      </dl>

      <dl class="column child-birthday child-<%= i %>">
        <dt><%= @model.t("child#{i}_birthday") %></dt>
        <dd><%= @item.send("child#{i}_birthday_label") %></dd>
      </dl>
    <% end %>
    <% Cms::Line::DeliverCategory::Category.site(@cur_site).each_public do |root, children| %>
      <dl class="column">
        <dt><%= root.name %></dt>
        <dd><%= children.select { |category| @item.deliver_category_ids.include?(category.id) }.map(&:name).join(", ") %></dd>
      </dl>
    <% end %>
  </div>
</div>
