<%= render partial: "menu" %>

<div class="mypage-show member-profile">
  <div class="columns">
    <dl class="column name">
      <dt><%= @model.t :name %></dt>
      <dd><%= @item.name %></dd>
    </dl>

    <dl class="column subscribe-line-message">
      <dt><%= @item.t :subscribe_line_message %></dt>
      <dd><%= @item.label :subscribe_line_message %></dd>
    </dl>

    <% @item.each_deliver_categories do |root, children| %>
      <% if root.effective_with?(@item.deliver_category_ids) %>
        <dl class="column column--<%= root.filename %>">
          <dt><%= root.name %></dt>
          <dd><%= children.map(&:name).join(", ") %></dd>
        </dl>
      <% end %>
    <% end %>
  </div>
</div>
