<nav class="mod-navi">
  <h2><%= link_to :"sys.conf", sys_sites_path %></h2>

  <h3><%= link_to :"sys.info", sys_conf_path %></h3>

  <% if Sys::Site.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.site", sys_sites_path %></h3>
  <% end %>
  <% if Sys::Group.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.group", sys_groups_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.user", sys_users_path %></h3>
  <% end %>
  <% if Sys::Role.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.role", sys_roles_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.auth", sys_auth_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.max_file_size", sys_max_file_sizes_path %></h3>
  <% end %>
  <% if Sys::Site.allowed?(:edit, @cur_user) %>
      <h3><%= link_to :"sys.site_copy", sys_site_copy_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"sys.test", sys_test_path %></h3>
    <h3><%= link_to :"history.log", history_sys_logs_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to :"job.main", job_sys_main_path %></h3>
  <% end %>

</nav>
