<nav class="main-menu">
  <header><h1><%= t :"modules.sys" %></h1></header>
  <div>
    <% if Sys::Site.allowed?(:edit, @cur_user) %>
      <%= link_to :"sys.site", sys_sites_path %>
    <% end %>
    <% if Sys::Role.allowed?(:edit, @cur_user) %>
      <%= link_to :"sys.role", sys_roles_path %>
    <% end %>
    <% if SS::User.allowed?(:edit, @cur_user) %>
      <%= link_to :"sys.user", sys_users_path %>
    <% end %>
    <% if Sys::Group.allowed?(:edit, @cur_user) %>
      <%= link_to :"sys.group", sys_groups_path %>
    <% end %>
    <% if SS::User.allowed?(:edit, @cur_user) %>
      <%= link_to :"sys.test", sys_test_path %>
      <%= link_to :"sys.db_tool", sys_db_path %>
      <%= link_to :"history.log", history_sys_logs_path %>
    <% end %>

    <%= link_to :"sys.info", sys_info_path %>
  </div>
</nav>
