<nav class="main-menu">
  <header><h1><%= t :"modules.sys" %></h1></header>
  <div>
    <%= link_to :"sys.site", sys_sites_path if Sys::Site.allowed?(:edit, @cur_user) %>
    <%= link_to :"sys.role", sys_roles_path if Sys::Role.allowed?(:edit, @cur_user) %>
    <%= link_to :"sys.user", sys_users_path if Sys::User.allowed?(:edit, @cur_user) %>
    <%= link_to :"sys.group", sys_groups_path if Sys::Group.allowed?(:edit, @cur_user) %>
    <%= link_to :"sys.test", sys_test_path if Sys::User.allowed?(:edit, @cur_user) %>
    <%= link_to :"sys.db_tool", sys_db_path if Sys::User.allowed?(:edit, @cur_user) %>
    <%= link_to :"history.log", history_sys_logs_path if Sys::User.allowed?(:edit, @cur_user,) %>
    <%= link_to :"sys.info", sys_info_path %>
  </div>
</nav>
