<nav class="mod-navi">
  <h2><%= link_to t("sys.conf"), sys_sites_path %></h2>

  <h3><%= link_to t("sys.info"), sys_conf_path %></h3>
  <% if Sys::Site.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.site"), sys_sites_path %></h3>
  <% end %>
  <% if Sys::Group.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.group"), sys_groups_path %></h3>
  <% end %>
  <% if Sys::Notice.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.notice"), sys_notice_index_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.user"), sys_users_path %></h3>
  <% end %>
  <% if Sys::Role.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.role"), sys_roles_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.auth"), sys_auth_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.max_file_size"), sys_max_file_sizes_path %></h3>
  <% end %>
  <% if Sys::Site.allowed?(:edit, @cur_user) %>
      <h3><%= link_to t("sys.site_copy"), sys_site_copy_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.test"), sys_test_path %></h3>
    <h3><%= link_to t("history.log"), history_sys_logs_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("job.main"), job_sys_main_path %></h3>
  <% end %>
  <% if Sys::Setting.allowed?(:edit, @cur_user) %>
    <h3><%= link_to t("sys.postal_code"), sys_postal_codes_path %></h3>
  <% end %>
  <% if SS::User.allowed?(:edit, @cur_user) %>
    <h3><%= link_to Sys::MailLog.model_name.human, sys_mail_logs_path %></h3>
  <% end %>
</nav>
