<nav class="main-menu">
  <header><h1><%= t :"modules.sys" %></h1></header>
  <div>
    <%= link_to :"sys.site", sys_sites_path %>
    <%= link_to :"sys.user", sys_users_path %>
    <%= link_to :"sys.group", sys_groups_path %>
    <%= link_to :"sys.http_test", sys_test_path %>
    <%= link_to :"sys.db_tool", sys_db_path %>
  </div>
</nav>
