<%= coffee do %>
$(".event-repeat-js-date").datetimepicker({ lang: "ja", timepicker: false, format: "Y/m/d" })
$("form.event-repeat-dates").on "submit", (e) ->
  $(this).ajaxSubmit(
    url: $(this).attr("action")
    success: (data) ->
      $("#cboxLoadedContent").html data
    error: (data, status) ->
      alert(["== Error =="].concat(data.responseJSON).join("\n"))
  )
  return false
<% end %>

<%= form_tag(event_apis_repeat_dates_path(site: @cur_site.id), :method => :put, class: "event-repeat-dates") do |f| %>
  <div class="event-repeat-dates-ui-form">
    <dl class="see">
      <dt><%= t("event.apis.repeat_dates.start") %></dt>
      <dd><%= text_field_tag :repeat_start, "", class: "date event-repeat-js-date repeat_start" %></dd>

      <dt><%= t("event.apis.repeat_dates.end") %></dt>
      <dd><%= text_field_tag :repeat_end, "", class: "date event-repeat-js-date repeat_end" %></dd>

      <dt><%= t("event.apis.repeat_dates.wdays") %></dt>
      <dd>
        <table>
          <%= hidden_field_tag "wdays[]", "" %>
          <tr>
          <% (0..6).each do |i| %>
            <td><label><%= check_box_tag "wdays[]", i.to_s, false %> <%= t("date.abbr_day_names")[i] %></label></td>
          <% end %>
          </tr>
        </table>
      </dd>

      <dt><%= t("event.apis.repeat_dates.days") %></dt>
      <dd>
        <%= hidden_field_tag "days[]", "" %>
        <table>
          <% [(1..7), (8..14), (15..21), (22..28), (29..31)].each do |w| %>
            <tr>
            <% w.each do |i| %>
              <td><label><%= check_box_tag "days[]", i.to_s, false %><%= i.to_s %></label></td>
            <% end %>
            </tr>
          <% end %>
        </table>
      </dd>
    </dl>
  </div>

  <div class="event-repeat-dates-ui-select">
    <%= button_tag t("event.apis.repeat_dates.add_dates"), class: "save btn", style: "margin-left: 10px;" %>
  </div>

<% end %>
