<dl class="see mod-category">
  <dt><%= t("garbage.category.name") %><%= @model.tt :categories %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "category_ids[]", value: "" %>
    <% if @cur_node.present? %>
      <% @cur_node.becomes_with_route.st_categories.each do |cate| %>
        <label>
          <%= f.check_box("category_ids[]", {}, cate._id) %>
          <%= cate.name %>
        </label>
      <% end %>
    <% end %>
  </dd>
</dl>
