<%= jquery do %>
  var options = {};
  options.request_url = "<%= request.url %>";
  options.workflow_node = "workflow" + "<%= @cur_node? @cur_node.id : "" %>";
  options.redirect_location = "<%= @item.try(:branch?) ? @item.master.private_show_path : "" %>";
  options.errors = {};
  options.errors.not_select = "<%= @model.t :workflow_approvers %><%= t("errors.messages.not_select") %>";

  var workflow = new SS_Workflow('.mod-workflow', options);
<% end %>

<div class="mod-workflow">

  <% if @item.state == "closed" %>
    <% if @item.allowed?(:approve, @cur_user, site: @cur_site) && @item.workflow_state == "request" %>
      <% @item.workflow_pull_up_approvers_at(@item.workflow_current_level).each do |workflow_approver| %>
        <% next if @cur_user._id != workflow_approver[:user_id] || @item.approve_disabled?(workflow_approver[:state]) %>
        <section class="mod-workflow-approve">
          <div class="addon-view mb-5">
            <div class="addon-head">
              <h2><%= t("workflow.buttons.approve") %>/<%= t("workflow.buttons.remand") %><%= @model.tt :approve_remand %></h2>
            </div>
            <div class="addon-body">
              <%= text_area :remand, :comment, value: "" %>
              <div class="buttons">
                <% if workflow_approver[:state] == 'request' %>
                <%= button_tag t("workflow.buttons.approve"), { updatetype: :approve, class: "update-item btn-primary" } %>
                <%= button_tag t("workflow.buttons.remand"), { updatetype: :remand, class: "update-item btn-default" } %>
                <% elsif workflow_approver[:state] == 'pending' %>
                <%= button_tag t("workflow.buttons.pull_up"), { updatetype: :pull_up, class: "update-item btn-primary" } %>
                <% end %>
              </div>
              <% if @ss_mode == :cms %>
              <div class="checkbox">
                <label>
                  <%= check_box_tag 'forced-update', true, @cur_site.forced_update == "enabled", class: 'forced' %><%= t("errors.messages.forced_update") %>
                </label>
              </div>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
    <% end %>

    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) && @item.workflow_member.blank? %>
      <% if @item.try(:cloned_name?) %>
        <section class="mod-workflow-request">
          <h1><%= t("errors.messages.invalid_approve_name") %></h1>
        </section>
      <% elsif !@item.workflow_requested? %>
        <section class="mod-workflow-request">
          <div class="see request-setting workflow-partial-section"></div>
        </section>
      <% end %>
    <% end %>
  <% end %>

  <% if @item.workflow_state? %>
  <div class="mod-workflow-view">
    <dl class="see">
      <dt><%= @model.t :workflow_user_id %></dt>
      <dd>
        <% if @item.workflow_member.present? %>
          <%= "#{@item.workflow_member.name}(#{t("workflow.member")})" %>
        <% elsif @item.workflow_user.present? %>
          <%= "#{@item.workflow_user.long_name}(#{@item.workflow_user.email})" %>
        <% else %>
          <%= t("workflow.user_deleted") %>
        <% end %>
      </dd>

      <dt><%= @model.t :workflow_state %></dt>
      <dd>
        <%= t("workflow.state.#{@item.workflow_state}") if @item.workflow_state.present? %>
        <% if @item.workflow_requested? %>
          <% if @ss_mode == :cms && @item.allowed?(:revoke, @cur_user, site: @cur_site) %>
            <%= link_to t('workflow.buttons.cancel'), { controller: '/workflow/pages', action: 'request_cancel' }, { class: "btn request-cancel", data: { ss_confirmation: t("workflow.confirm.request_cancel") } } %>
          <% elsif @ss_mode == :gws && @item.allowed?(:edit, @cur_user, site: @cur_site) %>
            <%= link_to(t('workflow.buttons.cancel'), { action: :request_cancel }, class: :btn) rescue nil %>
          <% end %>
        <% end %>
      </dd>

      <% if @item.workflow_comment.present? %>
        <dt><%= @model.t :workflow_comment %></dt>
        <dd><%= @item.workflow_comment %></dd>
      <% end %>

      <dt><%= @model.t :workflow_pull_up %></dt>
      <dd><%= @item.label :workflow_pull_up %></dd>

      <dt><%= @model.t :workflow_on_remand %></dt>
      <dd><%= @item.label :workflow_on_remand %></dd>

      <dt><%= @model.t :workflow_approvers %></dt>
      <dd>
        <% if @item.workflow_approvers.present? %>
        <table class="index">
          <tbody>
          <% @item.workflow_approvers.group_by { |workflow_approver| workflow_approver[:level] }.each do |level, workflow_approvers| %>
            <% workflow_approvers.each_with_index do |workflow_approver, index| %>
            <% user_id = workflow_approver[:user_id] %>
            <% user = SS::User.where(id: user_id).first %>
            <% state = workflow_approver[:state] %>
            <tr>
              <% if index == 0 %>
              <td rowspan="<%= workflow_approvers.count %>">
                <%= t('mongoid.attributes.workflow/model/route.level', level: level) %>
              </td>
              <td rowspan="<%= workflow_approvers.count %>">
                <% required_count = @item.workflow_required_counts[level - 1] %>
                <% if required_count %>
                  <%= t('workflow.required_count_label.minimum', required_count: required_count) %>
                <% else %>
                  <%= t('workflow.required_count_label.all') %>
                <% end %>
              </td>
              <% end %>
              <td>
              <% if user %>
                <%= "#{user.long_name}(#{user.email})" %>
              <% else %>
                <%= t("workflow.user_deleted") %>
              <% end %>
              <% if (state == 'request' || state == 'pending') && @item.allowed?(:reroute, @cur_user, site: @cur_site) %>
                <%= link_to('#', class: 'workflow-reroute', data: { level: level, user_id: user_id }) do %>
                  <i class="material-icons" style="font-size: inherit">&#xE254;</i>
                <% end %>
              <% end %>
              </td>
              <td><%= t("workflow.state.#{state}") %></td>
              <td><%= workflow_approver[:comment] %></td>
            </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
        <% end %>
      </dd>
    </dl>
  </div>
  <% end %>

</div>
