<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"
%>

<dl class="see addon-gws-system-group-setting">
  <dt><%= @model.t :sender_name %><%= @model.tt :sender_name %></dt>
  <dd><%= f.text_field :sender_name %></dd>

  <dt><%= @model.t :sender_email %><%= @model.tt :sender_email %></dt>
  <dd><%= f.text_field :sender_email %></dd>

  <dt><%= @model.t :sender_user_id %><%= @model.tt :sender_user_id %></dt>
  <dd>
    <%= f.hidden_field 'sender_user_id', value: '', class: 'hidden-ids' %>
    <%= link_to t('ss.apis.users.index'), gws_apis_users_path(single: true), class: 'ajax-box' %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% @item.sender_user.tap do |item| %>
        <% if item %>
        <tr data-id="<%= item.id %>">
          <td><%= f.hidden_field 'sender_user_id', value: item.id, id: nil %> <%= item.name %></td>
          <td><%= link_to t('ss.buttons.delete'), '#', class: 'deselect btn' %></td>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :mail_signature %><%= @model.tt :mail_signature %></dt>
  <dd><%= f.text_area :mail_signature %></dd>

  <dt><%= @model.t :sendmail_domains %><%= @model.tt :sendmail_domains %></dt>
  <dd><%= f.text_field :sendmail_domains %></dd>

  <dt><%= @model.t :canonical_scheme %><%= @model.tt :canonical_scheme %></dt>
  <dd><%= f.select :canonical_scheme, @item.canonical_scheme_options %></dd>

  <dt><%= @model.t :canonical_domain %><%= @model.tt :canonical_domain %></dt>
  <dd><%= f.text_field :canonical_domain, placeholder: SS.config.gws.canonical_domain %></dd>

  <dt><%= @model.t :trash_threshold %><%= @model.tt :trash_threshold %></dt>
  <dd><%= number_field_with_datetime_unit(:item, :trash_threshold, @item.trash_threshold_unit_options) %></dd>

  <dt><%= @model.t :color_button %><%= @model.tt :color_button %></dt>
  <dd><%= f.select :color_button, @item.color_button_options, include_blank: true %></dd>

  <dt><%= @model.t :editor_css_path %><%= @model.tt :editor_css_path %></dt>
  <dd><%= f.text_field :editor_css_path %></dd>

  <dt><%= @model.t :syntax_check %><%= @model.tt :syntax_check %></dt>
  <dd><%= f.select :syntax_check, @item.syntax_check_options, include_blank: true %></dd>
</dl>
