<table class="columns column">
  <caption><%= @cur_node.name %></caption>
  <thead>
  <tr>
    <th><%= t('garbage.center_name') %></th>
    <th><%= t('garbage.rest_start') %></th>
    <th><%= t('garbage.rest_end') %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @cur_node.name %></td>
    <td><%= @cur_node.rest_start %></td>
    <td><%= @cur_node.rest_end %></td>
    </tr>
    </tbody>
</table>
