<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :email %></dt>
  <dd><%= f.email_field :email %></dd>

  <dt><%= @model.t :in_password %></dt>
  <dd><%= f.text_field :in_password %></dd>

  <dt><%= @model.t :group_ids %></dt>
  <dd>
    <%= f.hidden_field "group_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("sys.search_groups.index"), sys_search_groups_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Sys::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "group_ids[]", value: group.id %> <%= group.name %></td>
            <td><%= link_to t("sys.search_groups.deselect"), "#", class: :deselect %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :type %></dt>
  <dd><%= f.select :type, @item.type_options %></dd>
</dl>
