<%= form_for :item, url: { action: :destroy }, html: { method: :delete, multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="addon-head"><h2><%= t("ss.confirm.delete") %></h2></div>
    <div class="addon-body">
      <%= render file: "_delete" %>
    </div>
  </div>
</div>

<% if !@item.deletion_locked? %>
<footer class="send">
  <%= f.submit t("ss.buttons.delete"), class: 'btn-danger delete' %>
  <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>
<% end %>
<% end %>
