<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>

  <% if item.email.present? %>
  <span><%= mail_to item.email %></span>
  <% end %>

  <% if item.tel.present? %>
  <span><%= item.tel %></span>
  <% end %>
<% end %>

<%= render file: "ss/crud/index" %>
