<% if cur_form.respond_to?(:name) %>
  <div class="main-box">
    <header>
      <h2><%= cur_form.name %></h2>
    </header>
    <% if (description = cur_form.try(:description)).present? %>
      <div>
        <%= sanitize br(description, html_escape: false) %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "cms/columns2/toolbar", target: ".gws-column-item-list", placement: 'top' %>

<%= ss_stimulus_tag({ "gws/column/drag_drop" => { reorder: url_for(action: :reorder) } }, class: "gws-column-item-list") do %>
  <% items.each do |item| %>
    <turbo-frame id="item-<%= item.id %>">
      <%= render template: "cms/frames/columns/show", locals: { ref: SS.request_path(request), model: item.class, item: item } %>
    </turbo-frame>
  <% end %>
<% end %>

<%= render "cms/columns2/toolbar", target: ".gws-column-item-list", placement: 'bottom' %>
