<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if @cur_form.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.edit'), action: :edit, id: item if @cur_form.allowed?(:edit, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item if @cur_form.allowed?(:delete, @cur_user, site: @cur_site) %>
<% end %>
<% @index_meta = proc do |item| %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="order"><%= item.order %></span>
  <span class="class"><%= item.class.model_name.human %></span>
  <span class="required"><%= item.label :required %></span>
<% end %>

<%= render template: 'cms/crud/index' %>
