<% @tap_menu = proc do |item| %>
  <%= link_to(t('opendata.manage_datasets'), opendata_dataset_path(id: item.dataset_id)) %>
  <%= link_to(t('opendata.manage_resources'), opendata_dataset_resource_path(dataset_id: item.dataset_id, id: item.resource_id)) %>
<% end %>

<% @index_title = proc do |item| %>
  <span class="resource"><%= item.resource_name %></span>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="datetime"><%= item.downloaded.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="downloaded-by"><%= item.label(:downloaded_by).presence || t("opendata.downloaded_by_options.single") %></span>
  <span class="dataset"><%= item.dataset_name %></span>
  <span class="url"><%= link_to item.full_url, item.full_url, target: "_blank" %></span>
  <span class="remote-addr"><%= item.remote_addr %></span>
  <span class="user-agent"><%= render_user_agent(item.user_agent, accept_language: request.accept_language) %></span>
<% end %>

<div class="opendata-resource-download-histories">
  <%= render file: "cms/crud/index" %>
</div>
