<dl class="see">
  <dt><%= @model.t :image_alt %><%= @model.tt :image_alt %></dt>
  <dd><%= f.text_field :image_alt %></dd>

  <dt><%= @model.t :image_thumb_size %><%= @model.tt :image_thumb_size %></dt>
  <dd>
    <span class: "thumb-width"><%= @model.t :image_thumb_width %></span>
    <%= f.number_field :image_thumb_width, class: "thumb-width" %>
    <span class: "thumb-height"><%= @model.t :image_thumb_height %></span>
    <%= f.number_field :image_thumb_height, class: "thumb-height" %>
  </dd>

  <dt><%= @model.t :image_comment %><%= @model.tt :image_comment %></dt>
  <dd><%= f.text_area :image_comment %></dd>
</dl>
