<% render_node = proc do |node| %>
  <%= tag.tr class: "list-item", data: { id: node.id, depth: node.depth } do %>
    <td class="expandable"><%= link_to node.name, node.url %></td>
  <% end %>
<% end %>

<% render_nodes = proc do |nodes| %>
  <% nodes.each do |node| %>
    <% render_node.call(node) %>
    <% render_nodes.call(node.children) %>
  <% end %>
<% end %>

<%= cache_component do %>
  <div class="tree-groups">
    <table class="index groups">
      <tbody class="items">
      <tr data-depth="0">
        <td>
          <button class="btn expand-all" type="button"><%= t('ss.buttons.expand_all') %></button>
          <button class="btn collapse-all" type="button"><%= t('ss.buttons.collapse_all') %></button>
        </td>
      </tr>
      <% render_nodes.call(root_groups) %>
      </tbody>
    </table>
  </div>
<% end %>
