<nav class="mod-navi">
  <h2><%= t "mongoid.models.gws/schedule/group_setting" %></h2>

  <% if @cur_site.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.module_setting'), gws_schedule_setting_path %></h3>
  <% end %>
  <% if Gws::Schedule::Holiday.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/schedule/group_setting/holiday'), gws_schedule_holidays_path %></h3>
  <% end %>
  <% if Gws::Schedule::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('mongoid.models.gws/schedule/group_setting/category'), gws_schedule_categories_path %></h3>
  <% end %>
</nav>

<%= render partial: "gws/main/conf_navi" %>
