<%= scss do %>
input.readonly {
  background-color: #eee;
}
textarea {
  width: 80%;
}
<% end %>

<dl class="see rdf-props">
  <dt><%= @model.t :name %><%= @model.tt :name %><%= required_label %></dt>
  <dd>
    <label for="item_name"><%= @item.vocab.prefix %>:</label>
    <%= text_field_tag "item[name]", @item.name %>
  </dd>

  <dt><%= @model.t :label_ja %><%= @model.tt :label_ja %></dt>
  <dd><%= text_field_tag "item[labels][ja]", @item.labels.try(:[], "ja") %></dd>

  <dt><%= @model.t :label_en %><%= @model.tt :label_en %></dt>
  <dd><%= text_field_tag "item[labels][en]", @item.labels.try(:preferred_value, ["en", "invariant"]) %></dd>

  <dt><%= @model.t :range %><%= @model.tt :range %></dt>
  <dd class="rdf-props__range">
    <%= hidden_field_tag "item[range_id]", @item.range.try(:id), "data-type" => :id %>
    <span data-type="pname"><%= @item.range.try(:preferred_label) %></span>
    <%= link_to t("rdf.props.search_range"), rdf_apis_classes_path(target: "rdf-props__range"), class: "ajax-box" %>
  </dd>

  <dt><%= @model.t :comments %><%= @model.tt :comments %></dt>
  <dd><%= text_area_tag "item[comments][ja]", @item.comments.try(:preferred_value), style: "height: 200px;" %></dd>
</dl>
