<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @vocab.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :new, action: :new %>
    <% end %>
    <% if @rdf_class.present? %>
      <%= link_to :import, action: :import %>
      <%= link_to :"rdf.links.back_to_class", controller: :classes, action: :show, id: @rdf_class %>
    <% end %>
  <% elsif params[:action] =~ /new|create|import/ %>
    <%= link_to :back_to_index, action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @vocab.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :back_to_show, action: :show, id: @item %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% else %>
    <% if @vocab.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :edit, action: :edit, id: @item %>
    <% end %>
    <% if @vocab.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(:copy, action: :copy, id: @item) rescue nil %>
    <% end %>
    <% if @vocab.allowed?(:move, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to(:move, action: :move, id: @item) rescue nil %>
    <% end %>
    <% if @vocab.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <% if @rdf_class.present? %>
        <%= link_to :delete, action: :unlink, id: @item %>
      <% else %>
        <%= link_to :delete, action: :delete, id: @item %>
      <% end %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
    <% if @rdf_class.present? %>
      <%= link_to :"rdf.links.back_to_class", controller: :classes, action: :show, id: @rdf_class %>
    <% end %>
  <% end %>
</nav>
