<% @tap_menu = proc do |item| %>
  <%= link_to :show, action: :show, vocab_id: item.vocab, id: item %>
  <%= link_to :edit, action: :edit, vocab_id: item.vocab, id: item %>
  <% if @rdf_class.present? %>
      <%= link_to :delete, action: :unlink, vocab_id: item.vocab, id: item %>
  <% else %>
      <%= link_to :delete, action: :delete, vocab_id: item.vocab, id: item %>
  <% end %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to("#{item.vocab.prefix}:#{item.name}", action: :show, vocab_id: item.vocab, id: item, class: "title") %>
<% end %>

<% @index_meta = proc do |item| %>
    <span class="id">#<%= item.id %></span>
    <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
    <% if item.range.present? %>
    <span class="range"><%= link_to(item.range.try(:preferred_label), controller: :classes, action: :show, vocab_id: item.range.vocab, id: item.range) %></span>
    <% end %>
    <p class="comments"><%= item.comments.try(:preferred_value) %></p>
<% end %>

<%= render file: "cms/crud/index" %>
