<%= render file: "_search" %>

<table class="index">
  <thead>
  <tr>
    <th class="checkbox"><input type="checkbox" /></th>
    <th><%= @model.t :name %></th>
    <th><%= @model.t :labels %></th>
    <th><%= @model.t :comments %></th>
    <th class="datetime"><%= @model.t :updated %></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="tap-menu">
          <%= link_to :show, action: :show, id: item %>
          <%= link_to :edit, action: :edit, id: item %>
          <%= link_to :delete, action: :delete, id: item %>
        </nav>
      </td>
      <td><%= link_to("#{item.vocab.prefix}:#{item.name}", action: :show, id: item) %></td>
      <td><%= item.labels.try(:[], "ja") || item.labels.try(:[], "en") || item.labels.try(:[], "invariant") %></td>
      <td><%= item.comments.try(:[], "ja") || item.comments.try(:[], "en") || item.comments.try(:[], "invariant") %></td>
      <td><%= item.updated.strftime("%Y/%m/%d") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
