<%= form_for :item, url: { action: :unlink }, html: { method: :post, multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view mb-5" id="addon-basic">
    <header><h2><%= t("ss.confirm.delete") %></h2></header>
    <%= render file: "_delete" %>
  </div>
</div>

<footer class="send">
  <%= f.submit t("ss.buttons.delete"), class: :delete %>
  <%= f.button t("ss.buttons.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>
<% end %>
