<% if @folder_navi %>
<div id="content-navi">
  <h2 class="content-navi-title">
    <%= t("mongoid.models.gws/share/folder") %>
  </h2>

  <table class="index">
    <thead>
      <tr>
        <th><%= @model.t('folder_id') %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="<%= 'current' if @folder.blank? %>">
        <td><%= link_to t('gws/share.all'), gws_share_management_files_path %>(<%= Gws::Share::File.site(@cur_site).allow(:read, @cur_user, site: @cur_site).deleted.count -%>)</td>
      </tr>

      <% @folder_navi.each do |item| %>
      <tr class="<%= 'current' if @folder == item %>">
        <% item.send :update_folder_descendants_file_info %>
        <td><%= link_to item.name, gws_share_management_folder_files_path(folder: item.id) %>(<%= item.deleted_files_count -%>)</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
