<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :folder_id %></dt>
  <dd>
    <%= f.hidden_field :folder_id, id: nil, class: 'hidden-ids' %>
    <%= link_to t('gws/share.apis.folders.index'), gws_share_apis_folders_path(mode: 'manageable', single: true), class: 'ajax-box' %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::Share::Folder.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% if @item.folder.present? %>
        <tr data-id="<%= @item.folder_id %>">
          <td><%= f.hidden_field :folder_id, value: @item.folder_id, id: nil %> <%= @item.folder.name %></td>
          <td><%= link_to t("ss.buttons.delete"), '#', class: 'deselect btn' %></td>
        </tr>
      <% else %>
        <tr data-id="not-found">
          <td><%= "復元先のフォルダーが見つかりません。ボタン「フォルダーを選択する」をクリックし、復元先のファルダーを選択してください。" %></td>
          <td></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
