<div class="index">
  <%= render file: "_list_head" %>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <%= link_to t('ss.links.show'), action: :show, id: item, folder: item.folder_id if item.allowed?(:read, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.delete'), action: :delete, id: item, folder: item.folder_id if item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <%= link_to t('gws/share.links.active'), action: :recover, id: item, folder: item.folder_id if item.allowed?(:delete, @cur_user, site: @cur_site) %>

        <% if item.try(:image) %>
          <%= link_to image_tag(item.image.thumb_url), item.image.url, { class: "thumb", target: "_blank" } %>
        <% elsif item.try(:image?) %>
          <%= link_to image_tag(item.thumb_url), item.url, { class: "thumb", target: "_blank" } %>
        <% end %>
      </nav>

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></label>
      <div class="info">
        <%= link_to({ action: :show, id: item, folder: item.folder_id }, class: "title") do %>
          <i class="material-icons md-18 md-dark title-icon">&#xE24D;</i>
          <%= item.name %>
        <% end %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="gws-share-categories">
          <span class="gws-category-label" style="background-color: gray; color: #ffffff;"><%= t('gws/share.files.disabled_items') %></span>
          <% item.categories.compact.each do |category| %>
            <% if params[:folder].present? %>
              <%= link_to category.trailing_name, gws_share_management_folder_files_path(folder: item.folder_id,category: category.id),
                          class: "gws-category-label", style: category_label_css(category) %>
            <% else %>
              <%= link_to category.trailing_name, gws_share_management_files_path(category: category.id),
                          class: "gws-category-label", style: category_label_css(category) %>
            <% end %>
          <% end %>
          </span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<% if @sub_folders.present? %>
<div class="content-main index">
  <div class="list-head">
    <h2 class="list-head-title"><%= t('gws/share.child_folder') %></h2>
  </div>
  <ul class="list-items">
    <% @sub_folders.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to gws_share_folder_files_path(folder: item), class: "title" do %>
          <i class="material-icons md-18 md-dark title-icon">&#xE2C8;</i>
          <%= item.trailing_name %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= paginate @items if @items.try(:current_page) %>
