<div class="index">
  <%= render template: "_list_head" %>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <% opts = params[:folder] ? { id: item, folder: params[:folder] } : { id: item } %>
        <%= link_to t('ss.links.show'), opts.merge(action: :show) if item.allowed?(:read, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.delete'), opts.merge(action: :delete) if item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.restore'), opts.merge(action: :recover) if item.allowed?(:delete, @cur_user, site: @cur_site) %>

        <% if item.try(:image) %>
          <%= link_to image_tag(item.image.thumb_url), item.image.url, { class: "thumb", target: "_blank", rel: "noopener" } %>
        <% elsif item.try(:image?) %>
          <%= link_to image_tag(item.thumb_url), item.url, { class: "thumb", target: "_blank", rel: "noopener" } %>
        <% end %>
      </nav>

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></label>
      <div class="info">
        <%= sanitizer_status(item) %>
        <%= link_to opts.merge(action: :show), class: "title" do %>
          <i class="material-icons md-18 md-dark title-icon">&#xE24D;</i>
          <%= item.name %>
        <% end %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= ss_time_tag item.updated %></span>
          <span class="gws-share-categories">
          <span class="gws-category-label" style="background-color: gray; color: #ffffff;"><%= t('gws/share.files.disabled_items') %></span>
          <% item.categories.compact.each do |category| %>
            <% if params[:folder].present? %>
              <%= link_to category.trailing_name, gws_share_management_folder_files_path(folder: item.folder_id,category: category.id),
                          class: "gws-category-label", style: category_label_css(category) %>
            <% else %>
              <%= link_to category.trailing_name, gws_share_management_files_path(category: category.id),
                          class: "gws-category-label", style: category_label_css(category) %>
            <% end %>
          <% end %>
          </span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
