<style>
.gws-attendance {
  width: calc(726px + 36px);
}
.gws-attendance .sheet {
  width: calc(726px + 36px);
  height: calc(1165px + 18px);

  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
}
.gws-attendance .sheet .body {
  height: 1165px;
}
.sheet {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  //width: 99%;
  width: 726px;
}
.body table {
  width: 100%;
  border-collapse: collapse;
}
.body table th {
  text-align: center;
}
.body table td {
  text-align: center;
}
.f1 {
  font-size: 9.0pt;
  font-family: 'ＭＳ 明朝';
  color: #000;
}
.f2 {
  font-size: 7.0pt;
  font-family: 'ＭＳ 明朝';
  color: #000;
}
.bt1 {
  border-top: 1px solid #000;
}
.br1 {
  border-right: 1px solid #000;
}
.bl1 {
  border-left: 1px solid #000;
}
.bb1 {
  border-bottom: 1px solid #000;
}
</style>

<% @item.tables.each do |columns| %>
<div class="sheet">
  <div class="body">
    <div class="f1" style="height: 18px; margin-left: 10px;">様式第4号(その3)(第10条関係)</div>
    <div class="f1" style="height: 18px; margin-left: 20px;">平日時間外勤務等命令簿</div>
    <table>
      <tr>
        <th class="f1" style="width: 158px; height: 50px; vertical-align: bottom;" colspan="2" rowspan="2">
          <%= @item.month %>月分
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 238px; height: 18px;" colspan="2">
          <div style="letter-spacing: 5px; text-indent: 5px;">課名</div>
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 105px; height: 18px;">
          <div style="letter-spacing: 5px; text-indent: 5px;">職名</div>
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 217px; height: 18px;" colspan="3">
          <div style="letter-spacing: 30px; text-indent: 30px;">氏名</div>
        </th>
      </tr>
      <tr>
        <th class="bt1 br1 bl1 f1" colspan="2">
          <div style="width: 238px; white-space: nowrap; overflow: hidden;">
            <%= @item.group_name %>
          </div>
        </th>
        <th class="bt1 br1 bl1 f1">
          <div style="width: 105px; white-space: nowrap; overflow: hidden;">
            <%= @item.user_title %></th>
          </div>
        <th class="bt1 br1 bl1 f1" colspan="3">
          <div style="width: 217px; white-space: nowrap; overflow: hidden;">
            <%= @item.user_name %>
          </div>
        </th>
      </tr>
      <tr>
        <th class="bt1 br1 bl1 f1" style="width: 158px; height: 18px;" colspan="2">時間外勤務等の予定時間</th>
        <th class="bt1 br1 bl1 f1" style="width: 178px; height: 56px;" rowspan="3">
          <div>従事事務の内容</div>
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 60px; height: 56px;" rowspan="3">
          <div>所属長</div>
          <div>の印</div>
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 105px; height: 36px;" rowspan="2">
          <div>時間外勤務等</div>
          <div>の命令時間</div>
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 60px; height: 56px;" rowspan="3">
          <div>所属長</div>
          <div>の印</div>
        </th>
        <th class="bt1 br1 bl1 f1" style="width: 80px; height: 56px;" rowspan="3">勤務時間</th>
        <th class="bt1 br1 bl1 f1" style="width: 75px; height: 56px;" rowspan="3">夜間時間外</th>
      </tr>
      <tr>
        <th class="bt1 br1 bl1 f1" style="width: 58px; height: 36px;" rowspan="2">日・曜日</th>
        <th class="bt1 br1 bl1 f1" style="width: 100px; height: 36px;" rowspan="2">時間</th>
      </tr>
      <tr>
        <th class="bt1 br1 bl1 f1">時間</th>
      </tr>
      <% columns.each_with_index do |column, i| %>
        <tr class="column<%= i %>">
          <td class="bt1 br1 bl1 f1" style="height: 56px; vertical-align: bottom; text-align: right;">
            <%= column.date %>
          </td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;">
            <%= column.time1 %>
          </td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;">
            <div style="width: 178px; max-height: 50px; overflow: hidden;">
              <%= column.remark %>
            </div>
          </td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;"></td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;">
            <%= column.time2 %>
          </td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;"></td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;">
            <%= column.time3 %>
          </td>
          <td class="bt1 br1 bl1 f1" style="height: 56px;">
            <%= column.time4 %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="bt1 f1" style="height: 56px;" colspan="4">
        </td>
        <td class="bt1 br1 bb1 bl1 f1" style="height: 56px;" colspan="2">
          時間外累計時間
        </td>
        <td class="bt1 br1 bl1 bb1 f1" style="height: 56px;"><%= @item.total_day_minutes_label %></td>
        <td class="bt1 br1 bl1 bb1 f1" style="height: 56px;"><%= @item.total_night_minutes_label %></td>
      </tr>
    </table>
    <div class="f1" style="margin-left: 10px; height: 18px;">1　命令を受けた場合は、勤務前に「時間外勤務等の予定時間」及び「従事事務の内容」を記入し、所属長から印を受けること。</div>
    <div class="f1" style="margin-left: 10px; height: 18px;">2　勤務後は、「時間外勤務等の命令時間」を記入し、所属長の印を受けること。</div>
  </div>
</div>
<% end %>