<div class="gws-attendance">
  <div class="attendance-box">
    <div class="attendance-box-title"><%= @item.title %></div>
    <div class="attendance-box-main">
      <div class="nav-group">
        <%= tag.nav(class: "nav-menu", data: { controller: "ss--redirect-on-change", url: url_for(action: :index, year_month: ':year_month:') }) do %>
        <%= select_tag(:year_month, options_for_select(year_month_options, params[:year_month]), { include_blank: true, data: { default: default_year_month } }) %>
        <% end %>
        <nav class="nav-operation">
        <%= link_to(t("ss.buttons.print"), { action: :print }, class: "print btn") %>
        </nav>
      </div>
    </div>

    <% if @item.errors.present? %>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li style="list-style: disc;"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="sheets">
    <%= render partial: "sheets" %>
  </div>
</div>
