<%= jquery do %> SS_SearchUI.modal(); <% end %>

<div class="search-ui-form">
  <%= form_for :s, url: { action: :index, level: @level }, html: { method: "GET", class: :search } do |f| %>
    <dl class="see">
      <% if browser.ie?(["<10"]) %>
        <%= render partial: 'workflow/search_approvers/group_dropdown_normal' %>
      <% else %>
        <%= render partial: 'workflow/search_approvers/group_dropdown_tree' %>
      <% end %>
      <dt><%= t "cms.user" %></dt>
      <dd><%= f.text_field :keyword, value: params[:s].try(:[], :keyword) %>
      <%= f.submit t("workflow.search_approvers.search"), class: "btn" %></dd>
    </dl>
  <% end %>
</div>

<table class="index">
  <thead class="list-head">
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th class="name"><%= @model.t :name %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= "#{@level},#{item.id}" %>" class="list-item">
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
        <td class="name"><%= link_to item.long_name, "#", class: "select-item" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="search-ui-select">
  <%= button_tag t("workflow.search_approvers.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
