<%= jquery do %> SS_SearchUI.modal(); <% end %>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= form_for :s, url: { action: :index, level: @level }, html: { method: "GET", class: :search } do |f| %>
    <dl class="see">
      <dt><%= t "cms.group" %></dt>
      <dd><%= select_tag "s[group]", options_for_select(@group_options, @group_id) %></dd>
      <dt><%= t "cms.user" %></dt>
      <dd><%= f.text_field :keyword, value: params[:s].try(:[], :keyword) %>
      <%= f.submit t("workflow.search_approvers.search"), class: "btn" %></dd>
    </dl>
  <% end %>
</div>

<table class="index">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th class="name"><%= @model.t :name %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= "#{@level},#{item.id}" %>">
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
        <td class="name"><%= link_to item.long_name, "#", class: "select-item" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= button_tag t("workflow.search_approvers.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
