<%= jquery do %>
  SS_SearchUI.modal();
  SS_TreeUI.render("form.search .index.groups");
  SS_Dropdown.render();

  $("form.search .index.groups .select-group").on("click", function(e) {
    e.preventDefault();
    e.stopPropagation();
    $("#ajax-box #s_group").val($(e.target).data("id"));
    SS_SearchUI.selectItems()
    $("#ajax-box form.search").submit()
    return false;
  });
<% end %>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= form_for :s, url: { action: :index, level: @level }, html: { method: "GET", class: :search } do |f| %>
    <dl class="see">
      <dt><%= t "cms.group" %></dt>
      <dd>
        <button class="dropdown btn"><%= @group.try(:name) %> <span class="caret">&#x25BC;</span></button>
        <%= hidden_field_tag("s[group]", @group.try(:id)) %>
        <div class="dropdown-container">
          <table class="index groups">
            <tbody>
            <% @groups.each do |item| %>
              <tr data-depth="<%= item.name.count("/") + @cur_site.name.count("/") %>" class="toggle">
                <td class="expandable">
                  <%= link_to item.trailing_name, "#", class: "select-group", data: { id: item.id } %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </dd>
      <dt><%= t "cms.user" %></dt>
      <dd><%= f.text_field :keyword, value: params[:s].try(:[], :keyword) %>
      <%= f.submit t("workflow.search_approvers.search"), class: "btn" %></dd>
    </dl>
  <% end %>
</div>

<table class="index">
  <thead class="list-head">
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th class="name"><%= @model.t :name %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= "#{@level},#{item.id}" %>" class="list-item">
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
        <td class="name"><%= link_to item.long_name, "#", class: "select-item" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= button_tag t("workflow.search_approvers.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
