<%
  @search_externals ||= Gws::SearchForm::Target.site(@cur_site).and_enabled.and_external.to_a
  return if @search_externals.blank?
%>
<div class="external-search">
  <div class="list-notice">
    <%= md_icons.filled "error_outline", size: 16 %>
    <%= t("gws/search_form.views.try_external_search") %>
    <ul>
      <% @search_externals.each do |target| %>
        <li>
          <%= link_to target.url, "data-external-search-url": target.url_without_keyword, class: "search-for-keyword" do %>
            <span class="with-keyword" style="display: none;">
              <%== t("gws/search_form.links.search_for_keyword", target: target.place_holder) %>
              <%= md_icons.filled "open_in_new", size: 18 %>
            </span>
            <span class="default">
              <%= target.place_holder %>
              <%= md_icons.filled "open_in_new", size: 18 %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
