<% return if @result.blank? %>

<div class="list-head">
  <%= I18n.t('gws/elasticsearch.format.search_results_count', count: @result['hits']['total'], from: @item.from + 1, to: @item.from + @item.size, took: @result['took'] / 1000.0) %>
</div>
<ul class="list-items">
  <% @result['hits']['hits'].each do |hit| %>
    <li class="list-item">
      <div class="info">
        <% source = hit['_source'] %>
        <% title = source['name'] %>
        <% if source.dig('file', 'extname').present? %>
          <% title = "#{title} (#{source.dig('file', 'extname').upcase} #{number_to_human_size(source.dig('file', 'size'))})" %>
        <% end %>
        <%= link_to title, source['url'], class: 'title' %>
        <div class="meta">
          <% if @show_type %>
            <span class="type"><%= @setting.translate_type(hit['_type']) %></span>
          <% end %>
          <span class="id"><%= hit['_id'] %></span>
          <span class="datetime"><%= I18n.l(Time.zone.parse(source['updated'])) %></span>
          <% if source['categories'].present? %>
          <span class="categories">
            <% source['categories'].each do |es_category| %>
              <% category, category_path = @setting.translate_category(hit['_type'], es_category) %>
              <% next unless category %>
              <%= link_to(
                    category.trailing_name,
                    category_path,
                    class: 'gws-category-label',
                    style: category_label_css(category)
                  ) %>
            <% end %>
          </span>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
