<%
  def has_more?
    return false if @result.blank?
    return true if @s.from != 0
    case @result['hits']['total']
    when Integer
      @result['hits']['total'] > @s.size
    when Hash
      @result['hits']['total']['value'] > @s.size
    end
  end

  def to_kaminari
    case @result['hits']['total']
    when Integer
      total_pages = @result['hits']['total'] / @s.size
      total_pages += 1 if (@result['hits']['total'] % @s.size) != 0
    when Hash
      total_pages = @result['hits']['total']['value'] / @s.size
      total_pages += 1 if (@result['hits']['total']['value'] % @s.size) != 0
    end

    current_page = @s.from / @s.size + 1

    limit_value = @s.size

    OpenStruct.new(
      total_pages: total_pages,
      current_page: current_page,
      limit_value: limit_value
    )
  end
%>

<%= render partial: 'gws/elasticsearch/search/main/tabs' %>


<div class="gws-elasticsearch">
  <div class="index">
    <div class="list-head">
      <%= render template: '_search' %>
    </div>

    <% if @result.present? %>
      <%= render template: '_result' %>
    <% end %>
  </div>

  <% if has_more? %>
    <%= paginate to_kaminari %>
  <% end %>

  <% if @result.present? %>
    <%= render template: '_external' %>
  <% end %>
</div>
