<dl class="column">
  <dt><%= @model.t :title %><span class="required"><%= t('views.required_field') %></span></dt>
  <dd><%= f.text_field :name %></dd>
</dl>

<% if @item.new_record? %>
<dl class="column">
  <dt><%= @model.t :basename %><span class="required"><%= t('views.required_field') %></span></dt>
  <dd>
    <span class="blog-url"><%= @blog_node.full_url%></span>
    <span class="blog-node">
      <%= f.text_field :basename, class: "filename", pattern: '[\w\-]+' %>
    </span>
  </dd>
</dl>
<% end %>

<dl class="column">
  <dt><%= @model.t :layout_id %></dt>
  <dd><%= f.select :layout_id, @blog_node.layout_options %></dd>
</dl>
