<%= code_editor ".mod-cms-child_list .html", mode: :html %>

<div class="see mod-cms-child_list">
  <div class="mb-3">
    <%= @model.tt :child_list %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_limit %><%= @model.tt :child_limit %></label>
    <%= f.number_field :child_limit, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_upper_html %><%= @model.tt :child_upper_html %></label>
    <%= f.text_area :child_upper_html, class: :html, rows: "6" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_loop_html %><%= @model.tt :child_loop_html %></label>
    <%= f.text_area :child_loop_html, class: :html, rows: "6" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_lower_html %><%= @model.tt :child_lower_html %></label>
    <%= f.text_area :child_lower_html, class: :html, rows: "6" %>
  </div>
</div>
