<%= code_editor ".mod-cms-child_list .html", mode: :html, readonly: true %>

<fieldset class="see mod-cms-child_list" disabled>
  <div class="mb-3">
    <label><%= @model.t :child_limit %></label>
    <input class="form-control" type="text" value="<%= @item.send :child_limit %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_upper_html %></label>
    <% if @item.child_upper_html.present? %>
    <%= text_area_tag :child_upper_html, @item.child_upper_html, class: "html", rows: "6" %>
    <% end %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_loop_html %></label>
    <% if @item.child_loop_html.present? %>
    <%= text_area_tag :child_loop_html, @item.child_loop_html, class: "html", rows: "6"  %>
    <% end %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :child_lower_html %></label>
    <% if @item.child_lower_html.present? %>
    <%= text_area_tag :child_lower_html, @item.child_lower_html, class: "html", rows: "6" %>
    <% end %>
  </div>
</fieldset>
