<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
<head>
<meta charset="UTF-8" />
<meta http-equiv="refresh" content="0; URL=<%= @cur_page.link_url %>">
<title><%= @cur_page.name %></title>
</head>
<body>
  <%= @cur_page.name %><br />
  <%= link_to @cur_page.link_url, @cur_page.link_url %>
  <img src="<%= @cur_page.count_url %>" width="0" height="0" border="0" alt="" title="" />
</body>
</html>
