<%= jquery do %> SS_SearchUI.modal(); <% end %>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
<%= form_tag({ action: :index }, { method: "GET", class: :search }) do %>
  <%= text_field_tag 's[name]', params[:s].try(:[], :name) %>
  <%= hidden_field_tag :single, params[:single] if params[:single].present? %>
  <%= hidden_field_tag :model, params[:model] if params[:model].present? %>
  <%= submit_tag t("cms.apis.nodes.search"), class: :btn %>
<% end %>
</div>

<table class="index">
  <thead>
    <tr>
      <% if @multi %>
      <th class="checkbox"><input type="checkbox" /></th>
      <% end %>
      <th class="name"><%= @model.t :name %></th>
      <th class="url"><%= @model.t :url %></th>
      <th class="route"><%= t :module %></th>
      <th class="updated"><%= @model.t :updated %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <tr data-id="<%= item.id %>">
        <% if @multi %>
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
        <% end %>
        <td><%= link_to item.name, "#", class: @multi ? "select-item" : "select-single-item" %></td>
        <td><%= item.url %></td>
        <td><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></td>
        <td><%= tryb { item.updated.strftime("%Y/%m/%d %H:%M") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= button_tag t("cms.apis.nodes.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
