<% @item.trigger_weather_alert ||= Rss::WeatherXml::Trigger::WeatherAlert.new %>

<%= f.fields_for :trigger_weather_alert do |f1| %>
  <% @item.trigger_weather_alert.tap do |trigger| %>
    <dl class="see mod-rss-weather-xml-trigger-weather-alert">
      <dt><%= Rss::WeatherXml::Trigger::WeatherAlert.t :training_state %><%= Rss::WeatherXml::Trigger::WeatherAlert.tt :training_state %></dt>
      <dd><%= f1.select :training_state, trigger.training_state_options %></dd>

      <dt><%= Rss::WeatherXml::Trigger::WeatherAlert.t :kind %><%= Rss::WeatherXml::Trigger::WeatherAlert.tt :kind %></dt>
      <dd>
        <label for="item_trigger_weather_alert_kind_warning">
          <%= f1.check_box :kind_warning, { checked: trigger.kind_warning == 'enabled' }, 'enabled', 'disabled' %> 警報
        </label>
        <label for="item_trigger_weather_alert_kind_advisory">
          <%= f1.check_box :kind_advisory, { checked: trigger.kind_advisory == 'enabled' }, 'enabled', 'disabled' %> 注意報
        </label>
      </dd>

      <dt><%= Rss::WeatherXml::Trigger::WeatherAlert.t :regions %><%= Rss::WeatherXml::Trigger::WeatherAlert.tt :regions %></dt>
      <dd>
        <%= f1.hidden_field "region_ids[]", value: "", class: "hidden-ids" %>
        <%= link_to :"rss.apis.weather_xml/forecast_regions.index", rss_apis_weather_xml_forecast_regions_path, class: "ajax-box" %>
      </dd>
      <dd>
        <table class="index ajax-selected">
          <thead>
          <tr>
            <th class="name"><%= Rss::WeatherXml::ForecastRegion.t :name %></th>
            <th style="width: 20%;"></th>
          </tr>
          </thead>
          <tbody>
          <% trigger.regions.each do |item| %>
            <tr data-id="<%= item.id %>">
              <td><%= f1.hidden_field "region_ids[]", value: item.id %> <%= item.name %></td>
              <td style="width: 20%;"><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </dd>
    </dl>
  <% end %>
<% end %>
