<% @index_title = proc do |item| %>
  <%= link_to item.email, { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="email-type"><%= item.label :email_type %></span>
<% end %>

<%= render file: "cms/crud/index" %>
