<% @index_title = proc do |item| %>
  <%= link_to item.email, { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="email-type"><%= item.label :email_type %></span>
<% end %>

<%= render template: "cms/crud/index" %>
