<dl class="see">
  <dt><%= @model.t :duty_notice_ids %></dt>
  <dd>
    <%= f.hidden_field "duty_notice_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("gws/affair.apis.duty_notices.index"), gws_affair_apis_duty_notices_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::Affair::DutyNotice.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      <% @item.duty_notices.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= f.hidden_field "duty_notice_ids[]", value: item.id, id: nil %> <%= item.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
