<dl class="see">
  <dd class="wide">
    <%= f.hidden_field "st_page_ids[]", value: "", class: "hidden-ids" %>
    <%
      page_params = {}
      page_params[:s] = { statuses: %w(public) }
    %>
    <%= link_to t("cms.apis.pages.index"), cms_apis_pages_path(page_params), class: "ajax-box" %>
    <table class="index ajax-selected" style="margin-top: 10px;">
      <thead>
        <tr>
          <th class="name"><%= @model.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.st_pages.each do |page| %>
        <tr data-id="<%= page.id %>">
          <td><%= f.hidden_field "st_page_ids[]", value: page.id %> <%= page.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
        <tr style="display:none" <%= raw(@item.present? ? "data-id=#{@item.id}" : "") %>></tr>
      </tbody>
    </table>
  </dd>
</dl>
