<%= code_editor ".mod-event-calendarlist .html", mode: :html %>
<%
  @item.event_display_tabs = %w(list table) if @item.event_display_tabs.blank?
%>
<dl class="see mod-event-calendarlist">
  <dt><%= @model.t :event_display %><%= @model.tt :event_display %></dt>
  <dd><%= f.select :event_display, @item.event_display_options %></dd>

  <dt><%= @model.t :event_display_tabs %><%= @model.tt :event_display_tabs %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[event_display_tabs][]", '', id: nil %>
    <% @item.event_display_options.each do |v, k| %>
      <% checked = (k.to_s == @item.event_display || @item.event_display_tabs.include?(k.to_s)) %>
      <label>
        <%= check_box_tag "#{f.object_name}[event_display_tabs][]", k, checked %>
        <%= v %>
      </label>
    <% end %>
  </dd>

  <dt><%= @model.t :conditions %><%= @model.tt :conditions %></dt>
  <dd><%= f.ss_lines_field :conditions, value: @item.conditions.join("\n"), style: "height: 100px;" %></dd>

  <dt><%= @model.t :upper_html %><%= @model.tt :upper_html %></dt>
  <dd><%= f.text_area :upper_html, class: :html %></dd>

  <dt><%= @model.t :lower_html %><%= @model.tt :lower_html %></dt>
  <dd><%= f.text_area :lower_html, class: :html %></dd>

  <dt><%= @model.t :substitute_html %><%= @model.tt :substitute_html %></dt>
  <dd><%= f.text_area :substitute_html, class: :html %></dd>

  <dt><%= @model.t :new_days %><%= @model.tt :new_days %></dt>
  <dd><%= f.number_field :new_days %> <%= t "datetime.prompts.day" %></dd>
</dl>
