<% if @group_navi %>
<div id="content-navi">
  <h2 class="content-navi-title">
    <%= t("mongoid.models.gws/shared_address/group") %>
  </h2>

  <table class="index">
    <thead>
      <tr>
        <th><%= @model.t('address_group_id') %></th>
      </tr>
    </thead>
    <tbody>
      <tr class="<%= 'current' if @address_group.blank? %>">
        <td><%= link_to t('ss.all'), gws_shared_address_management_addresses_path %></td>
      </tr>

      <% @group_navi.each do |item| %>
      <tr class="<%= 'current' if @address_group == item %>">
        <td><%= link_to item.name, gws_shared_address_management_group_addresses_path(group: item.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
