<%
  if !@item.readable_setting_present?
    addon ||= local_assigns.fetch(:addon, {})
    addon[:display_body] = "hide"
  end
%>

<div class="gws-addon-subscription-setting">
  <% if @item.class.subscription_setting_included_custom_groups? %>
  <dl class="see gws-addon-subscription-setting-custom-group">
    <dt><%= @model.t :subscribed_custom_group_ids %><%= @model.tt :subscribed_custom_group_ids %></dt>
    <dd>
      <%= f.hidden_field "subscribed_custom_group_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("gws.apis.custom_groups.index"), gws_apis_custom_groups_path, class: "ajax-box" %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead><tr><th class="name"><%= Gws::CustomGroup.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        <% @item.subscribed_custom_groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "subscribed_custom_group_ids[]", value: group.id, id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
  <% end %>

  <dl class="see gws-addon-subscription-setting-group">
    <dt><%= @model.t :subscribed_group_ids %><%= @model.tt :subscribed_group_ids %></dt>
    <dd>
      <%= f.hidden_field "subscribed_group_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.groups.index"), gws_apis_groups_path, class: "ajax-box" %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-groups" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-groups" %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead><tr><th class="name"><%= Gws::Group.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
          <% @item.subscribed_groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "subscribed_group_ids[]", value: group.id, id: nil %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>

  <dl class="see gws-addon-subscription-setting-member">
    <dt><%= @model.t :subscribed_member_ids %><%= @model.tt :subscribed_member_ids %></dt>
    <dd>
      <%= f.hidden_field "subscribed_member_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
      <%= link_to t("ss.buttons.copy"), "#", class: "btn js-copy-users" %>
      <%= link_to t("ss.buttons.paste"), "#", class: "btn js-paste-users" %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
          <% @item.subscribed_members.each do |user| %>
          <tr data-id="<%= user.id %>">
            <td><%= f.hidden_field "subscribed_member_ids[]", value: user.id, id: nil %> <%= gws_public_user_long_name(user.long_name) %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</div>
