<%= form_for :item, url: { action: :create }, html: { id: "item-form", multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view mb-5" id="addon-basic">
      <div class="addon-body">
        <%= render file: '_choice', locals: { f: f } %>
      </div>
    </div>
  </div>

  <footer class="send">
    <% if @crud_buttons %>
      <% @crud_buttons.call f %>
    <% else %>
      <%= f.submit t("ss.buttons.new"), class: 'btn-primary save' %>
      <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
    <% end %>
  </footer>
<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
