<%= jquery do %> SS_AddonTabs.hide(".addon-gws-board-group-setting"); <% end %>

<% @item.in_board_file_size_per_topic_mb ||= @item.board_file_size_per_topic / (1_024 * 1_024) if @item.board_file_size_per_topic %>
<% @item.in_board_file_size_per_post_mb ||= @item.board_file_size_per_post / (1_024 * 1_024) if @item.board_file_size_per_post %>

<dl class="see addon-gws-board-group-setting">
  <dt><%= @model.t :board_new_days %><%= @model.tt :board_new_days %></dt>
  <dd class="short"><%= f.number_field :board_new_days %> <span class="postfix"><%= t("datetime.prompts.day") %></span></dd>

  <dt><%= @model.t :board_file_size %><%= @model.tt :board_file_size %></dt>
  <dd></dd>

  <dt class="depth-2"><%= @model.t(:board_file_size_per_topic).sub(/.*\//, '') %><%= @model.tt :board_file_size_per_topic %></dt>
  <dd class="short"><%= f.number_field :in_board_file_size_per_topic_mb %> <span class="postfix"><%= t("ss.units.mega_byte") %></span></dd>

  <dt class="depth-2"><%= @model.t(:board_file_size_per_post).sub(/.*\//, '') %><%= @model.tt :board_file_size_per_post %></dt>
  <dd class="short"><%= f.number_field :in_board_file_size_per_post_mb %> <span class="postfix"><%= t("ss.units.mega_byte") %></span></dd>

  <dt><%= @model.t :board_browsed_delay %><%= @model.tt :board_browsed_delay %></dt>
  <dd class="short"><%= f.number_field :board_browsed_delay %> <span class="postfix"><%= t("datetime.prompts.second") %></span></dd>

  <dt><%= @model.t :board_files_break %><%= @model.tt :board_files_break %></dt>
  <dd><%= f.select :board_files_break, @item.board_files_break_options %></dd>

  <dt><%= @model.t :board_links_break %><%= @model.tt :board_links_break %></dt>
  <dd><%= f.select :board_links_break, @item.board_links_break_options %></dd>
</dl>
