<link href="/assets/css/colorbox/colorbox.css" media="all" rel="stylesheet" />
<script src="/assets/js/jquery.colorbox.js"></script>
<%= javascript_include_tag "opendata/public" %>
<%= coffee do %>
$ ->

  <% if member_login_enabled? && @tab_count > 1 %>
  # Tabs
  SS_Tabs.render("#idea-tabs-<%= @cur_node.id %>");
  <% end %>

  <% if @cur_node.show_point? %>
  # show point
  Opendata_Point.render("<%= @cur_page.point_url %>");
  <% end %>

  # show comment
  $.ajax
    url: "<%= @cur_page.comment_url %>"
    success: (data)->
      $("#idea-comments").html data

  <% if dataset_enabled? %>
  # show related_dataset
  $.ajax
    url: "<%= @cur_page.related_dataset_url %>"
    success: (data)->
      $("#related_dataset").html data
  <% end %>

  <% if app_enabled? %>
  # show related_app
  $.ajax
    url: "<%= @cur_page.related_app_url %>"
    success: (data)->
      $("#related_app").html data
  <% end %>

  # hide categories
  $(".categories a[data-class=other]").click ->
    type = $(this).attr("class")
    $(".categories a." + type).show()
    $(this).remove()
    return false

  # preview
  $("a.content").colorbox({ fixed: true, width: "90%", height: "90%" })

<% end %>

<header>
  <span class="id"><%= @cur_page.id %></span>
  <h1 class="name"><%= @cur_page.send :name %></h1>
</header>

<% if @cur_node.show_point? %>
<div class="point" id="idea-point">
  <div class="count">
    <span class="label"><%= I18n.t("opendata.labels.iine") %></span>
    <span class="number"><%= @cur_page.point %></span>
  </div>
</div>
<% end %>

<%
max = 3
categories = [
  { items: @cur_page.categories, type: :category, name: :name, key: :category_id, val: :id },
  { items: @cur_page.areas.sort(order: 1), type: :area, name: :name, key: :area_id, val: :id },
  { items: @cur_page.tags, type: :tag, name: :to_s, key: :tag, val: :to_s },
]
%>
<nav class="categories">
  <% categories.each do |cate| %>
    <% cate[:items].each_with_index do |item, idx| %>
      <% hide = (idx >= max) ? "display: none" : nil %>
      <%= link_to item.send(cate[:name]), @search_path.call("s[#{cate[:key]}]" => "#{item.send(cate[:val])}"),
        class: cate[:type], style: hide %>
    <% end %>
    <% if cate[:items].size > max %>
      <%= link_to I18n.t("opendata.labels.other") + "#{cate[:items].size-max}" + I18n.t("opendata.labels.count"), "#",
        class: "#{cate[:type]}", "data-class" => "other" %>
    <% end %>
  <% end %>
</nav>

<% if @cur_page.issue.present? %>
<div class="issue">
  <h2><%= I18n.t("opendata.labels.issue") %></h2>
  <p><%= auto_link br(@cur_page.issue) %></p>
</div>
<% end %>

<% if @cur_page.text.present? %>
<div class="idea">
  <h2><%= I18n.t("opendata.labels.idea") %></h2>
  <p><%= auto_link br(@cur_page.text) %></p>
</div>
<% end %>

<% if @cur_page.data.present? %>
<div class="data">
  <h2><%= I18n.t("opendata.labels.data") %></h2>
  <p><%= auto_link br(@cur_page.data) %></p>
</div>
<% end %>

<% if @cur_page.note.present? %>
<div class="note">
  <h2><%= I18n.t("opendata.labels.note") %></h2>
  <p><%= auto_link br(@cur_page.note) %></p>
</div>
<% end %>

<% if @tab_count > 0 %>
<div class="idea-tabs tabs" id="idea-tabs-<%= @cur_node.id %>">
  <article class="tab comment" id="cms-tab-<%= @cur_node.id %>-0">
    <header><h1><%= I18n.t("opendata.labels.comment") %></h1></header>
    <div class="pages">
      <div class="info-wrap">
        <div id="tab-comment">
          <header><h1><%= I18n.t("opendata.labels.comment") %></h1></header>
          <div class="comment" id="idea-comments"></div>
        </div>
      </div>
    </div>
    <nav class="feed"></nav>
  </article>
  <% if dataset_enabled? %>
  <article class="tab related-dataset" id="cms-tab-<%= @cur_node.id %>-1">
    <header><h1><%= I18n.t("opendata.labels.relation_dataset") %></h1></header>
    <div class="pages">
      <div id="tab-dataset">
        <header><h1><%= I18n.t("opendata.labels.relation_dataset") %></h1></header>
        <div class="related_dataset" id="related_dataset"></div>
      </div>
    </div>
    <nav class="feed"></nav>
  </article>
  <% end %>
  <% if app_enabled? %>
  <article class="tab related-app" id="cms-tab-<%= @cur_node.id %>-2">
    <header><h1><%= I18n.t("opendata.labels.relation_app") %></h1></header>
    <div class="pages">
      <div id="tab-app">
        <header><h1><%= I18n.t("opendata.labels.relation_app") %></h1></header>
        <div class="related_app" id="related_app"></div>
      </div>
    </div>
    <nav class="feed"></nav>
  </article>
  <% end %>
</div>
<% end %>

<div class="detail">
  <div class="info-wrap">
    <dl class="author">
      <% if @cur_page.member_id.present? %>
        <dt><%= @cur_page.t :user_id %></dt>
        <dd>
          <% if @cur_page.member %>
          <%= link_to @cur_page.member.name, "#{member_path}#{@cur_page.member.id}" %>
          <% else %>
          <%= I18n.t("opendata.labels.guest_user") %>
          <% end %>
        </dd>
      <% elsif @cur_page.contact_group %>
        <dt><%= @cur_page.t :user_id %></dt>
        <dd><%= @cur_page.contact_group.name.sub(/.*\//, "") %><br /></dd>
      <% elsif @cur_page.groups.present? %>
        <dt><%= @cur_page.t :user_id %></dt>
        <dd><%= @cur_page.groups.first.name %><br /></dd>
      <% end %>

      <dt><%= @cur_page.t :commented %></dt>
      <dd><%= @cur_page.total_comment.to_i %><%= I18n.t("opendata.labels.time")%> </dd>

      <dt><%= @cur_page.t :updated %></dt>
      <dd><%= tryb{@cur_page.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %><br /></dd>
    </dl>
  </div>
</div>

