<table class="index">
  <thead>
    <tr>
      <th style="width: 40%;"><%= @item.t('links/name') %></th>
      <th><%= @item.t('links/url') %></th>
      <th><%= @item.t('links/target') %></th>
    </tr>
  </thead>

  <tbody>
    <% (@item.links || []).each do |item| %>
    <tr>
      <td><%= item[:name] %></td>
      <td><%= link_to item[:url], sns_redirect_path(ref: item[:url]), target: item[:target].presence if item[:url].present? %></td>
      <td><%= item[:target].presence || '_self' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
