<table class="index">
  <thead>
  <tr>
    <th style="width: 20%;"><%= @item.t('links/name') %></th>
    <th><%= @item.t('links/url') %></th>
    <th style="width: 12em;"><%= @item.t('links/target') %></th>
  </tr>
  </thead>

  <tbody>
  <% (@item.links || []).each do |item| %>
    <% target = item[:target].presence || Gws::Link.default_link_target %>
    <tr>
      <td><%= item[:name] %></td>
      <td><%= link_to item[:url], sns_redirect_path(ref: item[:url]), target: target if item[:url].present? %></td>
      <td><%= t("ss.options.link_target.#{target}") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
