<dl class="see mod-gws-group-affair_setting">
  <dt><%= @model.t :group_code %><%= @model.tt :group_code %></dt>
  <dd><%= f.text_field :group_code %></dd>
</dl>

<dl class="see mod-gws-group-affair_setting" style="margin-top: 20px;">
  <dt><%= @model.t :superior_group_ids %><%= @model.tt :superior_group_ids %></dt>
  <dd>
    <%= f.hidden_field "superior_group_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.groups.index"), gws_apis_groups_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Gws::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.superior_groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "superior_group_ids[]", value: group.id %> <%= group.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see mod-gws-group-affair_setting">
  <dt><%= @model.t :superior_user_ids %><%= @model.tt :superior_user_ids %></dt>
  <dd>
    <%= f.hidden_field "superior_user_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Gws::Group.t :name %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @item.superior_users.each do |user| %>
          <tr data-id="<%= user.id %>">
            <td><%= f.hidden_field "superior_user_ids[]", value: user.id %> <%= user.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
