<% return "" unless @cur_site.twitter_token_enabled? %>

<dl class="see mod-cms-twitter_poster">
  <dt><%= @model.t :twitter_auto_post %></dt>
  <dd><%= @item.label :twitter_auto_post %></dd>

  <% if @item.twitter_auto_post == "active" %>
    <dt><%= @model.t :twitter_post_format %></dt>
    <dd><%= @item.label :twitter_post_format %></dd>

    <% posted = @item.twitter_posted.to_a.first %>
    <% if posted %>
      <dt><%= @item.t :twitter_url %></dt>
      <dd>
        <a href="<%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %>" target="_blank" rel="noopener">
          <%= @item.twitter_url(posted[:twitter_post_id], posted[:twitter_user_id]) %>
        </a>
      </dd>

      <dt><%= @item.t :twitter_posted_at %></dt>
      <dd>
        <%= tryb { posted[:posted_at].strftime("%Y/%m/%d %H:%M") } %>
        <% if @item.allowed?(:release, @cur_user, site: @cur_site) %>
          <%= jquery do %>
            $(".mod-cms-twitter_poster .reset-twitter-post").on("click", function() {
              if (!confirm("<%= I18n.t('ss.confirm.reset_posted') %>")) {
                return false;
              }
            });
          <% end %>
          <div style="margin-top: 5px;">
            <%= link_to t("ss.links.reset_posted"), cms_apis_twitter_reset_path(id: @item), class: "btn reset-twitter-post", method: :post %>
          </div>
        <% end %>
      </dd>
    <% end %>

    <% if @item.twitter_post_error.present? %>
      <dt class="depth-2"><%= @model.t :twitter_post_error %></dt>
      <dd class="depth-2">
        <div class="errorExplanation"><%= br @item.twitter_post_error %></div>
      </dd>
    <% end %>
  <% end %>
</dl>
