<div id="content-navi-core">
  <%= render "ss/crud/addon", addon: { id: nil, class: "gws-notice-folder", head: t('mongoid.models.gws/notice/folder'), toggle: false } do %>
    <% if !@my_folder_exists && Gws::Notice::Folder.allowed?(:my_folder, @cur_user, site: @cur_site) %>
      <%= link_to t('gws/notice.links.create_my_folder'), { action: :create_my_folder }, class: 'btn' %>
    <% end %>
    <% if @my_folder && (@folder.blank? || @my_folder != @folder) %>
      <%= link_to t('gws/notice.links.move_to_my_folder'), { action: :index, folder_id: @my_folder }, class: 'btn' %>
    <% end %>

    <%=
      mode = ::File.basename(params[:controller]).singularize
      data = { controller: "ss--tree", "current_node_id" => params[:folder_id].to_s.presence }
      tag.turbo_frame id: "gws-notices-folder_tree-frame", src: gws_notice_frames_folders_trees_path(mode: mode), data: data do
        loading
      end
    %>
  <% end %>

  <% if @folder && @folder.member_include?(@cur_user) %>
    <%= render "ss/crud/addon", addon: { id: nil, class: "gws-notice-quota", head: t('ss.quota'), toggle: false } do %>
      <div class="body-quota-bar">
        <span><%= t('gws/notice.body_size') %></span>
        <div class="ss-quota-bar">
          <div class="label"><%= number_to_human_size(@folder.notice_total_body_size) %></div>
          <div class="usage <%= @folder.notice_total_body_size_over? ? 'over-threshold' : '' %>" style="width: <%= @folder.notice_total_body_size_percentage %>%"></div>
        </div>
      </div>
      <div class="body-quota-bar">
        <span><%= t('gws/notice.file_size') %></span>
        <div class="ss-quota-bar">
          <div class="label"><%= number_to_human_size(@folder.notice_total_file_size) %></div>
          <div class="usage <%= @folder.notice_total_file_size_over? ? 'over-threshold' : '' %>" style="width: <%= @folder.notice_total_file_size_percentage %>%"></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
