<dl class="see">
  <% if @item.folder.present? %>
    <dt><%= @model.t :folder_id %></dt>
    <dd>
      <%= @item.folder.name %>
      <%= f.hidden_field :folder_id %>
    </dd>
  <% end %>

  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name, autofocus: true %></dd>

  <dt><%= @model.t :severity %><%= @model.tt :severity %></dt>
  <dd>
    <label for="item_severity">
      <%= f.check_box :severity, {}, 'high', '' %>
      <%= t "gws.options.severity.high" %>
    </label>
  </dd>
</dl>
