<table class="index data-table">
  <tr>
    <th style="width: 12%"><%= @model.t :section_name %></th>
    <td style="width: 38%"><%= @item.send :section_name %></td>
    <th style="width: 12%"><%= @model.t :charge_name %></th>
    <td><%= @item.send :charge_name %></td>
  </tr>
  <tr>
    <th><%= @model.t :charge_address %></th>
    <td><%= @item.send :charge_address %></td>
    <th><%= @model.t :charge_tel %></th>
    <td><%= @item.send :charge_tel %></td>
  </tr>
</table>

<br />

<table class="index data-table">
  <thead>
    <th><%= @model.t :divide_duties %></th>
    <th><%= @model.t :title_name %></th>
    <th><%= @model.t :name %></th>
    <th><%= @model.t :tel_ext %></th>
    <th><%= @model.t :remark %></th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= br item.send :divide_duties %></td>
      <td><%= item.send :title_name %></td>
      <td><%= item.send :name %></td>
      <td><%= item.send :tel_ext %></td>
      <td><%= item.send :remark %></td>
    </tr>
    <% end %>
  </tbody>
</table>
