<% return "" unless @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node)  %>

<%= jquery do %>

    var toggleCreateBranchButton;
toggleCreateBranchButton = function () {
  var dt, result;
  dt = $("dl.branch .create-branch").closest("dt");
  result = dt.next("dl.branch .result");
  if ($(".branches .name").length) {
    dt.hide();
    dt.next("dt").show();
    return result.show();
  } else {
    dt.show();
    dt.next("dt").hide();
    return result.hide();

  }
};
toggleCreateBranchButton();
$(".create-branch").on("click", function () {
  var path;
  path = "<%= branch_create_workflow_page_path(id: @item.id) %>";
  $.ajax({
    type: "POST",
    url: path,
    beforeSend: function () {
      $(".result").show();
      $(".result").html(SS.loading);
    },
    success: function (data) {
      $(".result").html(data);
      $(".result a").removeClass();
      toggleCreateBranchButton();
    },
    error: function (data, status) {
      alert(["== Error =="].concat(data.responseJSON).join("\n"));
    }
  });
});

<% end %>

<%
  @items = @item.branch? ? [@item.master] : @item.branches
%>
<div class="see branch col12 mb-3 pt-5">
  <h2 class="h4"><%= t("workflow.branch_page") %></h2>
  <% if @item.branch? %>
    <p class="text-warning"><%= t("workflow.branch_message") %></p>
    <p><%= t("workflow.master_page") %></p>
  <% else %>
  <% if @items.present? %>
    <p class="text-warning"><%= t("workflow.master_message") %></p>
  <% else %>
    <p><%= button_tag t("workflow.create_branch"), class: "btn btn-outline-secondary" %></p>
  <% end %>
  <% end %>
  <%= render file: "workflow/pages/branch" if @items.present? %>
</div>
