<%= jquery do %> SS_AddonTabs.hide(".addon-gws-attendance-group-setting"); <% end %>

<% @item.in_attendance_time_change_hour = @item.attendance_time_changed_minute / 60 %>
<dl class="see addon-gws-attendance-group-setting">
  <dt><%= @model.t :attendance_management_year %><%= @model.tt :attendance_management_year %></dt>
  <dd><%= f.select :attendance_management_year, @item.attendance_management_year_options %></dd>

  <dt><%= @model.t :attendance_year_changed_month %><%= @model.tt :attendance_year_changed_month %></dt>
  <dd><%= f.select :attendance_year_changed_month, @item.attendance_year_changed_month_options %></dd>

  <dt><%= @model.t :attendance_time_changed_minute %><%= @model.tt :attendance_time_changed_minute %></dt>
  <dd><%= f.select :in_attendance_time_change_hour, @item.attendance_time_changed_options %></dd>

  <dt><%= t('gws/attendance.enter_leave') %></dt>
  <dd>
    <div class="input-group">
      <div class="form-group">
        <%= f.text_field :attendance_enter_label, placeholder: Gws::Attendance::Record.t(:enter), style: 'width: 10.5em;' %>
      </div>
      <div class="form-group">
        <%= f.text_field :attendance_leave_label, placeholder: Gws::Attendance::Record.t(:leave), style: 'width: 10.5em;' %>
      </div>
    </div>
  </dd>

  <% SS.config.gws.attendance['max_break'].times do |i| %>
    <dt><%= t('gws/attendance.break') %><%= i + 1 %></dt>
    <dd>
      <div class="input-group">
        <div class="form-group">
          <%= f.select "attendance_break_time#{i + 1}_state", @item.attendance_break_time_options %>
        </div>
        <div class="form-group">
          <%= f.text_field "attendance_break_enter#{i + 1}_label", placeholder: t('gws/attendance.formats.break_enter', count: i + 1), style: 'width: 10.5em;' %>
        </div>
        <div class="form-group">
          <%= f.text_field "attendance_break_leave#{i + 1}_label", placeholder: t('gws/attendance.formats.break_leave', count: i + 1), style: 'width: 10.5em;' %>
        </div>
      </div>
    </dd>
  <% end %>
</dl>
