
<% if @idea_ds.dataset_ids.length > 0 %>
<div class="detail">
  <% dataset = @idea_ds.datasets[0] %>
  <div class="info-wrap">
    <% if dataset %>
      <% if dataset.downloaded then downloaded = dataset.downloaded else downloaded = 0 end %>
      <div class="dataset"><%= link_to dataset.name, dataset.url %></div>
      <div class="dataset-downloaded"><%= I18n.t("opendata.labels.downloaded_count") %>(<%= downloaded %>)</div>
      <div class="dataset-updated"><%= I18n.t("opendata.labels.update_datetime") %> <%= tryb{dataset.updated.strftime("%Y年%1m月%1d日 %1H時%1M分")} %></div>
    <% else %>
      <div class="dataset"><%= I18n.t("opendata.labels.not_exist") %></div>
    <% end %>
  </div>
</div>
<% end %>
