<table class="columns column">
  <caption><%= @cur_node.name %></caption>
  <thead>
    <tr>
      <th><%= t('garbage.item') %></th>
      <th><%= t('garbage.category.name') %></th>
      <th><%= t('garbage.remark') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cur_node.name %></td>
      <td><%=br @cur_node.categories.map(&:name).join("\n") %></td>
      <td><%=br @cur_node.remark %></td>
    </tr>
  </tbody>
</table>
