<%= jquery do %> SS_SearchUI.modal(); <% end %>

<div class="search-ui-form">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <%= f.text_field :name, value: params[:s].try(:[], :name) %>
    <%= hidden_field_tag :single, params[:single] if params[:single].present? %>
    <%= f.submit t("urgency.apis.layouts.search"), class: :btn %>
  <% end %>
</div>

<table class="index">
  <thead class="list-head">
  <tr>
    <% if @multi %>
      <th class="checkbox"><input type="checkbox" /></th>
    <% end %>
    <th class="name"><%= @model.t :name %></th>
    <th class="filename"><%= @model.t :filename %></th>
    <th class="updated"><%= @model.t :updated %></th>
  </tr>
  </thead>
  <tbody class="items">
  <% @items.each do |item| %>
    <tr data-id="<%= item.id %>" class="list-item">
      <% if @multi %>
        <td class="checkbox">
          <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        </td>
      <% end %>
      <td class="name"><%= link_to item.name, "#", class: @multi ? "select-item" : "select-single-item" %></td>
      <td class="filename"><%= item.filename %></td>
      <td class="updated"><%= ss_time_tag item.updated %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="search-ui-select">
  <%= button_tag t("urgency.apis.layouts.select"), { type: :button, class: "select-items btn" } %>
</div>

<%= paginate @items if @items.try(:current_page) %>
