<style>
  .gws-attendance {
    position: relative;
  }

  .gws-attendance .cell-toolbar {
    position: absolute;
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
  }

  .gws-attendance .aside {
    width: 230px;
    float: left;
  }

  .gws-attendance .aside button.large {
    width: 113px;
    height: 60px;
    color: white;
    background-color: #f25a38;
  }

  .gws-attendance .aside button.small {
    width: 54px;
    height: 30px;
    color: white;
    background-color: #7d941c;
  }

  .gws-attendance .aside button:disabled {
    color: #999;
    background-color: #ddd;
  }

  .gws-attendance .main {
    margin-left: 240px;
  }

  .gws-attendance .main .time-card tr.header {
    background-color: #ddd;
  }

  .gws-attendance .main .time-card th.date {
    padding: 5px;
    width: 7.5em;
  }
  .gws-attendance .main .time-card th.time {
    padding: 5px;
    width: 5em;
  }
  .gws-attendance .main .time-card td {
    padding: 5px;
    border: 1px solid transparent;
  }
  .gws-attendance .main .time-card td.focus {
    border: 1px solid greenyellow;
  }
</style>

<% break_times = SS.config.gws.attendance['max_break'].times.to_a.select { |i| @cur_site["attendance_break_time_state#{i + 1}"] == 'show' } %>

<div class="gws-attendance">
  <%= error_messages_for :item %>

  <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
  <div class="cell-toolbar">
    <a href="#" class="edit ajax-box">EDIT</a>
    <a href="#" class="remove ajax-box">REMOVE</a>
  </div>
  <% end %>

  <div class="aside">
    <div>
      <button class="large" data-action="<%= url_for(action: 'enter') %>" <% if @item.blank? %>disabled<% end %>>出勤</button>
      <button class="large" data-action="<%= url_for(action: 'leave') %>" <% if @item.blank? %>disabled<% end %>>退勤</button>
    </div>
    <% if break_times.present? %>
      <div>
        <% break_times.each do |i| %>
          <button class="small" data-action="<%= url_for(action: 'break_enter', index: i + 1) %>" <% if @item.blank? %>disabled<% end %>><%= @cur_site["attendance_break_enter_label#{i + 1}"].presence || t('gws/attendance.formats.break_enter', count: i + 1) %></button>
          <button class="small" data-action="<%= url_for(action: 'break_leave', index: i + 1) %>" <% if @item.blank? %>disabled<% end %>><%= @cur_site["attendance_break_leave_label#{i + 1}"].presence || t('gws/attendance.formats.break_leave', count: i + 1) %></button>
        <% end %>
      </div>
    <% end %>

    <!--
    <div>
      履歴
      <table class="index">
        <thead>
        <tr>
          <th style="width: 8em;">日時</th>
          <th>内容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1/18 18:03</td>
          <td>退勤</td>
        </tr>
        <tr>
          <td>1/18 12:55</td>
          <td>休憩終了</td>
        </tr>
        <tr>
          <td>1/18 12:02</td>
          <td>休憩開始</td>
        </tr>
        <tr>
          <td>1/18 8:52</td>
          <td>出勤</td>
        </tr>
        <tr>
          <td>1/17 18:03</td>
          <td>退勤</td>
        </tr>
        <tr>
          <td>1/18 12:55</td>
          <td>休憩終了</td>
        </tr>
        <tr>
          <td>1/18 12:02</td>
          <td>休憩開始</td>
        </tr>
        <tr>
          <td>1/17 8:52</td>
          <td>出勤</td>
        </tr>
        <tr>
          <td>1/16 18:03</td>
          <td>退勤</td>
        </tr>
        <tr>
          <td>1/18 12:55</td>
          <td>休憩終了</td>
        </tr>
        <tr>
          <td>1/18 12:02</td>
          <td>休憩開始</td>
        </tr>
        <tr>
          <td>1/16 8:52</td>
          <td>出勤</td>
        </tr>
        </tbody>
      </table>
    </div>
    -->
  </div>
  <div class="main">
    <nav class="nav-menu">
      <%= select_tag(:year_month, options_for_select(year_month_options, params[:year_month])) %>
      <%= link_to(t('gws/attendance.prev_month'), { action: :index, year_month: @cur_month.last_month.strftime('%Y%m') }, class: :btn) %>
      <%= link_to(t('gws/attendance.next_month'), { action: :index, year_month: @cur_month.next_month.strftime('%Y%m') }, class: :btn) %>
      <%= link_to(t('ss.links.download'), { action: :download }, class: :btn) %>
    </nav>

    <% if @item.blank? %>
      <p><%= t('gws/attendance.no_time_cards') %></p>
    <% else %>
    <table class="index time-card">
      <tbody>
      <% date = @cur_month %>
      <% while date <= @cur_month.end_of_month %>
        <% if date.day == 1 || date.day == 16 %>
          <tr class="header">
            <th class="date"><%= Gws::Attendance::Record.t :date %></th>
            <th class="time"><%= Gws::Attendance::Record.t :enter %></th>
            <th class="time"><%= Gws::Attendance::Record.t :leave %></th>
            <% break_times.each do |i| %>
              <th class="time"><%= @cur_site["attendance_break_enter_label#{i + 1}"].presence || t('gws/attendance.formats.break_enter', count: i + 1) %></th>
              <th class="time"><%= @cur_site["attendance_break_leave_label#{i + 1}"].presence || t('gws/attendance.formats.break_enter', count: i + 1) %></th>
            <% end %>
            <th><%= Gws::Attendance::Record.t :memo %></th>
          </tr>
        <% end %>
        <tr class="<%= Time.zone.now.beginning_of_day == date ? 'current' : '' %>">
          <% record = @item.records.where(date: date).first %>
          <td><%= I18n.l(date.to_date, format: :attendance_month_day) %></td>
          <td class="time" data-day="<%= date.day %>" data-type="enter">
            <%= record ? format_time(date, record.enter) : '' %>
            <% if record && (reason = record.find_latest_reason('enter')) %>
            <%= reason %>
            <% end %>
          </td>
          <td class="time" data-day="<%= date.day %>" data-type="leave"><%= record ? format_time(date, record.leave) : '' %></td>
          <% break_times.each do |i| %>
            <td class="time" data-day="<%= date.day %>" data-type="<%= "break_enter#{i + 1}" %>"><%= record ? format_time(date, record["break_enter#{i + 1}"]) : '' %></td>
            <td class="time" data-day="<%= date.day %>" data-type="<%= "break_leave#{i + 1}" %>"><%= record ? format_time(date, record["break_leave#{i + 1}"]) : '' %></td>
          <% end %>
          <td class="memo" data-day="<%= date.day %>"><%= record ? record.memo : '' %></td>
        </tr>
        <% date += 1.day %>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<%= jquery do %>
  $('.gws-attendance button').on('click', function() {
    var action = $(this).data('action');
    var token = $('meta[name="csrf-token"]').attr('content');

    $form = $('<form/>', { action: action, method: 'post' });
    $form.append($("<input/>", { name: "authenticity_token", value: token, type: "hidden" }));
    $('body').append($form);
    $form.submit();
  });

  <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
  $('.gws-attendance .time-card .time').on('click', function() {
    $('.gws-attendance .time-card .time').removeClass('focus');
    $('.gws-attendance .time-card .memo').removeClass('focus');
    $(this).addClass('focus');

    var offset = $(this).offset();
    offset.left += $(this).outerWidth();

    var url = <%== url_for(action: :time, day: ':day', type: ':type').to_json %>;
    url = url.replace(':day', $(this).data('day'));
    url = url.replace(':type', $(this).data('type'));

    $('.gws-attendance .cell-toolbar').offset(offset);
    $('.gws-attendance .cell-toolbar .edit').attr('href', url);
    $('.gws-attendance .cell-toolbar').show();
  });

  $('.gws-attendance .time-card .memo').on('click', function() {
    $('.gws-attendance .time-card .time').removeClass('focus');
    $('.gws-attendance .time-card .memo').removeClass('focus');
    $(this).addClass('focus');

    var offset = $(this).offset();
    offset.left -= $('.gws-attendance .cell-toolbar').outerWidth();

    var url = <%== url_for(action: :memo, day: ':day').to_json %>;
    url = url.replace(':day', $(this).data('day'));

    $('.gws-attendance .cell-toolbar').offset(offset);
    $('.gws-attendance .cell-toolbar .edit').attr('href', url);
    $('.gws-attendance .cell-toolbar').show();
  });
  <% end %>

  $('.gws-attendance .cell-toolbar').hide();
<% end %>
