<%= form_for :record, url: { action: :memo }, html: {method: :post, multipart: true } do |f| %>
  <%= error_messages_for :record %>

  <%= hidden_field_tag 'ref', params[:ref] %>

  <div class="addon-views">
    <div class="addon-view mb-5" id="addon-basic">
      <div class="addon-body">
        <div class="form-group">
          <label><%= Gws::Attendance::Record.t :memo %></label>
          <%= f.text_field :memo %>
        </div>
      </div>
    </div>
  </div>

  <footer class="send">
    <%= f.submit t("ss.buttons.save"), class: 'save btn-outline-primary' %>
    <%= f.button t("gws/attendance.buttons.close"), class: 'btn btn-outline-secondary', type: :reset, onclick: "$.colorbox.close(); return false;" %>
  </footer>
<% end %>
