<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= @item.name %></dd>

  <dt><%= @model.t :email %></dt>
  <dd><%= @item.email %></dd>

  <dt><%= @model.t :state %></dt>
  <dd><%= @item.label :state %></dd>

  <% if @item.state == 'temporary' && Member::Node::Registration.site(@cur_site).and_public.first.present? %>
    <dt><%= I18n.t('modules.addons.member/registration/reply') %></dt>
    <dd><%= link_to I18n.t('cms.buttons.send_verify_mail'), verify_cms_member_path, class: 'btn' %></dd>
    <% if @item.verify_mail_sent.present? %>
      <dd><%= I18n.l(@item.verify_mail_sent) %> <%= I18n.t('ss.buttons.send') %></dd>
    <% end %>
  <% end %>

  <dt><%= @model.t :oauth_type %></dt>
  <dd><%= @item.oauth_type %></dd>

  <dt><%= @model.t :oauth_id %></dt>
  <dd><%= @item.oauth_id %></dd>

  <dt><%= @model.t :oauth_token %></dt>
  <dd><%= @item.oauth_token %></dd>

  <dt><%= @model.t :last_loggedin %></dt>
  <dd><%= @item.last_loggedin.try { |time| I18n.l(time, format: :picker) } %></dd>
</dl>

<% activity_logs = Member::ActivityLog.site(@cur_site).where(member_id: @item).order_by(updated: -1).limit(8) %>
<% if activity_logs.present? %>
  <header><h2><%= I18n.t "mongoid.models.#{Member::ActivityLog.to_s.underscore}" %></h2></header>
<dl class="see">
  <dd class="wide">
    <table class="index">
      <thead>
      <tr>
        <th class="activity-type"><%= Member::ActivityLog.t :activity_type %></th>
        <th class="remote-addr"><%= Member::ActivityLog.t :remote_addr %></th>
        <th class="browser"><%= t "member.view.browser" %></th>
        <th class="platform"><%= t "member.view.platform" %></th>
        <th class="datetime created"><%= Member::ActivityLog.t :created %></th>
      </tr>
      </thead>
      <tbody>
      <% activity_logs.each do |activity_log| %>
      <% browser = Browser.new(activity_log.user_agent, accept_language: request.accept_language) %>
      <tr>
        <td class="activity-type"><%= activity_log.activity_type %></td>
        <td class="remote-addr"><%= activity_log.remote_addr %></td>
        <td class="browser"><%= browser.name %> <%= browser.full_version %></td>
        <td class="platform"><%= browser.platform.name %></td>
        <td class="datetime created"><%= activity_log.created.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
<% end %>
