<%
  text = []
  text << @node.reply_upper_text
  text << "#{@node.full_url}verify?#{ { token: @item.verification_token }.to_query }"
  text << @node.reply_lower_text
  text << @node.sender_signature
  text = text.join("\n\n")
%>
<%= form_for :item, url: { action: :verify }, html: { method: :verify, multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <%= render "ss/crud/addon", addon: { id: "addon-basic", head: t("ss.confirm.send") } do %>
    <dl class="see">
      <dt><%= @node.t :reply_subject %></dt>
      <dd><%= @node.reply_subject %></dd>

      <dt><%= t('modules.addons.ss/body') %></dt>
      <dd><%= text_area_tag :name, text, readonly: true %></dd>
    </dl>
  <% end %>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <%= f.submit t("ss.buttons.send"), class: 'btn-primary send', data: { disable_with: t("ss.buttons.sending") } %>
  <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>
<% end %>
