<% if @sys_notices.present? %>
<div class="index portal-notice">
  <div class="list-head"><%= t "sys.notice" %></div>
  <ul class="list-items">
    <% @sys_notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, gws_sys_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %>
        <span class="datetime"><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <% if @sys_notices.next_page %>
  <div class="more"><%= link_to I18n.t("ss.links.more"), gws_sys_notices_path %></div>
  <% end %>
</div>
<% end %>

<% if @notices.present? || @monitors.present? %>
<div class="index portal-notice">
  <div class="list-head"><%= t "mongoid.models.gws/notice" %></div>
  <ul class="list-items">
    <% if @monitors.present? %>
      <li class="list-item">
        <div class="info">
          <%= link_to t('gws/monitor.portal_notice_format', count: @monitors.count), gws_monitor_topics_path, class: "title notice-severity-high" %>
          <span class="datetime"><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
        </div>
      </li>
    <% end %>
    <% @notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, gws_public_notice_path(id: item), class: "title notice-severity-#{item.severity}" %>
        <span class="datetime"><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
        <% if item.updated_after_released? %>
          <span class="label"><%= t('gws.history.mode.update') %></span>
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
  <% if @notices.next_page %>
  <div class="more"><%= link_to I18n.t("ss.links.more"), gws_public_notices_path %></div>
  <% end %>
</div>
<% end %>
