<% if @sys_notices.present? %>
<div class="index">
  <div class="list-head"><%= t "sys.notice" %></div>
  <ul class="list-items">
    <% @sys_notices.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, gws_sys_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %>
      </div>
      <div class="meta">
        <span class="datetime"><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <% if @sys_notices.next_page %>
  <div class="more"><%= link_to I18n.t("ss.links.more"), gws_sys_notices_path %></div>
  <% end %>
</div>
<% end %>

<% if @notices.present? || @monitors.present? %>
<div class="index">
  <div class="list-head"><%= @cur_site.menu_notice_label || t('modules.gws/notice') %></div>
  <ul class="list-items">
    <% if @monitors.present? %>
      <li class="list-item">
        <div class="info">
          <%= link_to t('gws/monitor.portal_notice_format', count: @monitors.count), gws_monitor_topics_path, class: "title notice-severity-high" %>
        </div>
      </li>
    <% end %>

    <% @notices.each do |item| %>
    <li class="list-item <%= item.browsed?(@cur_user) ? 'read' : 'unread' %>">
      <div class="info">
        <%= link_to item.name, gws_notice_readable_path(folder_id: '-', category_id: '-', id: item), class: "title notice-severity-#{item.severity}" %>
        <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
      </div>
      <div class="meta">
        <% if item.categories.readable(@cur_user, site: @cur_site).present? %>
          <% item.categories.readable(@cur_user, site: @cur_site).each do |category| %>
            <%= link_to category.trailing_name, gws_notice_readables_path(folder_id: '-', category_id: category.id), class: "gws-category-label", style: category_label_css(category) %>
          <% end %>
        <% end %>
        <span class="datetime"><%= tryb { item.released.strftime("%Y/%m/%d %H:%M") } %></span>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="more"><%= link_to I18n.t("ss.links.more"), gws_notice_readables_path(folder_id: '-', category_id: '-') %></div>
</div>
<% end %>
