<%= jquery do %>
  Map_Lgwan_Form.maxPointForm = <%= Map.max_number_of_markers(@cur_site) %>;
  Map_Lgwan_Form.renderEvents();
<% end %>

<div class="mod-map">
  <div class="location-search">
    <%= f.hidden_field :map_zoom_level %>
    <dl class="marker-setting">
      <dt>
        <%= t("map.markers", limit: Map.max_number_of_markers(@cur_site).to_s(:delimited)) %>
        <%= hidden_field_tag :clicked, nil, class: "loc clicked" %>
      </dt>
      <% if @item.map_points.blank? %>
        <dd class="marker">
          <p>
            <%= number_field_tag "item[map_points][][number]", nil, min: 1, class: "marker-number", placeholder: @item.t(:marker_number) %>
          </p>
          <p>
            <%= text_field_tag "item[map_points][][loc_]", nil, class: "marker-loc-input loc", placeholder: @item.t(:marker_loc) %>
          </p>
          <p>
            <%= text_field_tag "item[map_points][][name]", nil, class: "marker-name", placeholder: @item.t(:marker_name) %>
          </p>
          <p>
            <%= text_area_tag "item[map_points][][text]", nil, class: "marker-text", placeholder: @item.t(:marker_text) %>
          </p>
          <p>
            <%= button_tag t("map.buttons.set_marker"), { type: :button, class: "set-marker btn" } %>
            <%= hidden_field_tag "item[map_points][][loc]", nil, class: "loc marker-loc" %>
            <%= button_tag t("map.buttons.clear_marker"), { type: :button, class: "clear-marker btn" } %>
          </p>
        </dd>
      <% end %>
      <% @item.map_points.each do |point| %>
        <dd class="marker active">
          <p>
            <%= number_field_tag "item[map_points][][number]", point[:number], min: 1, max: 99, class: "marker-number", placeholder: @item.t(:marker_number) %>
          </p>
          <p>
            <%= text_field_tag "item[map_points][][loc]", point[:loc].join(","), class: "marker-loc-input loc", placeholder: @item.t(:marker_loc) %>
          </p>
          <p>
            <%= text_field_tag "item[map_points][][name]", point[:name], class: "marker-name", placeholder: @item.t(:marker_name) %>
          </p>
          <p>
            <%= text_area_tag "item[map_points][][text]", point[:text], class: "marker-text", placeholder: @item.t(:marker_text) %>
          </p>
          <p>
            <%= button_tag t("map.buttons.set_marker"), { type: :button, class: "set-marker btn" } %>
            <%= hidden_field_tag "item[map_points][][loc]", point[:loc].join(","), class: "loc marker-loc" %>
            <%= button_tag t("map.buttons.clear_marker"), { type: :button, class: "clear-marker btn" } %>
          </p>
        </dd>
      <% end %>
      <dd>
        <%= link_to t("map.buttons.add_marker"), "#", class: "add-marker" %>
      </dd>
    </dl>
    <dl class="see map-link">
      <dt><%= @model.t :map_link %><%= @model.tt :map_link %></dt>
      <dd><%= select_tag "item[map_link]", options_for_select(@item.map_link_options, @item.map_link) %></dd>
    </dl>
    <dl class="see map-goal">
      <dt><%= @model.t :map_goal %><%= @model.tt :map_goal %></dt>
      <dd><%= number_field_tag "item[map_goal]", @item.map_goal, min: 1, max: 99, placeholder: @item.t(:marker_number) %></dd>
    </dl>
    <dl class="see map-route">
      <dt><%= @model.t :map_route %><%= @model.tt :map_route %></dt>
      <dd><%= text_field_tag "item[map_route]", @item.map_route, placeholder: @item.t(:marker_route) %></dd>
    </dl>
  </div>
</div>
