<%

categories = Opendata::Node::Category.site(@cur_site).sort(order: 1)

%>
<%= javascript_include_tag "opendata/opendata" %>

<table class="see opendata-dataset">
  <tr class="parent-row">
    <td class="field"><%= @model.t :name %><%= required_label %></td>
    <td class="input"><%= f.text_field :name %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :text %><%= @item.tt :text %><%= required_label %></td>
    <td class="input"><%= f.text_area :text %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :tags %><%= @item.tt :tags %></td>
    <td class="input"><%= f.text_field :tags %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :category_ids %><%= required_label %></td>
    <td class="input">
      <%= f.hidden_field "category_ids[]", value: "" %>
      <% categories.each do |c| %>
        <label class="category"><%= f.check_box("category_ids[]", {}, c.id) %> <%= c.name %></label>
      <% end %>
    </td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :area_ids %></td>
    <td class="input"><%= render partial: "opendata/agents/addons/area/view/form", locals: { f: f } %></td>
  </tr>

  <tr class="parent-row">
    <td class="field"><%= @model.t :state %></td>
    <td class="input"><%= f.select :state, @item.state_options %></td>
  </tr>
</table>
