<%= render partial: "menu" %>

<% if @items.present? %>
  <div class="member-my-group joined-groups">
    <table class="index">
      <thead>
      <tr>
        <th class="name">名前</th>
        <th class="state">状態</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td class="item name"><%= link_to item.name, "#{@cur_node.url}#{item.id}/" %></td>
          <td class="item state">
            <span class="admin">管理者: <%= item.members.where(state: 'admin').count %> 人</span>
            、
            <span class="user">ユーザー: <%= item.members.where(state: 'user').count %> 人</span>
            <% if item.admin_member?(@cur_member) %>
            、
            <span class="invitee">招待中: <%= item.members.where(state: 'inviting').count %> 人</span>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= paginate @items if @items.try(:current_page) %>
  </div>
<% end %>
