<% return unless @cur_node.map_enabled? %>

<%# stylesheet_link_tag 'board/map', media: 'all' %>
<%= javascript_include_tag "board/script" %>

<dl class="see mod-board-post-setting">
  <dt><%= @model.t :point %></dt>
  <dd>
    <div id="map-canvas" style="width: 100%; height: 400px;"></div>
  </dd>
</dl>

<%= jquery do %>
  canvas = $("div#map-canvas")[0];

  var opts = { readonly: true };

  <% if @item.point.present? %>
  opts['center'] = opts['marker'] = [<%= @item.point.loc.lng %>, <%= @item.point.loc.lat %>];
  <% elsif @cur_node.respond_to?(:map_center) && @cur_node.map_center.present? %>
  opts['center'] = [<%= @cur_node.map_center.lng %>,<%= @cur_node.map_center.lat %>];
  <% else %>
  opts['center'] = [<%= SS.config.map.map_center[1] %>,<%= SS.config.map.map_center[0] %>];
  <% end %>

  <% if @item.point.present? && @item.point.zoom_level.present? %>
  opts['zoom'] = <%= @item.point.zoom_level %>;
  <% elsif @cur_node.respond_to?(:map_zoom_level) && @cur_node.map_zoom_level.present? %>
  opts['zoom'] = <%= @cur_node.map_zoom_level %>;
  <% end %>

  var map = new Board_Map(canvas, opts);
<% end %>
