<script type="text/javascript">
  $(function(){
    $(".crawl_state").css("width", "60px");
    $(".crawl_update").css("width", "60px");
    $(".crawl_state_updated").css("color", "#FF0000");
  });
</script>

<%= render file: "_search" %>

<table class="index">
  <thead>
    <tr>
      <th class="crawl_state"><%= @model.t :crawl_state %></th>
      <th class="crawl_update"><%= @model.t :crawl_update %></th>
      <th class="name"><%= @model.t :name %></th>
      <th class="resourcename"><%= t "mongoid.attributes.opendata/dataset.name" %></th>
      <th class="original_url"><%= @model.t :original_url %></th>
      <th class="datetime"><%= @model.t :original_updated %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td class="crawl_state_<%= item[:crawl_state] %>"><%= t "opendata.crawl_state.#{item[:crawl_state]}" %>
        <nav class="tap-menu">
          <%= link_to :show, opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
          <%= link_to :edit, edit_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
          <%= link_to :delete, delete_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %>
        </nav>
      </td>

      <td class="crawl_update"><%= t "opendata.crawl_update.#{item[:crawl_update]}" %></td>
      <% if item[:crawl_state] == "deleted" %>
        <td class="name"><%= link_to item[:name] , delete_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %></td>
      <% else %>
        <td class="name"><%= link_to item[:name] , edit_opendata_dataset_url_resource_path(id: item[:urlresourceid], dataset_id: item[:id]) %></td>
      <% end %>

      <td class="resourcename"><%= item[:resourcename] %></td>
      <td class="original_url"><input type="button" value=<%= @model.t :tsv_id %> onClick="window.open('<%= item[:original_url] %>')">　<%= item[:original_url] %></td>
      <% if item[:original_updated].present? %>
      <td class="datetime"><%= item[:original_updated].strftime("%Y/%m/%d %H:%M") %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>

