<dl class="see">
  <dt><%= @model.t :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :link_url %></dt>
  <dd><%= f.url_field :link_url, class: "url" %></dd>

  <dt><%= @model.t :file_id %></dt>
  <dd><%= f.file_field :in_file %></dd>
  <% if @item.file %>
  <dd><label><%= f.check_box :rm_file %><%= t "views.button.delete" %> (<%= @item.file.filename %>)</label></dd>
  <% end %>

  <dt><%= @model.t :order %></dt>
  <dd><%= f.number_field :order %></dd>
</dl>
