<div class="see">
  <div class="mb-3">
    <label><%= @model.t :name %><%= @model.tt :name %></label>
    <%= f.text_field :name, class="form-control" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :link_url %><%= @model.tt :link_url %></label>
    <%= f.text_field :link_url, class: "alnum form-control" %>

  <div class="mb-3">
    <label><%= @model.t :file_id %><%= @model.tt :file_id %></label>
    <%= f.file_field :in_file, class: "form-control" %>
    <% if @item.file %>
    <label><%= f.check_box :rm_file %><%= t "ss.buttons.delete" %> (<%= @item.file.filename %>)</label>
    <% end %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :order %><%= @model.tt :order %></label>
    <%= f.number_field :order, class: "form-control" %>
  </div>
</div>
