<fieldset class="see" disabled>
  <div class="mb-3">
    <label><%= @model.t :name %></label>
    <input class="form-control" type="text" value="<%= @item.send :name %>" />
  </div>

  <div class="mb-3">
    <label><%= @model.t :link_url %></label>
    <%= link_to @item.link_url, @item.link_url, target: "_blank" %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :file_id %></label>
    <%= show_image_info @item.file %>
  </div>

  <div class="mb-3">
    <label><%= @model.t :order %></label>
    <input class="form-control" type="text" value="<%= @item.send :order %>" />
  </div>
</fieldset>
