<dl class="see">
  <dt><%= @model.t :circular_category_ids %></dt>
  <dd>
    <% @item.circular_categories.each do |category| %>
      <% next unless category %>
      <span class="gws-category-label" style="<%= category_label_css(category) %>"><%= category.trailing_name %></span>
    <% end %>
  </dd>

  <dt><%= @model.t :limit %></dt>
  <dd><%= @item.send :limit %></dd>

  <dt><%= @model.t :circular_article_state %>
  <dd><%= @item.label :circular_article_state %></dd>

  <dt><%= @model.t :circular_sort %></dt>
  <dd><%= @item.label :circular_sort %></dd>
</dl>
