<%
  items = @portlet.find_todo_items(@portal, @cur_user)
%>

<div class="main-box gws-todo-box">
  <div class="portlet-title"><%= @portlet.name %></div>

  <ul class="list-items">
    <% items.each do |item| %>
      <li class="list-item">
        <div class="info">
          <%= link_to item.name, gws_schedule_todo_readable_path(category: '-', id: item), class: 'title' %>

          <div class="meta">
            <span class="ss-quota-bar gws-schedule-todo-achievement-bar">
              <div class="label"><%= t("gws/schedule/todo.achievement_rate", count: item.achievement_rate || 0) %></div>
              <div class="usage " style="width: <%= item.achievement_rate || 0 %>%"></div>
            </span>
            <span class="datetime">
              <%= Gws::Schedule::Todo.t(:term) %>: <%= ss_time_tag item.end_at %>
              <% if item.todo_state == 'unfinished' && item.end_at < Time.zone.now %>
                <span class="todo-over"><%= t('gws/schedule/todo.todo_over') %></span>
              <% end %>
            </span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <% if items.next_page %>
    <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_schedule_todo_main_path %></div>
  <% end %>
</div>
