<%
  return "" if @cur_page.form.blank?

  html = @cur_page.form.html
  if html.blank?
    html = @cur_page.form.build_default_html
  end

  template = parse_liquid(html)
  assigns = { "values" => @cur_page.column_values.to_liquid, "page" => @cur_page.to_liquid }
  html = template.render(assigns).html_safe
%>
<%= content_tag_if("article", class: "body", if: @cur_page.form.sub_type_entry?) do %>
  <% if @preview %>
    <div id="ss-preview-form-start" class="ss-preview-hide" data-form-id="<%== @cur_page.form.id %>" data-form-sub-type="<%== @cur_page.form.sub_type %>"></div>
  <% end %>

  <%== html %>

  <% if @preview %>
    <div id="ss-preview-form-end" class="ss-preview-hide" data-form-id="<%== @cur_page.form.id %>" data-form-sub-type="<%== @cur_page.form.sub_type %>"></div>
  <% end %>
<% end %>
