<dl class="see csv2rdf-wizards3-header">
  <dt><%= @cur_resource.class.t :name %></dt>
  <dd><%= @cur_resource.name %></dd>

  <dt><%= Rdf::Class.t :name %></dt>
  <dd><%= "#{@cur_class.vocab.prefix}:#{@cur_class.name}" %></dd>
</dl>

<div class="csv2rdf-settings-table-container">
  <table>
    <thead>
      <% 0.upto(@item.header_rows - 1) do |i| %>
        <% row = tsv[i] %>
        <tr class="header">
          <% row.each do |col| %>
            <th><%= col %></th>
          <% end %>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <tr class="rdf-prop">
        <% 0.upto(@item.header_cols - 1) do |i| %>
          <td data-id="<%= i %>"><%= link_to br(property_label_at(i)), { action: :rdf_prop_select, column_index: i }, { class: "rdf-prop" } %></td>
        <% end %>
      </tr>
      <tr class="rdf-class">
        <% 0.upto(@item.header_cols - 1) do |i| %>
          <td data-id="<%= i %>"><%= link_to br(@item.column_types[i]["classes"].join("\n")), { action: :rdf_prop_select, column_index: i }, { class: "rdf-class" } %></td>
        <% end %>
      </tr>
      <% (@item.header_rows).upto(19) do |i| %>
      <% break if tsv.length <= i %>
      <% row = tsv[i] %>
        <tr class="data">
          <% row.each do |col| %>
            <td><%= col %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p><%= t("opendata.messages.max_row_notice", max: 20)%></p>
<%= f.hidden_field "dummy", value: "" %>
