<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <div class="addon-head"><h2><%= t("opendata.confirm.recreate_rdf") %></h2></div>
    <div class="addon-body">
      <div><%= t("opendata.notice.recreate_rdf") %></div>
      <dl class="see">
        <dt><%= Opendata::Resource.t :name %></dt>
        <dd><%= @cur_resource.name %></dd>
      </dl>
    </div>
  </div>
</div>

<footer class="send ss-sticky ss-sticky-bottom">
  <%= submit_tag t("opendata.links.build_rdf"), class: "save btn-primary", onclick: "location.href='#{url_for(action: :header_size)}'; return false;" %>
  <%= button_tag t("ss.buttons.cancel"), type: :reset, class: "btn-default", onclick: "location.href='#{url_for(controller: :resources, action: :show, id: @cur_resource)}'; return false;" %>
</footer>
