<article class="blog page">
  <header>
    <h2><%= @cur_page.name %></h2>
    <time class="released" datetime="<%= I18n.l @cur_page.date.to_date, format: :iso %>"><%= I18n.l @cur_page.date.to_date, format: :long %></time>
  </header>
  <div class="genres">
    <ul>
      <% @cur_page.genres.each do |genre| %>
        <li><%= link_to genre, "#{@cur_page.parent.url}?g=#{genre}" %></li>
      <% end %>
    </ul>
  </div>
  <div class="locations">
    <ul>
      <% @cur_page.blog_page_locations.order_by(order: 1).each do |loc| %>
        <li><%= link_to loc.name, loc.url %></li>
      <% end %>
    </ul>
  </div>
  <div class="body">
    <%== @cur_page.html %>
  </div>
</article>
