<div class="file-view">
  <a class="thumb" href="<%= view_facility_apis_temp_file_path(id: @item) %>" target="_blank">
    <% if @item.image? %>
    <img src="<%= thumb_facility_apis_temp_file_path(id: @item, _: @item.updated.to_i) %>" alt="<%= @item.basename %>" />
    <% else %>
    <span class="ext icon-<%= @item.extname %>"><%= @item.extname %></span>
    <% end %>
  </a>
  <div class="name">
    <input type="hidden" name="item[image_id]" value="<%= @item.id %>" />
    <%= @item.name %>
    <br />
  </div>
  <div class="action delete">
    <%= link_to t("views.button.delete"), "#", onclick: "deleteContent();" %>
  </div>
</div>
