<%= jquery do %>
  <% if !@item.readable_setting_present? %>
  SS_AddonTabs.hide(".gws-addon-readable-setting");
  <% end %>
<% end %>

<div class="gws-addon-readable-setting">
  <% if @item.class.readable_setting_included_custom_group? %>
  <dl class="see gws-addon-readable-setting-custom-group">
    <dt><%= @model.t :readable_custom_group_ids %><%= @model.tt :readable_custom_group_ids %></dt>
    <dd>
      <%= f.hidden_field "readable_custom_group_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("gws.apis.custom_groups.index"), gws_apis_custom_groups_path, class: "ajax-box" %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead><tr><th class="name"><%= Gws::CustomGroup.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        <% @item.readable_custom_groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "readable_custom_group_ids[]", value: group.id %> <%= group.name %></td>
            <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
  <% end %>

  <dl class="see gws-addon-readable-setting-group">
    <dt><%= @model.t :readable_group_ids %><%= @model.tt :readable_group_ids %></dt>
    <dd>
      <%= f.hidden_field "readable_group_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.groups.index"), gws_apis_groups_path, class: "ajax-box" %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead><tr><th class="name"><%= Gws::Group.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
          <% @item.readable_groups.each do |group| %>
          <tr data-id="<%= group.id %>">
            <td><%= f.hidden_field "readable_group_ids[]", value: group.id %> <%= group.name %></td>
            <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>

  <dl class="see gws-addon-readable-setting-member">
    <dt><%= @model.t :readable_member_ids %><%= @model.tt :readable_member_ids %></dt>
    <dd>
      <%= f.hidden_field "readable_member_ids[]", value: "", class: "hidden-ids" %>
      <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
      <% if @item.respond_to?(:member_ids) %>
      <%= link_to t("gws.buttons.set_from_members"), '#', class: "btn js-set-from-members" %>
      <% end %>
      <% if @item.respond_to?(:reservable_member_ids) %>
      <%= link_to t("gws.buttons.set_from_reservable_members"), '#', class: "btn js-set-from-members",
        "data-from" => ".gws-addon-facility-reservable-setting-member" %>
      <% end %>
    </dd>
    <dd>
      <table class="index ajax-selected">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
          <% @item.readable_members.each do |user| %>
          <tr data-id="<%= user.id %>">
            <td><%= f.hidden_field "readable_member_ids[]", value: user.id %> <%= user.name %></td>
            <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</div>
