<%
  select_disp = @item.readable_setting_present? ? 'block' : ''
%>

<div class="gws-addon-readable-setting">
  <dl class="see">
    <dt><%= @model.t :readable_setting_range %></dt>
    <dd><%= @item.readable_setting_range_label %></dd>
  </dl>

  <div class="gws-addon-readable-setting-select" style="display: <%= select_disp %>">
    <dl class="see">
      <% if @item.class.readable_setting_included_custom_groups? %>
      <dt><%= @model.t :readable_custom_group_ids %></dt>
      <dd><%=tryb { br @item.readable_custom_groups.pluck(:name) } %></dd>
      <% end %>

      <dt><%= @model.t :readable_group_ids %></dt>
      <dd><%=br @item.readable_groups.pluck(:name) %></dd>

      <dt><%= @model.t :readable_member_ids %></dt>
      <dd><%=br gws_public_user_long_names(@item.readable_members.pluck(:name)) %></dd>
    </dl>
  </div>
</div>
