<%= jquery do %>
  <% if !@item.readable_setting_present? %>
  SS_AddonTabs.hide(".gws-addon-readable-setting");
  <% end %>
<% end %>

<div class="see gws-addon-readable-setting">
  <dl class="see">
    <dt><%= @model.t :readable_group_ids %></dt>
    <dd>
      <table class="index">
        <thead><tr><th class="name"><%= Gws::Group.t :name %></th></thead>
        <tbody>
          <% @item.readable_groups.each do |group| %>
          <tr><td><%= group.name %></td></tr>
          <% end %>
        </tbody>
      </table>
    </dd>

    <dt><%= @model.t :readable_member_ids %></dt>
    <dd>
      <table class="index">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th></thead>
        <tbody>
          <% @item.readable_members.order_by_title(@cur_site).each do |user| %>
          <tr><td><%= user.long_name %></td></tr>
          <% end %>
        </tbody>
      </table>
    </dd>
  </dl>
</div>
