<% value ||= nil %>
<% files = value.try(:files) %>
<% controller ||= false %>
<% source_cleaner_conf = Cms::SourceCleanerTemplate.site(@cur_site).and_public.to_config %>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do |id| %>
  <% editor_id = "#{id}-html" %>
  <%= text_area_tag("#{f.object_name}[][in_wrap][value]", value.try(:value), column.form_options.merge(id: editor_id, class: "html", style: "height: 400px;")) %>
  <%= html_editor "##{editor_id}", advanced: Cms::EditorExtension.allowed?(:use, @cur_user, site: @cur_site) %>

  <% if source_cleaner_conf[:source_cleaner].present? %>
    <% @buttons << :source_cleaner %>
  <% end %>

  <%= jquery do %>
    <% if source_cleaner_conf[:source_cleaner].present? %>
      if (!Cms_Source_Cleaner.config) {
        Cms_Source_Cleaner.config = <%= raw source_cleaner_conf.to_json %>
      }
      Cms_Source_Cleaner.render(<%== "##{id}-source-cleaner".to_json %>, <%== { editor: editor_id }.to_json %>);
    <% end %>

    Cms_Form.addSyntaxCheck("<%= id %>", {
      name: "<%= column.name %>",
      resolve: "html",
      getContent: function () { return Cms_Form.getEditorHtml("<%= editor_id %>"); },
      setContent: function (content) { Cms_Form.setEditorHtml(content, { id: "<%= editor_id %>" }); },
    });

    $(<%== "##{id}".to_json %>).on({
      "column:beforeMove": function() {
        var editor = $(<%== "##{editor_id}".to_json %>).data("ckeditorInstance");
        if (editor) {
          editor.destroy();
        }
      },
      "column:afterMove": function() {
        <%= html_editor_js "##{editor_id}", advanced: Cms::EditorExtension.allowed?(:use, @cur_user, site: @cur_site) %>
      }
    });
  <% end %>

  <% @extra_bodies << proc do %>
    <span class="upload-menu-new">
      <%= link_to t('ss.links.upload'), cms_apis_temp_files_path, class: "ajax-box btn btn-file-upload" %>
    </span>
    <span class="upload-menu-select">
      <%= link_to t("sns.user_file"), cms_apis_user_files_path(cid: @cur_node || '-'), class: "ajax-box btn btn-file-upload" %>
      <%= link_to t("cms.file"), cms_apis_files_path(cid: @cur_node || '-'), class: "ajax-box btn btn-file-upload" %>
    </span>

    <div class="column-value-upload-drop-area">
      <span class="column-value-upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
    </div>

    <div class="column-value-files<% if files.blank? %> hide<% end %>">
      <% if files.present? %>
        <% files.each do |file| %>
          <div class="file-view" data-file-id="<%= file.id %>" data-name="<%= file.name %>" data-humanized-name="<%= file.humanized_name %>" data-url="<%= file.url %>" data-thumb-url="<%= file.thumb_url %>" data-extname="<%= file.extname %>">
            <%= link_to file.url, class: :thumb, target: "_blank" do %>
              <% if file.image? %>
                <%= image_tag file.thumb_url, alt: file.name %>
              <% else %>
                <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
              <% end %>
              <div class="properties">
                <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
                <% if file.image? %>
                  <% img = Magick::ImageList.new(file.path) %>
                  <span><%= t("sns.w_h") %>: <%= img.columns %> x <%= img.rows %></span><br>
                <% end %>
                <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
                <span><%= t("sns.datetime") %>: <%= file.updated.strftime("%Y/%m/%d %H:%M") %></span><br>
                <% if file.user.present? %>
                  <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
                <% end %>
              </div>
            <% end %>

            <div class="name">
              <label>
                <%= hidden_field_tag("#{f.object_name}[][in_wrap][file_ids][]", file.id, id: nil) %>
                <%= file.name %>
              </label>
            </div>

            <div class="action">
              <%= link_to t("sns.file_attach"), "#", class: "btn-file-attach" %>
              <% if file.image? %>
                <%= link_to t("sns.image_paste"), "#", class: "btn-file-image-paste" %>
                <%= link_to t("sns.thumb_paste"), "#", class: "btn-file-thumb-paste" %>
              <% end %>
              <%= link_to t("ss.buttons.delete"), "#", class: "btn-file-delete" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= jquery do %>
    Cms_Column_Free.render(<%== "##{id}".to_json %>, <%== { objectName: f.object_name, editorId: "##{editor_id}" }.to_json %>);
  <% end %>
<% end %>
