<%= render 'cms/agents/columns/main/base', show: true, column: column, value: value do |id| %>
  <%= html_editor "##{id} .column-free-html", height: "400px", readonly: true %>
  <%= text_area_tag "mod-cms-body", value.value, id: nil, class: "column-free-html", style: "height: 400px;" %>

  <% if value.files.present? %>
    <div id="selected-files">
      <% value.files.each do |file| %>
        <div class="file-view" data-file-id="<%= file.id %>">
          <%= link_to file.url, class: :thumb, target: "_blank" do %>
            <% if file.image? %>
              <%= image_tag file.thumb_url, alt: file.name %>
            <% else %>
              <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
            <% end %>
          <% end %>

          <div class="name">
            <label>
              <%= file.name %>
            </label><br />
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
