<%= render 'cms/agents/columns/main/base', show: true, column: column, value: value do |id| %>
  <%= html_editor "##{id} .column-free-html", height: "400px", readonly: true %>
  <%= text_area_tag "mod-cms-body", value.value, id: nil, class: "column-free-html", style: "height: 400px;" %>

  <% if value.files.present? %>
    <div id="selected-files">
      <% value.files.each do |file| %>
        <div class="file-view" data-file-id="<%= file.id %>">
          <%= link_to file.url, class: :thumb, target: "_blank" do %>
            <% if file.image? %>
              <%= image_tag file.thumb_url, alt: file.name %>
            <% else %>
              <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
            <% end %>
            <div class="properties">
              <span><%= I18n.t("sns.filename") %>: <%= file.name %></span><br>
              <% if file.image? %>
                <% img = Magick::ImageList.new(file.path) %>
                <span><%= t("sns.w_h") %>: <%= img.columns %> x <%= img.rows %></span><br>
              <% end %>
              <span><%= t("sns.size") %>: <%= number_to_human_size(file.size) %></span><br>
              <span><%= t("sns.datetime") %>: <%= file.updated.strftime("%Y/%m/%d %H:%M") %></span><br>
              <% if file.user.present? %>
                <span><%= t("sns.user") %>: <%= file.user.name %></span><br>
              <% end %>
            </div>
          <% end %>

          <div class="name">
            <label>
              <%= file.name %>
            </label><br />
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
