<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to t(item.class_name.underscore, scope: 'job.models'), { action: :show, id: item }, class: 'title' %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="state"><%= item.state %></span>
  <span class="label"><%= @model.t(:at) %></span>
  <span class="at"><%= tryb { Time.zone.at(item.at).strftime('%Y/%m/%d %H:%M') } %></span>
<% end %>

<% if Rails.application.config.active_job.queue_adapter.to_s != 'shirasagi' %>
<div id="errorExplanation" class="errorExplanation">
  <h2><%= t('job.queue_adapter_errors.header') %></h2>
  <p><%= t('job.queue_adapter_errors.body') %></p>
  <ul>
    <% t('job.queue_adapter_errors.adapter_is_not_shirasagi').each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= render file: 'cms/crud/index' %>
