<dl class="see mod-rss-weather-xml-action-publish-page">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :publish_to_id %><%= @model.tt :publish_to_id %></dt>
  <dd>
    <%= f.hidden_field "publish_to_id", value: "", class: "hidden-ids" %>
    <%= link_to :"cms.apis.nodes.index", cms_apis_nodes_path(single: 1), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Cms::Node.t :name %></th>
        <th style="width: 20%;"></th>
      </tr>
      </thead>
      <tbody>
      <% if @item.publish_to.present? %>
        <tr data-id="<%= @item.publish_to.id %>">
          <td><%= f.hidden_field "publish_to_id", value: @item.publish_to.id %> <%= @item.publish_to.name %></td>
          <td style="width: 20%;"><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :publish_state %><%= @model.tt :publish_state %></dt>
  <dd><%= f.select :publish_state, @item.publish_state_options %></dd>
</dl>
