<% if @cur_page.map_points.present? %>

<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false" %>
<%= javascript_include_tag "map/public" %>
<%= coffee do %>

$(window).on "load", ->
  Map.load(document.getElementById("map-canvas"))
  Map.setMarkers(<%= raw @cur_page.map_points.to_json %>)

<% end %>

<header>
  <h2><%= t("map.map") %></h2>
</header>
<div id="map-canvas"></div>

<% end %>
