<div class="gws-column-item" data-id="<%= item.id %>">
  <div class="main-box">
    <div class="gws-column-item-drag-handle">
      <h2 class="header"><%= item.label :input_type %></h2>
      <%= md_icons.outlined "drag_handle", class: "gws-column-item-drag-handle-icon" %>
    </div>

    <%= error_messages_for :item %>

    <div class="gws-column-item-preview" data-controller="ss--click-disabler">
      <dl class="see gws-column-see">
        <%= form_for :item, url: { action: :update, id: item.id } do |f| %>
          <%= render(item.column_form_partial_path, column: item, object_name: 'custom', value: nil, f: f) %>
        <% end %>
      </dl>
    </div>
    <hr class="gws-column-item-divider">
    <div class="gws-column-item-toolbar-list" data-controller="gws--column--item-toolbar">
      <div class="gws-column-item-toolbar-item-group">
        <div class="gws-column-item-toolbar-item gws-column-item-edit">
          <%= link_to edit_inquiry_frames_column_path(id: item, ref: ref), class: "btn", title: t("ss.links.edit"), data: { turbo: true } do %>
            <%= md_icons.outlined "edit", size: 15, style: "vertical-align: -3px" %>
          <% end %>
        </div>
        <% if item.input_type != 'section'%>
          <div class="gws-column-item-toolbar-item gws-column-item-detail">
            <%= button_tag name: "detail", type: :button, class: "btn btn-gws-column-item-detail", title: t("gws/column.links.edit_in_detail"), data: { ref: edit_inquiry_apis_column_path(form_id: item.form, id: item, ref: ref) } do %>
              <%= md_icons.outlined "open_in_new", size: 15, style: "vertical-align: -3px" %>
            <% end %>
          </div>
        <% end %>
        <% if item.input_type == 'radio_button'%>
          <div class="gws-column-item-toolbar-item gws-column-item-edit">
            <%= link_to edit_inquiry_frames_column_path(id: item, ref: ref, form: 'branch'), class: "btn", title: t("gws/column.links.edit_conditional_branch"), data: { turbo: true } do %>
              <span class="material-icons-outlined md-16" style="vertical-align: -3px">format_list_bulleted</span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="gws-column-item-toolbar-item-group">
        <div class="gws-column-item-toolbar-item gws-column-item-delete">
          <%= button_tag name: "delete", type: :button, class: "btn btn-red btn-gws-column-item-delete", title: t("ss.links.delete"), data: { ref: inquiry_frames_column_path(id: item, ref: ref) } do %>
            <%= md_icons.outlined "delete", size: 15, style: "vertical-align: -3px" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
