<%= jquery do %>
  SS_TreeUI.render("form.search .index.custom_groups");
  // SS_Dropdown.render();

  $("form.search .index.custom_groups .select-group").on("click", function(e) {
    $("#ajax-box #s_custom_group").val($(e.target).data("id"));
    SS_SearchUI.selectItems()
    $("#ajax-box form.search").submit()

    e.preventDefault();
    e.stopPropagation();
    return false;
  });
<% end %>

<button class="dropdown btn" type="button"><%= @custom_group.try(:name) || t("mongoid.models.gws/custom_group") %>
  <span class="caret">&#x25BC;</span></button>

<%= hidden_field_tag("s[custom_group]", @custom_group.try(:id)) %>
<div class="dropdown-container">
  <table class="index custom_groups">
    <tbody>
    <tr data-depth="0" class="toggle">
      <td class="expandable">
        <%= link_to @cur_site.name, "#", class: "select-group", data: { id: "" } %>
      </td>
    </tr>
    <% @custom_groups.each do |item| %>
      <tr data-depth="<%= item.depth + 1 %>" class="toggle">
        <td class="expandable">
          <%= link_to item.trailing_name, "#", class: "select-group", data: { id: item.id } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
