<%= jquery do %>
  SS_SearchUI.modal();
<% end %>

<div class="search-ui-form">
  <%= form_for :s, url: { action: :index }, html: { method: "GET", class: :search } do |f| %>
    <%= hidden_field_tag :single, params[:single] %>
    <dl class="see">
      <dt><%= t("mongoid.models.gws/group") %></dt>
      <dd>
        <% if browser.ie?(["<10"]) %>
          <%= render partial: "group_dropdown_normal", locals: { f: f } %>
        <% else %>
          <%= render partial: "group_dropdown_tree", locals: { f: f } %>
        <% end %>
      </dd>

      <%= render partial: "custom_group_dropdown", locals: { f: f } %>

      <dt><%= @model.t :title_ids %></dt>
      <dd>
        <%= f.select :title_ids, @model.new(cur_site: @cur_site).title_id_options,
          { selected: params[:s].try(:[], :title_ids), include_blank: true },
          { class: "submit-on-change" } %>
      </dd>

      <dt><%= t "ss.keyword" %></dt>
      <dd>
        <%= f.text_field :keyword, value: params[:s].try(:[], :keyword) %>
        <%= f.submit  t("ss.buttons.search"), class: :btn %>
      </dd>
    </dl>
  <% end %>
</div>

<table class="index">
  <thead class="list-head">
    <tr>
      <% if @multi %>
      <th class="checkbox"><input type="checkbox" /></th>
      <% end %>
      <th class="name"><%= @model.t :name %></th>
      <th><%= @model.t :group_ids %></th>
      <th><%= @model.t :title_ids %></th>
    </tr>
  </thead>
  <tbody class="items">
    <% @items.each do |item| %>
      <% data = { id: item.id, name: item.name, email: item.email_address, address: item.email, long_name: gws_public_user_long_name(item.long_name) } %>
      <%= content_tag("tr", class: "list-item", data: data) do %>
        <% if @multi %>
          <td class="checkbox">
            <input type="checkbox" name="ids[]" value="<%= item.id %>" />
          </td>
        <% end %>
        <td><%= link_to gws_public_user_long_name(item.long_name), "#", class: @multi ? "select-item" : "select-single-item" %></td>
        <td><%= tryb { item.gws_main_group(@cur_site).trailing_name } %></td>
        <td><%= tryb { item.title(@cur_site).name } %></td>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @multi %>
<div class="search-ui-select">
  <%= button_tag t("ss.links.select"), { type: :button, class: "select-items btn" } %>
</div>
<% end %>

<%= paginate @items if @items.try(:current_page) %>
