<%= jquery do %>
$('a.ajax-box').data('on-select', function($item) {
  var selected = $.colorbox.element().closest(".comment-files").find(".selected-files");
  var fileId = $item.data('id');
  var humanizedName = $item.data('humanized-name');

  span  = $('<span></span>');
  img   = $('<img src="/assets/img/gws/ic-file.png" alt="" />');
  a     = $('<a target="_blank"></a>');
  input = $('<input type="hidden" name="item[file_ids][]" class="file-id" />');
  icon = $("<i class=\"material-icons md-18 md-inactive deselect\">close</i>");

  span.attr("data-file-id", fileId);
  span.attr("id", "file-" + fileId);
  a.text(humanizedName);
  a.attr("href", "/.u1/apis/temp_files/" + fileId + "/view");
  input.attr("value", fileId);
  icon.on("click", function(e) {
    $(this).parent("span").remove();
    return false;
  });

  span.append(img);
  span.append(a);
  span.append(icon);
  span.append(input);

  $(selected).show();
  $(selected).append(span);
  return $.colorbox.close();
});
<% end %>

<div class="addon-view">
  <div class="addon-head">
    <h2><%= link_to topic.name, gws_discussion_forum_topic_comments_path(forum_id: @forum.id, topic_id: topic.id) %></h2>
  </div>
  <div class="addon-body">
    <dl class="see">
      <dd class="wide">
        <div class="contributor">
          <span class="no"><%= "1." %></span>
          <%= topic.contributor_name %>
        </div>
        <div class="markdown-body">
          <%= topic.html %>
        </div>
        <% if topic.files.present? %>
        <div class="files">
          <% topic.files.each do |file| %>
          <span id="file-<%= file.id %>">
          <img src="/assets/img/gws/ic-file.png" alt="" />
            <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
          </span>
          <% end %>
        </div>
        <% end %>
        <div class="datetime updated">
          <%= topic.updated.strftime("%Y/%m/%d %H:%M") %>
        </div>
      </dd>
    </dl>
  </div>

  <% children = topic.children %>
  <% children_size = children.size %>
  <% if limit > 0 %>
    <% comments = topic.children.limit(limit).reverse.to_a %>
  <% else %>
    <% comments = topic.children.reverse.to_a %>
  <% end %>
  <% offset = children_size - comments.size %>
  <% if children_size > comments.size %>
    <div style="background: #f2f2f2; padding-bottom: 12px; border-left: hidden; border-right: hidden;"></div>
  <% end %>

  <% comments.each_with_index do |comment, i| %>
    <div class="addon-body">
      <dl class="see">
        <dd class="wide">
          <div class="contributor">
            <span class="no"><%= "#{offset + i + 2}." %></span>
            <%= comment.contributor_name %>
          </div>
          <div class="markdown-body">
            <%= comment.html %>
          </div>
          <% if comment.files.present? %>
          <div class="files">
            <% comment.files.each do |file| %>
              <span id="file-<%= file.id %>">
                <img src="/assets/img/gws/ic-file.png" alt="" />
                <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
              </span>
            <% end %>
          </div>
          <% end %>
          <div class="datetime updated">
            <%= comment.updated.strftime("%Y/%m/%d %H:%M") %>
          </div>
          <div class="menu">
            <% if comment.allowed?(:edit, @cur_user, site: @cur_site) %>
              <%= link_to "編集する", edit_gws_discussion_forum_topic_comment_path(forum_id: @forum.id, topic_id: topic.id, id: comment.id), class: 'btn primary' %>
            <% end %>
            <% if comment.allowed?(:delete, @cur_user, site: @cur_site) %>
              <%= link_to "削除する", delete_gws_discussion_forum_topic_comment_path(forum_id: @forum.id, topic_id: topic.id, id: comment.id), class: 'btn primary' %>
            <% end %>
          </div>
        </dd>
      </dl>
    </div>
  <% end %>

  <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
  <div class="addon-body">
    <% if @comment && @comment.parent_id == topic.id %>
      <%= error_messages_for :comment %>
    <% end %>

    <!-- text -->
    <div class="ss-addon-markdown">
      <div class="ss-addon-markdown-toolbar">
        <%= f.select :text_type, topic.text_type_options, {}, { value: 'plain', class: "ss-addon-markdown-type" } %>
      </div>
      <div class="ss-addon-markdown-content">
        <%= f.text_area :text, value: "", class: "markdown", style: "height: 240px;", required: true %>
      </div>
    </div>

    <!-- files -->
    <div class="comment-files">
      <%= f.hidden_field "file_ids[]", value: "" %>
      <span class="upload-menu-new">
        <%= link_to t('ss.links.upload'), sns_apis_temp_files_path(@cur_user), class: "ajax-box btn" %>
      </span>
      <!--
      <span class="upload-menu-select">
        <%= link_to t("sns.user_file"), sns_apis_user_files_path(@cur_user), class: "ajax-box btn" %>
        <%= link_to t("modules.gws/share"), gws_apis_files_path, class: "ajax-box btn" %>
      </span>
      -->
      <div class="selected-files files" style="display: none;"></div>
    </div>

    <!-- contributor -->
    <%= jquery do %>
      var setContributor = function() {
        var $this = $(this);
        $('.discussion-contributor<%= topic.id %> input#item_contributor_model').val($this.data('model'));
        $('.discussion-contributor<%= topic.id %> input#item_contributor_id').val($this.data('id'));
        $('.discussion-contributor<%= topic.id %> input#item_contributor_name').val($this.data('name'));
      };
      $('.discussion-contributor<%= topic.id %> input[name="tmp[contributor]"]').on('change', setContributor);
      $('.discussion-contributor<%= topic.id %> input[name="tmp[contributor]"]:checked').each(setContributor);
    <% end %>
    <% show_radio_button = proc do |model, id, name, checked| %>
      <label style="margin-right: 5px">
        <%= radio_button_tag('tmp[contributor]', "#{model}:#{id}", checked, data: { model: model, id: id.to_s, name: name }) %>
        <%= name %>
      </label>
    <% end %>
    <div class="see discussion-contributor discussion-contributor<%= topic.id %>">
      <%= f.hidden_field(:contributor_model) %>
      <%= f.hidden_field(:contributor_id) %>
      <%= f.hidden_field(:contributor_name) %>

      <% show_radio_button.call('Gws::User', @cur_user.id, @cur_user.long_name, true) %>
      <% @cur_user.groups.each do |group| %>
        <% show_radio_button.call('Gws::Group', group.id, group.section_name, false) %>
      <% end %>
      <% Gws::CustomGroup.member(@cur_user).each do |group| %>
        <% show_radio_button.call('Gws::CustomGroup', group.id, group.name, false) %>
      <% end %>
    </div>

    <!-- user_ids -->
    <%= hidden_field_tag "item[user_ids][]", @cur_user.id %>

    <!-- menu -->
    <div class="menu">
      <%= f.submit "返信する", class: 'btn primary' %>
    </div>
  </div>
  <% end %>
</div>