<div class="addon-view" id="topic-<%= topic.id %>">
  <div class="addon-head">
    <h2><%= link_to topic.name, gws_discussion_forum_topic_comments_path(forum_id: @forum.id, topic_id: topic.id) %></h2>
  </div>
  <div class="addon-body">
    <header>
      <div class="contributor">
        <span class="no"><%= "1." %></span>
        <%= topic.contributor_name %>
      </div>
      <div class="datetime updated">
        <%= topic.updated.strftime("%Y/%m/%d %H:%M") %>
      </div>
    </header>
    <div class="markdown-body">
      <%= topic.html %>
    </div>
    <% if topic.files.present? %>
    <div class="files">
      <% topic.files.each do |file| %>
      <span id="file-<%= file.id %>">
      <img src="/assets/img/gws/ic-file.png" alt="" />
        <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
      </span>
      <% end %>
    </div>
    <% end %>
  </div>

  <% children = topic.children.reorder(id: 1) %>
  <% children_size = children.size %>
  <% if limit > 0 %>
    <% comments = topic.children.limit(limit).reverse.to_a %>
  <% else %>
    <% comments = topic.children.reverse.to_a %>
  <% end %>
  <% offset = children_size - comments.size %>
  <% if children_size > comments.size %>
    <div style="background: #f2f2f2; padding-bottom: 12px; border-left: hidden; border-right: hidden;"></div>
  <% end %>
  <% comments.each_with_index do |comment, i| %>
    <div class="addon-body" id="comment-<%= comment.id %>">
      <header>
        <div class="contributor">
          <span class="no"><%= "#{offset + i + 2}." %></span>
          <%= comment.contributor_name %>
        </div>
        <div class="datetime updated">
          <%= comment.updated.strftime("%Y/%m/%d %H:%M") %>
        </div>
      </header>
      <div class="markdown-body">
        <%= comment.html %>
      </div>
      <% if comment.files.present? %>
      <div class="files">
        <% comment.files.each do |file| %>
          <span id="file-<%= file.id %>">
            <img src="/assets/img/gws/ic-file.png" alt="" />
            <%= link_to file.humanized_name, file.url, class: "icon-#{file.extname}", target: '_blank' %>
          </span>
        <% end %>
      </div>
      <% end %>
      <div class="menu">
        <% if !topic.permanently? %>
          <% if comment.allowed?(:edit, @cur_user, site: @cur_site) %>
            <%= link_to t("ss.links.edit"), edit_gws_discussion_forum_topic_comment_path(forum_id: @forum.id, topic_id: topic.id, id: comment.id), class: 'btn primary' %>
          <% end %>
          <% if comment.allowed?(:delete, @cur_user, site: @cur_site) %>
            <%= link_to t("ss.links.delete"), delete_gws_discussion_forum_topic_comment_path(forum_id: @forum.id, topic_id: topic.id, id: comment.id), class: 'btn primary' %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%
    if topic.permit_comment? && Gws::Discussion::Post.allowed?(:edit, @cur_user, site: @cur_site)
      allowed_comment = true
    else
      allowed_comment = false
    end
  %>
  <% if (children_size + 1) >= @cur_site.discussion_comment_limit %>
    <div class="addon-body reply-menu">
        <%= t("gws/discussion.notice.comment_limit", limit: @cur_site.discussion_comment_limit) %>
        <span>
          <%= link_to t("gws/discussion.links.topic.show"), gws_discussion_forum_topic_comments_path(forum_id: @forum.id, topic_id: topic.id) %>
        </span>
      </div>
  <% else %>
    <% if reply_menu %>
      <div class="addon-body reply-menu">
        <span>
          <%= link_to t("gws/discussion.links.topic.show"), gws_discussion_forum_topic_comments_path(forum_id: @forum.id, topic_id: topic.id) %>
        </span>
        <% if allowed_comment %>
        <span>
          <%= link_to t("gws/discussion.links.topic.reply"), "#", class: "open-reply" %>
        </span>
        <% end %>
      </div>
    <% end %>
    <% if allowed_comment %>
      <div class="addon-body reply" style="<%= reply_menu ? "display: none;" : "" %>" data-topic="<%= topic.id %>">
        <% if @comment && @comment.parent_id == topic.id %>
          <%= error_messages_for :comment %>
        <% end %>

        <!-- text -->
        <div class="ss-addon-markdown">
          <div class="ss-addon-markdown-toolbar">
            <%= f.select :text_type, topic.text_type_options, {}, { value: 'plain', class: "ss-addon-markdown-type" } %>
          </div>
          <div class="ss-addon-markdown-content">
            <%= f.text_area :text, value: "", class: "markdown", style: "height: 240px;", required: true %>
          </div>
        </div>

        <!-- files -->
        <div class="comment-files">
          <%= f.hidden_field "file_ids[]", value: "" %>
          <span class="upload-menu-new">
            <%= link_to t('ss.links.upload'), sns_apis_temp_files_path(@cur_user), class: "ajax-box btn" %>
          </span>
          <span class="upload-drop-area">
            <span class="upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
          </span>
          <div class="selected-files files" style="display: none;"></div>
        </div>

        <!-- contributor -->
        <% show_radio_button = proc do |model, id, name, checked| %>
          <label style="margin-right: 5px">
            <%= radio_button_tag('tmp[contributor]', "#{model}:#{id}", checked, data: { model: model, id: id.to_s, name: name }) %>
            <%= name %>
          </label>
        <% end %>
        <div class="see discussion-contributor discussion-contributor<%= topic.id %>">
          <%= f.hidden_field(:contributor_model) %>
          <%= f.hidden_field(:contributor_id) %>
          <%= f.hidden_field(:contributor_name) %>

          <% show_radio_button.call('Gws::User', @cur_user.id, @cur_user.long_name, true) %>
          <% @cur_user.groups.in_group(@cur_site).active.each do |group| %>
            <% show_radio_button.call('Gws::Group', group.id, group.section_name, false) %>
          <% end %>
          <% Gws::CustomGroup.member(@cur_user).readable(@cur_user, site: @cur_site).each do |group| %>
            <% show_radio_button.call('Gws::CustomGroup', group.id, group.name, false) %>
          <% end %>
        </div>

        <!-- user_ids -->
        <%= hidden_field_tag "item[user_ids][]", @cur_user.id %>

        <!-- menu -->
        <div class="menu">
          <%= f.submit t("ss.links.reply"), class: 'btn primary' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
