<%= jquery do %>
  Gws_Discussion_Thread.render(<%= @cur_user.id %>);
  <% if @cur_site.discussion_unseen_interval.present? %>
  Gws_Discussion_Unseen.renderUnseen(
    "<%= gws_discussion_apis_unseen_path(id: @forum.id) %>",
    <%= @cur_site.discussion_unseen_interval %>,
    <%= @forum.descendants_updated.to_i %>
  );
  <% end %>

  var highlighter = new Gws_Elasticsearch_Highlighter();
  highlighter.render();
<% end %>

<h2 class="gws-discussion-topic"><%= @forum.name %></h2>

<p class="gws-discussion-unseen" style="display: none;">
  <%= link_to t("gws/discussion.notice.reload"), { action: :index } %>
</p>

<%= paginate @items if @items.try(:current_page) %>

<div class="gws-discussion gws-discussion-thread">
  <% @items.each do |item| %>
    <%= form_for :item, url: { action: :reply, id: item.id }, html: { method: :put, multipart: true, autocomplete: :off } do |f| %>
      <%= render partial: 'thread', locals: { f: f, topic: item, limit: 5, reply_menu: true } %>
    <% end %>
  <% end %>
  <% if @items.blank? %>
    <div class="addon-view">
      <div class="addon-body">
        <dl class="see">
          <dd class="wide">
            <%= t("gws/discussion.notice.no_topics") %>
          </dd>
        </dl>
      </div>
    </div>
  <% end %>
  <%= paginate @items if @items.try(:current_page) %>
</div>

<div class="gws-discussion-navi">
  <% if @cur_user.gws_role_permit_any?(@cur_site, :use_private_gws_schedule_todos) %>
    <%= render "todo", head: t("gws/schedule.tabs.my_todo"), css_class: %w(gws-discussion-navi-list my-todo), todos: @todos %>
    <%= render "todo", head: t("gws/schedule.tabs.manageable_todo"), css_class: %w(gws-discussion-navi-list manageable-todo), todos: @manageable_todos %>
  <% end %>

  <%= render "ss/crud/addon", addon: { head: t("gws/discussion.topics"), class: "gws-discussion-navi-list", toggle: true } do %>
    <ul class="list-items">
      <% @recent_items.each do |item| %>
        <li class="list-item">
          <div class="info">
            <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
            <%= link_to item.name, gws_discussion_forum_topic_comments_path(forum_id: @forum.id, topic_id: item.id) %><br />
            <div class="meta">
              <% item.descendants_updated.try do |updated| %>
                <span class="datetime"><%= updated.strftime("%Y/%m/%d %H:%M") %></span>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
      <% if @recent_items.blank? %>
        <li class="list-item"><%= t("gws/discussion.notice.no_recents") %></li>
      <% end %>
      <li class="list-item"><%= link_to t("gws/discussion.links.topic.index"), { action: :all } %></li>
    </ul>
  <% end %>

  <%= render "ss/crud/addon", addon: { head: t("gws/discussion.members"), toggle: true } do %>
    <% @forum.overall_members.each do |member| %>
      <p><%= member.long_name %></p>
    <% end %>
  <% end %>

  <% if quota = @forum.forum_quota_model %>
    <%= render "ss/crud/addon", addon: { head: t('ss.quota'), toggle: true } do %>
      <div class="ss-quota-bar">
        <div class="label"><%= quota.label %></div>
        <div class="usage <%= quota.over? ? 'over-threshold' : '' %>" style="width: <%= quota.percentage %>%"></div>
      </div>
    <% end %>
  <% end %>
</div>
