<%= coffee do %>
createSearchedElement = (id, result) ->
  tr = $("<tr>")
  checkbox = $("<td>").html('<input type="checkbox" />')
  checkbox.attr "class", "checkbox"
  a = $('<a class="icon-page setLink" href="' + result["url"] + '">').html(result["name"])
  title = $("<td>").html(a)
  filename = $("<td>").html(result["filename"])
  updated = $("<td>").html(result["updated"])
  tr.attr "data-id", id
  tr.append checkbox
  tr.append title
  tr.append filename
  tr.append updated
  tr.change ->
    checked = 0
    size = 0
    $(".related-pages table tbody tr input[type=checkbox]").each ->
      if $(this).prop("checked")
        checked += 1
      size += 1

    if checked == size
      $(".related-pages div.set-pages").show()
      tr.parents("table").find("th input[type=checkbox]").attr "checked", true
    else
      tr.parents("table").find("th input[type=checkbox]").attr "checked", false
      if checked > 0
        $(".related-pages div.set-pages").show()
      else
        $(".related-pages div.set-pages").hide()
    return
  tr.find("input[type=checkbox]").each ->
    tr.toggleClass "checked", $(this).prop("checked")
    return
  tr.find("input[type=checkbox]").change ->
    tr.toggleClass "checked", $(this).prop("checked")
    return
  tr.mouseup (e) ->
    if not $(e.target).is("a") and not $(e.target).is("input")
      tr.find("input[type=checkbox]").trigger "click"
      #tr.parents("table").find("th input[type=checkbox]").attr "checked", false
    return
  tr.mouseleave ->
    tr.find(".tap-menu").hide()
    return
  tr.find("a[href]").click ->
    $(".mod-related table.index").prepend(createFormElement(tr.clone(false)))
    $(".mod-related table.index").show()
    jQuery.colorbox.close()
    return false
  return tr

createFormElement = (tr) ->
  tr.removeClass "checked"
  $(tr).find("td:not(:eq(1))").remove()
  td = $(tr).find("td a.setLink").attr("target", "_blank")
  td.addClass("external")
  input = $(".mod-related dd:first input:hidden").clone(false)
  value = tr.attr("data-id")
  input.attr "id", input.attr("id") + value
  input.attr "type", "hidden"
  input.attr "value", value
  input.attr "checked", "checked"
  deletelink = $("<td>").html('<a href="#"><%= t('related_pages_views.link.remove_page') %></a>')
  deletelink.find("a").click (e) ->
    e.preventDefault()
    $(this).parents("tr:first").remove()
    if $(".mod-related table tr[data-id]").size() == 1
      $(".mod-related table.index").hide()
    return

  deletelink.append input
  tr.append deletelink
  return tr

selectPages = ->
  $(".related-pages table.index tbody tr").each ->
    if $(this).find("input[type=checkbox]").prop("checked")
      $(".mod-related table.index").prepend(createFormElement($(this).clone(false)))
    return

  $(".mod-related table.index").show()
  jQuery.colorbox.close()
  return

searchPages = ->
  url = "<%= raw related_pages_search_path %>"
  query = $(".related-pages input.search").val().trim()
  $(".related-pages input.search").val(query)
  return  unless query
  button = this
  $(button).attr "disabled", true

  $.ajax {
    type: "GET", url: url, cache: false, dataType: "json",
    data: { s: { name: query } },
    success: (json) ->
      $(".related-pages table.index tbody").remove()
      $(".related-pages table.index").append "<tbody>"
      selected = []
      $(".mod-related table.index tbody tr").each (i) ->
        selected.push $(this).attr("data-id")
        return

      for id of json
        if $.inArray(id.toString(), selected) < 0
          tr = createSearchedElement(id, json[id])
          $(".related-pages table.index tbody").append tr
      return
    complete: (xhr, status) ->
      $(button).removeAttr "disabled"
      $(".related-pages table th input[type=checkbox]").prop("checked", false )
      $(".related-pages div.set-pages").hide()
      return
  }
  return

stopEnterSubmit = (inputText, callback) ->
  inputText.keypress (ev) ->
    if (ev.which and ev.which is 13) or (ev.keyCode and ev.keyCode is 13)
      callback()
      return false
    else
      return true
  return

$ ->
  stopEnterSubmit $(".related-pages input.search"), ->
    $(".search-pages").trigger "click"
    return

  $(".related-pages .search-pages").click searchPages
  $(".related-pages div.set-pages").hide()
  $(".related-pages table th input[type=checkbox]").click ->
    if $(this).prop("checked")
      $(".related-pages table tbody tr input[type=checkbox]").each ->
        $(this).prop("checked", true )
    else
      $(".related-pages table tbody tr input[type=checkbox]").each ->
        $(this).prop("checked", false )

    checked = 0
    size = 0
    $(".related-pages table tbody tr input[type=checkbox]").each ->
      if $(this).prop("checked")
        checked += 1
      size += 1

    if size > 0 and checked == size
      $(".related-pages div.set-pages").show()
    else
      if checked > 0
        $(".related-pages div.set-pages").show()
      else
        $(".related-pages div.set-pages").hide()
    return

  $(".related-pages button.set-pages").click selectPages
  return
<% end %>

<div class="related-pages">
  <div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= text_field_tag :search, nil, { id: nil, class: "search"} %>
  <%= button_tag t('related_pages_views.button.search_pages'), { type: :button, class: "search-pages" } %>
  </div>
  <table class="index">
    <thead>
      <tr>
        <th style="width: 20px;"><input type="checkbox" /></th>
        <th class="name"><%= Cms::Page.t :name %></th>
        <th class="filename"><%= Cms::Page.t :filename %></th>
        <th class="updated"><%= Cms::Page.t :updated %></th>
      </tr>
    </thead>
  </table>
  <div class="set-pages" style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
  <%= button_tag t('related_pages_views.link.select_pages'), { type: :button, class: "set-pages" } %>
  </div>
</div>
