<%= jquery do %> SS_AddonTabs.hide(".addon-gws-schedule-group-setting"); <% end %>

<% @item.in_schedule_max_file_size_mb = @item.schedule_max_file_size.to_i / (1_024 * 1_024) %>

<dl class="see addon-gws-schedule-group-setting">
  <dt><%= @model.t :schedule_max_date %><%= @model.tt :schedule_max_date %></dt>
  <dd></dd>

  <dt class="depth-2"><%= @model.t :schedule_max_month %><%= @model.tt :schedule_max_month %></dt>
  <dd><%= f.select :schedule_max_month, @item.schedule_max_month_options %> <%= t("datetime.prompts.month") %></dd>

  <dt class="depth-2"><%= @model.t :schedule_max_years %><%= @model.tt :schedule_max_years %></dt>
  <dd><%= f.select :schedule_max_years, @item.schedule_max_years_options %> <%= t("datetime.prompts.year") %></dd>

  <dt><%= @model.t :schedule_attachment_state %><%= @model.tt :schedule_attachment_state %></dt>
  <dd><%= f.select :schedule_attachment_state, @item.schedule_attachment_state_options %></dd>

  <dt><%= @model.t :schedule_max_file_size %><%= @model.tt :schedule_max_file_size %></dt>
  <dd class="short"><%= f.number_field :in_schedule_max_file_size_mb %> <span class="postfix"><%= t("ss.units.mega_byte") %></span></dd>

  <dt><%= @model.t :schedule_drag_drop_state %><%= @model.tt :schedule_drag_drop_state %></dt>
  <dd><%= f.select :schedule_drag_drop_state, @item.schedule_drag_drop_state_options %></dd>

  <% if false %>
  <dt><%= @model.t :todo_delete_threshold %><%= @model.tt :todo_delete_threshold %></dt>
  <dd><%= f.select :todo_delete_threshold, @item.todo_delete_threshold_options %></dd>
  <% end %>
</dl>
