<%= jquery do %>

$("#ajax-box .similar-files").find("input").on('keypress', function (ev) {
  if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
    return false;
  } else {
    return true;
  }
});

$("#ajax-box .similar-files").find(".back-to-index").on("click", function() {
  $.colorbox.close();
  return false;
});

$("#ajax-box .similar-files").find(".pagination a").on('click', function (ev) {
  var href = $(this).attr("href");
  var page = href.match(/page=(\d+)/);

  if (page) {
    page = page[1];
  } else {
    page = "1";
  }
  $("#ajax-box .similar-files .current-page").val(page);
  $('#ajax-box [data-submitted="similar_files"]').trigger("submit");
  return false;
});

var options = function () {
  return {
    url: "<%= url_for(action: :drop_and_search) %>",
    dataType: "html",
    success: function(data) {
      $("#cboxLoadedContent").html(data);
    },
    error: function(xhr) {
      try {
        alert(["== Error =="].concat(xhr.responseJSON).join("\n"));
      } catch(_error) {
        alert(["== Error =="].concat(xhr.statusText).join("\n"));
      }
    }
  };
};
SS.ajaxForm("form.user-file", options);

<% end %>

<%= form_for :item, url: { action: :drop_and_search }, html: { class: "user-file", multipart: true } do |f| %>

<div class="similar-files" style="margin: 0 0 20px;
  padding: 10px;
  border: 1px solid #ddd;"
>
  <dl class="see" style="margin-bottom: 20px;">
    <dt><%= "ファイル" %></dt>
    <dd>
      <%= @item.humanized_name %>
      <%= hidden_field_tag "similar[id]", @item.id %>
    </dd>

    <dt><%= "ファイル名" %></dt>
    <dd><%= text_field_tag "similar[name]", @name %></dd>

    <dt><%= "オープンデータ連携" %></dt>
    <dd>
      <label><%= radio_button_tag("similar[assoc]", "assoced", (@assoc == "assoced")) %> <%= "連携ページのみ" %></label>
      <label><%= radio_button_tag("similar[assoc]", "all", (@assoc == "all")) %> <%= "全てのページ" %></label>
    </dd>

    <dt></dt>
    <dd>
      <%= f.submit t("ss.buttons.search"), class: "save btn", style: "margin-left: 10px;", "data-submitted": "similar_files" %>
      <%= link_to t("ss.links.back"), "", class: "btn back-to-index", style: "margin-left: 10px;" %>
    </dd>
  </dl>

  <% if @items.present? %>

    <table class="index">
      <thead>
        <tr>
          <th><%= "ページ名" %></th>
          <th><%= "ファイル名" %></th>
          <th><%= "ページ更新日時" %></th>
          <th><%= "連携データセット" %></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <% page = item.page.becomes_with_route %>
          <% dataset = @datasets[page.id] %>
          <tr data-id="<%= item.id %>">
            <td>
              <%= link_to page.name, page.private_show_path + "?replace_temp_file=1#file-#{item.file_id}", target: "_blank" rescue nil %>
            </td>
            <td><%= item.name %></td>
            <td><%= page.updated.strftime("%Y/%m/%d %H:%M") rescue nil %></td>
            <td>
              <% if dataset %>
                <%= link_to "#{dataset.name}（#{dataset.site.name}）", dataset.private_show_path, target: "_blank" rescue nil %>
              <% else %>
                <%= "なし" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= hidden_field_tag "page", @items.try(:current_page), class: "current-page" %>
    <%= paginate @items if @items.try(:current_page) %>

  <% else %>

    <div><%= "既に添付されているファイルは見つかりませんでした。" %></div>

  <% end %>
</div>

<% end %>
