<%= jquery do %>
  var hideDateForm = function(self) {
    self.closest("dd").nextUntil("dt").each(function() {
      if ($(this).hasClass(self.val())) {
        return $(this).removeClass("hide");
      } else {
        return $(this).addClass("hide");
      }
    });
  };

  $(".search-date select").each(function() {
    hideDateForm($(this));
  });
  $(document).on("change", ".search-date select", function(e) {
    hideDateForm($(this));
  });
<% end %>
<dl class="see mod-cms-page-search">
  <dt><%= @model.t :search_name %><%= @model.tt :search_name %></dt>
  <dd><%= f.text_field :search_name, class: "search-name" %></dd>

  <dt><%= @model.t :search_filename %><%= @model.tt :search_filename %></dt>
  <dd><%= f.text_field :search_filename, class: "search-filename" %></dd>

  <dt><%= @model.t :search_keyword %><%= @model.tt :search_keyword %></dt>
  <dd><%= f.text_field :search_keyword, class: "search-name" %></dd>

  <dt><%= @model.t :search_category_ids %><%= @model.tt :search_category_ids %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[search_category_ids][]", nil, class: "hidden-ids" %>
    <%= link_to t("cms.apis.categories.index"), cms_apis_categories_path, class: "btn ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= @model.t :search_category_ids %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.search_categories.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= hidden_field_tag "#{f.object_name}[search_category_ids][]", item.id %> <%= item.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see mod-cms-page-search">
  <dt><%= @model.t :search_group_ids %><%= @model.tt :search_group_ids %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[search_group_ids][]", nil, class: "hidden-ids" %>
    <%= link_to t("ss.apis.groups.index"), cms_apis_groups_path, class: "btn ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= @model.t :search_group_ids %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.search_groups.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= hidden_field_tag "#{f.object_name}[search_group_ids][]", item.id %> <%= item.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see mod-cms-page-search">
  <dt><%= @model.t :search_user_ids %><%= @model.tt :search_user_ids %></dt>
  <dd>
    <%= hidden_field_tag "item[search_user_ids][]", nil, class: "hidden-ids" %>
    <%= link_to t("cms.apis.users.index"), cms_apis_users_path, class: "btn ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= @model.t :search_user_ids %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.search_users.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= hidden_field_tag "item[search_user_ids][]", item.id %> <%= item.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see mod-cms-page-search">
  <dt><%= @model.t :search_node_ids %><%= @model.tt :search_node_ids %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[search_node_ids][]", nil, class: "hidden-ids" %>
    <%= link_to t("cms.apis.nodes.index"), cms_apis_nodes_path, class: "btn ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= @model.t :search_node_ids %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.search_nodes.each do |item| %>
          <tr data-id="<%= item.id %>">
            <td><%= hidden_field_tag "#{f.object_name}[search_node_ids][]", item.id %> <%= item.name %></td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see mod-cms-page-search">
  <dt><%= @model.t :search_routes %><%= @model.tt :search_routes %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[search_routes][]", nil, class: "hidden-ids" %>
    <%= link_to t("cms.apis.pages_routes.index"), cms_apis_pages_routes_path, class: "btn ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= @model.t :search_routes %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @item.search_routes.each do |route| %>
        <% next if route.blank? %>
        <tr data-id="<%= route %>">
          <td><%= hidden_field_tag "#{f.object_name}[search_routes][]", route %> <%= I18n.t("mongoid.models.#{route}") %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt><%= @model.t :search_released %><%= @model.tt :search_released %></dt>
  <dd class="search-date"><%= f.select :search_released_condition, @item.search_date_options %></dd>
  <dd class="absolute">
    <div class="input-group" style="width: 24em;">
      <%= f.text_field :search_released_start, class: "datetime js-datetime search-released-start" %>
      <span class="input-group-append">-</span>
      <%= f.text_field :search_released_close, class: "datetime js-datetime search-released-close" %>
    </div>
  </dd>
  <dd class="relative">
    <div class="input-group" style="width: 12em;">
      <%= f.number_field :search_released_after %><span class="input-group-append"><%= I18n.t('ss.units.days_progress') %></span>
    </div>
  </dd>

  <dt><%= @model.t :search_updated %><%= @model.tt :search_updated %></dt>
  <dd class="search-date"><%= f.select :search_updated_condition, @item.search_date_options %></dd>
  <dd class="absolute">
    <div class="input-group" style="width: 24em;">
      <%= f.text_field :search_updated_start, class: "datetime js-datetime search-updated-start" %>
      <span class="input-group-append">-</span>
      <%= f.text_field :search_updated_close, class: "datetime js-datetime search-updated-close" %>
    </div>
  </dd>
  <dd class="relative">
    <div class="input-group" style="width: 12em;">
      <%= f.number_field :search_updated_after %><span class="input-group-append"><%= I18n.t('ss.units.days_progress') %></span>
    </div>
  </dd>

  <dt><%= @model.t :search_approved %><%= @model.tt :search_approved %></dt>
  <dd class="search-date"><%= f.select :search_approved_condition, @item.search_date_options %></dd>
  <dd class="absolute">
    <div class="input-group" style="width: 24em;">
      <%= f.text_field :search_approved_start, class: "datetime js-datetime search-approved-start" %>
      <span class="input-group-append">-</span>
      <%= f.text_field :search_approved_close, class: "datetime js-datetime search-approved-close" %>
    </div>
  </dd>
  <dd class="relative">
    <div class="input-group" style="width: 12em;">
      <%= f.number_field :search_approved_after %><span class="input-group-append"><%= I18n.t('ss.units.days_progress') %></span>
    </div>
  </dd>

  <dt><%= @model.t :search_state %><%= @model.tt :search_state %></dt>
  <dd><%= f.select :search_state, @item.search_state_options, include_blank: true %></dd>

  <dt><%= @model.t :search_first_released %><%= @model.tt :search_first_released %></dt>
  <dd><%= f.select :search_first_released, @item.search_first_released_options, include_blank: true %></dd>

  <dt><%= @model.t :search_approver_state %><%= @model.tt :search_approver_state %></dt>
  <dd><%= f.select :search_approver_state, @item.search_approver_state_options, include_blank: true %></dd>

  <dt><%= @model.t :search_sort %><%= @model.tt :search_sort %></dt>
  <dd><%= f.select :search_sort, @item.search_sort_options, include_blank: true %></dd>
</dl>
