<%
  value ||= nil
  controller ||= false
  current_files = value.try(:files) || []
  current_labels = value.try(:file_labels) || {}
  field_name = "item[column_values][][in_wrap][file_ids][]"
  cid = @cur_node || "-"
  setting = { field_name: field_name, show_attach: false }
  setting = JSON::JWT.new(setting).sign(SS::Crypto.salt).to_s
  select_api_path = select_cms_frames_temp_files_file_path(site: @cur_site, cid: cid, setting: setting, id: ':id')
%>
<%= render 'cms/agents/columns/main/base', f: f, column: column, value: value, controller: controller do |id| %>
  <div class="multiple-files-upload"
       data-file-labels="<%= current_labels.to_json %>"
       data-label-name="item[column_values][][in_wrap][file_labels]"
       data-label-placeholder="<%= t('cms.column_multiple_files_upload.file_label_placeholder') %>">
    <%=
      component = SS::FileSelectBoxComponent.new(
        ss_mode: @ss_mode, cur_site: @cur_site, cur_user: @cur_user, cur_node: @cur_node, page: @page, item: @item,
        field_name: field_name, selection_type: "append",
        files: current_files, select_api_path: select_api_path,
        show_attach: false, show_opendata: false, show_reorder: false
      )
      render component
    %>
  </div>

  <%= jquery do %>
    Cms_Column_MultipleFilesUpload.render(<%== "##{id}".to_json %>);
  <% end %>
<% end %>
