<%= form_for :item, url: { action: :import }, html: { method: :post } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <header><h2><%= t(:import) %></h2></header>
    <dl class="see">
      <dt><%= t :file %><%= @model.tt :in_file %></dt>
      <dd>
        <%= f.hidden_field "item[in_file]", value: "" %>
        <%= f.file_field :in_file %>
      </dd>
    </dl>
  </div>
</div>

<footer class="send">
  <%= f.submit t(:import), class: :save %>
  <%= f.button t("views.button.cancel"), onclick: "location.href='#{url_for(action: :index)}'; return false;" %>
</footer>
<% end %>
