<%= form_tag action: :run do |f| %>

<table class="see">
  <tr>
    <th><%= @item.t :started %></th>
    <td><%= tryb { @item.started.strftime("%Y-%m-%d %H:%M:%S") } %></td>
    <th><%= @item.t :closed %></th>
    <td><%= tryb { @item.closed.strftime("%Y-%m-%d %H:%M:%S") } %></td>
  </tr>
  <tr>
    <th><%= @item.t :state %></th>
    <td><%= @item.send :state %></td>
    <th><%= @item.t :current_count %></th>
    <td style="text-align: center;"><%= @item.send :current_count %> / <%= @item.send :total_count %></td>
  </tr>
</table>

<!-- <p><%= @item.t :log %></p> -->
<div style="margin: 15px 0px">
  <textarea style="height: 200px;" readonly="readonly"><%= @item.logs.join("\n") %></textarea>
</div>

<footer class="send">
  <% if @item.running? %>
    <%= submit_tag t(:stop), name: "stop" %>
    <div style="margin: 20px 0px 0px; text-align: right;">
      <%= submit_tag t(:reset), name: "reset", onclick: "return confirm('#{t('ss.task.confirm_reset')}');" %>
    </div>
  <% else %>
    <%= submit_tag t(:run), class: :save %>
  <% end %>
</footer>

<% end %>
