<dl class="see mod-gws-notice-notification">
  <dt><%= @model.t :notification_noticed %><%= @model.tt :notification_noticed %></dt>
  <dd>
    <span class="notification-noticed"><%= tryb { I18n.l(@item.notification_noticed) } %></span>
    <%= button_tag(t('ss.buttons.clear'), type: 'reset', class: 'btn btn-clear') %>
    <%= f.hidden_field :notification_noticed %>
  </dd>
</dl>

<%= jquery do %>
  $('.mod-gws-notice-notification .btn-clear').on('click', function(){
    $('span.notification-noticed').html('');
    $('.mod-gws-notice-notification #item_notification_noticed').val('');
  });
<% end %>
