<%= jquery do %>
window.insertContent = function(cont) {
  if ((typeof tinymce) != "undefined") {
    tinymce.get(Cms_Form.editorId).execCommand("mceInsertContent", false, cont);
  }
  else if (typeof CKEDITOR != "undefined") {
    CKEDITOR.instances[Cms_Form.editorId].insertHtml(cont);
  }
};
window.deleteContent = function(id) {
  $(".file-view").each(function() {
    //if (id == $(this).find("input[type=checkbox]").attr("value")) {
    //  $(this).remove();
    //}
    if (id == $(this).find(".file-id").attr("value")) {
      $(this).remove();
    }
  });
};

var options = {};
options.uploadUrl = function() {
  return "/.u" + <%= @cur_user.id %> + "/apis/temp_files.json?unnormalize=true";
};
var tempFile = new SS_Addon_TempFile(".upload-drop-area", <%= @cur_user.id %>, options);
<% end %>

<%= hidden_field_tag 'file_size', 'true', { id: 'show-file-size' } %>
<dl class="see webmail-addon-mail-file">
  <dd class="wide">
    <%= f.hidden_field "file_ids[]", value: "" %>
    <span class="upload-menu-new">
      <%= link_to t('ss.links.upload'), sns_apis_temp_files_path(@cur_user, unnormalize: true, file_size: true), class: "ajax-box btn" %>
    </span>
    <span class="upload-menu-select">
      <%= link_to t("sns.user_file"), sns_apis_user_files_path(@cur_user, unnormalize: true, file_size: true), class: "ajax-box btn" %>
    </span>
    <div class="upload-drop-area">
      <span class="upload-drop-notice"><%= t('ss.notice.file_droppable') %></span>
    </div>

    <div id="selected-files">
      <% @item.ref_files.each do |part| %>
        <div class="file-view" data-file-id="<%= part.try(:id) %>">
          <%= link_to(parts_webmail_mail_path(webmail_mode: @webmail_mode, account: params[:account] || @cur_user.imap_default_index, mailbox: @mailbox, section: part.section), target: part.link_target, class: :thumb) do %>
            <% if part.image? %>
              <%= image_tag parts_webmail_mail_path(webmail_mode: @webmail_mode, account: params[:account] || @cur_user.imap_default_index, mailbox: @mailbox, section: part.section), alt: part.filename %>
            <% else %>
              <% extname = File.extname(part.filename) %>
              <span class="ext icon-<%= extname %>"><%= extname %></span>
            <% end %>
          <% end %>

          <div class="name">
            <label>
              <input type="hidden" name="item[ref_file_ids][]" value="ref-<%= part.section %>" class="file-id" />
              <%= part.filename %>
            </label><br />
            <span class="file-size"><%= "( #{number_to_human_size(part.part.size)} )" %></span>
          </div>

          <div class="action">
            <%= link_to t("ss.buttons.delete"), "#", onclick: "deleteContent('ref-#{part.section}'); return false;" %>
          </div>
        </div>
      <% end %>

      <% @item.files.each do |file| %>
        <div class="file-view" data-file-id="<%= file.try(:id) %>">
          <%= link_to file.url, class: :thumb, target: "_blank" do %>
            <% if file.image? %>
              <%= image_tag file.thumb_url, alt: file.name %>
            <% else %>
              <span class="ext icon-<%= file.extname %>"><%= file.extname %></span>
            <% end %>
          <% end %>

          <div class="name">
            <label>
              <input type="hidden" name="item[file_ids][]" value="<%= file.id %>" class="file-id" />
              <%= file.name %>
            </label><br />
            <span class="file-size"><%= "( #{number_to_human_size(file.size)} )" %></span>
          </div>

          <div class="action">
            <%= link_to t("ss.buttons.delete"), "#", onclick: "deleteContent('#{file.id}'); return false;" %>
          </div>
        </div>
      <% end %>
    </div>
  </dd>
</dl>
