<nav class="nav-menu">
  <% if params[:action] =~ /index|summary/ %>
    <%= link_to t('ss.links.back_to_show'), gws_survey_editable_path(id: @cur_form) %>
    <%= link_to(t("gws/survey.send_notification_to_unanswered_users"), { action: :notification }) %>
  <% elsif params[:action] =~ /new|create|lock|download_all|notification/ %>
    <%= link_to t('ss.links.back_to_show'), gws_survey_editable_path(id: @cur_form) %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /destroy_all/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
