<div class="columns">
<% @items.each do |column, data| %>
  <dl class="column">
    <dt>
    <%= column.name %>
    <% if column.required == "required" %>
      <span class="required"><%= t('inquiry.required_field') %></span>
    <% end %>
    </dt>
    <dd>
    <% if confirm %>
      <% if data.kind_of? Hash %>
        <% data.each do |key, value| %>
          <% opt = {id: "#{f.object_name}_#{column.id}_#{key}" } %>
          <%= hidden_field_tag "#{f.object_name}[#{column.id}][#{key}]", value, opt %><%= value %><br />
        <% end %>
      <% else %>
        <%= f.hidden_field column.id, value: data %><%=br data %>
      <% end %>
    <% else %>
      <%= raw column.html %>
      <% if column.input_type =~ /(text_field|email_field|text_area)/  %>
        <% opt = { value: data } %>
        <% opt.merge!(column.additional_attr_to_h) %>
        <%= f.send(column.input_type, column.id, opt) %>
      <% elsif column.input_type =~ /select/ %>
        <% opt = column.additional_attr_to_h %>
        <%= f.send(column.input_type, column.id, column.select_options, { selected: data, include_blank: true }, opt) %>
      <% elsif column.input_type =~ /radio_button/ %>
        <% column.select_options.each_with_index do |value, i| %>
          <% opt = { id: "#{f.object_name}_#{column.id}_#{i}" } %>
          <% opt.merge!(column.additional_attr_to_h) %>          
          <% checked = (data == value) %>
          <%= send(column.input_type + "_tag", "#{f.object_name}[#{column.id}]", value, checked, opt) %>
          <%= label_tag "#{f.object_name}_#{column.id}_#{i}",  value %>
        <% end %>
      <% elsif column.input_type =~ /check_box/ %>
        <% column.select_options.each_with_index do |value, i| %>
          <% opt = column.additional_attr_to_h %>
          <% checked = data.try(:[], "#{i}") ? true : false %>
          <%= send(column.input_type + "_tag", "#{f.object_name}[#{column.id}][#{i}]", value, checked, opt) %>
          <%= label_tag "#{f.object_name}_#{column.id}_#{i}", value %>
        <% end %>
      <% end %>
    <% end %>
    </dd>
  </dl>
<% end %>
</div>
