<%= jquery do %>

  SS.ajaxForm("form.user-file", {
    success: function () {
      $("#cboxLoadedContent").load("<%= url_for(action: :index) %>");
    }
  });

  SS.ajax(".user-files .select", {
    success: function (data) {
      var dataFileId = $('<div>' + data + '</div>').find("[data-file-id]").attr("data-file-id");
      if (dataFileId) {
        $("#selected-files .file-view[data-file-id='" + dataFileId + "']").remove();
      }
      $("#selected-files").append(data);
      $.colorbox.close();
    }
  });

  SS.ajaxDelete(".user-files .delete");

  var $el = $("#ajax-box");
  $el.find(".pagination a").on("click", function (ev) {
    $el.find(".pagination").html(SS.loading);

    $.ajax({
      url: $(this).attr("href"),
      type: "GET",
      success: function (data) {
        $el.closest("#cboxLoadedContent").html(data);
      },
      error: function (data, status) {
        $el.find(".pagination").html("== Error ==");
      }
    });

    ev.preventDefault();
    return false;
  });

<% end %>

<% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
  <%= form_for :item, url: { action: :create }, html: { class: "user-file", multipart: true } do |f| %>
  <%= error_messages_for :item %>

    <div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd;">
      <%= f.file_field :in_files, multiple: :multiple, required: :required %>
      <%= f.select :resizing, @model.resizing_options, { include_blank: t("ss.resize_image") }, { class: "image-size" } %>
      <%= f.submit t("ss.buttons.save"), class: "save btn", style: "margin-left: 10px;" %>
    </div>

  <% end %>
<% end %>

<div class="index user-files">
  <% @items.each do |item| %>
  <article class="file-view" id="user-file<%= item.id %>" data-file-id="<%= item.id %>">
    <a class="thumb select" href="<%= url_for action: :select, id: item %>">
      <% if item.image? %>
      <img src="<%= url_for(action: :thumb, id: item, _: item.updated.to_i) %>" alt="<%= item.basename %>" />
      <% else %>
      <span class="ext icon-<%= item.extname %>"><%= item.extname %></span>
      <% end %>
    </a>
    <div class="name">
      <%= item.name %>
    </div>
    <nav class="menu">
      <% if item.allowed?(:delete, @cur_member, site: @cur_site) %>
        <%= link_to t("ss.buttons.delete"), { action: :destroy, id: item }, class: "delete", "data-remove" => "#user-file#{item.id}" %>
      <% end %>
    </nav>
  </article>
  <% end %>
</div>

<div style="clear: both;"></div>

<%= paginate @items if @items.try(:current_page) %>
