<%
  select_disp = @item.readable_setting_present? ? 'block' : ''
%>

<div class="cms-addon-readable-setting">
  <dl class="see">
    <dt><%= @model.t :readable_setting_range %></dt>
    <dd><%= @item.readable_setting_range_label %></dd>
  </dl>

  <div class="cms-addon-readable-setting-select" style="display: <%= select_disp %>">
    <dl class="see">

      <dt><%= @model.t :readable_group_ids %></dt>
      <dd><%=br @item.readable_group_names %></dd>

      <dt><%= @model.t :readable_member_ids %></dt>
      <dd><%=br @item.readable_member_names %></dd>
    </dl>
  </div>
</div>
