<nav class="menu">
  <a href="new/">新規作成</a>
</nav>

<table class="opendata-appfiles index">
  <thead>
    <tr>
      <th class="name">アプリファイル名</th>
      <th class="updated">更新日時</th>
      <th class="size">サイズ</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><a href="<%= "#{item.id}/" %>"><%= item.filename %></a></td>
      <td><%= l item.updated.to_date, format: :long %></td>
      <td><%= number_to_human_size item.size %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
