<% return if @item.entity_logs.blank? %>

<dl class="see mod-chorg-entity_log">
  <dt class="wide"></dt>
  <dd class="wide">
    <table class="index">
      <thead>
        <tr>
          <th><%= "区分" %></th>
          <th><%= "更新件数" %></th>
        </tr>
      </thead>
      <tbody>
      <% @item.entity_sites.each do |key, item| %>
        <tr>
          <td><%= link_to item["label"], url_for(controller: :entity_logs, action: :show_models, entity_site: key) %></td>
          <td><%= "#{item["count"]}件" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
  <dd class="wide">
    <%= link_to t("ss.links.download"), url_for(controller: :entity_logs, action: :download), class: "btn", method: :post %>
  </dd>
</dl>
