<dl class="see before_division">
  <dt><%= t "chorg.views.#{params[:type]}_changesets.before_division" %></dt>
  <dd></dd>
  <dt><%= t "chorg.views.#{params[:type]}_changesets.name" %><%= tt "chorg.views.#{params[:type]}_changesets.before_name" %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[sources][][id]", "", id: nil, class: "hidden-ids" %>
    <%= link_to t("chorg.views.#{params[:type]}_changesets.select_group"), gws_apis_groups_path(single: 1), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Cms::Group.t :name %></th>
        <th style="width: 7.5em;"></th>
      </tr>
      </thead>
      <tbody>
      <% source = @item.sources.try(:first) %>
      <% if source.present? %>
        <tr data-id="<%= source["id"] %>">
          <td><%= hidden_field_tag "#{f.object_name}[sources][][id]", source["id"], id: nil %> <%= source["name"] %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

<dl class="see after_division">
  <dt><%= t "chorg.views.#{params[:type]}_changesets.after_division", count: 0 %></dt>
  <dd></dd>
  <% 1.upto(SS.config.chorg.max_division) do |index| %>
    <dt><%= t "chorg.views.#{params[:type]}_changesets.after_division", count: index %></dt>
    <dd></dd>
    <% @model::GROUP_ATTRIBUTES.each do |k| %>
      <dt><%= t "chorg.views.#{params[:type]}_changesets.#{k}" %><%= tt "chorg.views.#{params[:type]}_changesets.#{k}" %></dt>
      <dd><%= text_field_tag "item[destinations][][#{k}]", "", id: "item_destinations_#{index - 1}_#{k}", value: @item.destinations.try(:send, :[], index - 1).try(:send, :[], k) %></dd>
    <% end %>
  <% end %>
</dl>
