<%= scss do %>
.ads-total {
  overflow-x: auto;
  padding: 0px 0px 10px;
  table {
    caption {
      font-size: 120%;;
      text-align: left;
    }
    th, td {
      //overflow-x: visible;
      //text-overflow: clip;
      white-space: nowrap;
    }
    thead th {
      text-align: center;
    }
    tbody td {
      text-align: right;
    }
  }
}
<% end %>
<%= render "search" %>

<div class="ads-total">
  <table class="see">
    <caption>
      <%= "#{@year}#{t('datetime.prompts.year')}" %>
      <%= "#{@month}#{t('datetime.prompts.month')}" if @month %>
    </caption>
    <thead>
      <tr>
        <th><%= t("mongoid.attributes.ads/access_log.link_url") %></th>
        <% (1..@max_cell).each do |day| %>
        <th><%= day %></th>
        <% end %>
        <th><%= t("ads.total") %></th>
      </tr>
    </thead>

    <tbody>
      <% @totals.each do |link_url, counts| %>
      <% total = 0 %>
      <tr>
        <th><%= link_url %></th>
        <% (1..@max_cell).each do |day| %>
        <% total += counts[day].to_i %>
        <td><%= counts[day].to_i %></td>
        <% end %>
        <td><%= total %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

