<%
  reminder_conditions = @item.reminder_conditions(@cur_user)
  reminder_conditions = @item.in_reminder_conditions if @item.in_reminder_conditions
  reminder_conditions = reminder_conditions.select { |cond| cond["state"] != "disabled" }
%>

<%= jquery do %>
  var toggleConditions = function() {
    if ($("#addon-basic #item_allday").prop('checked')) {
      $("#reminder-conditions-allday").show();
      $("#reminder-conditions").hide();

      $("#reminder-conditions [name]").each(function() {
        $(this).attr("name", "");
      });
      $("#reminder-conditions-allday [name]").each(function() {
        $(this).attr("name", $(this).attr("data-name"));
      });
    }
    else {
      $("#reminder-conditions-allday").hide();
      $("#reminder-conditions").show();

      $("#reminder-conditions [name]").each(function() {
        $(this).attr("name", $(this).attr("data-name"));
      });
      $("#reminder-conditions-allday [name]").each(function() {
        $(this).attr("name", "");
      });
    }
  };
  $("#addon-basic #item_allday").on("click", toggleConditions);
  toggleConditions();

  var setIntervalStep = function(ele) {
    if ($(ele).val() == "minutes"){
      $(ele).closest("tr").find(".interval").attr("step", 10);
    }
    else {
      $(ele).closest("tr").find(".interval").attr("step", 1);
    }
  };
  var changeIntervalStep = function(newItem) {
    $(newItem).find(".interval_type").change(function() {
      setIntervalStep(this);
    });
  };
  var sort1 = new SS_SortableForm('#reminder-conditions', { limit: 5, onInsert: changeIntervalStep });
  var sort2 = new SS_SortableForm('#reminder-conditions-allday', { limit: 5, onInsert: changeIntervalStep });

  <% if @item.allday == "allday" %>
  sort2.renderItems(<%== reminder_conditions.to_json %>);
  <% else %>
  sort1.renderItems(<%== reminder_conditions.to_json %>);
  <% end %>

  $(".gws-addon-reminder table tr").each(function() { changeIntervalStep(this); });
  $(".gws-addon-reminder table tr .interval_type").each(function() { setIntervalStep(this); });
<% end %>

<dl class="see gws-addon-reminder">
  <dt>
    <%= @model.t :reminder_date %><%= @model.tt :reminder_date %>
  </dt>
  <dd>
    <table id="reminder-conditions" class="reminder-conditions">
      <tbody>
      <tr data-base="true">
        <td>
          <%= select_tag 'item[in_reminder_conditions][][state]', options_for_select(@item.reminder_notify_state_options),
            'class' => 'state', 'data-name' => 'item[in_reminder_conditions][][state]' %>
        </td>
        <td>
          <%= number_field_tag 'item[in_reminder_conditions][][interval]', 10, step: 10, min: 0,
            'class' => 'interval', 'data-name' => 'item[in_reminder_conditions][][interval]' %>
        </td>
        <td>
          <%= select_tag 'item[in_reminder_conditions][][interval_type]', options_for_select(@item.reminder_interval_type_options),
            'class' => 'interval_type', 'data-name' => 'item[in_reminder_conditions][][interval_type]' %>
        </td>
      </tr>
      </tbody>
    </table>

    <table id="reminder-conditions-allday" class="reminder-conditions">
      <tbody>
      <tr data-base="true">
        <td>
          <%= select_tag 'item[in_reminder_conditions][][state]', options_for_select(@item.reminder_notify_state_options),
            'class' => 'state', 'data-name' => 'item[in_reminder_conditions][][state]' %>
        </td>
        <td>
          <%= number_field_tag 'item[in_reminder_conditions][][interval]', 1, step: 1, min: 0,
            'class' => 'interval', 'data-name' => 'item[in_reminder_conditions][][interval]' %>
        </td>
        <td>
          <%= select_tag 'item[in_reminder_conditions][][interval_type]', options_for_select(@item.reminder_interval_type_allday_options),
            'class' => 'interval_type', 'data-name' => 'item[in_reminder_conditions][][interval_type]' %>
        </td>
        <td>
          <%= select_tag 'item[in_reminder_conditions][][base_time]', options_for_select(@item.reminder_base_time_options),
            'class' => 'base_time', 'data-name' => 'item[in_reminder_conditions][][base_time]' %>
        </td>
      </tr>
      </tbody>
    </table>
  </dd>
</dl>
