<%= jquery do %>
  //$(".addon-views").prepend($(".gws-addon-reminder").closest(".addon-view"));
  Gws_Reminder.renderAddon({ url: "<%= gws_apis_reminders_path %>" });
<% end %>

<dl class="see gws-addon-reminder">
  <dt>
    <%= hidden_field_tag "item_name", @item.reference_name %>
    <%= hidden_field_tag "item_model", @item.reference_model %>
    <%= hidden_field_tag "item_id", @item.id %>
    <span class="gws-addon-reminder-label">
      <%= @item.reminder(@cur_user) ? t("gws.reminder.states.entry") : t("gws.reminder.states.empty") %>
    </span>
    <%= @model.tt :reminder_date %>
  </dt>
  <dd>
    <%= text_field_tag "item_date", tryb { @item.in_reminder_date.strftime("%Y/%m/%d %H:%M") }, class: "datetime js-datetime" %>
    <%= button_tag t("gws.buttons.register"), id: "gws-addon-reminder-set", class: :btn %>
    <%= button_tag t("gws.buttons.unset"), id: "gws-addon-reminder-unset", class: :btn %>
  </dd>
</dl>
