<%= javascript_include_tag "/assets/js/fullcalendar/ja.js" %>

<%#= render "search" %>

<%= jquery do %>
$('#calendar').fullCalendar({
  <%= calendar_default_options_js %>,
  <%= calendar_editable_options_js %>,
  header: { right: 'today prev month,basicWeek,agendaDay next' },
  eventSources: [{ url: '<%= url_for action: :index, format: :json %>' }],
});
<% end %>

<div class="main-box schedule-calendar">
  <header><h2><%= @facility.name %></h2></header>
  <div id="calendar" class="calendar"></div>
</div>
