<%
  calendar_options  = {
    tapMenu: @facility.reservable?(@cur_user),
    restUrl: url_for(action: :index),
    eventSources: [{ url: "#{url_for(action: :events, format: :json)}?#{search_query}" }],
    firstDay: @cur_site.schedule_first_day,
    minTime: @cur_site.facility_min_time,
    maxTime: @cur_site.facility_max_time
  }
  init_options = params[:calendar] || {}
%>
<%= jquery do %>
  $(document).on("gws:calendarInitialized", function() {
    Gws_Schedule_Calendar.render('#calendar', <%== calendar_options.to_json %>, <%== init_options.to_json %>);
  });
<% end %>

<%= render "gws/schedule/main/tabs" %>

<section class="main-box gws-schedule-box">
  <header>
    <h2>
      <%= @facility.name %>
      <% if @facility.approval_check? %>
        <span class="approval-check"><%= t("gws/facility.views.required_approval") %></span>
      <% end %>
      <% if @facility.reservable?(@cur_user) %>
        <%= link_to t('gws/schedule.links.add_plan'), { action: :new }, { class: 'add-plan' } %>
      <% end %>
    </h2>
    <nav class="calendar-menu">
      <%= render template: '_search' %>
    </nav>
  </header>
  <div id="calendar" class="calendar"></div>
</section>
