<%= jquery do %>
  //SS_AddonTabs.hide(".gws-schedule-facility");

  $("#item_facility_ids").multiSelect({
    selectableHeader: "<div class='ms-selectable-head'><%= t "views.multi_select.selectable_head" %></div>",
    selectionHeader: "<div class='ms-selection-head'><%= t "views.multi_select.selection_head" %></div>",
  });
<% end %>

<dl class="see gws-schedule-facility">
  <dt><%= @model.t :facility_ids %><%= @model.tt :facility_ids %></dt>
  <dd>
    <%= f.select :facility_ids, Gws::Facility.site(@cur_site).map { |c| [c.name, c.id] }, {},
      { multiple: true, size: 5, style: "min-width: 300px" } %>
  </dd>
</dl>
