<%= jquery do %>
$(document).on('click', 'button#create-table-<%= table_name %>', function () {
  var table_editor = $('#table-editor-<%= table_name %>');
  var width = parseInt($('#width-<%= table_name %>').val());
  var height = parseInt($('#height-<%= table_name %>').val());
  var header = $('#header-<%= table_name %>').val();
  var table = $('<table></table>')
  var caption = $("<caption></caption>")
  var tbody = $("<tbody></tbody>")
  var tr = "";
  for (var i=0; i<height; i++) {
    tr = tr + "<tr>";
    for (var j=0; j<width; j++) {
      if (header == "top"){
        if (i == 0) {
          tr = tr + "<th scope='col'></th>";
        }else{
          tr = tr + "<td></td>";
        }
      }else if (header == "left"){
        if (j == 0) {
          tr = tr + "<th scope='row'></th>";
        }else{
          tr = tr + "<td></td>";
        }
      }else if (header == "top-left"){
        if (i == 0) {
          tr = tr + "<th scope='col'></th>";
        }else if (j == 0) {
          tr = tr + "<th scope='row'></th>";
        }else {
          tr = tr + "<td></td>";
        }
      }else{
        tr = tr + "<td></td>";
      }
    }
    tr = tr + "</tr>";
  }

  tbody.append(tr);
  table.append(caption);
  table.append(tbody);

  table_editor.html(table);
  addControllTable();
  updateHidden();
});

$(document).on('click', '#table-editor-<%= table_name %> td, #table-editor-<%= table_name %> th', function (e) {
  var editable = $(this);

  if (editable.hasClass("controll")){
    if (editable.hasClass("controll-top")){
      var tableMenu = $('#table-menu-top-<%= table_name %>');
    } else if(editable.hasClass("controll-left")) {
      var tableMenu = $('#table-menu-left-<%= table_name %>');
    } else {
      return false;
    }
    var tableEditor = $('#table-editor-<%= table_name %>');
    $('.table-menu').removeClass('show');
    tableMenu.addClass('show');
    tableMenu.offset({
      top: e.pageY,
      left: e.pageX
    })
    tableDom = $(this);
  } else {
    editable.addClass("edited");

    // セルをクリックしたら取得したセルの値をtextareaに追加してセル内にtextareaを挿入
    editable.html('<textarea style="width:100px;">' + editable.html() + '</textarea>').find('textarea')
        .focus()
        .on('blur', function () {
          // フォーカスが外れた時、セルに値を追加して不要なtextareaを削除
          editable.append($(this).val());
          editable.find('textarea').remove();
          editable.removeClass("edited");
          updateHidden();
        })
        .on('click', function (e) {
          e.stopPropagation();
        });
  }
});

$(document).click(function(event) {
  if(!$(event.target).closest('.controll').length) {
    var tableMenu = $('.table-menu');
    if(tableMenu.hasClass('show')) {
      tableMenu.removeClass('show');
    }
  }
});

$(document).on('click', '#table-menu-<%= table_name %> #change-th', function (){
  tableDom.replaceWith("<th>"+ tableDom.html() +"</th>");
});

$(document).on('click', '#table-menu-<%= table_name %> #change-td', function (){
  tableDom.replaceWith("<td>"+ tableDom.html() +"</td>");
});

$(document).on('click', '#table-menu-left-<%= table_name %> #remove-tr', function (){
  tableDom.parent().remove();
});

$(document).on('click', '#table-menu-top-<%= table_name %> #remove-tds', function (){
  var cellIndex = tableDom[0].cellIndex;
  var table = tableDom.parent().parent();
  for (var i=0; i<table[0].rows.length; i++){
    table[0].rows[i].cells[cellIndex].remove();
  }
});

$(document).on('click', '#table-menu-left-<%= table_name %> #append-top', function (){
  var table = tableDom.parent().parent();
  var columnNum = table[0].rows[0].cells.length;
  var parent = tableDom.parent();
  removeControllTable();
  var newTr = "<tr>";
  for (var i=0; i<columnNum-1; i++) {
    newTr = newTr + "<td></td>";
  }
  newTr = newTr + "</tr>";
  parent.before(newTr);
  addControllTable();
});

$(document).on('click', '#table-menu-left-<%= table_name %> #append-bottom', function (){
  var table = tableDom.parent().parent();
  var columnNum = table[0].rows[0].cells.length;
  var parent = tableDom.parent();
  removeControllTable();
  var newTr = "<tr>";
  for (var i=0; i<columnNum-1; i++) {
    newTr = newTr + "<td></td>";
  }
  newTr = newTr + "</tr>";
  parent.after(newTr);
  addControllTable();
});

$(document).on('click', '#table-menu-top-<%= table_name %> #append-right', function (){
  var cellIndex = tableDom[0].cellIndex-1;
  var table = tableDom.parent().parent();
  removeControllTable();
  for (var i=1; i<table[0].rows.length; i++){
    if (table[0].rows[i].cells[cellIndex].tagName == "TH") {
      $(table[0].rows[i].cells[cellIndex]).after("<th scope='"+ table[0].rows[i].cells[cellIndex].scope +"'></th>");
    }else{
      $(table[0].rows[i].cells[cellIndex]).after("<td></td>");
    }
  }
  addControllTable();
});

$(document).on('click', '#table-menu-top-<%= table_name %> #append-left', function (){
  var cellIndex = tableDom[0].cellIndex-1;
  var table = tableDom.parent().parent();
  removeControllTable();
  for (var i=1; i<table[0].rows.length; i++){
    if (table[0].rows[i].cells[cellIndex].tagName == "TH") {
      $(table[0].rows[i].cells[cellIndex]).before("<th scope='"+ table[0].rows[i].cells[cellIndex].scope +"'></th>");
    }else{
      $(table[0].rows[i].cells[cellIndex]).before("<td></td>");
    }
  }
  addControllTable();
});

$(document).on('change', '#caption-<%= table_name %>', function (){
  var caption = $('#table-editor-<%= table_name %> caption');
  caption.text($(this).val());
  updateHidden();
});

function updateHidden(){
  removeControllTable();
  $('#hidden-value-<%= table_name %>').val($('#table-editor-<%= table_name %>').html());
  addControllTable();
};

function addControllTable(){
  $("#table-editor-<%= table_name %> table tr:empty").remove();
  var table = $('#table-editor-<%= table_name %> table');
  if (!table[0]){
    return false;
  }
  var tr = $('<tr></tr>')
  for (var i=0; i<table[0].rows.length; i++){
    $(table[0].rows[i].cells[0]).before("<th class='controll controll-left'></th>");
  }
  for (var j=0; j<table[0].rows[0].cells.length; j++){
    if (j == 0){
      tr.append("<th class='controll'></th>");
    } else {
      tr.append("<th class='controll controll-top'></th>");
    }
  }
  $('#table-editor-<%= table_name %> tbody').prepend(tr);
}

function removeControllTable(){
  $('#table-editor-<%= table_name %> table .controll').each(function(index, element){
    element.remove();
  });
}

function getCaption(){
  var caption = $('#table-editor-<%= table_name %> caption');
  if (caption){
    $('#caption-<%= table_name %>').val(caption.text());
  }
}

$(function(){
  getCaption();
  addControllTable();
});

<% end %>
