<%= jquery do %>
$(document).on('click', 'button#create-table-<%= table_name %>', function () {
  var table_editor = $('#table-editor-<%= table_name %>');
  var width = parseInt($('#width-<%= table_name %>').val());
  var height = parseInt($('#height-<%= table_name %>').val());
  var header = $('#header-<%= table_name %>').val();
  var table = $('<table></table>')
  var tbody = $("<tbody></tbody>")
  var tr = "";
  for (var i=0; i<height; i++) {
    tr = tr + "<tr>";
    for (var j=0; j<width; j++) {
      if (header == "top"){
        if (i == 0) {
          tr = tr + "<th></th>";
        }else{
          tr = tr + "<td></td>";
        }
      }else if (header == "left"){
        if (j == 0) {
          tr = tr + "<th></th>";
        }else{
          tr = tr + "<td></td>";
        }
      }else if (header == "top-left"){
        if (j == 0 || i == 0) {
          tr = tr + "<th></th>";
        }else{
          tr = tr + "<td></td>";
        }
      }else{
        tr = tr + "<td></td>";
      }
    }
    tr = tr + "</tr>";
  }

  tbody.append(tr)
  table.append(tbody);

  table_editor.html(table);
});

$(document).on('click', '#table-editor-<%= table_name %> td, #table-editor-<%= table_name %> th', function () {
  var editable = $(this);

  // セルをクリックしたら取得したセルの値をtextareaに追加してセル内にtextareaを挿入
  editable.html('<textarea style="width:100%">' + editable.html() + '</textarea>').find('textarea')
      .focus()
      .on('blur', function () {
        // フォーカスが外れた時、セルに値を追加して不要なtextareaを削除
        editable.append($(this).val());
        editable.find('textarea').remove();
      })
      .on('click', function (e) {
        e.stopPropagation();
      });
});

$(document).on('contextmenu', '#table-editor-<%= table_name %> td, #table-editor-<%= table_name %> th', function (e){
  var tableMenu = $('#table-menu-<%= table_name %>');
  var tableEditor = $('#table-editor-<%= table_name %>');
  tableMenu.addClass('show');
  tableMenu.offset({
    top: e.pageY,
    left: e.pageX
  })
  tableDom = $(this);
});

$(document).on('click', 'body', function (){
  var tableMenu = $('#table-menu-<%= table_name %>');
  if(tableMenu.hasClass('show')) {
    tableMenu.removeClass('show');
  }
});

$(document).on('click', '#table-menu-<%= table_name %> #change-th', function (){
  tableDom.replaceWith("<th>"+ tableDom.html() +"</th>");
});

$(document).on('click', '#table-menu-<%= table_name %> #change-td', function (){
  tableDom.replaceWith("<td>"+ tableDom.html() +"</td>");
});

$(document).on('click', '#table-menu-<%= table_name %> #remove-tr', function (){
  tableDom.parent().remove();
});

$(document).on('click', '#table-menu-<%= table_name %> #remove-tds', function (){
  var cellIndex = tableDom[0].cellIndex;
  var table = tableDom.parent().parent();
  for (var i=0; i<table[0].rows.length; i++){
    table[0].rows[i].cells[cellIndex].remove();
  }
});

$(document).on('click', '#table-menu-<%= table_name %> #append-top', function (){
  var table = tableDom.parent().parent();
  var columnNum = table[0].rows[0].cells.length;
  var newTr = "<tr>";
  for (var i=0; i<columnNum; i++) {
    newTr = newTr + "<td></td>";
  }
  newTr = newTr + "</tr>";
  tableDom.parent().before(newTr);
});

$(document).on('click', '#table-menu-<%= table_name %> #append-bottom', function (){
  var table = tableDom.parent().parent();
  var columnNum = table[0].rows[0].cells.length;
  var newTr = "<tr>";
  for (var i=0; i<columnNum; i++) {
    newTr = newTr + "<td></td>";
  }
  newTr = newTr + "</tr>";
  tableDom.parent().after(newTr);
});

$(document).on('click', '#table-menu-<%= table_name %> #append-right', function (){
  var cellIndex = tableDom[0].cellIndex;
  var table = tableDom.parent().parent();
  for (var i=0; i<table[0].rows.length; i++){
    if (table[0].rows[i].cells[cellIndex].tagName == "TH") {
      $(table[0].rows[i].cells[cellIndex]).after("<th></th>");
    }else{
      $(table[0].rows[i].cells[cellIndex]).after("<td></td>");
    }
  }
});

$(document).on('click', '#table-menu-<%= table_name %> #append-left', function (){
  var cellIndex = tableDom[0].cellIndex;
  var table = tableDom.parent().parent();
  for (var i=0; i<table[0].rows.length; i++){
    if (table[0].rows[i].cells[cellIndex].tagName == "TH") {
      $(table[0].rows[i].cells[cellIndex]).before("<th></th>");
    }else{
      $(table[0].rows[i].cells[cellIndex]).before("<td></td>");
    }
  }
});

$(document).on('DOMSubtreeModified propertychange', '#table-editor-<%= table_name %>', function (){
  $('#hidden-value-<%= table_name %>').val($('#table-editor-<%= table_name %>').html());
});

<% end %>
