<dl class="see">
  <dt><%= @model.t :board_category_ids %></dt>
  <dd>
    <% @item.board_categories.each do |category| %>
      <% next unless category %>
      <span class="gws-category-label" style="<%= category_label_css(category) %>"><%= category.trailing_name %></span>
    <% end %>
  </dd>

  <dt><%= @model.t :limit %></dt>
  <dd><%= @item.limit %></dd>
</dl>
