<div class="list-head">
  <label class="check"><input type="checkbox"/></label>

  <div class="list-head-action">
    <%= render template: "_list_head_tags" %>
    <div class="list-head-action-destroy">
      <%= ss_button_to t("ss.links.delete"), url_for(action: :soft_delete_all), class: "soft-delete-all btn btn-list-head-action", method: "post", confirm: t('ss.confirm.soft_delete') %>
      <%= ss_button_to t("ss.buttons.csv"), url_for(action: :download_all_comments), class: "btn btn-download btn-list-head-action", method: "post", confirm: t("ss.confirm.download") %>
      <%= ss_button_to t("gws/survey.buttons.zip_all_files"), url_for(action: :download_all_attachments), class: "btn btn-download btn-list-head-action", method: "post", confirm: t("ss.confirm.download") %>
    </div>
  </div>

  <%= render template: "_search" %>
</div>
