<div class="list-head">
  <label class="check"><input type="checkbox" /></label>

  <div class="list-head-action">
    <%= render file: "_list_head_tags" %>
    <div class="list-head-action-destroy">
      <button class="soft-delete-all btn" data-ss-list-head-method="post" data-ss-list-head-action="<%= url_for(action: :soft_delete_all) %>" data-ss-confirmation="<%= t('ss.confirm.soft_delete') %>"><%= t :"ss.links.delete" %></button>
    </div>
  </div>

  <div class="operations">
    <button class="btn btn-download" data-ss-list-head-method="post" data-ss-list-head-action="<%= url_for(action: :download_all_comments) %>" data-ss-confirmation="<%= t("ss.confirm.download") %>"><%= t("ss.buttons.csv") %></button>
    <button class="btn btn-download" data-ss-list-head-method="post" data-ss-list-head-action="<%= url_for(action: :download_all_attachments) %>" data-ss-confirmation="<%= t("ss.confirm.download") %>"><%= t("gws/survey.buttons.zip_all_files") %></button>
  </div>

  <%= render file: "_search" %>
</div>
