<% form_limit = 50 %>
<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site) %>
      <% if @forms.present? %>
        <%= dropdown_link(t('ss.links.new')) do %>
          <%= link_to(t('gws/workflow.forms.default'), new_gws_workflow_form_file_path(form_id: 'default'), class: 'dropdown-item') %>
          <% @forms.limit(form_limit).each do |form| %>
            <%= link_to(form.name, new_gws_workflow_form_file_path(form_id: form), class: 'dropdown-item') %>
          <% end %>
          <%= link_to(t('gws/workflow.forms.more'), new_gws_workflow_file_path, class: 'dropdown-item more-forms') %>
        <% end %>
      <% else %>
        <%= link_to(t('ss.links.new'), new_gws_workflow_form_file_path(form_id: 'default')) %>
      <% end %>
    <% end %>
  <% elsif params[:action] =~ /new|create|lock/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete|move|copy|soft_delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <%= link_to t('ss.links.print'), action: :print %>
    <% if @item.editable?(@cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.edit'), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.copy'), action: :copy, id: @item %>
    <% end %>
    <% if @item.destroyable?(@cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :soft_delete, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
