<% @tap_menu = proc do |item| %>
  <%= link_to(t('ss.links.show'), action: :show, id: item) if item.readable?(@cur_user, site: @cur_site) %>
  <%= link_to(t('ss.links.edit'), action: :edit, id: item) if item.editable?(@cur_user, site: @cur_site) %>
  <%= link_to(t('ss.links.copy'), action: :copy, id: item) if item.allowed?(:edit, @cur_user, site: @cur_site) %>
  <%= link_to(t('ss.links.delete'), action: :soft_delete, id: item) if item.destroyable?(@cur_user, site: @cur_site) %>

  <% if item.try(:image) %>
    <%= link_to image_tag(item.image.thumb_url), item.image.url, { class: "thumb", target: "_blank" } %>
  <% elsif item.try(:image?) %>
    <%= link_to image_tag(item.thumb_url), item.url, { class: "thumb", target: "_blank" } %>
  <% end %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to item.name, { action: :show, id: item }, class: "title" %>
  <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="state"><%= t "ss.state.#{item.status}" %></span>
  <% if item.form.present? %>
  <span class="form"><%= t('gws/workflow.labels.form') %>: <%= item.form.name %></span>
  <% end %>
  <span class="user"><%= t('gws/workflow.labels.user') %>: <%= item.user_name %></span>
<% end %>

<div class="gws-workflow">
  <%= render file: 'gws/crud/index' %>
</div>
