<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @topic.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t("gws/discussion.links.topic.edit"), edit_gws_discussion_forum_topic_path(forum_id: @forum.id, id: @topic.id) %>
    <% end %>
    <% if @topic.allowed?(:edit, @cur_user, site: @cur_site) %>
      <%= link_to t("gws/discussion.links.topic.copy"), copy_gws_discussion_forum_topic_path(forum_id: @forum.id, id: @topic.id) %>
    <% end %>
    <% if @topic.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t("gws/discussion.links.topic.delete"), delete_gws_discussion_forum_topic_path(forum_id: @forum.id, id: @topic.id) %>
    <% end %>
    <%= link_to t('ss.links.back'), gws_discussion_forum_topics_path(forum_id: @forum.id) %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <%= link_to(t('ss.links.back'), { action: :index }, class: "back-to-index") %>
  <% else %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site) %>
      <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
    <% end %>
  <% end %>
 </nav>
