<%= jquery do %>
  Gws_Discussion_Thread.render(<%= @cur_user.id %>);
  <% if @cur_site.discussion_unseen_interval.present? %>
  Gws_Discussion_Unseen.renderUnseen(
    "<%= gws_discussion_apis_unseen_path(id: @topic.id) %>",
    <%= @cur_site.discussion_unseen_interval %>,
    <%= @topic.descendants_updated.to_i %>
  );
  <% end %>

  var highlighter = new Gws_Elasticsearch_Highlighter();
  highlighter.render();
<% end %>

<p class="gws-discussion-unseen" style="display: none; padding-bottom: 10px;">
  <%= link_to t("gws/discussion.notice.reload"), { action: :index } %>
</p>

<div class="gws-discussion">
  <%= form_for :item, url: { action: :reply, id: @topic.id }, html: { method: :put, multipart: true, autocomplete: :off } do |f| %>
    <%= render partial: 'gws/discussion/topics/thread', locals: { f: f, topic: @topic, limit: 0, reply_menu: false } %>
  <% end %>
</div>
