<dl class="see mypage-setting">
  <dt><%= @model.t :show_point %><%= @model.tt :show_point %></dt>
  <dd><%= f.select :show_point, @item.show_point_options, include_blank: true %></dd>

  <dt><%= @model.t :show_tabs %><%= @model.tt :show_tabs %></dt>
  <dd>
    <% %w(released popular attention).each do |option| %>
      <% value = @item.show_tab?(option) %>
      <% id = "#{f.object_name}_show_tabs_#{option}" %>
      <label for="<%= "#{f.object_name}_show_tabs_#{option}" %>">
        <%= check_box_tag "#{f.object_name}[show_tabs][]", option, value, { id: id } %>
        <%= t("opendata.sort_options.#{option}") %>
      </label>
    <% end %>
  </dd>
</dl>
