<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.restore'), action: :undo_delete, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
  <%= link_to t('ss.links.delete'), action: :delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
<% end %>

<% @index_title = proc do |item| %>
  <%= link_to item.data['name'], { action: :show, id: item }, class: "title" %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <span class="filename"><%= item.data['filename'] %></span>
  <% if item.data['route'].present? %>
    <span class="route"><%= t "modules.#{item.data['route'].sub(/\/.*/, '')}" %></span>
  <% elsif item.data['owner_item_type'].present? %>
    <span class="route"><%= t "modules.#{item.data['owner_item_type'].downcase.sub!(/:.*/, "")}" %></span>
  <% end %>
  <span class="user"><%= item.user.try(:name) %></span>
<% end %>

<%= render file: "cms/crud/index" %>