<%= form_for :item, url: { action: :undo_delete }, html: { method: :delete, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= t('ss.confirm.restore') %></h2></div>
      <div class="addon-body">
        <dl class="see">
          <dt><%= @item.model.t(:name) %></dt>
          <dd><%= @item.data[:name] %></dd>

          <% if @item.ref_coll =~ /cms_nodes|cms_pages|cms_parts|cms_layouts/ %>
            <dt><%= @model.t(:parent) %></dt>
            <dd><%= select_tag "#{f.object_name}[parent]", options_for_select(@item.target_options) %></dd>
          <% end %>

          <% if @item.ref_coll == 'cms_nodes' %>
            <dt><%= @model.t(:children) %></dt>
            <dd><%= select_tag "#{f.object_name}[children]", options_for_select(@item.target_options) %></dd>
          <% end %>

          <% if @item.data[:state].present? %>
            <dt><%= @model.t(:state) %></dt>
            <dd><%= select_tag "#{f.object_name}[state]", options_for_select(@item.state_options) %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

  <footer class="send">
    <%= f.submit t('ss.buttons.restore'), class: 'btn-primary save' %>
    <%= f.button t('ss.buttons.cancel'), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
  </footer>
<% end %>
