<header>
  <h1 class="name"><%= @cur_page.send :name %></h1>
</header>

<div class="point">
  <div class="count">
    <span class="number"><%= @cur_page.send :point %><span>
    <span class="label">いいね！数</span>
  </div>
  <%= link_to "いいね！", "#", class: "add" %>
</div>

<div class="text">
  <%=br @cur_page.send :text %>
</div>

<nav class="categories">
  <% @cur_page.categories.each do |c| %>
    <%= link_to c.name, @search_url + "?s[category_id]=#{c.id}", class: "category" %>
  <% end %>
  <% @cur_page.areas.each do |c| %>
    <%= link_to c.name, @search_url + "?s[area_id]=#{c.id}", class: "area" %>
  <% end %>
  <% @cur_page.tags.each do |c| %>
    <%= link_to c, @search_url + "?s[tag]=#{c}", class: "tag" %>
  <% end %>
</nav>

<div class="detail">
  <nav>
    <%= link_to "データ作品の情報", "#", class: "info" %>
    <%= link_to "データの内容", "#", class: "data" %>
    <%= link_to "アプリ", "#", class: "app" %>
    <%= link_to "アイデア", "#", class: "idea" %>
  </nav>

  <section class="info">
    <div class="download">
      <div class="license">
        <%= @cur_page.send :license %>
      </div>
      <div class="resources">
        <% @cur_page.resources.each do |rs| %>
        <div class="name format-<%= rs.format.downcase %>">
          <%= rs.name %>
          (<%= rs.format %> <%= number_to_human_size(rs.size) %>)
        </div>
        <div><%= link_to "ダウンロード", rs.url, class: "download" %></div>
        <div class="text"><%= rs.text %></div>
        <% end %>
      </div>
    </div>

    <dl class="author">
      <% if @cur_page.member_id.present? %>
        <dt><%= @cur_page.t :member_id %></dt>
        <dd><%= tryb{@cur_page.member.name} %></dd>
      <% else %>
        <dt><%= @cur_page.t :user_id %></dt>
        <dd><%= tryb{@cur_page.user.name} %></dd>
      <% end %>

      <dt><%= @cur_page.t :related_url %></dt>
      <dd><%= @cur_page.send :related_url %></dd>

      <dt><%= @cur_page.t :downloaded %></dt>
      <dd><%= @cur_page.send :downloaded %> 回</dd>

      <dt><%= @cur_page.t :updated %></dt>
      <dd><%= tryb{@cur_page.updated.strftime("%Y年%m月%1d日")} %></dd>
    </dl>
</div>
