<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.new'), action: :new %>
      <%= link_to t('ss.links.download'), action: :download %>
    <% end %>
    <% if @model.allowed?(:import, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.import'), action: :import %>
    <% end %>
  <% elsif params[:action] =~ /new|create/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.back_to_show'), action: :show, id: @item %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% elsif params[:action] =~ /import/ %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t("facility.edit_page"), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t('ss.links.delete'), action: :delete, id: @item %>
    <% end %>
    <% if @cur_site.mobile_enabled? %>
      <%= link_to t('ss.links.pc_preview'), cms_preview_path(path: @item.preview_path), target: :_blank %>
      <%= link_to(t('ss.links.mobile_preview'), cms_preview_path(path: @item.mobile_preview_path), target: :_blank) %>
    <% else %>
      <%= link_to t('ss.links.preview'), cms_preview_path(path: @item.preview_path), target: :_blank %>
    <% end %>
    <%= link_to t('ss.links.back_to_index'), action: :index %>
  <% end %>
</nav>
