<div class="index">
  <%= render file: "_list_head" %>

  <ul class="list-items">
    <% if @cur_node %>
      <li class="list-item">
        <div class="info">
          <% link = @cur_node.parent ? { cid: @cur_node.parent } : cms_nodes_path %>
          <%= link_to :parent_directory, link, class: "up" %>
        </div>
      </li>
    <% end %>

    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <%= link_to :show, action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
        <%= link_to :edit, action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
        <%= link_to :delete, action: :delete, id: item  if item.allowed?(:delete, @cur_user, site: @cur_site) %>
        <% if @model.collection_name =~ /^cms_(nodes|pages)$/ %>
        <%= link_to :view_site, item.full_url, target: :_blank if item.public? %>
          <% if @cur_site.mobile_enabled? %>
            <%= link_to :pc_preview, cms_preview_path(path: item.filename), target: :_blank %>
            <%= link_to(:mobile_preview, cms_mobile_preview_path(path: item.filename), target: :_blank) %>
          <% else %>
            <%= link_to :preview, cms_preview_path(path: item.filename), target: :_blank %>
          <% end %>
        <% end %>
        <% if item.try(:image?) %>
          <%= link_to image_tag(url_for(action: :thumb, id: item.id)),
            { action: :view, id: item.id }, { class: "thumb", target: "_blank" } %>
        <% end %>
      </nav>

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></label>
      <div class="info">
        <% link = item.route == "facility/page" ? facility_page_path(id: item) : contents_path(item) %>
        <%= link_to item.name, link, class: "title" %>

        <div class="meta">
          <span class="id">#<%= item.id %></span>
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="filename"><%= File.basename item.filename %></span>
          <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
          <span class="state"><%= t "views.state.#{item.status}" %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
