<%= render "ss/crud/addon", addon: { head: t("modules.addons.facility/body"), id: "facility-info" } do %>
  <dl class="see body">
    <dt><%= @item.class.t :name %></dt>
    <dd><%= @item.name %></dd>

    <dt><%= @item.class.t :kana %></dt>
    <dd><%= @item.kana %></dd>

    <dt><%= @model.t :postcode %></dt>
    <dd><%= @item.send :postcode %></dd>

    <dt><%= @item.class.t :address %></dt>
    <dd><%= @item.address %></dd>

    <dt><%= @item.class.t :tel %></dt>
    <dd><%= @item.tel %></dd>

    <dt><%= @item.class.t :fax %></dt>
    <dd><%= @item.fax %></dd>

    <dt><%= @item.class.t :related_url %></dt>
    <dd><%= link_to(@item.related_url, @item.related_url, target: "_blank", rel: "noopener") if @item.related_url.present? %></dd>

    <% @item.additional_info.each do |info| %>
      <dt><%=br info[:field] %></dt>
      <dd><%=br info[:value] %></dd>
    <% end %>

    <dt><%= t("modules.addons.facility/category") %></dt>
    <dd><%= @item.send(:categories).pluck(:name).join(", ") %></dd>

    <dt><%= t("modules.addons.facility/service") %></dt>
    <dd><%= @item.send(:services).pluck(:name).join(", ") %></dd>

    <dt><%= t("modules.addons.facility/location") %></dt>
    <dd><%= @item.send(:locations).pluck(:name).join(", ") %></dd>
  </dl>

  <div class="summary image">
    <% if @summary_image.present? %>
      <% @summary_image.each do |page, path, thumb_size| %>
        <p>
          <%= link_to path do %>
            <%= image_tag page.image.variants[thumb_size].url, alt: page.image_alt %>
          <% end %>
        </p>
        <% if page.image_comment.present? %>
          <p><%= page.image_comment %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if @images.present? %>
  <%= render "ss/crud/addon", addon: { id: "facility-images", head: t("facility.image") } do %>
    <div class="images">
      <% @images.each do |page, path, thumb_size| %>
        <div class="image">
          <p>
            <%= link_to path do %>
              <%= image_tag page.image.variants[thumb_size].url, alt: page.image_alt %>
            <% end %>
          </p>
          <% if page.image_comment.present? %>
            <p><%= page.image_comment %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @items.present? %>
  <%= render "ss/crud/addon", addon: { id: "facility-notices", head: t("facility.notice") } do %>
    <table class="index" style="margin-bottom: 5px;">
      <% @items.each do |item| %>
        <tr>
          <th><%= I18n.l item.date, format: :long %></th>
          <td>
            <% if item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
              <%= link_to item.name, item.private_show_path %>
            <% else %>
              <%= item.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to t("facility.buttons.notices"), facility_notices_path(cid: @item.id), class: "btn icon-page" %>
  <% end %>
<% end %>

<% if @merged_map.present? && default_map_api(site: @cur_site).present? %>
  <%= render "ss/crud/addon", addon: { id: "facility-map", head: t("map.map") } do %>
    <% @cur_page = @merged_map %>
    <%= render template: "map/agents/addons/page/view/index", locals: { no_header: true } %>
    <% @cur_page.map_points.each do |map_point| %>
      <p><%= map_point[:name] %><%= map_point[:loc] %></p>
    <% end %>

    <% if @maps.present? %>
    <div class="map-pages">
      <% if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
        <% @maps.each do |map| %>
          <p><%= link_to map.name, edit_facility_map_path(cid: @item.id, id: map.id), class: "btn icon-page" %></p>
        <% end %>
      <% else %>
        <% @maps.each do |map| %>
          <p><%= link_to map.name, facility_map_path(cid: @item.id, id: map.id), class: "btn icon-page" %></p>
        <% end %>
      <% end %>
    </div>
    <% end %>
  <% end %>
<% end %>
