<%= jquery do %>
$(".file").on("change", function() {
  var basename = $(this).val().split('\\').pop();
  var ext = basename.split('.').pop();
  var name = ext.match(/zip/i) ? basename.replace(/\.[^.]+?$/, "") : "";
  $(".name").val(name);
  $(".filename").val(name);
});
<% end %>

<%= form_for :item, url: { action: :import }, html: { id: "task-form", method: :post, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t :"cms.import_node" %></h2></header>

    <dl class="see">
      <dt><%= @model.t :in_file %><%= @model.tt :in_file %></dt>
      <dd><%= f.file_field :in_file, class: "file" %></dd>

      <dt><%= @model.t :name %><%= @model.tt :title %></dt>
      <dd><%= f.text_field :name, class: "name" %></dd>

      <dt><%= @model.t :basename %><%= @model.tt :basename %></dt>
      <dd><%= f.text_field :basename, class: "filename" %></dd>

      <dt><%= @model.t :import_date %><%= @model.tt :import_date %></dt>
      <dd><%= f.text_field :import_date, class: "date js-datetime" %></dd>
    </dl>
  </section>

  <%= render "ss/tasks/box", task: @task, url: url_for(action: :import, format: :json) %>

  <footer class="send">
    <div class="footer-notice"><%= I18n.t("cms.confirm.check_accessibility_manually") %></div>
    <%= f.submit t("ss.buttons.import"), class: :save, data: { disable_with: t("ss.buttons.importing") } %>
    <%= f.button t("ss.buttons.cancel"), type: :reset, class: "btn-default", onclick: "location.href='#{cms_contents_path}'; return false;" %>
  </footer>
<% end %>
