<%= jquery do %> SS_AddonTabs.hide(".mod-event-facilities"); <% end %>
<dl class="see mod-event-facilities">
  <dt><%= @model.t :facility_ids %><%= @model.tt :facility_ids %></dt>
  <dd>
    <%= f.hidden_field "facility_ids[]", value: "", id: nil, class: "hidden-ids" %>
    <%= link_to t("event.apis.facilities.index"), cms_apis_nodes_path(model: 'Facility::Node::Page'), class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name" scope="col"><%= @model.t :name %></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @item.facilities.each do |fac| %>
        <tr data-id="<%= fac.id %>">
          <td><%= f.hidden_field "facility_ids[]", value: fac.id, id: nil %> <%= fac.name %></td>
          <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
        <tr style="display:none" <%= raw(@item.present? ? "data-id=#{@item.id}" : "") %>></tr>
      </tbody>
    </table>
  </dd>
</dl>
