<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :order %><%= @model.tt :order %></dt>
  <dd><%= f.number_field :order %></dd>

  <dt><%= @model.t :target %><%= @model.tt :target %></dt>
  <dd><%= f.select :target, @item.target_options %></dd>

  <dt><%= @model.t :member_ids %><%= @model.tt :member_ids %></dt>
  <dd>
    <%= f.hidden_field "member_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to t("ss.apis.users.index"), gws_apis_users_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
        <% @item.members.order_by_title(@cur_site).each do |user| %>
        <tr data-id="<%= user.id %>">
          <td><%= f.hidden_field "member_ids[]", value: user.id %> <%= user.long_name %></td>
          <td><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
