<%

## locals: [:f, :field]
addresses = @item.send(field).map(&:presence).uniq.compact

%>
<%= javascript_tag do %>
SS_SearchUI.select = Webmail_Mail_Form_Address.select;
<% end %>

<dl class="see webmail-address-field">
  <dd class="wide">
    <div class="address-groups">
      <% groups = @cur_user.root_groups.entries %>

      <div class="address-group">
        <% if groups.size > 1 %>
          <div class="address-group-label"><%= t "webmail.personal" %></div>
        <% end %>
        <%= link_to webmail_apis_addresses_path, class: "ajax-box" do %>
          <%= t "mongoid.models.webmail/address" %>
        <% end %>
      </div>

      <% groups.each do |group| %>
        <div class="address-group">
          <% if groups.size > 1 %>
            <div class="address-group-label"><%= group.name %></div>
          <% end %>
          <%= link_to gws_apis_users_path(site: group), class: "ajax-box" do %>
            <%= t "gws.organization_addresses" %>
          <% end %>
          <% if Gws::SharedAddress::Address.allowed?(:read, Gws::User.find(@cur_user.id), site: group) %>
            <%= link_to gws_shared_address_apis_addresses_path(site: group), class: "ajax-box" do %>
              <%= t "modules.gws/shared_address" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </dd>
</dl>
