<%= jquery do %>
  SS_Form.disableEnterKey('#item_subject');
  Webmail_Mail.renderForm();
<% end %>

<%= f.hidden_field :reply_uid, id: nil %>
<%= f.hidden_field :forward_uid, id: nil %>
<%= f.hidden_field :references, id: nil %>
<%= f.hidden_field :in_reply_to, id: nil %>

<dl class="webmail-mail-form-address to">
  <dt><%= @model.t :to %></dt>
  <dd>
    <%= f.text_area :to_text, class: "address js-autosize" %>
    <%= render 'address_form', { f: f, field: :to } %>
  </dd>
</dl>

<% if cc_blank = @item.cc .blank? && @item.cc_text.blank? && @item.bcc.blank? && @item.bcc_text.blank? %>
  <a class="cc-bcc-label" href="#">[ <%= t 'webmail.links.show_cc_bcc' %> ]</a>
<% end %>

<dl class="webmail-mail-form-address cc-bcc cc <%= 'hide' if cc_blank %>">
  <dt><%= @model.t :cc %></dt>
  <dd>
    <%= f.text_area :cc_text, class: "address js-autosize" %>
    <%= render 'address_form', { f: f, field: :cc } %>
  </dd>
</dl>

<dl class="webmail-mail-form-address cc-bcc bcc <%= 'hide' if cc_blank %>">
  <dt><%= @model.t :bcc %></dt>
  <dd>
    <%= f.text_area :bcc_text, class: "address js-autosize" %>
    <%= render 'address_form', { f: f, field: :bcc } %>
  </dd>
</dl>
