<% h = Webmail::Address.user(@cur_user).to_autocomplete_hash %>
<%= jquery do %>
SS_Form.disableEnterKey('#item_subject');
Webmail_Mail_Form.render();
Webmail_Address_Autocomplete.render(
  ".webmail-mail-form-address", { names: <%== h.keys.to_json %>, labels: <%== h.keys.to_json %>, values: <%== h.to_json %> }
);
<% end %>

<%= f.hidden_field :reply_uid, id: nil %>
<%= f.hidden_field :forward_uid, id: nil %>
<%= f.hidden_field :references, id: nil %>
<%= f.hidden_field :in_reply_to, id: nil %>

<dl class="webmail-mail-form-address to">
  <dt><%= @model.t :to %></dt>
  <dd><%= text_field_tag "to", nil, "class" => "address autocomplete", "data-name" => "item[to][]" %></dd>
  <dd><%= render 'address_form', { f: f, field: :to } %></dd>
  <dd>
    <div class="selected-address">
      <% @item.to.each do |address| %>
        <span>
          <%= address %>
          <i class="material-icons md-18 md-inactive deselect">close</i>
          <input type="hidden" name="item[to][]" value="<%= address %>">
        </span>
      <% end %>
    </div>
  </dd>
</dl>

<% if cc_blank = @item.cc .blank? && @item.cc_text.blank? && @item.bcc.blank? && @item.bcc_text.blank? %>
  <a class="cc-bcc-label" href="#">[ <%= t 'webmail.links.show_cc_bcc' %> ]</a>
<% end %>

<dl class="webmail-mail-form-address cc-bcc cc <%= 'hide' if cc_blank %>">
  <dt><%= @model.t :cc %></dt>
  <dd><%= text_field_tag "cc", nil, "class" => "address autocomplete", "data-name" => "item[cc][]" %></dd>
  <dd><%= render 'address_form', { f: f, field: :cc } %></dd>
  <dd>
    <div class="selected-address">
      <% @item.cc.each do |address| %>
        <span>
          <%= address %>
          <i class="material-icons md-18 md-inactive deselect">close</i>
          <input type="hidden" name="item[cc][]" value="<%= address %>">
        </span>
      <% end %>
    </div>
  </dd>
</dl>

<dl class="webmail-mail-form-address cc-bcc bcc <%= 'hide' if cc_blank %>">
  <dt><%= @model.t :bcc %></dt>
  <dd><%= text_field_tag "bcc", nil, "class" => "address autocomplete", "data-name" => "item[bcc][]" %></dd>
  <dd><%= render 'address_form', { f: f, field: :bcc } %></dd>
  <dd>
    <div class="selected-address"></div>
  </dd>
</dl>
