<% h = Webmail::Address.user(@cur_user).to_autocomplete_hash %>
<%= javascript_tag do %>
  SS_SearchUI.select_shimoji = Webmail_Mail_Form_Address.select;

  SS.ready(function() {
    SS_Form.disableEnterKey('#item_subject');
    Webmail_Mail_Form.render();
    Webmail_Address_Autocomplete.render(
      ".webmail-mail-form-address", { names: <%== h.keys.to_json %>, labels: <%== h.keys.to_json %>, values: <%== h.to_json %> }
    );
  });
<% end %>

<style>
table.index td.to-checkbox{width:62px;padding-right:0}table.index td.cc-checkbox{width:62px;padding-right:0}table.index td.bcc-checkbox{width:62px;padding-right:0}
table.index td.checkbox-to-all{width:62px;padding-right:0}table.index td.checkbox-cc-all{width:62px;padding-right:0}td.table.index checkbox-bcc-all{width:62px;padding-right:0}
dd.address-select{vertical-align: middle;max-width: 100%;height: 2.4em;margin: 5px,0px;padding: 0px,10px;}
</style>

<%= f.hidden_field :reply_uid, id: nil %>
<%= f.hidden_field :forward_uid, id: nil %>
<%= f.hidden_field :references, value: @item.references.try(:join, " "), id: nil %>
<%= f.hidden_field :in_reply_to, id: nil %>
<%= f.hidden_field :ref_file_uid, value: (@item.forward_uid.presence || @item.edit_as_new_uid.presence || @item.uid), id: nil %>
<% if @dedicated %>
  <%= hidden_field_tag :dedicated, "1", id: nil %>
<% end %>

<% render_address_form = proc do |field, addresses, css_class, cc_blank | %>
  <dl class="webmail-mail-form-address <%= css_class %>"<% if cc_blank %> style="display: none;"<% end %>>
    <dt><%= @model.t field %></dt>
    <dd><%= text_field_tag field, nil, "class" => "address autocomplete", "data-name" => "item[#{field}][]" %></dd>
    <dd>
      <table class="selected-address ajax-selected">
        <input type="hidden" name="item[in_<%= field %>_members][]" value="">
        <tbody>
        <% addresses.each do |address| %>
          <% next if address.strip.blank? %>
              <tr><%= address %></tr>
              <td><i class="material-icons md-18 md-inactive deselect">close</i><td>
              <td><input type="hidden" name="item[in_<%= field %>_members][]" value=""></td>
            </tbody>
        <% end %>
      </table>
    </dd>
  </dl>
<% end %>

<dl class="see all">
  <dt></dt>
  <dd><%= render 'address_form', { f: f, field: :to, cssName: "see to-cc-bcc" } %></dd>
</dl>

<% render_address_form.call(:to, @item.to, "see to", cc_blank=false) %>

<% if cc_blank = @item.cc .blank? && @item.cc_text.blank? && @item.bcc.blank? && @item.bcc_text.blank? %>
  <a class="cc-bcc-label" href="#">[ <%= t 'webmail.links.show_cc_bcc' %> ]</a>
<% end %>

<% render_address_form.call(:cc, @item.cc, "see cc-bcc cc", cc_blank) %>

<% render_address_form.call(:bcc, @item.bcc, "see cc-bcc bcc", cc_blank) %>
