<% return unless @webmail_imap_login %>

<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to(t('ss.links.new'), { action: :new }, class: "new ss-open-in-new-window") if @model.allowed?(:edit, @cur_user) %>
  <% elsif params[:action] =~ /new|create|reply|forward/ %>
    <%= link_to(t('ss.links.back_to_index'), { action: :index }, class: "back-to-index") %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <%= link_to(t('ss.links.back_to_show'), { action: :show }, class: "back-to-show") %>
    <%= link_to(t('ss.links.back_to_index'), { action: :index }, class: "back-to-index") %>
  <% else %>
    <%= link_to(t('ss.links.edit'), { action: :edit }, class: "edit ss-open-in-new-window") if @item.draft? && (@imap.draft_box == @mailbox) %>
    <% unless @item.draft? %>
    <div class="dropdown webmail-dropdown dropdown-toggle webmail-menu-reply">
      <a href="#"><%= t 'webmail.links.reply' %> <i class="material-icons md-13">keyboard_arrow_down</i></a>
      <ul class="dropdown-menu webmail-dropdown-menu">
        <li><%= link_to t('webmail.links.reply'), { action: :reply }, { class: 'reply ss-open-in-new-window' } %></li>
        <li><%= link_to t('webmail.links.reply_without_body'), { action: :reply, without_body: true }, { class: 'reply ss-open-in-new-window' } %></li>
        <li><%= link_to t('webmail.links.reply_all'), { action: :reply_all }, { class: 'reply-all ss-open-in-new-window' } %></li>
        <li><%= link_to t('webmail.links.reply_all_without_body'), { action: :reply_all, without_body: true }, { class: 'reply-all ss-open-in-new-window' } %></li>
      </ul>
    </div>
    <% end %>
    <%= link_to t('webmail.links.forward'), { action: :forward }, { class: 'forward ss-open-in-new-window' } unless @item.draft? %>
    <%= link_to t('webmail.links.edit_as_new'), { action: :edit_as_new }, { class: 'edit-as-new ss-open-in-new-window' } unless @item.draft? %>

    <%
      groups = nil
      groups = @cur_user.root_groups.select do |group|
        Gws::Memo::Message.allowed?(:edit, @cur_user.gws_user, site: group)
      end if !@item.draft? && SS.config.gws.disable.blank?
    %>
    <% if groups && groups.size >= 2 %>
      <div class="dropdown webmail-dropdown dropdown-toggle webmail-menu-forward-to-gws-message">
        <a href="#"><%= t('webmail.links.forward_gws_message') %> <i class="material-icons md-13">keyboard_arrow_down</i></a>
        <ul class="dropdown-menu webmail-dropdown-menu">
          <% groups.each do |group| %>
          <li><%= link_to group.name, new_webmail_gws_message_path(site: group.id, mailbox: @mailbox, webmail_mode: @webmail_mode), class: "ss-open-in-new-window" %></li>
          <% end %>
        </ul>
      </div>
    <% elsif groups.present? %>
      <% group = groups.first %>
      <%= link_to t('webmail.links.forward_gws_message'), new_webmail_gws_message_path(site: group.id, mailbox: @mailbox, webmail_mode: @webmail_mode), class: "ss-open-in-new-window" %>
    <% end %>

    <%= link_to(t('ss.links.delete'), { action: :delete }, class: :delete) %>

    <%= link_to t('ss.links.print'), { action: :print }, { class: 'print-preview-mail' } %>

    <div class="dropdown webmail-dropdown dropdown-toggle webmail-menu-etc">
      <a href="#"><%= t 'webmail.links.etc' %> <i class="material-icons md-13">keyboard_arrow_down</i></a>
      <ul class="dropdown-menu webmail-dropdown-menu">
        <li><%= link_to t('webmail.links.unset_seen'), { action: :unset_seen }, { class: 'update-mail unset-seen' } %></li>
        <li><%= link_to t('webmail.links.set_star'), { action: :set_star }, { class: 'update-mail set-star' } %></li>
        <li><%= link_to t('webmail.links.unset_star'), { action: :unset_star }, { class: 'update-mail unset-star' } %></li>
        <li><%= link_to t('webmail.links.header_view'), { action: :header_view }, target: '_blank', rel: "noopener" %></li>
        <li><%= link_to t('webmail.links.source_view'), { action: :source_view }, target: '_blank', rel: "noopener" %></li>
        <li><%= link_to t("ss.download"), { action: :download } %></li>
      </ul>
    </div>

    <%= link_to(t('ss.links.back_to_index'), { action: :index, s: @search, page: @page }, class: "back-to-index") %>
  <% end %>
</nav>

<% if @quota && @quota.quota? %>
  <div class="webmail-quota-alert" <%== @quota.over_threshold? ? '' : 'style="display: none;"' %>>
    <%= @quota.threshold_label %>
  </div>
<% end %>
