<nav class="nav-menu">
  <% if params[:action] =~ /index/ %>
    <%= link_to(:new, { action: :new }, class: :new) if @model.allowed?(:edit, @cur_user) %>
  <% elsif params[:action] =~ /new|create/ %>
    <%= link_to(:back_to_index, { action: :index }, class: "back-to-index") %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <%= link_to(:back_to_show, { action: :show }, class: "back-to-show") %>
    <%= link_to(:back_to_index, { action: :index }, class: "back-to-index") %>
  <% else %>
    <%= link_to t('webmail.links.reply'), { action: :new, reply: @item.uid }, { class: 'send-reply' } unless @item.draft? %>
    <%= link_to t('webmail.links.reply_all'), { action: :new, reply_all: @item.uid }, { class: 'send-reply-all' } unless @item.draft? %>
    <%= link_to t('webmail.links.forward'), { action: :new, forward: @item.uid }, { class: 'send-forward' } unless @item.draft? %>
    <%= link_to(:delete, { action: :delete }, class: :delete) %>
    <%#= link_to t('webmail.links.set_seen'), { action: :set_seen }, { class: 'update-mail set-seen' } %>
    <%= link_to t('webmail.links.unset_seen'), { action: :unset_seen }, { class: 'update-mail unset-seen' } %>

    <% if @item.star? %>
      <%= link_to t('webmail.links.unset_star'), { action: :unset_star }, { class: 'update-mail unset-star' } %>
    <% else %>
      <%= link_to t('webmail.links.set_star'), { action: :set_star }, { class: 'update-mail set-star' } %>
    <% end %>

    <div class="webmail-mail-menu--show">
      <%= link_to t('webmail.links.print'), '#', class: 'print-mail' %>
      <%= link_to t('webmail.links.header_view'), { action: :header_view }, target: '_blank' %>
      <%= link_to t('webmail.links.source_view'), { action: :source_view }, target: '_blank' %>
      <%= link_to t('views.download'), { action: :download } %>
      <%= link_to(:back_to_index, { action: :index }, class: "back-to-index") %>
    </div>
  <% end %>
</nav>
