<%
@s = OpenStruct.new params[:s]
%>
<% if label = searched_label(@s.to_h) %>
<div class="webmail-mail-search-label">
  <%= label %>
  <div class="webmail-mail-search-label-reset">
    <%= link_to t('ss.buttons.reset'), { action: :index }, { class: 'btn reset' } %>
  </div>
</div>
<% end %>

<div class="webmail-mail-search">
  <%= form_for :s, url: "", html: { method: :get } do |f| %>
    <dl class="see">
      <dt><%= @model.t :from %></dt>
      <dd><%= f.text_field :from, style: "width: 300px;" %></dd>
      <dt><%= @model.t :to %></dt>
      <dd><%= f.text_field :to, style: "width: 300px;" %></dd>
      <dt><%= @model.t :subject %></dt>
      <dd><%= f.text_field :subject, style: "width: 300px;" %></dd>
      <dt><%= t :"webmail.message" %></dt>
      <dd><%= f.text_field :text, style: "width: 300px;" %></dd>
      <dt><%= @model.t :date %></dt>
      <dd>
        <%= f.ss_date_field :since %>
        - <%= f.ss_date_field :before %>
      </dd>
      <dt><%= @model.t :flags %></dt>
      <dd>
        <label class="flag"><%= f.check_box_tag "s[unseen]", "1", (params.dig(:s, :unseen) == "1") %><%= @model.t :unseen %></label>
        <label class="flag"><%= f.check_box_tag "s[flagged]", "1", (params.dig(:s, :flagged) == "1") %><%= @model.t :flagged %></label>
      </dd>

      <dt></dt>
      <dd>
        <input type="submit" value="<%= t 'ss.buttons.search' %>" class="btn search" />
        <input type="reset" value="<%= t 'ss.buttons.reset' %>" class="btn reset" />
      </dd>
    </dl>
  <% end %>
</div>
