<%= jquery do %>
  Webmail_Mail.render();
<% end %>

<div class="index ">
  <%= render file: "_list_head" %>

  <ul class="list-items ss-messages webmail-mails">
    <% @items.each do |item| %>
    <li class="list-item <%= item.flags.map(&:downcase).join(' ') %> <%= 'unseen' if item.unseen? %>">
      <nav class="tap-menu">
        <%= link_to :show, action: :show, id: item.uid %>
        <%#= link_to :edit, action: :edit, id: item.uid if item.draft? %>
        <%= link_to t('webmail.links.reply'), action: :new, reply: item.uid unless item.draft? %>
        <%= link_to t('webmail.links.reply_all'), action: :new, reply_all: item.uid unless item.draft? %>
        <%= link_to t('webmail.links.forward'), action: :new, forward: item.uid unless item.draft? %>
        <%= link_to :delete, action: :delete, id: item.uid %>
      </nav>

      <label class="check">
        <input type="checkbox" name="ids[]" value="<%= item.uid %>" />
      </label>
      <div class="icon icon-star <%= item.star? ? 'on' : 'off' %>">
        <%= link_to action: :show, id: item.uid do %>
          <i class="material-icons md-18">&#xE838;</i>
        <% end %>
      </div>
      <div class="icon icon-attachment">
        <i class="material-icons md-15"><%== item.attachments? ? '&#xE226;' : '&nbsp;' %></i>
      </div>
      <div class="info">
        <% if @mailbox.start_with?(@cur_user.imap_sent_box) %>
          <span class="field to"><%= item.display_to.join(',') %></span>
        <% else %>
          <span class="field from"><%= item.display_sender %></span>
        <% end %>
        <%= link_to item.display_subject, { action: :show, id: item.uid }, class: "field title" %>
        <span class="field datetime"><%= tryb { item.internal_date.strftime("%Y/%m/%d %H:%M") } %></span>
        <span class="field size"><%= item.display_size %></span>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>

