<div class="index ">
  <%= render file: "_list_head" %>

  <ul class="list-items sns-message-threads">
    <% @items.each do |item| %>
    <li class="list-item <%= 'unseen' if item.unseen? %>">
      <label class="check">
        <input type="checkbox" name="ids[]" value="<%= item.uid %>" />
      </label>
      <div class="info">
        <%= link_to item.subject, { action: :show, id: item.uid }, class: "title" %>

        <div class="meta">
          <span class="datetime"><%= item.date.strftime("%Y/%m/%d %H:%M") %></span>
          <span><%= item.from %></span>
          <span><%= number_to_human_size(item.size) %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
