<%= jquery do %>
  Webmail_Mail_List.render();

  <% if @imap.sent_box?(@mailbox) || @imap.draft_box?(@mailbox) %>
  $(".list-item-head .to").on("click", function() {
    location.href = "<%== webmail_mails_path(@cur_user.webmail_message_sort_query(@sort_hash, "to").merge(webmail_mode: @webmail_mode, account: params[:account], mailbox: @mailbox)) %>";
    return false;
  });
  <% else %>
  $(".list-item-head .from").on("click", function() {
    location.href = "<%== webmail_mails_path(@cur_user.webmail_message_sort_query(@sort_hash, "from").merge(webmail_mode: @webmail_mode, account: params[:account], mailbox: @mailbox)) %>";
    return false;
  });
  <% end %>
  $(".list-item-head .title").on("click", function() {
    location.href = "<%== webmail_mails_path(@cur_user.webmail_message_sort_query(@sort_hash, "subject").merge(webmail_mode: @webmail_mode, account: params[:account], mailbox: @mailbox)) %>";
    return false;
  });
  $(".list-item-head .datetime").on("click", function() {
    location.href = "<%== webmail_mails_path(@cur_user.webmail_message_sort_query(@sort_hash, "internal_date").merge(webmail_mode: @webmail_mode, account: params[:account], mailbox: @mailbox)) %>";
    return false;
  });
  $(".list-item-head .size").on("click", function() {
    location.href = "<%== webmail_mails_path(@cur_user.webmail_message_sort_query(@sort_hash, "size").merge(webmail_mode: @webmail_mode, account: params[:account], mailbox: @mailbox)) %>";
    return false;
  });
<% end %>

<% if @sys_notices.present? %>
<div class="notices">
  <div class="index">
    <!--
    <div class="list-head"><%= t "sys.notice" %></div>
    -->
    <ul class="list-items">
      <% @sys_notices.each do |item| %>
      <li class="list-item">
        <div class="info">
          <%= link_to item.name, webmail_sys_notice_path(id: item), class: "title notice-severity-#{item.notice_severity}" %>
          <span class="datetime"><%= ss_time_tag item.released %></span>
        </div>
      </li>
      <% end %>
    </ul>
    <% if @sys_notices.next_page %>
    <div class="notices-more"><%= link_to I18n.t("ss.links.more"), webmail_sys_notices_path %></div>
    <% end %>
  </div>
</div>
<% end %>

<%= paginate @items if @items.try(:current_page) %>

<div class="index">
  <%= render template: "_list_head" %>

  <ul class="list-items ss-messages webmail-mails">
    <li class="list-item-head">
      <div class="head">
        <% if @imap.sent_box?(@mailbox) || @imap.draft_box?(@mailbox) %>
          <span class="field to"><%= @model.t :to %><%== @cur_user.webmail_message_sort_icon(@sort_hash, "to") %></span>

        <% else %>
          <span class="field from"><%= @model.t :from %><%== @cur_user.webmail_message_sort_icon(@sort_hash, "from") %></span>
        <% end %>
        <span class="field title"><%= @model.t :subject %><%== @cur_user.webmail_message_sort_icon(@sort_hash, "subject") %></span>
        <span class="field datetime"><%= @model.t :internal_date %><%== @cur_user.webmail_message_sort_icon(@sort_hash, "internal_date") %></span>
        <span class="field size"><%= @model.t :size %><%== @cur_user.webmail_message_sort_icon(@sort_hash, "size") %></span>
      </div>
    </li>

    <% @items.each do |item| %>
    <li class="list-item <%= item.flags.map(&:downcase).join(' ') %> <%= 'unseen' if item.unseen? %> mail-draggable" data-uid="<%= item.uid %>">
      <nav class="tap-menu">
        <%= link_to t('ss.links.show'), url_for(action: :show, id: item.uid) %>
        <%= link_to_new_window t('ss.links.edit'), url_for(action: :edit, id: item.uid) if item.draft? %>
        <%= link_to_new_window t('webmail.links.reply'), url_for(action: :reply, id: item.uid) unless item.draft? %>
        <%= link_to_new_window t('webmail.links.reply_without_body'), url_for(action: :reply, id: item.uid, without_body: true) unless item.draft? %>
        <%= link_to_new_window t('webmail.links.reply_all'), url_for(action: :reply_all, id: item.uid) unless item.draft? %>
        <%= link_to_new_window t('webmail.links.reply_all_without_body'), url_for(action: :reply_all, id: item.uid, without_body: true) unless item.draft? %>
        <%= link_to_new_window t('webmail.links.forward'), url_for(action: :forward, id: item.uid) unless item.draft? %>
        <%= link_to t('ss.links.delete'), url_for(action: :delete, id: item.uid) %>
      </nav>

      <label class="check">
        <input type="checkbox" name="ids[]" value="<%= item.uid %>" />
      </label>
      <div class="icon icon-star <%= item.star? ? 'on' : 'off' %>">
        <%= link_to action: :show, id: item.uid do %>
          <i class="material-icons md-18">star</i>
        <% end %>
      </div>
      <div class="icon icon-attachment">
        <i class="material-icons md-15"><%== item.attachments? ? '&#xE226;' : '&nbsp;' %></i>
      </div>
      <div class="info">
        <% if @imap.sent_box?(@mailbox) || @imap.draft_box?(@mailbox) %>
          <span class="field to" title="<%= item.display_to.map(&:address).join(', ') %>">
            <%= link_to item.display_to.map(&:name).join(', '), { action: :index, 's[to]': item.display_to.first.email } if item.display_to.present? %>
          </span>
        <% else %>
          <% if item.display_sender.present? %>
            <span class="field from" title="<%= item.display_sender.address %>">
              <%= link_to item.display_sender.name, { action: :index, 's[from]': item.display_sender.email } %>
            </span>
          <% else %>
            <span class="field from"><%= t("webmail.no_senders") %></span>
          <% end %>
        <% end %>
        <%= link_to({ action: :show, id: item.uid }, class: "field title", title: item.display_subject) do %>
          <% title_flag = item.answered? ? %(<i class="material-icons md-18 icon-reply">&#xE15E;</i>) : nil %>
          <%== title_flag %><%= item.display_subject %>
        <% end %>
        <span class="field datetime"><%= ss_time_tag item.internal_date %></span>
        <span class="field size"><%= item.display_size %></span>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>

