<div class="index ">
  <%= render file: "_list_head" %>

  <ul class="list-items ss-messages webmail-mails">
    <% @items.each do |item| %>
    <li class="list-item <%= item.unseen? ? 'seen' : 'unseen'%>">
      <label class="check">
        <input type="checkbox" name="ids[]" value="<%= item.uid %>" />
      </label>
      <div class="info">
        <% if item.attachments? %>
          <span class="icon-attachment"></span>
        <% end %>
        <%= link_to item.subject, { action: :show, id: item.uid }, class: "title" %>

        <div class="meta">
          <span class="datetime"><%= item.date.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="from"><%= item.from %></span>
          <span class="size"><%= number_to_human_size(item.size) %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
