<%
  addons = @item ? @item.class.addons : []

  render_opts = {
    lang: {
      send: t('webmail.links.address.send'),
      entry: t('webmail.links.address.entry'),
      copy: t('webmail.links.address.copy')
    },
    urls: {
      send: new_webmail_mail_path,
      add: add_webmail_addresses_path(group: "-")
    },
    new_window_width: SS.config.webmail.mail_edit_screen_width
  }
%>

<%= jquery do %>
  Webmail_Mail_Address.render(<%== render_opts.to_json %>);
  Webmail_Mail_List.renderListStars();
<% end %>

<div class="addon-views">
  <div class="addon-view webmail-mail" id="addon-basic">
    <div class="addon-head">
      <div class="d-flex">
        <h2 class="subject">
          <%= @item.display_subject %>
        </h2>
        <div class="d-flex ml-auto">
          <% if @uid_index.present? %>
            <div class="move-tool-wrap">
              <div class="page-order"><span class="current"><%= @uid_index + 1 %></span> / <span class="total"><%= @uid_list.length %></span></div>
              <div class="move-tool">
                <%= move_to_prev_tag %>
                <%= move_to_next_tag %>
              </div>
            </div>
          <% end %>
          <span class="icon-star <%= @item.star? ? 'on' : 'off' %>">
            <%= link_to action: :show do %>
              <i class="material-icons">star</i>
            <% end %>
          </span>
        </div>
      </div>
      <div class="d-flex">
        <div class="from">
          <% if @item.display_sender.present? %>
            <div class="address-item dropdown webmail-dropdown dropdown-toggle"
              data-name="<%= @item.display_sender.name %>" data-email="<%= @item.display_sender.email %>">
              <span><%= @item.display_sender.address %></span>
              <ul class="dropdown-menu webmail-dropdown-menu"></ul>
            </div>
          <% else %>
            <span><%= t("webmail.no_senders") %></span>
          <% end %>
        </div>
        <div class="date ml-auto"><%= ss_time_tag @item.internal_date %></div>
      </div>
    </div>

    <% if (@item.to + @item.cc + @item.bcc).present? %>
    <div class="address-header">
      <% if @item.to.present? %>
      <div class="address-field">
        <div class="label"><%= @model.t :to %></div>
        <div class="value">
          <% @item.display_to.each do |addr| %>
            <div class="address-item dropdown webmail-dropdown dropdown-toggle"
              data-name="<%= addr.name %>" data-email="<%= addr.email %>">
              <span><%= addr.name %></span>
              <ul class="dropdown-menu webmail-dropdown-menu"></ul>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @item.cc.present? %>
      <div class="address-field">
        <div class="label"><%= @model.t :cc %></div>
        <div class="value">
          <% @item.display_cc.each do |addr| %>
            <div class="address-item dropdown webmail-dropdown dropdown-toggle"
              data-name="<%= addr.name %>" data-email="<%= addr.email %>">
              <span><%= addr.name %></span>
              <ul class="dropdown-menu webmail-dropdown-menu"></ul>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

      <% if @item.bcc.present? %>
      <div class="address-field">
        <div class="label"><%= @model.t :bcc %></div>
        <div class="value">
          <% @item.display_bcc.each do |addr| %>
            <div class="address-item dropdown webmail-dropdown dropdown-toggle"
              data-name="<%= addr.name %>" data-email="<%= addr.email %>">
              <span><%= addr.name %></span>
              <ul class="dropdown-menu webmail-dropdown-menu"></ul>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @item.requested_mdn? %>
    <div class="request-mdn-notice">
      <span class="message">
        <i class="material-icons md-18">info</i>
        <span><%= t("webmail.notice.requested_mdn") %></span>
      </span>
      <span class="action">
        <%= button_tag t("webmail.buttons.send_mdn"), "class" => "send-mdn", "href" => send_mdn_webmail_mail_path(webmail_mode: @webmail_mode, account: params[:account] || @cur_user.imap_default_index, mailbox: @mailbox.try(:original_name).presence || params[:mailbox]) %>
        <%= button_tag t("webmail.buttons.ignore_mdn"), "class" => "ignore-mdn", "href" => ignore_mdn_webmail_mail_path(webmail_mode: @webmail_mode, account: params[:account] || @cur_user.imap_default_index, mailbox: @mailbox.try(:original_name).presence || params[:mailbox]) %>
      </span>
    </div>
    <% end %>

    <% if @item.attachments.present? %>
    <div class="attachments" id="mail-attachments">
      <% @item.attachments.each do |part| %>
        <div class="file">
          <%= link_to({ action: :parts, section: part.section }, target: part.link_target) do %>
            <%= md_icons.filled((part.image? ? "image" : "insert_drive_file"), tag: :i, size: 18) %>
            <%= part.filename %>
          <% end %>
          <%= "( #{number_to_human_size(part.size)} )" %>
        </div>
      <% end %>
      <% if params[:action] != 'print' %>
      <div class="batch-download">
        <%= link_to t('webmail.buttons.batch_download'), { action: :parts_batch_download }, { class: 'btn' } %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="addon-body">
      <%= render template: "_show" %>
    </div>
  </div>
  <%= render template: "_addons_show", locals: { addons: addons } if addons.size > 0 %>
</div>
