<% addons = @item ? @item.class.addons : [] %>

<div class="addon-views">
  <div class="addon-view webmail-mail" id="addon-basic">
    <div class="addon-head">
      <span class="icon-star <%= @item.star? ? 'on' : 'off' %>">
        <i class="material-icons">&#xE838;</i>
      </span>
      <h2 class="subject">
        <%= @item.display_subject %>
        <!--
        <span class="icon-attachment">
          <i class="material-icons"><%== @item.attachments? ? '&#xE226;' : '' %></i>
        </span>
        -->
      </h2>
      <div class="from"><%= @item.sender || @item.from[0] %></div>
      <div class="date"><%= tryb { @item.internal_date.strftime("%Y/%m/%d %H:%M") } %></div>
    </div>

    <% if (@item.to + @item.cc + @item.bcc).present? %>
    <div class="addresses">
      <% if @item.to.present? %>
      <div class="address">
        <div class="label"><%= @model.t :to %></div>
        <div class="value"><%= @item.display_to.join('; ') %></div>
      </div>
      <% end %>

      <% if @item.cc.present? %>
      <div class="address">
        <div class="label"><%= @model.t :cc %></div>
        <div class="value"><%= @item.display_cc.join('; ') %></div>
      </div>
      <% end %>

      <% if @item.bcc.present? %>
      <div class="address">
        <div class="label"><%= @model.t :bcc %></div>
        <div class="value"><%= @item.display_bcc.join('; ') %></div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @item.requested_mdn? %>
    <div class="request-mdn-notice">
      <span class="message">
        <i class="material-icons md-18">info</i>
        <%= t("webmail.notice.requested_mdn") %>
      </span>
      <span class="action">
        <%= button_tag t("webmail.buttons.send_mdn"), "class" => "send-mdn", "href" => send_mdn_webmail_mail_path %>
        <%= button_tag t("webmail.buttons.ignore_mdn"), "class" => "ignore-mdn", "href" => ignore_mdn_webmail_mail_path %>
      </span>
    </div>
    <% end %>

    <% if @item.attachments.present? %>
    <div class="attachments" id="mail-attachments">
      <% @item.attachments.each do |part| %>
        <div class="file">
          <%= link_to({ action: :parts, section: part.section }, target: part.link_target) do %>
            <i class="material-icons md-18"><%== part.image? ? '&#xE3F4;' : '&#xE24D;' %></i>
            <%= part.filename %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

    <div class="addon-body">
      <%= render file: "_show" %>
    </div>
  </div>
  <%= render file: "_addons_show", locals: { addons: addons } if addons.size > 0 %>
</div>
