<%
  show_path ||= nil
  cms_form = nil
%>
<% head_for(self) do %>
  <%= stylesheet_link_tag("cms/preview/main") %>
  <%= javascript_include_tag("cms/preview/main") %>
  <script>
    <% if rendered %>
      Form_Preview.form_id = "ss-preview-inplace-item-form";
      Form_Preview.page_route = <%== (rendered[:page] || rendered[:node]).route.to_json %>;

      Cms_TemplateForm.userId = <%= @cur_user.id %>;
      Cms_TemplateForm.confirms.delete = <%== t("ss.confirm.delete").to_json %>;
      Cms_TemplateForm.paths.formColumn = <%== cms_apis_form_column_new_path(id: ":formId", column_id: ":columnId").to_json %>;
      Cms_TemplateForm.paths.formUrlTemplate = <%== cms_apis_form_path(id: ':id', item_id: (rendered[:page] || rendered[:node]).new_record? ? nil : (rendered[:page] || rendered[:node]).id).to_json %>;
    <% end %>

    SS_Preview.libs.jquery.js = <%== javascript_path("cms/preview/jquery").to_json %>;
    SS_Preview.libs.jquery.css = <%== stylesheet_path("cms/preview/jquery").to_json %>;
    SS_Preview.libs.datetimePicker.js = <%== javascript_path("cms/preview/datetimepicker").to_json %>;
    SS_Preview.libs.datetimePicker.css = <%== stylesheet_path("cms/preview/datetimepicker").to_json %>;
    SS_Preview.libs.colorbox.js = <%== javascript_path("/assets/js/jquery.colorbox-min.js").to_json %>;
    SS_Preview.libs.colorbox.css = <%== "/assets/css/colorbox/colorbox.css".to_json %>;
    SS_Preview.libs.dialog.js = <%== javascript_path("cms/preview/jquery-ui").to_json %>;
    SS_Preview.libs.dialog.css = <%== stylesheet_path("cms/preview/jquery-ui").to_json %>;
    SS_Preview.confirms.delete = <%== t("ss.confirm.delete").to_json %>;
    SS_Preview.notices.deleted = <%== t("ss.notice.deleted").to_json %>;

    <% if rendered %>
      SS_Preview.item.type = <%== rendered[:type].to_json %>;
      <% if rendered[:layout] %>
        SS_Preview.item.layoutId = <%== rendered[:layout].id.to_json %>;
      <% end %>
      <% if rendered[:node] %>
        SS_Preview.item.nodeId = <%== rendered[:node].id.to_json %>;
      <% end %>
      <% if rendered[:page] %>
        SS_Preview.item.pageId = <%== rendered[:page].id.to_json %>;
        <% if rendered[:page].respond_to?(:form) %>
          <% cms_form = rendered[:page].form %>
          <% if cms_form %>
            SS_Preview.item.formId = <%== cms_form.id.to_json %>;
            SS_Preview.item.formSubType = <%== cms_form.sub_type.to_json %>;
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @cur_site.subdir.present? %>
      SS_Preview.preview_path = <%== @cur_site.subdir.to_json %>;
    <% end %>
    SS_Preview.mobile_path = <%== @cur_site.mobile_path.to_json %>;
    <% if @preview_page %>
      SS_Preview.request_path = <%== request.path.to_json %>;
      SS_Preview.form_item = <%== @preview_item.to_json %>;
    <% end %>
    <% if mode == :preview && rendered %>
      <% if %i[page].include?(rendered[:type]) %>
        SS_Preview.inplaceFormPath.page = <%== edit_cms_apis_preview_inplace_edit_page_path(site: @cur_site, preview_date: params[:preview_date], id: ":id").to_json %>;
        SS_Preview.inplaceFormPath.columnValue.new = <%== "#{new_cms_apis_preview_inplace_edit_page_column_value_path(site: @cur_site, preview_date: params[:preview_date], page_id: ":pageId")}?column_id=:columnId".to_json %>;
        SS_Preview.inplaceFormPath.columnValue.edit = <%== edit_cms_apis_preview_inplace_edit_page_column_value_path(site: @cur_site, preview_date: params[:preview_date], page_id: ":pageId", id: ":id").to_json %>;
        SS_Preview.inplaceFormPath.columnValue.destroy = <%== cms_apis_preview_inplace_edit_page_column_value_path(site: @cur_site, preview_date: params[:preview_date], page_id: ":pageId", id: ":id").to_json %>;
        SS_Preview.inplaceFormPath.columnValue.moveUp = <%== move_up_cms_apis_preview_inplace_edit_page_column_value_path(site: @cur_site, preview_date: params[:preview_date], page_id: ":pageId", id: ":id").to_json %>;
        SS_Preview.inplaceFormPath.columnValue.moveDown = <%== move_down_cms_apis_preview_inplace_edit_page_column_value_path(site: @cur_site, preview_date: params[:preview_date], page_id: ":pageId", id: ":id").to_json %>;
        SS_Preview.inplaceFormPath.columnValue.moveAt = <%== move_at_cms_apis_preview_inplace_edit_page_column_value_path(site: @cur_site, preview_date: params[:preview_date], page_id: ":pageId", id: ":id").to_json %>;
        SS_Preview.inplaceFormPath.palette = <%== palette_cms_apis_preview_inplace_edit_form_path(site: @cur_site, preview_date: params[:preview_date], id: ":id").to_json %>;
      <% end %>

      SS_Preview.workflowPath.wizard = <%== cms_apis_preview_workflow_wizard_path(site: @cur_site, preview_date: params[:preview_date], id: ":id").to_json %>;
      SS_Preview.workflowPath.pages = <%== "/.s#{@cur_site.id}/workflow/pages/:id".to_json %>;
      SS_Preview.previewPath = <%== cms_preview_path(path: ":path").to_json %>;
      SS_Preview.redirectorPath.newPage = <%== cms_apis_preview_redirector_new_page_path(site: @cur_site, cid: ":nodeId").to_json %>;
    <% end %>
  </script>
<% end %>
<% foot_for(self) do %>
  <div id="ss-preview-overlay" class="ss-preview-hide">
    <div class="ss-preview-overlay-tool">
      <span class="ss-preview-overlay-name"><%= t("ss.links.edit") %></span>
      <div class="ss-preview-btn-group ss-preview-overlay-btn-group-edit">
        <button type="button" class="ss-preview-overlay-btn-edit"><%= t("ss.links.edit") %></button>
      </div>

      <% if cms_form && cms_form.sub_type_entry? %>
      <div class="ss-preview-btn-group ss-preview-overlay-btn-group-move">
        <button type="button" class="ss-preview-overlay-btn-move-up"><i class="material-icons md-14">keyboard_arrow_up</i></button>
        <select class="ss-preview-overlay-btn-move-position"></select>
        <button type="button" class="ss-preview-overlay-btn-move-down"><i class="material-icons md-14">keyboard_arrow_down</i></button>
      </div>

      <div class="ss-preview-btn-group ss-preview-overlay-btn-group-delete">
        <button type="button" class="ss-preview-overlay-btn-delete"><%= t("ss.links.delete") %></button>
      </div>
      <% end %>
    </div>
  </div>
  <script>
    var opts = {};
    <% if @preview_notice %>
      opts.notice = <%== @preview_notice.to_json %>;
    <% end %>
    SS_Preview.render(opts);
  </script>
<% end %>
<div id="ss-preview">
  <div class="ss-preview-wrap">
    <div class="ss-preview-wrap-column">
      <% if mode == :preview && !mobile %>
        <div class="ss-preview-wrap-row">
          <div class="ss-preview-btn-group">
            <button type="button" class="ss-preview-btn ss-preview-btn-outline-primary ss-preview-btn-toggle-inplace"><%= t("cms.inplace_edit") %></button>
          </div>
          <%
            if rendered[:page] && rendered[:page].parent
              node = rendered[:page].parent
            end
            if rendered[:node]
              node = rendered[:node]
            end
          %>
          <div class="ss-preview-btn-group" data-node-id="<%= node.try(:id) %>">
            <span class="ss-preview-dropdown">
              <label for="ss-preview-btn-select-node"><%= node.try(:name) || @cur_site.name %></label>
              <a id="ss-preview-btn-select-node" class="ss-preview-btn ss-preview-btn-outline" href="<%= cms_apis_nodes_path(layout: "iframe", single: true) %>">▼</a>
            </span>
            <button type="button" id="ss-preview-btn-create-new-page" class="ss-preview-btn ss-preview-btn-outline"><%= t("ss.buttons.new") %></button>
          </div>
          <div class="ss-preview-btn-group">
            <%
              page_params = { layout: "iframe", single: true, s: { statuses: %w(ready request remand draft closed) } }
              if rendered[:page] && rendered[:page].parent
                page_params[:s] ||= {}
                page_params[:s][:node] = rendered[:page].parent
              end
              if rendered[:node]
                page_params[:s][:node] = rendered[:node]
              end
            %>
            <a id="ss-preview-btn-select-draft-page" class="ss-preview-btn ss-preview-btn-outline" href="<%== cms_apis_pages_path(page_params) %>"><%= t("cms.draft_page") %></a>
          </div>
        </div>
      <% end %>

      <div id="ss-preview-messages" class="ss-preview-wrap-row">
        <% if rendered && (page = rendered[:page]) %>
          <% if page.try(:master?) && page.branches.present? %>
            <% branch_page = page.branches.order_by(id: -1).first %>
            <% if branch_page.allowed?(:edit, @cur_user, site: @cur_site) %>
              <div class="ss-preview-branch-notice ss-preview-notice">
                <p>差し替えページが作成されています。<%= link_to "「差し替えページ」", cms_preview_path(preview_date: params[:preview_date], path: branch_page.filename) %>へ移動し編集してください。</p>
                <p>編集中の差し替えページを削除する場合は<%= link_to("管理画面", branch_page.private_show_path) %>より削除してください。</p>
              </div>
            <% end %>
          <% end %>

          <% if page.state == "closed" %>
            <div class="ss-preview-btn-group">
              <% if page.allowed?(:edit, @cur_user, site: @cur_site) %>
                <% if page.workflow_requested? %>
                  <% request = page.find_workflow_request_to(@cur_user) %>
                  <% if page.allowed?(:approve, @cur_user, site: @cur_site) && request.present? %>
                    <div class="ss-preview-workflow-notice ss-preview-notice">
                      <p>承認依頼が届いています。</p>
                    </div>
                    <% if request[:state] == 'request' %>
                      <button type="button" id="ss-preview-btn-workflow-approve" class="ss-preview-btn ss-preview-btn-outline"><%= t("workflow.buttons.approve") %></button>
                      <button type="button" id="ss-preview-btn-workflow-remand" class="ss-preview-btn ss-preview-btn-outline"><%= t("workflow.buttons.remand") %></button>
                    <% elsif request[:state] == 'pending' %>
                      <button type="button" id="ss-preview-btn-workflow-pull-up" class="ss-preview-btn ss-preview-btn-outline"><%= t("workflow.buttons.pull_up") %></button>
                    <% end %>
                  <% else %>
                    <div class="ss-preview-workflow-notice ss-preview-notice">
                      <p>申請中です。</p>
                    </div>
                  <% end %>
                <% else %>
                  <button type="button" id="ss-preview-btn-workflow-start" class="ss-preview-btn ss-preview-btn-outline"><%= t("workflow.buttons.approve") %></button>
                <% end %>
              <% end %>

              <% if page.allowed?(:release, @cur_user, site: @cur_site) && !page.workflow_requested? %>
                <button type="button" id="ss-preview-btn-publish" class="ss-preview-btn ss-preview-btn-outline"><%= t("ss.buttons.publish") %></button>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="ss-preview-wrap-column">
      <div class="ss-preview-wrap-row ss-preview-btn-group">
        <label for="ss-preview-date"><%= t("cms.preview_date") %></label>
        <input type="text" id="ss-preview-date" class="ss-preview-date" value="<%= I18n.l(@cur_date, format: :picker)  %>" />
        <% if @cur_site.mobile_enabled? %>
          <input type="button" class="ss-preview-btn ss-preview-btn-outline ss-preview-btn-pc" value="<%= t("ss.links.pc") %>">
          <input type="button" class="ss-preview-btn ss-preview-btn-outline ss-preview-btn-mobile" value="<%= t("ss.links.mobile") %>">
        <% else %>
          <input type="button" class="ss-preview-btn ss-preview-btn-outline ss-preview-btn-pc" value="<%= t("cms.preview_page") %>">
        <% end %>
      </div>

      <div class="ss-preview-wrap-row">
        <% if !mobile %>
          <div class="ss-preview-btn-group ss-preview-part-group ss-preview-hide">
            <select class="ss-preview-part-list">
              <option value=""><%= t("cms.part") %></option>
            </select>
            <button type="button" class="ss-preview-btn ss-preview-btn-outline ss-preview-btn-edit-part"><%= t("ss.buttons.edit") %></button>
          </div>
          <div class="ss-preview-btn-group ss-preview-hide">
            <button type="button" class="ss-preview-btn ss-preview-btn-outline ss-preview-btn-edit-layout"><%= t("cms.layout") %></button>
          </div>
        <% end %>
        <% if show_path %>
          <div class="ss-preview-btn-group">
            <button type="button" class="ss-preview-btn ss-preview-btn-outline ss-preview-btn-open-path" data-path="<%= show_path %>"><%= t("ss.links.back_to_administration") %></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ss-preview-notice-wrap" style="display: none;">
  </div>
</div>
