<ul>
  <% secrets = Rails.application.secrets %>
  <% if secrets.twitter_key %><li class="Twitter"><%= link_to "twitter ID でログイン","/mypage/twitter" %></li><% end %>
  <% if secrets.facebook_key %><li class="facebook"><%= link_to "Facebook ID でログイン", "/mypage/facebook" %></li><% end %>
  <% if secrets.yahoo_key %><li class="Yahoo"><%= link_to "YAHOO!JAPAN ID でログイン","/mypage/yahoojp" %></li><% end %>
  <% if secrets.google_key %><li class="Google"><%= link_to "Google アカウントでログイン","/mypage/google_oauth2" %></li><% end %>
  <% if secrets.github_key %><li class="github"><%= link_to "GitHub アカウントでログイン","/mypage/github" %></li><% end %>
</ul>

<%= form_tag "", class: "member-login" do |f| %>
  <%= error_messages_for :item %>

  <dl>
    <dt>Email</dt>
    <dd><%= email_field :item, :email %></dd>

    <dt>Password</dt>
    <dd><%= password_field :item, :password %></dd>
  </dl>

  <div class="send">
    <%= submit_tag t("views.login"), name: :login %>
  </div>
<% end %>
