<ul>
  <li class="Twitter"><%= link_to "twitter ID でログイン","/mypage/twitter" %></li>
  <li class="facebook"><%= link_to "Facebook ID でログイン", "/mypage/facebook" %></li>
  <li class="Yahoo"><%= link_to "YAHOO!JAPAN ID でログイン","/mypage/yahoojp" %></li>
  <li class="Google"><%= link_to "Google アカウントでログイン","/mypage/google_oauth2" %></li>
</ul>

<%= form_tag "", class: "member-login" do |f| %>
  <%= error_messages_for :item %>

  <dl>
    <dt>Email</dt>
    <dd><%= email_field :item, :email %></dd>

    <dt>Password</dt>
    <dd><%= password_field :item, :password %></dd>
  </dl>

  <div class="send">
    <%= submit_tag t(:login), name: :login %>
  </div>
<% end %>
