<%= jquery do %>
Gws_Tab.renderTabs('.gws-schedule-todo-tabs');
<% end %>

<div class="gws-tabs gws-schedule-todo-tabs">
  <%= link_to gws_schedule_todo_readables_path, class: "post" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.todo') %></span>
  <% end %>
  <%= link_to gws_schedule_todo_trashes_path, class: "admin" do %>
    <span class="tab-name"><%= t('gws/schedule.tabs.trash') %></span>
  <% end %>
</div>
