<div class="index">
  <%= render template: "_list_head" %>

  <ul class="list-items">
    <% @items.group_by_discussion_forum(user: @cur_user, site: @cur_site) do |forum, items| %>
      <li class="list-item gws-schedule-todo-list-item-header" id="forum-<%= forum.id %>" data-depth="0" data-group="forum-<%= forum.id %>">
        <span class="list-item-indent"></span>
        <span class="material-icons md-18 list-item-switch">expand_less</span>
        <label class="check"></label>
        <div class="info">
          <span><%= forum.name %></span>
          <% if forum.id != "none" %>
            <%= link_to "[" + t("ss.buttons.move") + "]", gws_discussion_forum_portal_path(mode: "-", forum_id: forum.id) %>
          <% end %>
        </div>
      </li>

      <% items.each do |item| %>
        <li class="list-item" id="item-<%= item.id %>" data-depth="0" data-group="forum-<%= forum.id %>">
          <nav class="tap-menu">
            <% @tap_menu.call(item) %>
          </nav>

          <span class="list-item-indent"></span>
          <span class="list-item-switch"></span>
          <label class="check"><input type="checkbox" name="ids[]" value="<%= item.id %>" /></label>

          <div class="info">
            <% title = item.try(:name) || item.try(:title) || item.try(:filename) || "##{item.id}" %>
            <%= link_to title, { action: :show, id: item }, class: "title" %>

            <div class="meta">
              <% @index_meta.call(item) %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
