<%= coffee do %>

deselectCategory=() ->
  $(this).parents("tr:first").remove()
  if $(this).closest("dl").find("table.selected-categories tr[data-id]").size() == 0
    $(this).closest("dl").find("table.selected-categories").hide()
  return false

$ ->
  $("table.selected-categories a.deselect").click(deselectCategory)
  if $(this).closest("dl").find("table.selected-categories tbody .deselect").size() == 0
    $(this).closest("dl").find("table.selected-categories").hide()

<% end %>

<dl class="see mod-category">
  <dt><%= t("facility.category.setting") %><%= @model.tt :st_categories %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "st_category_ids[]", value: "", class: "hidden-categories-ids" %>
    <%= link_to t("facility.category.index"), facility_search_categories_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index selected-categories">
      <thead>
        <tr>
          <th class="name"><%= t("facility.category.name") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.st_categories.each do |cate| %>
        <tr data-id="<%= cate.id %>">
          <td><%= f.hidden_field "st_category_ids[]", value: cate.id %> <%= cate.name %></td>
          <td><%= link_to t("cms.search_categories.deselect"), "#", class: :deselect %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </dd>
</dl>
