<%= code_editor ".mod-cms-nodelist .html", mode: :html, readonly: true %>

<fieldset class="see mod-cms-nodelist" disabled>
  <div class="col3">
    <label><%= @model.t :conditions %></label>
    <input class="form-control" type="text" value="<%=br @item.conditions.join("\n") %>" />
  </div>

  <div class="col3">
    <label><%= @model.t :sort %></label>
    <input class="form-control" type="text" value="<%= @item.label :sort %>" />
  </div>

  <div class="col3">
    <label><%= @model.t :limit %></label>
    <input class="form-control" type="text" value="<%= @item.send :limit %>" />
  </div>

  <div class="col3">
    <label><%= @model.t :upper_html %></label>
    <% if @item.upper_html.present? %>
    <%= text_area_tag :upper_html, @item.upper_html, class: "html", rows: "6" %>
    <% end %>
  </div>

  <div class="col3">
    <label><%= @model.t :loop_html %></label>
    <% if @item.send(:loop_setting).present? %>
    <input class="form-control" type="text" value="<%= tryb{@item.loop_setting.name} %>" />
    <% end %>
    <% if @item.loop_html.present? %>
    <%= text_area_tag :loop_html, @item.loop_html, class: "html", rows: "6" %>
    <% end %>
  </div>

  <div class="col3">
    <label><%= @model.t :lower_html %></label>
    <% if @item.lower_html.present? %>
    <%= text_area_tag :lower_html, @item.lower_html, class: "html", rows: "6" %>
    <% end %>
  </div>
</fieldset>
