<div class="subscribed-users">
  <header>
    <h2><%= I18n.t('gws/faq.topic.browsing_state') %></h2>
  </header>

  <div class="toggle-body">
    <div class="body">
      <table class="index">
        <thead>
        <tr>
          <th class="name"><%= Gws::User.t :name %></th>
          <th class="browsed"><%= I18n.t('gws/faq.topic.browsed') %></th>
        </tr>
        </thead>
        <tbody>
        <% subscribed_users = @item.subscribed_users.to_a %>
        <% subscribed_users.each do |user| %>
          <tr data-user-id="<%= user.id %>">
            <td class="name"><%= gws_public_user_long_name(user.long_name) %></td>
            <td class="browsed">
              <% @item.browsed_at(user).tap do |browsed_at| %>
              <span class="browsed">
              <% if browsed_at %>
                <%= I18n.t('gws/faq.options.browsed_state.read') %>
                <time datetime="<%= browsed_at.iso8601 %>"><%= I18n.l(browsed_at) %></time>
              <% else %>
                <%= I18n.t('gws/faq.options.browsed_state.unread') %>
              <% end %>
              </span>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if subscribed_users.include?(@cur_user) && !@item.browsed?(@cur_user) %>
  <%= jquery do %>
    var formatDate = function(browsedAt) {
      var disp = 'YYYY/MM/DD hh:mm';

      disp = disp.replace('YYYY', browsedAt.getFullYear());
      disp = disp.replace('MM', (browsedAt.getMonth() + 1).toString(10));
      disp = disp.replace('DD', browsedAt.getDate().toString(10));
      disp = disp.replace('hh', ('0' + browsedAt.getHours()).slice(-2));
      disp = disp.replace('mm', ('0' + browsedAt.getMinutes()).slice(-2));

      return disp;
    };

    setTimeout(function() {
      $.ajax({
        type: 'POST',
        url: '<%= read_gws_faq_topic_path %>',
        dataType: 'json',
        success: function(data) {
          var browsedAt = formatDate(new Date(data.browsed_at));
          $('tr[data-user-id=<%= @cur_user.id %>] span.browsed').html('<%= I18n.t('gws/faq.options.browsed_state.read') %><time>' + browsedAt + '</time>');
        },
        error: function(req, status, error) {
          $('tr[data-user-id=<%= @cur_user.id %>] span.browsed').html(error);
        }
      });
    }, <%= @cur_site.faq_browsed_delay * 1_000 %>);
  <% end %>
<% end %>
