<%= node_navi do %>

<h2><%= t("cms.import_page") %></h2>

<h3><%= link_to :"cms.node", node_import_nodes_path %></h3>
<h3><%= link_to :"cms.import_page", node_import_pages_path %></h3>

<ul class="narrow-page">
  <li><%= link_to :"workflow.page.ready", index_ready_node_import_pages_path %></li>
  <li><%= link_to :"workflow.page.closed", index_closed_node_import_pages_path %></li>
</ul>

<h3><span><%= t "workflow.pages" %></span></h3>

<ul class="narrow-page">
  <li><%= link_to :"workflow.page.approve", index_approve_node_import_pages_path %></li>
  <li><%= link_to :"workflow.page.request", index_request_node_import_pages_path %></li>
</ul>

<% end %>
