<%= form_for :item, url: { action: :convert }, html: { method: :put, multipart: true } do |f| %>
<%= error_messages_for :item %>

<div class="addon-views">
  <div class="addon-view" id="addon-basic">
    <header><h2><%= t("views.confirm.convert") %></h2></header>
    <%= f.hidden_field :route, value: "cms/page" %>
  </div>
</div>

<footer class="send">
  <%= f.submit t("views.button.convert"), class: :save %>
  <%= f.button t("views.button.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
</footer>
<% end %>
