<%= jquery do %> Event_Monthly.render(); <% end %>

<%== @cur_node.upper_html %>

<% if @cur_node.st_categories.present? %>
  <nav class="event-pages-filter" aria-label="<%= t("event.category_filter") %>">
    <ul>
      <li class="all">
        <%= link_to t("event.filter_all"), "#", class: "clicked", "data-id" => "all" %>
      </li>
      <% @cur_node.st_categories.order_by(order: 1).each do |cate| %>
        <li class="<%= cate.basename %>">
          <%= link_to cate.name, "##{cate.id}", "data-id" => cate.id, role: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<%= render partial: "tabs", locals: { current: "table" } %>

<div id="event-table" class="event-table">
  <table class="calendar">
    <caption><%= "#{@year}#{t_date('year')}#{@month}#{t_date('month')}" %></caption>
    <thead>
    <tr>
      <% t_wdays.each do |wday| %>
        <th scope="col"><span class="wday"><%= wday %><span class="unit"><%= t_date('wday') %></span></span></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% @events.each_with_index do |(date, cell), i| %>
        <% if (i % 7) == 0 %>
          <tr>
        <% end %>
        <td class="<%= event_td_class(date, @date) %>">
          <%= render_table_day_events(date, cell) %>
        </td>
        <% if (i % 7) == 6 %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
  </table>
</div>

<%== @cur_node.lower_html %>
