<%= jquery do %> Event_Monthly.render(); <% end %>

<%== @cur_node.upper_html %>

<% if @cur_node.st_categories.present? %>
  <nav class="event-pages-filter" aria-label="<%= t("event.category_filter") %>">
    <ul>
      <li class="all">
        <%= link_to t("event.filter_all"), "#", class: "clicked", "data-id" => "all" %>
      </li>
      <% @cur_node.st_categories.order_by(order: 1).each do |cate| %>
        <li class="<%= cate.basename %>">
          <%= link_to cate.name, "##{cate.id}", "data-id" => cate.id, role: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<%= render partial: "tabs", locals: { current: "list" } %>

<div id="event-list">
  <% @events.each do |date, cell| %>
    <%= render_list_day_events(date, cell) %>
  <% end %>
</div>

<%== @cur_node.lower_html %>
