<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_monitor_label || t('modules.gws/monitor'), gws_monitor_main_path, class: 'icon-monitor' %></h2>
  <h3><%= link_to t('gws/monitor.tabs.unanswer'), gws_monitor_topics_path, class: 'topic' %></h3>
  <h3><%= link_to t('gws/monitor.tabs.answer'), gws_monitor_answers_path, class: 'answer' %></h3>
  <h3><%= link_to t('gws/monitor.tabs.admin'), gws_monitor_admins_path, class: 'admin' %></h3>

  <% if Gws::Monitor::Topic.allowed?(:edit, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/monitor.tabs.management_admin'), gws_monitor_management_admins_path, class: "management" %></h3>
  <% end %>
  <% if Gws::Monitor::Topic.allowed?(:trash, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('ss.navi.trash'), gws_monitor_management_trashes_path, class: "trash" %></h3>
  <% end %>

  <% if Gws::Monitor::Category.allowed?(:read, @cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws.category'), gws_monitor_categories_path, class: "management" %></h3>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
