<%= jquery do %>
Gws_Tab.renderTabs('.gws-monitor-tabs');
<% end %>

<div class="gws-tabs gws-monitor-tabs">
  <%= link_to gws_monitor_topics_path, class: "unanswer" do %>
    <span class="tab-name"><%= t('gws/monitor.tabs.unanswer') %></span>
  <% end %>
  <%= link_to gws_monitor_answers_path, class: "answer" do %>
    <span class="tab-name"><%= t('gws/monitor.tabs.answer') %></span>
  <% end %>
</div>
