<% value ||= [] %>
<%= render file: 'gws/agents/columns/main/_common_label', locals: { column: column } %>
<dd>
  <span class="prefix"><%= column.prefix_label %></span>
  <% column.select_options.each do |val| %>
    <label>
      <%= check_box_tag("#{object_name}[#{column.id}][]", val, value.try(:values).try(:include?, val), column.form_options) %>
      <%= val %>
    </label>
  <% end %>
  <span class="postfix"><%= column.postfix_label %></span>
</dd>
