<%= jquery do %>
SS_Tabs.render("#cms-tabs-<%= @cur_part.id %>");
<% end %>

<div class="cms-tabs tabs" id="cms-tabs-<%= @cur_part.id %>">
  <% @tabs.each_with_index do |tab, idx| %>
  <article class="tab" id="cms-tab-<%= @cur_part.id %>-<%= idx %>">
    <header><h2><%= tab[:name] %></h2></header>
    <div class="pages">
      <% @items = tab[:pages] %>
      <%= render_page_list %>
    </div>
    <nav class="feed">
      <%= link_to t('ss.links.more'), tab[:url], class: "more" if tab[:url] %>
      <%= link_to "RSS", tab[:rss], class: "rss" if tab[:rss] %>
    </nav>
  </article>
  <% end %>
</div>
