<nav class="mod-navi current-navi">
  <h2><%= link_to @cur_site.menu_portal_label || t('modules.gws/portal'), "#{gws_portal_path}/", class: "icon-portal" %></h2>
  <h3><%= link_to t('gws/portal.self_portal'), gws_portal_user_path(user: @cur_user.id), class: "icon-portal" %></h3>

  <% @cur_user.groups.in_group(@cur_site).each do |group| %>
    <% next if group.id == @cur_site.id %>
    <% portal = group.find_portal_setting(cur_user: @cur_user, cur_site: @cur_site) %>
    <% if portal.portal_readable?(@cur_user, site: @cur_site) %>
      <h3><%= link_to group.trailing_name, gws_portal_group_path(group: group) %></h3>
    <% end %>
  <% end %>

  <% portal = @cur_site.find_portal_setting(cur_user: @cur_user, cur_site: @cur_site) %>
  <% if portal.portal_readable?(@cur_user, site: @cur_site) %>
    <h3><%= link_to t('gws/portal.tabs.root_portal'), gws_portal_group_path(group: @cur_site) %></h3>
  <% end %>

  <% if params[:group].present? %>
    <% if @portal.allowed?(:edit, @cur_user, site: @cur_site, strict: true) %>
      <h2><%= @portal.portal_group.trailing_name %></h2>
      <h3><%= link_to t("gws/portal.links.arrange_portlets"), gws_portal_group_layouts_path, class: "management" %></h3>
      <h3><%= link_to t("gws/portal.links.manage_portlets"), gws_portal_group_portlets_path, class: "management" %></h3>
      <h3><%= link_to t("gws/portal.links.settings"), gws_portal_group_settings_path, class: "management" %></h3>
    <% end %>
  <% end %>

  <% if params[:user].present? %>
    <% if @portal.allowed?(:edit, @cur_user, site: @cur_site, strict: true) %>
      <h2><%= @portal.portal_user.name %></h2>
      <h3><%= link_to t("gws/portal.links.arrange_portlets"), gws_portal_user_layouts_path, class: "management" %></h3>
      <h3><%= link_to t("gws/portal.links.manage_portlets"), gws_portal_user_portlets_path, class: "management" %></h3>
      <h3><%= link_to t("gws/portal.links.settings"), gws_portal_user_settings_path, class: "management" %></h3>
    <% end %>
  <% end %>

  <% if params[:group].present? || params[:user].present? %>
    <% if Gws::Portal::UserSetting.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3><%= link_to t('gws/portal.user_portal'), gws_portal_setting_users_path, class: "management" %></h3>
    <% end %>
    <% if Gws::Portal::GroupSetting.allowed?(:read, @cur_user, site: @cur_site) %>
      <h3><%= link_to t('gws/portal.group_portal'), gws_portal_setting_groups_path, class: "management" %></h3>
    <% end %>
  <% end %>
</nav>

<%= render partial: 'gws/main/navi' %>
