<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <% if params.dig(:s, :target) == 'descendant' %>
    <span class="filename"><%= item.filename %></span>
  <% else %>
    <span class="filename"><%= File.basename item.filename %></span>
  <% end %>
<% end %>

<%= render template: 'cms/crud/index' %>
