<%
  controller_name = "cms/apis/large_file_upload"
  init_url  = url_for(controller: controller_name, action: "init_files", format: "json");
  create_url = url_for(controller: controller_name, action: "create", format: "json");
  finalize_url = url_for(controller: controller_name, action: "finalize", format: "json");
%>

<%= form_for :item, url: { action: :create }, html: { id: "item-form", method: :post, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t("ss.large_file_upload") %></h2></header>
    <dl class="see">
      <dd>
        <% if @is_ie %>
          <p class="mb-4" style="color: red;">
            <%= t('ss.info.ie_browser') %>
          </p>
        <% end %>
        <input type="file" id="file-picker" name="fileList" webkitdirectory multiple />
        <%= button_tag t('ss.buttons.upload'), type: "button", class: "import-button", disabled: true %>
      </dd>
    </dl>
  </section>

  <section class="main-box progress">
    <header>
      <h2><%= t('ss.upload_status') %></h2>
    </header>
    <dd></dd>
  </section>
<% end %>

<style>
  .file-list {
    border: 2px solid #f2f2f2;
    display: inline-block;
    padding: 10px 30px;
    height: 160px;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .file-list li {
    display: flex;
  }

  .file-list li .mr-4 {
    flex-basis: calc(100% - 160px);
  }
</style>

<script src="/assets/ss/large_file_upload.js"></script>

<%= jquery do %>
new SS_Large_File_Upload(
  $('.import-button'), {
    initUrl: '<%= init_url %>',
    createUrl: '<%= create_url %>',
    finalizeUrl: '<%= finalize_url %>'
    }
)
<% end %>
