  <style>
    .file-list {
      display: inline-block;
    }

    .file-list li {
      display: flex;
      align-items: center;
    }

    .file-list li .mr-4 {
      flex-basis: calc(100% - 160px);
      margin-right: 40px;
      /* プログレスバーの横幅160px、ファイル名との間隔40px */
    }
  </style>


<%
  init_url  = url_for(controller: "cms/apis/large_files", action: "init_bid_files", format: "json");
  create_url = url_for(controller: "cms/apis/large_files", action: "create", format: "json");
  finalize_url = url_for(controller: "cms/apis/large_files", action: "finalize", format: "json");
  delete_init_files_url = url_for(controller: "cms/apis/large_files", action: "delete_init_files", format: "json");
%>
<%= form_for :item, url: { action: :create }, html: { id: "item-form", method: :post, multipart: true } do |f| %>
  <%= error_messages_for :item %>

  <section class="main-box">
    <header><h2><%= t("ss.import") %></h2></header>

    <dl class="see">
      <dd>
        <% if @is_ie %>
          <p class="mb-4" style="color: red;">ご利用のブラウザ（IE）では大容量アップロードを実行できません。他のブラウザ（Google Chrome等）をご利用ください。</p>
        <% end %>
        <input type="file" id="file-picker" name="fileList" webkitdirectory multiple />
        <%= button_tag "インポート", type: "button", class: "import-button", disabled: true %>
      </dd>
    </dl>
  </section>

  <section class="main-box progress">
    <header><h2>アップロードプログレス</h2></header>
    <dd></dd>
  </section>
<% end %>

<script src="/assets/ss/large_file.js"></script>

<%= jquery do %>
new Cms_Large_File(
  $('.import-button'), '<%= init_url %>', '<%= create_url %>', '<%= finalize_url %>', '<%= delete_init_files_url %>'
)
<% end %>
