<dl class="see">
  <dt><%= @model.t :name %><%= @model.tt :name %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :description %><%= @model.tt :description %></dt>
  <dd><%= f.text_area :description %></dd>

  <% if @item.new_record? %>
    <dt><%= @model.t :anonymous_state %><%= @model.tt :anonymous_state %></dt>
    <dd><%= f.select :anonymous_state, @item.anonymous_state_options %> <span><%= t("gws/survey.notices.anonymous_state") %></span></dd>

    <dt><%= @model.t :file_state %><%= @model.tt :file_state %></dt>
    <dd><%= f.select :file_state, @item.file_state_options, include_blank: true %> <span><%= t("gws/survey.notices.file_state") %></span></dd>
  <% else %>
    <dt><%= @model.t :anonymous_state %></dt>
    <dd><%= @item.label :anonymous_state %></dd>

    <dt><%= @model.t :file_state %></dt>
    <dd><%= @item.label :file_state %></dd>
  <% end %>

  <dt><%= @model.t :file_edit_state %><%= @model.tt :file_edit_state %></dt>
  <dd><%= f.select :file_edit_state, @item.file_edit_state_options %></dd>

  <dt><%= @model.t :due_date %><%= @model.tt :due_date %></dt>
  <dd><%= f.ss_datetime_field :due_date %></dd>

  <dt><%= @model.t :release_date %><%= @model.tt :release_date %></dt>
  <dd><%= f.ss_datetime_field :release_date %></dd>

  <dt><%= @model.t :close_date %><%= @model.tt :close_date %></dt>
  <dd><%= f.ss_datetime_field :close_date %></dd>

  <dt><%= @model.t :memo %><%= @model.tt :memo %></dt>
  <dd><%= f.text_area :memo %></dd>
</dl>
