<%= form_for :copy, url: { action: :copy }, html: { id: "item-form", method: :post } do |f| %>

<section class="main-box">
  <header><h2><%= t("ss.confirm.clone") %></h2></header>
  <%= error_messages_for :copy %>

  <dl class="see">
    <dt><%= @model.t :name %><%= @model.tt :name %></dt>
    <dd><%= f.text_field :name, class: :name %></dd>

    <dt><%= @model.t :anonymous_state %><%= @model.tt :anonymous_state %></dt>
    <dd><%= f.select :anonymous_state, @item.anonymous_state_options %> <span><%= t("gws/survey.notices.anonymous_state") %></span></dd>

    <dt><%= @model.t :file_state %><%= @model.tt :file_state %></dt>
    <dd><%= f.select :file_state, @item.file_state_options, include_blank: true %> <span><%= t("gws/survey.notices.file_state") %></span></dd>
  </dl>
</section>

<footer class="send">
  <%= f.submit t("ss.buttons.save"), class: "btn-primary", data: { disable_with: t("ss.buttons.saving") } %>
  <%= f.button t("ss.buttons.cancel"), type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;", class: "btn-default" %>
</footer>

<% end %>
