<% @tap_menu = proc do |item| %>
  <%= link_to t('ss.links.show'), action: :show, id: item if item.allowed?(:read, @cur_user, site: @cur_site) %>
  <% if item.closed? %>
    <%= link_to t('ss.links.edit'), action: :edit, id: item if item.allowed?(:edit, @cur_user, site: @cur_site) %>
    <%= link_to t('ss.links.delete'), action: :soft_delete, id: item if item.allowed?(:delete, @cur_user, site: @cur_site) %>
  <% end %>
<% end %>

<% @index_meta = proc do |item| %>
  <span class="datetime"><%= ss_time_tag item.updated %></span>
  <span class="state"><%= item.label(:state) %></span>
  <span class="order"><%= item.order %></span>
  <span class="categories">
    <% item.categories.compact.each do |category| %>
      <%= link_to category.trailing_name, url_for(action: :index, category_id: category), class: 'gws-category-label', style: category_label_css(category) %>
    <% end %>
  </span>
<% end %>

<%= render template: 'gws/crud/index' %>
