<%= form_for :item, url: { action: :publish }, html: { method: :post, id: "item-form" } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view" id="addon-basic">
      <div class="addon-head"><h2><%= t('ss.confirm.publish') %></h2></div>
      <div class="addon-body">
        <%= render template: '_publish', locals: { f: f } %>
      </div>
    </div>
  </div>

  <footer class="send ss-sticky ss-sticky-bottom">
    <%= f.submit t('ss.buttons.save'), class: 'btn-primary save', data: { disable_with: t("ss.buttons.saving") } %>
    <%= f.button t('ss.buttons.cancel'), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
  </footer>
<% end %>
