<nav class="nav-menu">
  <% if params[:action] =~ /import/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t("ss.links.back_to_index"), action: :index %>
      <%= link_to t("ss.links.download"), action: :download %>
      <%= link_to t("ss.links.import"), action: :import %>
    <% end %>
  <% elsif params[:action] =~ /index/ %>
    <% if @model.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t("ss.links.new"), action: :new %>
      <%= link_to t("ss.links.download"), action: :download %>
      <%= link_to t("ss.links.import"), action: :import %>
    <% end %>
  <% elsif params[:action] =~ /new|create/ %>
    <%= link_to t("ss.links.back_to_index"), action: :index %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t("ss.links.back_to_show"), action: :show, id: @item %>
    <% end %>
    <%= link_to t("ss.links.back_to_index"), action: :index %>
  <% else %>
    <% if @item.allowed?(:edit, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t("garbage.edit_page"), action: :edit, id: @item %>
    <% end %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to t("ss.links.delete"), action: :delete, id: @item %>
    <% end %>
    <%= link_to :"cms.view_page", @item.full_url, target: :_blank if @item.public? %>
    <%= link_to t("ss.links.back_to_index"), action: :index %>
  <% end %>
</nav>

