<section class="main-box">
  <header>
    <h2><%= t("modules.addons.garbage/body") %></h2>
  </header>
  <dl class="see body">
    <dt><%= @item.class.t :name %></dt>
    <dd><%= @item.name %></dd>

    <dt><%= @item.class.t :remark %></dt>
    <dd><%= @item.remark %></dd>

    <dt><%= t("modules.addons.garbage/category") %></dt>
    <dd><%= @item.send(:categories).pluck(:name).join(", ") %></dd>
  </dl>
</section>
