<% if @item.respond_to?(:form) && ancestral_forms.present? %>
  <%
    if params[:form_id].present?
      form = ancestral_forms.find(params[:form_id]) rescue nil
      if form.present?
        @item.form_id = form.id
      end
    elsif params.key?(:form_id)
      @item.form_id = nil
    end

    cur_form = @item.form
  %>
  <div class="col12 mb-3">
    <label><%= @model.t :form_id %><%= @model.tt :form_id %></label>
    <div class="input-group">
      
      <%= f.select(:form_id, options_from_collection_for_select(ancestral_forms, :id, :name, selected: cur_form.try(:id)), { include_blank: true }) %>
      <div class="input-group-append"><%= button_tag(t('ss.buttons.change'), type: :button, class: %w(btn btn-outline-secondary)) %></div>
    </div>

    <%= jquery do %>
      Cms_TemplateForm.render({
        formUrlTemplate: <%== cms_apis_form_path(id: ':id', item_type: 'page', item_id: @item.new_record? ? nil : @item.id).to_json %>
      });
    <% end %>
  </div>
<% end %>
