<% @index_meta = proc do |item| %>
  <span class="id">#<%= item.id %></span>
  <% if item.try(:updated) %>
    <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
  <% end %>
  <% if item.try(:filename) %>
    <% if params.dig(:s, :target) != 'descendant' %>
    <span class="filename"><%= File.basename item.filename %></span>
    <% else %>
    <span class="filename"><%= item.filename %></span>
    <% end %>
  <% end %>
  <% if item.try(:route) %>
    <span class="route"><%= t "modules.#{item.route.sub(/\/.*/, '')}" %></span>
  <% end %>
  <% if item.try(:status) %>
    <span class="state"><%= t "ss.state.#{item.status}" %></span>
  <% end %>
  <% if item.try(:tags) %>
    <span class="tags"><%= item.tags.join(",") %></span>
  <% end %>
<% end %>

<%= render file: 'cms/crud/index' %>
