<div class="michecker" id="ss-michecker">
  <div class="michecker__main">
    <iframe class="michecker__main-content" src="<%= cms_preview_path(path: @item.url[1..-1], "no-controller" => true) %>" frameborder="none"></iframe>
  </div>
  <div class="michecker__footer">
    <div class="michecker-head">
      <h5>miChecker</h5>
      <button type="button" class="btn btn-michecker-start" disabled="disabled">miChecker を実行し結果を確認する</button>
      <button type="button" class="btn btn-michecker-settings">設定</button>

      <div class="michecker-notice">
        プレビューをロード中です <%= loading %>
      </div>
    </div>

    <div class="michecker-report__selector <% if @result.blank? %>hide<% end %>">
      <select name="report-type">
        <option value="accessibility">アクセシビリティ検証</option>
        <option value="low-vision">視覚化</option>
      </select>
    </div>

    <% if @accessibility_result.present? %>
    <div class="michecker-report__accessibility hide">
      <%= render "ss/crud/addon", addon: { head: "種別", class: "michecker-report__filter" } do %>
        <ul class="michecker-report__filter-items">
          <% all_count, error_count, warning_count, caution_count, notice_count = @accessibility_result.aggregate_counts %>
          <li class="michecker-report__filter-item-all">すべての項目 <span class="michecker-report__filter-item-badge"><%= all_count %></span></li>
          <li class="michecker-report__filter-item-separator"><hr></li>
          <li class="michecker-report__filter-item-error">問題あり <span class="michecker-report__filter-item-badge"><%= error_count %></span></li>
          <li class="michecker-report__filter-item-warning">問題の可能性大 <span class="michecker-report__filter-item-badge"><%= warning_count %></span></li>
          <li class="michecker-report__filter-item-caution">要判断箇所 <span class="michecker-report__filter-item-badge"><%= caution_count %></span></li>
          <li class="michecker-report__filter-item-notice">手動確認 <span class="michecker-report__filter-item-badge"><%= notice_count %></span></li>
        </ul>
      <% end %>

      <%= render "ss/crud/addon", addon: { class: "michecker-report__result" } do %>
        <div class="michecker-report__result-container">
          <div class="michecker-report__result-controller">
            <button type="button" class="btn"><span class="material-icons md-13">settings</span> 表示列設定</button>
            <button type="button" class="btn"><span class="material-icons md-13">get_app</span> CSVダウンロード</button>
          </div>

          <table class="index" style="width: 140em;">
            <thead>
            <tr>
              <th style="width: 12em;">レベル</th>
              <%# <th style="width: 12em;">知覚可能</th> %>
              <%# <th style="width: 12em;">操作可能</th> %>
              <%# <th style="width: 12em;">理解可能</th> %>
              <%# <th style="width: 12em;">堅牢</th> %>
              <%# <th style="width: 12em;">WCAG 2.0</th> %>
              <%# <th style="width: 12em;">Section508</th> %>
              <%# <th style="width: 12em;">JIS</th> %>
              <th style="width: 12em;">達成方法</th>
              <th>内容</th>
            </tr>
            </thead>
            <tbody>
            <% @accessibility_result.items.take(5).each do |item| %>
              <tr>
                <td><%= item.severityStr %></td>
                <% if false %><td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[0] } %></td><% end %>
                <% if false %><td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[1] } %></td><% end %>
                <% if false %><td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[2] } %></td><% end %>
                <% if false %><td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[3] } %></td><% end %>
                <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "WCAG 2.0" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
                <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "Section508" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
                <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "JIS" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
                <td><%= item.evaluationItem["tableDataTechniques"] %></td>
                <td><%= item.description %></td>
              </tr>
            <% end %>
            </tbody>
            <tfooter>
              <tr>
                <td colspan="9">
                  <%= @accessibility_result.items.count.to_s(:delimited) %>件中<%= 5 %>件を表示しています。
                  <a>すべて表示</a>
                </td>
              </tr>
            </tfooter>
          </table>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @lowvision_result.present? %>
    <div class="michecker-report__low-vision hide">
      <div class="michecker-report__low-vision-result-table">
        <%= render "ss/crud/addon", addon: { head: "種別", class: "michecker-report__filter" } do %>
          <ul class="michecker-report__filter-items">
            <% all_count, error_count, warning_count, caution_count, notice_count = @lowvision_result.aggregate_counts %>
            <li class="michecker-report__filter-item-all">すべての項目 <span class="michecker-report__filter-item-badge"><%= all_count %></span></li>
            <li class="michecker-report__filter-item-separator"><hr></li>
            <li class="michecker-report__filter-item-error">問題あり <span class="michecker-report__filter-item-badge"><%= error_count %></span></li>
            <li class="michecker-report__filter-item-warning">問題の可能性大 <span class="michecker-report__filter-item-badge"><%= warning_count %></span></li>
            <li class="michecker-report__filter-item-caution">要判断箇所 <span class="michecker-report__filter-item-badge"><%= caution_count %></span></li>
            <li class="michecker-report__filter-item-notice">手動確認 <span class="michecker-report__filter-item-badge"><%= notice_count %></span></li>
          </ul>
        <% end %>

        <%= render "ss/crud/addon", addon: { class: "michecker-report__result" } do %>
          <div class="michecker-report__result-controller">
            <button type="button" class="btn"><span class="material-icons md-13">settings</span> 表示列設定</button>
            <button type="button" class="btn"><span class="material-icons md-13">get_app</span> CSVダウンロード</button>
          </div>

          <div class="michecker-report__result-container">
            <table class="index" style="width: 170em;">
              <thead>
              <tr>
                <th style="width: 12em;">レベル</th>
                <%# <th style="width: 12em;">種類</th> %>
                <%# <th style="width: 12em;">WCAG 2.0</th> %>
                <%# <th style="width: 12em;">Section508</th> %>
                <%# <th style="width: 12em;">JIS</th> %>
                <%# <th style="width: 12em;">深刻度</th> %>
                <%# <th style="width: 12em;">前景色</th> %>
                <%# <th style="width: 12em;">背景色</th> %>
                <%# <th style="width: 12em;">X座標</th> %>
                <%# <th style="width: 12em;">Y座標</th> %>
                <%# <th style="width: 12em;">面積</th> %>
                <th style="width: 12em;">達成方法</th>
                <th>内容</th>
              </tr>
              </thead>
              <tbody>
              <% @lowvision_result.items.take(5).each do |item| %>
                <tr>
                  <td><%= item.severityStr %></td>
                  <% if false %><td><%= item.iconTooltip %></td><% end %>
                  <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "WCAG 2.0" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
                  <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "Section508" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
                  <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "JIS" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
                  <% if false %><td><%= item.severityLV %></td> <% end %>
                  <% if false %><td><%= item.foreground %></td><% end %>
                  <% if false %><td><%= item.background %></td><% end %>
                  <% if false %><td><%= item.x %></td><% end %>
                  <% if false %><td><%= item.y %></td><% end %>
                  <% if false %><td><%= item.area %></td> <% end %>
                  <td><%= item.evaluationItem["tableDataTechniques"] %></td>
                  <td><%= item.description %></td>
                </tr>
              <% end %>
              </tbody>
              <tfooter>
                <tr>
                  <td colspan="9">
                    <%= @lowvision_result.items.count.to_s(:delimited) %>件中<%= 5 %>件を表示しています。
                    <a>すべて表示</a>
                  </td>
                </tr>
              </tfooter>
            </table>
          </div>
        <% end %>
      </div> <%# michecker-report__low-vision-result-table %>
      <div class="michecker-report__low-vision-image">
        <%= image_tag(url_for(action: "michecker_lowvision_result", type: "source"), class: "michecker-report__low-vision-image-source") %>
        <%= image_tag(url_for(action: "michecker_lowvision_result", type: "result"), class: "michecker-report__low-vision-image-result") %>
      </div>
    </div>
    <% end %>
  </div>

  <%= jquery do %>
    $(".michecker__main-content").on("load", function() {
      $(".michecker-notice").html("実行準備が整いました。");
      $(".btn-michecker-start").prop("disabled", false);
    });

    $(".btn-michecker-start").on("click", function() {
      var $this = $(this);
      $this.prop("disabled", true);

      $(".michecker-report__selector").addClass("hide");
      $(".michecker-report__accessibility").addClass("hide");
      $(".michecker-notice").html("miChecker を実行中 " + SS.loading).removeClass("hide");

      $.ajax({
        url: "<%= url_for(action: "michecker_start", format: "json") %>",
        method: "POST",
        dataType: "json",
      }).done(function(data, status, xhr) {
        setTimeout(function() {
          $this.prop("disabled", false);
          $(".michecker-notice").html("しばらく待ってからページを再読み込みしてください。");
          $(".michecker-report__selector").removeClass("hide");
          $(".michecker-report__accessibility").removeClass("hide");
        }, 5000);
      }).fail(function(xhr, status, error) {
        $this.prop("disabled", false);
        $(".michecker-notice").html("miChecker の実行エラー").removeClass("hide");
      });
    });

    $(".michecker-report__selector [name=report-type]").on("change", function() {
      var $this = $(this);
      var target = $this.val();
      if (! target) {
        return;
      }

      if (target === "accessibility") {
        $(".michecker-report__accessibility").removeClass("hide");
        $(".michecker-report__low-vision").addClass("hide");
      } else {
        $(".michecker-report__accessibility").addClass("hide");
        $(".michecker-report__low-vision").removeClass("hide");
      }
    }).trigger("change");

    $(".btn-michecker-settings").on("click", function(ev) {
      ev.preventDefault();

      $.colorbox({
        html: "<h2>miCheck の設定</h2><div>ただいま開発中。</div>", fixed: true, width: "90%", height: "90%"
      });
    });
  <% end %>
</div>
