<%
  return if @accessibility_result.blank?
%>

<%= render "ss/crud/addon", addon: { head: t('cms.cms/michecker/report.type'), class: "michecker-report__filter" } do %>
  <ul class="michecker-report__filter-items">
    <% all_count, error_count, warning_count, caution_count, notice_count = @accessibility_result.aggregate_counts %>
    <li class="michecker-report__filter-item-all"><%= t('cms.cms/michecker/report.all') %> <span class="michecker-report__filter-item-badge"><%= all_count %></span></li>
    <li class="michecker-report__filter-item-separator"><hr></li>
    <li class="michecker-report__filter-item-error"><%= t('cms.cms/michecker/report.error') %> <span class="michecker-report__filter-item-badge"><%= error_count %></span></li>
    <li class="michecker-report__filter-item-warning"><%= t('cms.cms/michecker/report.warning') %> <span class="michecker-report__filter-item-badge"><%= warning_count %></span></li>
    <li class="michecker-report__filter-item-caution"><%= t('cms.cms/michecker/report.caution') %> <span class="michecker-report__filter-item-badge"><%= caution_count %></span></li>
    <li class="michecker-report__filter-item-notice"><%= t('cms.cms/michecker/report.notice') %> <span class="michecker-report__filter-item-badge"><%= notice_count %></span></li>
  </ul>
<% end %>

<%= render "ss/crud/addon", addon: { class: "michecker-report__result" } do %>
  <div class="michecker-report__result-container">
    <div class="michecker-report__result-controller">
      <a class="btn btn-michecker-report-download" href="<%= url_for(action: "michecker_result", type: "accessibility_report", _: @result.updated.to_i, format: "csv") %>">
        <span class="material-icons md-13">get_app</span> <%= t('cms.cms/michecker/report.download') %>
      </a>
    </div>
    <div class="michecker-report__result-controller">
      <%= t('cms.cms/michecker/report.display_column') %>
      <a class="toggle-vis" data-column="0" id="a-column0"><%= Cms::Michecker::Accessibility.t :severityStr %></a> -
      <a class="toggle-vis" data-column="1" id="a-column1"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics0 %></a> -
      <a class="toggle-vis" data-column="2" id="a-column2"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics1 %></a> -
      <a class="toggle-vis" data-column="3" id="a-column3"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics2 %></a> -
      <a class="toggle-vis" data-column="4" id="a-column4"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics3 %></a> -
      <a class="toggle-vis" data-column="5" id="a-column5"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataGuideline0 %></a> -
      <a class="toggle-vis" data-column="6" id="a-column6"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataGuideline1 %></a> -
      <a class="toggle-vis" data-column="7" id="a-column7"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataGuideline2 %></a> -
      <a class="toggle-vis" data-column="8" id="a-column8"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataTechniques %></a> -
      <a class="toggle-vis" data-column="9" id="a-column9"><%= Cms::Michecker::Accessibility.t :highlightTargetPaths %></a> -
      <a class="toggle-vis" data-column="10" id="a-column10"><%= Cms::Michecker::Accessibility.t :description %></a>
    </div>
    <table class="index" id="accessibility">
      <thead>
      <tr>
        <th><%= Cms::Michecker::Accessibility.t :severityStr %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics0 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics1 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics2 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataMetrics3 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataGuideline0 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataGuideline1 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataGuideline2 %></th>
        <th><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataTechniques %></th>
        <th><%= Cms::Michecker::Accessibility.t :highlightTargetPaths %></th>
        <th><%= Cms::Michecker::Accessibility.t :description %></th>
      </tr>
      </thead>
      <tbody>
      <% @accessibility_result.items.each do |item| %>
        <tr <% if item.highlightTargetPaths.present? && item.highlightTargetPaths.length == 1 %>data-css-path="<%= item.highlightTargetPaths.first["cssPath"] %>"<% end %>>
          <td><%= item.severityStr %></td>
          <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[0] } %></td>
          <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[1] } %></td>
          <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[2] } %></td>
          <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[3] } %></td>
          <td><%= item.evaluationItem["tableDataGuideline"].try { |metrics| metrics[0] } %></td>
          <td><%= item.evaluationItem["tableDataGuideline"].try { |metrics| metrics[1] } %></td>
          <td><%= item.evaluationItem["tableDataGuideline"].try { |metrics| metrics[2] } %></td>
          <td><%= item.evaluationItem["tableDataTechniques"] %></td>
          <td>
            <% if item.highlightTargetPaths.present? %>
              <% item.highlightTargetPaths.each_with_index do |highlightTargetPath, index| %>
                <span class="michecker-report__result-html-problem-element" data-css-path="<%= highlightTargetPath["cssPath"] %>"><%= index + 1 %></span>
              <% end %>
            <% end %>
          </td>
          <td><%= item.description %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= jquery do %>
  $(document).ready( function () {
    var table = $('#accessibility').DataTable({
      lengthMenu: [ [5, 10, 25, -1], [5, 10, 25, "全て"] ],
      scrollY: "300px",
      scrollX: true,
      scrollCollapse: true,
      oLanguage: {
        sLengthMenu: "表示　_MENU_　件",
        oPaginate: {
          sNext: "次へ",
          sPrevious: "前へ"
        },
        sInfo: "_TOTAL_ 件中 _START_件から_END_件 を表示しています",
        sSearch: "検索 ",
        sZeroRecords: "表示するデータがありません",
        sInfoEmpty: "0 件中 0件 を表示しています",
        sInfoFiltered: "全 _MAX_ 件から絞り込み"
      }
    });
    $('a.toggle-vis').on( 'click', function (e) {
      e.preventDefault();
      var column = table.column( $(this).attr('data-column') );
      column.visible( ! column.visible() );
    });
    $('.toggle-vis').click(function(){
      $(this).toggleClass('michecker-inactive');
    });
    <% if !SS.config.cms.michecker["column"]["severityStr"] %>
      $('#a-column0').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column0').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataMetrics0"] %>
    $('#a-column1').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column1').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataMetrics1"] %>
      $('#a-column2').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column2').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataMetrics2"] %>
      $('#a-column3').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column3').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataMetrics3"] %>
      $('#a-column4').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column4').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataGuideline0"] %>
      $('#a-column5').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column5').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataGuideline1"] %>
      $('#a-column6').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column6').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataGuideline2"] %>
      $('#a-column7').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column7').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataTechniques"] %>
      $('#a-column8').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column8').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["highlightTargetPaths"] %>
      $('#a-column9').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column9').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["description"] %>
      $('#a-column10').toggleClass('michecker-inactive');
      var column = table.column( $('#a-column10').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
  });
<% end %>