<div class="michecker">
  <div class="michecker__main">
    <iframe class="michecker__main-content" src="<%= cms_preview_path(path: @item.url[1..-1]) %>" frameborder="none"></iframe>
  </div>
  <div class="michecker__footer">
    <div class="michecker-report">
      <%= render "ss/crud/addon", addon: { head: "種別", class: "michecker-report__filter" } do %>
        <ul class="michecker-report__filter-items">
          <li class="michecker-report__filter-item-all">すべての項目 <span class="michecker-report__filter-item-badge">50</span></li>
          <li class="michecker-report__filter-item-separator"><hr></li>
          <li class="michecker-report__filter-item-error">問題あり <span class="michecker-report__filter-item-badge">1</span></li>
          <li class="michecker-report__filter-item-warning">問題の可能性大 <span class="michecker-report__filter-item-badge">2</span></li>
          <li class="michecker-report__filter-item-caution">要判断箇所 <span class="michecker-report__filter-item-badge">49</span></li>
          <li class="michecker-report__filter-item-notice">手動確認 <span class="michecker-report__filter-item-badge">0</span></li>
        </ul>
      <% end %>

      <div class="michecker-report__result">
        <div class="cms-tabs michecker-report__result-tabs">
          <a class="michecker-report__result-tab-accessibility current" href="#michecker-report-accessibility">
            <span class="tab-name">アクセシビリティ検証</span>
          </a>
          <a class="michecker-report__result-tab-low-vision" href="#michecker-report-low-vision">
            <span class="tab-name">視覚化</span>
          </a>
        </div>

        <%= render "ss/crud/addon", addon: { id: "michecker-report-accessibility", class: "michecker-report__result-accessibility" } do %>
          <div class="michecker-report__result-container">
            <table class="index" style="width: 140em;">
              <thead>
              <tr>
                <th style="width: 12em;">知覚可能</th>
                <th style="width: 12em;">操作可能</th>
                <th style="width: 12em;">理解可能</th>
                <th style="width: 12em;">堅牢</th>
                <th style="width: 12em;">WCAG 2.0</th>
                <th style="width: 12em;">Section508</th>
                <th style="width: 12em;">JIS</th>
                <th style="width: 12em;">達成方法</th>
                <th>内容</th>
              </tr>
              </thead>
              <tbody>
              <% @accessibility_result.items.each do |item| %>
                <tr>
                  <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[0] } %></td>
                  <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[1] } %></td>
                  <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[2] } %></td>
                  <td><%= item.evaluationItem["tableDataMetrics"].try { |metrics| metrics[3] } %></td>
                  <td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "WCAG 2.0" }.map { |guideline| guideline["id"] }.join(", ") %></td>
                  <td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "Section508" }.map { |guideline| guideline["id"] }.join(", ") %></td>
                  <td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "JIS" }.map { |guideline| guideline["id"] }.join(", ") %></td>
                  <td><%= item.evaluationItem["tableDataTechniques"] %></td>
                  <td><%= item.description %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>

        <%= render "ss/crud/addon", addon: { id: "michecker-report-low-vision", class: "michecker-report__result-low-vision hide" } do %>
          <div class="michecker-report__result-container">
            <table class="index">
              <thead>
              <tr>
                <th>種類</th>
                <th>WCAG 2.0</th>
                <th>Section508</th>
                <th>JIS</th>
                <th>深刻度</th>
                <th>前景色</th>
                <th>背景色</th>
                <th>X座標</th>
                <th>Y座標</th>
                <th>面積</th>
                <th>達成方法</th>
                <th>内容</th>
              </tr>
              </thead>
              <tbody>
              <% @lowvision_result.items.each do |item| %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><%= item.description %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= jquery do %>
    $(".michecker-report__result-tabs a").on("click", function(ev) {
      ev.preventDefault();

      var $this = $(this);
      if ($this.hasClass("current")) {
        return false;
      }

      var id = $this.attr("href");
      if (! id) {
        return false;
      }

      $(".michecker-report__result-tabs a").removeClass("current");
      $this.addClass("current");

      $(".michecker-report__result-accessibility").addClass("hide");
      $(".michecker-report__result-low-vision").addClass("hide");
      $(id).removeClass("hide");
      return false;
    });
  <% end %>
</div>
