<%
  return if @lowvision_result.blank?
%>

<div class="michecker-report__low-vision-result-table">
  <%= render "ss/crud/addon", addon: { head: t('cms.cms/michecker/report.type'), class: "michecker-report__filter" } do %>
    <ul class="michecker-report__filter-items">
      <% all_count, error_count, warning_count, caution_count, notice_count = @lowvision_result.aggregate_counts %>
      <li class="michecker-report__filter-item-all"><%= t('cms.cms/michecker/report.all') %> <span class="michecker-report__filter-item-badge"><%= all_count %></span></li>
      <li class="michecker-report__filter-item-separator"><hr></li>
      <li class="michecker-report__filter-item-error"><%= t('cms.cms/michecker/report.error') %> <span class="michecker-report__filter-item-badge"><%= error_count %></span></li>
      <li class="michecker-report__filter-item-warning"><%= t('cms.cms/michecker/report.warning') %> <span class="michecker-report__filter-item-badge"><%= warning_count %></span></li>
      <li class="michecker-report__filter-item-caution"><%= t('cms.cms/michecker/report.caution') %> <span class="michecker-report__filter-item-badge"><%= caution_count %></span></li>
      <li class="michecker-report__filter-item-notice"><%= t('cms.cms/michecker/report.notice') %> <span class="michecker-report__filter-item-badge"><%= notice_count %></span></li>
    </ul>
  <% end %>

  <%= render "ss/crud/addon", addon: { class: "michecker-report__result" } do %>
    <div class="michecker-report__result-controller">
      <a class="btn btn-michecker-report-download" href="<%= url_for(action: "michecker_result", type: "lowvision_report", _: @result.updated.to_i, format: "csv") %>">
        <span class="material-icons md-13">get_app</span> <%= t('cms.cms/michecker/report.download') %>
      </a>
    </div>
    <div class="michecker-report__result-controller">
      <%= t('cms.cms/michecker/report.display_column') %>
      <a class="toggle-vis" data-column="0" id="l-column0"><%= Cms::Michecker::LowVision.t :severityStr %></a> -
      <a class="toggle-vis" data-column="1" id="l-column1"><%= Cms::Michecker::LowVision.t :iconTooltip %></a> -
      <a class="toggle-vis" data-column="2" id="l-column2"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline0 %></a> -
      <a class="toggle-vis" data-column="3" id="l-column3"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline1 %></a> -
      <a class="toggle-vis" data-column="4" id="l-column4"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline2 %></a> -
      <a class="toggle-vis" data-column="5" id="l-column5"><%= Cms::Michecker::LowVision.t :severityLV %></a> -
      <a class="toggle-vis" data-column="6" id="l-column6"><%= Cms::Michecker::LowVision.t :foreground %></a> -
      <a class="toggle-vis" data-column="7" id="l-column7"><%= Cms::Michecker::LowVision.t :background %></a> -
      <a class="toggle-vis" data-column="8" id="l-column8"><%= Cms::Michecker::LowVision.t :x %></a> -
      <a class="toggle-vis" data-column="9" id="l-column9"><%= Cms::Michecker::LowVision.t :y %></a> -
      <a class="toggle-vis" data-column="10" id="l-column10"><%= Cms::Michecker::LowVision.t :area %></a> -
      <a class="toggle-vis" data-column="11" id="l-column11"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataTechniques %></a> -
      <a class="toggle-vis" data-column="12" id="l-column12"><%= Cms::Michecker::LowVision.t :description %></a>
    </div>

    <div class="michecker-report__result-container">
      <table class="index" id="lowvision">
        <thead>
        <tr>
          <th><%= Cms::Michecker::LowVision.t :severityStr %></th>
          <th><%= Cms::Michecker::LowVision.t :iconTooltip %></th>
          <th><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline0 %></th>
          <th><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline1 %></th>
          <th><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline2 %></th>
          <th><%= Cms::Michecker::LowVision.t :severityLV %></th>
          <th><%= Cms::Michecker::LowVision.t :foreground %></th>
          <th><%= Cms::Michecker::LowVision.t :background %></th>
          <th><%= Cms::Michecker::LowVision.t :x %></th>
          <th><%= Cms::Michecker::LowVision.t :y %></th>
          <th><%= Cms::Michecker::LowVision.t :area %></th>
          <th><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataTechniques %></th>
          <th><%= Cms::Michecker::LowVision.t :description %></th>
        </tr>
        </thead>
        <tbody>
        <% @lowvision_result.items.each do |item| %>
          <tr data-css-path="<%= item.cssPath %>">
            <td><%= item.severityStr %></td>
            <td><%= item.iconTooltip %></td>
            <td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "WCAG 2.0" }.map { |guideline| guideline["id"] }.join(", ") %></td>
            <td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "Section508" }.map { |guideline| guideline["id"] }.join(", ") %></td>
            <td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "JIS" }.map { |guideline| guideline["id"] }.join(", ") %></td>
            <td><%= item.severityLV %></td>
            <td><%= item.foreground %></td>
            <td><%= item.background %></td>
            <td><%= item.x %></td>
            <td><%= item.y %></td>
            <td><%= item.area %></td>
            <td><%= item.evaluationItem["tableDataTechniques"] %></td>
            <td><%= item.description %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div> <%# michecker-report__low-vision-result-table %>
<div class="michecker-report__low-vision-image">
  <%= image_tag(url_for(action: "michecker_result", type: "lowvision_source", _: @result.updated.to_i, format: "jpeg"), class: "michecker-report__low-vision-image-source") %>
  <%= image_tag(url_for(action: "michecker_result", type: "lowvision_result", _: @result.updated.to_i, format: "jpeg"), class: "michecker-report__low-vision-image-result") %>
</div>

<%= jquery do %>
  $(document).ready( function () {
    var table = $('#lowvision').DataTable({
      lengthMenu: [ [5, 10, 25, -1], [5, 10, 25, "全て"] ],
      scrollY: "300px",
      scrollX: true,
      scrollCollapse: true,
      oLanguage: {
        sLengthMenu : "表示　_MENU_　件",
        oPaginate: {
          sNext: "次へ",
          sPrevious: "前へ"
        },
        sInfo: "_TOTAL_ 件中 _START_件から_END_件 を表示しています",
        sSearch: "検索 ",
        sZeroRecords: "表示するデータがありません",
        sInfoEmpty: "0 件中 0件 を表示しています",
        sInfoFiltered: "全 _MAX_ 件から絞り込み"
      }
    });
    $('a.toggle-vis').on( 'click', function (e) {
      e.preventDefault();
      var column = table.column( $(this).attr('data-column') );
      column.visible( ! column.visible() );
    });
    $('.toggle-vis').click(function(){
      $(this).toggleClass('michecker-inactive');
    });
    <% if !SS.config.cms.michecker["column"]["severityStr"] %>
      $('#l-column0').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column0').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["iconTooltip"] %>
      $('#l-column1').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column1').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataGuideline0"] %>
      $('#l-column2').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column2').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataGuideline1"] %>
      $('#l-column3').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column3').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataGuideline2"] %>
      $('#l-column4').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column4').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["severityLV"] %>
      $('#l-column5').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column5').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["foreground"] %>
      $('#l-column6').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column6').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["background"] %>
      $('#l-column7').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column7').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["x"] %>
      $('#l-column8').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column8').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["y"] %>
      $('#l-column9').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column9').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["area"] %>
      $('#l-column10').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column10').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["evaluationItem_tableDataTechniques"] %>
      $('#l-column11').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column11').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
    <% if !SS.config.cms.michecker["column"]["description"] %>
      $('#l-column12').toggleClass('michecker-inactive');
      var column = table.column( $('#l-column12').attr('data-column') );
      column.visible( ! column.visible() );
    <% end %>
  });
<% end %>