<%
  return if @lowvision_result.blank?
%>

<div class="michecker-report__low-vision-result-table">
  <%= render "ss/crud/addon", addon: { head: "種別", class: "michecker-report__filter" } do %>
    <ul class="michecker-report__filter-items">
      <% all_count, error_count, warning_count, caution_count, notice_count = @lowvision_result.aggregate_counts %>
      <li class="michecker-report__filter-item-all">すべての項目 <span class="michecker-report__filter-item-badge"><%= all_count %></span></li>
      <li class="michecker-report__filter-item-separator"><hr></li>
      <li class="michecker-report__filter-item-error">問題あり <span class="michecker-report__filter-item-badge"><%= error_count %></span></li>
      <li class="michecker-report__filter-item-warning">問題の可能性大 <span class="michecker-report__filter-item-badge"><%= warning_count %></span></li>
      <li class="michecker-report__filter-item-caution">要判断箇所 <span class="michecker-report__filter-item-badge"><%= caution_count %></span></li>
      <li class="michecker-report__filter-item-notice">手動確認 <span class="michecker-report__filter-item-badge"><%= notice_count %></span></li>
    </ul>
  <% end %>

  <%= render "ss/crud/addon", addon: { class: "michecker-report__result" } do %>
    <div class="michecker-report__result-controller">
      <a class="btn btn-michecker-report-download" href="<%= url_for(action: "michecker_result", type: "lowvision_report", _: @result.updated.to_i, format: "csv") %>"><span class="material-icons md-13">get_app</span> CSVダウンロード</a>
    </div>
    <div class="michecker-report__result-controller">
      表示列 <a class="toggle-vis" data-column="0"><%= Cms::Michecker::Accessibility.t :severityStr %></a> -
      <a class="toggle-vis" data-column="1"><%= Cms::Michecker::Accessibility.t :evaluationItem_tableDataTechniques %></a> -
      <a class="toggle-vis" data-column="2"><%= Cms::Michecker::Accessibility.t :description %></a>
    </div>

    <div class="michecker-report__result-container">
      <table class="index" id="lowvision">
        <thead>
        <tr>
          <th style="width: 12em;"><%= Cms::Michecker::LowVision.t :severityStr %></th>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :iconTooltip %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline0 %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline1 %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataGuideline2 %></th> %><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :severityLV %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :foreground %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :background %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :x %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :y %></th><% end %>
          <% if false %><th style="width: 12em;"><%= Cms::Michecker::LowVision.t :area %></th><% end %>
          <th style="width: 12em;"><%= Cms::Michecker::LowVision.t :evaluationItem_tableDataTechniques %></th>
          <th><%= Cms::Michecker::LowVision.t :description %></th>
        </tr>
        </thead>
        <tbody>
        <% @lowvision_result.items.each_with_index do |item| %>
          <tr data-css-path="<%= item.cssPath %>">
            <td><%= item.severityStr %></td>
            <% if false %><td><%= item.iconTooltip %></td><% end %>
            <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "WCAG 2.0" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
            <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "Section508" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
            <% if false %><td><%= item.evaluationItem["guidelines"].select { |guideline| guideline["guidelineName"] == "JIS" }.map { |guideline| guideline["id"] }.join(", ") %></td><% end %>
            <% if false %><td><%= item.severityLV %></td> <% end %>
            <% if false %><td><%= item.foreground %></td><% end %>
            <% if false %><td><%= item.background %></td><% end %>
            <% if false %><td><%= item.x %></td><% end %>
            <% if false %><td><%= item.y %></td><% end %>
            <% if false %><td><%= item.area %></td> <% end %>
            <td><%= item.evaluationItem["tableDataTechniques"] %></td>
            <td><%= item.description %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div> <%# michecker-report__low-vision-result-table %>
<div class="michecker-report__low-vision-image">
  <%= image_tag(url_for(action: "michecker_result", type: "lowvision_source", _: @result.updated.to_i, format: "jpeg"), class: "michecker-report__low-vision-image-source") %>
  <%= image_tag(url_for(action: "michecker_result", type: "lowvision_result", _: @result.updated.to_i, format: "jpeg"), class: "michecker-report__low-vision-image-result") %>
</div>

<script>
  $(document).ready( function () {
    var table = $('#lowvision').DataTable({
      lengthMenu: [ [5, 10, 25, -1], [5, 10, 25, "All"] ],
      scrollY: "300px",
      scrollCollapse: true,
      oLanguage: {
        sLengthMenu : "表示　_MENU_　件",
        oPaginate : {
          sNext : "次へ",
          sPrevious : "前へ"
        },
        sInfo : "_TOTAL_ 件中 _START_件から_END_件 を表示しています",
        sSearch : "検索 ",
        sZeroRecords : "表示するデータがありません",
        sInfoEmpty : "0 件中 0件 を表示しています",
        sInfoFiltered : "全 _MAX_ 件から絞り込み"
      }
    });
    $('a.toggle-vis').on( 'click', function (e) {
      e.preventDefault();
      let column = table.column( $(this).attr('data-column') );
      column.visible( ! column.visible() );
    });
    $('.toggle-vis').click(function(){
      $(this).toggleClass('michecker-inactive');
    });
  });
</script>