<div class="michecker" id="ss-michecker">
  <div class="michecker__main" id="resize">
    <iframe class="michecker__main-content" src="<%= cms_preview_path(path: @item.url[1..-1], "no-controller" => true) %>" frameborder="none"></iframe>
  </div>
  <div class="michecker__footer">
    <div class="michecker-head">
      <h5>miChecker</h5>
      <button type="button" class="btn btn-michecker-start" disabled="disabled" data-href="<%= url_for(action: "michecker_start", format: "json") %>">
        <%= t('cms.cms/michecker.start') %>
      </button>

      <div class="michecker-notice">
        <%= t('cms.cms/michecker.loading') %> <%= loading %>
      </div>
    </div>

    <div class="michecker-report__selector hide">
      <select name="report-type">
        <option value="accessibility" data-href="<%= url_for(action: "michecker_result", type: "accessibility_report", format: "html") %>">
          <%= t('cms.cms/michecker.accessibility') %>
        </option>
        <option value="low-vision" data-href="<%= url_for(action: "michecker_result", type: "lowvision_report", format: "html") %>">
          <%= t('cms.cms/michecker.lowvision') %>
        </option>
      </select>
    </div>

    <div class="michecker-report__accessibility hide">
    </div>

    <div class="michecker-report__low-vision hide">
    </div>
  </div>
</div>
<%= jquery do %>
  var michecker = new Cms_Michecker("#ss-michecker");
  $("#resize").resizable({
    handles: 's'
  });
<% end %>