<%= node_navi do %>

<nav class="sub-menu">
  <header><h1><%= t "modules.faq" %></h1></header>
  <div>
    <%= link_to :"faq.page", faq_pages_path, class: "icon-page" %>
  </div>
  <div class="narrow-page">
    <%= link_to :"workflow.page.ready", faq_index_ready_path, class: "icon-page" %>
    <%= link_to :"workflow.page.closed", faq_index_closed_path, class: "icon-page" %>
  </div>
</nav>

<nav class="sub-menu">
  <header><h1><%= t "workflow.pages" %></h1></header>
  <div>
    <%= link_to :"workflow.page.approve", faq_index_approve_path, class: "icon-page" %>
    <%= link_to :"workflow.page.request", faq_index_request_path, class: "icon-page" %>
  </div>
</nav>

<% end %>
