<div class="gws-facility-usage gws-facility-usage-monthly">
  <%= render 'gws/facility/usage/main/search' %>

  <div class="main-box">
    <div class="wrap-table">
      <table class="index">
        <thead>
        <tr>
          <th rowspan="2" class="name"><%= @model.t :name %></th>
          <th rowspan="2" class="kind"><%= I18n.t('gws/facility.usage.type') %></th>
          <th colspan="<%= @days.count %>" class="days"><%= I18n.t('gws/facility.usage.usage_day') %></th>
        </tr>
        <tr>
          <% @days.each do |day| %>
          <th class="day"><%= day[1] %></th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @items.each do |item| %>
            <tr>
              <td rowspan="2" class="name"><%= item.name %></td>
              <td class="kind"><%= I18n.t('gws/facility.usage.hours') %></td>
              <% @days.each do |day| %>
                <td class="day">
                  <%= format_usage_hours(item, @target_time.year, @target_time.month, day[1]) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td class="kind"><%= I18n.t('gws/facility.usage.times') %></td>
              <% @days.each do |day| %>
                <td class="day">
                  <%= format_usage_count(item, @target_time.year, @target_time.month, day[1]) %>
                </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= paginate @items if @items.try(:current_page) %>
</div>
