<dl class="see mod-feature">
  <dt><%= t("facility.feature.name") %><%= @model.tt :features %></dt>
  <dd class="wide" style="line-height: 2.5">
    <%= f.hidden_field "feature_ids[]", value: "" %>
    <% if @cur_node.present? %>
      <% @cur_node.st_features.each do |cate| %>
        <label>
          <%= f.check_box("feature_ids[]", {}, cate._id) %>
          <%= cate.name %>
        </label>
      <% end %>
    <% end %>
  </dd>
</dl>
