<dl class="see mod-jmaxml-trigger-ash-fall-forecast">
  <dt><%= @model.t :sub_types %><%= @model.tt :sub_types %></dt>
  <dd>
    <%= hidden_field_tag "#{f.object_name}[sub_types][]", '' %>
    <% %w(flash regular detail).each do |sub_type| %>
      <label>
        <%= check_box_tag "#{f.object_name}[sub_types][]", sub_type, @item.sub_types.include?(sub_type), id: "#{f.object_name}_sub_type_#{sub_type}" %>
        <%= I18n.t("jmaxml.options.ash_fall_sub_type.#{sub_type}") %>
      </label>
    <% end %>
  </dd>

  <dt><%= @model.t :target_region_ids %><%= @model.tt :target_region_ids %></dt>
  <dd>
    <%= f.hidden_field "target_region_ids[]", value: "", class: "hidden-ids" %>
    <%= link_to :"jmaxml.apis.forecast_regions.index", jmaxml_apis_forecast_regions_path, class: "ajax-box" %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
      <tr>
        <th class="name"><%= Jmaxml::ForecastRegion.t :name %></th>
        <th style="width: 20%;"></th>
      </tr>
      </thead>
      <tbody>
      <% @item.target_regions.each do |item| %>
        <tr data-id="<%= item.id %>">
          <td><%= f.hidden_field "target_region_ids[]", value: item.id %> <%= item.name %></td>
          <td style="width: 20%;"><%= link_to t("views.button.delete"), "#", class: "deselect btn" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>
