<% use_agent = @ss_mode == :gws && @item.agent_enabled? && @cur_user.gws_role_permit_any?(@cur_site, :agent_all_gws_workflow_files, :agent_private_gws_workflow_files) %>

<% if use_agent %>
  <%= jquery do %>
    $('input[name=agent_type]').on('change', function() {
      var val = $(this).val();
      if (val === "myself") {
        $("dd.agent-type-agent").hide();
      } else {
        $("dd.agent-type-agent").show();
      }
    });

    SS.renderAjaxBox();
  <% end %>
<% end %>

<dl class="see request-setting">
  <% if use_agent %>
    <dt><%= @model.t :workflow_user_id %><%= @model.tt :workflow_user_id %></dt>
    <dd>
      <label><%= radio_button_tag("agent_type", "myself", true) %> <%= t("gws/workflow.agent_type.myself") %></label>
      <label><%= radio_button_tag("agent_type", "agent", false) %> <%= t("gws/workflow.agent_type.agent") %></label>
    </dd>
    <dd class="agent-type-agent" style="display: none;">
      <%= hidden_field_tag "workflow_delegatees", "", class: "hidden-ids", id: nil %>
      <%= link_to t("gws/workflow.search_delegatees.index"), gws_workflow_apis_delegatees_path(single: 1), class: "btn ajax-box" %>
    </dd>
    <dd class="agent-type-agent" style="display: none;">
      <table class="index ajax-selected" style="display: none;">
        <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
        <tbody>
        </tbody>
      </table>
    </dd>
  <% end %>
  <% if @ss_mode == :cms && @item.workflow_init_kind.present? %>
    <dt><%= @model.t :workflow_kind %><%= @model.tt :workflow_kind %></dt>
    <dd>
      <%= t("workflow.options.kind.#{@item.workflow_init_kind}") %>
      <%= hidden_field_tag "workflow_kind", @item.workflow_init_kind %>
    </dd>
  <% end %>
  <dt><%= @model.t :workflow_comment %><%= @model.tt :workflow_comment %></dt>
  <dd><%= text_area :workflow, :comment, value: @item.workflow_comment %></dd>
</dl>
<dl class="see request-setting">
  <dd>
    <div class="buttons">
      <%= button_tag t("workflow.buttons.restart"), { updatetype: :restart, class: "update-item btn-primary", data: { disable: '' } } %>
      <%= button_tag t("workflow.buttons.cancel"), { class: "workflow-route-cancel btn-default" } %>
    </div>
  </dd>
</dl>
