<%

level = 1

if @ss_mode == :cms
  def groups_path; cms_apis_groups_path; end
  def approvers_path(*args); workflow_search_approvers_path(*args); end
else
  def groups_path; gws_apis_groups_path; end
  def approvers_path(*args); gws_workflow_search_approvers_path(*args); end
end

use_agent = @ss_mode == :gws && @item.agent_enabled? && @cur_user.gws_role_permit_any?(@cur_site, :agent_all_gws_workflow_files, :agent_private_gws_workflow_files)

if @ss_mode == :cms
  approver_ids = Cms::User.site(@cur_site).select do |user|
    @item.allowed?(:approve, user, site: @cur_site)
  end.pluck(:id)
end

%>
<%= jquery do %>
  $(".ajax-box").each(function () {
    var elem = $(this);
    if (elem.hasClass("cboxElement")) {
      return true;
    }
    if (!elem.attr("target") && !elem.data("target")) {
      return elem.colorbox({
        fixed: true,
        width: "90%",
        height: "90%"
      });
    }
  });
  $(".mod-workflow-request").on("click", ".btn.deselect", SS_SearchUI.deselect);

  <% if use_agent %>
  $('input[name=agent_type]').on('change', function() {
    var val = $(this).val();
    if (val === "myself") {
      $("dd.agent-type-agent").hide();
    } else {
      $("dd.agent-type-agent").show();
    }
  });
  <% end %>
<% end %>

<% if use_agent %>
<dl class="see request-setting">
  <dt><%= @model.t :workflow_user_id %><%= @model.tt :workflow_user_id %></dt>
  <dd>
    <label><%= radio_button_tag("agent_type", "myself", true) %> <%= t("gws/workflow.agent_type.myself") %></label>
    <label><%= radio_button_tag("agent_type", "agent", false) %> <%= t("gws/workflow.agent_type.agent") %></label>
  </dd>
  <dd class="agent-type-agent" style="display: none;">
    <%= hidden_field_tag "workflow_delegatees", "", class: "hidden-ids", id: nil %>
    <%= link_to t("gws/workflow.search_delegatees.index"), gws_workflow_apis_delegatees_path(single: 1), class: "btn ajax-box" %>
  </dd>
  <dd class="agent-type-agent" style="display: none;">
    <table class="index ajax-selected" style="display: none;">
      <thead><tr><th class="name"><%= Gws::User.t :name %></th><th class="deselect"></th></tr></thead>
      <tbody>
      </tbody>
    </table>
  </dd>
</dl>
<% end %>
<dl class="see request-setting">
  <% if @ss_mode == :cms && @item.workflow_init_kind.present? %>
    <dt><%= @model.t :workflow_kind %><%= @model.tt :workflow_kind %></dt>
    <dd>
      <%= t("workflow.options.kind.#{@item.workflow_init_kind}") %>
      <%= hidden_field_tag "workflow_kind", @item.workflow_init_kind %>
    </dd>
  <% end %>
  <dt><%= @model.t :workflow_comment %><%= @model.tt :workflow_comment %></dt>
  <dd><%= text_area :workflow, :comment, value: @item.workflow_comment %></dd>
  <dt><%= @model.t :workflow_approvers %><%= @model.tt :workflow_approvers %></dt>
  <dd>
    <%= hidden_field_tag "workflow_required_counts", false %>
    <%= link_to t("workflow.search_approvers.index"), approvers_path(level: level, approver_ids: approver_ids), class: "btn ajax-box approvers", "data-template" => "approver-template" %>
  </dd>
  <dd>
    <table class="index ajax-selected approvers" style="display: none;">
      <thead>
        <tr>
          <th class="name"><%= @model.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script id="approver-template" type="text/x-ejs">
      <tr data-id="<%%= data.id %>">
        <td>
          <input type="hidden" name="workflow_approvers" value="<%%= data.id %>,,pending,">
          <%%= data.name %>
        </td>
        <td><a class="deselect btn" href="#"><%= I18n.t "ss.buttons.delete" %></a></td>
      </tr>
    </script>
  </dd>
</dl>
<% if @ss_mode == :gws %>
<dl class="see request-setting">
  <dt><%= @model.t :workflow_circulations %><%= @model.tt :workflow_circulations %></dt>
  <dd>
    <%= link_to t("workflow.search_circulations.index"), approvers_path(level: "circulation#{level}"), class: "btn ajax-box circulations", "data-template" => "circulation-template" %>
  </dd>
  <dd>
    <table class="index ajax-selected circulations" style="display: none;">
      <thead>
        <tr>
          <th class="name"><%= @model.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script id="circulation-template" type="text/x-ejs">
      <tr data-id="<%%= data.id %>">
        <td>
          <input type="hidden" name="workflow_circulations" value="<%= level %>,<%%= data.id.split(',')[1] %>,pending,">
          <%%= data.name %>
        </td>
        <td><a class="deselect btn" href="#"><%= I18n.t "ss.buttons.delete" %></a></td>
      </tr>
    </script>
  </dd>
</dl>
<% end %>
<dl class="see request-setting">
  <dd>
    <div class="buttons">
      <%= button_tag t("workflow.buttons.request"), { updatetype: :request, class: "update-item btn-primary", data: { disable: '' } } %>
      <% if local_assigns.fetch(:cancel_button, true) %>
        <%# プレビューからの承認時、選択可能なルートが 2 個以上（複数）ある場合にのみ取り消すことができる。 %>
        <%# それ以外では常に取り消すことができる。 %>
        <%= button_tag t("workflow.buttons.cancel"), { class: "workflow-route-cancel btn-default" } %>
      <% end %>
    </div>
    <div class="checkbox">
      <label>
        <% force = @cur_site.forced_update rescue nil %>
        <% if force == "disabled" %>
        <%= check_box_tag 'forced-request', true, true, class: 'forced' %><%= t("errors.messages.forced_update") %>
        <% else %>
        <%= check_box_tag 'forced-request', true, false, class: 'forced' %><%= t("errors.messages.forced_update") %>
        <% end %>
      </label>
    </div>
  </dd>
</dl>
