<dl class="see request-setting">
  <dt><%= @model.t :workflow_comment %><%= @model.tt :workflow_comment %></dt>
  <dd><%= text_area :workflow, :comment, value: @item.workflow_comment %></dd>
</dl>
<dl class="see request-setting">
  <dd>
    <div class="buttons">
      <%= button_tag t("workflow.buttons.restart"), {updatetype: :restart, class: "update-item btn-primary"} %>
      <%= button_tag t("workflow.buttons.cancel"), {class: "workflow-route-cacnel btn-default"} %>
    </div>
  </dd>
</dl>
