<%= form_for :item, url: { action: :resize }, html: { id: "item-form", method: :post, multipart: true, autocomplete: :off } do |f| %>
  <%= error_messages_for :item %>

  <div class="addon-views">
    <div class="addon-view mb-5" id="addon-basic">
      <div class="addon-body">
        <dl class="see">
          <dt><%= @model.t :resizing %><%= @model.tt :resizing %></dt>
          <dd><%= f.select :resizing, @model.resizing_options, { include_blank: t("ss.resize_image") }, { class: "image-size" } %></dd>
        </dl>
      </div>
    </div>
  </div>

  <footer class="send">
    <%= f.submit t("ss.buttons.save"), class: 'btn-primary save' %>
    <%= f.button t("ss.buttons.cancel"), class: 'btn-default', type: :reset, onclick: "location.href='#{url_for(action: :show)}'; return false;" %>
  </footer>
<% end %>

<%= jquery do %> SS.confirmUnloading(); <% end %>
