<%= coffee do %>
$ ->
  SS_ListUI.render("table.index")
  $("table.index").each ->
    table = $(this)
    thead = table.find("thead")
    tbody = table.find("tbody")

    tbody.find("tr").each ->
      tr = $(this)
      tr.find("input[type=checkbox]:enabled").off()
      tr.find("input[type=checkbox]:enabled").change ->
        if tbody.find("input[type=checkbox]:enabled").length == tbody.find("input[type=checkbox]:checked:enabled").length
          $(thead).find("input[type=checkbox]:enabled").prop("checked", true)
        else
          $(thead).find("input[type=checkbox]:enabled").prop("checked", false)
    thead.find("input[type=checkbox]:enabled").off()
    thead.find("input[type=checkbox]:enabled").change ->
      for chkbox in tbody.find("input[type=checkbox]:enabled")
        chkbox.checked = @checked
<% end %>

<dl class="see">
  <dt class="wide">
    <%= t("cms.search.page") %>
    <span style="float: right;"><%= t("cms.search.result") %><%= @pages.size %>件</span>
  </dt>
  <dd style="margin: 0px 0px 0px 40px; padding: 10px 0px;">
    <table class="index">
      <thead>
        <tr>
          <th class="checkbox">
            <input type="checkbox" />
          </th>
          <th><%= t("cms.search.name") %></th>
          <th><%= t("cms.search.url") %></th>
        </tr>
      </thead>
      <tbody>
      <% @pages.each do |item| %>
        <% readable = item.becomes_with_route.allowed?(:edit, @cur_user, site: @cur_site) %>
        <% editable = item.becomes_with_route.allowed?(:read, @cur_user, site: @cur_site) %>
        <tr>
          <td class="checkbox">
            <%= check_box_tag("page_ids[]", item.id, false, (editable ? {} : { disabled: true })) %>
          </td>
          <% if readable %>
            <td><%= link_to item.name, show_path_with_route(item), target: "_blank" %></td>
          <% else %>
            <td><%= item.name %></td>
          <% end %>
          <td><%= link_to item.filename, "#{@cur_site.full_url}#{item.filename}", target: "_blank" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt class="wide">
    <%= t("cms.search.part") %>
    <span style="float: right;"><%= t("cms.search.result") %><%= @parts.size %>件</span>
  </dt>
  <dd style="margin: 0px 0px 0px 40px; padding: 10px 0px;">
    <table class="index">
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" /></th>
          <th><%= t("cms.search.name") %></th>
          <th><%= t("cms.search.url") %></th>
        </tr>
      </thead>
      <tbody>
      <% @parts.each do |item| %>
        <% readable = item.allowed?(:edit, @cur_user, site: @cur_site) %>
        <% editable = item.allowed?(:read, @cur_user, site: @cur_site) %>
        <tr>
          <td class="checkbox">
            <%= check_box_tag("part_ids[]", item.id, false, (editable ? {} : { disabled: true })) %>
          </td>
          <% if readable %>
            <td><%= link_to item.name, show_path_with_route(item), target: "_blank" %></td>
          <% else %>
            <td><%= item.name %></td>
          <% end %>
          <td><%= link_to item.filename, "#{@cur_site.full_url}#{item.filename}", target: "_blank" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>

  <dt class="wide">
    <%= t("cms.search.layout") %>
    <span style="float: right;"><%= t("cms.search.result") %><%= @layouts.size %>件</span>
  </dt>
  <dd style="margin: 0px 0px 0px 40px; padding: 10px 0px;">
    <table class="index">
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" /></th>
          <th><%= t("cms.search.name") %></th>
          <th><%= t("cms.search.url") %></th>
        </tr>
      </thead>
      <tbody>
      <% @layouts.each do |item| %>
        <% readable = item.allowed?(:edit, @cur_user, site: @cur_site) %>
        <% editable = item.allowed?(:read, @cur_user, site: @cur_site) %>
        <tr>
          <td class="checkbox">
            <%= check_box_tag("layout_ids[]", item.id, false, (editable ? {} : { disabled: true })) %>
          </td>
          <% if readable %>
            <td><%= link_to item.name, show_path_with_route(item), target: "_blank" %></td>
          <% else %>
            <td><%= item.name %></td>
          <% end %>
          <td><%= link_to item.filename, "#{@cur_site.full_url}#{item.filename}", target: "_blank" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </dd>
</dl>

