<%
  addon ||= local_assigns.fetch(:addon, {})
  addon[:display_body] = "hide"

  if params[:action] =~ /new/ && @cur_group
    @cur_group.cms_group.tap do |group|
      @item.contact_group = group
      @item.contact_charge = group.contact_group_name
      @item.contact_tel = group.contact_tel
      @item.contact_fax = group.contact_fax
      if @cur_site.inquiry_form.blank?
        @item.contact_email = group.contact_email
      end
      @item.contact_link_url = group.contact_link_url
      @item.contact_link_name = group.contact_link_name
    end
  end
%>

<dl class="see mod-contact-page">
  <dt><%= @model.t :contact_state %><%= @model.tt :contact_state %></dt>
  <dd><%= f.select :contact_state, @item.contact_state_options %></dd>

  <dt><%= @model.t :contact_group_id %><%= @model.tt :contact_group_id %></dt>
  <dd>
    <%= f.hidden_field "contact_group_id", value: "", id: nil, class: "hidden-ids" %>
    <%= f.hidden_field "contact_group_contact_id", value: "", id: nil, class: "hidden-ids" %>
    <%= link_to t("contact.apis.contacts.index"), contact_apis_contacts_path(single: true), class: "ajax-box", data: { template: "#{addon[:id]}-template" } %>
  </dd>
  <dd>
    <table class="index ajax-selected">
      <thead>
        <tr>
          <th class="name"><%= Cms::Group.t :name %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @item.contact_group.try do |group| %>
          <tr data-id="<%= group.id %>">
            <td>
              <%= f.hidden_field "contact_group_id", value: group.id, id: nil %>
              <%= f.hidden_field "contact_group_contact_id", value: @item.contact_group_contact_id, id: nil %>
              <%= group.section_name %>
            </td>
            <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= tag.script id: "#{addon[:id]}-template", type: "text/ejs" do %>
      <tr data-id="<%= ejs_template("data.id") %>">
        <td>
          <%= f.hidden_field "contact_group_id", value: ejs_template("data.groupId"), id: nil %>
          <%= f.hidden_field "contact_group_contact_id", value: ejs_template("data.contactId"), id: nil %>
          <%= ejs_template("data.sectionName") %>
        </td>
        <td><%= link_to t("ss.buttons.delete"), "#", class: "deselect btn" %></td>
      </tr>
    <% end %>
  </dd>

  <dt><%= @model.t :contact_group_relation %><%= @model.tt :contact_group_relation %></dt>
  <dd><%= f.select :contact_group_relation, @item.contact_group_relation_options, include_blank: true %></dd>

  <dt><%= @model.t :contact_charge %><%= @model.tt :contact_charge %></dt>
  <dd><%= f.text_field :contact_charge %></dd>

  <dt><%= @model.t :contact_tel %><%= @model.tt :contact_tel %></dt>
  <dd><%= f.text_field :contact_tel %></dd>

  <dt><%= @model.t :contact_fax %><%= @model.tt :contact_fax %></dt>
  <dd><%= f.text_field :contact_fax %></dd>

  <dt><%= @model.t :contact_email %><%= @model.tt :contact_email %></dt>
  <dd><%= f.text_field :contact_email %></dd>

  <dt><%= @model.t :contact_link_url %><%= @model.tt :contact_link_url %></dt>
  <dd><%= f.text_field :contact_link_url %></dd>

  <dt><%= @model.t :contact_link_name %><%= @model.tt :contact_link_name %></dt>
  <dd><%= f.text_field :contact_link_name %></dd>
</dl>

<%= jquery do %>
  var $el = $("#<%= addon[:id] %>");
  $el.find(".ajax-box").data("on-select", function($item) {
    SS_SearchUI.defaultSelector($item);

    var $data = $item.closest("[data-id]");
    var groupName = $data.data("contact-group-name");
    var tel = $data.data("contact-tel");
    var fax = $data.data("contact-fax");
    <% if @cur_site.inquiry_form.blank? %>
      var email = $data.data("contact-email");
    <% end %>
    var linkUrl = $data.data("contact-link-url");
    var linkName = $data.data("contact-link-name");

    $el.find('[name="item[contact_charge]"]').val(groupName || '');
    $el.find('[name="item[contact_tel]"]').val(tel || '');
    $el.find('[name="item[contact_fax]"]').val(fax || '');
    <% if @cur_site.inquiry_form.blank? %>
      $el.find('[name="item[contact_email]"]').val(email || '');
    <% end %>
    $el.find('[name="item[contact_link_url]"]').val(linkUrl || '');
    $el.find('[name="item[contact_link_name]"]').val(linkName || '');
  });
<% end %>
