<%
  items = @portlet.find_bookmark_items(@portal, @cur_user)
%>

<div class="main-box">
  <div class="portlet-title"><%= @portlet.name %></div>

  <ul class="list-items">
    <% items.each do |item| %>
      <li class="list-item">
        <div class="info">
          <%= link_to item.name, item.url, class: 'title' %>
          <div class="meta">
            <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
            <% if @portlet.bookmark_model.blank? %>
              <span class="bookmark_model"><%= item.label(:bookmark_model) %></span>
            <% end %>
          </div>
        </div>
        <div class="links">
          <div class="ss-dropdown ss-dropdown-toggle">
            <a class="more-btn">
              <i class="material-icons md-dark">&#xE5D4;</i>
            </a>
            <ul class="ss-dropdown-menu ss-dropdown-menu--top-right ss-dropdown-menu--white">
              <li><%= link_to t('ss.links.show'), gws_bookmark_path(id: item), class: 'ss-dropdown-menu-item' %></li>
            </ul>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <% if items.next_page && @portal.my_portal? %>
  <div class="list-more"><%= link_to I18n.t("ss.links.more"), gws_bookmarks_path %></div>
  <% end %>
</div>
