<%= render template: "_search" %>

<table class="index">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th class="text"><%= @model.t :text %></th>
      <th class="member_name"><%= @model.t :member_name %></th>
      <th class="state"><%= @model.t :state %></th>
      <th class="datetime"><%= @model.t :updated %></th>
      <th class="datetime"><%= @model.t :deleted %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="tap-menu">
          <%= link_to t('ss.links.show'), { action: :show, id: item } %>
          <%= link_to t('ss.links.delete'), { action: :delete, id: item } %>
        </nav>
      </td>
      <td class="text"><%= link_to item.text, { action: :show, id: item } %></td>
      <td class="member_name"><%= item.get_member_name %></td>
      <td class="member_name"><%= item.label :status %></td>
      <td class="datetime"><%= ss_time_tag item.created %></td>
      <td class="datetime">
        <% if item.comment_deleted.present? %>
        <%= ss_time_tag item.comment_deleted %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
