<%= render file: "_search" %>

<table class="index">
  <thead>
    <tr>
      <th class="checkbox"><input type="checkbox" /></th>
      <th class="text"><%= @model.t :text %></th>
      <td class="member_name"><%= @model.t :member_name %></td>
      <th class="datetime"><%= @model.t :updated %></th>
      <th class="datetime"><%= @model.t :deleted %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td class="checkbox">
        <input type="checkbox" name="ids[]" value="<%= item.id %>" />
        <nav class="tap-menu">
          <%= link_to :show, { action: :show, id: item } %>
          <%= link_to :delete, { action: :delete, id: item } %>
        </nav>
      </td>
      <td class="text"><%= link_to item.text, { action: :show, id: item } %></td>
      <td class="member_name">
        <% if item.member %>
        <%= item.member.name %>
        <% elsif item.contact_group %>
        <%= item.contact_group.send :full_name %>
        <% elsif item.user.groups %>
        <%= item.user.groups.first.send :name %>
        <% else %>
        <%= "ゲストユーザー" %>
        <% end %>
      </td>
      <td class="datetime"><%= item.created.strftime("%Y/%m/%d %H:%M") %></td>
      <td class="datetime">
        <% if item.comment_deleted.present? %>
        <%= item.comment_deleted.strftime("%Y/%m/%d %H:%M") %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items if @items.try(:current_page) %>
