<%
licenses = Opendata::License.site(@cur_site).public.sort(order: 1).map { |c| [c.name, c.id] }
%>
<%= javascript_include_tag "opendata/form" %>

<dl class="see">

  <dt><%= @model.t :original_url %><%= required_label %></dt>
  <dd><%= f.url_field :original_url %></dd>

  <dt><%= @model.t :name %><%= required_label %></dt>
  <dd><%= f.text_field :name %></dd>

  <dt><%= @model.t :license_id %><%= required_label %></dt>
  <dd><%= f.select :license_id, licenses, include_blank: "" %></dd>

  <dt><%= @model.t :text %><%= @model.tt :text %></dt>
  <dd><%= f.text_area :text %></dd>

  <dt class="in_tsv"><%= @model.t :tsv_id %><%= @model.tt :tsv_id %></dt>

  <% if @item.tsv_id %>
  <dd class="in_tsv"><label><%= f.check_box :rm_tsv %><%= t "views.button.delete" %> (<%= @item.tsv.filename %>)</label></dd>
  <% end %>
</dl>
