<div class="index">
  <%= render file: "_list_head" %>

  <ul class="list-items">
    <% if @cur_node.filename != @item.filename %>
      <li class="list-item">
        <div class="info">
          <%= link_to :parent_directory, { action: :show, filename: @item.dirname }, class: "list-item-up" %>
        </div>
      </li>
    <% end %>

    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <%= link_to :show, action: :show, filename: item.filename, do: :show if @cur_node.allowed?(:read, @cur_user, site: @cur_site) %>
        <%= link_to :edit, action: :show, filename: item.filename, do: :edit if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
        <%= link_to :delete, action: :show, filename: item.filename, do: :delete if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
      </nav>

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.name %>" /></label>
      <div class="info">
        <% if item.directory? %>
        <%= link_to item.name, { action: :show, filename: item.filename }, class: "list-item-title dir" %>
        <% else %>
        <%= link_to item.name, { action: :show, filename: item.filename, do: :show }, class: "list-item-title file" %>
        <% end %>

        <div class="list-item-meta">
          <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
          <span class="filename"><%= item.name %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
