<div class="index">
  <%= render template: "_list_head" %>

  <ul class="list-items">
    <% if @cur_node.filename != @item.filename %>
      <li class="list-item">
        <div class="info">
          <%= link_to t('ss.links.parent_directory'), { action: :file, filename: @item.dirname }, class: "up" %>
        </div>
      </li>
    <% end %>

    <% @items.each do |item| %>
    <li class="list-item">
      <nav class="tap-menu">
        <%= link_to t('ss.links.show'), action: :file, filename: item.filename, do: :show if @cur_node.allowed?(:read, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.edit'), action: :file, filename: item.filename, do: :edit if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
        <%= link_to t('ss.links.delete'), action: :file, filename: item.filename, do: :delete if @cur_node.allowed?(:edit, @cur_user, site: @cur_site) %>
      </nav>

      <label class="check"><input type="checkbox" name="ids[]" value="<%= item.name %>"></label>
      <div class="info">
        <% if item.directory? %>
          <%= link_to item.name, { action: :file, filename: item.filename }, class: "list-item-title dir" %>
        <% else %>
          <%= link_to item.name, { action: :file, filename: item.filename, do: :show }, class: "list-item-title file" %>
        <% end %>

        <div class="list-item-meta">
          <span class="datetime"><%= ss_time_tag item.updated %></span>
          <span class="filename"><%= item.name %></span>
          <%= sanitizer_status(item) %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
