<%= code_editor "#mod-uploader-text", filename: @item.filename, readonly: true %>

<div class="addon-view">
  <dl class="see">
    <dt><%= @model.t :filename %></dt>
    <dd><%= @item.filename %></dd>

    <% if !@item.directory? %>
      <dt><%= @model.t :size %></dt>
      <dd><%= @item.size %></dd>

      <% if @item.image? %>
      <dt><%= @model.t :image %></dt>
      <dd><%= image_tag @item.link %></dd>
      <% end %>

      <% if @item.text? %>
      <% begin %>
      <dt class="wide"><%= @model.t :text %></dt>
      <dd class="wide"><%= text_area_tag "mod-uploader-text", @item.text %></dd>
      <% rescue => e %>Error (<%= e %>)<% end %>
      <% end %>
    <% end %>
  </dl>
</div>