<nav class="act-menu">
  <% if params[:action] == "index" %>
    <% if @keyword.blank? %>
      <%= link_to :download, action: :download %>
    <% else %>
      <%= link_to :download, action: :download, "s[keyword]" => @keyword %>
    <% end %>
  <% elsif params[:action] =~ /new|create/ %>
    <%= link_to :back_to_index, action: :index %>
  <% elsif params[:action] =~ /edit|update|delete/ %>
    <% if @item.allowed?(:read, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :back_to_show, action: :show, id: @item %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% else %>
    <% if @item.allowed?(:delete, @cur_user, site: @cur_site, node: @cur_node) %>
      <%= link_to :delete, action: :delete, id: @item %>
    <% end %>
    <%= link_to :back_to_index, action: :index %>
  <% end %>
</nav>

<% if params[:action] =~ /show|new|edit|create|update/ %>
<%= render file: "_addons_menu" %>
<% end %>
