<div class="index">
  <div class="list-head">
    <%= render template: "_search" %>
  </div>

  <ul class="list-items">
    <% @items.each do |item| %>
    <li class="list-item">
      <div class="info">
        <%= link_to item.name, { action: :show, id: item }, class: "title" %>
        <div class="meta">
          <span class="datetime"><%= ss_time_tag item.updated %></span>
          <span class="filename"><%= item.email %></span>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<%= paginate @items if @items.try(:current_page) %>
